{% include "@components/header-prototypes/header-police.twig" %}
{% include "@components/navigation-prototypes/navbar-police.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-10 large-10">
                <table class="stack">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Date/Time</th>
                            <th>Location</th>
                            <th>Open to</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a>Safety Course 1</a></td>
                            <td>September 3, 2022 2:00pm to 3:00pm</td>
                            <td>Online - Zoom (<a>Register</a>)</td>
                            <td>Everyone</td>
                        </tr>
                        <tr>
                            <td><a>Safety Course 2</a></td>
                            <td>September 13, 2022 1:00pm to 2:00pm</td>
                            <td>Online - Teams (<a>Join</a>)</td>
                            <td>Everyone</td>
                        </tr>
                        <tr>
                            <td><a>Safety Course 3</a></td>
                            <td>September 26, 2022 12:00pm to 1:00pm</td>
                            <td>Briscoe Library - Main Campus</td>
                            <td>Employees/Students/Faculty</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}