{% include "@components/header-prototypes/header-SOD.twig" %}
<section class="hero bleed img-fill full">
  <img src="https://source.unsplash.com/1500x750/?nature,water" alt="nature">
  <div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
          <h1>Research at School of Dentistry</h1>
          <p>Get more information and timely updates on how we're responding to the 2019 novel coronavirus.</p>
          <p><a class="button">COVID-19 Updates</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SOD.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x align-top">
        <main class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
            <a class="card cell flex-child-auto">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Dental Material & Bioengineering</h4>
                    <p>Researchers within the School of Dentistry's labs are behind numerous patents and research advances that have led to the creation of new types of dental materials.</p>
                </div>
            </a></div>
            <div class="cell large-6 medium-6 small-12 flex-container">
            <a class="card cell flex-child-auto">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Diabetes & Oral Health</h4>
                    <p>Diabetes continues to be a major concern in oral health care. Oral complications with diabetes can include dry mouth, dental caries, candidiasis, periodontal disease and tooth loss.</p>
                </div>
            </a></div>
            <div class="cell large-6 medium-6 small-12 flex-container">
            <a class="card cell flex-child-auto">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Oral Cancer</h4>
                    <p>Oral cancers are common, with approximately 400,000 new cases and 200,000 deaths worldwide in 2013.</p>
                </div>
            </a></div>
            <div class="cell large-6 medium-6 small-12 flex-container">
            <a class="card cell flex-child-auto">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Pain</h4>
                    <p>Research is an important activity in the Department of Endodontics. Although our funded projects cover diverse topics, much of our efforts emphasize translational and basic science research projects that evaluate pain mechanisms.</p>
                </div>
            </a></div>
        </div>

</main>

  <aside class="cell large-4 medium-4 small-12">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li><a href="#">Dental Research Home</a></li>
  <li>
    <a href="#">Research Topics</a>
    <ul class="nested vertical menu">
      <li><a href="#">Dental Material & Bioengineering</a></li>
      <li><a href="#">Diabetes & Oral Health</a></li>
      <li><a href="#">Oral Cancer</a></li>
      <li><a href="#">Pain</a></li>
      <li><a href="#">Other Research Initiatives</a></li>
    </ul>
  </li>
  <li><a href="#">Researchers</a></li>
  <li><a href="#">Clinical Trials</a></li>
</ul>

<div class="callout light-beige">
<h4>Other research initiatives</h4>
<ul>
<li><a href="#">Cariology Research Program</a></li>
<li><a href="#">Dental and craniofacial development & oral health</a></li>
<li><a href="#">Dry mouth and salivary gland dysfunction</a></li>
<li><a href="#">Regenerative endodontics: Saving teeth with stem cells</a></li>
<li><a href="#">South Texas Border Health Initiatives</a></li>
<li><a href="#">Critically Appraised Topics (CATs)</a></li>
<li><a href="#">Dental public health education and workforce</a></li>
<li><a href="#">Faculty Development Program: Training in educational research</a></li>
<li><a href="#">Reliable source of potent stem cells</a></li>
<li><a href="#">Utilizing practice-based and community-based research for oral health improvement</a></li></div>

            </aside>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>