{% include "@components/header-prototypes/header-ADRC.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">

                <h1>Make a gift</h1>
                <p>The South Texas Alzheimer’s Disease Research Center is funded by the National Institutes of Health and supports a variety of scientific research relating to Alzheimer’s disease.</p>
                <p>If you wish to make a donation to one of the AAC’s member institutions in support of our scientific, clinical or educational goals, contact Jane Doe at (000) 000-0000.</p>
			</div>
      <div class="cell large-5 medium-5 small-12">
        
      </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-ADRC.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
        <blockquote>
				<p>“Alzheimer´s disease takes a higher toll among Hispanics, and through the partnership with the team in San Antonio and the network of other ADRCs, we will be positioned to make discoveries needed to change the trajectory of pain caused by the disease.”</p>
				<cite>Gladys M. Maestre, MD, PhD<br>South Texas Alzheimer’s Disease Research Center Co-director and professor at The University of Texas Rio Grande Valley</cite>
			</blockquote>
    </main>
   
     

  </div>
</section>

{% include "@components/footer-prototypes/ADRC-footer.twig" %}