
{% include "@components/header-prototypes/header-UTP.twig" %}
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-8 small-12">
                <h1>Cranial Remolding Therapy</h1>
                <p class="subheader">Cranial Remolding Program</p>
                <p class="light"><strong>Related to:</strong> Cranial remolding helmets, Cranial remolding orthosis, Head shape abnormality treatment, Post-Operative cranial synostosis, Flat head syndrome treatment, Brachycephaly treatment, Scaphocephaly treatment, Deformational plagiocephaly treatment, Plagiocepahly, Head shape evaluation</p>
                <img class="img-margin" src="https://www.uthscsa.edu/sites/default/files/4R9A9640-Edit.jpg" alt="">
                <p>The UT Health Cranial Remolding Program provides the only full-time, dedicated team for cranial remolding therapy in the San Antonio area.</p>
                <p>UT Health's Cranial Remolding Program specializes in the comprehensive evaluation and treatment of head shape abnormalities in infants. These deformities are relatively common and highly treatable with early intervention and expert management. Physicians, neurosurgeons, plastic surgeons and physical therapists from across San Antonio and South Texas utilize our program for our unmatched experience, expertise, technology and exceptional patient care.</p>
                <p>Roughly 20 percent of children develop some kind of head shape abnormality during infancy. Often, head shape abnormalities are attributed to conditions like plagiocephaly and craniosynostosis. Cranial molding therapy is often recommended for moderate to severe cases to correct these abnormalities and ensure proper head growth.</p>
                <p>When an infant is referred to us by their physician, we evaluate their head shape using an FDA-approved, state-of-the-art STARscanner. This eye-safe laser allows us to safely and painlessly scan an infant’s head in less than two seconds. The STARscanner provides detailed data that helps us determine the best approach to treatment. It is also used to document changes in the shape of an infant’s head over the course of their specific treatment plan.</p>
                <p>Once the scans are evaluated and a customized treatment plan is established, the infant will be fitted with a <a>STARband Cranial Remolding Orthotic Helmet</a>. These Cranial Remolding Orthoses guide and promote growth to specific areas while inhibiting it in others. For patients with plagiocephaly, the STARband Cranial Remolding Orthoses is worn 23 hours a day for an average of three to five months (depending on their age and the severity of their condition). For patients with craniosynostosis, a treatment plan will require them to wear a Post-Operative Cranial Remolding Orthoses following their surgery. The exact parameters of the treatment plan will be dependent on the patient’s needs as well as the severity of their condition.</p>

                <div class="tab-container">
                  <ul class="tabs manila" data-tabs id="example-tabs">
                    <li class="tabs-title is-active"><a href="#panel13" aria-selected="true">Symptoms</a></li>
                    <li class="tabs-title"><a data-tabs-target="panel14" href="#panel14">Diagnosis</a></li>
                    <li class="tabs-title"><a data-tabs-target="panel15" href="#panel15">Treatment</a></li>
                    <li class="tabs-title"><a data-tabs-target="panel16" href="#panel17">Causes</a></li>
                    <li class="tabs-title"><a data-tabs-target="panel17" href="#panel17">Related Conditions</a></li>
                  </ul>

                  <div class="tabs-content" data-tabs-content="example-tabs">
                    <div class="tabs-panel is-active" id="panel13">
                      <h2 class="color">Symptoms</h2>
                      <p>Dementia is a group of brain disorders resulting in memory loss, difficulty in communicating, concentrating and making decisions. Alzheimer’s disease is the most common type of dementia where brain cells degenerate, causing a steady decline in memory and mental function.</p>
                      <p>As symptoms of dementia, like memory loss, can be related to normal aging or linked to other medical conditions, it is important to see a doctor for diagnosis.</p>
                      <ul>
                        <li>Persisting and worsening memory loss</li>
                        <li>Difficulty thinking and concentrating</li>
                        <li>Difficulty making decisions, responding appropriately to everyday situations</li>
                        <li>Familiar or routine activities become difficult to remember or complete</li>
                        <li>Changes in personality and behavior</li>
                          <ul>
                            <li>Depression</li>
                            <li>Mood swings, irritability and loss of inhibitions</li>
                            <li>Changes in sleep habits</li>
                            <li>Delusions</li>
                          </ul>
                        </li>
                      </ul>

                    </div>
                    <div class="tabs-panel" id="panel14">
                      <h2 class="color">Diagnosis</h2>
                      <p>Since there currently is not a single test to diagnose Alzheimer’s, a careful medical evaluation is needed. During this evaluation, your physician will also test for other conditions that may cause dementia like symptoms like depression, thyroid problem or a vitamin B12 deficiency among other conditions.</p>

                      <p>During this assessment, your provider will:</p>
                      <ul>
                        <li>Review your medical history</li>
                        <li>Physical exam</li>
                        <li>Neurological testing</li>
                        <li>Psychiatric evaluation</li>
                        <li>Cognitive and neuropsychological tests</li>
                        <li>Genetic testing</li>
                        <li>Laboratory testing</li>
                        <li>Brain imaging</li>
                      </ul>
                    </div>
                    <div class="tabs-panel" id="panel15">
                      <h2 class="color">Treatment</h2>
                      <p>Currently, there is no cure for Alzheimer’s, but new treatments are available to slow the progression of the symptoms. Leading the discovery to develop a cure, prevention and reverse the effects of the disease, researchers at UT Health San Antonio are offering clinical studies to develop advanced treatments.</p>

                      <p>Participating in clinical trials, not only gives you access to the latest treatments, but also gives you the opportunity to be a part of the research and discovery to make lives better. </p>
                    </div>
                    <div class="tabs-panel" id="panel16">
                      <h2 class="color">Causes</h2>
                      <ul>
                        <li>Age. Risk increases greatly after the age of 65. Early-onset Alzheimer’s symptoms can begin in the 30s.</li>
                        <li>First-degree relatives with the disease</li>
                        <li>Down syndrome</li>
                        <li>Being a female</li>
                        <li>Mild cognitive impairment</li>
                        <li> Severe head trauma</li>
                        <li> Heart health</li>
                        <li>Lifestyle</li>
                        <li>Lack of education and social activities</li>
                      </ul>
                    </div>
                    <div class="tabs-panel" id="panel17">
                      <div class="grid-x">
                        <div class="cell large-6 medium-6 small-12">
                          <div class="lines">
                            <ul>
                              <li><a>Anxiety</a></li>
                              <li><a>Alzheimer's Disease</a></li>
                              <li><a>Dementia</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="cell large-6 medium-6 small-12">
                          <div class="lines">
                            <ul>
                              <li><a>Depression</a></li>
                              <li><a>Eating Disorders</a></li>
                              <li><a>Bipolar Disorder</a></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
 
            </main>
            <aside class="cell large-4 medium-4 small-12">
                <div class="callout outline">
                    <h2>Appointments</h2>
                    <!--<p>Appoinments are by physician referral. Call <a>210-450-9064</a> for more information.</p>
                    <p>Fax: 210-450-2150.</p>
                    <p>Existing patients can request <a>online with MyChart</a>.</p>-->
                    <p class="close">To make an appointment, call</p>
                    <p class="sans-serif h4 bold">210-450-9064</p>
                    <p>Existing patients can request <a>online with MyChart</a>.</p>
                </div>
                <div class="callout outline">
                    <h2>Locations</h2>
                    <address>
                        <strong><a>UT Health San Antonio Main Campus - Medical Center</a></strong><br>
                        7703 Floyd Curl Drive<br>
                        6th Floor, Room 638E<br>
                        San Antonio, TX 78229
                    </address>
                </div>
                <a class="callout color grey">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-clinic-medical fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Cranial Remolding Program</h3>
                </a>
                <a class="callout color dark-grey">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-clinic-medical fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Pediatric Specialties</h3>
                </a>
            </aside>
        </div>
    </div>
</section>
{% include "@blocks/footer/UTP-no-alamo.twig" %}