<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Approval</a></li>
                <li><a href="#">Initiation</a></li>
                <li><a href="#">Management</a></li>
                <li><a href="#">Close Out</a></li>
            </ul>
        </div>
    </div>
</nav>