{% include "@components/header-prototypes/header-TILT.twig" %}

<section class="hero bleed blur img-fill full">
    <img src="https://tiltresearch.org/wp-content/uploads/sites/46/2021/03/iStock-1193042438.jpg" alt="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell large-7 small-12">
                <h1>Toxicant-Induced Loss of Tolerance (TILT) Program</h1>

                <p>Toxicant‐Induced Loss of Tolerance (TILT) is a two-stage disease process initiated by a one-time major exposure, or a series of low-level chemical exposures (Stage I, Initiation). Affected individuals experience symptoms triggered by everyday chemicals, foods, and drugs that never bothered them before (Stage II, Triggering). Exposure examples include chemical spills, pesticides, cleaning agents, solvents, combustion-related products, drugs and medical devices, and indoor air contaminants associated with materials used in construction or remodeling.</p>

                <p><a href="#" class="button">Are you TILTed?</a></p>
            </div>
            <div class="cell large-5 small-12">
              <div class="responsive-embed">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/a3bsPj-fopw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<div class="grid-container">
  <section class="grid-x grid-margin-x align-center-middle">
    <main class="cell large-7 medium-7 small-12">
      <h2>Clean Air Oasis</h2>
      <p>Did you know that indoor air is often more polluted than the air outdoors? We spend 90% of our day indoors where the air often is more polluted than the air outside. Use our 7 steps and cleaning recipes to create a clean air oasis in your home, or in one room, where the air is as free as possible of chemicals, smoke, fragrances, and allergy triggers.</p>
      <p><a class="button ghost">Create a clean air oasis</a></p>
    </main>
    <aside class="cell large-5 medium-5 small-12">
      <div class="callout nested">
        <p>The Marilyn Brachman Hoffman Foundation board elected to fund a comprehensive program of research in the homes of chemically susceptible people through the Long School of Medicine's Department of Family and Community Medicine at UT Health San Antonio.</p>
        <p><a class="arrow">More about Marilyn Brachman Hoffman</a></p>
      </div>
    </aside>
  </section>
</div>

<section class="bleed beige">
	<div class="grid-container img-bleed-left">
		<div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-6 large-6 small-order-2 large-order-1">
				<img src="https://tiltresearch.org/wp-content/uploads/sites/46/2016/08/HousecallMain1.jpg">
			</div>
			<div class="cell medium-6 large-6 small-order-1 large-order-2">
				<h2 class="h4 close"><a>Education</a></h2>
        <p>Our overarching goal is to develop informed health professionals who recognize and address the environmental and medical challenges associated with TILT.</p>
        <h2 class="h4 close"><a>Research</a></h2>
        <p>Through our research, we identify environmental triggers, best practices for prevention and intervention, and potential biological markers for TILT.</p>
        <h2 class="h4 close"><a>Outreach</a></h2>
        <p>Our outreach efforts focus on the general public and specific groups that would benefit from understanding TILT, such as architects, contractors, beauticians and first responders.</p>
			</div>
		</div>
	</div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x text-center align-center factoids">
      <div class="cells large-4 medium-4 small-12 ">
        <p class="supersize">1 in 15</p>
        <p>Optional short description pertaining to the number</p>
      </div>
      <div class="cells large-4 medium-4 small-12">
        <p class="supersize">20%</p>
        <p> Optional short description pertaining to the number</p>
      </div>
      <div class="cells large-4 medium-4 small-12">
        <p class="supersize">100</p>
        <p>Optional short description pertaining to the number</p>
      </div>
    </div>
  </div>
 </section>
<section class="bleed color blue noise pullquote">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-6 large-6">
        <blockquote>
          <p class="large">I had severe muscle pain, night sweats, skin rashes, severe exhaustion. A real brain fog – that was probably the worst symptom for me.</p>
          <cite>Jane Little, BBC Reporter</cite>

        </blockquote>
        <p><a href="#" class="button">More stories</a></p>
      </div>
      <div class="cell small-12 medium-6 large-6">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/x4yKu3aAxro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <a class="cell card color grey small-12 medium-4 large-4">
      <img src="https://tiltresearch.org/wp-content/uploads/sites/46/2022/11/indoor-air-quality-buildings-making-us-sick-tilt-hoffman-1200x800.jpg">
      <div class="card-section">
        <h2 class="h4">Article of Interest: Our Buildings Are Making Us Sick</h4>
      </div>
    </a>
    <a class="cell card color grey small-12 medium-4 large-4">
      <img src="https://tiltresearch.org/wp-content/uploads/sites/46/2022/04/youth-vaping-synthetic-nicotene-1200x800.jpg">
      <div class="card-section">
        <h2 class="h4">Article of Interest: Youth E-cigarette Epidemic Remains a Serious Public Health Threat</h4>
      </div>
    </a>
    <a class="cell card color grey small-12 medium-4 large-4">
      <img src="https://tiltresearch.org/wp-content/uploads/sites/46/2022/10/Hispanic-latina-farmer-pesticides-people-of-color-1200x801.jpg">
      <div class="card-section">
        <h2 class="h4">Article of Interest: People of Color More Likely to be Harmed by Pesticides</h4>
      </div>
    </a>
  </div>
</section>

{% include "@components/footer-prototypes/TILT-footer.twig" %}