{% include "@components/header-prototypes/header-ccid.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>Clinical Trials</h1>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-ccid.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-7 large-8 small-order-2 medium-order-1">
            <p id="start">
            <h2 class="h4"><a href="#">Clinical Trial 1</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 2</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 3</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 4</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 5</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 6</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 7</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 8</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 9</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Clinical Trial 10</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <hr>

            <nav aria-label="Pagination">
                <ul class="pagination">
                    <li class="pagination-previous"><a href="#" aria-label="Previous page"> <span
                                class="show-for-sr"> Previous page</span></a></li>
                    <li><a href="#" aria-label="Page 1">1</a></li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 2</li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li class="ellipsis" aria-hidden="true"></li>
                    <li><a href="#" aria-label="Page 10">10</a></li>
                    <li><a href="#" aria-label="Page 11">11</a></li>
                    <li><a href="#" aria-label="Page 12">12</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">Next
                                page</span></a></li>
                </ul>
            </nav>
            <p id="stop">
        </main>

        <aside class="cell small-12 medium-5 large-4 small-order-1 medium-order-2" role="complementary" aria-labelledby="filters" data-sticky-container>
            <div class="sticky" data-sticky data-top-anchor="start:top" data-btm-anchor="stop:bottom">
                <div class="callout">
                    <h3 id="filters">Filter List By</h3>
                    <form>
                        <fieldset>
                            <label>Keyword
                                <input type="text">
                            </label>
                        </fieldset>

                        <fieldset>
                            <label>Condition
                                <select>
                                <option selected="selected" value="0"></option>
                                <option value="condition-1">Condition 1</option><option value="condition-2">Condition 2</option><option value="condition-3">Condition 3</option><option value="condition-4">Condition 4</option><option value="condition-5">Condition 5</option><option value="condition-6">Condition 6</option>
                                </select>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label>Age Group
                                <select>
                                <option selected="selected" value="0"></option>
                                    <option value="child-birth-17">Child (birth-17)</option>
                                    <option value="adult-18-64">Adult (18-64)</option>
                                    <option value="older-adult-65+">Older Adult (65+)</option>
                                </select>
                            </label>
                        </fieldset>

                        <fieldset>
                            <label>Location
                                <select>
                                <option selected="selected" value="0"></option>
                                <option value="location-1">Location 1</option><option value="location-2">Location 2</option><option value="location-3">Location 3</option><option value="location-4">Location 4</option><option value="location-5">Location 5</option><option value="location-6">Location 6</option>
                                </select>
                            </label>
                        </fieldset>

                        <fieldset>
                            <label>Trial Phase
                                <select>
                                <option selected="selected" value="0"></option>
                                <option value="phase-I">Phase I</option><option value="phase-II">Phase II</option><option value="phase-III">Phase III</option><option value="phase-IV">Phase IV</option>
                                </select>
                            </label>
                        </fieldset>

                        <fieldset>
                            <label>Status of Clinical Trials
                                <select>
                                <option selected="selected" value="0"></option><option value="open">Open</option><option value="closed">Closed</option>
                                </select>
                            </label>
                        </fieldset>

                        <div class="button-group">
                            <p><a href="#" class="button">Submit</a></p>
                            <p><a href="#" class="button ghost">Reset</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/ccid-footer.twig" %}