{% include "@components/header-prototypes/header-class.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 small-12">
				<h1>Classroom Directory</h1>
				<p>Looking for an available classroom on the UT Health San Antonio campuses? Our easy-to-use search tool helps you find rooms based on location, seating capacity, and in-room technology. Whether you're planning a study session, meeting, or event, we've got you covered.</p>
			</div>
            <div class="cell large-5 small-12">
                <img src="../../images/2019 UT Banners5.jpg" class="margin-bottom">
                </div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-class.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-7 large-8 small-order-2 medium-order-1">
            <!--<p id="start">-->
            <br>
            
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">ALTC - Room 3.301</a></h2>
            <p class="hide-for-small-only">Classroom has 4 projectors with fixed furniture, in room computer, centeral teaching station, digital recording capabilities. All tables in the room have input locations where students can present from.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">ALTC - Room 3.302</a></h2>
            <p class="hide-for-small-only">Classroom has 4 projectors with fixed furniture, in room computer, centeral teaching station, digital recording capabilities. All tables in the room have input locations where students can present from.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">ALTC - Room 3.303</a></h2>
            <p class="hide-for-small-only">Classroom has 4 projectors with fixed furniture, in room computer, centeral teaching station, digital recording capabilities. All tables in the room have input locations where students can present from.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">ALTC - Room 3.304</a></h2>
            <p class="hide-for-small-only">Classroom has 6 projectors with fixed furniture, in room computer, centeral teaching station, digital recording capabilities. All tables in the room have input locations where students can present from.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">ALTC - Room 3.305</a></h2>
            <p class="hide-for-small-only">Classroom has a projector with movable furniture, in room computer, teaching station with optional input for laptop.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">Holly Auditorium - Auditorium Room</a></h2>
            <p class="hide-for-small-only">Auditiorium has 3 projectors, multiple podium input locations on the stage, sound system, microphones, cameras</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">Holly Auditorium - Foyer Room</a></h2>
            <p class="hide-for-small-only">The Auditorium foyer has 2 projector screens and can be used as a stand-alone space or as spillover from the auditorium where sound and presentations can be sent to the screens from the main auditorium.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 1.102</a></h2>
            <p class="hide-for-small-only">Classroom has a single projector with in room computer, movable furniture, web conferencing capabilities. This room can also be combined with room SoPH 1.202 increase seating capacitiy by 44 and a second screen when combines presentation and audio is sent to both rooms.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 1.202</a></h2>
            <p class="hide-for-small-only">Classroom has a single projector with in room computer, movable furniture, web conferencing capabilities. This room can also be combined with room SoPH 1.102 increase seating capacitiy by 44 and a second screen when combines presentation and audio is sent to both rooms.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 3.302</a></h2>
            <p class="hide-for-small-only">This room has a single projector with (4) 75" TVs around the room that will project the same image as the projector, in room comptuer and audio playback.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 3.304</a></h2>
            <p class="hide-for-small-only">This room has a single projector with (4) 75" TVs around the room that will project the same image as the projector, in room comptuer movable furnature, and audio playback.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 3.306</a></h2>
            <p class="hide-for-small-only">This room has a single projector with (4) 75" TVs around the room that will project the same image as the projector, in room comptuer movable furnature, and audio playback.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 3.308</a></h2>
            <p class="hide-for-small-only">This room has a single projector with (4) 75" TVs around the room that will project the same image as the projector, in room comptuer movable furnature, and audio playback.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 3.310</a></h2>
            <p class="hide-for-small-only">This room has a single projector with (4) 75" TVs around the room that will project the same image as the projector, in room comptuer movable furnature, and audio playback.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 4.306</a></h2>
            <p class="hide-for-small-only">This room has a single projector with (5) 75" TVs around the room that will project the same image as the projector or each screen and be used separate via wireless presentation technology, in room comptuer movable furnature, web conferencing capable, and audio playback.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 4.308</a></h2>
            <p class="hide-for-small-only">This room has a single projector with (5) 75" TVs around the room that will project the same image as the projector or each screen and be used separate via wireless presentation technology, in room comptuer movable furnature, web conferencing capable, and audio playback.</p>
            <hr>
            <h2 class="h3"><a href="../../patterns/prototypes-Classroom Directory-class-instance/prototypes-Classroom Directory-class-instance.rendered.html" target="_blank">School of Public Health - Room 4.310</a></h2>
            <p class="hide-for-small-only">This room has a single projector with (5) 75" TVs around the room that will project the same image as the projector or each screen and be used separate via wireless presentation technology, in room comptuer movable furnature, web conferencing capable, and audio playback.</p>
            <hr>
            

            <nav aria-label="Pagination">
                <ul class="pagination">
                    <li class="pagination-previous"><a href="#" aria-label="Previous page"> <span
                                class="show-for-sr"> Previous page</span></a></li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                    <li><a href="#" aria-label="Page 2">2</a></li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">Next page</span></a></li>
                </ul>
            </nav>
            <!--<p id="stop">-->
        </main>

        <aside class="cell small-12 medium-5 large-4 small-order-1 medium-order-2">
            <div class="callout">
                
                <form>
                    <fieldset>
                        <label><strong>Keyword Search</strong>
                            <input type="text">
                        </label>
                    </fieldset>
                    <hr>

                    <p class="large">Filter Options</p>
                    <fieldset>
                        <legend><strong>Campus Location</strong></legend>
                        <input type="checkbox" id="GreeheyCampus"><label for="GreeheyCampus">Greehey Campus</label><br>
                        <input type="checkbox" id="LongCampus"><label for="LongCampus">Long Campus</label><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend><strong>Building</strong></legend>

                        <select>
                                <option value="ALTC">ALTC</option>
                                <option value="HollyAuditorium">Holly Auditorium</option>
                                <option value="SPH">School of Public Health</option>
                            </select>
                    </fieldset>
                    <br>
                    <!--<fieldset>
                        <legend><strong>Room Number</strong></legend>
                        
                        <input type="checkbox" id="1.102"><label for="1.102">1.102</label><br>
                        <input type="checkbox" id="1.103"><label for="1.103">1.103</label><br>
                        <input type="checkbox" id="1.202"><label for="1.202">1.202</label><br>
                        <input type="checkbox" id="2.205"><label for="2.205">2.205</label><br>
                        <input type="checkbox" id="3.301"><label for="3.301">3.301</label><br>
                        <input type="checkbox" id="3.302"><label for="3.302">3.302</label><br>
                        <input type="checkbox" id="3.303"><label for="3.303">3.303</label><br>
                        <input type="checkbox" id="3.304"><label for="3.304">3.304</label><br>
                        <input type="checkbox" id="3.305"><label for="3.305">3.305</label><br>
                        <input type="checkbox" id="3.306"><label for="3.306">3.306</label><br>
                        <input type="checkbox" id="3.308"><label for="3.308">3.308</label><br>
                        <input type="checkbox" id="3.310"><label for="3.310">3.310</label><br>
                        <input type="checkbox" id="4.306"><label for="4.306">4.306</label><br>
                        <input type="checkbox" id="4.308"><label for="4.308">4.308</label><br>
                        <input type="checkbox" id="4.310"><label for="4.310">4.310</label><br>
                        <input type="checkbox" id="Auditorium"><label for="Auditorium">Auditorium</label><br>
                        <input type="checkbox" id="B.113"><label for="B.113">B.113</label><br>
                        <input type="checkbox" id="B.115"><label for="B.115">B.115</label><br>
                        <input type="checkbox" id="B.117"><label for="B.117">B.117</label><br>
                        <input type="checkbox" id="B.119"><label for="B.119">B.119</label><br>
                        <input type="checkbox" id="Foyer"><label for="Foyer">Foyer</label><br>
                    </fieldset>-->
                    <br>
                    <fieldset>
                        <label><strong>Seating Capacity</strong><br>
                            <select>
                                <option value="12">12</option>
                                <option value="34">34</option>
                                <option value="36">36</option>
                                <option value="40">40</option>
                                <option value="42">42</option>
                                <option value="44">44</option>
                                <option value="141">141</option>
                                <option value="240">240</option>
                                <option value="282">282</option>
                                <option value="726">726</option>
                            </select>
                        </label>
                    </fieldset>
                    
                    <!--<fieldset>
            
                        <legend><strong>Seating Capacity</strong></legend>
                        
                        <input type="checkbox" id="12"><label for="12">12</label><br>
                        <input type="checkbox" id="34"><label for="34">34</label><br>
                        <input type="checkbox" id="36"><label for="36">36</label><br>
                        <input type="checkbox" id="40"><label for="40">40</label><br>
                        <input type="checkbox" id="42"><label for="42">42</label><br>
                        <input type="checkbox" id="44"><label for="44">44</label><br>
                        <input type="checkbox" id="141"><label for="141">141</label><br>
                        <input type="checkbox" id="240"><label for="240">240</label><br>
                        <input type="checkbox" id="282"><label for="282">282</label><br>
                        <input type="checkbox" id="726"><label for="726">726</label><br>
                        
                    </fieldset>-->
                    <br>
                    <fieldset>
                        <legend><strong>Room Technology</legend>
                        <input type="checkbox" id="AudienceMicrophone"><label for="AudienceMicrophone">Audience Microphone</label><br>
                        <input type="checkbox" id="Computer"><label for="Computer">In Room Computer</label><br>
                        <input type="checkbox" id="Playback"><label for="Playback">In Room Playback</label><br>
                        <input type="checkbox" id="Microphone"><label for="Microphone">Microphone</label><br>
                        <input type="checkbox" id="Projector"><label for="Projector">Projector</label><br>
                        <input type="checkbox" id="PushButton"><label for="PushButton">Push Button Control</label><br>
                        <input type="checkbox" id="Recording"><label for="Recording">Recording</label><br>
                        <input type="checkbox" id="TouchScreen"><label for="TouchScreen">Touch Screen Control</label><br>
                        <input type="checkbox" id="TV"><label for="TV">TV</label><br>
                        <input type="checkbox" id="Videoconferencing"><label for="Videoconferencing">Web & Video Conferencing</label><br>
                        <input type="checkbox" id="Wireless"><label for="Wireless">Wireless Projection</label><br>
                    </fieldset>

                    
                    
                    
                    <div class="button-group">
                        <p><a href="#" class="button">Submit</a></p>
                        <p><a href="#" class="button ghost">Reset</a></p>
                    </div>
                </form>
            </div>
            
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/class-footer.twig" %}