<section class="bleed light-beige">
	<div class="grid-container">
		<div class="grid-x text-center align-center">
			<div class="cell large-12">
				<h2>Optional Quick Fact Heading </h2>
				<p>You can add an optional sentence here if needed. This example only has numbers<br>
					<a>I am a link!</a>
				</p>
			</div>
		</div>
		<div class="grid-x text-center align-center factoids">
			<div class="cell large-4">
				<p class="h2">4,600+
				</p>
				<p>Optional short description pertaining to the number</p>
			</div>
			<div class="cell large-4">
				<p class="h2">Top 13%
				</p> 
				<p> Optional short description pertaining to the number</p>
			</div>
			<div class="cell large-4">
				<p class="h2">$5.7 M
				</p> 
				<p>Optional  short description pertaining to the number</p>
			</div>
		</div>
	</div>
</section>