<div class="grid-container">
   <div class="grid-x grid-margin-x">
      <div class="cell medium-12 large-5">
         <div class="callout">
            <h2 class="text-center h4">Apply Now</h2>
            <ul class="no-bullet">
               <li>
                  <div class="grid-x grid-margin-x">
                     <div class="cell small-3 medium-2 large-2 ">
                        <span class="fa-stack">
                           <!-- The icon that will wrap the number -->
                           <span class="fas fa-circle fa-stack-2x"></span>
                           <!-- a strong element with the custom content, in this case a number -->
                           <strong class="fa-stack-1x fa-inverse">
                              1
                           </strong>
                        </span>
                     </div>
                     <div class="cell small-9 medium-10 large-10 ">
                        <p>Log on to <a href="https://cs.uthscsa.edu/psp/S92PRD/?cmd=login"> My Student Center</a> and
                           click the financial aid tile.</p>
                     </div>
                  </div>
               </li>
               <hr>
               <li>
                  <div class="grid-x grid-margin-x">
                     <div class="cell small-3 medium-2 large-2 ">
                        <span class="fa-stack">
                           <!-- The icon that will wrap the number -->
                           <span class="fas fa-circle fa-stack-2x"></span>
                           <!-- a strong element with the custom content, in this case a number -->
                           <strong class="fa-stack-1x fa-inverse">
                              2
                           </strong>
                        </span>
                     </div>
                     <div class="cell small-9 medium-10 large-10 ">
                        <p>Find the scholarship you want to apply for and click <a>apply now</a>.</p>
                     </div>
                  </div>
               </li>
               <hr>
            </ul>
         </div>
      </div>
   </div>
</div>