{% include "@components/header-prototypes/header-pepper.twig" %}
{% include "@components/navigation-prototypes/navbar-pepper.twig" %}

<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
    <div class="cell small-12 medium-8 large-8">
          <h1 class="h2 color">Events</h1>
        </div>
			<main class="cell small-12 medium-8 large-8">
				<div class="grid-x grid-margin-x margin-top">
                <div class="cell small-12 medium-2 large-2">
						<div class="datebox blue">
    <div class="month">sep</div>
    <div class="day">10</div>
</div>
					</div>
					<div class="cell small-12 medium-10 large-10">
						<h2 class="h4"><a>Fall 2024 Seminar Series: Shreya Rao, MD, MPH</a></h2>
						<p>TBA"</p>
				</div>

          					</div>
				<hr>				
			</main>
		</div>
	</div>
{% include "@components/footer-prototypes/pepper-footer.twig" %}