
<section class="bleed full img-fill">
    <img src="../../images/services-image.jpg" alt="MARC Lobby">
	<div class="grid-container chonky">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell medium-8 small-12">
				<h1>Services</h1>
                {% include "@components/formElements/search-box.twig" %}
			</div>

		</div>
	</div>
</section>
<main class="grid-container">
	<div class="grid-x grid-margin-x grid-margin-y">
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>    
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>    
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Allergy Care</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-allergies "></i> See All Allergy Care</a>
        </div>
	</div>
</main>
{% include "@blocks/footer/mission.twig" %}