{% include "@components/header-prototypes/header-police.twig" %}

<section class="hero bleed">

    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="cell small-12 medium-4">
                <img src=" https://placedog.net/600/400" alt="Dog">
            </div>

            <div class="cell small-12 medium-8">
                <h1>Patrol Division</h1>
                <p>The patrol division provides security and safety for the protection of faculty, staff, students
                    and visitors in the workplace, while conducting research and pursuing studies on campus.</p>
            </div>
        </div>
    </div>
</section>


{% include "@components/navigation-prototypes/navbar-police.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2 class="h3">Police Officers</h2>
                <p>When people think of a police department and its police officers, they are envisioning patrol
                    operations. These patrol operations include officers in squad cars patrolling their districts,
                    communicating on mobile radios and responding to calls for service. However, there is a difference
                    between that vision and our department. In addition to the traditional model of cruising in a patrol
                    car until the next radio call comes in, our officers are also community police, liaison officers and
                    field training officers. They are visiting off-campus locations, assisting with special events,
                    helping visitors to our campus and participating in charitable organizations like Gifts for Children
                    and the Special Olympics. Even though they are participating in all of these duties and activities,
                    they get the call when you dial 9-1-1 or our non-emergency number, 210-567-2800. </p>

                <p>The responsibilities of patrol officers are diverse. They include preventive and directed patrol,
                    conducting initial preliminary investigations, offender apprehension and victim assistance. In
                    addition, they conduct crime scene control & investigation, drafting of reports, make court
                    appearances, provide support for special events, and when assigned, case follow-up investigations.
                    Patrol officers also conduct daily foot patrols on the interior and exterior areas of the campus.
                    This activity provides closer contact with the public and assists in the deterrence of criminal
                    activity. The patrol officer is the first responding presence to any situation and it is the patrol
                    officer that forms the public’s image of our police department. We are very proud of our patrol
                    officers and all that they do every day and night to make our community a safe place to teach,
                    learn, research and visit.</p>

                <h2 class="h3">Public Safety Officers</h2>

                <p>The public safety unit of UT Police is staffed with trained public safety professionals whose primary
                    objective is to provide a safe and secure environment for students, faculty, staff and visitors to
                    our campuses.</p>

                <p>Public safety officers are the front-line ambassadors for UT Health San Antonio. As one of the most
                    visible units of the police department, their public relations skills extend from greeting each
                    person driving onto our campuses, working special events, and providing directions and information
                    to students, faculty, staff and visitors.</p>

                <p>These officers are trained in First Aid and CPR and are equipped with two-way radios. They work
                    closely with police personnel patrolling campus buildings and parking lots, staff entry control
                    stations at campus roadway entrances, issue parking citations and generally handle non-police
                    related issues.</p>

                <p>In addition, they can provide students, faculty and staff with an escort to anywhere on campus
                    through the Safe Walk program and motorist assistance for vehicle lock-outs, dead batteries, flat
                    tires and vehicles that have run out of fuel.</p>

            </main>

            <aside class="cell small-12 medium-4">

                <img src=" https://placedog.net/600/400" alt="Dog" class="margin-bottom">

                <div class="callout contact outline blue">
                    <h3>Contact UT Police</h3>
                    <h4 class="h5 color">Emergency</h4>
                    <p>Campus Phone <strong>911</strong></p>
                    <p>Cell Phone <strong>210-567-8911</strong></p>

                    <h4 class="h5 color">Non-emergency</h4>
                    <p>Campus Phone <strong>72800, option 3</strong></p>
                    <p>Cell Phone <strong>210-567-2800, option 3</strong></p>
                </div>

                <a class="callout color orange"
                    href="https://www.uthscsa.edu/police/campus-patrol-services">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Communication Center</h3>
                    <p>The communication center is the nerve center of all university police and security operations.
                    </p>
                </a>

            </aside>
        </div>
    </div>
</section>

<section class="bleed light-beige noise">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-3 flex-container">
                <a class="callout color darken flex-child-auto"
                    href="https://www.uthscsa.edu/police/campus-patrol-services">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-user-shield fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Patrol Services</h3>
                </a>
            </div>

            <div class="cell small-12 medium-6 large-3 flex-container">
                <a class="callout color darken flex-child-auto"
                    href="https://www.uthscsa.edu/police/crime-prevention-programs">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-user-secret fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Crime Prevention</h3>
                </a>
            </div>

            <div class="cell small-12 medium-6 large-3 flex-container">
                <a class="callout color darken flex-child-auto"
                    href="https://www.uthscsa.edu/police/police-authority-jurisdiction">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Authority & Jurisdiction</h3>
                </a>
            </div>

            <div class="cell small-12 medium-6 large-3 flex-container">
                <a class="callout color darken flex-child-auto"
                    href="https://www.uthscsa.edu/police/frequently-asked-questions">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Frequently Asked Questions</h3>
                </a>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}