{% include "@components/header-prototypes/header-tcmhcc.twig" %}

<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
                <h1>About TCHATT</h1>
                <p>Texas Child Health Access Through Telemedicine (TCHATT) provides free telemedicine or telehealth
                    programs to school districts to help identify and assess the behavioral health needs of children and
                    adolescents and provide access to mental health services.
                </p>
                <div class="button-group">
                    <p><a href="#" class="hero button">Resources</a></p>
                </div>
            </div>
            <div class="cell small-12 medium-5 large-5 align-self-middle">
                <img src="../../images/tcmhcc/tchatt-about.png" alt="A group of children in grass waving">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tcmhcc-2.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <main class="cell medium-8 small-12">

                <h2 class="h3 color">Who We Are</h2>
                <p>The Texas Child Mental Health Care Consortium was created by the 86th Texas Legislature to leverage
                    the expertise and capacity of the health-related institutions of higher education to address urgent
                    mental health challenges and improve the mental health care system in this state in relation to
                    children and adolescents. The Texas Child Health Access Through Telemedicine Program (TCHATT) is one
                    of five initiatives the TCMHCC funded. The Department of Psychiatry and Behavioral Health at UT
                    Health administers TCHATT in 35 counties across the South Texas region.</p>

                <p>Through TCHATT, K-12 students receive short-term medication management and/or therapy interventions.
                    Parents and/or family members of participating students may also receive free supportive counseling
                    services. Referrals will be made if long-term services are needed.</p>

                <p>All the UT Health TCHATT providers are licensed:</p>
                <div class="indent-list">
                    <ul>
                        <li>Psychiatrists</li>
                        <li>Advanced Practitioners</li>
                        <li>Licensed Professional Counselors</li>
                        <li>Licensed Social Workers</li>
                    </ul>
                </div>

                <p>If you’re interested in joining TCHATT, please contact <a>tchattsupport@uthscsca.edu</a>.</p>

                <p><a href="#" class="hero button">Our Team</a></p>

            </main>

            <aside class="cell medium-4 small-12">
                <a class="callout color orange rocky flex-child-auto">
                    <h3 class="ruled">YAM</h3>
                    <p>Youth Aware of Mental Health is a FREE, TEA approved, 5-session
                        research-based program promoting increased knowledge and awareness of mental health in
                        adolescents ages 13 through 17. </p>
                </a>
                <div class="cell callout outline blue small-12 medium-5 large-4">
                    <h2 class="h4 text-center">Contact Us</h2>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">TCHATT@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">(210) 567-5460</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">Facebook Page</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i></span>
                                </span> <span class="">@twitter_handle</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </aside>
        </div>
    </div>
</section>


<section class="bleed light-beige rocky">
    <div class="grid-container">
        <div class="grid-x align-center">
            <div class="cell small-12 medium-8">
                <h2 class="text-center">Expansion Clinics</h2>
            </div>
            <div class="grid-x grid-margin-x margin-bottom">
                <div class="cell callout white small-12 medium-4">
                    <h3 class="h5">Trauma</h3>
                    <p>For youth (5 y/o & up) who have experienced a traumatic event or loss and
                        are having emotional or behavioral consequences such as PTSD

                    </p>
                </div>
                <div class="cell callout white small-12 medium-4">
                    <h3 class="h5">Anxiety/School Refusal</h3>
                    <p>For youth (5 y/o & up) who have persistent
                        school avoidance or attendance issues due
                        to anxiety and emotional distress

                    </p>
                </div>
                <div class="cell callout white small-12 medium-4">
                    <h3 class="h5">Adolescent Substance Abuse</h3>
                    <p>For youth (12 y/o & up) whose alcohol or
                        drug use is causing impairment or family conflict

                    </p>
                </div>
            </div>
            <p class="text-center">Referrals to the TCHATT expansion clinics can be made by anyone who recognizes that
                the child may need
                services. Call <a>(210) 567-5460</a> or email <a>TCHATT@uthscsa.edu</a> to get more information or make
                a referral.</p>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-6">
                <h3 class="h4 text-center">Provider Highlight</h3>
            </div>
            <div class="cell small-12 medium-6">
                <h3 class="h4 text-center">TCHATT in the News</h3>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <div class="card cell small-12 medium-6">
                <div class="card-section">
                    <img src="../../images/tcmhcc/blader.png">
                    <h3 class="close">Joseph Blader, PhD</h3>
                    <p>TCMHCC Co-Director</p>
                    <p>Dr. Blader has an extensive background in both clinical and academic work with
                        publications in medical journals and textbooks. Dr. Blader currently holds the Meadows
                        Foundation and Semp Russ Professorship in Child Psychiatry at UT Health San Antonio.
                    </p>
                </div>
            </div>

            <div class="callout cell small-12 medium-6">
                <div class="lines">
                    <ul>
                        <li><a>News item 1</a></li>
                        <li><a>News item 2</a></li>
                        <li><a>News item 3</a></li>
                        <li><a>News item 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>





{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}