{% include "@components/header-prototypes/header-alumni-relations.twig" %}
<section class="hero bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Spotlight</h1>
                <p class="subheader">Joe R. & Teresa Lozano Long School of Medicine</p>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/UTHSA-Mesa-conference_1.jpg" alt="SCIENCE">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-alumni-relations.twig" %}
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="#">Spotlight</a></li>
        <li><span class="show-for-sr">Current: </span>Long School of Medicine</li>
    </ul>
</nav>
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8 large-8 small-order-2 medium-order-1">
        <div class="grid-x grid-margin-x">
          <div class="cell small-12 medium-3 large-3">
    	<img src="../../images/headshot-fallback-214x300.png" alt="placeholder">
    </div>
      <div class="cell small-12 medium-8 large-8">
    	<h2 class="h3">Jane Doe</h2>
        <p class="subheader">Joe R. & Teresa Lozano Long School of Medicine</p>
      	<strong><p>Class of 2022</p></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis neque nec leo ultricies placerat. Morbi purus lectus, pellentesque fermentum odio mattis, elementum vehicula nulla. Donec gravida bibendum euismod. Nam scelerisque venenatis ipsum ut semper. In id ex sollicitudin, pellentesque metus non, tristique metus. Praesent lobortis consequat mattis. Aliquam lacinia erat justo, ac euismod tellus bibendum non. Pellentesque vulputate justo sed lacus euismod, et maximus ex ullamcorper. Nullam lobortis purus libero, ac dictum neque porttitor ac.</p>
        <p><a class="arrow">View Jane's full spotlight</a></p>
    </div></div>
                <hr>
            <div class="grid-x grid-margin-x">
          <div class="cell small-12 medium-3 large-3">
    	<img src="../../images/headshot-fallback-214x300.png" alt="placeholder">
    </div>
      <div class="cell small-12 medium-8 large-8">
    	<h2 class="h3">John Doe</h2>
 <p class="subheader">Joe R. & Teresa Lozano Long School of Medicine</p>
       	<strong><p>Class of 2022</p></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis neque nec leo ultricies placerat. Morbi purus lectus, pellentesque fermentum odio mattis, elementum vehicula nulla. Donec gravida bibendum euismod. Nam scelerisque venenatis ipsum ut semper. In id ex sollicitudin, pellentesque metus non, tristique metus. Praesent lobortis consequat mattis. Aliquam lacinia erat justo, ac euismod tellus bibendum non. Pellentesque vulputate justo sed lacus euismod, et maximus ex ullamcorper. Nullam lobortis purus libero, ac dictum neque porttitor ac.</p>
        <p><a class="arrow">View John's full spotlight</a></p>
    </div></div>
                <hr>
            <div class="grid-x grid-margin-x">
          <div class="cell small-12 medium-3 large-3">
    	<img src="../../images/headshot-fallback-214x300.png" alt="placeholder">
    </div>
      <div class="cell small-12 medium-8 large-8">
    	<h2 class="h3">Jane Doe</h2>
 <p class="subheader">Joe R. & Teresa Lozano Long School of Medicine</p>
       	<strong><p>Class of 2022</p></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis neque nec leo ultricies placerat. Morbi purus lectus, pellentesque fermentum odio mattis, elementum vehicula nulla. Donec gravida bibendum euismod. Nam scelerisque venenatis ipsum ut semper. In id ex sollicitudin, pellentesque metus non, tristique metus. Praesent lobortis consequat mattis. Aliquam lacinia erat justo, ac euismod tellus bibendum non. Pellentesque vulputate justo sed lacus euismod, et maximus ex ullamcorper. Nullam lobortis purus libero, ac dictum neque porttitor ac.</p>
        <p><a class="arrow">View Jane's full spotlight</a></p>
    </div></div>
                <hr>
            <div class="grid-x grid-margin-x">
          <div class="cell small-12 medium-3 large-3">
    	<img src="../../images/headshot-fallback-214x300.png" alt="placeholder">
    </div>
      <div class="cell small-12 medium-8 large-8">
    	<h2 class="h3">John Doe</h2>
 <p class="subheader">Joe R. & Teresa Lozano Long School of Medicine</p>
       	<strong><p>Class of 2022</p></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis neque nec leo ultricies placerat. Morbi purus lectus, pellentesque fermentum odio mattis, elementum vehicula nulla. Donec gravida bibendum euismod. Nam scelerisque venenatis ipsum ut semper. In id ex sollicitudin, pellentesque metus non, tristique metus. Praesent lobortis consequat mattis. Aliquam lacinia erat justo, ac euismod tellus bibendum non. Pellentesque vulputate justo sed lacus euismod, et maximus ex ullamcorper. Nullam lobortis purus libero, ac dictum neque porttitor ac.</p>
        <p><a class="arrow">View John's full spotlight</a></p>
    </div></div>
                <hr>
            <div class="grid-x grid-margin-x">
          <div class="cell small-12 medium-3 large-3">
    	<img src="../../images/headshot-fallback-214x300.png" alt="placeholder">
    </div>
      <div class="cell small-12 medium-8 large-8">
    	<h2 class="h3">Jane Doe</h2>
 <p class="subheader">Joe R. & Teresa Lozano Long School of Medicine</p>
       	<strong><p>Class of 2022</p></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis neque nec leo ultricies placerat. Morbi purus lectus, pellentesque fermentum odio mattis, elementum vehicula nulla. Donec gravida bibendum euismod. Nam scelerisque venenatis ipsum ut semper. In id ex sollicitudin, pellentesque metus non, tristique metus. Praesent lobortis consequat mattis. Aliquam lacinia erat justo, ac euismod tellus bibendum non. Pellentesque vulputate justo sed lacus euismod, et maximus ex ullamcorper. Nullam lobortis purus libero, ac dictum neque porttitor ac.</p>
        <p><a class="arrow">View Jane's full spotlight</a></p>
    </div></div>
        </main>
        <aside class="cell small-12 medium-4 large-4 small-order-1 medium-order-2 flex-container">
                    <div class="sticky" data-sticky data-top-anchor="start:top" data-btm-anchor="stop:bottom">
        <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-book-reader fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Share your story</h3>
            <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly.</p>
        </a>
        </div>
        </aside>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}