{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero full bleed img-fill">
  <img src="https://www.uthscsa.edu/sites/default/files/images/cranialremolding.jpg" alt="">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x align-left">
      <div class="small-12 medium-5 large-6 cell callout">
          <h1>YOUnite Research with FindAStudy</h1>
          <p><strong><em>Uniting you with researchers in the pursuit of health discovery.</em></strong></p>
          <p>At UT Health San Antonio, we conduct studies called clinical trials. Clinical trials are an important step in research to discover new treatments that help improve the health and well-being of our community. YOU are an important part of this step. Our researchers need YOU to volunteer and help pave the path of discovery.</p>
          <p><a href="https://vpr.uthscsa.edu/findastudy/" class="button">FindAStudy</a></p>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-x">
    <div class="cell large-6 medium-6 small-12">
      <h2>Why volunteer?</h2>
      <p>Volunteers are needed in clinical trials to understand how new treatments or interventions affect people. Without you, better treatments for diseases like diabetes, cancer, stroke, and other medical conditions would not exists. Sometimes, clinical trials can be treatment option for people.</p>
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XAjwsgyX32w" title="Clinical Trials: A Study Coordinator on Recruitment and Pre-Screening" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell large-6 medium-6 small-12">
      <h2>¿Por que voluntario?</h2>
      <p>Se necesitan voluntarios en estudios clínicos para comprender cómo los nuevos tratamientos o intervenciones afectan a las personas. Sin usted, no existíra mejores tratamientos para enfermedades como diabetes, cáncer, asma y otros afecciones médicas.</p>
       <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nsW25lNUPH4" title="Los Latinos Pueden Hacer la Diferencia en los Estudios Clínicos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="bleed beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-x align-center">
      <div class="cell large-12 medium-12 small-12 text-center">
        <h2>Highlighted areas of study</h2>
      </div>
      <div class="cell large-3 medium-3 small-12 flex-container flex-dir-column">
        <a href="https://vpr.uthscsa.edu/findastudy/searchCategory?cat=Cancers%20and%20Other%20Neoplasms" class="callout color orange noise flex-child-auto">
          <h3 class="h5 ruled">Cancer</h3>
          <p>Includes studies for: Breast cancer; Leukemia; Solid tumors; Liver</p>
        </a>
      </div>
      <div class="cell large-3 medium-3 small-12 flex-container flex-dir-column">
        <a href="https://vpr.uthscsa.edu/findastudy/searchCategory?cat=Heart%2C%20Vascular%20and%20Blood" class="callout color orange noise flex-child-auto">
          <h3 class="h5 ruled">Cardiovascular</h3>
          <p>Includes studies for: Stroke; Heart; Blood; Lung</p>
        </a>
      </div>
      <div class="cell large-3 medium-3 small-12 flex-container flex-dir-column">
        <a href="https://vpr.uthscsa.edu/findastudy/searchCategory?cat=Diabetes" class="callout color orange noise flex-child-auto">
          <h3 class="h5 ruled">Diabetes & Kidney</h3>
          <p>Includes studies for: Renal; Diabetes; Glucose; Obesity</p>
        </a>
      </div>
      <div class="cell large-3 medium-3 small-12 flex-container flex-dir-column">
        <a href="https://vpr.uthscsa.edu/findastudy/searchCategory?cat=Infections%20/%20Infectious%20Diseases" class="callout color orange noise flex-child-auto">
          <h3 class="h5 ruled">Infectious Diseases</h3>
          <p>Includes studies for: Infections; Immune Systems; Blood; Lung</p>
        </a>
      </div>
      <div class="cell large-3 medium-3 small-12 flex-container flex-dir-column">
        <a href="https://vpr.uthscsa.edu/findastudy/searchCategory?cat=Behaviors%20and%20Mental%20Disorders" class="callout color orange noise flex-child-auto">
          <h3 class="h5 ruled">Lonegevity & Aging</h3>
          <p>Includes studies for: Alzheimer's; Aging; ALS; Geriatric</p>
        </a>
      </div>
      <div class="cell large-3 medium-3 small-12 flex-container flex-dir-column">
        <a href="https://vpr.uthscsa.edu/findastudy/search?condition=Neuroscience&healthy=" class="callout color orange noise flex-child-auto">
          <h3 class="h5 ruled">Neuroscience</h3>
          <p>Includes studies for: PTSD; Depression; Opioid; Mental health; Substance</p>
        </a>
      </div>
      <div class="cell large-3 medium-3 small-12 flex-container flex-dir-column">
        <a href="https://clinicaltrials.gov/" class="callout color orange noise flex-child-auto">
          <h3 class="h5 ruled">Clinicaltrials.gov</h3>
          <p>Includes studies for: X; Y; Z</p>
        </a>
      </div>
      <br>
      <div class="cell large-12 medium-12 small-12 text-center">
        <h2>Opportunities by location</h2>
      </div>
      <div class="cell large-4 medium-4 small-12 flex-container">
        <a class="card postcard flex-child-auto" href="https://biggsinstitute.org/clinical-trials/current-trials/">
          <img src="https://uthscsa.edu/vpr/sites/vpr/files/2023-08/biggs_institute.jpg">
          <div class="card-section">
              <h3 class="h4">Glenn Biggs Institute for Alzheimer's & Neuroegenerative Diseases</h3>
          </div>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12 flex-container">
        <a class="card postcard flex-child-auto" href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/">
          <img src="https://uthscsa.edu/vpr/sites/vpr/files/2023-08/barshopinstitute-cropped-light-scaled_0.jpg">
          <div class="card-section">
              <h3 class="h4">Sam and Ann Barshop Institute for Longevity and Aging Studies</h3>
          </div>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12 flex-container">
        <a class="card postcard flex-child-auto" href="https://cancer.uthscsa.edu/clinical-trials-and-research/find-clinical-trial">
          <img src="https://uthscsa.edu/vpr/sites/vpr/files/2023-08/vpr-mayscancercenter_2.jpg">
          <div class="card-section">
              <h3 class="h4">UT Health San Antonio MD Anderson Cancer Center</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-x">
    <div class="cell large-8 medium-8 small-12">
      <h2>Questions to ask research teams</h2>
      <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-6 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/images/uth-researchers.jpg" alt="">
        </div>
        <div class="cell large-6 medium-6 small-12">
          <ol>
            <li>What is the purpose of this study?</li>
            <li>How long is the study?</li>
            <li>What is already known about the treatment in the study?</li>
            <li>Will I know if I am getting the treatment?</li>
            <li>Will I be paid for my time?</li>
            <li>Do I have to pay for any part of the study?</li>
            <li>Will the results be given to me?</li>
          </ol>
        </div>
        
      </div>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <h2>For Researchers & Sponsors</h2>
      <p>UT Health San Antonio Office of the Vice President for Research offers administrative, regulatory and budget support services to industry sponsors and investigators conducting clinical trials.</p>
      <div class="arrow">
        <ul>
          <!--<li><a href="https://www.uthscsa.edu/vpr/collaborations/clinical-trials">For industry</a></li>-->
          <li><a href="https://redcap.uthscsa.edu/REDCap/surveys/?s=FPJEP8NFTR">Clinical Trials Portal</a></li>
        </ul>
      </div>
    </div>
   
  </div>
  
</section>

<section class="bleed color orange noise pullquote roomy">
  <div class="grid-container">
		<div class="grid-x grid-margin-x align-center-middle">
			<div class="cell small-12 medium-9 large-9">
				<blockquote>
					<p class="large">By 2030, cancer in Latinos is going to increase by 140%. But, we know very little about how new treatments affect this population since they are still underrepresented in clinical trials.</p>
					<cite>Amelie G. Ramirez, Dr.P.H<br>Chair, Department of Population Health<br>Member, National Academy of Medicine</cite>
          
				</blockquote>
			</div>
      <div class="cell small-12 medium-3 large-3">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/ramirez_amelie_2.jpg" alt="Amelie G. Ramirez, Dr.P.H">
      </div>
		</div>
	</div>
</section>
<!--<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-12 medium-12 small-12 text-center">
      <h2>Patient stories</h2>
    </div>
    <div class="cell small-12 medium-6 large-4 flex-container flex-dir-column">
      <a href="https://magazines.uthscsa.edu/mission/racing-the-clock/" class="card light-beige  flex-child-auto">
        <img src="https://www.uthscsa.edu/sites/default/files/popout-image-1.jpg" alt="Antonio Santiago">
        <div class="card-section">
          <h3 class="h5">Antonio Santiago</h3>
          <p>As researchers and physicians battle against an unpredictable, incurable foe, one patient refuses to let multiple sclerosis defeat her.</p>
        </div>
      </a>
    </div>
    <div class="cell small-12 medium-6 large-4 flex-container flex-dir-column">
      <a href="https://magazines.uthscsa.edu/mission/cured/" class="card light-beige  flex-child-auto">
        <img src="https://www.uthscsa.edu/sites/default/files/images/joey-and-mom1.jpg" alt="Joey & Doris Libby">
        <div class="card-section">
          <h3 class="h5">Joey & Doris Libby</h3>
          <p>A mother and son are diagnosed with hepatitis C. Together, their journey through a clinical trial cured the disease.</p>
        </div>
      </a>
    </div>
    <div class="cell small-12 medium-6 large-4 flex-container flex-dir-column">
      <a href="https://news.uthscsa.edu/study-supports-fda-approval-fish-oil-save-critically-ill-babies/" class="card light-beige  flex-child-auto">
        <img src="https://www.uthscsa.edu/sites/default/files/popout-image-3.jpg" alt="Dr. Cynthia Blanco group">
        <div class="card-section">
          <h3 class="h5">Dr. Cynthia Blanco group</h3>
          <p>A San Antonio pediatrician’s passion to save premature babies was instrumental in approving fish oil treatment Omegaven and alleviating life-threating gastrointestinal complications.</p>
        </div>
      </a>
    </div>
  </div>
</section>-->

<section class="bleed color grey">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-3 medium-3 small-12 text-center">
            <i class="fas fa-heart fa-10x"></i>
        </div>
        <div class="cell large-9 medium-9 small-12">
            <!--<h2>Help advance treatment as a healthy volunteer</h2>
            <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments. Take action today; volunteer and play a role in finding a cure. </p>
            <p><a class="button ghost">Learn more about clinical trials</a></p>-->
            <h2>Be Part of Our Mission</h2>
            <p>At UT Health San Antonio, we are pioneering the future of healthcare. Join us as we redefine medicine through our groundbreaking research by participating in clinical trials or contributing through giving. Together we can translate today’s innovative discoveries into tomorrow’s life-saving treatments.</p>
            <div class="button-group">
                <p><a href="#" class="button">Learn more about clinical trials</a></p>
                <p><a href="https://makelivesbetter.uthscsa.edu/donate" class="button">Make a gift</a></p>
            </div>
        </div> 
    </div>
  </div>
</section>
{% include "@components/footer-prototypes/VPResearch-footer.twig" %}