{% include "@components/header v2/header-OPA.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center-middle">
			<div class="cell large-7 medium-7 small-12 small-12">
				<h1>Open Postdoctoral Positions</h1>
        <form class="search">
            <input type="search" class="search-box" placeholder="Search Positions">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
			</div>
      <div class="cell large-5 medium-5 small-12 small-12">
        <img src="/images/shp-research.png" alt="">
      </div>
		</div>
	</div>
</section>
{% include "@components/navigation/navbar-OPA.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <ul class="accordion blue" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title"> Training Grant Positions</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title"> Addiction/Abuse/Behavior </a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Aging/Longevity</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Behavioral Health/Clinical Psychology</a>
          <div class="accordion-content" data-tab-content>
            
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Biochemistry/Biophysics/Structural Biology</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Biomedical Engineering</a>
          <div class="accordion-content" data-tab-content>
            
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Cancer</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Cardiovascular Science</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>


          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Diabetes/Obesity/Metabolism</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
  
          </div>
        </li>
        
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Epidemiology/Bioinformatics/Biostatistics</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Immunology/Infectious Disease</a>
          <div class="accordion-content" data-tab-content>
            
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Molecular/Cellular/Developmental Biology</a>
          <div class="accordion-content" data-tab-content>
            
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>


            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Neuroscience</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">OMICS</a>
          <div class="accordion-content" data-tab-content>
            
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Pharmacotherapy/Drug Development</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a>Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
      </ul>
      
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <p>Log in to submit details for available positions or add a new profile.</p>
      <form>
        <label>Username
          <input type="text">
        </label>
        <label>Password <span class="required">*</span>
          <input type="password">
        </label>
      </form>
      <p><a class="button">Log In</a></p>

      <div class="callout">
        <p>All postdoctoral appointments are designated as security sensitive positions. UT Health San Antonio is an Equal Employment Opportunity/Affirmative Action employer including protected veterans and persons with disabilities.</p>
      </div>
    </aside>

  </div>
</section>


{% include "@blocks/footer/OPA-no-alamo.twig" %}