{% include "@components/header-prototypes/header-opa.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center-middle">
			<div class="cell large-7 medium-7 small-12 small-12">
				<h1>Open Postdoctoral Positions</h1>
        <form class="search">
            <input type="search" class="search-box" placeholder="Search Positions">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
			</div>
      <div class="cell large-5 medium-5 small-12 small-12">
        <img src="../../images/shp-research.png" alt="">
      </div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
      <li><a href="/patterns/prototypes-OPA-prospectives/prototypes-OPA-prospectives.rendered.html">Prospective Postdocs</a></li>
      <li>
          <span class="show-for-sr">Current: </span>Open Postdoctoral Positions
      </li>
  </ul>
</nav>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <ul class="accordion blue" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title heading"> Training Grant Positions</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>


          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading"> Addiction/Abuse/Behavior </a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Aging/Longevity</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Behavioral Health/Clinical Psychology</a>
          <div class="accordion-content" data-tab-content>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Biochemistry/Biophysics/Structural Biology</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Biomedical Engineering</a>
          <div class="accordion-content" data-tab-content>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Cancer</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Cardiovascular Science</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>


          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Diabetes/Obesity/Metabolism</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Epidemiology/Bioinformatics/Biostatistics</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Immunology/Infectious Disease</a>
          <div class="accordion-content" data-tab-content>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Molecular/Cellular/Developmental Biology</a>
          <div class="accordion-content" data-tab-content>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>


            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Neuroscience</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior. Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">OMICS</a>
          <div class="accordion-content" data-tab-content>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Pharmacotherapy/Drug Development</a>
          <div class="accordion-content" data-tab-content>
            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

            <p class="large bold"><a href="/patterns/prototypes-OPA-postdoc-position/prototypes-OPA-postdoc-position.rendered.html">Psychiatric Disorders & Addiction Postdoctoral Fellowship</a></p>
            <p>The Daws Laboratory in the Department of Cellular and Integrative Physiology at UT Health San Antonio is seeking a highly motivated and creative Postdoctoral Fellow to conduct innovative NIDA- and NIMH-funded research on the role of monoamine transporters in substance use disorders, and the circuitry of emotional behavior.  Current research is focused on: Investigating organic cation transporter 3 (OCT3) as a novel target for the treatment of psychostimulant disorders. Understanding the role of OCT3 and the serotonin transporter (SERT) in circuits driving fear-conditioned...</p>
            <p><strong>Date Posted</strong>: Wednesday, July 6, 2022 - <strong>Job Number</strong>: 244</p>

          </div>
        </li>
      </ul>

    </main>
    <aside class="cell large-4 medium-4 small-12">
      <!--<p>Log in to submit details for available positions or add a new profile.</p>
      <form>
        <label>Username
          <input type="text">
        </label>
        <label>Password <span class="required">*</span>
          <input type="password">
        </label>
      </form>
      <p><a class="button">Log In</a></p>-->

      <div class="callout">
        <p>All postdoctoral appointments are designated as security sensitive positions. UT Health San Antonio is an Equal Employment Opportunity/Affirmative Action employer including protected veterans and persons with disabilities.</p>
      </div>

      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Create Postdoc Position</h3>
      </a>
    </aside>

  </div>
</section>


{% include "@blocks/footer/OPA-no-alamo.twig" %}