{% include "@components/header-prototypes/header-research.twig" %}
<section class="hero full bleed img-fill">
  <img src="https://www.uthscsa.edu/sites/default/files/2018/bluhmdanet_08.jpg" alt="">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x align-right">
      <div class="small-12 medium-5 large-5 cell callout">
          <h1>Research at UT Health San Antonio</h1>
          <p>At UT Health San Antonio we are investing in our priority research areas: aging, cancer, diabetes, immunology & infectious diseases, neurosciences and population health/outcomes research while promoting a culture that values research, collaboration and innovation.</p>
          <p><a href="#" class="button">Research Areas</a></p>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-research.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 large-centered medium-10 medium-centered small-12 text-center">
      <h2>Our Research</h2>
      <p>The University of Texas Health Science Center at San Antonio, also called UT Health San Antonio, is the leading medical and bioscience research organization in South Texas and is a primary driver of San Antonio’s $44.1 billion health care and biosciences sector, the city’s largest economic generator. With a research portfolio of approximately $360 million, UT Health San Antonio is the largest research university in South Texas.</p>
      <p><a href="#" class="button ghost">Mission & Vision</a></p>
    </div>
  </div>
</section>
<section class="bleed color orange">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-4 medium-4 small-12 flex-container">
        <div class="callout white flex-child-auto text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-search fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h4">Find</h2>
          <div class="lines">
            <ul>
              <li><a href="https://www.uthscsa.edu/vpr/collaborations/institutes-centers">Institutes & Centers</a></li>
              <li><a href="http://sttm.technologypublisher.com/">Licensing an invention</a></li>
              <li><a href="http://opa.uthscsa.edu/position-listings/postdoctoral-position">Open postdoc positions</a></li>
              <li><a href="https://uthscsa.influuent.utsystem.edu/en/persons/">Researchers</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cell large-4 medium-4 small-12 flex-container">
        <div class="callout white flex-child-auto text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-tools fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h4">Researcher Resources</h2>
          <div class="lines">
            <ul>
              <li><a href="https://www.uthscsa.edu/vpr/collaborations">Collaborations</a></li>
              <li><a href="https://www.uthscsa.edu/vpr/core-labs">Core Labs</a></li>
              <li><a href="https://www.uthscsa.edu/vpr/funding">Funding Opportunities</a></li>
              <li><a href="https://www.uthscsa.edu/vpr/collaborations/biobank">Institutional Biobank</a></li>
              <li><a href="https://uthealthsa.sharepoint.com/teams/Researcher-Resources">Research and Lab Resources SharePoint</a></li>
              <li><a href="https://www.uthscsa.edu/vpr/offices-services/vpr-it">VPR IT</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cell large-4 medium-4 small-12 flex-container">
        <div class="callout white flex-child-auto text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-school fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h4">Research by School</h2>
          <div class="lines">
            <ul>
              <li><a href="https://uthscsa.edu/medicine/research">Long School of Medicine</a></li>
              <li><a href="https://www.uthscsa.edu/research/dental">School of Dentistry</a></li>
              <li><a href="https://www.uthscsa.edu/academics/health-professions/shp-research">School of Health Professions</a></li>
              <li><a href="https://uthscsa.edu/nursing/research">School of Nursing</a></li>
              <li><a href="https://www.uthscsa.edu/academics/biomedical-sciences/research">Graduate School of Biomedical Sciences</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grid-container">
  <div class="grid-x align-center-middle">
    <div class="cell large-10 medium-10 small-10 text-center">
      <h2>Top Stories</h2>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="cell large-3 medium-6 small-12">
      <a href="https://news.uthscsa.edu/people-who-preserve-immune-resilience-live-longer-resist-infections-2/">
        <img src="https://www.uthscsa.edu/sites/default/files/2023/research/immune-resilience-illustration-768x460-1.jpg" class="img-margin" alt="">
        <h3 class="h6">People who preserve ‘immune resilience’ live longer, resist infections</h3>
      </a>
      <p>Researchers from The University of Texas Health Science Center at San Antonio, working with collaborators in five countries, today revealed that the capacity to resist or recover from infections and other sources of inflammatory stress — called “immune resilience” — differs widely among individuals. </p>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://news.uthscsa.edu/ut-health-san-antonio-and-university-hospital-consult-community-about-conducting-study-on-blood-clotting-drug/">
        <img src="https://www.uthscsa.edu/sites/default/files/2023/research/emergency-rush-350x275.jpg" class="img-margin" alt="">
        <h3 class="h6">UT Health San Antonio and University Hospital consult public to conduct study on blood clotting drug in trauma</h3>
      </a>
      <p>Researchers at The University of Texas Health Science Center at San Antonio are asking for community input about participating in an international study.</p>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://news.uthscsa.edu/inflammatory-trigger-a-new-clue-in-alzheimers-2/">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/inflammatory-trigger.jpg" class="img-margin" alt="">
        <h3 class="h6">Inflammatory trigger a new clue in Alzheimer’s</h3>
      </a>
      <p>Scientists from The University of Texas Health Science Center at San Antonio (UT Health San Antonio) today reported that an inflammatory trigger like one present during viral infections is elevated in Alzheimer’s disease and progressive supranuclear palsy, a rare brain disorder.</p>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://news.uthscsa.edu/treatment-for-combat-related-ptsd-advances-with-method-shown-to-be-fast-effective-2/">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/ptsd-blocks.jpg" class="img-margin" alt="">
        <h3 class="h6">Treatment for combat-related PTSD advances with method shown to be fast, effective</h3>
      </a>
      <p>Researchers report that treatment for combat-related post-traumatic stress disorder (PTSD), which affects hundreds of thousands of U.S. military personnel and veterans, can be both fast and effective for a majority of patients.</p>
    </div>
  </div>
</section>
<section class="bleed color dark-grey">
  <div class="grid-container">
    <div class="grid-x align-center-middle">
      <div class="cell large-10 medium-10 small-10 text-center">
        <h2>Milestones</h2>
      </div>
    </div>
    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-globe-americas fa-5x"></i></p>
        <p>Helped develop the world's first stent (Palmaz Stent), used to treat blood vessel blockages</p>
      </div>
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-microscope fa-5x"></i></p>
        <p>Discovered how to increase the types of pancreatic cells that secrete insulin with potential to cure Type 1 diabetes</p>
      </div>
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-notes-medical fa-5x"></i></p>
        <p>Invented the EZ-IO to rapidly infuse fluids into the bone marrow cavities of patients in shock</p>
      </div>
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-prescription-bottle fa-5x"></i></p>
        <p>Discovered a link between finasteride and prevention of prostate cancer in men</p>
      </div>
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-award fa-5x"></i></p>
        <p>One of two universities nationwide with a Geriatric Research Education & Clinical Center, Claude D. Pepper, and a Nathan Shock Center</p>
      </div>
    </div>
  </div>
</section>
{% include "@blocks/feeds/news-events.twig" %}  
{% include "@components/footer-prototypes/research-footer.twig" %}