{% include "@components/header-prototypes/header-RDMS.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">

        <h1>Research Data Management Services</h1>
        <p>Topping pastry croissant toffee bonbon. Lollipop sweet roll sweet candy chocolate cheesecake sesame snaps. Icing donut dragée apple pie wafer tiramisu jelly jujubes candy canes. Lollipop muffin danish fruitcake tart.</p>
        <div class="button-group">
          <p><a class="button">Where To Start</a></p>
          <p><a class="button ghost">Frequently Asked Questions</a></p>
        </div>
			</div>
      <div class="cell large-5 medium-5 small-12">
        <img src="https://placekitten.com/500/300">
      </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-RDMS.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">

      <h2> <i class="fas fa-sync"></i>&nbsp;Research Lifecycle Guide</h2>
      <h3 class="h5"><a>Plan & Design</a></h3>
      <p>Tiramisu danish croissant powder chupa chups halvah jelly-o. Bonbon carrot cake toffee oat cake marzipan cake chocolate. Cake bear claw icing cupcake toffee candy pie pudding carrot cake.</p>
      <h3 class="h5"><a>Collect & Create</a></h3>
      <p>Tiramisu danish croissant powder chupa chups halvah jelly-o. Bonbon carrot cake toffee oat cake marzipan cake chocolate. Cake bear claw icing cupcake toffee candy pie pudding carrot cake.</p>
      <h3 class="h5"><a>Analyze, Process & Store</a></h3>
      <p>Tiramisu danish croissant powder chupa chups halvah jelly-o. Bonbon carrot cake toffee oat cake marzipan cake chocolate. Cake bear claw icing cupcake toffee candy pie pudding carrot cake.</p>
      <h3 class="h5"><a>Evaluate & Archive</a></h3>
      <p>Tiramisu danish croissant powder chupa chups halvah jelly-o. Bonbon carrot cake toffee oat cake marzipan cake chocolate. Cake bear claw icing cupcake toffee candy pie pudding carrot cake.</p>
      <h3 class="h5"><a>Share & Publish</a></h3>
      <p>Tiramisu danish croissant powder chupa chups halvah jelly-o. Bonbon carrot cake toffee oat cake marzipan cake chocolate. Cake bear claw icing cupcake toffee candy pie pudding carrot cake.</p>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <a class="callout color blue noise flex-child-auto">
          <h3 class="ruled">NIH DMS Policy</h3>
          <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly.</p>
        </a>

      <div class="light-beige callout flex-container flex-dir-column">
        <div class="flex-child-auto">
          <h2 class="text-center">News</h2>
          <div class="lines">
            <ul>
              <li><a href="#">Topping pastry croissant toffee bonbon</a></li>
              <li><a href="#"> Icing donut dragée apple pie wafer tiramisu jelly jujubes candy canes muffin danish fruitcake tart</a></li>
              <li><a href="#">Marzipan macaroon pie gingerbread chupa chups. Cheesecake gummies chocolate cake tiramisu toffee sesame snaps cupcake.</a></li>
            </ul>
          </div>
        </div>
        <div class="flex-child-shrink">
            <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
        </div>
      </div>
    </aside>

  </div>
</section>
<section class="bleed light-beige">
  <div class="grid-container">
    <div id="localist-widget-26994508" class="localist-widget"></div><script defer type="text/javascript" src="https://events.uthscsa.edu/widget/view?schools=uthscsa&days=31&num=3&hide_past=1&container=localist-widget-26994508&template=horizontal-no-image-no-description"></script><div id="lclst_widget_footer"><a style="margin-left:auto;margin-right:auto;display:block;width:81px;margin-top:10px;" title="Widget powered by Localist Event Calendar Software" href="https://www.localist.com?utm_source=widget&utm_campaign=widget_footer&utm_medium=branded%20link"></a></div>
    <p class="text-center"><a href="#" class="button">View all events</a></p>
  </div>
</section>
{% include "@components/footer-prototypes/RDMS-footer.twig" %}