<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <h1>Publications &amp; Presentations</h1>

                <div class="grid-x grid-margin-x">
                    <div class="cell large-4 medium-4 small-12">
                        <label><strong>Filter by title, author, journal</strong>
                            <input type="text">
                        </label>
                    </div>
                    <div class="cell large-4 medium-4 small-12">
                        <label><strong>Year</strong>
                            <select>
                                <option value="years">All Years</option>
                            </select>
                        </label>
                    </div>
                    <div class="cell large-4 medium-4 small-12">
                        <label><strong>Type</strong>
                            <select>
                                <option value="pubpost">All Publications &amp; Poster Presentations</option>
                            </select>
                        </label>
                    </div>
                </div>

                <legend><strong>Research area</strong></legend>
                <input type="checkbox" name="ms" value="ms" id="msStudent" required=""><label for="msStudent">Area
                    #1</label>
                <input type="checkbox" name="phd" value="phd" id="phdStudent"><label for="phdStudent">Area #2</label>

                <div class="button-group">
                    <p><a href="#" class="hero button">Hero Button Orange</a></p>
                    <p><a href="#" class="hero button ghost">Hero Button Ghost Orange</a></p>
                </div>
            </div>

        </div>
    </div>
</section>