{% include "@components/header-prototypes/header-VPResearch.twig" %}
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Contact Directory
    </li>
  </ul>
</nav>

<section class="grid-container">

    <div class="grid-x grid-margin-x">
        <main class="cell large-9 medium-9 small-12 ">
            <h1>Contact Directory</h1>
            
            <ul class="accordion orange" data-accordion data-allow-all-closed="true">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title">Office of the Vice President for Research</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                                <p><strong>Vice President for Research</strong>&nbsp;<br>Jennifer Sharpe&nbsp;Potter, PhD, MPH&nbsp;<br>Phone:&nbsp;<a href="tel:2105625698">210-562-5698</a>&nbsp;<br>Email:&nbsp;<a href="mailto:potterjs@uthscsa.edu">potterjs@uthscsa.edu</a></p>

                                <p><strong>Associate Vice President for Research Administration</strong>&nbsp;<br>Claudia Y. Delgado, MBA&nbsp;<br>Phone:&nbsp;<a href="tel:2104507675">210-450-7675</a><br>Email:&nbsp;<a href="mailto:delgadoc3@uthscsa.edu">delgadoc3@uthscsa.edu</a></p>

                                <p><strong>Associate Vice President for Research</strong>&nbsp;<br>Kimberly Summers, PharmD&nbsp;<br>Phone:&nbsp;<a href="tel:2105678249">210-567-8249</a>&nbsp;<br>Email:&nbsp;<a href="mailto:summers@uthscsa.edu">summers@uthscsa.edu</a></p>

                                <p><strong>Associate Vice President for Translational Research</strong>&nbsp;<br>Robert A. Clark, MD, MACP&nbsp;<br>Phone:&nbsp;<a href="tel:2105670866">210-567-0866</a>&nbsp;<br>Email:&nbsp;<a href="mailto:clarkra@uthscsa.edu">clarkra@uthscsa.edu</a></p>

                                <p><strong>Associate Vice President for Strategic Research Initiatives</strong>&nbsp;<br>Mark P. Goldberg, MD&nbsp;<br>Phone:&nbsp;<a href="tel:2105674418">210-567-4418</a>&nbsp;<br>Email:&nbsp;<a href="mailto:goldbergm@uthscsa.edu">goldbergm@uthscsa.edu</a></p>

                                <p><strong>Associate Vice President for Innovation and Development</strong><br>Anthony R. Francis<br>Phone: <a>210-567-0313</a><br>Email: <a href="mailto:francisa3@uthscsa.edu">francisa3@uthscsa.edu</a>&nbsp;</p>

                                <p><strong>Sr. Director, Clinical Trials Office</strong><br>Jason Bates, MBA<br>Email: <a href="mailto:batesjr@uthscsa.edu">batesjr@uthscsa.edu</a>&nbsp;</p>

                                <p><strong>Director, Clinical Research Implementation Office</strong><br>Stephanie Rowan, RN, PhD<br>Email: <a href="mailto:rowans@uthscsa.edu">rowans@uthscsa.edu</a>&nbsp;</p>

                                
                            </div>
                            <div class="cell large-6 medium-6 small-12">

                                <p><strong>Director, Institutional Research Core Facilities</strong><br>Ramiro Ramirez-Solis, PhD<br>Email: <a>ramirezsolis@uthscsa.edu</a></p>

                                <p><strong>Director, Institutional Review Board</strong><br>Jeannette M. Watterson, PhD<br>Email: <a href="mailto:watterson@uthscsa.edu">watterson@uthscsa.edu</a></p>

                                <p><strong>Director, Lab Animal Resources</strong><br>Sander Hacker, VMD<br>Email: <a href="mailto:hackers@uthscsa.edu">hackers@uthscsa.edu</a>&nbsp;</p>

                                <p><strong>Director, Finance &amp; Administration</strong>&nbsp;<br>Carlotta Bell, MEd, MBA&nbsp;<br>Phone:&nbsp;<a href="tel:2105670313">210-567-0313</a>&nbsp;<br>Email:&nbsp;<a href="mailto:bellc1@uthscsa.edu">bellc1@uthscsa.edu</a></p>

                                <p><strong>Director, Office of Postdoctoral Affairs</strong><br>Babatunde "Kay" Oyajobi, MBBS, PhD, MBA<br>Email: <a href="mailto:oyajobi@uthscsa.edu">oyajobi@uthscsa.edu</a></p>

                                <p><strong>Sr. Director, Strategic Research Initiatives</strong><br>Salma A. Quraishi, PhD<br>Email: <a href="mailto:quraishi@uthscsa.edu">quraishi@uthscsa.edu</a>&nbsp;</p>

                                <p><strong>Director, Technology and Commercialization</strong><br>Lindsay Sanford, PhD<br>Email: <a href="mailto:sanfordl3@uthscsa.edu">sanfordl3@uthscsa.edu</a></p>

                                <p><strong>Director, Research Administration and Quality</strong><br>Melanie Zuniga Rapp, MPA<br>Email: <a href="mailto:zunigam5@uthscsa.edu">zunigam5@uthscsa.edu</a></p>

                                <p><strong>Director, Research Enhancement Programs</strong><br>Sunil Ahuja, MD<br>Email: <a href="mailto:ahujas@uthscsa.edu">ahujas@uthscsa.edu</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Programs</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                                <p><strong>Conflict of Interest &amp; Responsible Conduct of Research Programs</strong>&nbsp;<br>Phone:&nbsp;<a href="tel:2105626838">210-562-6838</a><br>Email: <a href="mailto:coi@uthscsa.edu">coi@uthscsa.edu</a>&nbsp;</p>

                                <p><strong>Research Enhancement Programs</strong>&nbsp;<br>Phone:&nbsp;<a href="tel:2105670233">210-567-0233</a></p>
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                                <p><strong>Research Protection Programs</strong>&nbsp;<br>Phone:&nbsp;<a href="tel:2105678555">210-567-8555</a>&nbsp;<br>Email:&nbsp;<a href="mailto:IRBreliance@uthscsa.edu">IRBreliance@uthscsa.edu</a></p>
                            </div>
                        </div>
                    </div>
                </li>-->
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Animal Research Compliance</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Clinical Research Implementation Office</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Clinical Trials Office</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">

                            
                                <p><strong>Sr. Director, Clinical Trials Office</strong><br>Jason Bates, BBA, MBA <br> Email: <a>BatesJR@uthscsa.edu</a><br> Phone: <a>210-562-6818</a></p>


                                <p><strong>Manager, Research Operations</strong><br>Patricia Miranda, BBA <br> Email: <a>MirandaPR@uthscsa.edu</a><br> Phone: <a>210-450-4057</a></p> 


                                <p><strong>Budget Analyst - Senior</strong><br>Cathy Haegelin, BBA, MBA, CPA<br> Email: <a>Haegelin@uthscsa.edu</a><br> Phone: <a>210-450-8372</a></p> 


                                <p><strong>Clinical Trials Specialist</strong><br>Lynda Schrack, BA<br> Email: <a>Schrack@uthscsa.edu</a><br> Phone: <a>210-67-8557</a></p>


                                <p><strong>Budget Analyst - Intermediate</strong><br>Joshua Elder, BBA, MBA<br> Email: <a>ElderJ1@uthscsa.edu</a><br> Phone: <a>210-450-8477</a></p>
                            </div>
                            <div class="cell large-6 medium-6 small-12">

                            
                                <p><strong>Budget Analyst - Intermediate</strong><br>Claudia Holbrook, BS<br> Email: <a>HolbrookC1@uthscsa.edu</a><br> Phone: <a>210-567-8455</a></p>


                                <p><strong>Billing Analyst</strong><br>Santiago Delgado<br> Email: <a>DelgadoS@uthscsa.edu</a><br> Phone: <a>210-567-8264</a></p>


                                <p><strong>Financial Analyst-Senior</strong><br>Amy Richardson<br> Email: <a>RichardsonA4@uthscsa.edu</a><br> Phone: <a>210-562-6838</a></p>


                                <p><strong>Budget Analyst-Intermediate</strong><br>Mitchell Ondrey<br> Email: <a>Ondrey@uthscsa.edu</a><br> Phone: <a>210-562-6838</a></p> 


                                <p><strong>Budget Analyst-Associate</strong><br>Nydia Rivera Hernandez<br> Email: <a>RiveraHernan@uthscsa.edu</a><br> Phone: <a>210-450-4057</a></p> 
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Laboratory of Animal Resoucres</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Institutional Review Board</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                                
                                <p><strong>Director, Institutional Review Board </strong><br>Jeannette M. Watterson, PhD<br>Email: <a>Watterson@uthscsa.edu</a><br>Phone: <a>210-567-8205</a></p>

                                
                                <p><strong>Institutional Regulatory Reviewer </strong><br>Stephanie C. Reyes, BA, CIP<br>Email: <a>ReyesS@uthscsa.edu</a><br>Phone: <a>210-450-8315</a></p>

                                
                                <p><strong>Research Compliance Coordinator - Sr</strong><br>Rebecca Rivera, BS, MS<br>Email: <a>RiveraR4@uthscsa.edu</a><br>Phone: <a>210-567-8248</a></p>

                                
                                <p><strong>Research Compliance Coordinator - Sr</strong><br> Cecilia A. Hinojosa<br>Email: <a>HinojosaCA@uthscsa.edu </a><br>Phone: <a> 210-567-8246</a></p>

                                
                                <p><strong>Research Compliance Coordinator - Sr</strong><br>Celia Aviles, BS, MPH, CCRC<br>Email: <a>Aviles@uthscsa.edu</a><br>Phone: <a>210-562-6827</a></p>

                               
                                <p><strong>Research Compliance Coordinator</strong><br>Maria Herrera, MSW<br>Email: <a>HerreraM13@uthscsa.edu</a><br>Phone: <a>210-450-7314</a></p>
                
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                                <p><strong>IRB Associate Director </strong><br>Brandie Otten<br>Email: <a>Otten@uthscsa.edu</a><br>Phone: <a>210-567-8251</a></p>

                                <p><strong>Research Compliance Coordinator – Sr</strong><br>Patricia Alexander <br>Email: <a>AlexanderP@uthscsa.edu</a><br>Phone: <a>210-567-8256</a></p>

                                <p><strong>Research Compliance Coordinator</strong><br>Alyssa Hernandez<br>Email: <a>HernandezA51@uthscsa.edu</a><br>Phone: <a>210-567-8254</a></p>

                                <p><strong>Research Compliance Specialist</strong><br>Stephen Blake Luis<br>Email: <a>LuisS@uthscsa.edu</a><br>Phone: <a>210-567-8553</a></p>

                                    
                                <p><strong>Research Compliance Specialist</strong><br>Bhumi Patel<br>Email: <a>PatelB6@uthscsa.edu</a><br>Phone: <a>210-567-8259</a></p>

                                <p><strong>Research Compliance Specialist</strong><br>Angelika Malolos<br>Email: <a>Malolos@uthscsa.edu </a><br>Phone: <a>210-567-8267</a></p>
                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Postdoctoral Affairs</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Recruitment & Science Outreach</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Research Administration & Quality</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                               <p><strong>Director, Research Administration & Quality</strong><br>Melanie M. Zuñiga Rapp, MPA, CHRC<br>Email: <a>ZunigaM5@uthscsa.edu</a><br>Phone: <a>210-562-6838</a></p>
                                
                                <p><strong>Research Compliance Coordinator - Sr</strong><br>Danielle R. Gordon, MPH<br>Email: <a>GordonDR@uthscsa.edu</a> <br>Phone: <a>210-450-8306</a></p>

                                <p><strong>Research Compliance Coordinator - Sr</strong><br>Krista Kilpadi, MD, PhD, CCRP<br>Email: <a>Kilpadi@uthscsa.edu</a> <br>Phone: <a>210-450-8365</a></p>

                            </div>
                            <div class="cell large-6 medium-6 small-12">
                                 
                                <p><strong>Research Compliance Coordinator - Sr</strong><br>Catherine Frazer, BA</br>Email: <a>frazierc1@uthscsa.edu</a><br>Phone: <a>210-567-8253</a></p>

                                <p><strong>Research Compliance Coordinator - Sr</strong><br>April K. Boreham, MA, MBA, LPA<br>Email: <a>boreham@uthscsa.edu</a> <br> Phone: <a>210-450-7692</a></p>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Sponsored Programs</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Strategic Research Initiatives</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Technology Commercialization</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">VPR Administration & Finance</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">VPR Information Technology</a>
                    <div class="accordion-content" data-tab-content>
                       <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                            <div class="cell large-6 medium-6 small-12">
                            </div>
                        </div>
                    </div>
                </li>

                
            </ul>
            
        </main>
        <aside class="cell large-3 medium-3 small-12">
            
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}