{% include "@components/header-prototypes/header-src.twig" %}
{% include "@components/navigation-prototypes/navbar-src.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
      <li><a href="#">Clinics</a></li>
      <li>
          <span class="show-for-sr">Current: </span> Pride Community Clinic
      </li>
  </ul>
</nav>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <h1>Pride Community Clinic</h1>
    <section class="cell large-8 large-order-1 medium-8 medium-order-1 small-12 small-order-2">

      <img class="img-margin" src="../../images/frontdesk-prideclinic.jpg" alt="">
      <p>Pride Community Clinic (PCC) is a Student Faculty and Collaborative Practice that, as an extension of the Alamo Area Resource Center LGBT Health Equity Clinic, aspires to create an environment that eliminates barriers to gender and sexual minority healthcare access. The PCC offers primary care for the underserved lesbian, gay, bisexual, transgender, and queer population of San Antonio, and also provides linkages to vital mental health, sexual health, and substance abuse services. The PCC further aims to expose interdisciplinary UT Health San Antonio student volunteers to the medical needs, social concerns, and unique experiences of this population, while propelling relevant education, research, and advocacy for equitable healthcare. The PCC typically operates the first Wednesday of each month from 5-8 pm.</p>
      <h2>Services</h2>
      <ul>
        <li>Lollipop muffin</li>
        <li>Danish fruitcake tart</li>
        <li>Danish lemon drops candy dragée</li>
        <li>Cotton candy jujubes </li>
        <li>Marzipan macaroon pie gingerbread chupa chups</li>
        <li>Cheesecake gummies</li>
        <li>Chocolate cake tiramisu toffee sesame snaps</li>
        <li>Sesame snaps</li>
      </ul>
    </section>
    <aside class="cell large-4 large-order-2 medium-4 medium-order-1 small-12 small-order-1">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3475.018968976352!2d-98.5039288!3d29.428241999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c5f4a4a3407cf%3A0x76afb9ebba975f2c!2s303%20N%20Frio%20St%2C%20San%20Antonio%2C%20TX%2078207!5e0!3m2!1sen!2sus!4v1666023946736!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p class="close"><strong>Location</strong></p>
      <address>
        303 N. Frio St.<br>
        San Antonio, TX 78207
      </address>
      <p class="close"><strong>Parking</strong></p>
      <p>Please park in front of the AARC clinic. The parking is behind the metal gating but open for use.</p>
      <p class="close"><strong>Hours</strong></p>
      <p>First Wednesday of each month from 5-8 PM</p>
      <p class="close"><strong>Phone</strong></p>
      <p class="h5 sans-serif">210-570-7318</p>
    </aside>
  </div>
</div>

<section class="bleed dark-beige noise">
  <div class="grid-container">
    <div class="grid-x grid-margin align-center-middle text-center">
      <div class="cell large-8 medium-8 small-12">
        <h2>Student Volunteers</h2>
        <p>Cake bear claw icing cupcake toffee candy pie pudding carrot cake. Marshmallow sweet brownie shortbread candy donut. Fruitcake brownie bear claw pudding oat cake gummi bears.</p>
        <p><a class="button">Volunteer with ENGAGED</a></p>
      </div>
    </div>

  </div>
</section>



{% include "@components/footer-prototypes/src-no-alamo.twig" %}