{% include "@components/header-prototypes/header-SOD.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7">
                <h1>Pain</h1>
                <p>The Department of Endodontics’ research covers diverse topics with much of our efforts emphasizing translational and basic science research projects that evaluate pain mechanisms. These studies are facilitated by a group of basic scientists with diverse backgrounds and areas of expertise working together as members of the Neuropharmacology Research Group to unravel the mystery of pain.</p>
                <a href="#" class="button">Research</a>
            </div>
            <div class="cell small-12 medium-5">
                <img src="../../images/pain-teeth.jpg" alt="teeth x-ray">            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-SOD.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Research Home</a></li>
        <li><a href="#">Pain Therapeutics and Addiction Research</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Pain
    </li>
  </ul>
</nav>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <p>A practical and reliable source of potent stem cells holds the future of stem cell-based therapies. The major focus of our research is to develop a tissue-specific culture system that mimics the normal physiological environment so that stem cells can be expanded and retain their original function. We have successfully reconstituted a native 3D extracellular matrix (ECM) produced by bone marrow stromal cells, and used it to promote bone marrow-derived mesenchymal stem cell (BM-MSC) replication and retention of multipotentiality. Our aim is to use this unique culture system to produce meaningful quantities of MSCs for stem cell-based therapies.</p>
                <h2>The Latest Facts & Findings</h2>
                <p>The native 3D ECM culture system is adaptable and can be modified to recapitulate a variety of tissue-specific microenvironments. Various applications have included improved replication and osteogenesis of MSCs from aged animals, promotion of salivary gland epithelial cell growth with retained function and enrichment of high quality pancreatic islets for transplantation into type I diabetic patients.</p>

            </main>
            <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="subnav">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li>
    <a href="#">Dental Research Home</a>
  </li>
      <li><a href="#">Center for Pain Therapeutics and Addiction Research</a></li>
      <li><a href="#">Center for Global and Community Oral Health</a></li>
      <li><a href="#">Center for Regenerative Sciences</a></li>
  <li>
    <a href="#">Researchers</a></li>
  <li><a href="#">Graduation with Distinction in Research</a></li>
  <li><a href="#">Other Research Initiatives</a>
  <ul class="nested vertical menu">
      <li><a href="#">COSTAR</a></li>
      <li><a href="#">Critically Appraised Topics (CATs)</a></li>
    </ul></li>
</ul>
            </aside>
        </div>
    </div>
</section>
<section class="bleed color dark-grey">
    <div class="grid-container img-bleed-right">
        <div class="grid-x align-middle">
            <div class="cell large-6 large-order-1 medium-6 medium-order-1 small-12 small-order-2">
                <div class="callout jump-right">
                    <blockquote>“Our research is on the verge of a significant breakthrough. As a scientist, I can think of nothing more important than helping these patients.”<cite>Ken Hargreaves, D.D.S., Ph.D.</cite></blockquote>
                </div>
            </div>
            <div class="cell large-6 medium-6 small-12 small-order-1">
                <img src="../../images/Hargreaves-iamge-dynamic.jpg" alt="dr. Hargreaves">
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">

            <div class="small-12 medium-12 cell">
                <h2 class="margin-bottom text-center">Our Researchers</h2>

            </div>
            <div class="small-12 medium-4 cell">
            <div class="margin-bottom">
                    <img src="../../images/Armen-Akopian.jpg"></div>
                    <h3>Armen Akopian, Ph.D.</h3>
            <p>Research interests include Neuroendocrinology and Neuroimmunology contributions to pain and inflammatory conditions.</p>
            <a class="arrow">Dr. Armen Akopian's profile</a>
            </div>
            <div class="small-12 medium-4 cell">
            <div class="margin-bottom">
                    <img src="../../images/Nikita-Ruparel.jpg"></div>
                    <h3>Nikita Ruparel, MS, DDS, Ph.D.</h3>
            <p>Research interests include inflammatory pain.</p>
            <a class="arrow">Dr. Nikita Ruparel's profile</a>
            </div>
            <div class="small-12 medium-4 cell">
            <div class="margin-bottom">
                    <img src="../../images/Shivani-Ruparel.jpg"></div>
                    <h3>Shivani Ruparel, Ph.D.</h3>
            <p>Research interests include cancer pain mechanisms and the role of OLAMs in pain conditions.</p>
            <a class="arrow">Dr. Shivani Ruparel's profile</a>
            </div>
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>