{% include "@components/header-prototypes/header-TILT.twig" %}
{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a>About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> TILT Triggers
    </li>
  </ul>
</nav>
<section class="grid-container">

  <div class="grid-x grid-margin-x">
    <div class="cell large-10 medium-10 small-12">
      <h1>TILT Triggers</h1>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
		<main class="cell large-8 medium-8 small-12">
			<h2>Tips For Reducing Symptoms</h2>
			<p>Triggers and symptoms will differ from person to person. We encourage everyone to take the QEESI survey. Whether you are TILTed or not, the avoidance of triggers and toxic exposures are a good idea. This is especially true to protect the most vulnerable individuals – children, pregnant women, or the chemically susceptible.</p>
			<h2>How Exposures Affect Pregnancy</h2>
			<img class="img-margin float-right" src="https://tiltresearch.org/wp-content/uploads/sites/46/2017/05/bigstock-Close-up-Of-Belly-Of-Pregnant-141114698-768x512.jpg" style="width: 350px;"><p>Little is known about the long-term health effects of low-level chemical exposures on the developing brain. Researchers today suspect exposures to various medications, pesticides, traffic exhaust, plasticizers, and flame retardants, among others, could play a role in the rising numbers of children diagnosed with Autism Spectrum Disorders. In the absence of definitive scientific information, expectant mothers can take precautions by reducing unnecessary exposures during pregnancy. Below is a list of some of the things moms-to-be can do to reduce unnecessary exposures to chemicals.</p>
			<h2>Common Triggers & Alternative Options</h2>
			<p class="show-for-small-only">Scroll right for more <i class="fas fa-arrow-right"></i></p>
			<div class="table-scroll">
				<table>
					<thead>
						<tr>
							<th>Instead of Using</th>
							<th>Try This</th>
						</tr>
					</thead>

					<tbody>
					<tr>
						<td>Pesticides (indoors or on lawns) or mothballs</td>
						<td>Baits or traps</td>
					</tr>
					<tr>
						<td>Paints, varnishes, glues, polishes with high solvent content</td>
						<td>Low- or no-solvent content paints, water-based finishes and glues</td>
					</tr>
					<tr>
						<td>Bleach, ammonia, disinfectants and strong cleaning products</td>
						<td>Elbow grease, non-toxic soap and water, baking soda and vinegar</td>
					</tr>
					<tr>
						<td>Scented products, perfumes, air fresheners, incense</td>
						<td>Unscented cleansers, laundry detergent, fabric softeners and cosmetics</td>
					</tr>
					<tr>
						<td>Hair coloring, permanents, hair spray, other aerosols</td>
						<td>New haircut, hair gel, or spray-free styling products</td>
					</tr>
					<tr>
						<td>Dry cleaning, odorous soft plastic toys, mattress covers</td>
						<td>Washable toys, bedding and clothing</td>
					</tr>
					<tr>
						<td>Vinyl, pressed wood or particle board, carpeting (traps allergens)</td>
						<td>Ceramic, stone tile or hardwood floors</td>
					</tr>
					<tr>
						<td>Commercial foods that contain pesticides or other questionable ingredients</td>
						<td>Organic foods and foods without additives or artificial colors/flavors</td>
					</tr>
					<tr>
						<td>Tap water</td>
						<td>Filtered water</td>
					</tr>
					</tbody>
				</table>
      </div>
      <h2>Other Possible Triggers</h2>
      <div class="grid-x">
        <div class="cell large-6 medium-6 small-12">
          <p class="close"><strong>Indoor Air Volatile Organic Compounds (VOC’s)</strong></p>
          <ul>
            <li>New Carpet</li>
            <li>Text Plasticizerst</li>
            <li>Formaldehydet</li>
            <li>Fragrancest</li>
            <li>Mold VOCst</li>
          </ul>

          <p class="close"><strong>Solvents</strong></p>
          <ul>
            <li>Glues</li>
            <li>Paints</li>
            <li>Gasoline</li>
            <li>Nail Polish /Remover</li>
          </ul>

          <p class="close"><strong>Combustion-related Products</strong></p>
          <ul>
            <li>Engine Exhause</li>
            <li>Tobacco Smoke</li>
            <li>Oil Well Fire Smoke</li>
            <li>Natural Gas Stoves, Other Appliances</li>
            <li>Gas Heating</li>
            <li>Tar/Asphalt</li>
          </ul>
        </div>
        <div class="cell large-6 medium-6 small-12">
          <p class="close"><strong>Drugs/Medical Devices</strong></p>
          <ul>
            <li>Unusual Vaccine Reactions
            <li>Anesthetics
            <li>Implants
            <li>Antibiotics
            <li>Chemotherapy
          </ul>
          <p class="close"><strong>Pesticides</strong></p>
          <ul>
            <li>Organophosphates
            <li>Carbamates
            <li>Pyridostigmine Bromide
            <li>Pentachlorophenol
            <li>Pyrethrins/Pyrethroids
            <li>DEET
          </ul>
          <p class="close"><strong>Cleaning Agents</strong></p>
          <ul>
            <li>Phenolic Disinfectants
            <li>Ammonia
            <li>Bleach
          </ul>

        </div>
      </div>
		</main>
		<aside class="cell large-4 medium-4 small-12">
      <h2>Resources</h2>
      <div class="loose-list">
        <ul class="no-bullet">
          <li>
            <a>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
              </span>
              <span>Take our free assessment</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-briefcase-medical fa-stack-1x fa-inverse"></i>
              </span>
              <span>Get medical help</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
              <span>Contact us</span>
            </a>
          </li>

        </ul>
      </div>
		</aside>
	</div>
</section>
{% include "@components/footer-prototypes/TILT-footer.twig" %}