{% include "@components/header-prototypes/header-arfa.twig" %}
<section class="full hero bleed img-fill extra-roomy">
    <img src="../../images/ARFA/arfa-home.jpg" alt="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 large-6 medium-6 cell callout">
                <h1>Association of Retired Faculty and Associates</h1>
                <p>A great way for retired faculty, administrative & professional personnel and classified staff of the
                    UT Health family to remain connected.</p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-arfa.twig" %}

<div class="grid-container">
    <section class="grid-x grid-margin-x align-center-middle">
        <main class="cell large-9 medium-8 small-12">
            <p>The Association of Retired Faculty & Associates (ARFA) of UT Health San Antonio is a great way for
                retired
                faculty, administrative & professional personnel and classified staff of the UT Health family to remain
                connected. Spouses are also welcome to join. Members enjoy luncheons, campus events, and an annual
                holiday
                party.</p>

            <p>In addition to serving as a connection point, ARFA supports a scholarship award to a deserving student
                each
                year. Supporting these scholarship awards is our way of investing in the potential of our students and
                the
                impact that they will have in their future careers.</p>

            <p>For more information about ARFA, contact Matt Scott <a>scottm5@uthscsa.edu</a> or <a>210-567-2003</a>.
            </p>

            <p>If you have any questions about UT Health Benefits, contact <a>ben-admin@uthscsa.edu</a> or
                <a>210-567-8847</a>.</p>

        </main>
        <aside class="cell large-3 medium-4 small-12">
            <div class="event">
                <a class="date" href="#">
                    <div class="month">jan</div>
                    <div class="day">10</div>
                </a>
                <div class="details">
                    <div class="name"><a href="#">Event
                            name here</a></div>
                    <div class="date">January 10, 2023</div>
                </div>
            </div>
            <div class="event">
                <a class="date" href="#">
                    <div class="month">jan</div>
                    <div class="day">11</div>
                </a>
                <div class="details">
                    <div class="name"><a href="#">Event
                            name here</a></div>
                    <div class="date">January 11, 2023</div>
                </div>
            </div>
            <div class="event">
                <a class="date" href="#">
                    <div class="month">jan</div>
                    <div class="day">20</div>
                </a>
                <div class="details">
                    <div class="name"><a href="#">Event
                            name here</a></div>
                    <div class="date">January 20, 2023</div>
                </div>
            </div>
            <div class="event">
                <a class="date" href="#">
                    <div class="month">jan</div>
                    <div class="day">22</div>
                </a>
                <div class="details">
                    <div class="name"><a href="#">Event
                            name here</a></div>
                    <div class="date">January 22, 2023</div>
                </div>
            </div>
            <p class="text-center"><a class="button ghost" href="#">View all
                    events</a></p>
        </aside>
    </section>
</div>

{% include "@components/footer-prototypes/arfa-footer.twig" %}