{% include "@components/header-prototypes/header-SHP.twig" %}
<section class="hero bleed">

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 medium-7 small-12">
        <h1>Search for Opportunities</h1>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell large-4 medium-4 small-12">

        <label>
          Search
          <input type="text">
        </label>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <label>
          Opportunity Type
          <select>
            <option value="" selected="selected">All Opportunity Type</option>
            <option value="2">Associate Buy-In, Buy-Out</option>
            <option value="3">Associate Wanted</option>
            <option value="4">Graduate Programs</option>
            <option value="5">Institutional or Public Health Opportunity</option>
            <option value="6">Lease Space / Equipment Available</option>
            <option value="7">Practice for Sale</option>
          </select>
        </label>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <label>
          Location
          <select>
            <option selected="selected" value="0">All Cities</option>
            <option value="abilene">Abilene</option>
            <option value="amarillo">Amarillo</option>
            <option value="argyle">Argyle</option>
            <option value="austin">Austin</option>
            <option value="beaumont">Beaumont</option>
            <option value="big-spring-texas">Big Spring Texas</option><option value="brazoria">Brazoria</option>
            <option value="brownsville">Brownsville</option>
            <option value="burlington">Burlington</option>
            <option value="colleyville">Colleyville</option>
            <option value="converse">Converse</option>
            <option value="copperas-cove">Copperas Cove</option>
            <option value="corpus-christi">Corpus Christi</option>
            <option value="crockett">Crockett</option>
            <option value="dallas">Dallas</option>
            <option value="denison">Denison</option>
            <option value="eagle-pass">Eagle Pass</option>
            <option value="edinburg">Edinburg</option>
            <option value="el-paso">El Paso</option>
            <option value="fort-worth">Fort Worth</option>
            <option value="frisco">Frisco</option>
            <option value="harker-heights">Harker Heights</option>
            <option value="henderson">Henderson</option>
            <option value="houston">Houston</option>
            <option value="kansas-city">Kansas City</option>
            <option value="lake-charles-la">Lake Charles, LA</option>
            <option value="laredo">Laredo</option>
            <option value="lockhart">Lockhart</option>
            <option value="longview">Longview</option>
            <option value="lubbock">Lubbock</option>
            <option value="marble-falls">Marble Falls</option>
            <option value="marshall">Marshall</option>
            <option value="mcallen">McAllen</option>
            <option value="mexia">Mexia</option>
            <option value="mission">Mission</option>
            <option value="nacogdoches">Nacogdoches</option>
            <option value="new-braunfels">New Braunfels</option>
            <option value="orange">Orange</option>
            <option value="palestine">Palestine</option>
            <option value="port-arthur">Port Arthur</option>
            <option value="san-angelo">San Angelo</option>
            <option value="san-antonio">San Antonio</option>
            <option value="canyon-lake">&nbsp;&nbsp;-Canyon Lake</option>
            <option value="san-juan">San Juan</option>
            <option value="seguin">Seguin</option>
            <option value="stephenville">Stephenville</option>
            <option value="the-woodlands">The Woodlands</option>
            <option value="tyler">Tyler</option>
            <option value="universal-city">Universal City</option>
            <option value="weslaco">Weslaco</option>
            <option value="west-columbia">West Columbia</option>
            <option value="wichita-falls">Wichita Falls</option>
          </select>
        </label>
      </div>
      <p><a href="#" class="button">Button CTA</a></p>
    </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-SHPjob.twig" %}
<main class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-8 medium-8 small-12">
      <section>
        <h2><a>Opportunity #1 Title</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #2 Title That Wraps To The Next Line Because The Title Name Is Long</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #3</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #4 Title Here</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #5 Title Is Being Demoed Here</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #6</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #7</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #8(Eight)'s Title Goes Here</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #9</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      <section>
        <h2><a>Opportunity #10 Title Is An Example Of A Long Opportunity Title That Wraps To The Next</a></h2>
        <p>Bear claw gingerbread apple pie halvah apple pie marshmallow. Dessert jelly-o carrot cake lollipop tiramisu icing croissant sesame snaps wafer. Apple pie wafer marzipan jelly-o danish wafer muffin jelly beans. Brownie danish jelly shortbread bonbon. Chocolate bar chupa chups candy liquorice muffin. Candy cheesecake chupa chups dragée jujubes dessert. Cheesecake caramels sweet gingerbread cupcake sweet roll pudding marzipan. Carrot cake caramels sweet roll tart pastry cheesecake. Chocolate bar croissant icing sesame snaps jujubes tootsie roll fruitcake. Cupcake pastry muffin donut dragée gummies bonbon apple pie. Gummi bears sweet roll caramels candy powder cake pudding chocolate cake. Cake halvah sesame snaps halvah sugar plum carrot cake marshmallow. Marzipan tart cupcake bear claw croissant candy chocolate cake. Apple pie chocolate bar muffin brownie bear claw cake. Caramel dessert topping sweet roll sesame snaps apple pie gummies. Bear claw chocolate bar soufflé danish brownie.</p>
      </section>
      {% include "@components/navigation/pagination.twig" %}
    </div>
    <aside class="cell large-4 medium-4 small-12">
      <img src="../../images/shp-2.jpg" alt="">
    </aside>
  </div>

</main>

{% include "@blocks/footer/no-alamo.twig" %}