{% include "@components/header-prototypes/header-prin.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Organizational Chart</h1>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-prin.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-6 cell">
            <h2>PRIN</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu. Blandit volutpat maecenas volutpat blandit aliquam. Lectus urna duis convallis convallis. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Egestas dui id ornare arcu odio ut sem. Scelerisque in dictum non consectetur a erat nam. Ultricies leo integer malesuada nunc vel risus.</p> 
            </main>
            <aside class="small-12 medium-6 cell">
        	<img src="../../images/prin/PRIN_Orgchart.png" alt="Organizational chart">
            </aside>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}