{% include "@components/header-prototypes/STUROP-header.twig" %}
<section class=" hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/STUROP-navbar.twig" %}

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-8">
                <h2 class="h3">Who we are</h2>
                <p>UT Health San Antonio (UTHSA) is a leading academic health center in the United States with a mission
                    to make lives better through excellence in academics, biomedical research, and clinical care. Ideal
                    candidates for this program are anticipated to be current first-year college undergraduates seeking
                    research experience and mentorship, and who exhibit a wide variety of attributes including, but not
                    limited to, a natural curiosity of health and disease, strong communication skills, hard-work
                    ethics, and a sincere dedication to achieving goals.</p>

                <p>Unique aspects of this program include its longitudinal nature, requiring students participate for
                    three, consecutive years. This enables a comprehensive research training experience and development
                    of an extensive and meaningful network of peers and mentors. The first phase of the STUROP program
                    involves a week-long orientation, followed by an intensive, summer research immersion at UTHSA. Each
                    STUROP scholar will have an assigned mentor-pair, one from UTHSA and one from their home institution
                    to support immediate research goals and longer-term career development. Mentors include a faculty
                    member with an active research lab including a designated postdoctoral fellow or advanced graduate
                    student to assist with hands-on training. In the second phase of the program, scholars will
                    participate in year-round activities designed to develop their scientific interests, orient them to
                    expectations in research settings, introduce the principles of responsible research, and socialize
                    them to the research enterprise, to prepare them for successful entry to graduate or professional
                    school.</p>

            </div>
            <div class="cell small-12 medium-4">
                <a class="callout">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>How to Apply</h3>
                </a>
                <a class="callout color grey">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-user-graduate fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Scholar Experience</h3>
                </a>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/STUROP-footer.twig" %}