{% include "@components/header-prototypes/header-ADRC.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">

                <h1>South Texas Alzheimer's Disease Research Center</h1>
                <p>Halvah chocolate cake dessert dragée cookie bear claw tiramisu caramels powder. Topping soufflé bear claw muffin pudding candy canes.</p>
                <p><a class="button">Button CTA</a></p>
			</div>
      <div class="cell large-5 medium-5 small-12">
        
      </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-ADRC.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
        <h2>About Us</h2>
        <p>The University of Texas Health Science Center at San Antonio in partnership with The University of Texas Rio Grande Valley, are bringing expert care to Texas as the state’s only National Institute on Aging (NIA)-designated Alzheimer’s Disease Research Center.</p>
        <p>Working together as the South Texas Alzheimer’s Disease Research Center, the universities will be joining 32 other centers throughout the nation as a designated center of excellence for dementia care and research.</p>
        <p>With this federal designation, the South Texas Alzheimer’s Disease Research Center will extend dementia care and resources throughout Texas while pioneering groundbreaking research to find new ways to detect, diagnose, treat and prevent dementia.</p>
        <p>As the national designated center for South Texas, we will:</p>
        <div class="loose-list">
            <ol>
                <li><strong>Extend dementia care and research throughout Texas</strong>, including San Antonio and surrounding areas to McAllen, Harlingen, Brownsville and all parts of the Lower Rio Grande Valley of Texas, connecting high-risk populations with personalized care and support.</li>
                <li><strong>Pioneer groundbreaking and lifesaving dementia research</strong> through collaboration with other designated centers throughout the nation-collaborations that have produced many of today’s research findings and resources for addressing Alzheimer’s and other dementias.</li>
                <li><strong>Learn from our patients and families</strong> about what is important to them to help shape our research and the future of dementia care.</li>
                <li><strong>Find new ways to detect, diagnose, treat and prevent dementia</strong>, and to improve care for people with dementia and their families.</li>
            </ol>
        </div>

        <h2>Our partners</h2>
        <div class="grid-x">
            <div class="cell large-6 medium-6 small-12">
                <img src="../../images/Biggs-logo.png">
            </div>
             <div class="cell large-6 medium-6 small-12">
                <p>[UTRGV logo]</p>
            </div>
        </div>

    </main>
    <aside class="cell large-4 medium-4 small-12 text-center">
     <h3 class="h4">The impact of Alzheimer’s in Texas</h3>
     <img src="../../images/ADRC-us.png">
     <p><strong>2nd highest deaths</strong></p>
     <p>Texas ranks fourth in the number of Alzheimer’s cases and second in the number of deaths. With this federal designation, we will pioneer groundbreaking and lifesaving research to better serve our community.</p>
     <img src="../../images/ADRC-head.png">
     <p><strong>50% higher risk</strong></p>
     <p>Hispanics and Blacks have a higher risk for developing Alzheimer’s disease. As a designated center of excellence we will bring the most up-to-date knowledge and technology to patients and their families throughout Texas</p>
    </aside>

  </div>
</section>

{% include "@components/footer-prototypes/ADRC-footer.twig" %}