{% include "@components/header-prototypes/header-VPR.twig" %}
<section class="hero full bleed img-fill">
    <img src="../../images/VPR/vpr-cores.jpg" alt="VPR Core Labs members">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout">
                <h1>Core Laboratories</h1>
                <p>Our core labs and facilities, led by internationally recognized faculty advisors and expert technical
                    staff, are ground zero for scientists and collaborators across the globe. We offer support services
                    and cutting-edge technologies to advance basic and translational research.</p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-VPR.twig" %}

<section class="bleed">
    <div class="grid-container">

        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">
                <h2>Institutional Core Labs</h2>
                <p class="margin-bottom">The institutional core labs provide researchers with access to state-of-the-art
                    instrumentation
                    and consultation, including access to advanced research technologies. Detailed information
                    on
                    equipment and fees is available in the iLabs portal or contact the Institutional Core Labs
                    Director, Dr. Ramiro Ramirez-Solis at <a>ramirezsolis@uthscsa</a> for any questions.</p>


                <h3 class="h4"><a href="https://lsom.uthscsa.edu/molecular-medicine/research/basic/">Bioanalytics &
                        Single-cell</a></h3>
                <p class="margin-bottom">Provides standardized, high-quality services to support translational research,
                    including
                    pre-analytical biospecimen single-cell processing and isolation procedures, as well as
                    analytical technologies.</p>

                <h3 class="h4"><a href="https://wp.uthscsa.edu/biospecimen-core/">Biospecimen and Translational
                        Genomics</a></h3>
                <p class="margin-bottom">The Biospecimen and Translational Genomics Core provides services in the areas
                    of collection
                    and banking of biological specimens, including assistance with regulatory document
                    preparation and consenting, tissue processing for histology, DNA and RNA isolation from
                    biological specimens with integrity analysis, SNP genotyping (high throughput and single)
                    and absolute and relative quantification of RNA expression. The core also provides access to
                    a BioRad real-time PCR system, BioRad droplet digital PCR system and Leica Aperio Versa 200
                    digital slide scanning system.</p>

                <h3 class="h4"><a href="https://wp.uthscsa.edu/flow-cytometry/">Flow Cytometry</a></h3>
                <p class="margin-bottom">High-speed cell sorting of up to 4 subpopulations simultaneously, plate sorting
                    of
                    single-cell per well or desired number of cells per well, and multi-parameter (low to high)
                    flow cytometry analysis for cellular profiling and deep immunophenotyping.</p>

                <h3 class="h4"><a href="https://wp.uthscsa.edu/mass-spec/">Mass Spectrometry</a></h3>
                <p class="margin-bottom">Services include molecular mass determination, protein identification,
                    global/discovery
                    proteomics (identification and relative quantification), interactomics, identification of
                    sites of protein modification, and targeted small molecule analysis, all using
                    HPLC-electrospray ionization mass spectrometers with high mass resolution and accuracy.</p>

                <h3 class="h4"><a
                        href="https://lsom.uthscsa.edu/dcsa/research/cores-facilities/optical-imaging/">Optical
                        Imaging</a></h3>
                <p class="margin-bottom">Acquisition and analysis of optical data and imaging of living cells, tissues,
                    and animals.
                </p>

                <h3 class="h4"><a href="https://wp.uthscsa.edu/structural-biology/">Structural Biology</a></h3>
                <p>Advanced, high-field NMR instrumentation and detailed 3-D x-ray crystallography analyses for
                    structural studies of biological macromolecules.</p>

            </div>


            <div class="cell small-12 medium-5 large-4">

                <div class="callout">
                    <h3>iLab for Institutional Cores</h3>
                    <p>A secure portal for requesting and tracking services</p>
                    <p>Reserve an institutional core lab, track your project and related billing, and generate project
                        reports.</p>
                    <div class="button-group">
                        <p><a href="https://www.uthscsa.edu/vpr/core-labs/ilab" class="button">Getting started</a></p>
                        <p><a href="https://uthscsa.corefacilities.org/landing/36"
                                class="button ghost">Login/Register</a></p>
                    </div>
                    <div class="responsive-embed">
                        <iframe width="369" height="233" src="https://www.youtube.com/embed/giLBnqtp7vw"
                            title="Optical imaging core laboratory offers high-end imaging of living cells and tissue"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>

                <div class="callout outline">
                    <h3>Request a Service</h3>
                    <div class="arrow">
                        <ul>
                            <li><a
                                    href="https://uthscsa.corefacilities.org/service_center/show_external/3538?name=bioanalytics-and-single-cell-core">Bioanalytics
                                    & Single-cell</a></li>
                            <li><a
                                    href="https://uthscsa.corefacilities.org/service_center/show_external/3537?name=biospecimen-and-translational-genomics-core">Biospecimen
                                    and Translational Genomics</a></li>
                            <li><a
                                    href="http://uthscsa.corefacilities.org/service_center/show_external/3545?name=ut-health-san-antonio-flow-cytometry-core-facility">Flow
                                    Cytometry</a></li>
                            <li><a
                                    href="http://uthscsa.corefacilities.org/service_center/show_external/3539?name=uthsa-mass-spectrometry-laboratory">Mass
                                    Spectrometry</a></li>
                            <li><a
                                    href="https://uthscsa.corefacilities.org/service_center/show_external/3520?name=optical-imaging-facility">Optical
                                    Imaging</a></li>
                            <li><a
                                    href="https://uthscsa.corefacilities.org/service_center/show_external/3541?name=structural-biology-core">Structural
                                    Biology</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-9 large-9 margin-bottom">
                <h2>Departmental Cores, Facilities & Services</h2>
            </div>
            <div class="cell small-12 medium-6">

                <h3 class="h5">Department of Biochemistry and Structural Biology</h3>
                <div class="arrow">
                    <ul>
                        <li><a href="http://cls.uthscsa.edu/">Center for Light Scattering and Calorimetry</a></li>
                    </ul>
                </div>

                <h3 class="h5">Mays Cancer Center</h3>
                <div class="arrow">
                    <ul>
                        <li><a
                                href="https://www.uthscsa.edu/patient-care/cancer-center/macromolecular-structure-interactions">Macromolecular
                                Structure & Interactions</a></li>
                        <li><a
                                href="https://www.uthscsa.edu/patient-care/cancer-center/next-generation-sequencing-bioinformatics">Next-Generation
                                Sequencing & Bioinformatics</a></li>
                        <li><a href="https://www.uthscsa.edu/patient-care/cancer-center/biostatistics">Biostatistics</a>
                        </li>
                    </ul>
                </div>

                <h3 class="h5">Long School of Medicine (Division of Cardiology)</h3>
                <div class="arrow">
                    <ul>
                        <li><a href="#">Fluoroscope or C-arm Core</a></li>
                    </ul>
                </div>

                <h3 class="h5">Long School of Medicine (Co-Labs with UTSA)</h3>
                <div class="arrow">
                    <ul>
                        <li><a href="https://utcidd.org/medicinal-chemistry-and-synthesis-core-facility/">Medicinial
                                Chemistry and Synthesis Core Facility</a></li>
                        <li><a href="https://utcidd.org/high-throughput-screening-core-facility/">High Throughput
                                Screening Core Facility</a></li>
                    </ul>
                </div>

                <h3 class="h5">Department of Population Health Sciences</h3>
                <div class="arrow">
                    <ul>
                        <li><a href="http://ceb.uthscsa.edu/resources.html">Biomedical Research Investigations
                                Consulting</a></li>
                    </ul>
                </div>

                <h3 class="h5">Greehey Children's Cancer Research Institute</h3>
                <div class="arrow">
                    <ul>
                        <li><a href="http://ccri.uthscsa.edu/genome_sequencing.html">Genome Sequencing Facility</a></li>
                        <li><a href="http://ccri.uthscsa.edu/CBBI.html">Computational Biology & Bioinformatics
                                Initiative</a></li>
                    </ul>
                </div>
            </div>

            <div class="cell small-12 medium-6">

                <h3 class="h5">Department of Microbiology and Immunology</h3>
                <div class="arrow">
                    <ul>
                        <li><a href="http://research.uthscsa.edu/dna/index.asp">Nucleic Acids Core</a></li>
                    </ul>
                </div>

                <h3 class="h5">Nathan Shock Center</h3>
                <div class="arrow">
                    <ul>
                        <li><a href="http://nathanshock.barshop.uthscsa.edu/admin-program-enrichment/">Administrative
                                and Program Enrichment Core</a></li>
                        <li><a href="http://nathanshock.barshop.uthscsa.edu/aging-and-emerging-animal/">Aging Animal
                                Models and Longevity Assessment Core</a></li>
                        <li><a href="http://nathanshock.barshop.uthscsa.edu/bioanalytical-pharmacology/">Bioanalytical
                                Pharmacology and Drug Evaluation Core</a></li>
                        <li><a href="https://nathanshock.barshop.uthscsa.edu/integrated-physiology-aging-core/">Integrated
                                Physiology of Aging</a></li>
                        <li><a href="http://nathanshock.barshop.uthscsa.edu/pathology/">Pathology Core</a></li>
                        <li><a href="http://nathanshock.barshop.uthscsa.edu/research-development/">Research Development
                                Core</a></li>
                    </ul>
                </div>

                <h3 class="h5">Department of Pathology</h3>
                <div class="arrow">
                    <ul>
                        <li><a
                                href="https://lsom.uthscsa.edu/pathology/reference-labs/clinical-molecular-cytogenetics/">Clinical
                                and Molecular Cytogenetics Laboratory</a></li>
                        <li><a href="https://lsom.uthscsa.edu/pathology/reference-labs/electron-microscopy-laboratory/">Electron
                                Microscopy Laboratory</a></li>
                        <li><a href="https://lsom.uthscsa.edu/pathology/reference-labs/fungus-testing-laboratory/">Fungus
                                Testing Laboratory</a></li>
                        <li><a
                                href="https://lsom.uthscsa.edu/pathology/reference-labs/histology-immunohistochemistry-laboratory/">Histology
                                & Immunohistochemistry</a></li>
                        <li><a
                                href="https://lsom.uthscsa.edu/pathology/reference-labs/molecular-diagnostics-laboratory/">Molecular
                                Diagnostics Laboratory</a></li>
                    </ul>
                </div>

                <h3 class="h5">Research Imaging Institute</h3>
                <div class="arrow">
                    <ul>
                        <li><a href="http://ric.uthscsa.edu/biad.php">Biomedical Image Analysis Division</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% include "@components/footer-prototypes/VPR-footer.twig" %}