{% include "@components/header-prototypes/header-TILT.twig" %}
{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a>Blog</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Bilingual Comic Book Explores Asthma Triggers in the Home
    </li>
  </ul>
</nav>
<section class="grid-container">
	<div class="grid-x grid-margin-x">
		<article class="cell small-12 medium-7 large-8">
			<h1>Bilingual Comic Book Explores Asthma Triggers in the Home</h1>
			<ul class="byline">
				<li>Shared By: <a>Cliff E. Despres</a></li>
				<li>October 20, 2022</li>
			</ul>
			<img class="padding-bottom" src="https://tiltresearch.org/wp-content/uploads/sites/46/2022/10/comic-book-on-asthma-tilt-hoffman.jpg">
			<p>Our team at the Hoffman Toxicant-Induced Loss of Tolerance (TILT) Program at UT Health San Antonio is excited to share our bilingual comic book on asthma and allergens in the home.</p>
			<p>The comic book, first published in 2004 and supported by the National Environmental Education & Training Foundation, shows a trio of asthma-fighting heroes that shrink down to help kids fight Al R. Gen, who is leading a team of allergens in trying to get people sick.</p>
			<p>The aim is to help readers identify and clear asthma triggers — such as molds, dust mites, secondhand smoke, and more — in their home.</p>

			<p>View the comic book in <a>English</a> or <a>Spanish</a>.</p>

			<p>“The comics teach about asthma and how it is exacerbated by airway irritants/inflammation and allergens,” said Dr. Claudia S. Miller, allergist/immunologist, professor emeritus, and leader of the Hoffman TILT Program at UT Health San Antonio.</p>

			
			<p class="bold margin-top">Share This Story</p>
			<div class="social">
				<ul>
					<li>
						<a href="#">
							<span class="fa-stack fa-lg">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fas fa-envelope fa-stack-1x "></i>
							</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="fa-stack fa-lg">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
						</a>
						</span>
					</li>
					<li>
						<a href="#">
							<span class="fa-stack fa-lg">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
							</span></a>
					</li>
					<li><a href="#">
							<span class="fa-stack fa-lg">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
							</span></a>
					</li>
					<li><a href="#">
							<span class="fa-stack fa-lg">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
							</span></a>
					</li>
					<li><a href="#">
							<span class="fa-stack fa-lg">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
							</span></a>
					</li>
				</ul>
			</div>
			<p class="bold margin-bottom">Categories</p>
      <ul class="tags">
        <li><a>Tag 1</a></li>
        <li><a>Tag 2</a></li>
        <li><a>Tag 3</a></li>
      </ul>
		</article>
		<aside class="cell small-12 medium-5 large-4">
			<img class="margin-bottom" src="../../images/salsa-labs.png">
      <div class="callout">
				<h2 class="h4">How chemically sensitive are you?</h2>

				<p>Answer these three questions from the Brief Environmental Exposure and Sensitivity Inventory (BREESI):</p>
				<ol>
					<li>Do you feel sick when you are exposed to tobacco smoke, certain fragrances, nail polish/remover, engine exhaust, gasoline, air fresheners, pesticides, paint/thinner, fresh tar/asphalt, cleaning supplies, new carpet or furnishings? By sick, we mean: headache, difficulty thinking, difficulty breathing, weakness, dizziness, upset stomach, etc.</li>
					<li>Are you unable to tolerate or do you have adverse or allergic reactions to any drugs or medications (such as antibiotics, anesthetics, pain relievers, X-ray contrast dye, vaccines or birth control pills), or to an implant, prosthesis, contraceptive chemical or device, or other medical/surgical/dental material or procedure?</li>
					<li>Are you unable to tolerate or do you have adverse reactions to any foods such as dairy products, wheat, corn, eggs, caffeine, alcoholic beverages, or food additives (e.g., MSG, food dye)?</li>
				</ol>

				<p>If you answer YES to any of these three questions, take the <a>Quick Environmental Exposure and Sensitivity Inventory (QEESI)</a> and share the results with your doctor!</p>
			</div>
		</aside>
	</div>
</section>

{% include "@blocks/footer/TILT-footer.twig" %}