{% include "@components/header v2/header-LSOM.twig" %}
<section class="hero bleed img-fill full roomy">
	<img src="https://www.uthscsa.edu/sites/default/files/2018/lsom-home-hd.jpg" alt="placeholder">
	<div class="grid-container">
		<div class="grid-x margin-x">
      <div class="cell large-5 medium-7 small-12">
        <div class="callout">
          <p class="eyebrow close">Joe R. & Teresa Lozano Long </p>
          <h1>School of Medicine</h1>
          <p>As the largest health center in South Texas, we work together to discover better therapies for those with little hope, and we train those who deliver these novel therapies in compassionate and comprehensive medical care. Our goal is to improve health care one patient at a time.</p>
          <p><a href="https://www.uthscsa.edu/academics/medicine/education/ume/admissions" class="button">M.D. Admissions</a></p>
        </div>
      </div>
    </div>
	</div>
</section>
{% include "@components/navigation/navbar-LSOM.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle text-center">
    <section class="cell large-10 medium-10 small-12">
      <h2>Excellence in Education, Care and Research</h2>
      <p>Our team is dedicated to three missions: educating the next generation of physicians, investigating the causes and cures of disease, and providing cutting edge medical care. We have world-class research and patient care centers focusing on cancer, diabetes, aging, Alzheimer’s, substance use, and traumatic stress disorders.</p>
      <div class="grid-x align-center-middle">
        <div class="cell large-3 medium-4 small-8">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/4114-grd_univtxhealthscicen-sanantonio_med_usn_medpc_2023.png" alt="placeholder">
        </div>
        <div class="cell large-3 medium-4 small-8">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/4114-grd_univtxhealthscicen-sanantonio_med_usn_medres_2023.png" alt="placeholder">
        </div>
        <div class="cell large-3 medium-4 small-8">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/4114-grd_univtxhealthscicen-sanantonio_med_usn_med_mdms_2023.png" alt="placeholder">
        </div>
      </div>
    </section> 
  </div>
</section>
<section class="bleed color orange noise">
  <div class="grid-container">
    <div class="grid-x text-center align-center grid-margin-x factoids">
			<div class="cells large-4 medium-4 small-12">
				<p class="supersize">1100</p>
				<p>providers making patients' lives better</p>
			</div>
			<div class="cells large-4 medium-4 small-12"> 
				<p class="supersize">250</p> 
				<p>laboratories discover new ways of treating disease</p>
			</div>
			<div class="cells large-4 medium-4 small-12">
				<p class="supersize">880</p> 
				<p>medical students are medicine's next generation</p>
			</div>
		</div>
  </div>
</section>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-3 medium-6 small-12">
      <a href="https://magazines.uthscsa.edu/schools/future/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/future_crop.jpg" alt="">
        <h3 class="h5">Read our latest edition of Future Magazine</h3>
      </a>
      <p>Special Research Edition: Discover and share inspiring stories highlighting our medical alumni, faculty and students who are revolutionizing education, research, patient care and critical services in the communities they serve.</p>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://news.uthscsa.edu/u-s-news-and-world-report-ranks-the-long-school-of-medicine-in-the-top-50/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/front-of-long-campus.jpg" alt="">
        <h3 class="h5">U.S. News and World Report ranks the Long School of Medicine in the TOP 50</h3>
      </a>
      <p>The Joe R. and Teresa Lozano Long School of Medicine was ranked 36th in medical schools training primary care physicians, 47th in research medical schools, and 25th best medical school for diversity by U.S. News & World Report’s Best Grad Schools for 2022.</p>        
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://news.uthscsa.edu/ut-health-san-antonio-cardio-oncology-program-recognized-as-a-center-of-excellence-2/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/center-of-excellence-prince-otchere-and-gregory-aune_0.jpg" alt="">
        <h3 class="h5">UT Health San Antonio cardio-oncology program recognized as a Center of Excellence</h3>
      </a>
      <p>The cardio-oncology program at The University of Texas Health Science Center at San Antonio has been recognized by the International Cardio-Oncology Society as a Center of Excellence.</p>       
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://news.uthscsa.edu/the-university-of-texas-health-science-center-at-san-antonio-ut-rio-grande-valley-selected-as-nia-alzheimers-disease-research-center/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/istock-514854280-1536x1024-1.jpeg" alt="">
        <h3 class="h5">UT Health San Antonio, UT Rio Grande Valley Selected as NIA Alzheimer's Disease Research Center</h3>
      </a>
      <p>Joining this national network will promote research collaboration, encourage data sharing and open science, and offer information and clinical trials for patients and families affected by Alzheimer’s and related dementias.</p>      
    </div>
  </div>
</section>
<section class="bleed color">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-6">
        <blockquote>
          <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within another element like a bleed.</p>
          <cite>Obi-Wan Kenobi, Jedi Master</cite>
        </blockquote>
      </div>
      <div class="cell small-12 medium-3">
        <img src="http://placekitten.com/300/400" alt="kitty">
      </div>
    </div>
  </div>
</section>
<section>
  {% include "@blocks/feeds/news-events.twig" %}
</section>
{% include "@blocks/footer/LSOM-alamo.twig" %}