{% include "@components/header-prototypes/header-bpal.twig" %}
<section class="hero bleed img-fill full">
	<img src="../../images/BPAL/bpal-laboratory.jpg" alt="person in lab">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
            <div class="cell large-5 small-12 roomy">
                <div class="callout">
                    <h1>Welcome to BPAL</h1>
                    <p>The Biological Psychiatry Analytic Laboratory (BPAL) is located in the Department of Psychiatry & Behavioral Sciences within the Long School of Medicine at UT Health San Antonio.</p>
                    <p><a href="#" class="button">About us</a></p>
                </div>
            </div>
        </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-bpal.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>About This Lab</h2>
            <p>The Biological Psychiatry Analytic Laboratory (BPAL) is an analytical pharmacology laboratory, expert at small molecule measurement. The lab is directed by Dr. Brett Ginsburg, Professor in the department of Psychiatry and Behavioral Sciences. We are expert in measurement of drugs and biomarkers in tissues and drug formulations.located in the Department of Psychiatry & Behavioral Sciences within the School of Medicine at UTHSCSA. The laboratory is fully equipped with the usual items necessary for the functioning of a general biochemistry research and clinical laboratory, and has been in operation for over 35 years. The lab procedures follow GLP standards of operation. Four technicians with decades of cumulative analytical experience perform lab operations. The lab is involved in training students and post-doctroal fellows through the Graduate School of Biological and Biomedical Sciences, a T32 postdoctoral training program in addiction science, as well as other undergraduate research opportunities.</p>
                <p><a class="arrow">Meet the BPAL team</a></p>
        </main>
        <aside class="cell small-12 medium-4">
            <div>
            <img src="../../images/BPAL/BPAL-logo.png" alt="BPAL logo">
            </div>
            <a class="callout color blue flex-child-auto margin-top">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Facilities & Equipment</h3>
        </a>
        </aside>
    </div>
</section>
<section class="bleed light-grey">
    <div class="grid-container">
        <h2 class="text-center">Recent Publications</h2>
        <div class="grid-x grid-margin-x grid-padding-y small-up-1 large-up-4">
            <a class="card cell color orange">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .orange</p>
                </div>
            </a>
            <a class="card cell color orange">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .orange</p>
                </div>
            </a>
            <a class="card cell color orange">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .orange</p>
                </div>
            </a>
            <a class="card cell color orange">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .orange</p>
                </div>
            </a>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}