{% include "@components/header-prototypes/header-okapi.twig" %}
{% include "@components/navigation-prototypes/navbar-okapi.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-12 large-9">
                <h1>Staff</h1>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">J.B. Cantey</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Pommy ipsum Kate and Will pork dripping good old fashioned knees up is she 'avin a laugh
                                completely starkers, it's the dogs bollocks complete mare full English breakast cottage
                                pie. Sausage roll round our gaff a bottle of plonk odds and sods a bit miffed proper
                                scatterbrained Dalek see a man about a dog, how's your father bit of alright ey up off
                                t'pub tallywhacker bog roll bottled it, porky-pies clock round the earhole down the
                                local bargain Betty Weeping Angels cheerio how's your father. Supper bit of alright what
                                a mug half-inch it, bovver boots conked him one on the nose. Nigh Big Ben snotty nosed
                                brat curry sauce flip flops on his bill, I'm off to Bedfordshire absolute jolly hockey
                                sticks naff. </p>
                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Jennifer Duchon</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Pommy ipsum Kate and Will pork dripping good old fashioned knees up is she 'avin a laugh
                                completely starkers, it's the dogs bollocks complete mare full English breakast cottage
                                pie. Sausage roll round our gaff a bottle of plonk odds and sods a bit miffed proper
                                scatterbrained Dalek see a man about a dog, how's your father bit of alright ey up off
                                t'pub tallywhacker bog roll bottled it, porky-pies clock round the earhole down the
                                local bargain Betty Weeping Angels cheerio how's your father. Supper bit of alright what
                                a mug half-inch it, bovver boots conked him one on the nose. Nigh Big Ben snotty nosed
                                brat curry sauce flip flops on his bill, I'm off to Bedfordshire absolute jolly hockey
                                sticks naff. </p>
                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Kathleen Stevens</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Pommy ipsum Kate and Will pork dripping good old fashioned knees up is she 'avin a laugh
                                completely starkers, it's the dogs bollocks complete mare full English breakast cottage
                                pie. Sausage roll round our gaff a bottle of plonk odds and sods a bit miffed proper
                                scatterbrained Dalek see a man about a dog, how's your father bit of alright ey up off
                                t'pub tallywhacker bog roll bottled it, porky-pies clock round the earhole down the
                                local bargain Betty Weeping Angels cheerio how's your father. Supper bit of alright what
                                a mug half-inch it, bovver boots conked him one on the nose. Nigh Big Ben snotty nosed
                                brat curry sauce flip flops on his bill, I'm off to Bedfordshire absolute jolly hockey
                                sticks naff. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Lisa Kilpela</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Pommy ipsum Kate and Will pork dripping good old fashioned knees up is she 'avin a laugh
                                completely starkers, it's the dogs bollocks complete mare full English breakast cottage
                                pie. Sausage roll round our gaff a bottle of plonk odds and sods a bit miffed proper
                                scatterbrained Dalek see a man about a dog, how's your father bit of alright ey up off
                                t'pub tallywhacker bog roll bottled it, porky-pies clock round the earhole down the
                                local bargain Betty Weeping Angels cheerio how's your father. Supper bit of alright what
                                a mug half-inch it, bovver boots conked him one on the nose. Nigh Big Ben snotty nosed
                                brat curry sauce flip flops on his bill, I'm off to Bedfordshire absolute jolly hockey
                                sticks naff. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Joel Tsevat</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Pommy ipsum Kate and Will pork dripping good old fashioned knees up is she 'avin a laugh
                                completely starkers, it's the dogs bollocks complete mare full English breakast cottage
                                pie. Sausage roll round our gaff a bottle of plonk odds and sods a bit miffed proper
                                scatterbrained Dalek see a man about a dog, how's your father bit of alright ey up off
                                t'pub tallywhacker bog roll bottled it, porky-pies clock round the earhole down the
                                local bargain Betty Weeping Angels cheerio how's your father. Supper bit of alright what
                                a mug half-inch it, bovver boots conked him one on the nose. Nigh Big Ben snotty nosed
                                brat curry sauce flip flops on his bill, I'm off to Bedfordshire absolute jolly hockey
                                sticks naff. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Caitlyn Winter</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Pommy ipsum Kate and Will pork dripping good old fashioned knees up is she 'avin a laugh
                                completely starkers, it's the dogs bollocks complete mare full English breakast cottage
                                pie. Sausage roll round our gaff a bottle of plonk odds and sods a bit miffed proper
                                scatterbrained Dalek see a man about a dog, how's your father bit of alright ey up off
                                t'pub tallywhacker bog roll bottled it, porky-pies clock round the earhole down the
                                local bargain Betty Weeping Angels cheerio how's your father. Supper bit of alright what
                                a mug half-inch it, bovver boots conked him one on the nose. Nigh Big Ben snotty nosed
                                brat curry sauce flip flops on his bill, I'm off to Bedfordshire absolute jolly hockey
                                sticks naff. </p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}