{% include "@components/header-prototypes/header-CHC.twig" %}
{% include "@components/navigation-prototypes/navbar-CHC.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-12 large-9">
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Lixin Song</h2>
                        <p class="subheader">Vice Dean for Research & Scholarship Director</h3>

                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Center for Smart and Connected Health Technologies
                                Hugh Roy Cullen Endowed Professor
                                Nancy Smith Hurd President's Chair in Geriatric Nursing & Aging Studies
                            </p>
                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Amy Vondenberger</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Working in the Center for Holistic Care allows me to bring together my decade of
                                clinical experience with my personal mission of patient advocacy with family support, to
                                make a difference to South Texas and hopefully beyond. </p>
                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Dr. Liang Fu</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Working for the Center for Holistic Care allows me to collaborate with multidisciplinary
                                specialists in cancer nursing research, education, and practice, integrating symptom
                                science, implementation science, and biological research to improve healthcare services
                                and outcomes for patients with cancer and their caregivers. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Xiaomeng (Mia) Wang</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> At the Center for Holistic Care, I am offered the unique opportunity to not only bring
                                cutting-edge technologies into the healthcare but also to participate in patient
                                education. This role enables me to empower patients and their caregivers with the
                                knowledge and tools they need to enhance their well-beings. Through these initiatives,
                                we are delivering innovations in healthcare delivery and patient support, ensuring a
                                more informed, healthier future for all. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Deanna Garcia</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Working for the Center for Holistic Care provides new insight into current research and
                                studies to aid this at-risk population. It allows me to collaborate with experts and
                                innovators to expand my experience. It is an amazing team from a broad range of
                                backgrounds that have come together to focus on the health and well-being of patients
                                and their family caregivers. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Lurheinna Rosado-Rivera </h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Hi! My name is Lurheinna Rosado Rivera. I work for CHC/ONRS as a research assistant at
                                UTHSCSA, while currently working of my BSN. I enjoy movies and TV shows. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Marcus Lambert </h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Hello I'm Marcus! I was brought on through the SUNRISE Scholars program here at UTHSCSA.
                                I enjoy mountain biking in the hill country and hanging out at the dog park with my two
                                pups. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Francisco Hernandez III</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p>Hello, I'm Francisco. I've been with ONRS for a few months now and I love the experiences
                                we've shared and the work we're doing for our community. I enjoy playing volleyball and
                                looking towards the next adventure. </p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/CHC-footer.twig" %}