{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero bleed blur img-fill full">
  <img src="../../images/area-diabetes.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 medium-7 small-12">
        <h1>Diabetic & Metabolic Diseases</h1>
        <p class="large">UT Health San Antonio physician-scientists are pioneering world-class research in diabetes and kidney diseases and other metabolic disorders and translating discoveries as they educate our next generation of physician-scientists.</p>
      </div>
      <div class="cell large-5 medium-5 small-12">
        <img src="../../images/area-diabetes.jpg" alt="">
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Strategic Focus Areas</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Diabetic & Metabolic Diseases
    </li>
  </ul>
</nav>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-7 medium-7 small-12">
      <p>Marketing copy related to Institute for Health Promotion & Research. Sesame snaps cotton candy pastry ice cream sugar plum ice cream jelly beans. Jujubes sweet brownie danish dessert muffin cheesecake lemon drops shortbread. Pastry macaroon gummies marshmallow oat cake liquorice.</p>

      <p>Marketing copy related to Center for Renal Precision Medicine. Sesame snaps cotton candy pastry ice cream sugar plum ice cream jelly beans. Jujubes sweet brownie danish dessert muffin cheesecake lemon drops shortbread. Pastry macaroon gummies marshmallow oat cake liquorice.</p>
      
      <p>Marketing copy related to other diabetic and metabolic diseases related institute/center. Sesame snaps cotton candy pastry ice cream sugar plum ice cream jelly beans. Jujubes sweet brownie danish dessert muffin cheesecake lemon drops shortbread. Pastry macaroon gummies marshmallow oat cake liquorice.</p>
      
    </main>
    <aside class="cell large-5 medium-5 small-12">
        <div class="responsive-embed">
            <iframe src="https://www.youtube.com/embed/Tr40n9cduXA" title="video player"></iframe>
        </div>
    </aside>
  </div>
</section>

<section class="bleed color orange noise">
  <div class="grid-container">

    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-award fa-5x"></i></p>
        <p>Under the leadership of <a href="https://scholars.uthscsa.edu/en/persons/kumar-sharma">Dr. Kumar Sharma</a>, holder of the L. David Hillis, M.D. Endowed Chair, the Division of Nephology has been awarded several large NIH grants, including an NIH funded Kidney Precision Medicine Tissue Interrogation grant.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-dna fa-5x"></i></p>
        <p>UT Health San Antonio is the premier site for localizing molecules in human kidney biopsies, redefining causes of common, and rare, kidney disease. </p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-star fa-5x"></i></p>
        <p><a href="https://scholars.uthscsa.edu/en/persons/ralph-a-defronzo">Ralph DeFronzo, M.D.</a>, holder of the Joe R. and Teresa Lozano Long Distinguished Chair in Diabetes and 2017 Harold Hamm International Prize Laureate, is ranked among the Top 6 experts of type 2 diabetes mellitus worldwide according to Expertscape.</p>
      </div>

    </div>
  </div>
</section>

<!--<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                
                <h2>Researcher Spotlight</h2>
                <p class="large">Carolina Solis-Herrera, M.D.</p>
                <p>Pudding gingerbread liquorice biscuit macaroon chocolate cake sweet. Cake topping candy cake gingerbread brownie danish chocolate cake dragée. Carrot cake dessert chocolate cotton candy chupa chups.</p>
                <p><a class="button ghost" href="https://scholars.uthscsa.edu/en/persons/carolina-solis-herrera-2">Dr. Solis-Herrera's profile</a></p>
                
            </div>
            <div class="cell large-5 medium-5 small-12">
                <div class="responsive-embed">
                    <iframe src="https://www.youtube.com/embed/JSAckTJNmF4?si" title="video player"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>-->



<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-4 small-12">
            <a href="https://news.uthscsa.edu/pilot-study-aims-to-improve-diet-patterns-in-asian-americans-with-diabetes/">
                <img src="../../images/ko-jisook.jpg" alt="" class="img-margin">
                <h3 class="h5">Pilot study aims to improve diet patterns in Asian Americans with diabetes</h3>
            </a>
            <p>Dr. Jisook Ko, assistant professor in the School of Nursing, who is a scientist of the Asian Resource Center for Minority Aging Research supported by the National Institute on Aging was selected to receive a pilot grant of $34,920</p>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a href="https://news.uthscsa.edu/san-antonio-partners-pioneer-surgery-aimed-at-reversing-type-2-diabetes-2/">
                <img src="https://uthscsa.edu/sites/default/files/2023-08/diabetes_hand.jpeg" alt="" class="img-margin">
                <h3 class="h5">San Antonio partners pioneer surgery aimed at reversing Type 2 diabetes</h3>
            </a>
            <p>UT Health San Antonio, University Health and Texas Biomedical Research Institute are reporting promising results following a minimally invasive procedure that dissolved abdominal fat in two patients. The goal of the novel procedure is to improve the patients’ health and minimize or reverse the adverse health effects of their Type 2 diabetes.</p>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a href="https://news.uthscsa.edu/ut-health-san-antonio-research-team-tackles-childhood-obesity-with-five-year-1-million-grant-from-baptist-health-foundation/">
                <img src="../../images/dong.jpg" alt="" class="img-margin">
                <h3 class="h5">UT Health San Antonio research team tackles childhood obesity with five-year, $1 million grant from Baptist Health Foundation</h3>
            </a>
            <p>A research team at The University of Texas Health Science Center at San Antonio, also known as UT Health San Antonio, seeks to prevent Hispanic childhood obesity with the help of a five-year, $1 million grant from Baptist Health Foundation of San Antonio.</p>
        </div>
    </div>
</section>


<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-12 text-center">
        <h2>More Information</h2>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <div class="lines">
          <ul>
            <li><a href="https://wp.uthscsa.edu/cpm/">Center for Renal Precision Medicine</a></li>
            <!--<li><a href="https://news.uthscsa.edu/health-condition/diabetes/">News</a></li>-->
          </ul>
        </div>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <div class="lines">
          <ul>
            <li><a href="https://lsom.uthscsa.edu/nephrology/research/">Diabetes & Kidney Health</a></li>
          </ul>
        </div>
      </div>

      <div class="cell large-4 medium-4 small-12">
        <div class="lines">
          <ul>
            
            <li><a href="https://uthscsa.edu/dental/research/topics/diabetes-oral-health">Diabetes & Oral Health</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-12 medium-12 small-12 text-center">
      <h2>In The News</h2>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <a href="https://news.uthscsa.edu/ut-health-san-antonio-collaborative-research-eating-disorder-older-hispanic-women/">
          <img src="../../images/no-img.jpg" alt="" class="img-margin">
          <h3 class="h5">Breaking barriers: Collaborative research on binge eating disorders in older Hispanic women</h3>
      </a>
      <p>Scientists from The University of Texas Health Science Center at San Antonio (UT Health San Antonio) and Trinity University are partnering with the San Antonio Food Bank for a four-year study on eating disorders in a highly targeted population o …</p>
    </div>

    <div class="cell large-4 medium-4 small-12">
      <a href="https://news.uthscsa.edu/ut-health-san-antonio-receives-400000-donation-from-ibc-foundation-for-diabetes-related-kidney-disease-research-2/">
          <img src="https://news.uthscsa.edu/wp-content/uploads/2024/12/Diabetes-1536x1025-1.jpeg" alt="" class="img-margin">
          <h3 class="h5">UT Health San Antonio receives $400,000 donation from IBC Foundation for diabetes-related kidney disease research</h3>
      </a>
      <p>Latest funding brings foundation’s total 2024 support to $2.4 million The IBC Foundation has donated $400,000 to the Joe R. and Teresa Lozano Long School of Medicine at UT Health San Antonio to fund acquisition of a Thermo Altus model mass spectrometer …</p>
    </div>

    <div class="cell large-4 medium-4 small-12">
      <a href="https://news.uthscsa.edu/best-global-universities-ut-health-san-antonio-ranks-among-top-5-for-clinical-medicine/">
          <img src="../../images/no-img.jpg" alt="" class="img-margin">
          <h3 class="h5">UT Health San Antonio ranks among top 5% globally for clinical medicine</h3>
      </a>
      <p>The race to draw the best and brightest students has become an international one, with candidates weighing options not only in their state or country, but also across the globe. Universities likewise face fierce competition globally for top scie …</p>
    </div>
   
  </div>
</section>

<section class="bleed color blue">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-3 medium-3 small-12 text-center">
            <i class="fas fa-heart fa-10x"></i>
        </div>
        <div class="cell large-9 medium-9 small-12">
            <!--<h2>Help advance treatment as a healthy volunteer</h2>
            <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments for diabetic and metabolic related diseases. Take action today; volunteer and play a role in finding a cure. </p>
            <p><a class="button ghost">FindAStudy</a></p>-->
            <h2>Be Part of Our Mission</h2>
            <p>At UT Health San Antonio, we are pioneering the future of healthcare. Join us as we redefine medicine through our groundbreaking research by participating in clinical trials or contributing through giving. Together we can translate today’s innovative discoveries into tomorrow’s life-saving treatments.</p>
            <div class="button-group">
                <p><a href="#" class="button">Learn more about clinical trials</a></p>
                <p><a href="https://makelivesbetter.uthscsa.edu/donate" class="button">Make a gift</a></p>
            </div>
        </div> 
    </div>
  </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}