{% include "@components/header-prototypes/header-VPR.twig" %}
{% include "@components/navigation-prototypes/navbar-VPR.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 small-12">
                <h1>Responsible Conduct of Research</h1>

                <p>Access our support services for conducting research responsibly and stay informed on guidelines,
                    policies and regulations set forth by the institution and governing agencies in the United States.
                </p>

            </div>
            <div class="cell small-12 medium-5">

            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">

                <h3 class="h4"><a href="https://vpr.uthscsa.edu/iDisclose/">Conflict of Interest (iDisclose)</a></h3>
                <p class="margin-bottom">Use iDisclose to disclose any interactions with external entities that may be
                    related to your job at UT Health San Antonio.</p>

                <h3 class="h4"><a href="https://www.uthscsa.edu/vpr/responsible-conduct/research">Responsible
                        Research</a></h3>
                <p class="margin-bottom">Access information guides on ethical research conduct including: animal
                    welfare, human subjects, data acquisition, data management, data sharing, conflict of interest and
                    research misconduct.</p>

                <h3 class="h4"><a href="https://vpr.uthscsa.edu/orca/">Submit to IACUC (ORCA)</a></h3>
                <p class="margin-bottom">The new Online Research Compliance Assistant (ORCA), developed by the Office of
                    the Vice President for Research, is the online protocol management system for the IACUC. It is
                    designed to facilitate all aspects of the IACUC protocol review process.
                </p>

                <h3 class="h4"><a
                        href="https://www.uthscsa.edu/vpr/services/approval/getting-approval-your-human-study">Submit to
                        IRB</a></h3>
                <p>Submit a new study to the Institutional Review Board for review and approval.</p>

            </div>

            <div class="cell small-12 medium-5 large-4">
                <h2 class="h3">Learn More</h2>
                <div class="arrow">
                    <ul>
                        <li><a class="carat-double-before" href="https://wp.uthscsa.edu/compliance/hippa/">HIPAA
                                Compliance Program</a></li>
                        <li><a class="carat-double-before"
                                href="https://www.uthscsa.edu/vpr/responsible-conduct/hrpp">Human Research
                                Protection Program</a></li>
                        <li><a class="carat-double-before" href="http://opa.uthscsa.edu/content/Spotlight">Spotlight on
                                Research Integrity</a></li>
                    </ul>
                </div>

                <a href="https://otc.uthscsa.edu/information-for-inventors/" class="callout color blue">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Invention Disclosure</h3>
                </a>

            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/VPR-footer.twig" %}