	{% include "@components/header-prototypes/header-cheever.twig" %}
	{% include "@components/navigation-prototypes/navbar-cheever.twig" %}
	{% include "@components/navigation/breadcrumbs.twig" %}

	<div class="grid-container">
	    <h1>Student Organizations</h1>
	    <div class="grid-x grid-margin-x">
	        <main class="cell large-8 medium-7 small-12">
	            <p>The Center for Medical Humanities &amp; Ethics sponsors and/or mentors
	                several student groups that share the Center’s mission to “prepare tomorrow’s healers to act with
	                compassion and justice.” These groups allow students to explore their personal interests while
	                developing their professional identity. During this critical time in the development of
	                humanitarian values and empathic practices, students may call on Center faculty, faculty associates
	                and staff to provide mentorship, guidance and support.</p>
	            <p>For more information on student groups please contact the Center for
	                Medical Humanities &amp; Ethics at 210-567-0795 or the Office of Student Life at
	                210-567-2654.</p>

	            <h2 class="h3"><a href="https://www.texashumanities.org/student-organizations/act-together-for-health/">ACT
	                    Together
	                    for Health</a></h2>
	            <p>A community based initiative, dedicated to providing resources and
	                guidance for the over 300,00 uninsured residents in Bexar County.</p>

	            <h2 class="h3">Breastfeeding Education and Support for Teenage Mothers</h2>
	            <p>Interprofessional students prepare expectant teen mothers for
	                breastfeeding their babies and work with Seton Home staff to provide a supportive environment for
	                the practice of breastfeeding.</p>

	            <h2 class="h3"><a
	                    href="https://www.texashumanities.org/global-health/global-health-program-directory/ethiopia-outreach/">Ethiopia
	                    Outreach</a></h2>
	            <p>Students travel to Aleta Wondo, Ethiopia for 3 to 4 weeks each summer to
	                provide free primary care services and to conduct public health research to design sustainable
	                interventions in collaboration with the NGO, CommonRiver.</p>
	            <h2 class="h3"><a href="https://sites.google.com/view/uthsafronteradesalud/home" target="_blank"
	                    rel="noopener noreferrer">Frontera de Salud</a></h2>
	            <p>Interprofessional teams of students bring primary prevention and health
	                education to underserved communities in San Antonio and South Texas colonias. Students learn to
	                treat diverse populations and consider the unique context of care in South Texas.</p>

	            <h2 class="h3">HELP for Better Health</h2>
	            <p>Through a health literacy program, interprofessional students empower
	                residents of San Antonio to make informed decisions about achieving health and wellness and
	                preventing disease.</p>

	            <h2 class="h3"><a
	                    href="https://www.texashumanities.org/student-organizations/gold-humanism-honor-society/">Gold
	                    Humanism Honor Society</a></h2>
	            <p>Comprises individuals who have been recognized for practicing
	                patient-centered medical care by modeling the qualities of integrity, excellence, compassion,
	                altruism, respect and empathy.</p>

	            <h2 class="h3">Humanities in Healthcare</h2>
	            <p>Students increase access to literature and art at the Health Science
	                Center campuses, including public readings, lectures and exhibits, and the annual journal,
	                Connective Tissue.</p>

	            <h2 class="h3"><a
	                    href="https://www.texashumanities.org/global-health/global-health-program-directory/the-banyan/">India
	                    Outreach</a></h2>
	            <p>Students travel to India for 3 weeks each winter to provide free primary
	                care services and educational interventions in collaboration with the NGO, The Banyan.</p>

	            <h2 class="h3"><a href="https://www.facebook.com/groups/MusicArtMedicine/">Music and
	                    Art in Medicine</a></h2>
	            <p>Student-driven community service group combines music and art with
	                healing to build happier and healthier communities.</p>

	            <h2 class="h3"><a href="http://phr-uthscsachapter.weebly.com/">Physicians for Human
	                    Rights</a></h2>
	            <p>As a chapter of the international organization, students promote human
	                rights education through events around the HSC campus and San Antonio community.</p>

	            <h3><a
	                    href="https://www.texashumanities.org/global-health/global-health-program-directory/project-hispaniola/">Project
	                    Hispaniola</a></h3>
	            <p>Students and faculty share medical resources to improve health and
	                address the root causes of poor health in rural communities (bateys) in the Dominican
	                Republic.</p>
	            <h3><a href="http://www.sarefugees.org/">SA Refugee Health
	                    Clinic</a></h3>
	            <p>Interprofessional students and faculty provide primary and preventive
	                health care and prevention for a community of about 5,000 immigrant refugees living in northwest
	                San Antonio.</p>
	            <h3><a href="http://studentrunclinics.org/">Student-Run Free
	                    Clinics</a> (Student Faculty Collaborative
	                Practice)</h3>
	            <p>Students, residents and faculty provide health care services at Alpha
	                Home, San Antonio Metropolitan Ministries, and other community partners in San Antonio, while
	                learning about primary care for the medically underserved, public health, community service, and
	                health care financing.</p>
	            <h3><a
	                    href="https://www.texashumanities.org/global-health/global-health-program-directory/students-going-global-panama/">Students
	                    Going Global – Panama</a></h3>
	            <p>Students learn about primary medical care and deliver needed health care
	                services in the rural, medically underserved community of Cañazas, Panama during Spring
	                Break.</p>
	            <h3><a
	                    href="https://www.texashumanities.org/global-health/global-health-program-directory/vamos-guatemala/">¡Vamos
	                    Guatemala!</a></h3>
	            <p>Students and faculty, in partnership with Woodland Baptist Church,
	                provide free medical care and health education to the Hogar Luis Amigo orphanage and surrounding
	                communities in Quetzaltenango, Guatemala; students also shadow physicians and learn about HIV/AIDS
	                care at the CFLAG clinic in Guatemala City.</p>
	        </main>
	        <aside class="cell large-4 medium-5 small-12">
	            <a class="callout color orange">
	                <span class="fa-stack fa-2x">
	                    <i class="fas fa-circle fa-stack-2x"></i>
	                    <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
	                </span>
	                <h3>ENGAGED</h3>
	            </a>
	        </aside>
	    </div>
	</div>

	{% include "@components/footer-prototypes/cheever-footer.twig" %}