{% include "@components/header-prototypes/header-LSOM.twig" %}
<section class="hero full bleed img-fill chonky">
  <img src="https://www.uthscsa.edu/sites/default/files/2018/alumni_give_header.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-left">
      <div class="cell medium-5 small-12 callout">
        <h1>Make a difference</h1>
        <p>We are committed to enhancing the educational experience of our medical students. Your gift will impact the lives of all current and future medical students and increase their opportunities to create new knowledge and make lives better.</p>
        <a href="https://makelivesbetter.uthscsa.edu/som" class="button">Give today</a>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x align-center text-center">
      <div class="cell large-10 medium-10 small-12">
        <h2>How your contribution helps</h2>
      </div>
    </div>
    <div class="grid-x grid-margin-x align-center text-center padding-top">
      <div class="cell large-4 medium-4 small-12">
        <span class="fa-stack fa-5x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Alumni Class Endowed Scholarships</h2>
        <p>The Alumni Class Endowed Scholarship Program gives alumni the chance to establish named scholarships in honor of their graduating classes to recruit the best and brightest medical students in the nation and around the world.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <span class="fa-stack fa-5x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Student Education Enhancement Fund</h2>
        <p>The Student Education Enhancement Fund goes directly to enrich the educational experience of hundreds of medical students by providing access to programs and learning initiatives on campus and around the world.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <span class="fa-stack fa-5x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Give and Estate Planning </h2>
        <p>Gifts may be designated to support an area meaningful to you, such as scholarships, crucial research to discover cures for diseases that may have touched your own family, community health, or recruitment of exceptional faculty.</p>
      </div>
    </div>
  </div>
</section>
<section class="bleed color">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-6">
        <blockquote>
          <p>"I am very thankful for the scholarships that I received through the Long School of Medicine because they have helped fund my education and allowed me to engage in activities that will help make me a well-rounded physician."</p>
          <cite>Anisha Guda, MS4</cite>
        </blockquote>
      </div>
      <div class="cell small-12 medium-3">
        <img src="https://www.uthscsa.edu/sites/default/files/spotlight/alumnianisha_1.jpg" alt="kitty">
      </div>
    </div>
  </div>
</section>
{% include "@components/footer-prototypes/LSOM-no-alamo.twig" %}



