{% include "@components/header-prototypes/header-hr-onboarding.twig" %}

<section class="hero bleed blur img-fill full">
    <img src="https://placekitten.com/550/287" alt="Placeholder">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
              <h1>Employee Onboarding</h1>
             <p>So, you just accepted an offer, now what? This page will guide you on the next steps.</p>
            </div>
            <div class="cell large-5 small-12">
             <img src="https://placekitten.com/550/287" alt="Placeholder">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-hr-onboarding.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h1 class="h2">Just Accepted an Offer</h1>
            <p class="subheader">These are your next steps</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam sollicitudin tempor id eu nisl nunc mi. Odio aenean sed adipiscing diam donec adipiscing. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Auctor neque vitae tempus quam pellentesque nec nam aliquam sem.</p>
<p>Eget est lorem ipsum dolor sit amet consectetur. Condimentum vitae sapien pellentesque habitant morbi tristique. Euismod nisi porta lorem mollis aliquam ut porttitor. Sit amet facilisis magna etiam tempor orci eu. Dictumst quisque sagittis purus sit amet. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Facilisis gravida neque convallis a cras. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Nunc sed augue lacus viverra vitae congue eu consequat ac. Sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Nisl suscipit adipiscing bibendum est ultricies integer. Ornare quam viverra orci sagittis eu volutpat odio.</p>

                <p><strong>New Employment Orientation Schedule</strong></p>
                <ul>
	<li><strong>First Day Orientation:</strong> You should have received an email with contact information with your 1st day of employment.</li>
	<li><strong>Background Check Request:</strong> Please provide immunizations if applicable.</li>
	<li><strong>I-9 Verification Form:</strong> You will need to provide requested name and addresses/contact information along with requested documents for employment authorization.</li>
	<li><a class="external">Badge and Parking Appointment</a></li>
  <li><a class="file">Microsoft Teams Quick Guide – If your first meeting is virtual.</a></li>
  <li><strong>After UserID Orientation:</strong> What to expect, approximate time to receive "Your next steps" email.</li></ul>
</main>
            <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="service-button report-problem">
                <div class="grid-x">
                    <a class="callout color orange cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="service-button">New Employee Login</h3>
                    </a>
                    </div>
                <div class="callout contact outline margin-top">
        <h2 class="h5">Contact Us</h2>
        <address>
        <strong>Mailing Address</strong>​<br>
          UT Health San Antonio<br>
        7703 Floyd Curl Drive, Mail Code 7972
          San Antonio, TX 78229<br>
        </address>
        <p><a class="arrow coward">Parking and office information</a></p>
        <ul class="fa-ul">
          <li>
            <a>
              <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
              </span>
              <span class="">Careers@uthscsa.edu</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
              </span>
              <span class="">benefits@uthscsa.edu</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                        </span>
              </span> <span class="">210-567-2600</span>
            </a>
          </li>
        </ul>
      </div>
            </aside>
        </div>
    </div>
</section>