{% include "@components/header-prototypes/header-GSBS.twig" %}
<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-7 large-7">
                <h1>Ph.D. in Integrated Biomedical Sciences</h1>
                <p>The Integrated Biomedical Sciences (IBMS) Graduate Program is a cutting-edge, dynamic,
                    multidisciplinary Ph.D. program fueled by the energy and enthusiasm of several hundred scientists
                    throughout the basic science and clinical departments on the UT Health campus, as well as from
                    select off-campus institutions. Students admitted into the IBMS identify a “primary discipline of
                    interest” during their first year. Each of the 7 disciplines (below) has a core curriculum that
                    prepares students for successfully completing investigations in their area of research focus.
                    Importantly, each discipline’s plan of study can be flexible to best serve the needs of each student
                    and all IBMS students have access to all offerings of the program.</p>

                <p><a href="#" class="button">Apply now</a></p>

            </div>
            <div class="cell small-12 medium-5 large-5">

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-GSBS.twig" %}


{% include "@components/navigation/breadcrumbs.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="card light-beige flex-child-auto">
                        <img src="../../images/science-placeholder.jpg">
                        <div class="card-section">
                            <h4>Biochemical Mechanisms in Medicine</h4>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="card light-beige flex-child-auto">
                        <img src="../../images/science-placeholder.jpg">
                        <div class="card-section">
                            <h4>Biology of Aging</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="card light-beige flex-child-auto">
                        <img src="../../images/science-placeholder.jpg">
                        <div class="card-section">
                            <h4>Cancer Biology</h4>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="card light-beige flex-child-auto">
                        <img src="../../images/science-placeholder.jpg">
                        <div class="card-section">
                            <h4>Cell Biology, Genetics, and Molecular Medicine</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="card light-beige flex-child-auto">
                        <img src="../../images/science-placeholder.jpg">
                        <div class="card-section">
                            <h4>Molecular Immunology & Microbiology</h4>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="card light-beige flex-child-auto">
                        <img src="../../images/science-placeholder.jpg">
                        <div class="card-section">
                            <h4>Neuroscience</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="card light-beige flex-child-auto">
                        <img src="../../images/science-placeholder.jpg">
                        <div class="card-section">
                            <h4>Physiology and Pharmacology</h4>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">

                </div>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">

            <div class="margin-bottom">
                <h2 class="ruled h3">Application Deadline</h2>
                {% include "@components/dates/event.twig" %}
                {% include "@components/dates/event.twig" %}
            </div>

            <div>
                <h2 class="ruled h3">Contact us</h2>
                <address>
                    <strong>Program Director</strong><br>
                    Michael Berton, Ph.D.<br>
                    <a href="#">berton@uthscsa.edu</a>
                </address>
            </div>
            <address>
                <strong>Interim Assistant Director of Academic Programs</strong><br>
                Donna Navarro<br>
                <a href="#">navarrod3@uthscsa.edu</a>
            </address>
        </div>
    </div>
    </div>
    </div>

    </div>

    </div>
    </div>
</main>
<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-4 small-12">
                <h2>Requirements</h2>
                <div>
                    <ul>
                        <li>Bachelor's Degree </li>
                        <li> GRE scores are not required for applicants applying to the IBMS Graduate Program</li>
                        <li>Three letters of recommendation</li>
                    </ul>
                </div>
                <p><a class="arrow margin-bottom">See all admission requirements</a></p>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Financial considerations</h2>
                <p> Students receive a stipend of $30,000. Tuition, fees, and basic student health insurance are covered
                    by the program. </p>

            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Characteristics</h2>
                <p> Graduation, student, faculty and institutional statistics for the Integrated Biomedical Sciences
                    Graduate Program. </p>
                <p><a class="arrow" href="#">Our characteristics</a></p>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell large-8 medium-8 small-12">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-12 medium-4 large-3">
                        <img src="http://placekitten.com/300/400" alt="kitty">
                    </div>
                    <div class="cell small-12 medium-8 large-9">
                        <blockquote>
                            <p>A block quotation (also known as a long quotation or extract) is a quotation in a
                                written document, that is set off from the main text as a paragraph, or block of
                                text, and typically distinguished visually using indentation and a different
                                typeface or smaller size quotation. Blockquotes have no margin/padding of their own
                                and should be placed within another element like a bleed.</p>
                            <cite>Obi-Wan Kenobi, Jedi Master</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12 flex-container">
                <div class="callout white flex-child-auto">
                    <h3 class="text-center">Recent news</h3>
                    <div class="lines loose-list">
                        <ul class="no-bullet">
                            <li><a>Faculty Spotlight: Dr. Martin Schwacha, A Musician and a Scientist</a></li>
                            <li><a>Spring 2022 GSBS Travel Awards</a></li>
                            <li><a>TS PhD graduate Lauren Cornell was selected by NASA to participate in a simulated
                                    Mars study</a></li>
                        </ul>
                    </div>
                    <p class="text-center"><a class="button">More IBMS news</a></p>
                </div>
            </div>
        </div>
</section>

{% include "@components/footer-prototypes/GSBS-footer.twig" %}