{% include "@components/header v2/header-police.twig" %}
{% include "@components/navigation/navbar-police.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-7 small-12">
                <h1>Clery Act - The Right to Know</h1>

                <p>The federal <strong>Jeanne Clery Disclosure of Campus Security Policy and Campus Crime Statistics Act
                        (Clery
                        Act),</strong> 20 USC § 1092(f)​, requires colleges and universities, both public and private,
                    participating
                    in federal student aid programs to disclose campus safety information, and imposes certain basic
                    requirements for handling incidents of sexual violence and emergency situations. Disclosures about
                    crime statistics and summaries of security policies are made once a year in an Annual Security
                    Report (ASR), and information about specific crimes and emergencies is made publicly available on an
                    ongoing basis throughout the year.</p>

                <p>The Clery Act is named in memory of Jeanne Clery who was raped and murdered in her residence hall
                    room by a fellow student she did not know on April 5, 1986. Her parents championed laws requiring
                    the disclosure of campus crime information, and the federal law that now bears their daughter's name
                    was first enacted in 1990. It has been amended regularly over the last two decades to keep up with
                    changes in campus safety with the most recent update in 2013 to expand the law's requirements
                    concerning the handling of sexual violence. </p>

                <p>The U.S. Department of Education (ED) is responsible for enforcing the Clery Act. ED's Clery Act
                    Compliance Division is responsible for conducting investigations and issuing findings of violation.
                    Institutions that violate the Clery Act may face warnings, up to $53,907 per violation fines, the
                    limitation or suspension of federal aid, or the loss of eligibility to participate in federal
                    student aid programs. Complaints may be filed with <a>clery@ed.gov</a>.</p>

                <p>Institutions must annually, no later than October 1st, automatically disseminate an Annual Security
                    Report (ASR) to all current students and employees, as well as make it available to all prospective
                    students and employees upon request. Most institutions comply with this requirement by providing a
                    notice, either by postal or e-mail, of where the ASR may be accessed on the institution's website.
                    The ASR must include three years’ worth of crime statistics and summaries of certain security
                    policies and procedures.</p>

            </main>

            <aside class="cell large-4 medium-5 small-12">
                <h2 class="h4 color">Clery Act</h2>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="#">The Right to Know</a></li>
                    <li><a href="#">Campus Security Authority Training and Links</a></li>
                    <li><a href="#">Victim Assistance Resources</a></li>
                    <li><a href="#">Prevention Awareness/Program Schedule</a></li>
                    <li><a href="#">Violence Against Women Act</a></li>
                    <li><a href="#">Responsible Employee Title IX</a></li>
                    <li><a href="#">Annual Security Report & Crime Statistics</a></li>
                </ul>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}