{% include "@components/header-prototypes/header-SON.twig" %}
{% include "@components/navigation-prototypes/navbar-SON.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Research</a></li>
    <li><a href="#">Smart Center home</a></li>
    <li><a href="#">Research Resources</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Telehealth & Connected Health Solutions
    </li>
  </ul>
</nav>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="cell small-12 medium-8 large-8">
<h1 class="h2">Telehealth & Connected Health Solutions</h1><br>
<h2 class="h3">Smart Mirror</h2>
<p>The Smart Mirror uses a Raspberry Pi core to enhance self-care practices and elevates user experiences through innovative technology. This mirror goes beyond traditional reflections by integrating video playback with web browsing capabilities to offer interactive and informative features to enhance user (e.g., patients and students) learning experiences.</p>
</main>
<aside class="cell small-12 medium-4 large-4">
              <img src="../../images/son-smart/mirror.jpg" alt="smart mirror">
        </aside>
</div>
</div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="cell small-12 medium-8 large-8">
<h2 class="h3">SONA: School of Nursing Assistant</h2>
<p>Robot dogs have emerged in health and patient care settings as innovative tools for providing companionship, reducing stress, and assisting with therapy. SONA integrates aspects of care and monitoring into its interactive capabilities with specialized sensors that can monitor health indicators or remind patients to take their medication.</p>
</main>
<aside class="cell small-12 medium-4 large-4">
              <img src="../../images/son-smart/sona.jpg" alt="sona">
        </aside>
</div>
</div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="cell small-12 medium-8 large-8">
<h2 class="h3">Virtual Reality (VR)</h2>
<p>VR technology immerses users in realistic simulations, facilitating a deep understanding of care procedures and techniques. It offers a transformative approach to patient and caregiver education.</p>
</main>
<aside class="cell small-12 medium-4 large-4">
              <img src="../../images/son-smart/vr.jpg" alt="vr">
        </aside>
</div>
</div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="cell small-12 medium-8 large-8">
<h2 class="h3">TeleSensor/Telemonitoring</h2>
<p>TeleSensor/Telemonitoring is a technology-driven approach that focuses on remotely monitoring patient health and vital signs outside of traditional clinical settings. This technology eliminates the need to travel, providing patients in remote areas or those with mobility challenges access to quality healthcare services.</p>
</main>
<aside class="cell small-12 medium-4 large-4">
              <img src="../../images/son-smart/telesensor.jpg" alt="telesensor">
        </aside>
</div>
</div>
</section>
<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San
              Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in
            <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care
            including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website
            (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their
            content, or products and services associated with those sites. The content on this website is intended to be
            used for informational purposes only. Health information on this site is not meant to be used to diagnose or
            treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>