{% include "@components/header-prototypes/header-GSBS.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 small-12">
                <h1>Research</h1>

                <p>UT Health San Antonio is the premier academic research center of the seventh largest city in the
                    country. Our research process emphasizes translational science, taking basic research to
                    pre-clinical research, followed by clinical implementation and public health studies. Our
                    research literally goes from bench to bedside, with over 200 studies conducted on average each
                    year, targeting prevalent diseases and disorders.</p>

                <div class="button-group">
                    <p><a href="#" class="button">Research facilities</a></p>
                    <p><a href="#" class="button ghost">Faculty directory</a></p>
                </div>
            </div>
            <div class="cell small-12 medium-5">
                <div class="responsive-embed">
                    <iframe width="447" height="247" src="https://www.youtube.com/embed/01pDP52UT9g"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-GSBS.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x align-center text-center margin-bottom">
            <div class="cell small-12 medium-9">
                <h2>Areas of Research</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4 large-3">
                <a>
                    <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
                    <h3>Cancer</h3>
                </a>
                <p>Our cancer research brings treatment and therapy to patients of all ages, battling different forms of
                    cancer.</p>
            </div>
            <div class="cell small-12 medium-4 large-3">
                <a>
                    <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
                    <h3>Cardiovascular</h3>
                </a>
                <p>Our cardiovascular research is transforming diagnosis and treatment for patients with heart disease.
                </p>
            </div>
            <div class="cell small-12 medium-4 large-3">
                <a>
                    <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
                    <h3>Diabetes & Kidney Health</h3>
                </a>
                <p>Our diabetes, kidney, and metabolic disorders research seeks to discover better health outcomes to
                    address an alarmingly high comorbidity in the South Texas population.</p>
            </div>
            <div class="cell small-12 medium-4 large-3">
                <a>
                    <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
                    <h3>Infectious Disease</h3>
                </a>
                <p>Our research conducted in infectious disease explores the spread of microorganisms such as bacteria
                    and viruses and seeks to find ways of preventing and minimizing the spread of disease.</p>
            </div>
            <div class="cell small-12 medium-4 large-3">
                <a>
                    <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
                    <h3>Longevity & Aging</h3>
                </a>
                <p>Our research in longevity and aging explores new ways of improving quality of life and lifespan for
                    those with age-related disease.</p>
            </div>
            <div class="cell small-12 medium-4 large-3">
                <a>
                    <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
                    <h3>Military Health</h3>
                </a>
                <p>Our military health research seeks to combat health issues facing our military today.</p>
            </div>
            <div class="cell small-12 medium-4 large-3">
                <a>
                    <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
                    <h3>Neuroscience</h3>
                </a>
                <p>Our research in neuroscience extends from single cell studies to targeting specific neurological
                    diseases, disorders, and trauma.</p>
            </div>
            <div class="cell small-12 medium-4 large-3">
                <a>
                    <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
                    <h3>Regenerative Medicine</h3>
                </a>
                <p>Our research in regenerative medicine ranges from cellular study to engineering new body tissues.</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige noise">
    <div class="grid-container">
        <div class="grid-x text-center align-center">
            <div class="cell large-12">
                <h2>Fueling Research by the Numbers</h2>
                <p>Researchers at UT Health San Antonio contribute to leading publications in numerous fields of
                    specialty and continually compete with institutions nationwide for grants to support research with
                    the potential for high-impact discoveries.<br>
                    <a>Learn more about the Nature Index</a>
                </p>
            </div>
        </div>
        <div class="grid-x text-center align-center factoids">
            <div class="cell small-12">
                <p class="h3 margin-bottom">UT Health San Antonio is ranked</p>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <p class="h2">#39
                </p>
                <p>on the Nature Index among healthcare institutions</p>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <p class="h2">#42
                </p>
                <p>in biomedical sciences</p>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <p class="h2">#44
                </p>
                <p>in cancer research</p>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <p class="h2">#47
                </p>
                <p>in healthcare based on the articles published in the highest quality and most selective impact
                    journals across the natural sciences</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">

            <div class="cell small-12 medium-6 large-7">
                <p class="eyebrow">Innovation Impact</p>
                <h2 class="h3">UT Health San Antonio and Research Partners Lead the Way</h2>
                <p>UT Health San Antonio is committed to training tomorrow's talent, who are relentlessly pursuing
                    discoveries that translate into life-changing, life-saving technologies. Critical to these
                    breakthroughs are our 8 state of the art core lab facilities that create the pathway for
                    investigators to do cutting-edge research leading to treatments for our local and global
                    communities.</p>

                <p><a href="#" class="button">Explore our Core Labs</a></p>
            </div>

            <div class="cell small-12 medium-6 large-5">
                <div class="responsive-embed">
                    <iframe width="621" height="373" src="https://www.youtube.com/embed/FEynE7WBeD8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="bleed color blue rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">

            <div class="cell small-12 medium-5 large-4 medium-order-1 small-order-2">
                <img src="../../images/science-placeholder.jpg" alt="SCIENCE">
            </div>

            <div class="cell small-12 medium-7 large-8 medium-order-2 small-order-1">
                <h2>Collaborative Partnership</h2>
                <p>UT Health San Antonio, located in Military City, U.S.A., has a rich history of research collaboration
                    with the U.S. Department of Veterans Affairs leading to publications in top peer-reviewed journals
                    with global impact. Research partnerships are ground zero for discovery leading to better patient
                    care and outcomes for both active and civilian patients. UT Health San Antonio recognizes the power
                    of partnership and collaboration in research as we seek new knowledge about treatments, cures, and
                    discoveries. Find out more about our collaboration opportunities by contacting the Office of the
                    Vice President for Research at 210-567-3720 or vpr@uthscsa.edu.</p>
            </div>

        </div>

    </div>
</section>
{% include "@components/footer-prototypes/GSBS-footer.twig" %}