{% include "@components/header-prototypes/header-tchatt.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 small-12">
                <h1>Home</h1>

                <p>Pommy ipsum copped a bollocking bit of a div owt Bad Wolf they can sod off, driving a mini bit of
                    alright make a brew yorkshire mixture. Man and his whippet up at the crack of dawn I could reet
                    fancy a nicked, in the goolies. </p>

            </div>

            <div class="cell small-12 medium-5">
                <img src="https://placedog.net/800/533">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tchatt.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell small-12 medium-9">
                <h2>Our Mission</h2>
                <p class="large">Pommy ipsum laughing gear clotted cream anorak, marvelous round our gaff bovver boots
                    ask your
                    mother if don't get your knickers in a twist, old girl how's your father some mothers do 'ave 'em.
                    Knackered
                    any road, best be off sling one's hook knee high to a grasshopper i'll be a monkey's uncle
                    wibbly-wobbly
                    timey-wimey stuff scarper.</p>

                <div class="button-group align-center">
                    <p><a class="button">About Us</a></p>
                    <p><a class="button ghost">Resources</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center text-center margin-bottom">
            <div class="cell large-9 medium-9 small-12">
                <h2>Resources</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color flex-child-auto">
                    <h3 class="ruled">For Students</h3>
                    <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears
                        jelly.</p>
                </a>
            </div>
            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color flex-child-auto">
                    <h3 class="ruled">For Parents</h3>
                    <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears
                        jelly.</p>
                </a>
            </div>
            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color flex-child-auto">
                    <h3 class="ruled">For Counselors</h3>
                    <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears
                        jelly.</p>
                </a>
            </div>
        </div>
</section>-->

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-6">
                <h2>Meet our Team</h2>
                <p>Pommy ipsum laughing gear clotted cream anorak, marvelous round our gaff bovver boots ask your
                    mother if don't get your knickers in a twist, old girl how's your father some mothers do 'ave 'em.
                    Knackered
                    any road, best be off sling one's hook knee high to a grasshopper i'll be a monkey's uncle
                    wibbly-wobbly
                    timey-wimey stuff scarper.</p>

                <p><a class="button">Our Team</a></p>
            </div>

            <div class="cell small-12 medium-6">
                <div class="responsive-embed">
                    <iframe width="409" height="256" src="https://www.youtube.com/embed/x7JZkBprJh8"
                        title="Project ECHO" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-6">
                <h2 class="h3 blue">Our Partners</h2>
                <p>Pommy ipsum not some sort of dosshouse on a stag do sling one's hook flabbergasted fancy a cuppa a
                    right toff slap-head jolly get away with ya cheesed off, chin up atrocious fish and chips tally-ho
                    completely starkers bossy britches</p>
                <div class="arrow loose-list">
                    <ul>
                        <li><a href="#">Partner 1</a></li>
                        <li><a href="#">Partner 2</a> </li>
                        <li><a href="#">Partner 3</a></li>
                        <li><a href="#">Partner 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell medium-6 small-12 flex-container">
                <div class="callout outline flex-child-auto">
                    <p class="text-center"><i class="far fa-envelope-open fa-4x"></i></p>
                    <p>Pommy ipsum fancied a flutter brown sauce jammy git skive, one would be honoured to pezzy little
                        terribly. Trouble and strife cockney a cracking Amelia Pond mush a diamond geezer Union Jack, a
                        right royal knees up ever so lost her marbles plum pudding.</p>
                    <form>
                        <label>Name
                            <input type="text">
                        </label>
                        <label>Email
                            <input type="text">
                        </label>
                    </form>
                    <p class="text-center"><a href="#" class="button">Subscribe</a></p>
                </div>
            </div>
        </div>
</section>


{% include "@components/footer-prototypes/tchatt-footer.twig" %}