{% include "@components/header-prototypes/header-LSOM.twig" %}
{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>Episode 7 - Long Covid (Post-Acute Sequelae of COVID (PASC))</h1>
  <p class="subheader">COVID Minutes Podcast</p>
  <div class="grid-x grid-margin-x">
    <main class="cell large-7 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <ul class="accordion blue" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title heading">Overview</a>
          <div class="accordion-content" data-tab-content>
            <p>This episode addresses the lingering symptoms that occur and remain after an episode of COVID.  Common problem experienced by patients with PASC are discussed and recommendation for common symptoms are provided.</p>
            <p><strong>Target Audience</strong></p>

            <p>This educational activity is designed to meet the educational goals of physicians and other healthcare professionals specializing in infectious diseases, family and community medicine, internal medicine, emergency medicine, and all those involved with the management of patients with coronavirus.</p>
            <p><strong>Learning Objectives</strong></p>
            <ol>
              <li>Discuss the lingering symptoms that occur and remain after an episode of COVID.</li>
              <li>Discuss the most common problem of PASC.</li>
              <li>Provide recommended therapies or modalities for chronic fatigue, anosmia, and brain fog.</li>
            </ol>
            <br>
            <p><strong>Program Registration Information</strong></p>

            <p>Registration Fees - $0.00</p>
            <p><strong>Continuing Medical Education Credit - Accreditation and Designation Statement</strong></p>

            <p>UT Health Science Center at San Antonio is accredited by the Accreditation Council for Continuing Medical Education to provide continuing medical education for physicians.</p>

            <p>UT Health Science Center at San Antonio designates this enduring material for a maximum of .25 <em>AMA PRA Category 1 Credits™</em>. Physicians should claim only the credit commensurate with the extent of their participation in the activity.</p>
            <p><strong>Certificate of Attendance</strong></p>

            <p>Healthcare professionals will receive a certificate of attendance and are asked to consult with their licensing board for information on applicability and acceptance.</p>
            <p>Credit may be obtained upon successful completion of the activity’s evaluation.</p>
            <p><em>Release date:  05/19/2021 Credits expire: 7/25/2023</em></p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Faculty</a>
          <div class="accordion-content" data-tab-content>
            <div class="grid-x">
              <div class="cell large-8 medium-8 small-12">
                <p class="close"><strong>Jan E. Patterson, MD, MS, MACP, FIDSA, FSHEA, CHCP</strong></p>
                <p class="close"><em>Course Director</em></p>
                <p>Professor of Medicine/Infectious Diseases and Pathology<br>Associate Dean for Quality & Lifelong Learning<br>Joe R. and Teresa Lozano Long School of Medicine<br>UT Health San Antonio</p>
                <p>Dr. Patterson is a Professor of Medicine/Infectious Diseases and Associate Dean for Quality & Lifelong Learning at The Joe R. and Teresa Lozano Long School of Medicine, UT Health San Antonio. She is clinician and a healthcare epidemiologist and has served on the Infectious Diseases Society of America Board of Directors and is Past President of the Society for Healthcare Epidemiology of America. She is a longtime infectious diseases consultant to Southwest Texas Regional Advisory Council (STRAC) and has also served on CDC’s Healthcare Infection Practices Advisory Committee and has been a consultant to San Antonio Metro Health Department. She has been a site principal investigator for new antimicrobial agents and is currently a co-investigator for the NIH Adaptive COVID-19 Treatment Trial (ACTT) studies as outlined above and is a sub-investigator for the Novavax SARS-CoV-2 vaccine trial at UT Health and University Hospital.</p>
              </div>
              <div class="cell large-4 medium-4 small-12">
                <img src="https://www.uthscsa.edu/sites/default/files/2018/patterson-jan-thumbnail.jpeg" alt="">
              </div>
            </div>
            <div class="grid-x">
              <div class="cell large-8 medium-8 small-12">
                <p class="close"><strong>Monica Verduzco-Gutierrez, MD</strong></p>
                <p>Professor and Chair<br>Department of Rehabilitation Medicine<br>Joe R. and Teresa Lozano Long School of Medicine<br>UT Health San Antonio</p>
                <p> Dr. Monica Verduzco-Gutierrez is an accomplished academic Physiatrist and Professor and Chair of the Department of Rehabilitation Medicine at the Long School of Medicine at UT Health San Antonio. She previously was a Medical Director of the Brain Injury and Stroke Program at a top three US News and World Report Best Hospital for Rehabilitation.</p>
                <p>Dr. Gutierrez grew up in South Texas, then moved to Houston where she earned her undergraduate degree at Rice University, her medical degree at Baylor College of Medicine, and completed her PM&R residency training at the Baylor College of Medicine-UT Houston Rehabilitation Alliance. She excitedly moved to San Antonio to lead the distinguished Department of Rehabilitation Medicine in 2020. Her area of clinical expertise is the care of patients with traumatic brain injury, stroke rehabilitation, and interventional spasticity management. Most recently, she has developed a Post-COVID Recovery Clinic to help those who were diagnosed with COVID-19 and suffer from various physical, cognitive, and functional difficulties.</p>
              </div>
              <div class="cell large-4 medium-4 small-12">
                <img src="https://www.uthscsa.edu/sites/default/files/2018/monica_vg2.png" alt="">
              </div>
            </div>
            <p><strong>Relevant Financial Disclosures</strong></p>
            <p>Dr. Jan Patterson has disclosed that she is a NIH ACTT co-investigator and sub-investigator for the Novavax SARS-CoV-2 vaccine trial and has received an honorarium from Pfizer for an antifungal symposium and has received honoraria from Medscape.</p>
            <p>Dr. Monica Verduzco-Gutierrez has no relevant disclosures. She has been a paid consultant for Merz, Allergan, Ipsen, Medtronic, and Piramal.</p>
          </div>
        </li>
      </ul>

    </main>
    <aside class="cell large-5 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      <p>05/19/2021 - 07/25/2023, 12:00AM CST Online </p>
      <iframe title="Episode 7 - Long COVID (Post-Acute Sequelae of COVID (PASC))" style="border: none;" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/player-v2/?i=wtm8n-103daf4-pb&from=pb6admin&download=1&share=1&download=1&rtl=0&fonts=Arial&skin=1&btn-skin=3" allowfullscreen="" width="100%" height="150"></iframe>


      <p><a class="button ghost">Claim CME Credit</a></p>

      <h2>Support</h2>
      <p>This program is funded through an educational grant from Gilead, Inc.</p>
    </aside>
  </div>
</div>

{% include "@components/footer-prototypes/LSOM-alamo.twig" %}