{% include "@components/header v2/header-LSOM.twig" %}
<section class="hero bleed img-fill attach-top full">
	<img src="https://www.uthscsa.edu/sites/default/files/2018/18c_2ef_13070105_3784312599_6.jpg" alt="">
	<div class="grid-container">
		<div class="grid-x margin-x">
      <div class="cell large-6 large-offset-6 small-12">
        <div class="callout">
          <h1>Graduate Medical Education</h1>
          <p>We are steadfastly committed to training the next generation of outstanding physicians. Our Office’s major initiatives center around work-life/well-being, educational innovation, health systems science, and professional development. </p>
          <p><a href="#" class="button">Mission & Vision</a></p>
        </div>
      </div>
    </div>
	</div>
</section>
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<main class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 medium-8 small-12">
      <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Residencies</h3>
            <p>Find out more about our ACGME Accredited Residencies.</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Fellowships</h3>
            <p>Find out more about our fellowships.</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Work-Life Wellness</h3>
            <p>Find out how our resident wellness program strives to ensure that residents are both emotionally and academically successful.</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
            </span>
            <h3>House Staff Council</h3>
            <p>Improving patient care by facilitating communication between the residents, the university, the hospitals and our community.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <div class="responsive-embed">
        <iframe src="https://player.vimeo.com/video/433659537?h=c724f27fdb" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h2>Resources</h2>
      <div class="arrow">
        <ul>
          <li><a href="#">Compensation, benefits & contracts</a></li>
          <li><a href="#">Our policies</a></li>
        </ul>
      </div>
      <h2>Contact Us</h2>
      
      <ul class="fa-ul">
        <li>
          <a href="#">
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span>Office for Graduate Medical Education</span>
          </a>
        </li>
        <li>
          <a href="mailto:MedGME@uthscsa.edu">
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span>MedGME@uthscsa.edu</span>
          </a>
        </li>
        <li>
          <a>
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
              </span>
            </span> 
            <span class="">210-567-4431</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>

<section class="bleed color blue rocky">
  <div class="grid-container">
    <div class="grid-x text-center align-center grid-margin-x factoids">
			<div class="cells large-4 medium-4 small-12">
				<p class="supersize">80+</p>
				<p>Over 80 specialties</p>
			</div>
			<div class="cells large-4 medium-4 small-12"> 
				<p class="supersize">7th</p> 
				<p>San Antonio is the 7th largest city in the U.S.</p>
			</div>
			<div class="cells large-4 medium-4 small-12">
				<p class="supersize">850+</p> 
				<p>Over 850 residents and fellows</p>
			</div>
		</div>
  </div>
</section>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell large-7 medium-7 small-12">
        <h2>Clinical partnerships</h2>
        <p>Our major clinical partners are University Health System, South Texas Veteran’s Health Care System (Audie L. Murphy VA Hospital), Brooke Army Medical Center, and the UT Health-San Antonio/M.D. Anderson Mays Cancer Center, the only National Cancer Institute-designated cancer center in South Texas. As the only civilian academic medical center and civilian Level I Trauma Center in the region for adults and pediatrics, we develop the knowledge, people, processes, and medicine to make health happen for our community and beyond.</p>
        <p><a class="button ghost">Clinical Education Training</a></p>
      </div>
      <div class="cell large-5 medium-5 small-12">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/8KTXAaFG9sY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell small-12 medium-4 large-2">
      <img src="http://placekitten.com/300/400" alt="kitty">
    </div>
    <div class="cell small-12 medium-6 large-8">
      <blockquote>
        <p>"My favorite aspect of the cardiology fellowship program is how much the fellows support each other and how committed the faculty are to teaching and giving the best care possible to their patients. I especially enjoy our faculty-fellow WhatsApp group, where the faculty and fellows can share interesting cases and journal articles with lively discussion."</p>
        <cite>Haley Hughston - PGY-5</cite>
        <p><a class="arrow">Optional link here</a></p>
      </blockquote>
    </div>
  </div>
</section>
{% include "@blocks/footer/LSOM-alamo.twig" %}