{% include "@components/header v2/header-LSOM.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                <h1>M.D./M.P.H.</h1>
                <p class="subheader">Doctor of Medcine and Master of Public Health</p>
                <p>Advocates. Educators. Researchers. Doctors.</p>
                <p>The M.D./M.P.H. dual degree is offered by UT Health San Antonio Long School of Medicine and <a href="https://sph.uth.edu/campuses/san-antonio">UT Health Science Center at Houston School of Public Health in San Antonio</a>. The M.D./M.P.H. is designed to prepare students to integrate medical and public health skills as practitioners and researchers. By combining M.D. training with an M.P.H. education, students are better prepared to treat individuals and to address health issues in communities. The MD/MPH program is perfect for students interested in global health, community health, clinical research, infectious disease, health promotion, public policy or administration, environmental medicine, and preventative medicine.</p>
                <div class="button-group">
                    <p><a href="#" class="button">How to apply</a></p>
                </div>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <div class="responsive-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6qm387HECdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Program Highlights</h3>
                        <p>Our dual degree program offers a customized M.P.H. program through in-person and online coursework.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-highlighter fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Professional Development & Training</h3>
                        <p>Mentorship integrated into advising at both institutions, peer mentorship also provided.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Meet Our Team</h3>
                        <p>Leadership and staff from the UT Health School of Public Health and Joe R. and Teresa Lozano Long School of Medicine.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Resources</h3>
                        <p>Resources within the San Antonio community and professional associations, as well as a list of faculty associated with the Long School of Medicine involved in public health work.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-edit fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <h2>Important dates</h2>
            {% include "@components/dates/event.twig" %}
            {% include "@components/dates/event.twig" %}
            {% include "@components/dates/event.twig" %}
            
        </div>
    </div>
</main>
<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 medium-6 small-12">
                <h2>Requirements</h2>
                <ul>
                    <li><a>Long School of Medicine requirements</a></li>
                    <li><a href="https://sph.uth.edu/application/">School of Public Health requirements</a></li>
                </ul>
            </div>
            <div class="cell large-6 medium-6 small-12">
                <h2>Financial info</h2>
                <ul>
                    <li><a href="https://students.uthscsa.edu/financialaid/2014/03/doctor-of-medicine/">Cost of attendance</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section class="bleed dark-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 medium-8 small-12 flex-container">
                <div class="callout white flex-child-auto">
                    {% include "@components/blockquotes/blockquote-image-left.twig" %}
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12 flex-container">
                <div class="callout white flex-child-auto">
                    <div class="quickfact text-center">
                        <p class="h2 sans-serif black close">Tracks available</p>
                        <p>for 4-year and 5-year</p>
                        <p class="h2 sans-serif black close">2007</p>
                        <p>Program was established</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/LSOM-no-alamo.twig" %}