{% include "@components/header-prototypes/header-nathan-shock.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Cores</h1>

            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-nathan-shock.twig" %}
<main>
    <section class="bleed">
        <div class="grid-container roomy">
            <div class="grid-x grid-margin-x text-center">

                <div class="cell medium-6 large-4 small-12">
                    <a href="#">
                        <span class="fa-stack fa-5x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Administrative and Program Enrichment</h4>
                    </a>
                    <p>Strives to enhance the research environment in San Antonio and the South Texas region, while
                        extending its services and programs across the country.</p>
                </div>
                <div class="cell medium-6 large-4 small-12">
                    <a href="#">
                        <span class="fa-stack fa-5x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-history fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Aging Animal and Functional Assessment</h4>
                    </a>
                    <p>Central to the principal objective of the San Antonio Nathan Shock Center: to facilitate
                        development and characterization of mammalian models in which aging has been delayed in order to
                        identify the causes of aging.</p>
                </div>
                <div class="cell medium-6 large-4 small-12">
                    <a href="#">
                        <span class="fa-stack fa-5x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>GeroMetabolism</h4>
                    </a>
                    <p>Supports the overall mission of the San Antonio Nathan Shock Center to enable research that aims
                        to expand our understanding of mechanisms of aging and of age-associated disease.</p>
                </div>
                <div class="cell medium-6 large-4 small-12">
                    <a href="#">
                        <span class="fa-stack fa-5x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Pathology</h4>
                    </a>
                    <p>Age-related pathology increases exponentially with advancing age and is largely responsible for
                        age-related morbidity as well as mortality.</p>
                </div>
                <div class="cell medium-6 large-4 small-12">
                    <a href="#">
                        <span class="fa-stack fa-5x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-dna fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Pharmacology and Drug Design</h4>
                    </a>
                    <p>Serves investigators in the fields of aging and age-related diseases nationwide. The services and
                        expertise we provide help investigators at all stages of their careers, from early stage to
                        senior scientists.</p>
                </div>
                <div class="cell medium-6 large-4 small-12">
                    <a href="#">
                        <span class="fa-stack fa-5x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Research Development</h4>
                    </a>
                    <p>Seeks to expand the scope of research in the basic biology of aging at the university and other
                        institutions in the San Antonio community and to assist in the development of investigators new
                        to the field of aging research for the future needs of biological gerontology.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "@components/footer-prototypes/nathan-shock-footer.twig" %}