{% include "@components/header-prototypes/header-police.twig" %}
{% include "@components/navigation-prototypes/navbar-police.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-8 small-12">
                <h1>Training Schedule</h1>
                <p>Below are a list of currently scheduled training courses that are created to educate and inform
                    individuals on safety practices and protocols to protect yourself and your community. This little
                    excerpt is optional. Pillock absobloodylootely Sonic Screwdriver treacle half-inch it bargain Betty,
                    sausage roll naff off 221B Baker Street yorkshire pudding sweets it's cracking flags</p>

                <h2 class="h3">Active Shooter / Run, Hide, Fight</h2>
                <p>This should be a summary of what the training is about and what can be expected from the
                    training.Pommy ipsum pillock it's cracking flags one would be honoured to willy it's spitting down
                    the village green wedding tackle balderdash it's nicked alright geezer have a bash, wibbly-wobbly
                    timey-wimey stuff ear hole a right corker penny-dreadful chuffed Bad Wolf the fuzz it's cracking
                    flags ever so lovely.</p>

                <div class="event">
                    <div class="date">
                        <div class="month">jul</div>
                        <div class="day">6</div>
                    </div>
                    <div class="details">
                        <div class="name">Zoom Meeting</i></div>
                        <div class="date">July 6, 2022 (12pm CT) - 1HR</div>
                    </div>
                </div>

                <p>Open to: <strong>Everyone</strong></p>

                <p><a class="button">Register</a></p>

                <hr>

                <h2 class="h3">Safety Course Example 1</h2>
                <p>This should be a summary of what the training is about and what can be expected from the
                    training.Pommy ipsum pillock it's cracking flags one would be honoured to willy it's spitting down
                    the village green wedding tackle balderdash it's nicked alright geezer have a bash, wibbly-wobbly
                    timey-wimey stuff ear hole a right corker penny-dreadful chuffed Bad Wolf the fuzz it's cracking
                    flags ever so lovely.</p>

                <div class="event">
                    <div class="date">
                        <div class="month">jul</div>
                        <div class="day">13</div>
                    </div>
                    <div class="details">
                        <div class="name">Teams Meeting</i></div>
                        <div class="date">July 13, 2022 (3pm CT) - 1HR</div>
                    </div>
                </div>

                <p>Open to: <strong>Everyone</strong></p>

                <p><a class="button">Join</a></p>

                <hr>

                <h2 class="h3">Safety Course Example 2</h2>
                <p>This should be a summary of what the training is about and what can be expected from the
                    training.Pommy ipsum pillock it's cracking flags one would be honoured to willy it's spitting down
                    the village green wedding tackle balderdash it's nicked alright geezer have a bash, wibbly-wobbly
                    timey-wimey stuff ear hole a right corker penny-dreadful chuffed Bad Wolf the fuzz it's cracking
                    flags ever so lovely.</p>

                <div class="event">
                    <div class="date">
                        <div class="month">jul</div>
                        <div class="day">20</div>
                    </div>
                    <div class="details">
                        <div class="name">Briscoe Library, UT Health San Antonio Campus</div>
                        <div class="date">July 20, 2022 (11am CT) - 1HR</div>
                    </div>
                </div>

                <p>Open to: <strong>Everyone</strong></p>

                <hr>


            </main>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}