<nav class="nav-bar" id="new-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Programs</a></li>
                    <li><a href="#">Clinical Experiences</a></li>
                    <li><a href="#">Admissions</a></li>
                    <li><a href="#">Outreach</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Student Success</a></li>
                    <li><a href="#">Patient Care</a></li>
            </ul>
        </div>
    </div>
</nav>