{% include "@components/header-prototypes/header-police.twig" %}
{% include "@components/navigation-prototypes/navbar-police.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell large-9 medium-9 small-12">
                <h1 class="margin-bottom-3 text-center">Download our Safety Mobile App</h1>
                <div class="grid-x grid-margin-x align-center text-center margin-bottom-2">
                    <div class="cell medium-6 small-12">
                        <span class="fa-stack fa-3x grey">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-google fa-stack-1x fa-inverse"></i>
                        </span>
                        <h2>Google Play Store</h2>
                        <img src="../../images/googleplaystore.png">
                    </div>
                    <div class="cell medium-6 small-12">
                        <span class="fa-stack fa-3x grey">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-apple fa-stack-1x fa-inverse"></i>
                        </span>
                        <h2>The App Store</h2>
                        <img src="../../images/appstore.png">
                    </div>
                </div>
            </div>

            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-10 small-12">
                    <p><strong>UT Health SAfe is a mobile safety app for students, staff, and faculty</strong></p>
                    <div class="loose-list">
                        <ul>
                            <li>Receive important information like emergency notifications, timely warnings, and
                                other
                                alerts</li>
                            <li>Chat real-time with UT Police dispatch</li>
                            <li>Suspicious activity can be reported to UT Police through in-app reporting</li>
                            <li>Use the Virtual WalkHome feature</li>
                            <li>Access campus and non-campus resources</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}