{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-3.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<aside class="aside cell small-12 medium-5 large-4 margin-top small-order-2 medium-order-2 large-order-1"
				role="complementary" aria-labelledby="images">
				<img src="../../images/portrait-dog.jpeg" alt="adorable corgi" class="img-margin">
				<div class="grid-x grid-margin-x">
					<div class="cell small-4 medium-4 large-4">
						<a data-open="modal-thumbnail-1">
							<img src="../../images/granddaughter-grandma.jpg" alt="adorable corgi"
								class="profile-thumbnail">
						</a>
					</div>
					<div class="cell small-4 medium-4 large-4">
						<a data-open="modal-thumbnail-2">
							<img src="../../images/adorable-corgi.jpg" alt="adorable corgi" class="profile-thumbnail">
						</a>
					</div>
					<div class="cell small-4 medium-4 large-4">
						<a data-open="modal-thumbnail-2">
							<img src="../../images/adorable-corgi.jpg" alt="adorable corgi" class="profile-thumbnail">
						</a>
					</div>
				</div>
				<div class="grid-x">
					<div class="cell">
						<!-- MODAL CONTENTS -1-->
						<div class="reveal modal" id="modal-thumbnail-1" aria-labelledby="modal-thumbnail-1"
							data-reveal>
							<div class="grid-x grid-margin-x">
								<div class="cell medium-12 large-12 flex-container modal-thumbnail-1">
									<div class="flex-child-auto">
										<img src="../../images/granddaughter-grandma.jpg" alt="adorable pup"
											class="img-margin">
									</div>
								</div>
								<button class="close-button" data-close aria-label="Close Accessible Modal"
									type="button">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
						<!-- MODAL CONTENTS-2-->
						<div class="reveal modal" id="modal-thumbnail-2" aria-labelledby="modal-thumbnail-2"
							data-reveal>
							<div class="grid-x grid-margin-x">
								<div class="cell medium-12 large-12 flex-container modal-thumbnail-2">
									<div class="flex-child-auto">
										<img src="../../images/adorable-corgi.jpg" alt="adorable pup"
											class="margin-top">
									</div>
								</div>
								<button class="close-button" data-close aria-label="Close Accessible Modal"
									type="button">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<main class="cell small-12 medium-7 large-8 small-order-1 medium-order-1 large-order-2">
				<h1 class="close"> Glazed Donut, OP, OG</h1>
				<p class="sans-serif h4">Resident/Fellow</p>
				<p>This is an optional bio/summary of the person's background/accomplishments. Bring a spring upon her
					cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon
					chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
				<p class="sans-serif h5 bold">Undergraduate Education</p>
				<p>University of Aphrodisiacs</p>
				<p class="sans-serif h5 bold">Medical School</p>
				<p>University of Bakersfield Health Science Center</p>
				<p class="sans-serif h5 bold">Graduate Education</p>
				<p>University of Bakersfield Health Science Center - Graduate School of Cakes and Pastries</p>
				<p class="sans-serif h5 bold">Fun Facts</p>
				<ul>
					<li>Favorite Restaurant: Chuy's</li>
					<li>Favorite OR Music: Country</li>
					<li>Favorite Procedure: Rising</li>
				</ul>
				<p class="sans-serif h5 bold">Hobbies</p>
				<p>Hanging out with other donuts, baking</p>
				<p class="sans-serif h5 bold">Professional Interests</p>
				<p>Giving people joy and always being consistent</p>
				<p class="sans-serif h5 bold">Publications</p>
				<div class="arrow">
					<ul>
						<li><a>Publication 1</a></li>
						<li><a>Publication 2</a></li>
						<li><a>Publication 3</a></li>
					</ul>
				</div>
				<blockquote class="fancy">
					<p>Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on
						account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm
						spyglass sheet transom heave to.</p>
					<cite>Glazed Donut</cite>
				</blockquote>
			</main>
		</div>
	</div>
</section>
{% include "@blocks/footer/alamo.twig" %}