{% include "@components/header/global-bar.twig" %}
{% include "@components/header/level-3.twig" %}
{% include "@components/navigation/navbar.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<div class="cell medium-12 large-12">
				<nav aria-label="You are here:" role="navigation">
					<ul class="breadcrumbs">
						<li><a href="#">Our Team</a></li>
						<li>
							<span class="show-for-sr">Current: </span> Glazed Donut, OP, OG
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="grid-x grid-margin-x ">
			<aside class="aside medium-12 large-4" role="complementary" aria-labelledby="images">
				<img src="https://placedog.net/450/675" alt="adorable pup" class="margin-bottom">
				<div class="grid-x grid-margin-x">

					<div class="cell medium-12 large-4">
						<a data-open="modal-thumbnail-1">
							<img src="../../images/adorable-corgi.jpg" alt="adorable pup" class="margin-bottom thumbnail" id="images" height="120" class="img-margin thumbnail">
						</a>
										 
						<!-- MODAL CONTENTS -1-->
						<div class="reveal modal" id="modal-thumbnail-1" aria-labelledby="modal-thumbnail-1"
							data-reveal>
							<div class="grid-x grid-margin-x">
								<div class="cell medium-12 large-12 flex-container modal-thumbnail-1">
									<div class="flex-child-auto">
										<img src="https://cdn.trendhunterstatic.com/thumbs/pandaloon.jpeg"
											alt="adorable pup" class="img-margin ">
									</div>
								</div>
								<button class="close-button" data-close aria-label="Close Accessible Modal"
									type="button">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
						</div>
						<div class="cell medium-12 large-4">
							<a data-open="modal-thumbnail-2">
							<img src="https://placedog.net/150/100" alt="adorable pup"
									class="img-margin thumbnail">
									</a>
							<!-- MODAL CONTENTS -2-->
							<div class="reveal modal" id="modal-thumbnail-2" aria-labelledby="modal-thumbnail-2"
								data-reveal>
								<div class="grid-x grid-margin-x">
									<div class="cell medium-12 large-12 flex-container modal-thumbnail-2">
										<div class="flex-child-auto">
											<img src="https://images.squarespace-cdn.com/content/v1/58909dda6b8f5ba2eda09210/1540318548523-XCQAXRIL8LVO2H630S3U/Harry+Potter+Birthday+Party+for+Dogs+on+The+Dapple+Dog+Lifestyle+Blog.+Featuring+Butter+Beer+Recipe%2C+Chocolate+Frog+Recipe%2C+Harry+Potter+Cake%2C+and+more+diys.?format=2500w"
												alt="adorable pup" class="margin-top thumbnail">
										</div>
									</div>
									<button class="close-button" data-close aria-label="Close Accessible Modal"
										type="button">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>
						</div>
						<div class="cell medium-12 large-4">
							<a data-open="modal-thumbnail-3"><img src="https://placedog.net/150/100" alt="adorable pup"
									class="img-margin thumbnail"></a>
						</div>
					</div>
			</aside>
			<main class="cell medium-12 large-8">
				<h1 class="close"> Glazed Donut, OP, OG</h1>
				<p class="sans-serif h4">Resident/Fellow</p>
				<p>This is an optional bio/summary of the person's background/accomplishments. Bring a spring upon her
					cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon
					chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
				<p class="sans-serif h5 bold">Undergraduate Education</p>
				<p>University of Aphrodisiacs</p>
				<p class="sans-serif h5 bold">Medical School</p>
				<p>University of Bakersfield Health Science Center</p>
				<p class="sans-serif h5 bold">Graduate Education</p>
				<p>University of Bakersfield Health Science Center - Graduate School of Cakes and Pastries</p>
				<p class="sans-serif h5 bold">Fun Facts</p>
				<ul>
					<li>Favorite Restaurant: Chuy's</li>
					<li>Favorite OR Music: Country</li>
					<li>Favorite Procedure: Rising</li>
				</ul>
				<p class="sans-serif h5 bold">Hobbies</p>
				<p>Hanging out with other donuts, baking</p>
				<p class="sans-serif h5 bold">Professional Interests</p>
				<p>Giving people joy and always being consistent</p>
				<p class="sans-serif h5 bold">Publications</p>
				<ul class="arrow">
					<li><a>Publication 1</a></li>
					<li><a>Publication 2</a></li>
					<li><a>Publication 3</a></li>
				</ul>
				<blockquote class="fancy">
					<p>Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on
						account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm
						spyglass sheet transom heave to.</p>
					<cite>Glazed Donut</cite>
				</blockquote>
			</main>
		</div>
	</div>
</section>
{% include "@components/footer/alamo.twig" %}