{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>About</h1>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <h2 class="h4 close">Integrity</h2>
                <p>Business Affairs conducts its work with unwavering integrity, ensuring transparency,
                    accountability, and ethical practices in every aspect of its operations.</p>

                <h2 class="h4 close">Resourcefulness</h2>
                <p>Together, we embrace creative thinking and maximize the potential of our available tools to
                    overcome challenges and achieve our goals.</p>
            </div>
            <div class="cell small-12 medium-6">
                <h2 class="h4 close">Collaboration</h2>
                <p>We strive to grow and succeed together by fostering collaboration internally and externally,
                    uniting our efforts to achieve the mission of our institution with integrity, innovation, and
                    shared purpose.</p>

                <h2 class="h4 close">Commitment</h2>
                <p>Business Affairs remains steadfast in its commitment to upholding the university's core values
                    and advancing its mission with integrity, professionalism, and collaboration.</p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}


<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-7 large-8">
                <p>It is the commitment of all the departments of Business Affairs to provide excellent business
                    support,
                    performing the financial transactions of the university in an efficient, timely, and accurate
                    manner,
                    with the highest degree of professionalism toward the university community and our external
                    stakeholders.</p>

                <p>Our goal is to perform the routine financial, payment, accounting and materials management tasks of
                    the
                    university in a manner that assists all to successfully carry out the missions of the university.
                </p>

                <p>We are committed to providing the highest level of service to our students in accounting for the
                    financial obligations of their academic programs. We are committed to assisting faculty in the
                    pursuit
                    of funding for our critical research activities. We are also committed to carefully accounting for
                    extramurally funded activities according the wishes of our sponsors and sound business practice.
                    Finally, we are committed to assisting all our organizational units to understand and successfully
                    manage the financial resources that are available to fund our missions.</p>

                <p>Business Affairs continually strives for improvement, efficiency and expanded automation in our
                    business
                    processes and systems. In this way, all members of the university have access to the very best
                    financial
                    tools to transact the business of our schools and operations, and to account for the activities that
                    advance the missions with which we are all charged.</p>

            </main>
            <aside class="cell small-12 medium-5 large-4">
                <div class="cell small-12 medium-6 large-4 flex-container">
                    <a class="callout color grey flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Internal Login</h3>
                    </a>
                </div>
                <div class="callout beige">
                    <h4 class="h6 sans-serif"><strong>UT Health San Antonio</strong></h4>
                    <address>
                        Academic Administration Bldg - 4th Floor<br>
                        Mail Code 7866<br>
                        7703 Floyd Curl Drive<br>
                        San Antonio, TX 78229-3900​​<br>
                        <a>210-567-7020</a><br>
                    </address>
                </div>
            </aside>
        </div>
    </div>
</section>


{% include "@components/footer-prototypes/ba-footer.twig" %}