{% include "@components/header-prototypes/header-tcmhcc.twig" %}
{% include "@components/navigation-prototypes/navbar-tcmhcc-2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-7 large-8 cell">

                <h1>Student Referral Process</h1>

                <ul>
                    <li>The school counselor or TCHATT liaison identifies a student that needs services.</li>
                    <li>Counselor discusses these services with parent/guardian and ensures that the required consent
                        forms have been signed. If the parent/guardian agrees to TCHATT, the counselor/liaison will
                        collect
                        some basic information to share with TCHATT.</li>
                    <li>The school counselor/TCHATT liaison then makes a referral to TCHATT through the Trayt School
                        Portal.</li>
                    <li>Once the parent signs the new patient forms and creates a UT Health San Antonio MyChart account,
                        TCHATT will call the parent to schedule an appointment.</li>
                    <li>If the parent requests a school visit, TCHATT contacts school staff to set up the appointment.
                    </li>
                    <li>The patient logs into the visit through the MyChart Patient Portal or a link is provided to the
                        counselor for the scheduled appointment.</li>
                </ul>

                <h2 class="h3">District Partnership with TCHATT</h2>
                <p>Have a district administrator contact TCHATT and receive a MOU that is signed and returned to
                    <a>tchattsupport@uthscsa.edu</a>. UT Health officials will then review and sign the MOU and after
                    sending
                    the finalized MOU to the district designee, your district will be given a tentative TCHATT start
                    date for services based on clinical capacity to onboard new clients.</p>
            </main>

            <aside class="cell small-12 medium-5 large-4">
                <div class="callout outline blue">
                    <h2 class="h4 text-center">Contact Us</h2>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">TCHATT@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">(210) 567-5460</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">Facebook Page</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i></span>
                                </span> <span class="">@twitter_handle</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}