{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>Research & Clinical Trials</h1>
                <p class="large">Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
                <p><a class="button">Publications</a></p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <h2>About</h2>
            <p>Pudding donut sweet macaroon cheesecake powder jelly. Candy canes halvah dessert dragée carrot cake. Danish toffee halvah lollipop cheesecake caramels liquorice jelly. Cake sweet roll tootsie roll chocolate cake powder. Danish lemon drops tiramisu muffin liquorice chocolate bar lemon drops gummi bears. Powder biscuit gingerbread pudding cookie carrot cake toffee pie. Tart jelly beans dragée halvah sweet dragée pie bear claw. Dragée candy canes jelly-o sweet muffin cotton candy. Jujubes bear claw sesame snaps sesame snaps lemon drops dragée caramels ice cream marzipan. Candy canes gummi bears dessert sweet roll soufflé lollipop pastry jelly beans cotton candy. Croissant chupa chups chupa chups pie gummi bears sweet roll. Gingerbread icing topping chupa chups halvah.</p>
            <p>Sweet roll cake tiramisu jelly marshmallow chocolate cake. Bear claw dragée candy canes sugar plum jujubes. Soufflé brownie cookie cookie tart jelly beans wafer lollipop chocolate cake. Bear claw sweet roll oat cake jelly cake shortbread. Cake powder ice cream lemon drops oat cake cake pudding toffee pie. Liquorice marzipan apple pie candy canes sweet. Chocolate chocolate cake sweet croissant tiramisu oat cake wafer ice cream pastry. Biscuit bear claw gummies cupcake apple pie chocolate bar jelly beans cake carrot cake. Ice cream gingerbread pie cheesecake donut donut apple pie. Cupcake jelly-o carrot cake jujubes croissant lemon drops cheesecake. Cotton candy fruitcake topping cotton candy jelly-o tootsie roll. Croissant dessert gummi bears ice cream wafer apple pie candy jujubes marzipan.</p>
            <h2>Mission</h2>
            <p> Bonbon macaroon chocolate cake candy bear claw lollipop dragée tart candy. Sweet cheesecake cake macaroon ice cream gummies. Marzipan oat cake lemon drops brownie jelly-o jelly beans. Pie fruitcake tootsie roll cheesecake powder jelly caramels pastry dragée. Dragée brownie liquorice cake dragée. Carrot cake liquorice biscuit gingerbread cake cupcake cake. Muffin gingerbread biscuit gummies cupcake. Cheesecake sugar plum sweet chocolate bar muffin muffin. Marzipan fruitcake dessert chocolate cake bonbon biscuit topping.</p>
            <h2>Meet the Team</h2>
            <div class="grid-x grid-margin-x">
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <h2 class="text-center">Featured Projects</h2>
            <div class="lines">
                <ul>
                    <li><a>Pudding donut sweet macaroon cheesecake powder jelly</a></li>
                    <li><a>Danish lemon drops</a></li>
                    <li><a>Cake powder ice cream lemon drops oat cake</a></li>
                    <li><a>Dessert cheesecake oat cake pie dragée gummi bears</a></li>
                    <li><a>Chocolate bar tiramisu oat cake cupcake chocolate bar cupcake tart</a></li>
                    <li><a>Liquorice marzipan</a></li>
                    <li><a>Shortbread caramels bear claw</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% include "@components/footer-prototypes/bewell-footer.twig" %}
