{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 large-7 cell">
                <h1>Research & Clinical Trials </h1>
                <p class="large">Research is the cornerstone of our mission to advance substance use treatment and recovery. Our expert team leads innovative studies and programs designed to improve care, inform best practices, and transform systems. Together, we are shaping a healthier future for communities across Texas. </p>
                <p><a class="button" href="mailto:bwtxresearch@uthscsa.edu">Connect with our research team</a></p>

            </div>
            <div class="cell large-5 medium-5 small-12">
              <div class="responsive-embed">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/slC3Zyt-ux8?si=lQsERS_QsBOPOQhm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
        <div class="cell large-8 medium-8 small-12">
            <p>Our research is funded by the National Institutes of Health (NIH), the Texas Health and Human Services Department, and pharmaceutical companies worldwide. We also collaborate with industry-led initiatives to advance innovative treatments. </p>
            
        </div>
        <div class="cell large-4 medium-4 small-12">
            <div class="loose-list">
        <ul class="no-bullet">
          <li>
            <a href="https://redcap.uthscsa.edu/REDCap/surveys/?s=DJHYKYDE83">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-clipboard fa-stack-1x fa-inverse"></i>
              </span>
              <span>Join a clinical trial</span>
            </a>
          </li>
          <li>
            <a href="https://redcap.uthscsa.edu/REDCap/surveys/?s=N9FHMTFYYR9H7879">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-check fa-stack-1x fa-inverse"></i>
              </span>
              <span>Students & Faculty learn more</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-users fa-stack-1x fa-inverse"></i>
              </span>
              <span>Meet the Team</span>
            </a>
          </li>
        </ul>
      </div>
        </div>
        <div class="cell large-12 medium-12 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-12 medium-12 small-12">
                    <h2>Research Initiatives </h2>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a>
                        <img src="https://placedog.net/450" alt="">
                        <h3>Peer Recovery Innovation Network (PRIN)</h3>
                    </a>
                    <p>PRIN advances recovery science by setting a research agenda, fostering collaboration, and expanding the recovery science workforce through training and mentorship. </p>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a>
                        <img src="https://placedog.net/450" alt="">
                        <h3>Accelerating the Adoption of Medication-Based Treatment for Stimulant Use Disorder</h3>
                    </a>
                    <p>This pilot study explores provider and patient perspectives on the challenges and opportunities for delivering medication- assisted treatment and resources for stimulant use disorder.</p>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a>
                        <img src="https://placedog.net/450" alt="">
                        <h3>KIOS</h3>
                    </a>
                    <p>A virtual clinical trial to examine the efficacy of using a smartphone app-based intervention to treat opioid use disorder in patients receiving buprenorphine. </p>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a>    
                        <img src="https://placedog.net/450" alt="">
                        <h3>Dr. Wright’s R21</h3>
                    </a>
                    <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
                </div>
                
                <div class="cell large-4 medium-4 small-12">
                    <a>
                        <img src="https://placedog.net/450" alt="">
                        <h3>Dr. Okafor’s Project 1</h3>
                    </a>
                    <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a>    
                        <img src="https://placedog.net/450" alt="">
                        <h3>Dr. Okafor’s Project 2</h3>
                    </a>
                    <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a>
                        <img src="https://placedog.net/450" alt="">
                        <h3>Dr. Bone’s K-award</h3>
                    </a>
                    <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
                </div>
            </div>
            <!--<h2>Meet the Team</h2>
            <div class="grid-x grid-margin-x">
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://placedog.net/290/400" alt="">
                    <h4>Researcher's Name</h4>
                </div>
            </div>-->
        </div>
        <!--<div class="cell large-4 medium-4 small-12">
            <a class="callout color orange" href="https://redcap.uthscsa.edu/REDCap/surveys/?s=DJHYKYDE83">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-clipboard fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Join a clinical trial</h4>
            </a>

            <a class="callout color blue" href="https://redcap.uthscsa.edu/REDCap/surveys/?s=N9FHMTFYYR9H7879">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Students & Faculty learn more </h4>
            </a>

            <a class="callout color dark-grey">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Meet the Team</h4>
            </a>
        </div>-->
    </div>
</section>

<section class="bleed color orange">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell large-10 medium-10 small-12">
                <h2>Participate in a Clinical Trial</h2>
                <p><a class="button" href="https://redcap.uthscsa.edu/REDCap/surveys/?s=DJHYKYDE83">Sign up here!</a>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/bewell-footer.twig" %}
