{% include "@components/header v2/header-mission.twig" %}


<section class="hero white left bleed img-fill extra-roomy">
	<img src="../../images/riverwalk.jpg" alt="san antonio river walk">
	<div class="grid-container">
		<div class="grid-x margin-x">
            <div class="cell large-5 medium-5 small-12 callout white">
                    <h1 class="h2">Community</h1>
                    <p>Engaging our community to improve health. Influencing thoughtful advances in health policy.</p>
            </div>
        </div>
	</div>
</section>

<main class="grid-container">
    <section class="grid-x grid-margin-x align-center">
        <div class="cell large-10 medium-10 small-12 text-center">
                <h2>Building Collaborative Relationships</h2>
            <p class="sans-serif">UT Health San Antonio is improving the lives of its community through meaningful partnerships with nonprofits and other organizations who share our vision of a healthy community.</p>
        </div>
    </section>
</main>

<section class="bleed roomy light-beige">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-12 medium-4 cell text-center">
            <a href="#">
                <span class="fa-stack fa-5x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
                </span>
                <h2 class="h3">Community News</h2>
            </a>
        </div>
        <div class="small-12 medium-4 cell text-center">
            <a href="#">
                <span class="fa-stack fa-5x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h2 class="h3">Our Partners</h2>
            </a>
        </div>
        <div class="small-12 medium-4 cell text-center">
            <a href="#"><span class="fa-stack fa-5x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-calendar fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="h3">Community Events</h2>
            </a>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-6 large-5 text-center card">
                <div class="card-section">
                    <img src="https://picsum.photos/534/300">
                    <h2 class="h4">Official Health Care Partner of UTSA Athletics</h2>
                    <p>UT Health San Antonio is the official healthcare partner for UTSA athletics delivering access to distinguished providers for primary care, orthopaedics, physical therapy, and other specialties including imaging and surgical services.</p>
                    <p><a href="#" class="arrow">About the UTSA Athletics partnership!</a></p>
                </div>
        </div>
        <div class="cell small-12 medium-6 large-5 text-center card">
            <div class="card-section">
                <img src="https://picsum.photos/534/300">
                <h2 class="h4">Community Partner Highlight: Salud America!</h2>
                <p>Salud America! is a national Latino-focused organization that creates culturally relevant and research-based stories and tools to inspire people to drive healthy changes to policies, systems, and environments for Latino children and families.</p>
                <p><a href="#" class="arrow">More about Salud America!</a></p>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/mission.twig" %}