{% include "@components/header-prototypes/header-superhero-IA.twig" %}
<section class=" hero gradient left white bleed img-fill">

  <img src="../../images/hospital-multi.jpg" alt="Hospital">
    <div class="grid-container roomy">
		<div class="grid-x grid-margin-x align-left">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout white">
          <h1>Supporting UT Health San Antonio</h1>
          <p>Now under construction is the UT Health San Antonio Multispecialty & Research Hospital. Slated to open in fall 2024, the hospital will be a cornerstone of advanced care for the region and beyond.</p>
    <p><a class="button">Support the Hospital Fund</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-IA.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2>Giving to make lives better</h2>
                <p>Without the generous support of alumni, friends, faculty, staff, foundations and corporations, UT Health San Antonio would not be able to fulfill its missions in education, research, patient care and community service. Your philanthropic support allows us to educate the next generation of health care professionals, perform translational research designed to prevent or treat diseases prevalent in South Texas, provide compassionate and comprehensive patient care, and offer health care in the communities where it is most needed.</p>
                <p>This giving platform offers secure online donation forms for UT Health San Antonio and its myriad academic, research, patient care and community service programs.</p>
                <p>Thank you for your interest in UT Health San Antonio. We appreciate your support. You are truly helping us to make lives better in San Antonio, South Texas and beyond.</p>
                <h3>HSConnect</h3>
                        <h4 class="h6">Stay connected with your fellow alumni</h4>
                        <p>Are you a first-time or returning Alumnus who has yet to sign up for an HSConnect account? Register today to enjoy the full range of benefits, including the Alumni Directory and Class Notes, alumni event e-mails and e-newsletters. Update your personal profile information and connect with your classmates.</p>
                        <p>You do not need to register to make an online donation.</p>
                        <p><a class="arrow">Register Today</a></p>
            </main>
            <aside class="small-12 medium-4 margin-bottom cell" role="complementary"
                <div class="grid-x">
                    <a class="callout color orange cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Make a Gift</h3>
                    </a>

          <div class="callout outline lines">
					<ul>
						<li><a href="#">Ways to Give</a></li>
            <li><a href="#">Annual Fund</a></li>
            <li><a href="#">Gift Planning</a></li>
            <li><a href="#">Donor Giving Societies</a></li>
            <li><a href="#">Our Team & Contact Information</a></li>
					</ul>
				</div>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
        <div class="cell small-12 medium-6 large-6 flex-container">
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/735476884?h=8ca9989d38" width="690" height="400" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="cell small-12 medium-6 large-6">
                <h3>UT Health San Antonio Multispecialty & Research Hospital Under Construction</h3>
                <p>Now under construction is the UT Health San Antonio Multispecialty & Research Hospital. Slated to open in fall 2024, the hospital will be a cornerstone of advanced care for the region and beyond.</p>

            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center padding-bottom">
                <h2>Top Stories</h2>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p>President’s Gala Honors Whitacres, Supports Fund for New Hospital</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p>Friends, Colleagues, Former Residents Honor Beloved Professor’s Memory</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p>Florence Nightingale Sculpture Serves as Beacon Welcoming Nursing Students</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p>UT Health San Antonio, UT Rio Grande Valley Selected as NIA Alzheimer’s research center</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        {% include "@blocks/feeds/news-events-white.twig" %}
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>