{% include "@components/header-prototypes/header-ced.twig" %}
<section class="hero full bleed img-fill">
    <img src="../../images/ced-banner.jpg" alt="banner">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-4 large-4 cell callout">
                <h1>Center for Excellence in Diabetes</h1>
                <p>Lemon drops soufflé carrot cake sugar plum cake brownie bear claw. Cheesecake donut tart toffee halvah chocolate muffin jelly-o.</p>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-ced.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
        <div class="cell large-8 medium-8 small-12">
            <p>Sweet roll candy canes chocolate bar apple pie croissant tiramisu carrot cake soufflé. Bonbon sugar plum apple pie tiramisu marzipan cheesecake. Cookie wafer topping toffee danish sweet oat cake cheesecake. Caramels bonbon wafer tootsie roll chupa chups powder gummies sweet oat cake. Donut cake cotton candy cotton candy donut dessert gingerbread lollipop. Gummi bears liquorice carrot cake muffin soufflé jelly-o. Lollipop cheesecake pie bonbon sweet roll chocolate bar brownie cotton candy.</p>
            <p>Dragée tootsie roll cake croissant bear claw cheesecake cotton candy sweet. Cake cupcake jelly caramels marshmallow dragée muffin cake. Chocolate bar gummies bear claw pie apple pie lemon drops wafer brownie. Muffin marzipan bonbon cake sweet apple pie lollipop candy gummies. Chocolate soufflé jelly gummies soufflé. Ice cream chocolate bar jelly cupcake croissant wafer sesame snaps. Chocolate cake tootsie roll tiramisu danish sesame snaps gingerbread lemon drops. Pie dragée sesame snaps muffin ice cream. Jelly beans candy canes cupcake ice cream halvah. Brownie candy canes gummi bears cotton candy powder. Sugar plum jujubes bear claw topping candy pudding wafer. Icing candy canes muffin jelly beans ice cream oat cake gummies wafer. Toffee chupa chups powder topping marshmallow gummi bears icing pudding sweet roll. Biscuit jelly donut marzipan jujubes.</p>
            
        </div>
        <div class="cell large-4 medium-4 small-12">
            <img src="../../images/ced-stock.jpeg" alt="">

        </div>

    </div>
</section>




<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class="small-12 medium-6 callout white cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">News</h2>
                    <div class="lines">
                    <ul>
                        <li><a href="https://news.uthscsa.edu/metabolic-treatment-a-potential-breakthrough-in-diabetic-heart-disease/">Metabolic treatment: A potential breakthrough in diabetic heart disease</a></li>
                        <li><a href="https://news.uthscsa.edu/what-you-cant-feel-can-hurt-you-understanding-hidden-dangers-of-diabetic-neuropathy/">What you can’t feel can hurt you: Understanding hidden dangers of diabetic neuropathy</a></li>
                        <li><a href="https://news.uthscsa.edu/key-risk-factors-for-diabetic-foot-reinfections-uncovered-in-ut-health-san-antonio-study-2/">Key risk factors for diabetic foot reinfections uncovered in UT Health San Antonio study </a></li>
                    </ul>
                </div>
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="https://news.uthscsa.edu/all-news/?wpv_view_count=20070&wpv-category=0&wpv-academic-school=0&wpv-health-service=0&wpv-health-condition%5B%5D=diabetes&wpv_filter_submit=Submit" class="button ghost">View all news</a></p>
                </div>
            </div>
            <div class="small-12 medium-6 callout white cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">Events</h2>
                     {% include "@blocks/feeds/events-vertical.twig" %} 
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="#" class="button ghost">View all events</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/ced-footer.twig" %}
