{% include "@components/header-prototypes/header-VPR.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>Clinical Trials</h1>
                <p class="subheader">For Investigators, Industry, & Government Entities</p>
                <p>Considering UT Health San Antonio for a clinical trial site? Complete the clinical trials online form
                    (will take 5 - 8 minutes) to start the conversation with one of our navigators.</p>

                <p><a class="button">Clinical Trial Portal</a></p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-VPR.twig" %}

<section class="bleed">
    <div class="grid-container">

        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
                <h2>Why partner with us?</h2>

                <div class="loose-list check">
                    <ul>
                        <li>

                            UT Health Physicians have over 100 specialties and subspecialties with 1.6 million patient
                            visits per year at 16 clinics.
                        </li>

                        <li>

                            The Mays Cancer Center is home to the world-renowned Institute for Drug Development (IDD)
                            where
                            many of the most commonly used FDA-approved anticancer drugs were developed. At any given
                            time,
                            the IDD is testing as many as 60 new drugs and drug combinations and has over 180 clinical
                            trials open for patient enrollment.
                        </li>

                        <li>

                            UT Dentistry offers 9 specialty clinics staffed by more than 100 faculty experts.
                        </li>

                        <li>

                            For over a decade, the Association for the Accreditation of Human Research Protection
                            Programs
                            (AAHRPP) has recognized the ethical and effcient operations of our clinical research
                            program.
                        </li>

                        <li>

                            As a Clinical and Translational Science Award (CTSA) hub, we emphasize the importance of
                            accelerating the research process to translate scientific discovery and offer a master IRB
                            reliance agreement through a SMART IRB platform expediting the regulatory approval process
                            for
                            multisite studies.
                        </li>

                        <li>

                            San Antonio is the largest minority-majority city in the United States and is home to 7
                            military
                            installations comprising a large active-duty and retired military population with unique
                            needs.
                        </li>

                        <li>

                            Through multi-modal strategies, we aim to bring more awareness to our communities about
                            their
                            role in clinical trials.
                        </li>
                    </ul>
                </div>

                <p><a class="button ghost" href="https://www.uthscsa.edu/research/about/excellence-impact">Our Research Enterprise</a></p>
            </div>

            <div class="cell small-12 medium-5 large-5">

                <div class="responsive-embed">
                    <iframe width="500" height="320" src="https://www.youtube.com/embed/aqce5F_5yr0"
                        title="Beginning Phase 2 of the Remdesivir Clinical Trial for Treatment of COVID-19"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

                <div class="callout contact outline">
                    <h2 class="h5">Contact Us</h2>

                    <p><strong>Clinical Trials Office (CTO)</strong><br>
                        Jason Bates, MBA <br>
                        210-450-8532<br>
                        <a>vprcto@uthscsa.edu</a>
                    </p>

                    <p><strong>Mays Cancer Center Clinical Trials Office</strong><br>
                        Cindy McKeown, RN, BSN, MPA <br>
                        210-450-1286<br>
                        <a>ctofinance@uthscsa</a>
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-4">
                <p class="supersize">$6,638,575</p>
                <p>industry clinical trial revenue in 2020</p>
            </div>
            <div class="cell small-12 medium-4">
                <p class="supersize">Over 170</p>
                <p>actively recruiting cancer trials</p>
            </div>
            <div class="cell small-12 medium-4">
                <p class="supersize">20</p>
                <p>institutes and centers with diverse research specialities</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-6 flex-container">
                <div class="callout outline blue flex-child-auto">
                    <p class="eyebrow">Innovation Highlight</p>
                    <h3 class="h4"><a href="https://uthealthresearch.com/#!/">COVID-19 Vaccine Study Site</a></h3>
                    <p>Dr. Barbara Taylor is leading a COVID-19 research team conducting a clinical trial evaluating an
                        investigational vaccine to see if it helps prevent COVID-19.</p>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6 flex-container">
                <div class="callout outline blue flex-child-auto">
                    <p class="eyebrow">Advancing Commercialization</p>
                    <h3 class="h4"><a
                            href="https://impactcovid.org/collaborating-to-produce-low-cost-ventilators/">Collaborating
                            to produce low-cost ventilators </a></h3>
                    <p>UT Health San Antonio researchers are collaborating with a team from The University of Texas at
                        Austin to build a new type of ventilator made of inexpensive, widely available materials to help
                        fill the demand created by the spread of COVID-19 for these critical devices that help patients
                        breathe.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="bleed color">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-4 large-2">
                <img src="../../images/robertchilton.jpg" alt="Robert J. Chilton">
            </div>
            <div class="cell small-12 medium-6 large-8">
                <blockquote>
                    <p>“UT Health San Antonio cardiologists have led pinnacle studies that changed the standard of
                        care
                        for patients. Findings from the multi-site study, COURAGE, remain the gold standard
                        treatment
                        used for patients, worldwide. Our team is proud to lead trials at the South Texas Veteran’s
                        Audie Murphy Hospital, a proven national leader in patient recruitment and retention.”</p>
                    <cite>Robert J. Chilton, D.O., associate professor of medicine and director of the Cardiac
                        Catheterization Laboratory at the Audie L. Murphy Memorial Veterans' Hospital</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <h2 class="text-center">Spotlight</h2>
        <div class="grid-x grid-margin-x grid-padding-y small-up-1 large-up-3">
            <a class="card cell light-beige">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Pilot study aims to improve diet patterns in Asian Americans with diabetes</h4>
                    <p>Dr. Jisook Ko, assistant professor in the School of Nursing, who is a scientist of the Asian
                        Resource Center for Minority Aging Research supported by the National Institute on Aging was
                        selected to receive a pilot grant of $34,920.</p>
                </div>
            </a>
            <a class="card cell light-beige">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Study will compare 2 treatment strategies for severe brain injury; public comment requested</h4>
                    <p>A study of emergency care involving victims of severe brain trauma is to be performed in the San
                        Antonio area. The study will include adults and children older than 14 years with severe brain
                        injury requiring admission to the ICU with brain monitoring. Hospitals across the country are
                        conducting the study, which is funded by the U.S. National Institutes of Health.</p>
                </div>
            </a>
            <a class="card cell light-beige">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>New Drug Approved for Treating Rare Blood Cancer</h4>
                    <p>Dr. Ruben Mesa was part of the international research team that led the development and approval
                        of fedratinib, becoming the 2nd drug that can be used to treat myelofibrosis, after huge success
                        in Phase 3 trial, JAKARTA.</p>
                </div>
            </a>
        </div>
    </div>
</section>


{% include "@blocks/footer/alamo.twig" %}