{% include "@components/header-prototypes/header-VPR-services.twig" %}
<section class="bleed hero">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-7 large-7">
				<h1>STEP 1: Grant & Protocol Development</h1>
				<p>Topics useful when developing your research ideas into a written document. The protocol describes the background, rationale, purpose and objectives, design, methods, and data analysis plan.</p>
			</div>
			<div class="cell small-12 medium-5 large-5 align-self-middle">
				<img src="https://placedog.net/600/400" alt="adorable pup">
			</div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-VPR-services.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <main class="cell medium-8 small-12">

                    <div class="grid-x grid-margin-x padding-top">
                    <div class="cell small-12 medium-6 flex-container">
                        <a class="callout color blue flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-fingerprint fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 text class="h4" id="report-button">Developing Your Human Study</h3>
                        <p>Follow this path and learn more about grant development, statistical planning/study design, plans for patient population.</p>
                    </a>
          </div>

        <div class="cell small-12 medium-6 flex-container">
                        <a class="callout color blue flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 text class="h4" id="report-button">Developing Your Animal Study</h3>
                        <p>Follow this path and learn more about grant development, statistical planning/study design, selecting your animal model, assessing DLAR capacity.</p>
                    </a>
          </div>
                    </div>
            </main>

			<aside class="cell medium-12 large-4 ">
				<div class="callout outline margin-bottom lines">
        <h4>Resources</h4>
					<ul>
						<li><a href="#">Grant Seekers</a></li>
						<li><a href="#">Statistical Planning</a></li>
						<li><a href="#">Intellectual Property</a></li>
						<li><a href="#">Office of Sponsored Programs</a></li>
            <li><a href="#">Foreign Collaborations</a></li>
            <li><a href="#">Research at UT Health San Antonio</a></li>
					</ul>
				</div>
			</aside>
</div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}