<h3 class="h4">Advancement</h3>
<ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">

<li>     
<a href="#">Guide to Giving</a>
<ul class="nested vertical menu">     
<li><a href="#">Scholarships</a></li> 
<li><a href="#">Annual Fund</a></li> 
<li><a href="#">Tributes & Memorials</a></li>  
<li><a href="#">Endowments</a></li> 
<li><a href="#">Gift & Estate Planning</a></li> 
<li><a href="#">Matching Gifts</a></li>
</ul></li>

<li><a href="#">Ways to Give</a></li>
<li><a href="#">Gift Planning</a></li>
<li><a href="#">Donor Advised Funds</a></li>

<li><a href="#">Corporate & Foundation Relations</a></li>

<li><a href="#">Giving Societies</a>
<ul class="nested vertical menu">
<li><a href="#">President’s Council</a></li> 
<li><a href="#">The Laureate Society</a></li> 
<li><a href="#">The Mays Cancer Center Cabinet</a></li>
<li><a href="#">Ambassadors’ Circle</a></li>
<li><a href="#">Friends of the Barshop Institute for Longevity and Aging</a></li>
<li><a href="#">Studies</a></li>
<li><a href="#">Association of Retired Faculty & Associates</a></li>
</ul></li>


<li><a href="#">Volunteer Boards & Councils</a>
<ul class="nested vertical menu">
<li><a href="#">Development Board</a></li> 
<li><a href="#">Council for Excellence in Women’s Health</a></li> 
<li><a href="#">Planned Giving Advisory Council</a></li>
<li><a href="#">Mays Cancer Center Board of Governors</a></li>
<li><a href="#">SA Cancer Council</a></li>
<li><a href="#">Nursing Advisory Council</a></li>
<li><a href="#">Center for Medical Humanities & Ethics Advisory Council</a></li>
</ul></li>

<li><a href="#">Contact Us & Team Members</a></li>
<li><a href="#">Privacy Policy</a></li>

</ul>
