<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-4 card popout border">
            <div class="card-section">
                <img src="https://picsum.photos/534/300">
                <h4>Popout Card</h4>
                <p>This row of cards is embedded in an X-Y Block Grid.</p>
                <p>Invoke me by adding .popout to the container with the .card class.</p>
            </div>
        </div>
    </div>
</div>
