{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>Publications</h1>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-7 large-8 small-order-2 medium-order-1">
            <p id="start">
            <h2 class="h4"><a href="#">Age-dependent loss of hepatic SIRT1 enhances NLRP3 inflammasome signaling and impairs capacity for liver fibrosis resolution</a>
            </h2>
            <p>Jennifer Adjei-Mosi, Qing Sun, Steven Blake Smithson, Gavyn Lee Shealy, Krupa Dhruvitha Amerineni, Zerong Liang, Hanqing Chen, Mei Wang, Qinggong Ping, Jingyan Han, Masahiro Morita, Amrita Kamat, Nicolas Musi, and Mengwei Zang.</p>
            <p><em>Aging Cell.</em> 2023 Mar 31;e13811. doi: <a>10.1111/acel.13811</a>. Online ahead of print.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Pathogenic tau–induced transposable element–derived dsRNA drives neuroinflammation</a></h2>
            <p>Elizabeth Ochoa, Paulino Ramirez, Elias Gonzalez, Jasmine De Mange, William J. Ray, Kevin F. Bieniek, and Bess Frost.</p>
            <p><em>Science Advances</em>. 6 Jan 2023. Vol 9, Issue 1. DOI: <a>10.1126/sciadv.abq5423</a></p>
            
            <hr>

            <h2 class="h4"><a href="#">Sulfatide Deficiency, an Early Alzheimer’s Lipidomic Signature, Causes Brain Ventricular Enlargement in the Absence of Classical Neuropathological Hallmarks</a></h2>
            <p>Juan Pablo Palavicini, Lin Ding, Meixia Pan, Shulan Qiu, Hu Wang, Qiang Shen, Jeffrey L. Dupree, and Xianlin Han</p>
            <p><em>International Journal of Molecular Sciences</em>, 2023, 24(1), 233; <a>https://doi.org/10.3390/ijms24010233</a></p>
            
            <hr>

            <h2 class="h4"><a href="#">Effect of acute TLR4 inhibition on insulin resistance in human subjects</a></h2>
            <p>Hanyu Liang, Nattapol Sathavarodom, Claudia Colmenares, Jonathan Gelfond, Sara E Espinoza, Vinutha Ganapathy, Nicolas Musi.</p>
            <p><em>J Clin Invest</em>. 2022 Sep 6;e162291. doi: <a>10.1172/JCI162291</a>. Online ahead of print.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Pharmacological inhibition of ALCAT1 mitigates amyotrophic lateral sclerosis by attenuating SOD1 protein aggregation</a></h2>
            <p> Xueling Liu, Jun Zhang, Jie Li, Chengjie Song, and Yuguang Shi</p>
            <p><em>Molecular Metabolism</em>. 2022 Sep;63:101536. doi: <a>10.1016/j.molmet.2022.101536</a>. Epub 2022 Jun 28.</p>
            
            <hr>

            <h2 class="h4"><a href="#"><em>De novo</em> labeling and trafficking of individual lipid species in live cells</a></h2>
            <p>Jun Zhang, Jia Nie, Haoran Sun, Jie Li, John-Paul Andersen, and Yuguang Shi</p>
            <p><em>Molecular metabolism</em>. 2022 Jul;61:101511. doi: <a>10.1016/j.molmet.2022.101511</a>.</p>
            
            <hr>

            <h2 class="h4"><a href="#">In Search of the Holy Grail: Toward a Unified Hypothesis on Mitochondrial Dysfunction in Age-related Diseases</a></h2>
            <p>Jun Zhang and Yuguang Shi</p>
            <p><em>Cells</em>. 2022 Jun 12;11(12):1906. doi: <a>10.3390/cells11121906</a>.</p>
            
            <hr>

            <h2 class="h4"><a href="#">Tau-induced deficits in nonsense-mediated mRNA decay contribute to neurodegeneration</a></h2>
            <p>Gabrielle Zuniga, Simon Levy, Paulino Ramirez, Jasmine De Mange, Elias Gonzalez, Maria Gamez, Bess Frost.</p>
            <p><em>Alzheimer’s & Dementia</em>. 2022 Apr 13;1-16. <a>https://doi.org/10.1002/alz.12653</a></p>
            
            <hr>

            <h2 class="h4"><a href="#">Deadenylase-dependent mRNA decay of GDF15 and FGF21 orchestrates food intake and energy expenditure</a></h2>
            <p>Sakie Katsumura, Nadeem Siddiqui, Michael Rock Goldsmith, Jaime H. Cheah, Teppei Fujikawa, Genki Minegishi, Atsushi Yamagata, Yukako Yabuki, Kaoru Kobayashi, Mikako Shirouzu, Takeshi Inagaki, Tim H.-M. Huang, Nicolas Musi, Ivan Topisirovic, Ola Larsson, Masahiro Morita.</p>
            <p><em>Cell Metabolism</em>. 34, 564–580, 5 April 2022. <a>https://doi.org/10.1016/j.cmet.2022.03.005</a></p>
            
            <hr>

            <h2 class="h4"><a href="#">Metabolic benefits of methionine restriction in adult mice do not require functional methionine sulfoxide reductase A (MsrA)</a></h2>
            <p>Kevin M. Thyne, Adam B. Salmon</p>
            <p><em>Scientific Reports</em>. 2022 Mar 24;12(1):5073. doi: <a>10.1038/s41598-022-08978-4</a>.</p>
            
            <hr>

            <nav aria-label="Pagination">
                <ul class="pagination">
                    <li class="pagination-previous"><a href="#" aria-label="Previous page"> <span
                                class="show-for-sr"> Previous page</span></a></li>
                    <li><a href="#" aria-label="Page 1">1</a></li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 2</li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li class="ellipsis" aria-hidden="true"></li>
                    <li><a href="#" aria-label="Page 10">10</a></li>
                    <li><a href="#" aria-label="Page 11">11</a></li>
                    <li><a href="#" aria-label="Page 12">12</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">Next
                                page</span></a></li>
                </ul>
            </nav>
            <p id="stop">
        </main>

        <aside class="cell small-12 medium-5 large-4 small-order-1 medium-order-2" role="complementary" aria-labelledby="filters" data-sticky-container>
            <div class="sticky" data-sticky data-top-anchor="start:top" data-btm-anchor="stop:bottom">
                <div class="callout">
                    <h3 id="filters">Filter List By</h3>
                    <form>
                        <fieldset>
                            <label>Keyword
                                <input type="text">
                            </label>
                        </fieldset>

                        <fieldset>
                            <label>Publication Author
                                <select>
                                <option selected="selected" value="0"></option>
                                <option selected="selected" value="0"></option><option value="adam-b-salmon">Adam B. Salmon, PhD</option><option value="andrew-m-pickering">Andrew M. Pickering, PhD</option><option value="balakuntalam-kasinath">Balakuntalam Kasinath, MD</option><option value="bess-frost">Bess Frost, PhD</option><option value="dean-kellogg">Dean Kellogg, MD, PhD</option><option value="elizabeth-fernandez">Elizabeth Fernandez, PhD</option><option value="james-f-nelson">James F. Nelson, PhD</option><option value="jia-nie">Jia Nie, PhD</option><option value="jp-palavicini">Juan Pablo Palavicini, PhD</option><option value="jun-zhang">Jun Zhang, PhD</option><option value="karl-a-rodriguez">Karl A. Rodriguez, PhD</option><option value="lisa-kilpela">Lisa Kilpela, PhD</option><option value="lizhen-chen">Lizhen Chen, PhD</option><option value="masahiro-morita">Masahiro Morita, PhD</option><option value="mengwei-zang">Mengwei Zang, MD, PhD</option><option value="michelle-trbovich">Michelle Trbovich, MD</option><option value="miranda-orr">Miranda Orr, PhD</option><option value="nicolas-musi">Nicolas Musi, MD</option><option value="paul-hasty">Paul Hasty, DVM</option><option value="peter-j-hornsby">Peter J. Hornsby, PhD</option><option value="randy-strong">Randy Strong, PhD</option><option value="sara-e-espinoza">Sara E. Espinoza, MD, MSc</option><option value="stacy-a-hussong">Stacy A. Hussong, PhD</option><option value="veronica-galvan">Veronica Galvan, PhD</option><option value="xianlin-han">Xianlin Han, PhD</option><option value="yuguang-shi">Yuguang Shi, PhD</option><option value="yuji-ikeno">Yuji Ikeno, MD, PhD</option><option value="z-dave-sharp">Z. Dave Sharp, PhD</option>
                                </select>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label>Topics
                                <select>
                                <option selected="selected" value="0"></option>
                                    <option value="aging-cancer">Aging and Cancer</option>
                                    <option value="aging-related-neurodegeneration">Aging-Related Neurodegeneration</option>
                                    <option value="comparative-biology-invertebrate-models-aging">Comparative Biology and Invertebrate Models of Aging</option>
                                    <option value="inflammation-immunity">Inflammation and Immunity</option>
                                    <option value="metabolism-endocrinology-bioenergetics-aging">Metabolism, Endocrinology, and Bioenergetics of Aging</option>
                                    <option value="regenerative-medicine-stem-cells">Regenerative Medicine and Stem Cells</option>
                                    <option value="translational-8interventions">Translational and Interventions</option>
                                </select>
                            </label>
                        </fieldset>

                        <fieldset>
                            <label>Publication Years
                                <select>
                                <option selected="selected" value="0"></option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                            </label>
                        </fieldset>
                        <div class="button-group">
                            <p><a href="#" class="button">Submit</a></p>
                            <p><a href="#" class="button ghost">Reset</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
    </div>
</section>



{% include "@components/footer-prototypes/bewell-footer.twig" %}
