<header class="mission">
    <a href="#"><img src="../../images/UTHSA_logo.svg" alt="UT Health San Antonio"></a>
    <nav>
        <ul class="menu">
            <li><a href="#">Academics</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Patient Care</a></li>
            <li><a href="#">Community</a></li>
        </ul>
    </nav>
</header>

<header class="title-bar" data-responsive-toggle>
    <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
    <button class="menu-icon" type="button" data-toggle>Menu</button>
</header>