{% include "@components/header v2/header-mission.twig" %}
<section class=" hero gradient right white bleed img-fill">
    <img src="../../images/gradient-2.jpg" alt="SCIENCE">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout white">
                <h1>We Make Lives Better</h1>
                <p>Pommy ipsum toad in the whole shortbread round our gaff doing my nut in warts and all up the duff bangers and mash jolly good and we all like figgy pudding, Elementary my dear Watson dignified eton mess made a pig's ear of it air one's dirty linen blighty by 'eck love who brought loaf. Stiff upper lip bull dog absolute unhand me sir I could reet fancy a nosh, scally it's the dogs bollocks smeg head off t'shop. </p>
                <div class="button-group">
                    <p><a href="#" class="button">Find a Provider</a></p>
                    <p><a href="#" class="button ghost">More About Patient Care</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <a class="card postcard cell small-12 medium-8 large-6">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h3>Training Future Generations</h3>
                    <p>With five schools offering 65 degree specialties, we're training South Texas' next generation of healthcare professionals.</p>
                </div>
            </a>
            <a class="card postcard cell small-12 medium-8 large-6">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h3>Leading Breakthroughs</h3>
                    <p>We're moving research forward and developing new methods for combatting disease, from diabetes to cancer to Alzheimer's.</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container no-bottom">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-5">
                <img src="../../images/granddaughter-grandma-transparent.png" alt="placeholder">
            </div>
            <div class="cell large-7">
                <h2>We're how. You're why.</h2>
                <p>We educate the next generation of health professionals, discover new ways to cure diseases and
                    provide our patients with the most advanced treatments available. And we do it all to improve health
                    care for you and everyone in South Texas.</p>
                <p><a class="button ghost">Button CTA</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed color orange">
    <div class="grid-container">
        <div class="grid-x text-center align-center factoid">
            <div class="cells large-4 medium-4 small-12">
                <p class="h2">1 of 4<p>
                <p>NCI-designated Cancer Centers in Texas</p>
            </div>
            <div class="cells large-4 medium-4 small-12">
                <p class="h2">65<p>
                <p>Degree Specialties Offered</p>
            </div>
            <div class="cells large-4 medium-4 small-12">
                <p class="h2">$186M<p>
                <p>In Annual Research Awards And Sponsored Program Activity</p>
            </div>
        </div>
    </div>
</section>
<section class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-x">
        <section class="cell large-7 small-12 align-self-middle">
            <h2>Happening now at UT Health San Antonio</h2>
            <p>Breakthroughs are happening everyday at UT Health San Antonio. Stay informed on the latest news and events. Marketing copy similar to Cancer Center.</p>
            <p><a class="arrow">Newsroom</a></p>
        </section>
        <aside class="cell large-5 small-12">
            {% include "@components/dates/long-event.twig" %}
            <br>
            {% include "@components/dates/long-event.twig" %}
            <br>
            <p><a class="arrow">All events</a></p>
        </aside>
    </div>
</section>
{% include "@blocks/footer/mission.twig" %}