{% include "@components/header-prototypes/header-UTP.twig" %}
<section class="hero bleed img-fill full">
	<img src="../../images/CarolineSolis-Herrera033.jpg" alt="">
	<div class="grid-container chonky">
    <div class="grid-x grid-margin-x">
      <div class="cell large-5 large-offset-7 small-12">
        <div class="callout">
          <h1>Specialty Practices</h1>
          <p class="large">In every discipline, our team of highly trained and board-certified physicians and surgeons work together to provide the highest quality of compassionate, patient-centered care.</p>
        </div>
      </div>
    </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <p id="start">
      <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12">
          <div class="lines">
            <ul>
              <li><a>Addiction Medicine</a></li>
              <li><a>Cardiology, Adult</a></li>
              <li><a>Cardiology, Pediatrics</a></li>
              <li><a>Cardiothoracic Surgery</a></li>
              <li><a>Cranial Remolding Program</a></li>
              <li><a>Dermatology</a></li>
              <li><a>Diabetes</a></li>
              <li><a>Endocrinology</a></li>
              <li><a>ENT - Head and Neck Surgery (Otolaryngology)</a></li>
              <li><a>Executive Health Program</a></li>
              <li><a>Gastroenterology</a></li>
              <li><a>General Surgery</a></li>
              <li><a>Imaging Center (Radiology)</a></li>
              <li><a>Infectious Disease</a></li>
              <li><a>Men's Comprehensive Health Institute</a></li>
              <li><a>Nephrology</a></li>
              <li><a>Neurology</a></li>
              <li><a>Neurosurgery</a></li>
              <li><a>Obstetrics and Gynecology (OBGYN)</a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12">
          <div class="lines">
            <ul>
              <li><a>Ophthalmology</a></li>
              <li><a>Orthopaedics</a></li>
              <li><a>Orthotics/Prosthetics</a></li>
              <li><a>Pain Consultants</a></li>
              <li><a>Pediatric Specialties at UT Health Physicians</a></li>
              <li><a>Pediatrics at University Health System</a></li>
              <li><a>Physical Therapy</a></li>
              <li><a>Plastic Surgery</a></li>
              <li><a>Psychiatry</a></li>
              <li><a>Pulmonology</a></li>
              <li><a>Rehab Medicine</a></li>
              <li><a>Reproductive Health and Fertility Center</a></li>
              <li><a>Rheumatology</a></li>
              <li><a>University Health Transplant Institute</a></li>
              <li><a>Urology</a></li>
              <li><a>UT Health Surgical Weight Loss</a></li>
              <li><a>Vascular Surgery</a></li>
              <li><a>Women's Comprehensive Health Institute</a></li>
            </ul>
          </div>
        </div>
      </div>
      <p id="stop">
    </main>
    <aside class="cell large-4 medium-4 small-12" data-sticky-container>
      <div class="sticky" data-sticky data-top-anchor="start:top" data-btm-anchor="stop:bottom">
        <a class="callout color blue flex-child-auto">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h5">Find a Specialist</h3>
        </a>
      </div>
    </aside>
  </div>
</section>

{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}