{% include "@components/header-prototypes/header-opa.twig" %}
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}

<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="../../patterns/prototypes-OPA-opa-home/prototypes-OPA-opa-home.rendered.html">Home</a></li>
        <li><a href="../../patterns/prototypes-OPA-opa-profiles/prototypes-OPA-opa-profiles.rendered.html">Postdoc Profiles</a></li>
        <li>
            <span class="show-for-sr">Current: </span> Nawab John Dar
        </li>
    </ul>
</nav>
<section class="grid-container">
    <div class="grid-x grid-margin-x ">
        <aside class="cell medium-6 large-4 small-order-2 medium-order-1">
            <img src="https://opa.uthscsa.edu/sites/opa/files/styles/scholar/public/nawab.jpg?itok=dtB9tusW" alt="Nawab John Dar" class="margin-bottom">
            <h2 class="sans-serif h5 bold">Contact</h2>
            <ul class="no-bullet">
                <li><a>210-724-1753</a></li>
                <li><a>darn@uthscsa.edu</a></li>
            </ul>

            <h2 class="sans-serif h5 bold">Departments & Divisions</h2>
            <ul class="no-bullet">
                <li><a href="https://lsom.uthscsa.edu/dcsa/">Department of Cell Systems & Anatomy</a></li>
            </ul>

            <h2 class="sans-serif h5 bold">Mentor</h2>
            <ul class="no-bullet">
                <li><a href="https://directory.uthscsa.edu/academics/profile/ran">Dr. Qitao Ran</a></li>
            </ul>
        </aside>
        <main class="cell medium-6 large-8 small-order-1 medium-order-1">
            <h1>Nawab John Dar</h1>
            <p class="subheader">Postdoctoral Fellow</h2>
            <p>Dr. Dar received his BS from University of Kashmir, Srinagar and MS from Bundelkhand University, Jhansi India. Soon after his MS, he qualified the University Grants Commission common entrance examination (UGC NET/JRF) and received a fellowship for five years to pursue his doctoral studies. Dr. Dar joined Academy of Scientific and Innovative Research at CSIR-Indian Institute of Integrative Medicine, Jammu where his main focus of research was to elucidate the neuroprotective potential of small molecules against glutamate/NMDA induced excitotoxicity using different in vitro and in vivo model systems. Soon after his Ph.D., he joined University of Manitoba, Canada as Postdoctoral Fellow where his main focus was to decipher the role of secreted amyloid precursor protein alpha (sAPPα) in neurogenesis and investigate if sAPPα induced neurogenesis could help in ameliorating the cognitive deficits in Alzheimer’s disease. Dr. Dar joined UT Health in 2019 and started working on the role of GPx4 in Alzheimer’s disease with major focus to determine the effect of membrane lipid peroxidation induced by Gpx4 deficiency during Alzheimer’s disease pathogenesis</p>

            <div class="grid-x">
                <div class="cell large-12 medium-12">
                    <ul class="accordion blue" data-accordion>
                        <li class="accordion-item is-active" data-accordion-item>
                            <a href="#" class="accordion-title heading">Professional Background</a>
                            <div class="accordion-content" data-tab-content>
                                <h2 class="sans-serif h5 bold">Education</h2>
                                <ul class="padding-bottom">
                                    <li>2018 - Ph.D. - Academy of Scientific and Innovative Research, New Delhi  </li>
                                    <li>2010 - M.S. - Bundelkhand University, Jhansi </li>
                                    <li>2008 - B.S. - University of Kashmir, Srinagar </li>
                                </ul>
                                <h2 class="sans-serif h5 bold">Honors</h2>
                                <ul class="padding-bottom">
                                    <li>
                                        2018 - Awarded National Post-doctoral Fellowship from Department of Science & Technology, India
                                    </li>
                                    <li>
                                        2017 - Best presentation award at World Neurocongress, India
                                    </li>
                                    <li>
                                        2010 - 1st rank holder in masters
                                    </li>
                                    <li>
                                        2010 - Qualified All India level University Grants Commission, National Eligibility Test (NET) examination both for Junior Research Fellowship and Lecturership
                                    </li>
                                </ul>

                                <h2 class="sans-serif h5 bold">Professional Memberships</h2>
                                <ul>
                                    <li>
                                        2012-till now - Life-member & Local secretary (JK chapter) of Forensic Science Development Society, Lucknow (India).
                                    </li>
                                    <li>
                                        2014-till now - Associate Member of Indian Academy of Neurosciences
                                    </li>
                                    <li>
                                        2013-2018 - Student member of International Society for Neurochemistry
                                    </li>
                                    <li>
                                        2018 - Student member of Asian-Pacific Society for Neurochemistry
                                    </li>
                                    <li>
                                        2019 - Student member of American Academy of Neurology
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title heading">Research</a>
                            <div class="accordion-content" data-tab-content>
                                <p>Dr. Dar’s research is currently focused on elucidating the role of Gpx4, membrane lipid peroxidation and subsequent ferroptosis in Alzheimer’s disease. Ferroptosis is an iron-dependent oxidative form of cell death where a high level of phospholipid hydroperoxides produced in membranes causes cell injury and ultimate cell demise. Gpx4 is the master regulator of ferroptosis due to its ability to directly reduce membrane phospholipid hydroperoxides. Reports have revealed increased levels of lipid peroxidation in Alzheimer brains; however, the underlying mechanism of lipid peroxidation and ferroptosis in Alzheimer’s disease remains unclear. Dr. Dar, under the supervision of Dr. Qitao Ran, is trying to decipher the basic biology and regulation of Gpx4 under physiological and ferroptotic conditions and determine the importance of ferroptosis in Alzheimer’s disease. A variety of in vitro and in vivo techniques are being used in Dr. Dar’s investigation.</p>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title heading">Publications</a>
                            <div class="accordion-content" data-tab-content>
                                <p><strong>Nawab John Dar</strong> and Gordon W. Glazner. "Deciphering the neuroprotective and neurogenic potential of soluble amyloid precursor protein alpha (sAPPα)." <em>Cellular and Molecular Life Sciences</em> (2020): 1-16.</p>

                                <p><strong>Nawab John Dar</strong>, Naresh Kumar Satti, Prabhu Dutt, Abid Hamid and Muzamil Ahmad. Attenuation of glutamate-induced excitotoxicity by Withanolide-A in Neuron-like cells: role for PI3K/Akt/MAPK signalling pathway. <em>Molecular Neurobiology</em>. DOI: 10.1007/s12035- 017-0515-5.</p>

                                <p><strong>Nawab John Dar</strong>, Javeed Ahmad Bhat, Naresh Kumar Satti, Pradhuman Raj Sharma, Abid Hamid and Muzamil Ahmad. Withanone, an active constituent from Withania somnifera, affords protection against NMDA-induced excitotoxicity in neuron-like cells. <em>Molecular Neurobiology</em>. DOI: 10.1007/s12035-016-0044-7.</p>

                                <p><strong>Nawab John Dar</strong>, Abid Hamid, Muzamil Ahmad. Pharmacological overview of Withania somnifera, <em>Cell Mol Life Sci</em>. 2015 Aug 26. PMID: 26306935.</p>

                                <p><strong>Nawab John Dar#</strong>, Ali Lone#, Abid Hamid, Wajaht Shah, Muzamil Ahmad, Bilal Bhat. Promise of retinoic acid-triazolyl derivatives in promoting differentiation of neuroblastoma cells. <em>ACS Chemical Neuroscience</em>. DOI: 10.1021/acschemneuro.5b00267 <strong>#equal contribution</strong>.</p>

                                <p>Ayatullah Shah, <strong>Nawab John Dar</strong>, Qazi Parvaiz Hassan and Muzamil Ahmad. Endophytes and Neurodegenerative diseases: A hope in desperation. <em>CNS Neurol Disord Drug Targets</em>. 2016 Sep 19. PMID: 27658517</p>

                                <p>Muzamil Ahmad, <strong>Nawab John Dar</strong>, Zubair Shanib Bhat, Aehtesham Hussain, Ayatullah Shah , Hao Liu and Steven H Graham” Inflammation in Ischemic Stroke: Mechanisms, Consequences and Possible Drug Targets, <em>CNS & Neurological Disorders - Drug Targets</em>, 2014, 13, 1378-1396.</p>

                                <p>Mohammad Iqbal Lone, Arisa Nabi, <strong>Nawab John Dar</strong>, Aashiq Hussain, Nazia Nazam, Abid Hamid, Waseem Ahmad. Toxicogenetic evaluation of dichlorophene in peripheral blood and in the cells of the immune system using molecular and flow cytometric approaches. <em>Chemosphere</em>, Volume 167, January 2017, Pages 520-529.</p>

                                <p>Najar, Rauf Ahmad, Nissar Ahmad Wani, Javeed Ahmad Bhat,<strong>Nawab John Dar</strong>, Beenish Rahat, Ajai Prakash Gupta, Jaspreet Kaur, Jyotdeep Kaur, and Abid Hamid. "Modulation of dietary folate with age confers selective hepatocellular epigenetic imprints through DNA methylation." <em>The Journal of Nutritional Biochemistry</em> (2017).</p>

                                <h2>Book Chapters</h2>

                                <p>Muzamil Ahmad and <strong>Nawab John Dar</strong>. Withania somnifera: Ethnobotany, Pharmacology and Therapeutic Function. <em>Sustained Energy for Enhanced Human Functions and Activity</em>, 137-154, 2018 eBook ISBN: 9780128093320, Hardcover ISBN: 9780128054130</p>

                                <p><strong>Nawab John Dar</strong> and Rajesh Singh Yadav. Nutraceuticals: A novelneuroprotective approach against Huntington’s disorder. <em>Food for Huntigton's Disease</em>, Nova Science Publishers, USA. ISBN:978-1-53613-855-9 (eBook)</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <h3>Related Media</h3>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-12">
                    <div class="responsive-embed">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/cVsQLlk-T0s"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="cell large-6 medium-12 arrow">
                    <ul>
                        <li><a>Prow scuttle parrel provost</a></li>
                        <li><a>Sail ho shrouds spirits boom mizzenmast yardarm.</a></li>
                        <li><a>Pinnace holystone mizzenmast quarter crow's nest</a></li>
                        <li><a>Nipperkin grog yardarm hempen halter furl</a></li>
                        <li><a>Swab barque interloper chantey doubloon</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>

{% include "@blocks/footer/OPA-alamo.twig" %}