{% include "@components/header-prototypes/header-RDMS.twig" %}
{% include "@components/navigation-prototypes/navbar-RDMS.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a>Home</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Frequently Asked Questions
    </li>
  </ul>
</nav>
<section class="grid-container">

  <div class="grid-x grid-margin-x">
    <div class="cell large-10 medium-10 small-12">
      <h1>Frequently Asked Questions</h1>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
		<main class="cell large-8 large-order-1 medium-8  medium-order-1 small-12 small-order-2">
			<p>Cupcake powder liquorice donut lollipop jelly-o cotton candy. Toffee halvah donut soufflé powder. Cake soufflé candy canes tootsie roll sweet roll dragée carrot cake wafer fruitcake. Muffin chocolate bar marshmallow lollipop cheesecake. Bear claw carrot cake tart dessert chocolate cake jelly-o candy canes cake. </p>
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title heading" style="margin-top:0;">UT Health San Antonio</a>
          <div class="accordion-content" data-tab-content>
            <div class="arrow margin-bottom">
              <ul>
                <li><a href="#jump1a">How do I know what my funder requires?</a></li>
                <li><a href="#jump2a">How do I create a data management plan?</a></li>
                <li><a href="#jump3a">What can I do now to make handling data easier later?</a></li>
                <li><a href="#jump4a">What data should I be planning to share, and how?</a></li>
                <li><a href="#jump5a">What are my options if I’m working with very large datasets?</a></li>
                <li><a href="#jump6a">What are data use agreements?</a></li>
                <li><a href="#jump7a">What should I be thinking of if I’m working with human subjects?</a></li>
                <li><a href="#jump8a">What information should I be documenting?</a></li>
                <li><a href="#jump9a">What are UT Health San Antonio's Research Computing Resources?</a></li>
                <li><a href="#jump10a">How do I deal with large datasets?</a></li>
                <li><a href="#jump11a">What are some good options for sharing my active data with my collaborators?</a></li>
                <li><a href="#jump12a">Where can students get help with statistics?</a></li>
                <li><a href="#jump13a">What are the advantages to publishing my data?</a></li>
                <li><a href="#jump14a">What does my publisher require?</a></li>
                <li><a href="#jump15a">What’s a DOI?</a></li>
                <li><a href="#jump16a">What are my storage options if I don’t want to share my data publicly?</a></li>
              </ul>

            </div>
            <p class="h5 sans-serif" id="jump1a">How do I know what my funder requires?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump2a">How do I create a data management plan?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump3a">What can I do now to make handling data easier later?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump4a">What data should I be planning to share, and how?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump5a">What are my options if I’m working with very large datasets?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump6a">What are data use agreements?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump7a">What should I be thinking of if I’m working with human subjects?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump8a">What information should I be documenting?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump9a">What are UT Health San Antonio's Research Computing Resources?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump10a">How do I deal with large datasets?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump11a">What are some good options for sharing my active data with my collaborators?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump12a">Where can students get help with statistics?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump13a">What are the advantages to publishing my data?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump14a">What does my publisher require?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump15a">What’s a DOI?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump16a">What are my storage options if I don’t want to share my data publicly?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">NIH</a>
          <div class="accordion-content" data-tab-content>
            <div class="arrow margin-bottom">
              <ul>
                <li><a href="#jump1b">How do I know what my funder requires?</a></li>
                <li><a href="#jump2b">How do I create a data management plan?</a></li>
                <li><a href="#jump3b">What can I do now to make handling data easier later?</a></li>
                <li><a href="#jump4b">What data should I be planning to share, and how?</a></li>
                <li><a href="#jump5b">What are my options if I’m working with very large datasets?</a></li>
                <li><a href="#jump6b">What are data use agreements?</a></li>
                <li><a href="#jump7b">What should I be thinking of if I’m working with human subjects?</a></li>
                <li><a href="#jump8b">What information should I be documenting?</a></li>
                <li><a href="#jump9b">What are UT Health San Antonio's Research Computing Resources?</a></li>
                <li><a href="#jump10b">How do I deal with large datasets?</a></li>
                <li><a href="#jump11b">What are some good options for sharing my active data with my collaborators?</a></li>
                <li><a href="#jump12b">Where can students get help with statistics?</a></li>
                <li><a href="#jump13b">What are the advantages to publishing my data?</a></li>
                <li><a href="#jump14b">What does my publisher require?</a></li>
                <li><a href="#jump15b">What’s a DOI?</a></li>
                <li><a href="#jump16b">What are my storage options if I don’t want to share my data publicly?</a></li>
              </ul>

            </div>

            <p class="h5 sans-serif" id="jump1b">How do I know what my funder requires?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump2b">How do I create a data management plan?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump3b">What can I do now to make handling data easier later?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump4b">What data should I be planning to share, and how?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump5b">What are my options if I’m working with very large datasets?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump6b">What are data use agreements?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump7b">What should I be thinking of if I’m working with human subjects?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump8b">What information should I be documenting?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump9b">What are UT Health San Antonio's Research Computing Resources?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump10b">How do I deal with large datasets?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump11b">What are some good options for sharing my active data with my collaborators?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump12b">Where can students get help with statistics?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump13b">What are the advantages to publishing my data?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump14b">What does my publisher require?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump15b">What’s a DOI?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump16b">What are my storage options if I don’t want to share my data publicly?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            
          </div>
        </li>
      </ul>
		</main>
		<aside class="cell large-4 large-order-2 medium-4 medium-order-2 small-12 small-order-1">
      <a class="callout color orange">
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Need Assistance? Contact Us</h3>
      </a>
		</aside>
	</div>
</section>
{% include "@components/footer-prototypes/RDMS-footer.twig" %}