{% include "@components/header-prototypes/header-pepper.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
          <h1>Cores</h1>
        </div>
      </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-pepper.twig" %}
<section class="bleed">
    <div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-4 large-4 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-network-wired fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h5">Leadership and Administrative Core (LAC)</h3>
            </a>
        </div>
<div class="cell small-12 medium-4 large-4 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-landmark fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h5">Research Education Core (REC)</h3>
            </a>
        </div>
    <div class="cell small-12 medium-4 large-4 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h5">Pilot and Exploratory Studies Core (PESC)</h3>
            </a>
        </div>
        <div class="cell small-12 medium-4 large-3 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h5">Pre-Clinical Research Core (PCRC)</h3>
            </a>
        </div>
        <div class="cell small-12 medium-4 large-3 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-dna fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h5">Clinical Research and Pharmacology Core (CRPC)</h3>
            </a>
        </div>
<div class="cell small-12 medium-4 large-3 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-project-diagram fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h5">Trial Design and Integrative Informatics (TDII)</h3>
            </a>
        </div>
<div class="cell small-12 medium-4 large-3 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h5">Barshop Institute Clinical Trials in Aging Research</h3>
            </a>
        </div>
    </div>
  </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}