{% include "@components/header-prototypes/header-pepper.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
          <h1 class="h2">Cores</h1>
        </div>
      </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-pepper.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-4 cell">
                <a>
                    <img src="../../images/AAB-1.jpg" alt="AAB Building and Campus">
                    <h3>Leadership and Administrative Core (LAC)</h3>
                </a>
                <p>This Core, led by Elena Volpi, MD, PhD, FGSA and Randy Strong, PhD, oversees the overall coordination, monitoring, compliance, evaluation, and reporting functions of the SA Pepper Center.</p>
            </div>
            <div class="small-12 medium-4 cell">
                <a>
                    <img src="../../images/pepper-center/lab-1.jpg" alt="laboratory">
                    <h3>Research Education Core (REC)</h3>
                </a>
                <p>This Core, led by Robert Clark, MD, Peter Hornsby, PhD, and Blake Rasmussen, PhD, promotes the career development of early-stage geroscience investigators.</p>

            </div>
            <div class="small-12 medium-4 cell">
                <a>
                    <img src="../../images/pepper-center/dna.jpg" alt="DNA">
                    <h3>Pilot and Exploratory Studies Core (PESC)</h3>
                </a>
                <p>The PESC is co-directed by Kelly Reveles, PharmD, PhD, BCPS and Randy Strong, PhD. The major objective of this core is to promote the overarching goals of the San Antonio OAIC.</p>

            </div>
        </div>
    </div>
</section>
<section class="bleed beige">
    <div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-4 large-3 flex-container">
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h4">Pre-Clinical Research Core (PCRC)</h3>
            </a>
        </div>
        <div class="cell small-12 medium-4 large-3 flex-container">
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-dna fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h4">Clinical Research and Pharmacology Core (CRPC)</h3>
            </a>
        </div>
<div class="cell small-12 medium-4 large-3 flex-container">
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-project-diagram fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h4">Trial Design and Integrative Informatics (TDII)</h3>
            </a>
        </div>
<div class="cell small-12 medium-4 large-3 flex-container">
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h4">Barshop Institute Clinical Trials in Aging Research</h3>
            </a>
        </div>
    </div>
  </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}