{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>Patient Care</h1>
                <p class="large">Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12">
            <a href="https://bewelltexas.org/">
                <img src="https://placedog.net/690/400" alt="">
                <h2>Be Well Texas</h2>
            </a>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <a href="https://bewelltexasclinic.org/">
                <img src="https://placedog.net/690/400" alt="">
                <h2>Be Well Clinic</h2>
            </a>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/bewell-footer.twig" %}
