{% include "@components/header-prototypes/header-bewell.twig" %}

<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1900/450" alt="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-7 large-7 cell callout">
                <h1>We’re glad you’re here </h1>
                <p class="large">Be Well Texas is committed to expanding access to high-quality, compassionate substance use services across Texas. Our patient care initiatives ensure individuals can connect with the services they need, whether through our virtual and in-person Be Well Clinic or our extensive Be Well Texas Provider Network.  </p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12">
            <a href="https://bewelltexasclinic.org/get-started/">
                <img src="../../images/Lisbeth-Clinic.jpg" alt="">
                <h2>Be Well Texas Clinic</h2>
            </a>
            <p>A low-barrier treatment center offering virtual and in-person care, including treatment, counseling, and peer recovery support. With innovative solutions like telehealth, mail-order pharmacy, and rideshare assistance, we make care accessible anywhere in Texas. </p>
            <p><a class="arrow" href="https://bewelltexasclinic.org/get-started/">Start or continue your journey to recovery </a></p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <a href="https://bewelltexas.org/patients-families/browse-our-network/">
                <img src="https://placedog.net/690/460" alt="">
                <h2>Be Well Texas Provider Network</h2>
            </a>
            <p>A statewide collaboration of treatment, recovery, and hospital-based service providers designed to offer local solutions to local challenges. With over 160 locations, this network ensures individuals receive consistent, high-quality care close to home. </p>
            <p><a class="arrow" href="https://bewelltexas.org/patients-families/browse-our-network/">Find a provider near you </a></p>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/bewell-footer.twig" %}
