{% include "@components/header-prototypes/header-faculty.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Faculty Resources</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-faculty.twig" %}

<section>
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <main class="cell small-12 medium-7 large-8">
                <h2 class="h3">Handbook of Operating Procedures</h2>
                <ul class="arrow">
                    <li><a href="https://wp.uthscsa.edu/pao/hop/3-toc/">Chapter 3 – Faculty
                            Policies & Procedures</a></li>
                    <li><a href="https://wp.uthscsa.edu/pao/">Handbook of Operating Procedures Table of
                            Contents</a></li>
                </ul>

                <h2 class="h3">Faculty Guide</h2>
                <ul class="arrow">
                    <li><a
                            href="https://lsom.uthscsa.edu/office-faculty/wp-content/uploads/sites/100/2020/05/Resource_LSOM-Faculty-Resource-Guide.pdf">LSOM
                            Faculty Resources Guide</a></li>
                    <li><a
                            href="https://lsom.uthscsa.edu/office-faculty/wp-content/uploads/sites/100/2023/08/GUIDE_LSOM-CV-Steps-to-Success.pdf">LSOM
                            Faculty CV</a></li>
                </ul>

                <h2 class="h3">Well-Being</h2>
                <ul class="arrow">
                    <li><a href="https://lsom.uthscsa.edu/office-faculty/well-being-resources/">Well-Being Resources</a>
                    </li>
                </ul>
            </main>
            <aside class="cell small-12 medium-8 large-3">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="#">Meet our Team</a></li>
                    <li>
                        <a href="#">Faculty Highlights</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">UT System & LSOM Awards 2020</a></li>
                            <li><a href="#">UT System & LSOM Awards 2021</a></li>
                            <li><a href="#">Bexar County Women in Medicine</a></li>
                            <li><a href="#">LSOM Women in Medicine 2022</a></li>
                            <li><a href="#">Shine Academy Awards 2022</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Well-Being Resources</a></li>
                    <li><a href="#">Faculty Resources</a></li>
                    <li><a href="#">Faculty Career Advancement</a></li>
                    <li><a href="#">Retirement</a></li>
                    <li><a href="#">Faculty News</a></li>

                </ul>

            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/faculty-footer.twig" %}