{% include "@components/header-prototypes/header-opa.twig" %}

<section class="full hero bleed img-fill extra-roomy">
  <img src="../../images/jiang-lab.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-right">
        <div class="small-12 large-5 medium-5 cell callout">
          <h1>Admin Resources</h1>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <ul class="accordion blue" data-accordion data-allow-all-closed="true">

            <li class="accordion-item is-active" data-accordion-item>
              <a href="#" class="accordion-title heading">Postdoc Policy</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="http://uthscsa.edu/hop2000/">Handbook of Operating Procedures (HOP)</a></li>
                    <li><a href="https://uthealthsa.sharepoint.com/RAC/Documents/HOP/Chapter04/4.3.12.pdf">Postdoctoral Research Fellow Policy (HOP 4.3.12)</a></li>
                    <li><a href="https://grants.nih.gov/grants/guide/notice-files/NOT-OD-22-132.html">Current Minimum Salary (NIH NOT-OD-22-108)</a></li>


                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Appointments</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/Postdoc%20Appointment%20Process%20Rev%20082922.pdf">Postdoctoral Appointment Process</a></li>
                    <li><a>Offer Letter Instructions</a></li>
                    <li><a>Request for Exception (Extend Duration or Effort Reduction) Instructions</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/Notification%20of%20Intent%20to%20Hire%20030921.pdf">Notification of Intent to Hire (NOITH) Instructions</a></li>
                    <li><a>FAQ</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Forms</a>
              <div class="accordion-content" data-tab-content>
                <h3>Appointment Related</h3>
                <div class="lines margin-bottom">
                  <ul>
                    <li><a>Appointment Offer Letter</a></li>
                    <li><a>Extension of Offer Letter</a></li>
                    <li><a href="https://uthealthsa.sharepoint.com/Forms/HR/Criminal%20Background%20Check.pdf">Criminal Background Check</a></li>
                    <li><a>English Language Proficiency Attestation Form</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/Notification%20of%20Intent%20to%20Hire%20030921.pdf">Notification of Intent to Hire</a></li>
                    <li><a>Termination of Appointment</a></li>
                  </ul>
                </div>
                <h3>Other</h3>
                <div class="lines">
                  <ul>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/Postdoctoral%20Research%20Fellow%20Evaluation_2019a.docx">Evaluation</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/Request%20for%20Exception%20Form%20033020.pdf">Request for Exception (Extend Duration or Effort Reduction)</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/Postdoc%20Minimum%20Salary%20Increase%20Memo%20060322.docx">Request for Postdoc Minimum Salary Increase</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Resources</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="https://www.naces.org/members">National Association of Credential Evaluation
                    (Translation) Services (NACES)</a></li>
                    <li><a href="https://www.uthscsa.edu/vpr/services/conflict-interest">Conflict of Interest Office</a></li>
                    <li><a href="https://vpr.uthscsa.edu/iDisclose/">iDisclose</a></li>
                    <li><a href="https://wp.uthscsa.edu/ois/">Office of Internation Services (OIS)</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Health & Wellness</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="https://uthealthsa.care.com/">Care@Work</a></li>
                    <li><a href="http://uthscsa.edu/hr/benefits.asp">Benefits</a></li>
                    <li><a href="https://students.uthscsa.edu/counseling/">Student Counseling Center</a></li>
                    <li><a href="http://uthscsa.edu/HR/inside/utadv.asp">UT Employee Assistance Program</a></li>
                    <li><a href="https://wellness360.uthealthsa.org/">Wellness 360</a></li>
                    <li><a href="https://www.uthscsa.edu/patient-care/physicians/location/Medical-Arts-Research-Center">MARC Clinics</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Advertising a Postdoctoral Position</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>External - Journals, Meetings, Publications, etc.</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/JobPostingInstructions2017.pdf">Internal - OPA Online Postdoc Positions</a></li>
                  </ul>
                </div>
              </div>
            </li>
        </ul>
    </main>
    
    <aside class="cell large-4 medium-4 small-12">
      <h2>Training Grant Data Repository</h2>
      <p>For access to the Training Grant Data Repository (TGR) please email <a>TrainingGrant@uthscsa.edu</a></p>
    </aside>
  </div>
</section>


{% include "@components/footer-prototypes/OPA-no-alamo.twig" %}