{% include "@components/header v2/header-GSBS.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x margin-x">
            <div class="cell large-5 large-offset-7 small-12">
                <div class="callout">
                    <h1>Ready to apply?</h1>
                    <p>The Graduate School of Biomedical Sciences accepts around 120 students every fall for our
                        programs.
                        Our programs depth and breadth of research span from basic science to tool-based science to
                        translational science. As a premier academic research center, we are committed to training the
                        next
                        generation of researchers and science specialists. Our Master of Science students typically
                        graduate
                        within two years and our doctoral students graduate within 5.5 years.</p>
                    <p><a href="#" class="button">Apply now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation/navbar-GSBS.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-7 large-8">
                <h2 class="h3">Admissions requirements by program</h2>
                <div class="grid-x">
                    <div class="cell small-12 medium-6 lines">
                        <ul>
                            <li><a>D.D.S./Ph.D.</a></li>
                            <li><a>Doctorate of Medical Physics</a></li>
                            <li><a>Ph.D. in Biomedical Engineering</a></li>
                            <li><a>Ph.D. in Integrated Biomedical Sciences</a></li>
                            <li><a>Ph.D. in Nursing Science</a></li>
                            <li><a>Ph.D. in Radiological Sciences</a></li>
                            <li><a>Ph.D. in Translational Science</a></li>
                            <li><a>South Texas Medical Scientist Training Program (MD/PhD Program)</a></li>
                            <li><a>Graduate Certificate in Cancer Prevention Program</a></li>
                            <li><a>Graduate Certificate in Translational Science Program</a></li>
                            <li><a>Pre-Professional Graduate Certificate</a></li>
                        </ul>
                    </div>
                    <div class="cell small-12 medium-6 lines">
                        <ul>
                            <li><a>M.S. in Biomedical Engineering</a></li>
                            <li><a>M.S. in Cell Systems & Anatomy</a></li>
                            <li><a>M.S. in Clinical Investigation & Translational Science</a></li>
                            <li><a>M.S. in Dental Hygiene</a></li>
                            <li><a>M.S. in Dental Science</a></li>
                            <li><a>M.S. in Immunology & Infection</a></li>
                            <li><a>M.S. in Medical Health Physics</a></li>
                            <li><a>M.S. in Personalized Molecular Medicine</a></li>

                        </ul>
                    </div>
                </div>
            </main>
            <aside class="cell small-12 medium-5 large-4">

                <div class="callout contact outline no-bullet">
                    <h2 class="h5">Contact Us</h2>
                    <address> UT Health San Antonio<br>
                        Graduate School of Biomedical Sciences<br>
                        7703 Floyd curl Drive, MC ####<br>
                        San Antonio, TX 78229<br>
                    </address>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span>210-567-3709</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span>gsbs@uthscsa.edu</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-3 flex-container">
                <a class="callout flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="h5">Admission FAQ</h3>
                </a>
            </div>
            <div class="cell small-12 medium-6 large-3 flex-container">
                <a class="callout flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-shoe-prints fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="h5">Accepted? Next Steps</h3>
                </a>
            </div>
            <div class="cell small-12 medium-6 large-3 flex-container">
                <a class="callout flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-globe-americas  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="h5">International Students</h3>
                </a>
            </div>
            <div class="cell small-12 medium-6 large-3 flex-container">
                <a class="callout flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-calculator  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="h5">GPA Calculator</h3>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-12 large-7">
                <h2>Commitment to Diversity</h2>
                <p>As a Hispanic-serving institution, the Graduate School of Biomedical Sciences is committed to
                    training a diverse student body. This commitment is spearheaded by a community of scholars in out
                    three underrepresented NIH grants; the Post-Baccalaureate Research Education Program (PREP), the
                    BRIDGES doctorate joint program with Texas State University, and the Initiative for Maximizing
                    Student Development (IMSD).</p>

                <div class="arrow decoration">
                    <ul>
                        <li><a href="#">BRIDGES</a></li>
                        <li><a href="#">IMSD</a> </li>
                        <li><a href="#">PREP</a></li>
                    </ul>
                </div>
            </div>

            <div class="cell small-12 medium-12 large-5 align-self-middle">
                <div class="responsive-embed">
                    <iframe width="492" height="302" src="https://www.youtube.com/embed/TkkMFg9DVBs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="bleed">
    <div class="grid-container ">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-4 large-2">
                <img src="http://placekitten.com/300/400" alt="kitty">
            </div>
            <div class="cell small-12 medium-8 large-5">
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text, and typically
                        distinguished visually using indentation and a different typeface or smaller size quotation.
                        Blockquotes have no margin/padding of their own and should be placed within another element
                        like a bleed.</p>
                    <cite>Obi-Wan Kenobi, Jedi Master</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>



{% include "@blocks/footer/alamo.twig" %}