{% include "@components/header-prototypes/header-tobacco.twig" %}
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Eliminating Tobacco Use (ETU)</a></li>
    <li><a href="#">Prevention</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Bystander Intervention Scenarios 
    </li>
  </ul>
</nav>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h1 class="h2">Prevention</h1>
<p>UT Health San Antonio wants to help people of all ages live tobacco-free.</p>

<h2 class="filled h5"> Student Scenario:</h2>
Your university recently implemented a policy that prohibits smoking and tobacco use within 50 feet of building doorways. While leaving the engineering building, you see another student using an electronic cigarette very close to the doorway. You could say “maybe you don’t know this, but smoking is prohibited within 50 feet of buildings.” Then you could ask if they mind moving to another area on campus.</p>
<p><em><strong>If he...-</strong></em><br>
	<ol>
		<li>stops using his electronic cigarette, or moves far enough away from the building, thank him and continue with your day.</li>
<li>asks why he can’t smoke near the building, tell him that the university has a new policy that prohibits it.</li>
<li>tells you electronic cigarettes aren’t tobacco, say that the university bans all tobacco use and electronic cigarettes fall under the category of tobacco. - continues to question the policy, explain some of the effects of secondhand smoke and communicate that the university is working towards a healthier environment for the students and environment. - tries to argue with you, tell him that you don’t want to fight and that you would appreciate it if he respects the university’s policy. Then, you can say, “have a nice day” and continue walking.</li></ol></p>

<h2 class="filled h5"> Faculty/Staff Scenario:</h2>
<p>On your lunch break, you're seated at a table outside your building when you notice one of your fellow faculty members sitting nearby. They are engrossed in grading papers while smoking a cigarette. However, you're aware that our institution upholds a tobacco-free policy. Feeling the need to address the situation respectfully, you consider the best approach. You could ask them about their day. Then, politely explain that cigarette use on campus is not allowed and you would appreciate it if they disposed of their cigarette, or respectfully say “I’m not sure if you’re aware, but our school is smoke and tobacco-free. Just thought you’d like to know.”</p>
<p><em><strong>If they...</strong></em> 
<ol>
		<li>agree instantly and put out their cigarette, make sure to thank them for following the school’s policy. Tell them you appreciate their cooperation and will see them in the office.</li>
<li>tell you to mind your own business or dismiss you, don’t get angry or offended. Remind them that you were not trying to be rude, but that you were just letting them know because you were not sure if they were aware of the policy.</li>
<li>continue to be argumentative, say “I think we got off on the wrong foot, I really didn’t mean any disrespect.” Before you leave, you could say “I understand the policy may be hard to follow, but please try to respect that our institution is working towards a healthier environment for everyone. Have a great day!” This demonstrates empathy and leaves room for positive future interactions.</li></ol>
</p>
<p><strong>Contact us:</strong> <a class="coward">tobaccofree@uthscsa.edu</a></p>
<div class="social">
   <ul>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
         </a>
         </span>
      </li>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
</div>
            </main>
            <aside class="small-12 medium-4 cell">
                        <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-smoking-ban fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Quitxt Program</h3>
            </a>
            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tobacco-footer.twig" %}