{% include "@components/header-prototypes/header-superhero-IA.twig" %}
{% include "@components/navigation-prototypes/navbar-IA.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Advancement</a></li>
    <li><a href="#">Guide to Giving</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Endowments
    </li>
  </ul>
</nav>
  <section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 large-8 cell">
            <img src="https://placekitten.com/930/425" class="margin-bottom">
            <h1 class="h2">Endowments</h1>
                <p>An endowment is a permanent gift to the University. The endowment corpus holds your entire gift in a perpetual fund which grows forever in its ability to contribute to the University and your area of interest, as specified in the endowment agreement. Endowment gifts allow both the corpus – your original gift – and the income the corpus generates – to grow.</p>

                <p>To learn more about creating an endowment, please contact Stephanie Van Sickel at 210-567-2575.</p>

                <h2 class="h3">What level of gift is required to establish an Endowment?</h2>
                <p>Endowments may be cash gifts, pledged gifts, planned gifts or combination “blended” gifts. A minimum gift of $10,000 establishes an Endowment at the Health Science Center. Endowed faculty positions begin at $100,000.</p>

              <div class="grid-x margin-top">
              <div class="cell small-12 medium-6 large-6">
                <h3 class="sans-serif">Faculty Endowments</h3>
                <p>President’s Distinguished University Chair</p>
                <p>Distinguished University Chair</p>
                <p>Distinguished Chair</p></div>

              <div class="cell small-12 medium-6 large-6">
                <h3 class="sans-serif h4">Gift Level</h3>
                <p>$3 Million</p>
                <p>$2 Million</p>
                <p>$1 Million</p>
                </div>

              <div class="cell small-12 medium-6 large-6">
                <h3 class="sans-serif">Scholarship Endowments</h3>
                <p>Presidential Scholarship</p>
                <p>General Scholarship</p></div>
              <div class="cell small-12 medium-6 large-6">
                <h3 class="sans-serif h4">Gift Level</h3>
                <p>$50,000</p>
                <p>$10,000</p>
                </div></div></main>

        <aside class="small-12 medium-4 margin-bottom cell" role="complementary"
                <div class="grid-x">
                {% include "@components/navigation-prototypes/subnav-IA-2.twig" %}
                    <div class="callout outline">
        <h3>HSConnect</h3>
            <h4 class="h6">Stay connected with your fellow alumni</h4>
            <p>Are you a first-time or returning Alumnus who has yet to sign up for an HSConnect account? Register today to enjoy the full range of benefits, including the Alumni Directory and Class Notes, alumni event e-mails and e-newsletters. Update your personal profile information and connect with your classmates.</p>
            <p>You do not need to register to make an online donation.</p>
            <p><a class="arrow">Register Today</a></p>
            </aside>
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>