<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Community Engaged Learning</a></li>
                <li><a href="#">Global Health</a></li>
                <li><a href="#">Ethics & Professionalism</a></li>
                <li><a href="#">Literature & Art</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>