{% include "@components/header-prototypes/header-opa.twig" %}
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="../../patterns/prototypes-OPA-current-postdocs/prototypes-OPA-current-postdocs.rendered.html">Current Postdocs</a></li>
        <li>
            <span class="show-for-sr">Current: </span>F-Troop
        </li>
    </ul>
</nav>

<div class="grid-container">
    <h1>F-Troop</h1>
    <p class="subheader">Career Development</p>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
          <img src="https://opa.uthscsa.edu/sites/opa/files/F-TroopWebBanner.png">
          <p>F-Troop is a hands-on writing workshop that targets pre- and postdoctoral trainees who are preparing an application for a fellowship award (e.g., F30, F31, or F32). Equivalent fellowship applications to other funding agencies are also encompassed by this program.</p>
          <p>The virtual meetings are held weekly, on Wednesdays, at 5:00 pm. Meetings are typically 1-2 hours.</p>
          
          <h2>2022 Fall Series</h2>
          

          <div class="grid-x grid-margin-x">
            
            <div class="cell large-6 medium-6 small-12">
              <p>Wednesdays<br>Starting September 14th - November 30th<br>5:00 p.m. - 7:00 p.m.<br>Location: Virtual</p>
              <p><a class="button" href="https://www.surveymonkey.com/r/FTroopFall2022">Register Now</a></p>
            </div>
            <div class="cell large-6 medium-6 small-12">
              <p><strong>You MUST register, at the latest, 24 hours in advance for F-Troop.</strong> You will receive confirmation of registration and a calendar invite with details to enable access to the session.</p>
            </div>
          </div>

          <div class="grid-x grid-margin-x">
            <div class="cell large-6 medium-6 small-12">
              <h2>Faculty</h2>
              <p><strong>Babatunde (Kay) Oyajobi, PhD</strong><br>Professor, Cell Systems and Anatomy (CSA)</p>
            </div>
            <div class="cell large-6 medium-6 small-12">
              <h2>Information</h2>
              <div class="arrow">
                <ul>
                  <li><a href="http://grants.nih.gov/training/F_files_nrsa.htm">Additional information about NIH F Grants</a></li>
                  <li><a href="http://nexus.od.nih.gov/all/2012/06/29/podcast-on-writing-a-successful-fellowship-application/">NIH Podcast on Writing a Successful Fellowship Application</a></li>
                  <li><a href="https://opa.uthscsa.edu/sites/opa/files/F-Troop%20Handbook%20Fall%202022.pdf">F-Troop Handbook (Fall 2022 Edition)</a></li>
                  <li><a href="https://opa.uthscsa.edu/sites/opa/files/F-Troop%20Schedule%202022%20Fall%20Series.pdf">F-Troop Schedule (Fall 2022 Edition)</a></li>
                </ul>
              </div>
            </div>
          </div>

          

          <h2>Seminar Format</h2>
          <p>F-Troop is conducted in a small group, informal format. F-Troop sessions include discussions of the NIH peer-review process, including communications with NIH officials and selection of study section, as well as UT Health San Antonio associated requirements (eCOP and Cayuse). Most importantly, major effort is devoted to case-by-case presentations and evaluation/discussion of F grant components prepared by individual trainees. This interactive group effort provides friendly, but frank, feedback toward the goal of submitting a competitive F application.</p>

          

          

        </main>
        <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
         
          <h2>Upcoming Events</h2> 
          <div class="event">
            <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
              <div class="month">jan</div>
              <div class="day">10</div>
            </a>
            <div class="details">
              <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
              <div class="date">January 10, 2023</div>
            </div>
          </div>
          <div class="event">
            <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
              <div class="month">jan</div>
              <div class="day">11</div>
            </a>
            <div class="details">
              <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
              <div class="date">January 11, 2023</div>
            </div>
          </div>
          <div class="event">
            <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
              <div class="month">jan</div>
              <div class="day">20</div>
            </a>
            <div class="details">
              <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
              <div class="date">January 20, 2023</div>
            </div>
          </div>
          <div class="event">
            <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
              <div class="month">jan</div>
              <div class="day">22</div>
            </a>
            <div class="details">
              <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
              <div class="date">January 22, 2023</div>
            </div>
          </div>
          <p><a class="button ghost" href="http://uthscsa.staging.localist.com/search/events?event_types%5B%5D=41058213406737">View all events</a></p>

          

          <h2>Contact Us</h2>
          <p>For more information, contact the Office of Postdoctoral Affairs at 210-567-0397 or <a>PostdocEvents@uthscsa.edu</a></p>

          
        </aside>
    </div>
</div>

{% include "@blocks/footer/OPA-no-alamo.twig" %}