{% include "@components/header-prototypes/header-tcmhcc.twig" %}
<section class=" hero bleed img-fill gradient white right">
    <img src="https://placedog.net/1920/1080" alt="adorable pup">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-right godly">
            <div class="small-12 medium-5 cell callout white">
                <img src="../../images/tcmhcc/tcmhcc-logo.png">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tcmhcc.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-10 text-center">
                <h2>Texas Child Mental Health Care Consortium at UT Health</h2>
                <p class="h5">Improving mental health care and systems of care for the children and adolescents of
                    Texas.
                </p>
            </div>
        </div>

        <hr class="margin-2">

        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-9">
                <h3>Who we are</h3>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-6">
                <p>UT Health San Antonio has a long history of collaborating with community partners who provide
                    exceptional care with tremendous dedication to the people of South-Central Texas. As a member of the
                    state-sponsored Texas Child Mental Health Care Consortium (TCMHCC), the Department of Psychiatry and
                    Behavioral Sciences unites with academic medical centers in Texas to ensure that youth throughout
                    our state receive high quality and timely behavioral health care.</p>
            </div>

            <div class="cell small-12 medium-6">
                <p><a href="https://tcmhcc.utsystem.edu/">TCMHCC</a> was created by the 86th Texas Legislature to
                    leverage the expertise and capacity of the health-related institutions of higher education to
                    address urgent mental health challenges and improve the mental health care system in this state in
                    relation to children and adolescents. </p>
            </div>

        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-9 text-center">
                <h2 class="h3">Our Initiatives</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <a class="callout cell small-12 medium-4">
                <div class="card-section">
                    <h2 class="h3 sans-serif">CPAN</h2>
                    <p>The Child Psychiatry Access Network (CPAN) provides telehealth-based consultation and training
                        to primary care providers.</p>
                </div>
            </a>

            <a class="callout cell small-12 medium-4">
                <div class="card-section">
                    <h2 class="h3 sans-serif">TCHATT</h2>
                    <p>The Texas Child Health Access Through Telemedicine (TCHATT) program provides in-school
                        behavioral telehealth care to at-risk children and adolescents.</p>
                </div>
            </a>

            <a class="callout cell small-12 medium-4">
                <div class="card-section">
                    <h2 class="h3 sans-serif">YAM</h2>
                    <p>The Youth Aware of Mental Health (YAM) intervention is a universal, school-based mental health
                        promotion and suicide primary prevention intervention for adolescents.</p>
                </div>
            </a>

            <p class="text-center margin-top"><a class="button">All Programs</a></p>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-5 large-4">
                <img src="../../images/tcmhcc/texas-coverage.png">
            </div>
            <div class="cell medium-7 small-12 large-8">
                <h2>Who we serve</h2>
                <p>The TCMHCC at UT Health San Antonio serves the following counties: </p>
                <div class="grid-x">
                    <div class="cell small-3">
                        <li>Atascosa</li>
                        <li>Bandera</li>
                        <li>Bee</li>
                        <li>Bexar</li>
                        <li>Comal</li>
                        <li>De Witt</li>
                        <li>Dimmit</li>
                        <li>Edwards</li>
                        <li>Frio</li>
                        <li>Gillespie</li>
                    </div>
                    <div class="cell small-3">
                        <li>Goliad</li>
                        <li>Gonzales</li>
                        <li>Guadalupe</li>
                        <li>Karnes</li>
                        <li>Kendall</li>
                        <li>Kerr</li>
                        <li>Kimble</li>
                        <li>La Salle</li>
                        <li>Live Oak</li>
                        <li>Llano</li>
                    </div>
                    <div class="cell small-3">
                        <li>Mason</li>
                        <li>Mcculloch</li>
                        <li>Mcmullen</li>
                        <li>Medina</li>
                        <li>Menard</li>
                        <li>Real</li>
                        <li>Refugio</li>
                        <li>San Patricio</li>
                        <li>San Saba</li>
                        <li>Schleicher</li>
                    </div>
                    <div class="cell small-3">
                        <li>Sutton</li>
                        <li>Uvalde</li>
                        <li>Victoria</li>
                        <li>Wilson</li>
                        <li>Zavala</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bleed color grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell small-12 medium-9">
                <h2>TCMHCC Directors</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center ">
            <div class="card popout cell small-12 medium-4">
                <div class="card-section">
                    <img src="../../images/tcmhcc/pliszka.png">
                    <h3 class="close">Steven Pliszka, M.D.</h3>
                    <p>TCMHCC Director</p>
                    <p>Dr. Pliszka holds over 30 years of experience in child and adolescent psychiatry. While
                        he has heald many titles over his career, Dr. Pliszka currently serves as Chairman of the
                        department of Psychiatry & Behaviroal Sciences at UT Health San Antonio.
                    </p>
                </div>
            </div>

            <div class="card popout cell small-12 medium-4">
                <div class="card-section">
                    <img src="../../images/tcmhcc/blader.png">
                    <h3 class="close">Joseph Blader, PhD</h3>
                    <p>TCMHCC Co-Director</p>
                    <p>Dr. Blader has an extensive background in both clinical and academic work with
                        publications in medical journals and textbooks. Dr. Blader currently holds the Meadows
                        Foundation and Semp Russ Professorship in Child Psychiatry at UT Health San Antonio.
                    </p>
                </div>
            </div>

            <div class="card popout cell small-12 medium-4">
                <div class="card-section">
                    <img src="../../images/tcmhcc/fields.png">
                    <h3 class="close">Kristina Fields, MS, LMFT</h3>
                    <p>TCMHCC Program Manger</p>
                    <p>Kristina has over 10 years of experience working in Adult and Child Psychiatry at UT Health
                        serving in clinical, research, and administration roles. </p>
                </div>
            </div>

            <p class="text-center margin-top"><a class="button">Meet the team</a></p>

        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="callout cell small-12 medium-6">
                <h2 class="h4 text-center">TCMHCC Highlights</h2>

                <div class="lines loose-list">
                    <ul>
                        <li><a>Hightlight 1</a></li>
                        <li><a>Hightlight 2</a></li>
                        <li><a>Hightlight 3</a></li>
                        <li><a>Hightlight 4</a></li>
                    </ul>
                </div>
            </div>

            <div class="callout cell small-12 medium-6">
                <h2 class="h4 text-center">TCMHCC in the News</h2>

                <div class="lines">
                    <ul>
                        <li><a>News item 1</a></li>
                        <li><a>News item 2</a></li>
                        <li><a>News item 3</a></li>
                        <li><a>News item 4</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}