{% include "@components/header v2/header-GSBS.twig" %}
{% include "@components/navigation/navbar-GSBS.twig" %}

{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <aside class="cell small-12 medium-4 large-4 small-order-2 medium-order-1">
                <img src="../../images/gsbs-student-profile.jpg" class="margin-bottom">

                <h2 class="sans-serif h5 bold close">Programs</h2>
                <p><a class="no-underline">Ph.D. in Integrated Biomedical Sciences</a></p>


                <h2 class="sans-serif h5 bold close">IBMS Discipline</h2>
                <p><a class="no-underline">Cell Biology, Genetics, and Molecular Medicine</a></p>


                <h2 class="sans-serif h5 bold close">Programs</h2>
                <p><a class="no-underline">Jean C. Bopassa, Ph.D</a></p>

            </aside>
            <main class="cell small-12 medium-8 large-8 small-order-1 medium-order-2">
                <h1>Abdulhafiz Aliagan, M.S.</h1>
                <p class="subheader">Ph.D. Student</p>

                <p>Abdulhafiz is working on elucidating the role of the inner mitochondrial membrane protein
                    (Mic60/Mitofilin) in Parkinson’s disease. Mitochondrial dysfunction is a major hallmark in many
                    diseases including Parkinson’s disease, and Mic60/Mitofilin dysregulation plays a key role in
                    mitochondrial dysfunction. The goal of his research is to understand the mitochondrial-dependent
                    mechanism leading to mitochondrial dysfunction and ultimately dopaminergic neuron death in Parkinson
                    disease, using mouse models and in vitro models. He combines various multidisciplinary approaches
                    including biochemical, molecular biology, genetics, neuroscience and microscopic approaches to
                    elucidate the mechanism of Mic60 downregulation, and how to protect against this downregulation to
                    induce neuroprotection.
                </p>


                <h2 class="sans-serif h5 bold"> Education</h2>
                <ul>
                    <li>M.S., Biology, Texas A&M University, Kingsville, 2017</li>
                    <li>B.S., Microbiology, Kwara State University, 2013</li>
                </ul>

                <h2 class="sans-serif h5 bold">Awards</h2>
                <p>Invited platform presenter, Perry & Ruby Stevens Parkinson’s Disease Center of Excellence, San
                    Antonio, TX, March 2019.</p>

                <h2 class="sans-serif h5 bold"> Education</h2>
                <div class="loose-list">
                    <ul class="no-bullet">
                        <li>Feng, Y., Madungwe, N.B., <strong>Imam Aliagan, A.D.</strong>, Tombo N., and Bopassa, JC
                            (2019).
                            <a>Liproxstatin-1 protects the mouse myocardium against ischemia/reperfusion injury by
                                decreasing
                                VDAC1 levels and restoring GPX4 levels</a>. Biochem Biophys Res Commun. 2019 Oct 14.
                            pii:
                            S0006-291X(19)31897-2. doi: 10.1016/j.bbrc.2019.10.006.</li>

                        <li><strong>Imam Aliagan A.D.</strong>, Daraei M.A, Feng, Y., Liu L, Madungwe, N.B., Tombo, N.,
                            and
                            Bopassa J.C (2019) Mitofilin Interacts with Parkin in the Inner Mitochondrial Membrane to
                            Increase Dopaminergic Neuron Death in Response to PD Stressors. In review.</li>

                        <li>Madungwe, N.B., Feng, Y., <strong>Imam Aliagan, A.D.</strong>, Tombo, N., Kaya, F., and
                            Bopassa,
                            J.C. (2019). Inner mitochondrial membrane protein MPV17 mutant mice hearts display impaired
                            cardiac functional recovery after ischemia/reperfusion via dysregulation of the
                            mitochondrial
                            permeability transition pore. In review.</li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}