{% include "@components/header-prototypes/header-tcmhcc.twig" %}
{% include "@components/navigation-prototypes/navbar-tcmhcc.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-7 large-8 cell">

                <h1>About YAM</h1>

                <p>YAM is one of the five initiatives funded through the Texas Child Mental Health Care Consortium
                    (TCMHCC) in 2019, which was created by the 86th Texas Legislature to leverage the expertise and
                    capacity of the health-related institutions of higher education to address urgent mental health
                    challenges and improve the mental health care system in this state in relation to children and
                    adolescents.</p>

                <p>UT Health San Antonio is one of the health-related institutions of higher education in Texas that is
                    a hub for YAM. The YAM team at UT Health San Antonio has certified YAM facilitators and trained
                    helpers to conduct the YAM program in schools. Our YAM facilitators have completed an intensive
                    week-long certification before becoming a YAM Instructor, and the trained helpers have completed a
                    shorter training to act as a support in the classroom. All YAM Instructors have prior experience
                    working with groups of youth, and both facilitators and helpers are fully screened to ensure they
                    can work with students.
                </p>

                <h2 class="h3 color">How YAM Works</h2>

                <p>The program is appropriate for 8th grade (starting the 2nd semester) through 12th graders. YAM is a
                    universal prevention program, meaning all students within a grade should receive the training, not
                    just a subset of students. YAM is typically delivered to either an entire grade level or the entire
                    school over the course of 3 to 5 weeks. Depending on your school’s class schedule, YAM can be
                    delivered as follows: </p>
                <ul>
                    <li>Two and a half 90-minute classes on a Block schedule or</li>
                    <li>Five 45–60-minute classes on a Traditional schedule.</li>
                </ul>

                <h2 class="h3 color">District Partnership with YAM</h2>

                <p>District and campus administration can contact UT Health San Antonio to start the process of bringing
                    YAM to their district or school. Once contact is made, we strongly encourage information sessions be
                    held and attended for all stakeholders; to include the superintendent, school board members,
                    principals, school staff, parents, community members, and students to ensure all questions about the
                    program are addressed.</p>

                <p>To proceed with the process of bringing YAM into your district, a simple MOU with UT Health San
                    Antonio is required.</p>

            </main>

            <aside class="cell small-12 medium-5 large-4">
                <a class="callout color orange">
                    <h3 class="ruled">Programs</h3>
                    <p>Learn more about the programs we offer</p>
                </a>
                <a class="callout color dark-grey">
                    <h3 class="ruled">Meet the Team</h3>
                    <p>Meet the team behind our efforts</p>
                </a>

            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}