{% include "@components/header-prototypes/header-oess.twig" %}

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8 large-8 small-12">
        <h1>Training</h1>
        <p>Some of the most important ways we can work toward a campus community free of sex discrimination and sexual harassment is by turning our focus to prevention and education. Prevention means focusing up-stream and addressing the causes of discrimination. Sexual assault, sexual harassment, and sex-based discrimination awareness education are impactful tools for campus culture change. We know that meaningful culture change can only be achieved by addressing the patterns, beliefs, and behaviors that are at the root of sex-based discrimination and sexual violence.</p>
        <p><a href="#" class="button">Request Title IX Training</a></p>
      </div>
      <div class="cell medium-4 large-4 small-12">
        <img src="https://picsum.photos/400/250" alt="">
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-oess.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-4 cell">
                    <img src="https://picsum.photos/id/1015/450/340">
                    <h3 class="h4">Prevention Programs</h3>
                <div class="arrow">
	<ul>
		<li><a href="#">Bystander Intervention Initiative</a></li>
		<li><a href="#">UT Health San Antonio Police Department Prevention Programs</a> </li>
		<li><a href="#">Rape Aggression Defense (R.A.D.) Course</a></li>
	</ul>
</div>
            </div>
            <div class="small-12 medium-4 cell">
                    <img src="https://picsum.photos/id/1020/450/340">
                    <h3 class="h4">Student Title IX Training</h3>
                <div class="arrow">
	<ul>
		<li><a href="#">New Student Orientation</a></li>
		<li><a href="#">Everfi Student Training</a> </li>
		<li><a href="#">Registered Student Organizations & Student Leaders Title IX Training</a></li>
	</ul>
</div>

            </div>
            <div class="small-12 medium-4 cell">
                    <img src="https://picsum.photos/id/1035/450/340">
                    <h3 class="h4">Faculty & Staff Title IX Training</h3>
                <div class="arrow">
	<ul>
		<li><a href="#">Title IX Personnel Training</a></li>
		<li><a href="#">Everfi Faculty & Staff Training</a> </li>
	</ul>
</div>

            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-5 large-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MlF5yAF85aI?si=tdILNQj-3lpvFZmK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="cell small-12 medium-7 large-7">
                <h2>It’s On Us at UT Health San Antonio</h2>
                <p>In conjunction with the national It’s On Us campaign, UT Health San Antonio offers and integrates It’s On Us efforts with educational awareness and prevention events, such as a campus-wide It’s On Us poster campaigns, “Day of Action,” pledge drives, resource fairs, speakers and interactive events, where our campus community can commit and show support in taking an active role in combatting all forms of sexual violence.</p>
            </div>
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>