<section class="bleed beige">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center-middle">

            <div class="cell medium-5 large-4 text-center">
                <span class="fa-stack fa-8x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hand-holding-medical fa-stack-1x fa-inverse"></i>
                </span>
            </div>

            <div class="cell medium-7 large-8">
                <h2>Donate to the Center</h2>

                <p>Matthew Dacso, MD, MSc has been appointed as new Director of the Charles E. Cheever, Jr. Center for
                    Medical Humanities and Ethics and Professor in the Department of Medicine with a start date of May
                    1, 2024. Dr. Dacso was selected after a national search led by Dr. Francisco Cigarroa.</p>
                <div class="button-group">
                    <p><a href="#" class="button">Donate</a></p>
                </div>
            </div>

        </div>
    </div>
</section>