{% include "@components/header-prototypes/header-tobacco.twig" %}
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h1 class="h2">Contact Us</h1>
<p>UT Health San Antonio wants to support you in your decision to quit smoking! Please use our resources and tools to quit, or let us know how we can help you:</p>
<ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">etu@uthscsa.edu</span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                        </span>
                     </span> <span class="">210-562-5536</span>
                  </a>
               </li></ul>

<div class="social">
   <ul>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
         </a>
         </span>
      </li>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
</div>
            </main>
            <aside class="small-12 medium-4 cell">
                            <img src="../../images/ut-health-science-center-with-sign.jpg" alt="uthscsa altc building">
</div>
            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tobacco-footer.twig" %}
