<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">University Scheduling</a></li>
                    <li><a href="#">A/V Classroom Support</a></li>
                                </ul>
        </div>
    </div>
</nav>