{% include "@components/header-prototypes/header-UTD.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout grey">
                <h1 class="sans-serif">Student Clinic</h1>
                <p>Students in the School of Dentistry, under the close supervision of dental school faculty members, offer dental services at a discounted price in exchange for an extra investment of your time.</p>
                <p><a class="button">Request Screening Appointment</a></p>
            </aside>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-UTD.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Practices</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Student Clinic
    </li>
  </ul>
</nav>

<div class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-8">
                <p>Students in the School of Dentistry, under the close supervision of dental school faculty members, offer dental services at a discounted price in exchange for an extra investment of your time. You don’t have to be part of the UT System or meet any other qualifications to become a patient at our San Antonio teaching practice, but know that the services and hours at our practice are limited based on the schedules and learning goals of our student dentists.</p>

<p>If you choose our practice, you will first go through a screening appointment at one of our student pre-doctoral practice groups. We perform services based on the types of skills our students are building in training year and each practice. So if your dental needs (an abscessed tooth that needs tooth extraction, a canker sore that will not heal, or a cavity that needs to be filled, for example) match the types of services we are able to provide, you’ll receive care and a follow-up appointment so that your recovery progress is monitored. If your dental needs require specialty care, our practice can refer you to another practice at UT Health Dentistry.
</p>

<div class="grid-container">
<div class="grid-x grid-margin-x">
<div class="cell large-6 medium-6 small-12 flex-container">
<div class="callout flex-child-auto">
<h3 class="ruled text-center color sans-serif">Appointments</h3>
<p>Before you can obtain an appointment for treatment in our student clinics, you must first have a Screening appointment beginning with <a>completing a screening form</a>. You'll be evaluated during this visit. You will be informed of your potential qualifications and receive a call for an appointment to complete procedures if your dental needs can be served by our practice.</p>

<p>If you only need a tooth extraction at this time, please call the <a>Student Oral Surgery Extraction Clinic</a> at <strong>210-450-3140.</strong></p>

<p>The Student Clinics observe most national holidays as well as additional days for mid-year holiday, Spring Break, and Summer break and are closed during these times. 
</p>
  </div>
</div>
<div class="cell large-6 medium-6 small-12 flex-container ">
<div class="callout flex-child-auto">
<h3 class="ruled text-center color sans-serif">Our Staff</h3>
                                <p>Our practice is staffed by School of Dentistry students who are gaining practical experience performing procedures. Student dentists are closely supervised by School of Dentistry faculty.</p>
                            </div>
                        </div></div>
<div class="grid-x grid-margin-x">
<div class="cell large-6 medium-6 small-12 flex-container">
<div class="callout flex-child-auto">
<h3 class="ruled text-center color sans-serif">Payments & Insurance</h3>
<p>A non-refundable fee is charged for a screening appointment. Payment for procedures is expected at the time of service. If you are accepted as a patient, fees can be paid by cash, check or credit card.</p>
<p><a class="arrow">Pay online</a></p>
                            </div>
                        </div>
                        <div class="cell large-6 medium-6 small-12 flex-container ">
                            <div class="callout flex-child-auto">
                            <h3 class="ruled text-center color sans-serif">Location</h3>
                                <p>Predoctoral General Practice Groups located on the 3rd & 4th floors, Center for Oral Health Care & Research, 8210 Floyd Curl Drive, San Antonio, Texas 78229</p>
                                <p><a class="arrow"> Directions and parking</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <aside class="cell small-12 medium-4 large-4">
                <div class="callout outline cyan margin-bottom">
                    <h2 class="h3 sans-serif">Services</h2>
                    <div class="lines">
                        <ul>
                            <li><a href="#">Adult Teeth Cleaning</a></li>
                            <li><a href="#">Crowns and Bridges</a></li>
                            <li><a href="#">Deep Cleaning</a></li>
                            <li><a href="#">Dental Implant Restoration</a></li>
                            <li><a href="#">Dental Implant Surgery</a></li>
                            <li><a href="#">Dental Veneer</a></li>
                            <li><a href="#">Dentures</a></li>
                            <li><a href="#">Emergency Dental Care</a></li>
                            <li><a href="#">Extraction</a></li>
                            <li><a href="#">Fillings</a></li>
                            <li><a href="#">Gum Disease Treatment</a></li>
                            <li><a href="#">Gum Grafting</a></li>
                            <li><a href="#">Gum Recession Treatment</a></li>
                            <li><a href="#">Nutritional Counseling</a></li>
                            <li><a href="#">Pediatric Teeth Cleaning</a></li>
                            <li><a href="#">Periodontal Assessments</a></li>
                            <li><a href="#">Pit and Fissure Sealants</a></li>
                            <li><a href="#">Tobacco Cessation</a></li>
                            <li><a href="#">Tooth Replacement</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
            </div>
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
          <h3>UT Dentistry</h3>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-3700</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">School of Dentistry</a></li>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>