{% include "@components/header-prototypes/header-GSBS.twig" %}
{% include "@components/navigation-prototypes/navbar-GSBS.twig" %}

{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <aside class="cell small-12 medium-4 large-4 small-order-2 medium-order-1" role="complementary"
                aria-labelledby="contact-us">
                <img src="../../images/careeradv-kenhargreaves.jpg" class="margin-bottom">

                <h2 class="sans-serif h5 bold" id="contact-us">Opportunities</h2>
                <p>I am available for workshops, lectures, internships, and one-on-one meetings.</p>
            </aside>
            <main class="cell small-12 medium-8 large-8 small-order-1 medium-order-2">
                <h1>Kenneth Hargreaves, D.D.S., Ph.D.</h1>
                <p class="subheader small margin-bottom">Professor and Chair, Dept of Endodontics, School of Dentistry, UT Health San
                    Antonio</p>
                <p class="subheader small margin-bottom">Professor, Departments of Pharmacology, Physiology and Surgery, Long School of
                    Medicine, UT Health San Antonio</p>

                <p>Dr. Ken Hargreaves received his D.D.S. from Georgetown University School of Dentistry and his Ph.D.
                    in physiology from the Uniformed Services University of the Health Sciences in Bethesda, MD. He also
                    completed a postdoctoral fellowship in clinical and basic pain research at the National Institute of
                    Health and his residency in endodontics from the University of Minnesota.</p>

                <p>He joined the University of Texas Health Science Center at San Antonio, as Professor and Chair of the
                    Department of Endodontics in 1997, and is jointly appointed as a professor in the Departments of
                    Pharmacology and Physiology and Surgery (Medical School).</p>

                <p>His area of research focuses on the <a>pharmacology of pain and inflammation</a> and currently he
                    serves as a private investigator or co-private investigator on $30 million in NIH research grants.
                    He has received an NIH MERIT Award and the 2013 UT Health San Antonio Presidential Distinguished
                    Senior Research Scholar Award.</p>

                <p>He has published 160 papers, two textbooks, and has five patents issued/pending. Among these papers
                    are the description and validation of the “Hargreaves method,” which is broadly recognized as a
                    standard method for evaluating new analgesic drugs, and is in the top 5 percent of all papers cited
                    in the field of pain research.</p>

                <h2 class="sans-serif h5 bold"> Education</h2>
                <ul>
                    <li>B.A., Neurobiology, University of California Berkeley, 1977</li>
                    <li>D.D.S., Georgetown University, 1983</li>
                    <li>Ph.D., Physiology, Uniformed Services University of the Health Science, 1986</li>
                    <li>Postdoc lab of Ron Dubner, National Institutes of Health, 1985-90</li>
                    <li>Certificate in Endodontics, University of Minnesota, 1993</li>
                </ul>

                <h2 class="sans-serif h5 bold">Career path</h2>
                <p>I am a clinician-scientist who is focused on basic and clinical translational research on pain. I use
                    a “team science” approach both within my group as well as with deep sustained collaborations among
                    several pain labs on campus. I got to this point in my career by focusing on the gap between basic
                    scientists and clinicians.</p>

                <p>In my opinion, this “desert” hinders development of novel therapies since basic scientists do not
                    have direct patient experience and clinicians do not have experience with mechanistic research.
                    These problems hinder development of break-through therapeutics. I believe that this problem is
                    ideally addressed by clinician-scientists and team science.</p>
            </main>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}