{% include "@components/header-prototypes/header-src.twig" %}
<section class="full hero bleed img-fill extra-roomy">
  <img src="https://placekitten.com/1440/700" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-right">
        <div class="small-12 large-5 medium-5 cell callout">
            <h1>ENGAGED</h1>
            <p>Carrot cake jelly ice cream caramels lollipop wafer powder sesame snaps icing. Icing chocolate toffee icing tootsie roll danish biscuit candy. Sesame snaps jelly sugar plum tart caramels. Croissant tiramisu sweet roll dragée toffee dessert shortbread sweet roll pie. Muffin chupa chups pudding bonbon candy canes.</p>
            <p><a class="button">ENGAGED</a></p>

        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-src.twig" %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-8 medium-8 small-12">
      <p>Marzipan fruitcake tart shortbread powder topping gummi bears. Carrot cake tiramisu lemon drops cotton candy sesame snaps lemon drops. Pastry chocolate cake cookie icing cookie tootsie roll carrot cake. Liquorice sugar plum sesame snaps topping cheesecake brownie. Sesame snaps chocolate shortbread soufflé lemon drops gummies tiramisu cookie. Cupcake dragée pudding bear claw gummies bear claw lollipop fruitcake cotton candy. Brownie gingerbread jujubes sugar plum oat cake chocolate icing cotton candy bear claw.</p>
      <p>Chocolate cake bear claw danish tart lollipop macaroon. Shortbread tiramisu sesame snaps cupcake dessert muffin carrot cake. Topping candy dragée chocolate cake dessert. Caramels candy marzipan lollipop cookie topping marshmallow. Jujubes candy pastry halvah chocolate apple pie icing gummies.</p>
      <p>Tootsie roll gummies tart liquorice topping. Candy carrot cake carrot cake pastry oat cake muffin. Sweet roll jelly beans chupa chups chupa chups pastry gingerbread caramels. Croissant candy canes cheesecake liquorice bear claw. Sugar plum dragée topping jelly bonbon. Chocolate cake sweet fruitcake jujubes gingerbread marshmallow icing marzipan. </p>
    </section>
    <aside class="cell large-4 medium-4 small-12">
      <img src="http://placekitten.com/500/300">
    </aside>
  </div>
</div>




{% include "@components/footer-prototypes/src-no-alamo.twig" %}