{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>News</h1>
                <p class="large">Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-12 medium-12 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/12/WEconnect-Health_Lifestyle-Mockup-2-min.png_RESIZE-850x567-1.png" alt="" style="height:311px;">
                        <p class="large">Smartphone app can help reduce opioid use and keep patients in treatment, UT Health San Antonio study shows</p>
                    </a>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/11/Teen-Mental-Helath-small-1200x800-1.jpg" alt="" style="height:311px;">
                        <p class="large">UT Health San Antonio awarded $9.9 million in county ARPA funds targeting substance use, behavioral health and long COVID</p>
                    </a>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/10/BWTX-Clinic-Hallway_DrKing-resized-1200x843-1.jpg" alt="" style="height:311px;">
                        <p class="large">Be Well Clinic offers recovery, hope</p>
                    </a>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/10/DSC00561-scaled-e1729703152525.jpg" alt="" style="height:311px;">
                        <p class="large">Hidden Killers: Inside San Antonio's struggle with fentanyl and meth addiction</p>
                    </a>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/10/DSC00649-scaled.jpg" alt="" style="height:311px;">
                        <p class="large">Texas leaders, moms who lost kids to fentanyl unite for second awareness walk</p>
                    </a>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/10/Dr.-Bone-KSAT-interview-Aug-2024.jpg" alt="" style="height:311px;">
                        <p class="large">Meth can damage brain like traumatic brain injuries, one treatment is helping with both</p>
                    </a>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/09/6edbdf60d8_OTR_BLOG_RANDY_WEBLEG.jpg" alt="" style="height:311px;">
                        <p class="large">On the Record with Randy Beamer</p>
                    </a>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/07/34A_1D8_13070105_1003186644_4.jpg" alt="" style="height:311px;">
                        <p class="large">‘Think Science: Let’s talk about addiction’ held Monday at UT Health San Antonio</p>
                    </a>
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <a href="#">
                        <img src="https://bewelltexas.org/wp-content/uploads/2024/06/Narcan-Texas-Tribune.png" alt="" style="height:311px;">
                        <p class="large">Texas revamps Narcan distribution following delays, unpredictable supply</p>
                    </a>
                </div>
            </div>
            <br>
            <br>
             <nav aria-label="Pagination">
                <ul class="pagination">
                    <li class="pagination-previous"><a href="#" aria-label="Previous page"> <span class="show-for-sr"> Previous page</span></a></li>
                    <li><a href="#" aria-label="Page 1">1</a></li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 2</li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li class="ellipsis" aria-hidden="true"></li>
                    <li><a href="#" aria-label="Page 10">10</a></li>
                    <li><a href="#" aria-label="Page 11">11</a></li>
                    <li><a href="#" aria-label="Page 12">12</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">Next page</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/bewell-footer.twig" %}
