<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <a class="card cell small-12 medium-4 large-4 color orange">
            <img src="https://picsum.photos/534/300">
            <div class="card-section">
                <h4>Interactive Card</h4>
                <p>This is a card with .orange</p>
            </div>
        </a>
    </div>
</div>