{% include "@components/header v2/header-students.twig" %}

<section class="hero bleed img-fill full">
  <img src="https://source.unsplash.com/1500x750/?nature,water" alt="nature">
  <div class="grid-container extra-roomy">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
          <h1>Student Counseling Center</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="button-group">
        <p><a href="#" class="button">Schedule Appointment</a></p>
        <p><a href="#" class="button ghost">Crisis Line</a></p>
    </div>
</section>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-students.twig" %}

<section class="bleed">
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4 large-4 card beige flex-container flex-dir-column">
        <div class="card-section flex-child-shrink">
            <img src="https://picsum.photos/534/300">
            <h4>What We Do</h4>
            <div class="arrow">
  <ul>
    <li><a href="#">Counseling Services</a></li>
    <li><a href="#">Schedule Appointment</a> </li>
    <li><a href="#">Frequently Asked Questions</a></li>
    <li><a href="#">Outreach/Workshops</a></li>
    <li><a href="#">Referendum</a></li>
    <li><a href="#">How to Find Us</a></li>
  </ul>
</div>
        </div>
    </div>
    <div class="cell small-12 medium-4 large-4 card beige flex-container flex-dir-column">
        <div class="card-section flex-child-grow">
            <img src="https://picsum.photos/534/300">
            <h4>Important Links</h4>
            <div class="arrow"><ul>
            <p><li><a href="#">After-Hours Crisis Intervention</a></li>
            <li><a href="#">Anonymous Self-Assessment</a></li>
            <li><a href="#">Privacy Regulations/FERPA/HIPAA</a></li>     
            <li><a href="#">Resources</a></li>     
            </ul>
</div>
        </div>
    </div>
    <div class="cell medium-4 large-4">
         <div class="callout contact outline">
            <h2 class="h5">Contact Us</h2>
            <address>
               UT Health San Antonio<br>
               
               7703 Floyd curl Drive<br>
               San Antonio, TX 78229<br>
               <strong>Located in the Dental School Building<br>
               in Rm 3.100R.1</strong>
            </address>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class=""> Mon-Fri: 8am-5pm </span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                        </span>
                     </span> <span class="">210-567-2648 </span>
                  </a>
               </li></ul>
               <p><a class="arrow">About Us</a></p>
            <p><a class="arrow"> Policy</a></p>
         </div>
      </div>
   </div>
</div>
</section>


<section class="bleed color">
<div class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
      <div class="flex-child-auto">
        <h2 class="text-center">News</h2>
        <div class="lines">
          <ul>
            <li><a href="#">Higher Education Emergency Relief Fund (HEERF) III – CLOSED</a></li>
            <li><a href="#">CARES Act Grant for Students</a></li>
            <li><a href="#">My Student Center will offer an improved navigation</a></li>
            <li><a href="#">Improved User Experience</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-child-shrink">
        <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
      </div>
    </div>
    <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
      <div class="flex-child-auto">
        <h2 class="text-center">Events</h2>
        <div class="lines">
          <ul>
            <li class="flex-container flex-dir-row align-middle">
              <div class="flex-child-auto">
                <a href="#">
                  <div class="datebox">
                    <div class="month">apr</div>
                    <div class="day">19</div>
                  </div>
                </a>
              </div>
              <div class="flex-child-auto">
                <a href="#">Event 1</a>
              </div>
            </li>
            <li class="flex-container flex-dir-row align-middle">
              <div class="flex-child-auto">
                <a href="#">
                  <div class="datebox">
                    <div class="month">apr</div>
                    <div class="day">19</div>
                  </div>
                </a>
              </div>
              <div class="flex-child-auto">
                <a href="#">Event 2</a>
              </div>
            </li>
            <li class="flex-container flex-dir-row align-middle">
              <div class="flex-child-auto">
                <a href="#">
                  <div class="datebox">
                    <div class="month">apr</div>
                    <div class="day">21</div>
                  </div>
                </a>
              </div>
              <div class="flex-child-auto">
                <a href="#">Event 3</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-child-shrink">
        <p class="text-center"><a href="#" class="button ghost">View all News</a></p>
      </div>
    </div>
  </div>
  </section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>