{% include "@components/header-prototypes/header-bewell.twig" %}

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Leadership
    </li>
  </ul>
</nav>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12 ">
            <h1>Leadership</h1>
            <div class="grid-x grid-padding-x grid-margin-y grid-padding-y">
                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/BWI-JenniferPotter.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Jennifer Sharpe Potter, PhD, MPH</h2>
                    
                    <p>Executive Director, Be Well Texas<br>Senior Vice President of Research<br>Professor, Department of Psychiatry & Behavioral Sciences <br>UT Health San Antonio </p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/BWI-BriseidaCourtois.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Briseida ("Bee") Courtois, MSSW, LCDC, CMA</h2>
                    
                    <p>Director, Substance Use Services</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/BWI-TaraWright.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Tara E. Karns-Wright, PhD, MS</h2>
                    
                    <p>Director, <a href="https://naloxonetexas.com/">Naloxone Texas</a> <br>Assistant Professor, Department of Psychiatry & Behavioral Sciences <br>UT Health San Antonio </p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/BWI-VanKing.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Van King, MD, DFAPA, FASAM</h2>
                    <p>Medical Director, <a href="https://bewelltexasclinic.org/">Be Well Clinic</a><br>Professor, Department of Psychiatry & Behavioral Sciences<br>UT Health San Antonio</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/BWI-AdrienneLindsey.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Adrienne Lindsey, MA, DBH</h2>
                    <p>Director, <a href="https://c-stat.uthscsa.edu/">Center for Substance Use Training and Telementoring</a><br>Assistant Professor, Department of Psychiatry & Behavioral Sciences<br>UT Health San Antonio</p>
                </div>
                 <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/BWI-Marino.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Elise Marino, PhD </h2>
                    
                    <p>Director of Research Operations <br>Assistant Professor, Department of Psychiatry & Behavioral Sciences <br>UT Health San Antonio </p>
                </div>
                 <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/BWI-Rochat.png" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Andrea Rochat, MFA</h2>
                    
                    <p>Director, Healthcare Communications and Outreach</p>
                </div>
                 <div class="cell large-4 medium-4 small-12">
                    <img src="https://bewelltexas.org/wp-content/uploads/2024/12/Jimmy-wise-headshot_BWTX.png" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Jimmy Wise</h2>
                    
                    <p>Director, Operations</p>
                </div>
                

               
            </div>
            
        </main>
    </div>
</section>
{% include "@components/footer-prototypes/bewell-footer.twig" %}