{% include "@components/header-prototypes/header-ADRC.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">

                <h1>Participate</h1>
                <p>Be a part of the innovative research that has expanded from the heart of the South Texas Medical Center in San Antonio to the Rio Grande Valley, Laredo and underserved areas of South Texas. </p>
			</div>
      <div class="cell large-5 medium-5 small-12">
        
      </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-ADRC.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-6 medium-6 small-12">
       <h2><a href="https://biggsinstitute.org/power-research/brain-health-registry/">Brain health registry</a></h2>
       <p>Test your brain health online with game-like memory and thinking tests to help the millions of families with dementia, PTSD and other brain disorders.</p>

       <h2><a href="https://biggsinstitute.org/clinical-trials/biobank/">Blood and bio sample donation</a></h2>
        <p>We are studying how biology and the environment influence our health. You can provide bio samples to complete this life-saving research.</p>
       
       <h2><a href="https://biggsinstitute.org/research/brain-donation/">Brain donation</a></h2>
       <p>When a person chooses donation, they are choosing to help the 55 million people with Alzheimer’s and other neurodegenerative diseases. Anyone can donate to this program that brings some of the most exciting discoveries to dementia research.</p>
    
        <h2><a href="https://biggsinstitute.org/clinical-trials/">Clinical trials</a></h2>
        <p>Some clinical studies involve exciting new treatments, others are observational. In an observational study, anyone can be a part of life-saving research as a clinical trial volunteer.</p>
   
        </div>
    <div class="cell large-6 medium-6 small-12">
        <h2>Patient care</h2>
        <p>Precision diagnosis and comprehensive dementia care are now available in San Antonio and Laredo.</p>
        <div class="arrow">
            <ul>
                <li><a href="https://biggsinstitute.org/patient-care/">Alzheimer's care in San Antonio</a></li>
                <li><a href="https://biggsinstitute.org/patient-care/laredo/">Alzheimer's care in Laredo</a></li>
            </ul>
        </div>

        <h2>Support programs</h2>
        <p>Get connected to online support groups and other programs in the Rio Grande Valley, Laredo and surrounding areas in South Texas.</p>
        <p>Email our support care team to learn more about available resources and programs for Alzheimer’s patients and their caregivers at <a href="mailto:BiggsSupport@uthscsa.edu">BiggsSupport@uthscsa.edu</a>.</p>
    </div>

  </div>
</section>

{% include "@components/footer-prototypes/ADRC-footer.twig" %}