{% include "@components/header-prototypes/header-src.twig" %}
<section class="full hero bleed img-fill extra-roomy">
  <img src="https://placekitten.com/1440/700" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-right">
        <div class="small-12 large-5 medium-5 cell callout">
            <h1>Student-Run Free Clinic Program</h1>
            <p>The Student-Run Free Clinic Program (Student Faculty Collaborative Practices) is a collaborative effort of medical, nursing, dental, dental hygiene, PA students, residents, and faculty from UT Health San Antonio in partnership with several community partners.</p>
            <p><a class="button">Our clinics</a></p>

        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-src.twig" %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-8 medium-8 small-12">
      <p>Our clinics serve as a unique educational setting where students learn from their peers, mentors and their patients. Health science students & residents gain vital experience in primary care, public health, community service, and administration of health care while giving to others. The care provided to the community is greatly needed and warmly appreciated.</p>
      <p>Weekly clinics are provided at Alpha Home, SAMM Transitional Living & Learning Center, the San Antonio Refugee Clinic and Haven for Hope. Clinics occur every 2 weeks at Travis Park for Dermatology and monthly at the Pride Clinic. Students can sign up for upcoming clinic dates & times, under the Clinic Calendars link.</p>
    </section>
    <aside class="cell large-4 medium-4 small-12">
      <h2>Clinics</h2>
      <div class="arrow">
        <ul>
          <li><a>Alpha Home</a></li>
          <li><a>Haven for Hope</a></li>
          <li><a>Pride Community</a></li>
          <li><a>Refugee Health</a></li>
          <li><a>SAMM</a></li>
          <li><a>Travis Park Dermatology</a></li>

        </ul>
      </div>

    </aside>
  </div>
</div>
<section class="bleed color pullquote">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-8 large-8">
        <blockquote>
          <p>Jelly tiramisu pudding gingerbread wafer ice cream croissant cake. Pie chocolate bar lemon drops chupa chups sugar plum. Toffee marzipan macaroon cookie tiramisu. Pie sesame snaps tiramisu pie cake liquorice cupcake icing tart. Oat cake marshmallow pie sesame snaps carrot cake gingerbread biscuit. Candy canes pastry dragée cheesecake tiramisu. Gummi bears cotton candy shortbread gummies danish. Jelly beans sweet bonbon caramels gummi bears liquorice. </p>
          <cite>Patient or Student testimonial</cite>
        </blockquote>
      </div>
      <div class="cell small-12 medium-4 large-4">
         <img src="http://placekitten.com/400/400">
      </div>
    </div>
  </div>
</section>



{% include "@components/footer-prototypes/src-no-alamo.twig" %}