{% include "@components/header-prototypes/header-VPR.twig" %}
{% include "@components/navigation-prototypes/navbar-VPR.twig" %}

{% include "@components/navigation/breadcrumbs.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-12 large-10">
                <h1>VPR Leadership</h1>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/jennifer_potter.jpg" alt="placeholder"> </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Jennifer Sharpe Potter, PhD, MPH</h2>
                        <p class="subheader">Vice President for Research</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>Profile</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>VPR Newsletter</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-sitemap fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>Organization Chart</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p>Jennifer Sharpe Potter, PhD, MPH, is Vice President for Research and Professor of
                                Psychiatry and Behavioral Sciences at UT Health San Antonio. In her capacity as Vice
                                President for Research, she oversees multiple complex organizational units reporting to
                                the VPR including Laboratory Animal Resources (LAR); Institutional Core Facilities
                                (ICF); Office of Postdoctoral Affairs (OPA); and the Research Protection Programs
                                consisting of the Institutional Review Board (IRB), Institutional Animal Care Program
                                (IACP), Clinical Trials Office (CTO), Office of Clinical Research (OCR) and Conflict of
                                Interest (COI).</p>

                            <p>Dr. Potter is a national expert in substance use disorders with particular emphasis on
                                increasing access to evidence-based treatment for opioid and other substance use
                                disorders. Dr. Potter’s NIH-funded research focuses on the design and conduct of
                                behavioral and pharmacological treatments for substance use disorder with a recent
                                emphasis on technology-based treatments for opioids and stimulants. Dr. Potter is a
                                recognized Principal Investigator with the National Institute of Drug Abuse (NIDA)
                                Clinical Trials Network (CTN).</p>

                            <p>In addition to her NIH research, Dr. Potter is leading strategic public health
                                initiatives funded by Texas Health and Human Service (HHS) with the goal to increase
                                access to substance use disorder treatment for Texans. In 2020, the program expanded in
                                response to an uptick created by the COVID-19 pandemic to offer additional support for
                                people seeking assistance for problematic substance use and substance use disorder.</p>

                            <p>Other statewide programs funded by HHS include an outpatient opioid use disorder provider
                                treatment network, a peer recovery support network, a virtual provider clinical to
                                service underserved areas, a hospital-based addiction treatment initiation and
                                professional development for health care providers treating opioid use disorder.</p>

                            <p>Prior to joining the health science center in 2008, Dr. Potter was on the faculty of
                                Harvard Medical School and McLean Hospital in Belmont, Massachusetts. Dr. Potter holds a
                                doctorate in clinical psychology from the University of Georgia and a Master of Public
                                Health degree from the Rollins School of Public Health at Emory University.</p>
                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Sunil Ahuja, MD</h2>
                        <p class="subheader">Director, Research Enhancement Programs</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>ahujas@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>Profile</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>GrantSeekers</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p>Sunil Ahuja, MD oversees activities related to enhancing and facilitating the research
                                programs of investigators and their funding via peer-reviewed and mentoring programs
                                such as GrantSeekers 2.0, the Researcher’s Enhancement Program, and the Collaborative
                                Research Program. </p>
                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="https://placedog.net/326/458" alt="adorable pup">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Jason Bates, MBA</h2>
                        <p class="subheader">Director, Clinical Trials Office</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>batesjr@uthscsa.edu </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>Clinical Trial Portal</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                                <p>Jason Bates, MBA, is the Director of the Clinical Trials Office at UT Health San
                                    Antonio. Mr. Bates’ primary role is focused on research operations and financial
                                    management. Mr. Bates has experience in research, including: regulatory, operations
                                    and financial management of phase II-IV clinical research trials. </p>
                            </div>
                    </div>
            </main>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}