{% include "@components/header v2/header-superhero-IA.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>Office of Institutional Advancement</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-IA.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <p>Great universities are nurtured to excellence by consistent and generous community support. This online community serves as a forum for our UT Health San Antonio family to exchange ideas and work together to increase funding that will build our university for the 21st century and beyond. Thanks to historic philanthropic participation at all levels of giving, the missions of UT Health San Antonio are advancing at record pace. We are increasing student enrollments that will directly increase the future number of health care professionals who will care for us, and for our children and grandchildren. We are expanding our research programs leading to medical discoveries that are easing suffering and improving clinical care. And, we have touched our community through the compassionate and caring hands of our faculty and students who contribute their time and skills to those in greatest need.</p>

                <p>Please take this opportunity to find out how you can join our online community and connect and collaborate with your fellow alumni and friends toward advancing UT Health San Antonio.</p>

                <p>It is only with your support that we can continue to make lives better.</p>
                <h3>HSConnect</h3>
                        <h4 class="h6">Stay connected with your fellow alumni</h4>
                        <p>Are you a first-time or returning Alumnus who has yet to sign up for an HSConnect account? Register today to enjoy the full range of benefits, including the Alumni Directory and Class Notes, alumni event e-mails and e-newsletters. Update your personal profile information and connect with your classmates.</p>
                        <p>You do not need to register to make an online donation.</p>
                        <p><a class="arrow">Register Today</a></p>
            </main>
            <aside class="small-12 medium-4 margin-bottom cell" role="complementary" 
                <div class="grid-x">
                {% include "@components/navigation/subnav-IA-2.twig" %}
                    <a class="callout color orange margin-top cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Make a Gift</h3>
                    </a>
</div>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
        <div class="cell small-12 medium-6 large-6">
                <img src="https://picsum.photos/690/400">
            </div>
            <div class="cell small-12 medium-6 large-6">
                <h3>Guide to Giving</h3>
                <p>There are many ways to show your support and we are thankful for people like you who have embraced our mission and make possible all the good that we do.</p>
                <p>Please consider Donating Online as one of the quickest and most effective ways of making a difference. Your generosity is greatly appreciated and impacts so many.</p>
                <p><a class="arrow">Learn more about ways to give</a></p>
                
            </div>
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>