{% include "@components/header-prototypes/header-alumni-relations.twig" %}
{% include "@components/navigation-prototypes/navbar-alumni-relations.twig" %}
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="#">Spotlight</a></li>
        <li><a href="#">Long School of Medicine</a></li>
        <li>
            <span class="show-for-sr">Current: </span>John Doe
        </li>
    </ul>
</nav>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <aside class="cell medium-6 large-4 small-order-2 medium-order-1">
                <img src="https://placedog.net/450/675" alt="adorable pup" class="margin-bottom">
                <h2 class="sans-serif h5 bold">Contact</h2>
                <ul class="no-bullet">
                    <li><a>210-567-4240</a></li>
                    <li><a>johndoe@uthscsa.edu</a></li>
                </ul>

                <h2 class="sans-serif h5 bold">Programs</h2>
                <ul class="no-bullet">
                    <li><a>M.P.A.S. (Master of Physician Assistant Studies)</a></li>
                    <li><a>Ph.D. in Health Sciences</a></li>
                </ul>

                <h2 class="sans-serif h5 bold">Departments & Divisions</h2>
                <ul class="no-bullet">
                    <li><a>Department of Physician Assistan Studies</a></li>
                </ul>

                <h2 class="sans-serif h5 bold">Institutes & Centers</h2>
                <ul class="no-bullet">
                    <li><a>Military Health Institute</a></li>
                </ul>

                <p class="font-italic">Currently seeking Ph.D. students</p>
            </aside>
            <main class="cell medium-6 large-8 small-order-1 medium-order-1">
                <h1>John Doe</h1>
                <p class="subheader">Associate Professor</h2>
                <p class="subheader">Program Director and Chair</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut diam quam nulla porttitor massa id neque aliquam. Massa tincidunt nunc pulvinar sapien et. Risus pretium quam vulputate dignissim suspendisse in est ante. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Nisi lacus sed viverra tellus. Gravida quis blandit turpis cursus in hac habitasse platea. Fames ac turpis egestas sed tempus. Pharetra massa massa ultricies mi quis hendrerit. Diam donec adipiscing tristique risus. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Quam vulputate dignissim suspendisse in est ante in nibh mauris. Curabitur vitae nunc sed velit dignissim sodales.</p>

<p>Faucibus ornare suspendisse sed nisi lacus sed viverra. Ornare aenean euismod elementum nisi quis. Ultricies tristique nulla aliquet enim tortor at. Lectus sit amet est placerat. Habitasse platea dictumst vestibulum rhoncus. Bibendum ut tristique et egestas quis. Id semper risus in hendrerit. At tellus at urna condimentum mattis. Ac auctor augue mauris augue neque gravida in. Libero volutpat sed cras ornare arcu. Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Et pharetra pharetra massa massa ultricies mi quis hendrerit. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Faucibus et molestie ac feugiat sed lectus vestibulum mattis. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Ridiculus mus mauris vitae ultricies. Sapien eget mi proin sed libero enim sed faucibus.</p>
                </div>
                </div>
            </main>
        </div>
</section>
{% include "@blocks/footer/alamo.twig" %}