{% include "@components/header-prototypes/header-VPR-services.twig" %}
<section class="bleed hero">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-7 large-7">
				<h1>STEP 6: Close Out</h1>
				<p>Close Out / Completion / Transfer / Departure. Comprehensive guidance on stopping research activity at UT Health San Antonio.</p>
			</div>
			<div class="cell small-12 medium-5 large-5 align-self-middle">
				<img src="https://placedog.net/600/400" alt="adorable pup">
			</div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-VPR-services.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <main class="cell medium-8 small-12">

                    <div class="grid-x grid-margin-x padding-top">
                    <div class="cell small-12 medium-6 flex-container">
                        <a class="callout color blue flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-fingerprint fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 text class="h4" id="report-button">Closing Out Your Human Study</h3>
                        <p>Follow this path and learn more about IRB Inactivation, Institutional Inactivation, and Clinical Trial Management closeout steps, records retention.</p>
                    </a>
          </div>

        <div class="cell small-12 medium-6 flex-container">
                        <a class="callout color blue flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 text class="h4" id="report-button">Closing Out Your Animal Study</h3>
                        <p>Follow this path and learn more about inactivating your animal protocol, animal disposition, and housing closeout steps.</p>
                    </a>
          </div>
                    </div>
            </main>

			<aside class="cell medium-12 large-4 ">
				<div class="callout outline margin-bottom lines">
        <h4>Resources</h4>
					<ul>
						<li><a href="#">ORCA System</a></li>
						<li><a href="#">Velos eResearch System</a></li>
						<li><a href="#">iDisclose System</a></li>
						<li><a href="#">Policies and Guidance</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">Research at UT Health San Antonio</a></li>
            <li><a href="#">Getting Help</a></li>
					</ul>
				</div>
			</aside>
</div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}