
{% include "@components/header-prototypes/header-UTP.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://www.uthscsa.edu/sites/default/files/2018/untitled_1500_x_500_px_1.jpg" alt="">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout grey">
                <h1>Orthopaedics</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="button-group">
        <p><a href="#" class="button ghost">Find a provider</a></p>
        <p><a href="#" class="button ghost">Make an appointment</a></p>
    </div>
</div>
        </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-10 cell text-center">
            <p>UT Health San Antonio is home to one of the largest orthopaedics groups in the region with specialists in every discipline from spine, joint and cancer care to podiatry and sports medicine. Our providers are leaders in orthopaedic services offering advanced treatments for a range of conditions, from simple fractures to total joint replacements, sports injuries, and management of musculoskeletal diseases. We are here to get you moving again.</p>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-8">
            <div class="text-center">
            <h2>Orthopaedic services</h2></div>
                <div class="grid-x grid-margin-x align-center">
                    <div class="small-12 medium-6">
                        <div class="lines">
                        <ul>
                            <li><a>Hand and Microsurgery</a></li>
                            <li><a>Orthopaedic Oncology</a></li>
                            <li><a>Orthopaedic Spine Services</a></li>
                            <li><a>Pediatric Orthopaedics and Spine</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-12 medium-6">
                        <div class="lines">
                        <ul>
                            <li><a>Podiatry</a></li>
                            <li><a>Sports Medicine</a></li>
                            <li><a>Total Joint Care</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="small-12 medium-4 cell text-center">
                <a>
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>MyChart login</h4>
                </a>
                <p>Already a patient? Use MyChart to schedule an appointment.</p>
            </div>
            <div class="small-12 medium-4 cell text-center">
                <a>
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Make an appointment</h4>
                </a>
                <p>Schedule your next appointment using our online form.</p>
            </div>
            <div class="small-12 medium-4 cell text-center">
                <a>
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4><a href="#1">Find a location</h4>
                </a>
                <p>Please call one of our locations to make an appointment.</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-8">
                <h3>Payment and insurance</h3>
                <p>We accept most major <a>insurance plans</a>.</p>
                <p>Questions? Contact our customer service team at 210-450-6330 or by <a>email.</a></p>
                <p><a class="arrow">Pay your bill online</a></p>
            <h4 class="h5">Patient referrals and appointments, please call one of our practices:</h3>
                <p><strong>Adult and Pediatric Orthopaedics:</strong> 210-450-9300<br>
                <strong>Physical Therapy:</strong> 210-450-9680</p>

            </div>
            <div class="sell small-12 medium-2 text-center">
                <i class="fas fa-file-medical-alt fa-10x"></i>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-beige">
    <div class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell large-6 medium-6 small-12">
			<div class="hidden-mobile"><img src="../../images/UTP-Map.png"></div>
		</div>
    <div class="cell large-6 medium-6 small-12">
		<a id="1" name="1"></a><h2>Practice locations</h2>
        	<div class="grid-x grid-margin-x">
				<div class="cell small-12 medium-6 large-6">
					<div class="lines">
            <ul>
				<li>
					<a><strong>UT Health Medical Arts and Research Center</strong></a>
                    8300 Floyd Curl Drive<br>
                    3rd Floor–3C<br>
                    San Antonio, TX 78229
				</li>
        <li>
					<a><strong>UT Health Hill Country</strong></a>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</li></div></div>
            <div class="cell small-12 medium-6 large-6">
				<div class="lines">
            <ul>
      <li>
        <a><strong>UT Health Outpatient and Surgery Center at Kyle Seale Parkway (Spring 2024)</strong></a>
        Southeast corner of Loop 1604 and Kyle Seale Parkway<br>
        San Antonio, TX 78257
      </li>
      <li>
        <a><strong>UT Health San Antonio at Metropolitan Methodist Plaza</strong></a>
        1200 Brooklyn Avenue, Suite 130<br>
        San Antonio, TX 78212
      </li></ul>
			</div>
		</div>
	</div>
</div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <h2 class="text-center">Features</h2>
        <div class="grid-x grid-margin-x grid-padding-y small-up-1 large-up-4">
            <a class="card cell color">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <p class="eyebrow">Provider</p>
                        <h4>Katherine Bartush, MD</h4>
                        <p>Optional descriptive sentence.</p>
                </div>
            </a>
            <a class="card cell color">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <p class="eyebrow">Provider</p>
                        <h4>Sekinat McCormick, MD</h4>
                        <p>Optional descriptive sentence.</p>
                </div>
            </a>
            <a class="card cell color">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <p class="eyebrow">Provider</p>
                        <h4>Katherine Bartush, MD</h4>
                        <p>Optional descriptive sentence.</p>
                </div>
            </a>
            <a class="card cell color">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <p class="eyebrow">Provider</p>
                        <h4>Sekinat McCormick, MD</h4>
                        <p>Optional descriptive sentence.</p>
                </div>
            </a>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}