
{% include "@components/header-prototypes/header-UTP.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://www.uthscsa.edu/sites/default/files/2018/untitled_1500_x_500_px_1.jpg" alt="">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout grey">
                <h1>Orthopaedics</h1>
                <p>TBD</p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
<div class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <main class="cell small-12 medium-8">
                <p>UT Health San Antonio is home to one of the largest orthopaedics groups in the region with specialists in every discipline from spine, joint and cancer care to podiatry and sports medicine. Our providers are leaders in orthopaedic services offering advanced treatments for a range of conditions, from simple fractures to total joint replacements, sports injuries, and management of musculoskeletal diseases. We are here to get you moving again.</p>

            </main>
            <aside class="cell small-12 medium-4">
                <div class="callout outline blue margin-bottom">
                    <h2 class="h3">Featured services</h2>
                    <div class="lines">
                        <ul>
                            <li><a>Hand and Microsurgery</a></li>
                            <li><a>Orthopaedic Oncology</a></li>
                            <li><a>Orthopaedic Spine Services</a></li>
                            <li><a>Pediatric Orthopaedics and Spine</a></li>
                            <li><a>Podiatry</a></li>
                            <li><a>Sports Medicine</a></li>
                            <li><a>Total Joint Care</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<section class="bleed light-beige">
    <div class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell large-6 medium-6 small-12">
			<img src="../../images/UTP-Map.png">
		</div>

		<div class="cell large-6 medium-6 small-12">
			<h2>Practice Locations</h2>
			<div class="columns">
				<address>
					<a><strong>UT Health Medical Arts and Research Center</strong></a><br>
          8300 Floyd Curl Drive<br>
          3rd Floor–3C<br>
          San Antonio, TX 78229
				</address>

        <address>
					<a><strong>UT Health Hill Country</strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>

      <address>
        <a><strong>UT Health Outpatient and Surgery Center at Kyle Seale Parkway (Spring 2024)</strong></a><br>
        Southeast corner of Loop 1604 and Kyle Seale Parkway<br>
        San Antonio, TX 78257
      </address>
      <address>
        <a><strong>UT Health San Antonio at Metropolitan Methodist Plaza</strong></a><br>
        1200 Brooklyn Avenue, Suite 130<br>
        San Antonio, TX 78212
      </address>


			</div>
		</div>
	</div>
</div>
</section>

<section class="bleed color">
    <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
            <div class="cell small-10">
                <h2 class="text-center">Featured providers</h2>
                <p class="text-center">Lollipop gingerbread cake pudding icing sweet roll. Halvah jujubes chocolate bar chupa chups donut danish. </p>
                <div class="button-group align-center">
    </div></p>
            </div>
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="https://providers.uthscsa.edu/wp-content/uploads/2022/09/450x630-57.jpg" alt="">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Katherine Bartush, MD</h3>
                        <p><strong>Locations</strong><br>
                        <p><a>Orthopaedic - Adult and Pediatric - Medical Arts & Research Center - MARC</a></p>
                        <p><a>Orthopaedics- Hill Country</a></p>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="https://providers.uthscsa.edu/wp-content/uploads/2022/09/450x630-127.jpg">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Sekinat McCormick, MD</h3>
                        <p><strong>Locations</strong><br>
                        <p><a>Orthopaedic - Adult and Pediatric - Medical Arts & Research Center - MARC</a></p>
                        <p><a>Orthopaedic - Adult and Pediatric - Robert B. Green Campus - Downtown</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <p><a href="#" class="button">Find a Provider</a></p></div>
    </div>

</section>


{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}