{% include "@components/header-prototypes/header-UTP.twig" %}
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
    <h1>EpicCare Link FAQ</h1>
    <div class="grid-x grid-margin-x">
			<main class="cell large-8 medium-8 small-12">
				<p>Cupcake powder liquorice donut lollipop jelly-o cotton candy. Toffee halvah donut soufflé powder. Cake soufflé candy canes tootsie roll sweet roll dragée carrot cake wafer fruitcake. Muffin chocolate bar marshmallow lollipop cheesecake. Bear claw carrot cake tart dessert chocolate cake jelly-o candy canes cake. </p>
				<ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title heading" style="margin-top:0;">Accordion Label #1</a>
          <div class="accordion-content" data-tab-content>
            <div class="arrow margin-bottom">
              <ul>
                <li><a href="#jump1a">What computer equipment does EpicCare Link require?</a></li>
                <li><a href="#jump2a">Is there a fee for using EpicCare Link?</a></li>
                <li><a href="#jump3a">What information is available within EpicCare Link?</a></li>
                <li><a href="#jump4a">How long does a Primary Care Provider have access to a patient's medical record?</a></li>
                <li><a href="#jump5a">How long will other users with a relationship to the patient have access to the health record?</a></li>
                <li><a href="#jump6a">How do I sign up for EpicCare Link?</a></li>
                <li><a href="#jump7a">Who should I contact if I am having problems accessing EpicCare Link?</a></li>
                <li><a href="#jump8a">Is training required to use EpicCare Link?</a></li>
								<li><a href="#jump9a">Does EpicCare Link help my practice attest to Meaningful Use?</a></li>
              </ul>

            </div>
            <p class="h5 sans-serif" id="jump1a">What computer equipment does EpicCare Link require?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>

            <p class="h5 sans-serif" id="jump2a">Is there a fee for using EpicCare Link?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>

            <p class="h5 sans-serif" id="jump3a">What information is available within EpicCare Link?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump4a">How long does a Primary Care Provider have access to a patient's medical record?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump5a">How long will other users with a relationship to the patient have access to the health record?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump6a">How do I sign up for EpicCare Link?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump7a">Who should I contact if I am having problems accessing EpicCare Link?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump8a">Is training required to use EpicCare Link?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>

						<p class="h5 sans-serif" id="jump9a">Does EpicCare Link help my practice attest to Meaningful Use?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
						<p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>
						<p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>

          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title heading">Accordion Label #2</a>
          <div class="accordion-content" data-tab-content>
            <div class="arrow margin-bottom">
              <ul>
                <li><a href="#jump1b">Why can’t I see my patients in the list?</a></li>
                <li><a href="#jump2b">Is there additional information I can view or download on EpicCare Link?</a></li>
                <li><a href="#jump3b">How does Froedtert & MCW health network know when there is an access issue?</a></li>
                <li><a href="#jump4b">Can EpicCare Link providers contact the Froedtert & MCW provider who treated a patient, with questions about test results? </a></li>
                <li><a href="#jump5b">What are my options if I’m working with very large datasets?</a></li>
              </ul>

            </div>

            <p class="h5 sans-serif" id="jump1b">Why can’t I see my patients in the list?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump2b">Is there additional information I can view or download on EpicCare Link?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>

            <p class="h5 sans-serif" id="jump3b">How does Froedtert & MCW health network know when there is an access issue?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p>Powder danish chocolate sesame snaps dragée oat cake. Tart topping lollipop carrot cake cupcake tart. Halvah pudding pudding donut jujubes sweet sesame snaps. Gummi bears chocolate cake danish chupa chups tiramisu. Caramels muffin chocolate pudding lollipop marshmallow chocolate macaroon. </p>

            <p class="h5 sans-serif" id="jump4b">Can EpicCare Link providers contact the Froedtert & MCW provider who treated a patient, with questions about test results? </p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>

            <p class="h5 sans-serif" id="jump5b">Which Froedtert & MCW programs can accept referrals through EpicCare Link?</p>
            <p>Gingerbread brownie chupa chups topping lemon drops dessert tart lemon drops. Sweet roll chupa chups jelly dragée tart. Bonbon oat cake topping cake macaroon. Toffee halvah toffee muffin danish jelly-o. Chocolate marzipan wafer topping oat cake pastry. Cake dragée pudding carrot cake fruitcake cotton candy fruitcake donut topping. Tiramisu lemon drops oat cake danish croissant cookie. Caramels marzipan sweet sweet chocolate.</p>
            <p><a class="arrow">More information CTA</a></p>
          </div>
        </li>
      </ul>
			</main>
			<aside class="cell large-4 medium-4 small-12">
				<a class="callout color orange">
					<span class="fa-stack fa-2x">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-clipboard-check fa-stack-1x fa-inverse"></i>
					</span>
					<h3>Request Access</h3>
				</a>
				<a class="callout color orange">
					<span class="fa-stack fa-2x">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
					</span>
					<h3>Login</h3>
				</a>
			</aside>
    </div>
</div>

{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}