{% include "@components/header-prototypes/header-UTP.twig" %}
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
    <h1>EpicCare Link FAQ</h1>
    <div class="grid-x grid-margin-x">
			<main class="cell large-8 medium-8 small-12">
				<!--<div class="loose-list">
					<ul>
						<li><strong>Does my provider or practice need to be credentialed with UT Health San Antonio for an EpicCare Link account?</strong><br>No, your practice or provider doesn't need to be credentialed with UT Health San Antonio for an EpicCare Link account. EpicCare Link is a service provided to any practice that refers its patients to UT Health San Antonio.</li>
						<li><strong>If my practice has multiple sites, should each site request access or just one?</strong><br>If your practice has multiple sites, only the person who is submitting the request should be the site administrator. The site administrator is typically the point of contact for any needs of the EpicCare Link account. He/she lists all users and locations within the access submission. This will ensure one account/contract with all users and locations.</li>
						<li><strong>How long does it take to get an account and gain access?</strong><br>It typically takes about 5 business days to submit and gain access to a new user account. If there are any delays, the service team will reach out to the person who submitted the request.</li>
						<li><strong>Once an account is submitted, what happens next?</strong><br>UT Health San Antonio will review your request and begin to build your portal. If the service team has any questions, they will reach out via email or phone to the contact listed on the request form. </li>
						<li><strong>When does my EpicCare Link account deactivate?</strong><br>If the user account is not utilized, the EpicCare Link user account will go inactive after 120 days. A Site verification will need to be preformed by the site administrator every 6 months.  </li>
						<li><strong>Who should I contact for any technical issues with EpicCare Link?</strong><br>Please contact the EpicCare Link support team at <a href="mailto:epiccarelink@uthscsa.edu">epiccarelink@uthscsa.edu</a> or 210-450-4111. for questions regarding technical issues.</li>
						<li><strong>How do I reset my 2FA Settings? </strong><br>If an EpicCare Link user has trouble with Two-Factor Authentication (2FA) login security codes, the user should reach out to the site administrator to reset their 2FA settings.</li>
					</ul>
				</div>-->
<ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Does my provider or practice need to be credentialed with UT Health San Antonio for an EpicCare Link account?</a>
        <div class="accordion-content" data-tab-content>
          <p>No, your practice or provider doesn't need to be credentialed with UT Health San Antonio for an EpicCare Link account. EpicCare Link is a service provided to any practice that refers its patients to UT Health San Antonio.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">If my practice has multiple sites, should each site request access or just one?</a>
        <div class="accordion-content" data-tab-content>
          <p>If your practice has multiple sites, only the person who is submitting the request should be the site administrator. The site administrator is typically the point of contact for any needs of the EpicCare Link account. He/she lists all users and locations within the access submission. This will ensure one account/contract with all users and locations.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">How long does it take to get an account and gain access?</a>
        <div class="accordion-content" data-tab-content>
          <p>It typically takes about 5 business days to submit and gain access to a new user account. If there are any delays, the service team will reach out to the person who submitted the request.</p>
        </div>
      </li>
<li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Once an account is submitted, what happens next?</a>
        <div class="accordion-content" data-tab-content>
          <p>UT Health San Antonio will review your request and begin to build your portal. If the service team has any questions, they will reach out via email or phone to the contact listed on the request form. </p>
        </div>
      </li>
<li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">When does my EpicCare Link account deactivate?</a>
        <div class="accordion-content" data-tab-content>
          <p>If the user account is not utilized, the EpicCare Link user account will go inactive after 120 days. A Site verification will need to be preformed by the site administrator every 6 months.</p>
        </div>
      </li>
<li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Who should I contact for any technical issues with EpicCare Link?</a>
        <div class="accordion-content" data-tab-content>
          <p>Please contact the EpicCare Link support team at <a href="mailto:epiccarelink@uthscsa.edu">epiccarelink@uthscsa.edu</a> or 210-450-4111. for questions regarding technical issues.</p>
      </li>
<li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">How do I reset my 2FA Settings?</a>
        <div class="accordion-content" data-tab-content>
          <p>If an EpicCare Link user has trouble with Two-Factor Authentication (2FA) login security codes, the user should reach out to the site administrator to reset their 2FA settings.</p>
        </div>
      </li>
    </ul>
				<h2>EpicCare Link Tipsheets</h2>
				<p>The UT Health San Antonio EpicCare Link team has developed tipsheets that include step-by-step instructions to help users navigate through common features and tools. A few sample tip sheets include how to reset passwords, search for patients, and more. If additional help is needed or you have questions, please reach out to the technical support team listed below.
- <a href="mailto:"epiccarelink@uthscsa.edu">epiccarelink@uthscsa.edu</a> or 210-450-4111.</p>

			</main>
			<aside class="cell large-4 medium-4 small-12">
				<!--<a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Frequently Asked Questions</h3>
            </a>-->
            <br>
            <div class="callout outline contact">
              <h3>Contact Support</h3>
              
              <ul class="fa-ul">
                  <li>
                      <a href="mailto:epiccarelink@uthscsa.edu">
                      <span class="fa-li">
                          <span class="fa-stack">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                          </span>
                      </span>
                      <span>epiccarelink@uthscsa.edu</span>
                      </a>
                  </li>
                  <li>
                      <a href="tel:210-450-4111">
                      <span class="fa-li">
                          <span class="fa-stack">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                          </span>
                      </span>
                      <span>210-450-1234</span>
                      </a>
                  </li>
              </ul>
          </div>
			</aside>
    </div>
</div>

{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}
