{% include "@components/header-prototypes/header-bewell.twig" %}

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Research</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Accelerating Adoption of Medication-Based Treatment for Stimulant Use Disorder
    </li>
  </ul>
</nav>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12 ">
            <h1>Accelerating Adoption of Medication-Based Treatment for Stimulant Use Disorder</h1>
            <p>Although stimulant use disorder (StUD) is on the rise in the US, fewer than one-third of adults receive treatment and there are no FDA-approved medication-based treatments, despite evidence of clinical efficacy. </p>
            <p>Substance use treatment occurs within a complex landscape, with implementation requiring coordination between diverse partners and careful consideration of individual, organizational, and societal-level influences. </p>
            <p>To accelerate implementation, our team worked on development of a partner- and theory-driven multi-component implementation strategy to support widespread adoption of medications for StUD.</p>
            
        </main>
        <aside class="cell large-4 medium-4 small-12">
            <img src="https://placedog.net/500/280" alt="">
        </aside>
    </div>
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12 card beige">
            <div class="card-section lines">
                <img src="https://picsum.photos/660/300">
                <h2 class="text-center">For Providers</h2>
                <ul>
                    <li><a>Education & Training </a></li>
                    <li><a>Grants and Funding Opportunities </a></li>
                    <li><a>Research on medications for StUD</a></li>
                </ul>
            </div>
        </div>
        <div class="cell large-6 medium-6 small-12 card beige">
            <div class="card-section lines">
                <img src="https://picsum.photos/660/300">
                <h2 class="text-center">For Community</h2>
                 <ul>
                    <li><a>Learn more about Medications for StUD </a></li>
                    <li><a>Explore Treatment and Coverage </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=" bleed color blue">
	<div class="grid-container img-bleed-right">
		<div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-6 large-6">
				<h2>Feature Spotlight</h2>
				<p>Optional section to spotlight something realted to the research initiative. If there is nothing to spotlight, this section will not display. Cake jelly-o tiramisu cake jujubes wafer toffee pie macaroon. Cookie sweet roll gummi bears lollipop cupcake jelly marzipan. <p>
				<p>This is an example of a <a>link</a> on n color bleed </p>  
			</div>
			<div class="cell medium-6 large-6">  
				<img src="../../images/adorable-corgi.jpg" alt="adorable corgi">
			</div>
		</div>
	</div>
</section> 
{% include "@components/footer-prototypes/bewell-footer.twig" %}