{% include "@components/header v2/header.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="hero card">
            <div class="grid-x align-middle">
                <div class="large-6 medium-6 small-12 cell">
                    <div class="card-section">
                        <h1>Aging & Dementia Research</h1>
                        <p>We build inclusive communities that promote engagement of older adults living with chronic disease, including dementia.</p>
                    </div>
                </div>
                <div class="cell large-6 medium-6 small-12">
                    <img src="https://placekitten.com/740/425">
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-v2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}


<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
            <p>Our research is focused on supporting quality of life among older adults living with a chronic
                illness or
                disability, such as Alzheimer’s’ Disease and related dementias, through community engagement, such
                as
                the Dementia Friendly San Antonio initiative. We use community-participatory research methods to
                augment
                the voices of people living with dementia to pursue research that is meaningful to them.</p>

            <p>Our research often focuses on social wellness, including social support, engagement, and functioning
                to
                improve quality of life and prevent loneliness among older adults living with a physical and
                cognitive
                condition that affects their functional ability.</p>

            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-6 small-12 flex-container ">
                        <div class="callout flex-child-auto">
                            <p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté
                                tea
                                garden. Sachetblend lemongrass nilgiri masala chai hot puierh pearl milk oolong
                                teapot
                                infusion.</p>
                        </div>
                    </div>
                    <div class="cell large-6 small-12 flex-container ">
                        <div class="callout flex-child-auto">
                            <p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté
                                tea
                                garden. Sachetblend lemongrass nilgiri masala chai hot puierh pearl milk oolong
                                teapot
                                infusion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="cell large-4 medium-5 small-12 small-order-1">
            {% include "@components/navigation/subnav.twig" %}
        </aside>
    </div>
</section>

<section class="bleed color dark-grey">
    <div class="grid-container img-bleed-right">
        <div class="grid-x align-middle">
            <div class="cell large-6 medium-6 small-12">
                <div class="callout jump-right">
                    <blockquote>“Our community based research is making an impact on the lives of persons living with
                        dementia and aging related illness or disabilities. Their voice is at the heart of our
                        research.” <cite> Carole White, Ph.D.</cite></blockquote>
                </div>
            </div>
            <div class="cell large-6 medium-6 small-12">
                <img src="https://placedog.net/800/450" alt="adorable pup">
            </div>
        </div>
    </div>
</section>

<section class="grid-container">
    <h2 class="color text-center">Grants</h2>
    <div class="grid-x grid-margin-x">
        <section class="cell large-6 medium-6 small-12">
            <img src="http://placekitten.com/675/380">
            <h3>Stakeholder Alliance for Better Palliative Care for People with Dementia and their Caregivers</h3>
            <p><strong>Goal:</strong> Build a sustainable alliance of key stakeholders who are engaged in the
                development, execution, and dissemination of patient-centered outcomes research (PCOR) for better
                palliative care for persons living with dementia and their families.</p>

            <p><strong>Team:</strong> Carole White, PhD, RN; Sara Masoud, MPH; Debbie James, MSN, RN, CCRN-K; Neela
                Patel, MD; PCORI Stakeholder Advisory Board</p>
        </section>
        <section class="cell large-6 medium-6 small-12">
            <img src="http://placekitten.com/675/380">
            <h3>Community Academic Partnership to Support Families Living with Dementia</h3>

            <p><strong>Goal:</strong> To develop our capacity to evaluate Memory Cafés as a potential health
                promotion intervention through reducing loneliness and increasing social support for individuals
                living with Alzheimer’s Disease and related dementias (ADRD) and their caregivers.</p>

            <p><strong>Team:</strong> Sara Masoud, MPH; Kylie Meyer, PhD; Carole White, PhD, RN; Alzheimer’s
                Association San Antonio and South Texas Chapter and Jefferson Outreach</p>
        </section>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}