{% include "@components/header v2/header-SON.twig" %}

<section class="bleed hero">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-7 large-7">
				<h1>Light the Future</h1>
          <p>"The best way to predict the future is to create it."<br><cite>Peter Drucker</cite></p>
          <p>Inspired by this thought, Dr. Kathleen Stevens, EdD, FAAN, RN, ANEF and professor in the School of Nursing embarked on a creative journey with her husband Alex Hamilton, a San Antonio native and true renaissance Texan and entrepreneur. The two set out to make a lasting contribution to the School of Nursing that would stand as a tangible tribute to the future.</p>
			</div>
			<div class="cell small-12 medium-5 large-5 align-self-middle">
				<img src="../../images/stevens-son.jpg" alt="couple">
			</div>
		</div>
	</div>
</section>

{% include "@components/navigation/navbar-SON.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-8">
            <h2>Creative journey and a keen eye for art</h2>
            <p>Dr. Steven's husband, Alexander B. Hamilton, with his wisdom and keen eye for art, this couple was sparked by the quote, "The best way to predict the future is to create it," by Peter Drucker. The couple started thinking about establishing a tangible reminder pointing to the future. "It had to be Florence Nightingale. There is no larger image in modern health care and nursing than Florence Nightingale," Dr. Stevens said.</p>
            <p>The couple started brainstorming in 2019. "I've been coming to this campus for over 30 years. To me, the School of Nursing building needs more character," Hamilton said. "We came up with the idea to make these buildings distinct by featuring a bronze statue that would be special for the nursing school and the university and give it a unique identity."</p>
            <p>Dr. Stevens said their discussions focused on 2020, the Year of Nurse, an international celebration based on the 200th anniversary of the birth of Florence Nightingale, who is famous for her work during the Crimean War in the 1850s. (Because of the COVID-19 pandemic, the Year of the Nurse encompassed 2020 and 2021.)</p>
            <p>"When Alex and I started thinking about a statue, we decided to find out more about Florence Nightingale," Dr. Stevens said. "She is heralded as the founder of modern nursing but is much more than that. Today's interprofessional health care system and hospital design continue to be influenced by Nightingale's research on nursing and health care in the mid-1800s. Her legacy goes far beyond nursing and still resonates across all health professions today."</p>
            <p>"Once we decided to propose a statue of Florence Nightingale, we knew we wanted to get an old West artist who had an eye for anatomy and facial structure," he said. "We met an artist who had a booth at the San Antonio Stock Show and Rodeo and bought a small bronze statue of a steer head that he had done. We took it home and looked at the bone structure, nostrils and eyes and decided to ask him if he would be interested in our project. We knew we had the right artist when he said he would 'give it a shot."</p>
            <p>The artist, Rick McCumber, and his wife, Cindy, of Huntsville, Texas, came to San Antonio for an early meeting with the couple and Dean Eileen T. Breslin, PhD, RN, FAAN. Dr. Breslin, a long-standing admirer of Nightingale, whole-heartedly approved the idea of the bronze statue for the School of Nursing.</p>
            <p>"We decided we wanted a nine-foot statue which is 150 percent of her height. Nightingale was 5'7" tall," Hamilton explained. "We told Rick that we wanted her to stand in front of the School of Nursing building with the proper candle lantern in her right hand and her left hand beckoning students to enter their future through the School of Nursing."</p>
            </div>
        <aside class="cell small-12 medium-4">
            <img src="../../images/nightingale-son.png">
            
            <div class="lines">
            <ul>
                <li><a href="#">Historians and Scholars on Florence Nightingale</a></li>
                <li><a href="#">Florence Nightingale Citations</a></li>
                <li><a href="#">Famous & Notable Nurses in History</a></li>
                <li><a href="#">Male Nurses in History</a></li>
                <li><a href="#">Historical Overviews</a></li>
                <li><a href="#">Florence Nightingale Museum in London</a></li>
            </ul>
        </div>
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="h4">Listen to our Nightingale Podcast Series
</h3>
            </a>
            
        </aside>
    </div>
</main>
 
 <div class="bleed color grey pullquote">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell small-12 medium-10">
				<blockquote>
					<p>It had to be Florence Nightingale. There is no larger image in modern health care and nursing than Florence Nightingale.</p>
					<cite>Dr. Kathleen Stevens, EdD, FAAN, RN, ANEF</cite>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-6 large-5"> 
							<img src="../../images/nightingale-istock-war-son.jpg" alt="Nightingale">
			</div>
			<div class="cell medium-6 large-7">
      <h3>Florence Nightingale's contributions to modern nursing and health care</h3>
				<p>Born May 12, 1820, in Florence, Italy, to Frances Nightingale and William Shore Nightingale</p>

<p>Grew up in the family home in Lea Hurst in England with a classical education</p>

<p>Declared her calling by age 16 to serve others as a nurse</p>

<p>Enrolled as a nursing student at the Lutheran Hospital of Pastor Fliedner in Kaiserwerth, Germany, in 1844</p>

<p>Returned to London as a nurse in a Middlesex hospital for the chronically ill</p>

<p>Battled poor health, which has been attributed to her contracting "Crimean fever," and was bedridden by age 38 but remained an advocated for health care reform</p>

<p>Died at age 90 on August 13, 1910, at her home in London</p>
			</div>
		</div>
	</div>
</section> 

<section class="bleed light-grey noise">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-6 large-7">
      <h3>Career</h3>
				<p>Improved hygiene processes after dealing with a cholera outbreak and unsanitary conditions that were conducive to rapid spread of the disease</p>

<p>Led a team of nurses to treat British soldiers injured during the Crimean War, which broke out in 1853</p>

<p>Worked tirelessly to clean up the Scutari Barrack Hospital and improve care for the soldiers with her efforts reducing the death rate by two thirds</p>

<p>Wrote "Notes on Matters Affecting the Health, Efficiency and Hospital Administration of the British Army," an 830-page report analyzing her experience in Crimea and proposing reforms for hospitals</p>

<p>Created, with Queen Victoria's support, a Royal Commission into the health of the army by employing the country's top statisticians</p>

<p>Funded the establishment of St. Thomas' Hospital - with the Nightingale Training School for Nurses as part of it - with money from the Queen</p>

<p>Developed the "Nightingale Rose Diagram" to prove the effectiveness of the Sanitary Commission's work on decreasing the death rate</p>

<p>Published "Notes on Hospitals," which focused on civilian hospitals, in 1859</p>

<p>Served as a consultant (from afar) for the U.S. Civil War on how to best manage field hospitals for injured soldiers</p>
			</div>
      <div class="cell medium-6 large-5"> 
							<img src="../../images/crimean-war-son.jpg" alt="Crimean War">
			</div>
		</div>
	</div>
</section>

<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-6 large-5"> 
							<img src="../../images/nightinagle-istock-son.jpg" alt="Nightingale">
			</div>
			<div class="cell medium-6 large-7">
      <h3>Contributions</h3>
				<p>Contributed to the development of nursing as a true profession and inspired the first professional school of nursing</p>

<p>Developed the modern hospital including architecture, organizational charts, medical records, infection control, patient education, and nutritional services</p>

<p>Invented statistical diagrams to report the first hospital epidemiological study showing how basic sanitation reduced death rates</p>

<p>Wrote "Notes on Nursing" which is cited as one of the most influential books in the history of health care</p>

<p>Changed society's view on nursing, which had been looked down on by the upper classes, as her notoriety and efforts resulted in it being considered an honorable profession
</p>
			</div>
		</div>
	</div>
</section> 

<section class="bleed light-grey noise">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-6 large-7">
      <h3>Recognitions</h3>
				<p>Was known to patients as "the Lady with Lamp" as she spent nights monitoring and helping patients by candlelight</p>

<p>Proclaimed passionately, "I stand at the Altar of the murdered men [Crimean War soldiers] and while I live I fight their cause."</p>

<p>Recognized for her work by Queen Victoria who presented her an engraved broach and granted her a prize of $250,000 from the British government</p>

<p>Named the first female member of the Royal Statistical Society</p>

<p>Awarded the merit of honor by King Edward in 1908 at the age of 88</p>
			</div>
      <div class="cell medium-6 large-5"> 
							<img src="../../images/statue-istock-son.jpg" alt="Crimean War">
			</div>
		</div>
	</div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>