 
 <section class="bleed color">
    <div class="grid-container">
        <div class="grid-x text-center align-center factoids">
            <div class="cells large-4 medium-4 small-12 "> 
                <p class="h2">4,600+<p>
                <p>Optional short description pertaining to the number</p>
            </div> 
            <div class="cells large-4 medium-4 small-12"> 
                <p class="h2">Top 13%<p> 
                <p> Optional short description pertaining to the number</p>
            </div> 
            <div class="cells large-4 medium-4 small-12"> 
                <p class="h2">$5.7 M<p> 
                <p>Optional  short description pertaining to the number</p>
            </div> 
        </div>
    </div>
 </section>