<div class="grid-container">
   <div class="grid-x grid-margin-x">
      <div class="cell medium-4 large-4">
         <div class="callout contact outline">
            <h2 class="h5">Contact Us</h2>
            <ul class="no-bullet ">
               <li>UT Health San Antonio</li>
               <li> Department of Urology</li>
               <li>7703 Floyd curl Drive, MC ####</li>
               <li>San Antonio, TX 78229</li>
            </ul>
            <p>
               <ul class="fa-ul">
                  <li>
                     <a>
                        <span class="fa-li">
                           <span class="fa-stack">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                           </span>
                        </span>
                        <span class="">Wednesday, February 17, 2021 </span>
                     </a>
                  </li>
                  <li>
                     <a>
                        <span class="fa-li">
                           <span class="fa-stack">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                           </span>
                        </span> <span class="">###-###-#### </span>
                     </a>
                  </li>
                  <li>
                     <a>
                        <span class="fa-li">
                           <span class="fa-stack">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fas fa-fax fa-stack-1x fa-inverse"></i>
                           </span>
                        </span> <span class="">###-###-#### </span>
                     </a>
                  </li>
                  <li>
                     <a>
                        <span class="fa-li">
                           <span class="fa-stack">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fas fa-address-book fa-stack-1x fa-inverse"></i></span>
                        </span> <span class=""> Directory</span>
                     </a>
                  </li>
               </ul>
         </div>
      </div>
   </div>
</div>