{% include "@components/header-prototypes/header-mission-mag-hero.twig" %}
<main class="grid-container">
    <section class="grid-x grid-margin-x align-center">
    <section class="cell large-12 medium-12 small-12 text-center margin-bottom">
    <h2 class="color">Latest Stories</h2></section>
        <section class="cell large-4 medium-6 small-12">
           <a href="#">
                <img src="../../images/Tutu-girl_face-368x245.jpg">
                <h2 class="h3">Fearless</h2>
            </a>
            <p>Bravery comes in the shape of a preschooler in a pink tutu. The 3-year-old fought her way through countless surgeries after a vicious dog attack left her with near-fatal injuries.</p>
            <div>
               <ul class="fa-ul outline">
                  <li>
                     <span class="fa-li">
                        <span class="fa-stack fa-1x">
                           <i class="far fa-circle fa-stack-2x"></i>
                           <i class="fas fa-calendar fa-stack-1x fa-inverse grey"></i>
                        </span>
                     </span>
                     <span class="">Thursday, February 17, 2022 </span>
                  </li>
                  </div>
        </section>

        <section class="cell large-4 medium-6 small-12">
            <a href="#">
                <img src="../../images/perfect-storm-368x245.jpg">
                <h2 class="h3">The perfect storm</h2>
            </a>
            <p>What used to be called adult-onset diabetes is now hitting children at alarming rates. While San Antonio bears the burden of being the epicenter for diabetes, it is also a hotbed for research.</p>
            <div>
               <ul class="fa-ul outline">
                  <li>
                     <span class="fa-li">
                        <span class="fa-stack fa-1x">
                           <i class="far fa-circle fa-stack-2x"></i>
                           <i class="fas fa-calendar fa-stack-1x fa-inverse grey"></i>
                        </span>
                     </span>
                     <span class="">Thursday, February 17, 2022 </span>
                  </li>
                  </div>
        </section>

        <section class="cell large-4 medium-6 small-12">
            <a href="#">
                <img src="../../images/Preemie-baby-368x245.jpg">
                <h2 class="h3">Fish oil could save preemie lives</h2>
            </a>
            <p>A physician’s passion to save premature babies was instrumental in the FDA’s approval of a lifesaving treatment for babies with gastrointestinal complications.</p>
            <div>
               <ul class="fa-ul outline">
                  <li>
                     <span class="fa-li">
                        <span class="fa-stack fa-1x">
                           <i class="far fa-circle fa-stack-2x"></i>
                           <i class="fas fa-calendar fa-stack-1x fa-inverse grey"></i>
                        </span>
                     </span>
                     <span class="">Thursday, February 17, 2022 </span>
                  </li>
                  </div>
        </section>

        <section class="cell large-4 medium-6 small-12">
            <a href="#">
                <img src="../../images/MS-Antonia-368x245.jpg">
                <h2 class="h3"><a>Racing the clock</h2>
            </a>
            <p>As researchers and physicians battle against an unpredictable, incurable foe, one patient refuses to let multiple sclerosis defeat her.</p>
            <div>
               <ul class="fa-ul outline">
                  <li>
                     <span class="fa-li">
                        <span class="fa-stack fa-1x">
                           <i class="far fa-circle fa-stack-2x"></i>
                           <i class="fas fa-calendar fa-stack-1x fa-inverse grey"></i>
                        </span>
                     </span>
                     <span class="">Thursday, February 17, 2022 </span>
                  </li>
                  </div>
        </section>

        <section class="cell large-4 medium-6 small-12">
            <a href="#">
                <img src="../../images/Acting-sick-368x245.jpg">
                <h2 class="h3">Acting sick</h2>
            </a>
            <p>There is no one better to give future health care providers pointers on working with patients than patients themselves. These just happen to be trained actors working off a script.</p>
            <div>
               <ul class="fa-ul outline">
                  <li>
                     <span class="fa-li">
                        <span class="fa-stack fa-1x">
                           <i class="far fa-circle fa-stack-2x"></i>
                           <i class="fas fa-calendar fa-stack-1x fa-inverse grey"></i>
                        </span>
                     </span>
                     <span class="">Thursday, February 17, 2022 </span>
                  </li>
                  </div>
        </section>

        <section class="cell large-4 medium-6 small-12">
            <a href="#">
                <img src="../../images/Alumni-Sharon-Gordon-368x245.jpg">
                <h2 class="h3">Breaking barriers</h2>
            </a>
            <p>UT Health San Antonio alumna Sharon M. Gordon, D.D.S. ’91, is the first woman dean of UConn's dental school.</p>
            <div>
               <ul class="fa-ul outline">
                  <li>
                     <span class="fa-li">
                        <span class="fa-stack fa-1x">
                           <i class="far fa-circle fa-stack-2x"></i>
                           <i class="fas fa-calendar fa-stack-1x fa-inverse grey"></i>
                        </span>
                     </span>
                     <span class="">Thursday, February 17, 2022 </span>
                  </li>
                  </div>
                  
    </section>
    <section class="cell large-12 medium-12 small-12 text-center margin-top"><p><a href="#" class="button ghost">View more stories</a></p></section>
</main>
    <section class="bleed noise light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="small-12 medium-4 large-4 cell">
            <h3>Spring-Summer 2019</h3>
            <div class="button-group">
    <p><a href="#" class="button">Current Issue</a></p>
    <p><a href="#" class="button ghost">Past Issues</a></p>
</div>
            </div>
            <div class="small-12 medium-4 large-4 cell">
                <img src="../../images/Cover-Winter2019.jpg">
            </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center padding-bottom">
                <h2 class="ruled color">Best of Mission Magazine</h2>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p><strong>Headline 1</strong></p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                    <p><strong>Headline 2</strong></p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p><strong>Headline 3</strong></p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                      <p><strong>Headline 4</strong></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-spaced">
        <div class="small-12 medium-8 cell">
            <h2>Get our Email</h2>
            <p>Gingerbread marzipan chupa chups macaroon donut powder marshmallow toffee muffin. Sweet croissant tootsie roll pastry. Cookie fruitcake cheesecake donut jelly beans liquorice.</p>
            <form>
                <label>Email Address
                    <input type="text" class="small-4">
                </label>
                <button type="submit" class="button">Subscribe me!</button>
        </div>
        <div class="small-12 medium-2 cell">
            <i class="fas fa-envelope-open-text fa-10x dark-grey"></i>
        </div>
    </div>
  </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <section class="cell large-12 medium-12 small-12 margin-bottom">
    <h2>Browse Sections</h2></section>
<p class="bold margin-bottom">Schools & Centers</p>
<div>
  <ul class="tags">
    <li><a>Tag 1</a></li>
    <li><a>Tag 2</a></li>
    <li><a>Tag 3</a></li>
    <li><a>Tag 4</a></li>
    <li><a>Tag 5</a></li>
    <li><a>Tag 6</a></li>
    <li><a>Tag 7</a></li>
    <li><a>Tag 8</a></li>
    <li><a>Tag 9</a></li>
    <li><a>Tag 10</a></li>
  </ul>
</div>
<p class="bold margin-bottom">Mission</p>
<div>
  <ul class="tags">
    <li><a>Tag 1</a></li>
    <li><a>Tag 2</a></li>
    <li><a>Tag 3</a></li>
    <li><a>Tag 4</a></li>
    <li><a>Tag 5</a></li>
    <li><a>Tag 6</a></li>
    <li><a>Tag 7</a></li>
    <li><a>Tag 8</a></li>
    <li><a>Tag 9</a></li>
    <li><a>Tag 10</a></li>
  </ul>
</div>
<p class="bold margin-bottom">Research Focus Areas</p>
<div>
  <ul class="tags">
    <li><a>Tag 1</a></li>
    <li><a>Tag 2</a></li>
    <li><a>Tag 3</a></li>
    <li><a>Tag 4</a></li>
    <li><a>Tag 5</a></li>
    <li><a>Tag 6</a></li>
    <li><a>Tag 7</a></li>
    <li><a>Tag 8</a></li>
    <li><a>Tag 9</a></li>
    <li><a>Tag 10</a></li>
  </ul>
</div>
</div>
</section>

{% include "@blocks/footer/mission.twig" %}