{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<div class="grid-container">
    <h1>Program Basic Page</h1>
    <p class="subheader">Undergraduate Medical Education</p>
    <p>Doctor of Medicine (M.D.)</p>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
            <img src="https://placekitten.com/930/425" class="margin-bottom">
            <h2>Foundation modules</h2>
            <p>The 20-month preclinical curriculum begins with three foundational modules, Molecules to Medicine, Attack and Defense and Language of Medicine. Within each module, there is a progression of knowledge in a systematic fashion and weekly thematic content synthesized via a small group interactive patient case.</p>

            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Accordion 1</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is a default accordion</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Accordion 2</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is a default accordion</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Accordion 3</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is a default accordion</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
            </ul>

            <h2>Longitudinal modules</h2>
            <p>There are two longitudinal modules threaded throughout the preclinical curriculum: Medicine, Behavior, and Society (MBS) and Clinical Skills. MBS explores the areas of history, law, ethics, clinical, social and cultural contexts of medicine as well as human behavior & development over the lifespan (cognitive, social and emotional development from infancy to death). In Clinical Skills students learn medical history taking and physical exam techniques using standardized and real patients.</p>

            <p>The preclinical phase of the curriculum concludes with students taking the National Board of Medical Examiners (NBME) Comprehensive Basic Science Exam (CBSE) and meeting established score benchmarks in order to progress to the clinical phase of the curriculum.</p>

            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Accordion 1</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is a default accordion</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Accordion 2</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is a default accordion</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
            </ul>
        </main>
        <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
            {% include "@components/navigation/subnav.twig" %} 
             
        </aside>
    </div>
</div>

{% include "@blocks/footer/alamo.twig" %}