{% include "@components/header-prototypes/header-ims.twig" %}

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-ims.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <main class="small-12 medium-8 cell">
            <p>IMS Service Desk can assist immediately or help you by preparing and submitting a request for the full range of IT services. Contact us here <a>210-567-7777.</a></p> 

<p>If you have a general question, please complete the form below and someone will reach out to you. To request services, <a>click here</a> to fill out the service request form.</p>


              <form>
              <label>Required information(<span class="required">*</span>)</label>
  <label>Name<span class="required">*</span><input type="text">
  </label>
  <label>Email Address<span class="required">*</span>
    <input type="text">
  </label>
  <label>Phone Number
    <input type="text">
  </label>
  <label>Subject<span class="required">*</span>
    <input type="text">
  </label>
  <label>Question or Comment<span class="required">*</span>
    <textarea></textarea>
  </label>
<p><a href="#" class="button">Submit</a></p>
</main>

    <aside class="small-12 medium-4 cell">
         <div class="grid-x grid-margin-x">
                    <a class="callout color orange cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-check-square fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="service-button">Request Services Now</h3>
                    </a>
                    
                    <a class="callout color blue cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-list fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="report-button">Our Services</h3>
                    </a>
                    </div>
            </aside>
</div></div></section>
{% include "@components/footer-prototypes/ims-footer.twig" %}