{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-3.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <h1>Publications & Presentations</h1>

                <div class="grid-x grid-margin-x">
                    <div class="cell large-4 medium-4 small-12">
                        <label><strong>Filter by title, author, journal</strong>
                            <input type="text">
                        </label>
                    </div>
                    <div class="cell large-4 medium-4 small-12">
                        <label><strong>Year</strong>
                            <select>
                                <option value="years">All Years</option>
                            </select>
                        </label>
                    </div>
                    <div class="cell large-4 medium-4 small-12">
                        <label><strong>Type</strong>
                            <select>
                                <option value="pubpost">All Publications & Poster Presentations</option>
                            </select>
                        </label>
                    </div>
                </div>

                <legend><strong>Research area</strong></legend>
                <input type="checkbox" name="ms" value="ms" id="msStudent" required><label for="msStudent">Area
                    #1</label>
                <input type="checkbox" name="phd" value="phd" id="phdStudent"><label for="phdStudent">Area #2</label>

                <div class="button-group">
                    <p><a href="#" class="hero button">Hero Button Orange</a></p>
                    <p><a href="#" class="hero button ghost">Hero Button Ghost Orange</a></p>
                </div>
            </div>

        </div>
    </div>
</section>

<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-10">
            <p class="results">Results: 20 publications and presentations</p>
            <div class="lines">
                <ul>
                    <li>
                        <p><a class="no-underline" href="#"><strong>Single-Cell Proteomic Profiling Identifies Combined AXL and JAK1 Inhibition as a Novel Therapeutic Strategy for Lung Cancer</strong></a></p>
                        <p>Taverna JA, Hung CN, DeArmond DT, Chen M, Lin CL, Osmulski PA, Gaczynska ME, Wang CM, Lucio
                            ND, Chou CW, Chen CL, Nazarullah A, Lampkin SR, Qiu L, Bearss DJ, Warner S, Whatcott CJ,
                            Mouritsen L, Wade M, Weitman S, Mesa RA, Kirma NB, Chao WT, Huang TH</p>
                        <p>Cancer Res. 2020 Apr 1;80(7):1551-1563. doi: 10.1158/0008-5472.CAN-19-3183. Epub 2020 Jan 28.
                        </p>
                        <ul class="tags">
                            <li><a href="#">Tag 1</a></li>
                            <li><a href="#">Tag 2</a></li>
                            <li><a href="#">Tag 3</a></li>
                        </ul>

                    </li>
                    <li>
                        <p><a class="no-underline" href="#"><strong>MALDI-MSI and METASPACE annotation of normal human renal cortical tissue reveals onsistent lipid remodeling</strong></a></p>
                        <p>Guanshi Zhang</p>
                        <p>Session Title: Diabetic Kidney Disease: Basic – I [PO0601-1]</p>
                        <p>Date: October 25, 2018 from 10:00 AM to 12:00 PM</p>
                        <p>Abstract #: 3024773; Poster Board #: TH-PO871 </p>
                        <ul class="tags">
                            <li><a href="#">Tag 1</a></li>
                            <li><a href="#">Tag 2</a></li>
                            <li><a href="#">Tag 3</a></li>
                        </ul>

                    </li>
                    <li>
                        <p><a class="no-underline" href="#"><strong>Prevalence and Severity of Fluorosis among Girls in Nanyuki, Kenya.</strong></a>
                        </p>
                        <p>Buischi, Y.P.; Campos, N.; Mwongera, K.; Loomer, P.M.</p>
                        <p>97th General Session & Exhibition of the International Association for Dental Research</p>
                        <p>(IADR), Vancouver, Canada. Journal of Dental Research, v. 98A, Abstract #1360, 2019.</p>

                        <p>Conference Title: CUGH Conference, Boston</p>
                        <p>Date: 2015</p>
                        <p>Abstract #: 3024773; Poster Board #: TH-PO871 </p>

                        <ul class="tags">
                            <li><a href="#">Tag 1</a></li>
                            <li><a href="#">Tag 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <p><strong>BARI 2D Study Group. BARI 2D: A Reanalysis Focusing on Cardiovascular Events</strong>
                        </p>
                        <p>Genuth SM, Vlachos H, Brooks MM, Bantle JP, Chaitman BR, Green J, Kelsey SF, King SB 3rd,
                            McBane R, Sako EY, Schneider DJ, Steffes M, Frye RL. </p>
                        <p>Mayo Clin Proc 2019 Nov;94(11):2249-2262.</p>
                        <ul class="tags">
                            <li><a href="#">Tag 1</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% include "@blocks/footer/alamo.twig" %}