{% include "@components/header-prototypes/header-infosec.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">

                <h1>Beware of Ransomware Attacks</h1>
                <p>Now more than ever, it is important to be aware of Ransomware attacks. Ransomware is a malicious software ("malware") that locks or encrypts data on infected systems until a sum of money or ransom is paid. Stay educated and protected by learning more about the most common indicators of this attack.</p>
                <p><a class="button">Learn more</a></p>
			</div>
      <div class="cell large-5 medium-5 small-12">
        <img src="../../images/Ransomware-banner.jpg">
      </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-infosec.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
      <main class="cell large-8 medium-8 small-12">
         <div class="grid-x sidecar grey margin-bottom">
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout outline flex-child-auto">
                  <h5>Business Email Compromise Attacks</h5>
                  <p>Business email compromise (BEC) attacks are a significant financial threat to educational entities and, in some cases, can cause even more damage than ransomware.</p>
                  <p><a href="#" class="button">Learn More</a></p>
               </div>
            </div>
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout flex-child-auto">
                  <h5>Vishing & Smishing: Scam calls and texts</h5>
                  <p>Vishing (or voice phishing) and Smishing (or SMS phishing) are the use of fraudulent phone calls or text messages to trick people into giving money or revealing personal information.</p>
                     <p><a href="#" class="button">More Info</a></p>
               </div>
            </div>
            </div>
            <div class="grid-x sidecar grey">
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout outline flex-child-auto">
                  <h5>Data Privacy: Sound Practices</h5>
                  <p>Taking steps toward protecting your data now could pay off big in the future. Log into the My UT Health Intranet for more information.</p>
                  <p><a href="#" class="button">Learn More</a></p>
               </div>
            </div>
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout flex-child-auto">
                  <h5>Phish Bowl: Anti-Phishing Awareness</h5>
                  <p>Check the Phish Bowl to verify if a suspicious email message you received is malicious or legitimate.</p>
                  <div class="button-group">
                     <p><a href="#" class="button">Catch the Phish</a></p>
                    <p><a href="#" class="button ghost">Phishing Prevention</a></p>
                    </div>
               </div>
            </div>
            </div>
    </main>
    <aside class="cell large-4 medium-4 small-12">
     <div class="text-center margin-bottom">
     <h3 class="h5">Information Security Department</h3>
     <p>Contact Infosec directly at 210-567-0707 or <a href="#">infosec@uthscsa.edu</a></p></div>
                  
               <a class="callout color blue flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">Chat with Service Desk</h3>
            <p>210-567-7777</p>
        </a>
        <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user-cog fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">Epic Support Desk</h3>
            <p>210-450-HELP or 210-450-4800</p>
        </a>
        <a class="callout color grey flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">IMS Self-Service</h3>
        </a>
        <div class="margin">
        <h3 class="h5">Helpful Resources</h3>
            <p><a class="arrow">IMS Self-Service information</a></p>
            <p><a class="arrow">Submit feedback - online form </a></p>
<p class="bold">Follow us on Twitter</p>
<div class="social">
   <ul>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
   </div>
</div>
    </aside>
  </div>
</section>

{% include "@components/footer-prototypes/infosec-footer.twig" %}