{% include "@components/header-prototypes/header-lab.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7">
                <h1>Home</h1>
                <p>For over five decades, UT Health San Antonio has built a track record of strong research partnerships
                    and collaboration leading to innovation and discovery impacting the health and wellness of Texans
                    and beyond.</p>
                <a href="#" class="button">Research</a>
            </div>
            <div class="cell small-12 medium-5">
                <img src="../../images/lab-shell/students-in-lab.jpeg" alt="SCIENCE">

            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-lab.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>About This Lab</h2>
            <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about log.
                Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver Jack Tar
                clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
            <p>Capstan bring a spring upon her cable log broadside quarterdeck Nelsons folly clipper strike colors
                galleon chase guns. Smartly landlubber or just lubber spanker man-of-war Yellow Jack gally Sink me reef
                sails swing the lead blow the man down. Boatswain nipper execution dock gally strike colors bring a
                spring upon her cable man-of-war carouser me wench.</p>
            <p><a class="button">Meet the Team</a></p>
        </main>
        <aside class="cell small-12 medium-4">
            <div class="callout contact outline">
                <h3>Contact</h3>
                <p class="close"><strong>FirstName LastName</strong><br>
                    Position/Title</p>
                <address>
                    <p>###-###-####<br>
                        <a href="#">email@uthscsa.edu</a></p>
                </address>
            </div>
        </aside>
    </div>
</section>
<section class="bleed light-grey">
    <div class="grid-container">
        <h2 class="text-center">News</h2>
        <div class="grid-x grid-margin-x grid-padding-y small-up-1 large-up-4">
            <a class="card cell color orange">
                <img src="../../images/lab-shell/lab-stock.jpeg" alt="SCIENCE">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .orange</p>
                </div>
            </a>
            <a class="card cell color orange">
                <img src="../../images/lab-shell/lab-stock.jpeg" alt="SCIENCE">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .orange</p>
                </div>
            </a>
            <a class="card cell color orange">
                <img src="../../images/lab-shell/lab-stock.jpeg" alt="SCIENCE">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .orange</p>
                </div>
            </a>
            <a class="card cell color orange">
                <img src="../../images/lab-shell/lab-stock.jpeg" alt="SCIENCE">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .orange</p>
                </div>
            </a>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/lab-footer.twig" %}