{% include "@components/header-prototypes/header-ccid.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-ccid.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <main class="small-12 medium-8 cell">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <form>
              <label>Required information(<span class="required">*</span>)</label>
  <label>Name<span class="required">*</span><input type="text">
  </label>
  <label>Email Address<span class="required">*</span>
    <input type="text">
  </label>
  <label>Subject<span class="required">*</span>
    <input type="text">
  </label>
  <label>Message<span class="required">*</span>
    <textarea></textarea>
  </label>
<p><a href="#" class="button">Submit</a></p>
</main>

    <aside class="small-12 medium-4 cell">
          <div class="callout contact outline">
            <h2 class="h5">Clinical Trial Inquiries</h2>
              <address>
               UT Health San Antonio<br>
               7703 Floyd Curl Drive, MC ####<br>
               San Antonio, TX 78229<br>
            </address>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">admin@uthscsa.edu</span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                        </span>
                     </span> <span class="">###-###-#### </span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-fax fa-stack-1x fa-inverse"></i>
                        </span>
                     </span> <span class="">###-###-#### </span>
                  </a>
               </li>
            </ul>
         </div>
<div style="max-width:100%;overflow:hidden;color:red;width:500px;height:400px;"><div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=ut+health+san+antonio&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="my-codefor-googlemap" href="https://kbj9qpmy.com/hrn" id="authmaps-data">Hosting Right Now</a><style>#google-maps-canvas img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
                                </aside>
</div></div></section>
{% include "@components/footer-prototypes/ccid-footer.twig" %}