<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Kitteh</h3>
                        <p>Class of XXXX<br>School of Desserts and Pastries</p>
                        <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk
                            flogging.</p>
                        <a href="#" class="arrow">More about Kitteh</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Kitteh</h3>
                        <p>Class of XXXX<br>School of Desserts and Pastries</p>
                        <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk
                            flogging.</p>
                        <a href="#" class="arrow">More about Kitteh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>