<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
    <!-- Quicklinks Content -->
    <div class="title-bar quicklinks">
        <div class="title-bar-left">
            <p><a href="#" data-close="offCanvasRight"><i class="fas fa-times"></i> Quicklinks</a></p>
            {% include "@components/formElements/search-box.twig" %}
            
             <div class="no-bullet arrow loose-list">
                <h2>Offices</h2>
                <ul>
                    <li><a href="#">Animal Research Compliance</a></li>
                    <li><a href="#">Clinical Trials Office</a></li>
                    <li><a href="#">Laboratory of Animal Resources</a></li>
                    <li><a href="#">Office of Clinical Research</a></li>
                    <li><a href="#">Office of the Institutional Review Board</a></li>
                    <li><a href="#">Office of Postdoctoral Affairs</a></li>
                    <li><a href="#">Office of Research Administration & Quality</a></li>
                    <li><a href="#">Office of Sponsored Programs</a></li>
                    <li><a href="#">Office of Strategic Research Initiatives</a></li>
                    <li><a href="#">Office of Technology Commercialization</a></li>   
                </ul>
            </div>
            <div class="no-bullet arrow loose-list">
                <h2>Core Labs</h2>
                <ul>
                    <li><a href="#">Bioanalytics & Single Cell</a></li>
                    <li><a href="#">Biospecimen & Translational Genomics</a></li>
                    <li><a href="#">Flow Cytometry</a></li>
                    <li><a href="#">Mass Spectrometry</a></li>
                    <li><a href="">Optical Imaging</a></li>
                    <li><a href="">Structural Biology</a></li>
                </ul>
            </div>

            <div class="no-bullet arrow loose-list">
                <h2>Research Systems</h2>
                <ul>
                    <li><a href="">Cayuse</a></li>
                    <li><a href="">ECRT</a></li>
                    <li><a href="">ERMS</a></li>
                    <li><a href="">IDEAS</a></li>
                    <li><a href="">iDisclose</a></li>
                    <li><a href="">iLab</a></li>
                    <li><a href="">Jaggaer Shopper</a></li>
                    <li><a href="">Kronos</a></li>
                    <li><a href="">ORCA</a></li>
                    <li><a href="">PeopleSoft Financials</a></li>
                    <li><a href="">REDCap</a></li>
                    <li><a href="">UT Learns</a></li>
                    <li><a href="">VPR Concierge Scheduler</a></li>
                    <li><a href="">VPR IT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>