<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
    <!-- Quicklinks Content -->
    <div class="title-bar quicklinks">
        <div class="title-bar-left">
            <p><a href="#" data-close="offCanvasRight"><i class="fas fa-times"></i> Quicklinks</a></p>
            {% include "@components/formElements/search-box.twig" %}
            
             <div class="no-bullet arrow loose-list">
                <h2>Offices</h2>
                <ul>
                    <li><a href="#">Animal Research Compliance</a></li>
                    <li><a href="#">Clinical Trials Office</a></li>
                    <li><a href="#">Clinical Research Implementation Office</a></li>
                    <li><a href="#">Department of Laboratory Animal Resources</a></li>
                    <li><a href="#">Institutional Review Board Office</a></li>
                    <li><a href="https://opa.uthscsa.edu/">Office of Postdoctoral Affairs</a></li>
                    <li><a href="https://outreach.uthscsa.edu/">Office of Recruitment & Science Outreach</a></li>
                    <li><a href="#">Office of Research Administration & Quality</a></li>
                    <li><a href="#">Office of Sponsored Programs</a></li>
                    <li><a href="#">Office of Strategic Research Initiatives</a></li>
                    <li><a href="https://otc.uthscsa.edu/">Office of Technology Commercialization</a></li>   
                    <li><a href="#">VPR Administration & Finance</a></li>  
                    <li><a href="#">VPR Information Technology</a></li>  
                </ul>
            </div>
            <div class="no-bullet arrow loose-list">
                <h2>Core Labs</h2>
                <ul>
                    <li><a href="#">Bioanalytics & Single Cell</a></li>
                    <li><a href="#">Biospecimen & Translational Genomics</a></li>
                    <li><a href="#">Flow Cytometry</a></li>
                    <li><a href="#">Mass Spectrometry</a></li>
                    <li><a href="">Optical Imaging</a></li>
                    <li><a href="">Structural Biology</a></li>
                </ul>
            </div>

            <div class="no-bullet arrow loose-list">
                <h2>Research Systems</h2>
                <ul>
                    <li><a href="https://uthscsa.cayuse424.com/">Cayuse</a></li>
                    <li><a href="https://www.clincard.com/login/">ClinCard</a></li>
                    <li><a href="https://app.complion.com/">Complion</a></li>
                    <li><a href="https://uthsa-ecrt.utsystem.edu/ecrt/redirectLogin.do?ecrtAction=init">Effort Certification (ECRT)</a></li>
                    <li><a href="https://erms1.uthscsa.edu/">ERMS Login</a></li>
                    <li><a href="https://vpr.uthscsa.edu/findastudy">FindaStudy</a></li>
                    <li><a href="https://us-east-1.quicksight.aws.amazon.com/sn/auth/signin?redirect_uri=https%3A%2F%2Fus-east-1.quicksight.aws.amazon.com%2Fsn%2Fstart%2Fdashboards%3Fstate%3DhashArgs%2523%26isauthcode%3Dtrue">Huron Reporting (HRA)</a></li>
                    <li><a href="https://deb.uthscsa.edu/Ideas/index.jsp">IDEAS</a></li>
                    <li><a href="https://uthscsa.corefacilities.org/landing/36">iLab</a></li>
                    <li><a href="https://utsys-eds.utsystem.edu/shibboleth-ds/index.html?entityID=https://utsys-ssoproxy.utsystem.edu/simplesaml/module.php/saml/sp/metadata.php/default-sp&return=https://utsys-ssoproxy.utsystem.edu/simplesaml/module.php/saml/sp/discoresp.php?AuthID%3D_a8c5d4faba1fdc95d73b5f5aa88cb71018174da64c%253Ahttps%253A%252F%252Futsys-ssoproxy.utsystem.edu%252Fsimplesaml%252Fsaml2%252Fidp%252FSSOService.php%253Fspentityid%253Dhttps%25253A%25252F%25252Fsolutions.sciquest.com%2526cookieTime%253D1677017654&returnIDParam=idpentityid">Jaggaer Shopper</a></li>
                    <li><a href="https://uthscsa.kronos.net/">Kronos</a></li>
                    <li><a href="https://vpr.uthscsa.edu/orca/">ORCA</a></li>
                    <li><a href="https://fint.uthscsa.edu/psp/F92PRDT/?cmd=login&languageCd=ENG&">PeopleSoft (PS) Financials</a></li>
                    <li><a href="https://vpr.uthscsa.edu/phoenix/">Phoenix Charge Master</a></li>
                    <li><a href="https://redcap.uthscsa.edu/REDCap/">REDCap</a></li>
                    <li><a href="https://scholars.uthscsa.edu/">Scholars</a></li>
                    <li><a href="https://shib.uthscsa.edu/idp/profile/SAML2/Unsolicited/SSO?providerId=https://login-eomf-saasfaprod1.fa.ocs.oraclecloud.com:443/oam/fed&target=https://fa-eomf-saasfaprod1.fa.ocs.oraclecloud.com/fscmUI/faces/FuseWelcome">UT Learns</a></li>
                    <li><a href="https://uthscsaprod.veloseresearch.com/velos/jsp/myHome.jsp">Velos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>