{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-3.twig" %}
{% include "@components/navigation/navbar.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7">
                <h1>Generic Lab</h1>
                <p>For over five decades, UT Health San Antonio has built a track record of strong research partnerships
                    and collaboration leading to innovation and discovery impacting the health and wellness of Texans
                    and beyond.</p>
                <a href="#" class="button">Research</a>
            </div>
            <div class="cell small-12 medium-5">
                <div class="responsive-embed">
                    <iframe src="https://www.youtube.com/embed/hWTdd8EKo3Y" title="YouTube video player"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>About This Lab</h2>
            <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about log.
                Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver Jack Tar
                clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
            <p>Capstan bring a spring upon her cable log broadside quarterdeck Nelsons folly clipper strike colors
                galleon chase guns. Smartly landlubber or just lubber spanker man-of-war Yellow Jack gally Sink me reef
                sails swing the lead blow the man down. Boatswain nipper execution dock gally strike colors bring a
                spring upon her cable man-of-war carouser me wench.</p>
        </main>
        <aside class="cell small-12 medium-4" role="complementary" aria-labelledby="contact-us">
            <div class="callout contact outline">
                <h3 id="contact-us">Contact</h3>
                <div>
                    <p><strong>Smitty WerbenJagerManJensen</strong></p>
                    <p>Head Office Guy<br>
                        210-867-5309<br>
                        <a href="mailto:smittyj@uthscsa.edu">smittyj@uthscsa.edu</a></p>
                </div>
            </div>
        </aside>
    </div>
</section>
<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-5 cell">
                <img src="http://placekitten.com/570/450" alt="KITTEH">
            </div>
            <div class="small-12 medium-7 cell">
                <h2>News</h2>
                <p>Piracy loaded to the gunwalls provost heave down lad spirits Corsair belaying pin Letter of Marque
                    draught. Privateer heave down gaff tackle topsail scurvy landlubber or just lubber gibbet splice the
                    main brace to go on account. Blimey wench furl gunwalls yardarm hornswaggle squiffy dead men tell no
                    tales long clothes ropes end.</p>
                <p>Lanyard bounty crows nest rutters sheet gun piracy hands squiffy Jolly Roger. Hands Davy Jones
                    Locker square-rigged yard chase bilge rat gun Arr swing the lead reef. Aft lanyard weigh anchor
                    scurvy league yard belaying pin Davy Jones Locker handsomely clipper.</p>
                <p>Mizzen carouser Arr bilge water aft fire in the hole topgallant hardtack Sink me crack Jennys tea
                    cup. Hail-shot booty quarter yard black jack come about lee haul wind transom aye. Flogging hempen
                    halter lanyard walk the plank mizzenmast lugger brig marooned me aye.</p>
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}