{% include "@components/header v2/header-GSBS.twig" %}
{% include "@components/navigation/navbar-GSBS.twig" %}

{% include "@components/navigation/breadcrumbs.twig" %}

<section class="bleed grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-7 small-12 medium-order-1 small-order-2">
            <h1>Career Advisory Council Members</h1>

            <h2 class="ruled h3">Clinical laboratory / clinical</h2>
            <div class="grid-x grid-margin-x margin-bottom">
                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Michelle Mudge-Riley, DO, MHA, RDN</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">T. Arthur Chang, Ph.D., HCLD</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">

                </div>
            </div>

            <h2 class="ruled h3">Faculty-research</h2>
            <div class="grid-x grid-margin-x margin-bottom">
                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Donald Dougherty, Ph.D.</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Kenneth Hargreaves, D.D.S., Ph.D.</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Philip LoVerde, Ph.D.</h3>
                    </a>
                </div>
            </div>

            <h2 class="ruled h3">Faculty-education</h2>
            <div class="grid-x grid-margin-x">
                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Mona Bains, Ph.D.</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">James Roberts, Ph.D.</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Jessica M. Ibarra, Ph.D.</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Lila P. LaGrange, Ph.D.</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Timothy Raabe, Ph.D.</h3>
                    </a>
                </div>

                <div class="cell small-6 medium-4 large-4">
                    <a>
                        <img class="margin-bottom" src="../../images/no-photo.jpg">
                        <h3 class="h5">Brian Stout, Ph.D.</h3>
                    </a>
                </div>
            </div>

        </main>
        <aside class="cell large-4 medium-5 small-12 medium-order-2 small-order-1">
            <h2 class="h5 color">Office of Career Development</h2>
            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Additional Opportunities & Resources</a></li>
                <li>
                    <a href="#">Career Advisory Council</a>
                    <ul class="nested vertical menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Members</a></li>
                    </ul>
                </li>
                <li><a href="#">Career planning resources</a></li>
                <li><a href="#">Common career choices
                <li><a href="#">Employment resources</a></li>
                <li><a href="#">Networking</a></li>
                <li><a href="#">Research integrity</a></li>
                <li><a href="#">Office of Career Development SharePoint</a></li>
            </ul>

        </aside>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}