{% include "@components/header-prototypes/header-GSBS.twig" %}
<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-7 large-7">
                <h1>Ph.D. in Translational Science</h1>
                <p>The Translational Science Ph.D. program is a joint program between UT Health San Antonio, UT San
                    Antonio, UT Austin, and UT Health Houston School of Public Health.</p>

                <p>This collaboration of four universities to offer a single joint doctoral degree is unique in the UT
                    System. The program is designed to use the existing resources and expertise in specific key areas of
                    each university to offer a strong, diverse, and competitive doctoral program. </p>

                <p>The program prepares the next generation of scientists to lead the multi-disciplinary biomedical
                    research teams of the future in increasingly complex research environments. These scientists advance
                    knowledge toward the goal of translating basic biomedical scientific discoveries into strategies
                    that will improve healthcare delivery, patient outcomes, and community health.</p>

                <p><a href="#" class="button">Apply now</a></p>

            </div>
            <div class="cell small-12 medium-5 large-5">
                <div class="responsive-embed">
                    <iframe width="492" height="302" src="https://www.youtube.com/embed/wvu_OnxUO-U"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-GSBS.twig" %}


{% include "@components/navigation/breadcrumbs.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Academics</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-apple-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Admissions</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-check-square fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Program Goals and Marketable Skills</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-pencil-ruler fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Program Curriculum and Timeline</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-notes-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Tuition and Fees</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="far fa-money-bill-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Faculty</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Student Directory</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user-tie fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">

                </div>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">

            <div class="margin-bottom">
                <h2 class="ruled h3">Application Deadline</h2>
                {% include "@components/dates/event.twig" %}
            </div>

            <div>
                <h2 class="ruled h3">Contact us</h2>
                <address>
                    <strong>Christopher Frei, Pharm.D.</strong><br>
                    <a href="#">freic@uthscsa.edu</a><br>
                    210-567-8371
                </address>
            </div>
        </div>

    </div>

    </div>
    </div>
</main>
<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-4 small-12">
                <h2>Requirements</h2>
                <div>
                    <ul>
                        <li>Applicants must have an advanced Professional degree (e.g., M.D., DO, D.D.S., MSN, Pharm.D.)
                        </li>
                        <li>Documentation of academic record</li>
                        <li>Three letters of recommendation</li>
                        <li>A current CV</li>
                        <li>Personal Statement</li>
                    </ul>
                </div>
                <p><a class="arrow margin-bottom">See all admission requirements</a></p>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Financial info</h2>
                <p>This is a section that describes more about a specific part of the program. This example showcases
                    the Financial details of the program.</p>
                <div class="arrow decoration">
                    <ul>
                        <li><a href="#">Tuition & Fees</a></li>
                        <li><a href="#">Financial Aid</a></li>
                        <li><a href="#">Scholarships</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Characteristics</h2>
                <p> Graduation, student, faculty and institutional statistics for Translational Science, Ph.D. </p>
                <p><a class="arrow" href="#">Our characteristics</a></p>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell large-8 medium-8 small-12">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-12 medium-4 large-3">
                        <img src="http://placekitten.com/300/400" alt="kitty">
                    </div>
                    <div class="cell small-12 medium-8 large-9">
                        <blockquote>
                            <p>A block quotation (also known as a long quotation or extract) is a quotation in a
                                written document, that is set off from the main text as a paragraph, or block of
                                text, and typically distinguished visually using indentation and a different
                                typeface or smaller size quotation. Blockquotes have no margin/padding of their own
                                and should be placed within another element like a bleed.</p>
                            <cite>Obi-Wan Kenobi, Jedi Master</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12 flex-container">
                <div class="callout white flex-child-auto">
                    <h3 class="text-center">Recent news</h3>
                    <div class="lines loose-list">
                        <ul class="no-bullet">
                            <li><a>Faculty Spotlight: Dr. Martin Schwacha, A Musician and a Scientist</a></li>
                            <li><a>Spring 2022 GSBS Travel Awards</a></li>
                            <li><a>TS PhD graduate Lauren Cornell was selected by NASA to participate in a simulated
                                    Mars study</a></li>
                        </ul>
                    </div>
                    <p class="text-center"><a class="button">More Translational Science news</a></p>
                </div>
            </div>
        </div>
</section>

{% include "@components/footer-prototypes/GSBS-footer.twig" %}