{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-2.twig" %}
<section class="hero bleed">
	<div class="grid-container">
        <h1>Faculty Directory</h1>
        <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-4 small-12">
                <label><strong>Filter by name</strong>
                    <input type="text">
                </label>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <label><strong>Department</strong>
                    <select>
                        <option value="dept">All Departments</option>
                    </select>
                </label>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <label><strong>Programs</strong>
                    <select>
                        <option value="program">All Programs</option>
                    </select>
                </label>
            </div>
        </div>
        <legend><strong>Faculty seeking</strong></legend>
        <input type="checkbox" name="ms" value="ms" id="msStudent" required><label for="msStudent">M.S. students</label>
        <input type="checkbox" name="phd" value="phd" id="phdStudent"><label for="phdStudent">Ph.D. students</label>

        <div class="button-group">
            <p><a href="#" class="hero button">Hero Button Orange</a></p>
            <p><a href="#" class="hero button ghost">Hero Button Ghost Orange</a></p>
        </div>
	</div>
</section>

<section class="grid-container">
    <div class="grid-x margin-x">
        <div class="cell">
            <p class="results">Results: 116 faculty members</p>

            <h2 class="ruled">S</h2>

            <section class="grid-x margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <a href="#"><img src="http://placekitten.com/208/291"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p><a href="#"><strong>Daniel L. Saenz, Ph.D.</strong></a></p>

                                    <p class="close"><strong>Programs</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Doctorate of Medical Physics</li>
                                        <li>Ph.D. in Radiological Sciences</li>
                                    </ul>
                                    <p class="close"><strong>Department</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Department of Radiation Oncology</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <a href="#"><img src="http://placekitten.com/208/291"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p><a href="#"><strong>Alan Y. Sakaguchi, Ph.D.</strong></a></p>

                                    <p class="close"><strong>Programs</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>M.S. in Cell Systems & Anatomy</li>
                                    </ul>
                                    <p class="close"><strong>Department</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Department of Cell Systems & Anatomy</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="grid-x margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <a href="#"><img src="http://placekitten.com/208/291"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p><a href="#"><strong>Daniel L. Saenz, Ph.D.</strong></a></p>

                                    <p class="close"><strong>Programs</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Doctorate of Medical Physics</li>
                                        <li>Ph.D. in Radiological Sciences</li>
                                    </ul>
                                    <p class="close"><strong>Department</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Department of Radiation Oncology</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <a href="#"><img src="http://placekitten.com/208/291"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p><a href="#"><strong>Alan Y. Sakaguchi, Ph.D.</strong></a></p>

                                    <p class="close"><strong>Programs</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>M.S. in Cell Systems & Anatomy</li>
                                    </ul>
                                    <p class="close"><strong>Department</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Department of Cell Systems & Anatomy</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="grid-x margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <a href="#"><img src="http://placekitten.com/208/291"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p><a href="#"><strong>Daniel L. Saenz, Ph.D.</strong></a></p>

                                    <p class="close"><strong>Programs</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Doctorate of Medical Physics</li>
                                        <li>Ph.D. in Radiological Sciences</li>
                                    </ul>
                                    <p class="close"><strong>Department</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Department of Radiation Oncology</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <a href="#"><img src="http://placekitten.com/208/291"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p><a href="#"><strong>Alan Y. Sakaguchi, Ph.D.</strong></a></p>

                                    <p class="close"><strong>Programs</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>M.S. in Cell Systems & Anatomy</li>
                                    </ul>
                                    <p class="close"><strong>Department</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Department of Cell Systems & Anatomy</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="grid-x margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <a href="#"><img src="http://placekitten.com/208/291"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p><a href="#"><strong>Daniel L. Saenz, Ph.D.</strong></a></p>

                                    <p class="close"><strong>Programs</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Doctorate of Medical Physics</li>
                                        <li>Ph.D. in Radiological Sciences</li>
                                    </ul>
                                    <p class="close"><strong>Department</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Department of Radiation Oncology</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <a href="#"><img src="http://placekitten.com/208/291"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p><a href="#"><strong>Alan Y. Sakaguchi, Ph.D.</strong></a></p>

                                    <p class="close"><strong>Programs</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>M.S. in Cell Systems & Anatomy</li>
                                    </ul>
                                    <p class="close"><strong>Department</strong></p>
                                    <ul class="no-bullet margin-bottom">
                                        <li>Department of Cell Systems & Anatomy</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                {% include "@components/navigation/pagination.twig" %}
            </div>
        </div>
    </div>
</section>

<!--{% include "@components/navigation/pagination.twig" %}-->

{% include "@blocks/footer/alamo.twig" %}