{% include "@components/header v2/header-LSOM.twig" %}
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>All Alumni Scholarship Recipients</h1>
  <main class="grid-x grid-margin-x">
    <section class="cell large-8 medium-8 small-12">
      <p>The Long School of Medicine Alumni Council awards scholarships that recognize students for academic excellence, clinical excellence, outstanding leadership, ethical standards, and exemplary service while enrolled in the Long School of Medicine.</p>
    </section>
    <section class="cell large-12 medium-12 small-12">
      <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/victoriaarnoldalumnischolarshiprecipient_0.jpg" alt="">
            <figcaption class="camera small"> Victoria Arnold</figcaption>
          </figure>
          <p class="large"><strong>Paul Cutler Award for Clinical Excellence</strong></p>
          <p>The Paul Cutler Award for Clinical Excellence recognizes a fourth-year student who best demonstrates the qualities of clinical excellence achieved through both the blend of art and science of medicine.</p>
          <p>Award recipient: Victoria Arnold, Class of 2020</p>
          
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/resized_received_1288183481389969_0.jpeg" alt="">
            <figcaption class="camera small"> Rachel Hamblin</figcaption>
          </figure>
          <p class="large"><strong>Long School of Medicine Alumni Merit Award – MS4</strong></p>
          <p>The Merit Award recognizes students’ academic excellence, leadership and exemplary service while enrolled at the Long School of Medicine.</p>
          <p>Award recipients: Rachel Hamblin and Corey McNeilly, both are from the Class of 2020</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/emilyhenkel_0.jpg" alt="">
              <figcaption class="camera small"> Emily Henkel</figcaption>
          </figure>
          <p class="large"><strong>Carlos Pestana, M.D., Ph.D. Medical Alumni Association Scholarship</strong></p>
          <p>The Carlos Pestana, MD, PhD, Award recognizes a graduating student for truly outstanding academic talent, clinical skills and ethical standards.</p>
          <p>Award Recipient: Emily Henkel, Class of 2020</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/dsc_136.jpg" alt="">
              <figcaption class="camera small"> (L-R): Matthew Lunati, Curtis Clark, and David Philpott</figcaption>
          </figure>
          <p class="large"><strong>Dean J. James Young Research Day Award</strong></p>
          <p>Award recipients: Matthew Lunati, Curtis Clark, David Philpott, and Nathan Rubalcava</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/dsc_160.jpg" alt="">
              <figcaption class="camera small"> (L-R): Dr. Jason Rocha and Dr. Jennifer Potter</figcaption>
          </figure>
          <p class="large"><strong>Dean J. James Young Research Day Award</strong></p>
          <p>Award recipient: Dr. Jason Rocha</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/dsc_144_000.jpg" alt="">
              <figcaption class="camera small"> (L-R): Dr. Allison Grimes, Dr. Mayada Ali, and Dr. Bravein Amalakuhan</figcaption>
          </figure>
          <p class="large"><strong>Dean J. James Young Research Day Award</strong></p>
          <p>Award Recipients: Dr. Allison Grimes, Dr. Mayada Ali, and Dr. Bravein Amalakuhan</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/srawards2015_jackiebucher_000.jpg" alt="">
              <figcaption class="camera small"> (L-R): Dr. Francisco Gonzalez-Scarano, Jaqueline Bucher, and Dr. Pamela Camosy</figcaption>
          </figure>
          <p class="large"><strong>Carlos Pestana, M.D., Ph.D. Award - 2015 Recipient</strong></p>
          <p>Award Recipient: Jaqueline Bucher</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/srawards2015_breanneschiffer_066.jpg" alt="">
              <figcaption class="camera small"> (L-R): Dr. Francisco Gonzalez-Scarano, Breanne Schiffer, and Dr. Pamela Camosy</figcaption>
          </figure>
          <p class="large"><strong>Class of 1973 Scholarship Award - 2015 Recipient</strong></p>
          <p>Award Recipient: Breanne Schiffer</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/srawards2015_caitlinfearing_068.jpg" alt="">
              <figcaption class="camera small"> (L-R): Dr. Francisco Gonzalez-Scarano, Caitlin Fearing, and Dr. Pamela Camosy</figcaption>
          </figure>
          <p class="large"><strong>Class of 2010 Scholarship Award - 2015 Recipient</strong></p>
          <p>Award Recipient: Caitlin Fearing</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/srawards2015_alexhenri_062.jpg" alt="">
              <figcaption class="camera small"> (L-R): Dr. Francisco Gonzalez-Scarano, Alex Henri, and Dr. Pamela Camosy</figcaption>
          </figure>
          <p class="large"><strong>Merit Award - 2015 Recipient</strong></p>
          <p>Award Recipient: Alex Henri</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/srawards2015_katherinebeale_060.jpg" alt="">
              <figcaption class="camera small"> (L-R): Dr. Francisco Gonzalez-Scarano, Katherine Beale, and Dr. Pamela Camosy</figcaption>
          </figure>
          <p class="large"><strong>Merit Award - 2015 Recipient</strong></p>
          <p>Award Recipient: Katherine Beale</p>
        </div>
        <div class="cell large-4 medium-6 small-12">
          <figure>
            <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/awardwinners.jpg" alt="">
              <figcaption class="camera small"> (L-R): James Cuvillier, Dr. Francisco Gonzalez-Scarano, Eithan Kotkowski</figcaption>
          </figure>
          <p class="large"><strong>Merit Award - 2015 Recipient</strong></p>
          <p>Award Recipients: James Cuvillier and Eithan Kotkowski</p>
        </div>
      </div>
    </section>
    <section class="cell large-8 medium-8 small-12">
      <h2>Additional Scholarship Recipients</h2>
      <ul>
        <li><strong>Class of 1973 Endowed Scholarship</strong>: Rose Ann Huynh, Jordan Buckley, Andrea Richardson</li>
        <li><strong>Class of 2010 Endowed Scholarship</strong>:  David Shockey, Olivia Thornton, Nick Salerno, David Melton</li>
        <li><strong>Paul Cutler for Clinical Excellence</strong>:  Kathy Harnois, Ann Ding, Evelyn Ashiofu, Krithika Srinivasan</li>
        <li><strong>The Forland Humanism in Medicine</strong>:  Rachel Dang, Spencer Cope, Cheri Dijamco</li>
        <li><strong>Carlos Pestana, M.D., Ph.D. Award</strong>:  Rachel Dang, John Ostrominski, Adriana Sullivan, Allison Pye</li>
        <li><strong>Merit Award</strong>:  Jordan Garcia, MS2;  Maria Leon-Camarena, MS3;  Jordan McMaster, MS2;  Natasha Mitra, MS4;  Emily Sendukas, MS4; Ryan Wealther, MS1; Averi White, MS3;  Mitchel Faulkner, MS2;  Akshay Goswami, MS2; Anisha Guda, MS1;  Sejal Lahoti, MS1;  Matt Lelegren, MS4;  Chloé Woodington, MS4;  Evelyn Ashiofu, MS4;  Eden Bernstein, MS3;  Eric Bready, MS4;  David Shockey, MS2;  Christopher Smith, MS3;  Yvonne Uyanwune, MS2;  Fadi Al-Asadi, MS2;  Kris Koch, MS4;  Nichole Michaeli, MS2; Bill Wu, MS4;  2015 Recipient - Cheri Dijamco</li>
      </ul>
    </section>
  </main>
</div>

{% include "@blocks/footer/LSOM-alamo.twig" %}
