<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-4 flex-container">
        <a class="callout color orange flex-child-auto">
            <h3 class="ruled">Heading</h3>
            <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly.</p>
        </a>
    </div>
</div>