{% include "@components/header-prototypes/header-bpal.twig" %}
<section class=" hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-bpal.twig" %}

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-8 large-8">
                <h2>Who we are</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h2 class="h3 margin-top">Our Team</h2>
                
              <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/b-ginsburg.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Brett Ginsburg, PhD</strong></p>
                                    <p>Director, BPAL</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/m-javors.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Marty Javors, PhD</strong></p>
                                    <p>Emeritus Director, BPAL</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/m-lopezcruzan.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Marisa Lopez-Cruzan, PhD</strong></p>
                                    <p>Associate Director, BPAL</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/n-hillkapturczak.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Nathalie Hill-Kapturczak, PhD</strong></p>
                                    <p>Associate Director, BPAL</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/j-sanchez.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Jesse Sanchez, MA</strong></p>
                                    <p>RAS-Lead, BPAL</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/g-friesenhahn.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Greg Friesenhahn, BS</strong></p>
                                    <p>RAS-Intermediate, BPAL</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/m-murrell.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Meredith Murrell, MS</strong></p>
                                    <p>RAS-Intermediate, BPAL</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/d-galindo.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>David Galindo, MBA</strong></p>
                                    <p>Research Associate - Senior, BPAL</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/h-altfaili.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Hanana Al-Tfaili, MD</strong></p>
                                    <p>Postdoctoral Fellow</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/h-stark.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Haidyn Stark, BS</strong></p>
                                    <p>IBMS Graduate Student</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/BPAL/b-sinson.jpg"></a>
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                            <ul class="no-bullet">
                                <li>
                                    <p class="close"><strong>Ben Sinson MS</strong></p>
                                    <p>IBMS Graduate Student</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </section>

            </main>

            <aside class="cell small-12 medium-4 large-4">
            <img src="../../images/BPAL/BPAL-logo_alpha.png" alt="BPAL logo" class="margin-bottom">
             <div class="callout contact outline">
                <h2>Contact Us</h2>
                <address>
                    UT Health San Antonio<br>
                    7703 Floyd curl Drive, MC 451<br>
                    San Antonio, TX 78229
                </address>
                <ul class="fa-ul stacked">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">210-123-4567</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i></span>
                            </span> <span class="">email@uthscsa.edu</span>
                        </a>
                    </li>
                </ul>
            </div>
                <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Publications</h3>
            </a></aside>
        </div>
    </div>
</section>

<section class="bleed color grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8 callout">
                    <h2>BPAL Associated Projects</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
            <div class="cell small-12 medium-5 large-4 callout">
                    <h2>Resources</h2>
                    <div class="arrow">
                        <ul>
                            <li><a href="#">Barshop Institute</a></li>
                            <li><a href="#">BeWell Texas</a></li>
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}