{% include "@components/header-prototypes/header-RDMS.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">
				<h1>Collect & Create</h1>
        <p>Topping pastry croissant toffee bonbon. Lollipop sweet roll sweet candy chocolate cheesecake sesame snaps. Icing donut dragée apple pie wafer tiramisu jelly jujubes candy canes. Lollipop muffin danish fruitcake tart.</p>
        <p><a class="button">Button Example</a></p>
			</div>
      <div class="cell large-5 medium-5 small-12">
        <img src="https://placekitten.com/500/300">
      </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-RDMS.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-8 medium-order-1 small-12 small-order-2">
      <p>Danish lemon drops candy dragée cotton candy jujubes candy sweet roll pastry. Marzipan macaroon pie gingerbread chupa chups. Cheesecake gummies chocolate cake tiramisu toffee sesame snaps cupcake. Sesame snaps candy donut dragée dessert. Tiramisu danish croissant powder chupa chups halvah jelly-o. Bonbon carrot cake toffee oat cake marzipan cake chocolate.</p>
      <p><a href="#" class="arrow">Example link to webpage</a></p>
      <p><a href="#" class="external">Example link to external site</a></p>
      <p><a href="#" class="file">Example link to PDF</a></p>
      <h2>Checklist</h2>
       <p class="show-for-small-only">Scroll right for more <i class="fas fa-arrow-right"></i></p>
      <table class="unstriped table-scroll">
        <thead>
          <tr>
            <th>Heading 1</th>
            <th>Heading 2</th>
            <th>Heading 3</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><i class="far fa-square"></i></td>
            <td>Table Cell 1</td>
            <td>Table Cell 2</td>
          </tr>
          <tr>
            <td><i class="far fa-square"></i></td>
            <td>Table Cell 1</td>
            <td>Table Cell 2</td>
          </tr>
          <tr>
            <td><i class="far fa-square"></i></td>
            <td>Table Cell 1</td>
            <td>Table Cell 2</td>
          </tr>
          <tr>
            <td><i class="far fa-square"></i></td>
            <td>Table Cell 1</td>
            <td>Table Cell 2</td>
          </tr>
        </tbody>
      </table>


    </main>
    <aside class="cell large-4 large-order-2 medium-4 medium-order-2 small-12 small-order-1">
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li><a>Clinical Research Informatics</a></li>
        <li><a>Data management tool and cost</a></li>
        <li><a>DOI data review</a></li>
        <li><a>Organize Data</a></li>
        <li><a>Research Imaging Institute</a></li>
        <li><a>Self-service Data Exploration & Management</a></li>
        <li><a>Software application development</a></li>
        <li><a>XNAT</a></li>

      </ul>
      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Callout option</h3>
      </a>
    </aside>

  </div>
</section>
{% include "@components/footer-prototypes/RDMS-footer.twig" %}