{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Budget and Financial Planning</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique. Tortor pretium viverra
                    suspendisse potenti.</p>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}


<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>Our Mission</h2>
            <p>The mission of the Budget and Financial Planning Office is to support the Health Science Center in
                achieving its mission in teaching, research, patient care and service through the following functions:
            </p>

            <ul class="margin-bottom">
                <li>Development and production of the Annual Operating Budget.</li>
                <li>Development and production of the Legislative Appropriations Request.</li>
                <li>Participate in the strategic planning process on budget-related matters.</li>
                <li>Day-to-day budget maintenance and controls.
                </li>
                <li>Coordinate budget and financial systems and procedures with the offices of Accounting, Payroll,
                    Human Resources, Information Management, and other applicable departments.</li>
                <li>Production of various financial management reports and impact studies to include fiscal notes and
                    business plans. </li>
                <li>To serve as a financial information resource for various external and governmental offices.
                    <br>
                </li>
            </ul>

            <p><a class="button">Meet our Staff</a></p>



        </main>
        <aside class="cell small-12 medium-4">
            <a class="callout color blue">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Internal Login</h3>
            </a>
            <div class="callout beige">
                <h3 class="h5 color">Support Functions</h3>
                <div class="arrow">
                    <ul>
                        <li><a>Legislative Appropriations Request (LAR)</a></li>
                        <li><a>Financial Monitoring</a></li>
                    </ul>
                </div>
            </div>

        </aside>
    </div>
</section>
{% include "@components/footer-prototypes/ba-footer.twig" %}