{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Budget and Financial Planning</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique. Tortor pretium viverra
                    suspendisse potenti.</p>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}


<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>Our Mission</h2>
            <p>The mission of the Budget and Financial Planning Office is to support the Health Science Center in
                achieving its mission in teaching, research, patient care and service through the following functions:
            </p>

            <ul class="margin-bottom">
                <li>Development and production of the Annual Operating Budget.</li>
                <li>Development and production of the Legislative Appropriations Request.</li>
                <li>Participate in the strategic planning process on budget-related matters.</li>
                <li>Day-to-day budget maintenance and controls.
                </li>
                <li>Coordinate budget and financial systems and procedures with the offices of Accounting, Payroll,
                    Human Resources, Information Management, and other applicable departments.</li>
                <li>Production of various financial management reports and impact studies to include fiscal notes and
                    business plans. </li>
                <li>To serve as a financial information resource for various external and governmental offices.
                    <br>
                </li>
            </ul>

            <div class="callout beige">
                <h3 class="h5 color">Support Functions</h3>
                <div class="arrow">
                    <ul>
                        <li><a>Annual Operating Budget</a></li>
                        <li><a>Legislative Appropriations Request (LAR)</a></li>
                        <li><a>Financial Monitoring</a></li>
                    </ul>
                </div>
            </div>

        </main>
        <aside class="cell small-12 medium-4">
            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                <li><a href="#">Business Affairs Home</a></li>
                <li><a href="#">Budget and Financial Planning</a>
                    <ul class="nested vertical menu">
                        <li><a href="#">Budget and Financial Planning Staff</a></li>
                        <li><a href="#">Support Functions</a></li>
                    </ul>
                </li>
                <li><a href="#">Office of Sponsored Programs</a></li>
                <li><a href="#">Office of Institution Research</a></li>
                <li><a href="#">Office of the Bursar</a></li>
                <li><a href="#">Business Affairs Operations</a>
                    <ul class="nested vertical menu">
                        <li><a href="http://uthscsa.edu/business/accounting/">Accounting</a></li>
                        <li><a href="#">Cash Management</a></li>
                        <li><a href="http://www.campusdish.com/en-US/CSSW/UTHealthScienceCenter">Campus Dining
                                Services</a></li>
                        <li><a href="#">Materials Management</a></li>
                        <li><a href="http://uthscsa.edu/business/hub/index.html">Historically Underutilized Business</a>
                        </li>
                        <li><a href="http://uthscsa.edu/business/payroll">Payroll Services</a></li>
                        <li><a href="http://uthscsa.edu/business/property/">Property Control</a></li>
                        <li><a href="http://uthscsa.edu/business/purchasing/index.html">Purchasing</a></li>
                        <li><a href="https://uthealthsa.sharepoint.com/Business/SCM/Pages/Travel.aspx">Travel
                                Services</a></li>
                        <li><a
                                href="http://uthscsa.bncollege.com/webapp/wcs/stores/servlet/BNCBHomePage?catalogId=10001&langId=-1&storeId=39552">University
                                Bookstore</a></li>
                        <li><a href="http://uthscsa.edu/business/materialsmgmt/dining-vending.html">Vending Services</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Meet our Staff</a></li>
            </ul>



        </aside>
    </div>
</section>
<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center margin-bottom">
            <div class="cell small-12 medium-9 medium-9">
                <h2>Area of Responsibility</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-12 large-4 callout nested orange">
                <h5 class="text-center close">Amber Sharp, MBA, CPA 7-7021</h5>
                <p class="text-center"><a>Sharpa@uthscsa.edu</a></p>
                <ul>
                    <li>Long School of Medicine</li>
                    <li>School of Dentistry</li>
                    <li>Marketing, Communications Media</li>
                    <li>Office of the President<br>
                    <li>Strategic Planning Business Development</li>
                    <li>Institutional Advancement</li>
                    <li>Exec VP for Facilities Planning Operations</li>
                    <li>Information Management Services</li>
                </ul>
            </div>
            <div class="cell medium-12 large-4 callout nested orange">
                <h5 class="text-center close">Melissa White, MBA 7-7022</h5>
                <p class="text-center"><a>Whitem5@uthscsa.edu</a></p>
                <ul>
                    <li>School of Nursing</li>
                    <li>School of Health Professions</li>
                    <li>Graduate School of Biomedical Sciences</li>
                    <li>Governmental Relations<br>
                    <li>Academic Faculty & Student Affairs</li>
                    <li>Vice President of Research</li>
                    <li>Business Affairs</li>
                    <li>Human Resources</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/ba-footer.twig" %}