{% include "@components/header-prototypes/header-IIMS.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <h1>All News</h1>
            </div>

        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-IIMS.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<section class="bleed">
	<div class="grid-container">

		<div class="grid-x grid-margin-x">
			<main class="cell small-12 medium-7 large-8">
<div class="lines">
                <ul>
                    <li>
                        <p><a class="no-underline" href="#"><h3>Headline</h3></a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem. 
                        </p>
                    </li>

                    <li>
                        <p><a class="no-underline" href="#"><h3>Headline</h3></a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem. 
                        </p>
                    </li>
                    <li>
                        <p><a class="no-underline" href="#"><h3>Headline</h3></a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem. 
                        </p>
                    </li>
                    <li>
                        <p><a class="no-underline" href="#"><h3>Headline</h3></a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem. 
                        </p>
                    </li>
                    <li>
                        <p><a class="no-underline" href="#"><h3>Headline</h3></a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem. 
                        </p>
                    </li>
                    <li>
                        <p><a class="no-underline" href="#"><h3>Headline</h3></a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem. 
                        </p>
                    </li>
                    <li>
                        <p><a class="no-underline" href="#"><h3>Headline</h3></a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem. 
                        </p>
                    </li>
                    <li>
                        <p><a class="no-underline" href="#"><h3>Headline</h3></a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem. 
                        </p>
                    </li>
                        </ul>
                    </li>
                </ul>
                {% include "@components/navigation/pagination.twig" %}
            </div>
			</main>


			<aside class="cell small-12 medium-5 large-4" role="complementary" aria-labelledby="current-issue">
				<div class="callout ">
					<h3 id="current-issue">Get news to your inbox</h3>
					<form>
									<label>Email Address *
										<input type="text">
									</label>
									<!--
							<p class="help-text" id="exampleHelpText">Here's how you use this input field!</p> -->
									<a href="#" class="button">Subscribe now!</a>
								</form>
				</div>
			</aside>
		</div>
	</div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}