{% include "@blocks/header/global-bar-quicklinks.twig" %}
{% include "@blocks/header/level-2.twig" %}

<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>Alumni Relations</h1>
                <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging. Brigantine capstan furl Jolly Roger cackle fruit code of conduct maroon topgallant me cable.</p>
                <a href="#" class="button">About</a>
            </div>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-10 cell text-center">
            <h2>Alumni and Student Spotlight</h2>
            <p>In the recent months, our UT Health San Antonio alumni family has been facing unforeseen challenges that no one could have imagined. We are honored to share the stories we have received from our alumni, and how they are helping in the fight against COVID-19.</p>
            <p>If you would like to share your story, please email your Alumni team at <a href="#">alumni@uthscsa.edu</a>.</p>
            <a href="#" class="ghost button">Past Spotlights</a>
        </div>
    </div>
</section>

<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Kitteh</h3>
                        <p>Class of XXXX<br>School of Desserts and Pastries</p>
                        <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging.</p>
                        <a href="#" class="arrow">More about Kitteh</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Kitteh</h3>
                        <p>Class of XXXX<br>School of Desserts and Pastries</p>
                        <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging.</p>
                        <a href="#" class="arrow">More about Kitteh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <h2 class="text-center">Keep in Touch With Your School</h2>
        <div class="grid-x grid-margin-x align-center">

            <a class="card cell small-12 medium-4 light-beige">
                <img src="https://picsum.photos/400/250" alt="scenery">
                <div class="card-section">
                    <h4>Joe R. & Teresa Lozano Long School of Medicine</h4>
                </div>
            </a>
            <a class="card cell small-12 medium-4 light-beige">
                <img src="https://picsum.photos/400/250" alt="scenery">
                <div class="card-section">
                    <h4>School of Nursing</h4>
                </div>
            </a>
            <a class="card cell small-12 medium-4 light-beige">
                <img src="https://picsum.photos/400/250" alt="scenery">
                <div class="card-section">
                    <h4>School of Dentistry</h4>
                </div>
            </a>
            <a class="card cell small-12 medium-4 light-beige">
                <img src="https://picsum.photos/400/250" alt="scenery">
                <div class="card-section">
                    <h4>School of Health Professions</h4>
                </div>
            </a>
            <a class="card cell small-12 medium-4 light-beige">
                <img src="https://picsum.photos/400/250" alt="scenery">
                <div class="card-section">
                    <h4>Graduate School of Biomedical Sciences</h4>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="bleed color grey">
   {% include "@blocks/feeds/news-events-white.twig" %}
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-spaced">
        <div class="small-12 medium-8 cell">
            <h2>Alumni Newsletter</h2>
            <p>Gingerbread marzipan chupa chups macaroon donut powder marshmallow toffee muffin. Sweet croissant tootsie roll pastry. Cookie fruitcake cheesecake donut jelly beans liquorice.</p>
            <form>
                <label>Email Address
                    <input type="text" class="small-4">
                </label>
                <button type="submit" class="button">Subscribe me!</button>
        </div>
        <div class="small-12 medium-2 cell">
            <i class="fas fa-envelope-open-text fa-10x dark-grey"></i>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}