{% include "@components/header-prototypes/header-cheever.twig" %}
<section class="hero bleed img-fill full">
    <img src="../../images/AAB-1.jpg" alt="Shot of AAB">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="cell large-5 small-12 roomy">
                <div class="callout">
                    <h1>Charles E. Cheever Jr. Center for Medical Humanities and Ethics</h1>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-cheever.twig" %}

<section class="">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="card tile cell small-12 medium-4 large-4">
                <img src="../../images/altc_portrait.jpg">
                <div class="card-section">
                    <div>
                        <h3 class="h4">About our Center</h3>
                        <p>We work to ensure that
                            students are knowledgeable about the principles of medical ethics related to their
                            professional activities.</p>
                        <p><a class="button">More About Us</a></p>
                    </div>
                </div>
            </div>
            <div class="card tile cell small-12 medium-4 large-4">
                <img src="../../images/cheever-center/students_classroom.jpeg">
                <div class="card-section">
                    <div>
                        <h3 class="h4">Humanities Distinction</h3>
                        <p>Learn more about what it means to pursue an M.D. with Distinction in Medical Humanities &
                            Ethics.</p>
                        <p><a class="button">Program Details</a></p>
                    </div>
                </div>
            </div>
            <div class="card tile cell small-12 medium-4 large-4">
                <img src="../../images/cheever-center/student_groups.jpeg">
                <div class="card-section">
                    <div>
                        <h3 class="h4">Student Organizations</h3>
                        <p>How several student groups share the Center's mission to “prepare tomorrow’s healers to act
                            with compassion and justice.”</p>
                        <p><a class="button">View Student Groups</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container img-bleed-left">
        <div class="grid-x grid-margin-x align-middle">

            <div class="cell medium-6 large-4">
                <img src="../../images/cheever-center/Matthew-Dacso-393x550.jpg" alt="Matthew Dasco">
            </div>

            <div class="cell medium-6 large-8">
                <p class="eyebrow">CMHE Spotlight</p>
                <h2>Announcing the New CMHE Director</h2>

                <p>Matthew Dacso, MD, MSc has been appointed as new Director of the Charles E. Cheever, Jr. Center for
                    Medical Humanities and Ethics and Professor in the Department of Medicine with a start date of May
                    1, 2024. Dr. Dacso was selected after a national search led by Dr. Francisco Cigarroa.</p>
                <div class="button-group">
                    <p><a href="#" class="button">Read Story</a></p>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">
                <h3 class="h4">Ewing Halsell Distinguished Lecture Featuring a Performance and Presentation by Dr.
                    Richard Kogan</h3>
                <p>August 27th, 2024 - 5:30pm</p>

                <p>Dr. Richard Kogan, Clinical Professor of Psychiatry at Weill Cornell Medical College and Artistic
                    Director of the Weill Cornell Music and Medicine Program presents the 2024 Ewing Halsell
                    Distinguished Lecture. Dr. Kogan has a distinguished career both as a psychiatrist and as a concert
                    pianist. Here he will perform “Ragtime: The Mind and Music of Scott Joplin”. His presentation
                    explores the role of music in healing and the influence of psychological forces and psychiatric
                    illness on the creative output of the great composer Scott Joplin.</p>

                <p><a class="button">Lecture Details</a></p>
            </div>
            <div class="cell small-12 medium-5 large-4">
                <div class="callout outline lines">
                    <ul>
                        <li><a href="#">Center Curriculum</a></li>
                        <li><a href="#">Faculty and Staff</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<hr>

<section>

    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">News</h2>
                    <div class="lines">
                        <ul>
                            <li><a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess
                                    Barton Speaks Directly to Children </a></li>
                            <li><a href="#">Our Department of Pediatrics Reaches out to Schools in Thanksgiving Covid-19
                                    Safety Video to Schools with Dr. Tess Barton, Story Featured in the top of KSAT-12
                                    Newscast</a></li>
                            <li><a href="#">The Department of Pediatrics Featured on KSAT-12: Infectious Disease Doctor
                                    Tess Barton Gives Halloween/Covid-19 Safety Tips to Schools Skywalker yoda </a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
                </div>
            </div>
            <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">Events</h2>
                    {% include "@blocks/feeds/events-vertical.twig" %}
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="#" class="button ghost">View All Events</a></p>

                </div>
            </div>
        </div>
</section>
{% include "@components/footer-prototypes/cheever-footer.twig" %}