{% include "@components/header v2/header.twig" %}
{% include "@components/navigation/navbar-v2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<main class="cell small-12 medium-8 large-8">
				<h1>Schedule</h1>
				<p class="margin-bottom">
					Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy. Boba tea
					time yerba maté kombucha loose leaf baihao yinzhen nokcha keemun turmeric earl grey caffeine.
					Zen fermentation baihao yinzhen zen scented turmeric. Infuser camellia sinensis puerh gyokuro
					zen tea garden black mint nilgiri turmeric iced kukicha fermentation black london fog. Bamboo
					whisk teahouse genmai sencha focus loose leaf tea time caffeine london fog bamboo whisk infuser.
				</p>
				<div class="grid-x">
					<div class="cell large-12 medium-12">
						<ul class="accordion orange" data-accordion data-allow-all-closed="true">
							<li class="accordion-item is-active" data-accordion-item>
								<a href="#" class="accordion-title">Day 1</a>
								<div class="accordion-content" data-tab-content>

									<div class="grid-x">
										<div class="cell small-3 medium-3 large-2">
											<p>7:15 </p>
										</div>
										<div class="cell small-9 medium-9 large-10">
											<p>Free Breakfast</p>
										</div>
									</div>
									<div class="grid-x">
										<div class="cell small-3 medium-3 large-2">
											<p>8:00 </p>
										</div>
										<div class="cell small-9 medium-9 large-10">
											<p>Opening Remarks Breakfast</p>
										</div>
									</div>
									<div class="grid-x">
										<div class="cell small-3 medium-3 large-2">
											<p>9:30 </p>
										</div>
										<div class="cell small-9 medium-9 large-10">
											<p>Rap Battle and Croissants</p>
										</div>
									</div>
									<div class="grid-x">
										<div class="cell small-3 medium-3 large-2">
											<p>10:00 </p>
										</div>
										<div class="cell small-9 medium-9 large-10">
											<p>Panel 1: Why Indeed Does the Duck Cross the Road? A Deep Look</p>
										</div>
									</div>
								</div>
							</li>

							<li class="accordion-item" data-accordion-item>
								<a href="#" class="accordion-title">Day 2</a>
								<div class="accordion-content" data-tab-content>
									<div class="grid-x">
										<div class="cell small-3 medium-3 large-2">
											<p>7:15 </p>
										</div>
										<div class="cell small-9 medium-9 large-10">
											<p>Free Breakfast</p>
										</div>
									</div>
									<div class="grid-x">
										<div class="cell small-3 medium-3 large-2">
											<p>8:00 </p>
										</div>
										<div class="cell small-9 medium-9 large-10">
											<p>Opening Remarks Breakfast</p>
										</div>
									</div>
									<div class="grid-x">
										<div class="cell small-3 medium-3 large-2">
											<p>9:30 </p>
										</div>
										<div class="cell small-9 medium-9 large-10">
											<p>Rap Battle and Croissants</p>
										</div>
									</div>
								</div>
							</li>
							<li class="accordion-item" data-accordion-item>
								<a href="#" class="accordion-title">Day 3</a>
								<div class="accordion-content" data-tab-content>
									<div class="grid-x">
										<div class="cell small-3 medium-3 large-2">
											<p>10:00 </p>
										</div>
										<div class="cell small-9 medium-9 large-10">
											<p>Panel 1: Why Indeed Does the Duck Cross the Road? A Deep Look</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</main>
			<aside class="cell small-12 medium-4 large-4">
				<div>
					<ul class="vertical menu accordion-menu margin-bottom" data-accordion-menu>
						<li>
							<a href="#">Arbitrary Conference Home</a>
						</li>
						<li><a href="# " class="is-active">Schedule</a></li>
						<li><a href="#">Conference Information</a></li>
						<li><a href="#">Speakers</a></li>
						<li><a href="#">Photos</a></li>
					</ul>
				</div>
				<div class="callout outline">
					<h2 class="h3">Contact Us</h2>
					<address>
						<p class="bold close"> Smitty WerbenJagerManJensen</p>
						Head Event Guy<br>
						210-567-0898<br>
						<a> smittyJ@uthscsa.edu</a><br>
					</address>
				</div>
			</aside>
		</div>
	</div>
</section>
{% include "@blocks/footer/alamo.twig" %}