{% include "@components/header-prototypes/header-opa.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">
				<h1>Current Postdocs</h1>

				<p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté tea garden. Sachet blend lemongrass nilgiri masala chai hot puierh pearl milk oolong teapot infusion.</p>

        <p><a href="#" class="button">Create Your Postdoc Profile</a></p>

			</div>
      <div class="cell large-5 medium-5 small-12">
        <img src="../../images/shp-students.jpg" alt="">
      </div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <ul class="accordion blue" data-accordion data-allow-all-closed="true">
            <li class="accordion-item is-active" data-accordion-item>
              <a href="#" class="accordion-title heading">Your Fellowship Appointment</a>
              <div class="accordion-content" data-tab-content>
                <h3>Onboarding</h3>
                <div class="lines margin-bottom">
                  <ul>
                    <li><a>New Postdoc Orientation (NPO)</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/OPA%20Resources%20Flyer%20051722.pdf">Postdoc Resources</a></li>
                  </ul>
                </div>
                <h3>Forms</h3>
                <div class="lines">
                  <ul>
                    <li><a href="http://myidp.sciencecareers.org/">Individual Development Plan (IDP)</a></li>
                    <li><a>IDP Instructions</a></li>
                    <li><a>Evaluation</a></li>
                    <li><a>Evaluation Instructions</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/Request%20for%20Exception%20Form%20033020.pdf">Request for Exception (Extend Duration or Effort Reduction)</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/Request%20for%20Exception%20Form%20Instructions%20060121.pdf">Request for Exception Instructions</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Career Development</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="../patterns/prototypes-OPA-ftroop/prototypes-OPA-ftroop.rendered.html">F-Troop</a></li>
                    <li><a>Pathways to Careers in Science</a></li>
                    <li><a>Primer</a></li>
                    <li><a>Rigor & Reproducibility</a></li>
                    <li><a href="../patterns/prototypes-OPA-spotlight-RI/prototypes-OPA-spotlight-RI.rendered.html">Spotlight on Research Integrity</a></li>
                  </ul>
                </div>
              </div>
            </li>
            
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Funding Opportunities</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/AvailableFellowshipAwards110914.pdf">Research Fellowship Opportunities</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/SciencePolicyFellowships_2014.pdf">Science Policy Fellowship Opportunities</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Training Grants</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Craniofacial Oral Biology Student Training in Academic Research (COSTAR)</a></li>
                     <li><a>NCI T32: Cancer Research Training Program</a></li>
                     <li><a>NIA Training Program for Research Scientists in the Biology of Aging</a></li>
                    <li><a>Postdoctoral Training in Cardiovascular Research</a></li>

                    <li><a>Postdoctoral Training in Drug Abuse Research</a></li>
                    <li><a>San Antonio Biomedical Education and Research (SABER)</a></li>
                    <li><a>Translational Science Training (TST) TL1 Program</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Postdoc Policy</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="http://uthscsa.edu/hop2000/">Handbook of Operating Procedures (HOP)</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/4.3.12%20Postdoctoral%20Research%20Fellow_FINAL.pdf">Postdoctoral Research Fellow Policy (HOP 4.3.12)</a></li>
                    <li><a>IDP Instructions</a></li>
                    <li><a href="https://opa.uthscsa.edu/sites/opa/files/flyers/Request%20for%20Exception%20Form%20033020.pdf">Request for Exception to Extend Duration or Reduction in Effort</a></li>
                    <!--<li><a>Conflict of Interest Office</a></li>
                    <li><a>iDisclose</a></li>-->
                    
                  </ul>
                </div>
              </div>
            </li>
            <!--<li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Procedure</a>
              <div class="accordion-content" data-tab-content>
                <p><a>Request for Exception Instructions</a></p>
              </div>
            </li>-->
            <!--<li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Forms</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Individual Development Plan (IDP)</a></li>
                    <li><a>Postdoctoral Request for Exception Form</a></li>
                    <li><a>Postdoctoral Research Fellow Evaluation</a></li>
                  </ul>
                </div>
              </div>
            </li>-->
            <!--<li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Housing</a>
              <div class="accordion-content" data-tab-content>
                <p><a>Housing in San Antonio</a></p>
              </div>
            </li>-->
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Health & Wellness</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="https://uthealthsa.care.com/">Care@Work</a></li>
                    <li><a href="http://uthscsa.edu/hr/benefits.asp">Benefits</a></li>
                    <li><a href="https://students.uthscsa.edu/counseling/">Student Counseling Center</a></li>
                    <li><a href="http://uthscsa.edu/HR/inside/utadv.asp">UT Employee Assistance Program</a></li>
                    <li><a href="https://wellness360.uthealthsa.org/">Wellness 360</a></li>
                    <li><a href="https://www.uthscsa.edu/patient-care/physicians/location/Medical-Arts-Research-Center">MARC Clinics</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title heading">Other</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a href="https://www.nationalpostdoc.org/default.aspx">National Postdoctoral Association (NPA)</a></li>
                    <li><a href="https://wp.uthscsa.edu/ois/">Office of International Services (OIS)</a></li>
                    <li><a href="http://research.uthscsa.edu/osp/">Office of Sponsored Programs (OSP)</a></li>
                    <li><a href="https://www.uthscsa.edu/vpr/core-labs">Research Cores</a></li>
                    <li><a>San Antonio Postdoctoral Research Forum (SAPRF)</a></li>
                    <li><a href="../patterns/prototypes-OPA-opa-UP/prototypes-OPA-opa-UP.rendered.html">UP - UT Health San Antonio Potdoc Association</a></li>
                    <li><a href="https://www.uthscsa.edu/vpr/services/conflict-interest">Conflict of Interest Office</a></li>
                    <li><a href="https://vpr.uthscsa.edu/iDisclose/">iDisclose</a></li>
                  </ul>
                </div>
              </div>
            </li>
        </ul>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <div class="loose-list">
        <ul class="no-bullet">
          <li>
            <a href="../patterns/prototypes-OPA-opa-UP/prototypes-OPA-opa-UP.rendered.html">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-star fa-stack-1x fa-inverse"></i>
              </span>
              <span>UP Postdoc Association</span>
            </a>
          </li>
          <li>
            <a href="http://www.nationalpostdoc.org/">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-flag-usa fa-stack-1x fa-inverse"></i>
              </span>
              <span>National Postdoc Association</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-award fa-stack-1x fa-inverse"></i>
              </span>
              <span>Postdoc Fellow of the Year</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-award fa-stack-1x fa-inverse"></i>
              </span>
              <span>Postdoc Mentor of the Year</span>
            </a>
          </li>
        </ul>
      </div>

      <!--<a class="callout orange">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h4>UP <br>Postdoc Association</h4>
      </a>
      <a class="callout color darken">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-flag-usa fa-stack-1x fa-inverse"></i>
        </span>
        <h4>National Postdoc Association</h4>
      </a>
      <a class="callout color grey">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-award fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Postdoc Fellow of the Year</h4>
      </a>
      <a class="callout color dark-grey">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-award fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Postdoc Mentor of the Year</h4>
      </a>-->
      <!--<a class="card color orange">
        <img src="../../images/up-erle.png" alt="UP mascot Erle">
        <div class="card-section">
          <h4>UP Postdoc Association</h4>
        </div>
      </a>-->
      <!--<ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li><a href="https://www.nationalpostdoc.org/default.aspx">National Postdoctoral Association</a></li>
        <li><a href="#">Postdoc Fellow of the Year</a></li>
        <li><a href="#">Postdoc Mentor of the Yeat</a></li>
        <li><a href="#">National Postdoc Appreciation Week</a></li>
      </ul>-->

    </aside>

  </div>
</section>


{% include "@blocks/footer/OPA-no-alamo.twig" %}