{% include "@components/header-prototypes/header-opa.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">
				<h1>Current Postdocs</h1>

				<p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté tea garden. Sachet blend lemongrass nilgiri masala chai hot puierh pearl milk oolong teapot infusion.</p>

        <div class="button-group">
          <p><a href="#" class="button">Open Postdoc Positions</a></p>
          <p><a href="#" class="button ghost">Create Your Postdoc Profile</a></p>
        </div>

			</div>
      <div class="cell large-5 medium-5 small-12">
        <img src="../../images/shp-students.jpg" alt="">
      </div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <ul class="accordion blue" data-accordion data-allow-all-closed="true">
            <li class="accordion-item is-active" data-accordion-item>
              <a href="#" class="accordion-title">Career Development</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>F-Troop</a></li>
                    <li><a>New Postdoc Orientation</a></li>
                    <li><a>Pathways to Careers in Science</a></li>
                    <li><a>Primer</a></li>
                    <li><a>Rigor & Reproducibility</a></li>
                    <li><a>Spotlight on Research Integrity</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Funding Opportunities</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Ann A. Hollocher Trainee Travel Award</a></li>
                    <li><a>Local Grants & Fellowships</a></li>
                    <li><a>Mentored Teaching Award (MTA)</a></li>
                    <li><a>Office of Sponsored Programs (OSP)</a></li>
                    <li><a>Research Fellowship Opportunities</a></li>
                    <li><a>Science Policy Fellowship Opportunities</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Training Grants</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>

                    <li><a>Cancer Research Training Program (CPRIT)</a></li>
                    <li><a>Craniofacial Oral Biology Student Training in Academic Research (COSTAR)</a></li>
                     <li><a>NCI T32: Cancer Research Training Program</a></li>
                     <li><a>NIA Training Program for Research Scientists in the Biology of Aging</a></li>
                    <li><a>Postdoctoral Training in Cardiovascular Research</a></li>

                    <li><a>Postdoctoral Training in Drug Abuse Research</a></li>
                    <li><a>San Antonio Biomedical Education and Research (SABER)</a></li>
                    <li><a>Translational Science Training (TST) TL1 Program</a></li>
                    <li><a>Research Training Programs Flyer</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Postdoc Policies</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Handbook of Operating Procedures (HOP)</a></li>
                    <li><a>Postdoctoral Research Fellow Policy (HOP 4.3.12)</a></li>
                    <li><a>New Postdoc Orientation</a></li>
                    <li><a>IDP Instructions</a></li>
                    <li><a>Evaluation Instructions</a></li>
                    <li><a>Request for Exception to Extend Duration or Reduction in Effort</a></li>
                    <!--<li><a>Conflict of Interest Office</a></li>
                    <li><a>iDisclose</a></li>-->
                    
                  </ul>
                </div>
              </div>
            </li>
            <!--<li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Procedure</a>
              <div class="accordion-content" data-tab-content>
                <p><a>Request for Exception Instructions</a></p>
              </div>
            </li>-->
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Forms</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Individual Development Plan (IDP)</a></li>
                    <li><a>Postdoctoral Request for Exception Form</a></li>
                    <li><a>Postdoctoral Research Fellow Evaluation</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <!--<li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Housing</a>
              <div class="accordion-content" data-tab-content>
                <p><a>Housing in San Antonio</a></p>
              </div>
            </li>-->
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Health & Wellness</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Care@Work</a></li>
                    <li><a>Benefits</a></li>
                    <li><a>Student Counseling Center</a></li>
                    <li><a>UT Employee Assistance Program</a></li>
                    <li><a>Wellness 360</a></li>
                    <li><a>MARC Clinics</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Other</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>National Postdoctoral Association (NPA)</a></li>
                    <li><a>Office of International Services (OIS)</a></li>
                    <li><a>Office of Sponsored Programs (OSP)</a></li>
                    <li><a>Resources for Postdoctoral Fellows</a></li>
                    <li><a>Research Cores</a></li>
                    <li><a>San Antonio Postdoctoral Research Forum (SAPRF)</a></li>
                    <li><a>UP - UT Health San Antonio Potdoc Association</a></li>
                    <li><a>Conflict of Interest Office</a></li>
                    <li><a>iDisclose</a></li>
                  </ul>
                </div>
              </div>
            </li>
        </ul>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <!--<a class="callout orange">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h4>UP <br>Postdoc Association</h4>
      </a>-->
      <a class="card color orange">
        <img src="../../images/up-erle.png" alt="UP mascot Erle">
        <div class="card-section">
          <h4>UP Postdoc Association</h4>
        </div>
      </a>
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li><a href="https://www.nationalpostdoc.org/default.aspx">National Postdoctoral Association</a></li>
        <li><a href="#">Postdoc Fellow of the Year</a></li>
        <li><a href="#">Postdoc Mentor of the Yeat</a></li>
        <li><a href="#">National Postdoc Appreciation Week</a></li>
      </ul>

    </aside>

  </div>
</section>


{% include "@blocks/footer/OPA-no-alamo.twig" %}