{% include "@components/header-prototypes/header-research.twig" %}
<section class="hero full bleed img-fill">
  <img src="https://www.uthscsa.edu/sites/default/files/researchers_web_banner2.jpg" alt="">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x align-right">
      <div class="small-12 medium-5 large-5 cell callout">
          <h1>Our Researchers</h1>
          <p>Our Researchers are dedicated to translating discoveries into strategies and therapies that address real world needs.</p>
          <p><a href="https://uthscsa.influuent.utsystem.edu/en/persons/" class="button">Researchers Pure Profiles</a></p>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-research.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 medium-8 small-12">
      <h2>Fueling Research by the Numbers</h2>
      <p>Researchers at UT Health San Antonio contribute to leading publications in numerous fields of specialty and continually compete with institutions nationwide for grants to support research with the potential for high-impact discoveries. UT Health San Antonio is ranked 41 among healthcare institutions worldwide by Nature Index.</p>
      <p><a href="#" class="button ghost">Learn more about Nature Index</a></p>
    </div>
    <div class="cell large-4 medium-4 small-12 text-center">
      <div class="factoids">
        <p class="h2 sans-serif black close">356</p>
        <p>Faculty with Extramural Grants in 2021</p>
        <p class="h2 sans-serif black close">$143.9M</p>
        <p>Organized research awards in FY 2020</p>
      </div>
    </div>
  </div>
</section>
<section class="bleed color orange pullquote roomy">
  <div class="grid-container">
		<div class="grid-x grid-margin-x align-center-middle">
			<div class="cell small-12 medium-9 large-9">
				<blockquote>
					<p class="large">Cold-stored whole blood is an FDA licensed and American Association of Blood Bankers approved blood product. I never imagined it would have such an impact. If we can save one life, that would be fantastic and that’s what we’re after.</p>
					<cite><a href="https://scholars.uthscsa.edu/en/persons/donald-jenkins">Donald Jenkins, M.D.</a> <br>Betty and Bob Kelso Distinguished Chair<br> UT Health San Antonio<br>Associate Deputy Director, Military Health Institute</cite>
				</blockquote>
			</div>
      <div class="cell small-12 medium-3 large-3">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/dr._jenkins.png" alt="Donald Jenkins, M.D.">
      </div>
		</div>
	</div>
</section>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="large-12 medium-12 small-12 text-center">
      <h2>Researcher Spotlight</h2>
    </div>
    <div class="cell small-12 medium-6 large-3 flex-container flex-dir-column">
      <a href="#" class="card light-beige  flex-child-auto">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/bunnik_lab.jpg" alt="Evelien Bunnik, PhD">
        <div class="card-section">
          <h3 class="h5">Microbiology</h3>
          <p>When the COVID-19 pandemic began, Evelien Bunnik, PhD, converted her lab from malaria research to study COVID-19 antibodies.</p>
        </div>
      </a>
    </div>
    <div class="cell small-12 medium-6 large-3 flex-container flex-dir-column">
      <a href="#" class="card light-beige flex-child-auto">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/garcini.png" alt="Luz Garcini, PhD MPH">
        <div class="card-section">
          <h3 class="h5">Population Health</h3>
          <p>Luz Garcini, PhD, MPH, Assistant Professor at the Center for Research to Advance Community Health (ReACH) focuses her research on identifying, understanding, and addressing the health needs of Latinx immigrant families.</p>
        </div>
      </a>
    </div>
    <div class="cell small-12 medium-6 large-3 flex-container flex-dir-column">
      <a href="#" class="card light-beige  flex-child-auto">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/anderson.jpg" alt="Allen Anderson, MD">
        <div class="card-section">
          <h3 class="h5">Cardiovascular</h3>
          <p>Long before becoming the Chief of Cardiology at UT Health San Antonio, Dr. Allen Anderson's first job was working at his grandparent's chicken farm, where he developed an uncanny knack for identifying the best birds. In November, Anderson came to UT Health San Antonio from Northwestern University, where he was a nationally recognized leader in heart failure and cardiac transplantation.</p>
        </div>
      </a>
    </div>
    <div class="cell small-12 medium-6 large-3 flex-container flex-dir-column">
      <a href="#" class="card light-beige flex-child-auto">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/solis-herrera.jpg" alt="Carolina Solis-Herrera, MD">
        <div class="card-section">
          <h3 class="h5">Diabetes & Kidney Health </h3>
          <p>Carolina Solis-Herrera, M.D., Voelcker Fund Young Investigator, is studying mechanisms to explain cardiovascular benefits observed in high-risk type 2 diabetes patients treated with a class of medication called a SGLT2 inhibitor.</p>
        </div>
      </a>
    </div>
  </div>
</section>
<section class="bleed color dark-grey pullquote roomy">
  <div class="grid-container">
		<div class="grid-x grid-margin-x align-center-middle">
			<div class="cell small-12 medium-9 large-9">
				<blockquote>
					<p class="large">In the last 18 months, we’ve recruited a dozen well-funded, high-impact scientists who are on the cutting edge of their fields. Just coming to work every day and being around brilliant people who are really hard-working and care deeply about their patients and their students is extremely rewarding.</p>
					<cite><a href="https://scholars.uthscsa.edu/en/persons/robert-a-hromas">Robert Hromas, M.D., FACP</a><br>Dean of the Long School of Medicine</cite>
				</blockquote>
			</div>
      <div class="cell small-12 medium-3 large-3">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/dean_hromas_in_lab.jpg" alt="Robert Hromas, M.D., FACP">
      </div>
		</div>
	</div>
</section>
{% include "@components/footer-prototypes/research-footer.twig" %}