{% include "@components/header-prototypes/header-okapi.twig" %}
{% include "@components/navigation-prototypes/navbar-okapi.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-7 large-8 cell">
                <h1>Telehealth</h1>
                <p>Telehealth has been used successfully for other aspects of newborn care. Telehealth strategies to
                    overcome geographic disparities or workforce issues have been successful for other neonatal
                    diseases. For example, telemedicine evaluation of infants with cleft lip and palate who are born in
                    rural nurseries is relatively cost-effective and prevents unnecessary interhospital transfers.30
                    Similarly, telehealth can be used to screen infants for retinopathy of prematurity or congenital
                    heart disease, support newborn resuscitation efforts, and provide perinatal care.31-35 However,
                    telehealth has not been used to address the critical disparities in antimicrobial use among infants
                    born in rural or medically underserved nurseries.</p>

                <p>Distance-based antibiotic stewardship programs can be effective for low-resource settings and address
                    the two major barriers to ASP implementation in these settings. Numerous studies have demonstrated
                    that telestewardship can improve the quality of care delivery for adult and pediatric patients
                    admitted to hospitals that do not have in-house ASP support.36-38 Stenehjem and colleagues39
                    demonstrated the effectiveness of a combined on-site and telehealth-supported stewardship program
                    for rural hospitals in Utah. In 2017, the Infectious Diseases Society of America published a policy
                    statement supporting the use of distance-based strategies for ASP support.40 Telehealth may be
                    particularly beneficial in Texas, which has on average 30% fewer primary care physicians per capita
                    than the national average.41 Of 254 Texas counties, 211 (83%) are designated by the Health Resources
                    and Services Administration (HRSA) as medically underserved (Figure 2) and 33 counties (13%) have no
                    primary care physicians at all.</p>

                <img src="../../images/okapi-diagram-2.png" alt="diagram">

            </main>

            <aside class="cell small-12 medium-5 large-4">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li>
                        <a href="#">Background</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">Basic Page 1</a></li>
                            <li><a href="#">Basic Page 2</a></li>
                            <li><a href="#">Basic Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Telehealth</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">About Telehealth</a></li>
                            <li><a href="#">Telehealth Topics</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Value for Providers</a></li>
                    <li><a href="#">Value for Patients</a></li>
                    <li><a href="#">Cost of Participation</a></li>
                </ul>

            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}