<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Operations</a></li>
                <li><a href="#">Budget and Financial Planning</a></li>
                <li><a href="#">Bursar</a></li>
                <li><a href="#">Cash Management</a></li>
                <li><a href="#">Sponsored Programs</a></li>
                <li><a href="#">Institution Research</a></li>
            </ul>
        </div>
    </div>
</nav>