{% include "@components/header-prototypes/header-tcmhcc.twig" %}
<section class=" hero bleed img-fill gradient white left">
    <img src="https://placedog.net/1920/1080" alt="adorable pup">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left roomy">
            <div class="small-12 medium-5 cell callout white">
                <img src="../../images/tcmhcc/tchatt-logo-black.png">
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-tcmhcc-2.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-9 text-center">
                <p class="h3">Serving Children's Mental Health Across the State</p>
                <p>Landlubber or just lubber bounty Blimey piracy fathom capstan tack rigging parley Cat o'nine tails.
                    Scuppers Jack Ketch six pounders avast pressgang weigh anchor loaded to the gunwalls code of conduct
                    scuttle plunder. Keelhaul spirits pillage jury mast mutiny lass chase guns rum swing the lead
                    carouser. </p>
            </div>
        </div>
    </div>
</section>

<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">65</p>
                <p>School Districts</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">294k</p>
                <p>Covered Lives</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-school fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">560</p>
                <p>Campuses</p>
            </div>
        </div>
        <p class="text-center margin-top"><a class="button ghost">Partnered School Districts</a></p>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-7">
                <p>Cog Gold Road rigging cable draught take a caulk Cat o'nine tails rope's end chase guns ahoy. Sloop
                    Jack Ketch maroon prow hang the jib jury mast bilge rat pillage careen booty. Long boat fire ship
                    scurvy grog blossom Admiral of the Black mizzen maroon Yellow Jack chantey lad.</p>

                <p>Landlubber or just lubber bounty Blimey piracy fathom capstan tack rigging parley Cat o'nine tails.
                    Scuppers Jack Ketch six pounders avast pressgang weigh anchor loaded to the gunwalls code of conduct
                    scuttle plunder. Keelhaul spirits pillage jury mast mutiny lass chase guns rum swing the lead
                    carouser. </p>

                <p>Cackle fruit tack hands smartly gabion schooner sutler capstan hempen halter lanyard. Strike colors
                    hogshead main sheet pillage cog wench hulk transom ye tender. Bilged on her anchor hempen halter
                    mizzenmast scuppers capstan shrouds long boat measured fer yer chains rope's end holystone. </p>

                <div class="button-group">
                    <p><a class="button arrow">Button</a></p>
                    <p><a class="button ghost arrow">Another Button</a></p>
                </div>
            </div>

            <div class="cell small-12 medium-5">
                <img src="../../images/adorable-corgi.jpg" alt="adorable corgi">
            </div>
        </div>
    </div>
</section>

<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-4 large-2">
                <img src="https://placedog.net/300/400" alt="doggy">
            </div>
            <div class="cell small-12 medium-6 large-8">
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text, and typically
                        distinguished visually using indentation and a different typeface or smaller size quotation.
                        Blockquotes have no margin/padding of their own and should be placed within another element like
                        a bleed.</p>
                    <cite>This dog, a good boy</cite>
                    <p><a href="#" class="arrow">I even have a link!</a></p>
                </blockquote>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}