{% include "@components/header-prototypes/header-tcmhcc.twig" %}
<section class=" hero bleed img-fill gradient white left">
    <img src="https://placedog.net/1920/1080" alt="adorable pup">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left roomy">
            <div class="small-12 medium-5 cell callout white">
                <img src="../../images/tcmhcc/tchatt-logo.png">
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-tcmhcc-2.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-8">
                <p>Gally coxswain poop deck long clothes long boat keel scurvy log crimp booty. Interloper fire ship
                    hail-shot Barbary Coast chandler gun Davy Jones' Locker careen lugsail handsomely. Tender coxswain
                    spanker grapple Sea Legs clap of thunder sutler belay gally prow. </p>

                <p>Handsomely holystone ahoy gunwalls man-of-war rope's end code of conduct crimp gibbet quarterdeck.
                    Rope's end yo-ho-ho American Main Gold Road topmast pirate hail-shot chantey to go on account grog
                    blossom. Keel hearties American Main Gold Road quarterdeck rope's end lee doubloon jury mast reef.
                </p>

                <p>Gun no prey, no pay loaded to the gunwalls haul wind spirits Sink me fire ship shrouds Sail ho
                    careen. Capstan gun league poop deck hearties long boat yardarm provost sheet take a caulk. Cutlass
                    dance the hempen jig measured fer yer chains smartly no prey, no pay Davy Jones' Locker gibbet aft
                    sloop Sail ho. </p>

                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 medium-6 flex-container">
                        <a class="callout color orange flex-child-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>About Us</h3>
                        </a>
                    </div>
                    <div class="cell small-12 medium-6 flex-container">
                        <a class="callout color grey flex-child-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Resources</h3>
                        </a>
                    </div>
                </div>

            </div>

            <div class="cell small-12 medium-4">
                <img src="https://placedog.net/600/450">
            </div>
        </div>
    </div>
</section>

<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">65</p>
                <p>School Districts</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">294k</p>
                <p>Covered Lives</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-school fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">560</p>
                <p>Campuses</p>
            </div>
        </div>
        <p class="text-center margin-top"><a class="button">Partnered School Districts</a></p>
    </div>
</section>

<section class="bleed">
    <div class="grid-container img-bleed-left">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-6 large-6 small-order-2 large-order-1">
                <img src="../../images/adorable-corgi.jpg" alt="adorable corgi">
            </div>
            <div class="cell medium-6 large-6 small-order-1 large-order-2">
                <h2 class="h4">Our Team</h2>
                <p>Loaded to the gunwalls rutters aft boatswain wherry stern mutiny chantey Sail ho poop deck. Run a
                    shot across the bow square-rigged yard belaying pin Davy Jones' Locker loaded to the gunwalls blow
                    the man down fluke spyglass fire in the hole. Chase guns mizzen marooned mizzenmast bilged on her
                    anchor measured fer yer chains fathom Sink me warp mutiny. </p>

                <p><a class="button">Meet our Team</a></p>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}