{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-3.twig" %}
<section class="full hero bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout">
                <h1>The United Confederation of User Experience</h1>
                <p>Welcome!</p>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2>Our Mission</h2>
                <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about
                    log. Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver
                    Jack Tar clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
                <p>Capstan bring a spring upon her cable log broadside quarterdeck Nelsons folly clipper strike colors
                    galleon chase guns. Smartly landlubber or just lubber spanker man-of-war Yellow Jack gally Sink me
                    reef sails swing the lead blow the man down. Boatswain nipper execution dock gally strike colors
                    bring a spring upon her cable man-of-war carouser me wench.</p>
                <h2>Goals</h2>
                <p>Fett mace habassa tibor moff kasan. Thennqora tchuukthai seerdon bibble yuuzhan. Unu selkath duro
                    wampa terrik gonk. Gorax maul wroonian lars boltrunians saurin endor. Valorum illum dengar jettster
                    kwa. Squib snootles dat kel boss celegian motti. Wicket jan ansion chommell tatooine vaathkree darth
                    dooku.</p>
                <ul>
                    <li>Lucas ipsum dolor sit amet sidious kamino grievous</li>
                    <li>Organa qui-gonn hutt calamari qui-gonn alderaan mara</li>
                    <li>Skywalker yoda moff kit ewok padmé binks organa Yavin windu luke skywalker mandalore mandalore
                        endor darth.</li>
                    <li>Amidala skywalker antilles jade antilles</li>
                </ul>
                <p>Kenobi kushiban polis tano jan baba grievous nagai. Celegian sola amidala b'omarr defel luke lumiya
                    taung jaina. Fett mace habassa tibor moff kasan. </p>
            </main>
            <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="subnav contact-us">
                {% include "@components/navigation/subnav.twig" %}
                <div class="callout outline">
                    <h3>Contact</h3>
                        <p class="close"><strong>Smitty WerbenJagerManJensen</strong><br>
                        Head Office Guy</p>
                        <address>
                            210-867-5309<br>
                            <a href="mailto:smittyj@uthscsa.edu">smittyj@uthscsa.edu</a>
                            </address>
                </div>
            </aside>
        </div>
    </div>
</section>
<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="small-12 medium-8 cell">
                <blockquote>
                    <p>This blockquote places the photo on the left. Otherwise it is identical to the previous example.
                        Lucas ipsum dolor sit amet nadon kamino ponda raioballo vader polis nomi ziro farlax tibor.
                        Drovian olié gerb anzati kashyyyk anakin. Kenobi kushiban polis tano jan baba grievous nagai.
                        Celegian sola amidala b'omarr defel luke lumiya taung jaina.</p>
                    <cite>Obi-Wan Kenobi, Jedi Master and Professor of Negotiation</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}