{% include "@components/header-prototypes/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/son-smart/research-support.jpg">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 large-5">
        <div class="callout">
          <h1>Research Support Services</h1>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SON.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Research</a></li>
    <li><a href="#">Office of Nursing Research & Scholarship (ONRS)</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Research Support Services
    </li>
  </ul>
</nav>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="cell small-12 medium-8 large-8">
<p>The Office of Nursing Research & Scholarship (ONRS) provides end-to-end service to ensure the success of our faculty and trainees in their relentless pursuit of ground-breaking discoveries. Because scholarship and its funding are the vehicle for the translation of knowledge discovery to practice, the ONRS provides a suite of services to support success across the discovery cycle.</p>

    <ul class="accordion orange" data-accordion data-allow-all-closed="true">
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Seminars and Workshops</a>
        <div class="accordion-content" data-tab-content>
          <strong>Research Seminar Series</strong>
<p>The research seminar series serves as a vital hub for the discussion and exploration of a diverse array of research-related subjects and scholarly pursuits in the School of Nursing. Convening monthly throughout the year, these seminars are a forum for our faculty and distinguished guest presenters to share their latest research discoveries and act as an incubator for collaboration.</p>

<p>We invite you to actively participate in these seminars, as they are designed to empower you in your research journey, offering both knowledge and networking opportunities. Together, we aim to push the boundaries of research excellence and contribute to the advancement of knowledge in our respective fields.</p>

<strong>Research Day</strong>
<p>Save the Date (check back here for details on our next Research Day, tentatively September 2024.)</p>

<p>Most recent year's agenda and speakers’ description. <a>Past year details</a>.</p>

<strong>Workshops & Special Seminars</strong>
<p>Specialized sessions throughout the year focus on skill acquisition and expanding the scientific competency of our faculty and trainees.</p>

<p>Previous research seminars can be viewed <a>here</a>.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Grant Development</a>
        <div class="accordion-content" data-tab-content>
        <strong>Faculty Scholar Development</strong>
<p>Faculty Scholars Development is committed to aiding individual faculty members through mentorship and consultation to enhance the academic productivity of our faculty.</p>

<strong>Grant Lifecycle Support</strong>
<p>(create 1-pager of services) (update the Blue Form requesting assistance)<br>
<p>Start your support from the Office of Nursing Research, by completing the Research Support Form.</p>
<p>If you require any assistance, please do not hesitate to reach out to (list an email address that is monitored and can be responded to quickly).</p>

<strong>Grant review workgroup</strong>
<p>The grant review workgroup serves as a vital step in the grant application process, involving a live or asynchronous evaluation of your proposal by experts before its submission to a funding agency. We encourage faculty of all career stages to engage in grant review workgroups, as they offer a fresh perspective that can uncover opportunities for improvement in various aspects of your application. This collaborative process yields valuable insights to enhance the overall coherence and persuasiveness of your proposal. Past participants not that the review helps identify confusion and ambiguity in the scientific rationale, statistical plan, or methodology.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Budget and Editorial Support</a>
        <div class="accordion-content" data-tab-content>
        <strong>Budget Guidance</strong>
<p><ul><li>Evaluators will assess the budget for your research program to ensure it aligns with the project's essential requirements.</li>
<li>Design and statistical consultation</li>
<li>Our team of statistical experts offers guidance on the statistical components of your proposals or ongoing projects. We recommend that researchers engage with statistical support during the early planning phase of a project, so the design is aligned with the project aims.</li></ul></p>

<strong>Design and statistical consultation</strong>
<p>Our team of statistical experts offers guidance on the statistical components of your proposals or ongoing projects. We recommend that researchers engage with statistical support during the early planning phase of a project, so the design is aligned with the project aims.</p>

<strong>Editorial support</strong>
<p>Our editorial support services offer copy editing, formatting to adhere to agency guidelines and a comprehensive analysis of the proposal's content and overall coherence.</p>

<strong>Dissemination strategies</strong>
<p>Today’s research enterprise demands sharing research findings beyond just the typical academic peer-reviewed journal outlets. Depending on the study design, consideration of sharing research with public, community partners, and cross-institutional audiences can extend your impact. Increasingly attention is given to how the interested parties receive the benefit of knowledge gained from research they participate in. Reaching these diverse audiences requires other styles and media for storytelling. The ONRS has specialized services for strategic communications to reach your audience.</p>

<strong>Data Management Core</strong>
<p>Our data management team is available to provide feedback in the preparation and evaluation of data management or data sharing plans for grant proposals and scholarly publications.</p>

<strong>UT Health San Antonio Resources</strong>
<p><a>GrantSeekers</a></p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
       <a href="#" class="accordion-title">Budget and Editorial Support</a>
        <div class="accordion-content" data-tab-content>
<p><strong>Identification of Funding opportunities Federal Programs</strong>
<ul><li><a>National Institutes of Health</a></li>
<li><a>Congressionally Directed Medical Research Programs</a></li>
<li><a>Substance Abuse and Mental Health Services Administration</a></li>
<li><a>Agency for Healthcare Research and Quality</a></li>
<li><a>Health Resources and Services Administration</a></li>
<li><a>Centers for Disease Control and Prevention</a></li>
<li><a>Food and Drug Administration</a></li>
<li><a>Patient-Centered Outcomes Research Institute</a></li>
    </ul>
    </p>
<p><strong>State Programs</strong>
<ul><li><a>Cancer Prevention & Research Institute of Texas</a></li></ul></p>
<p>
<strong>Foundations</strong>
<ul><li><a>Robert Wood Johnson Foundation</a></li>
<li><a>Arnold Ventures</a></li>
<li><a>The Commonwealth Funding</a></li></ul></p>
<p>
<strong>UT Health San Antonio</strong>
<ul><li><a>UT Health San Antonio</a></li>
<li><a>Limited Submissions</a></li></ul></p>
    </div>
            </li>
        </ul>
</main>

<aside class="cell small-12 medium-4 large-4">
         <div class="callout contact outline">
            <h2 class="h5">Contact Us</h2>
            <p><strong>Lixin (Lee) Song, PhD, RN, FAAN</strong><br>
            Vice Dean for Research</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">songl2@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
               <p><strong>Patty Rodriguez, Sr</strong><br>
            Manager of Research Operations</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">rodriguezm63@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <p><strong>Allen Reese</strong><br>
            Office Manager</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">reesea1@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <p><strong>Martrisha Trainum</strong><br>
            Senior Program Coordinator (Pre-Award)</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">trainum@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <p><strong>Kim Marie Renfro</strong><br>
            Technical Writer</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">renfrok1@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <p><strong>Zhen Xu</strong><br>
            Program Coordinator (Post-Award)</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">xuz2@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
      </div>
        </aside>
</div>
</div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San
              Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in
            <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care
            including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website
            (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their
            content, or products and services associated with those sites. The content on this website is intended to be
            used for informational purposes only. Health information on this site is not meant to be used to diagnose or
            treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>