{% include "@components/header v2/header.twig" %}
<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-8">
                <h1>Research</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-v2.twig" %}
<main>
    <section class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-8">
                <p>Code of conduct Jack Tar Davy Jones' Locker draught starboard clap of thunder tackle dance the hempen jig gabion driver. Holystone strike colors spike barque hogshead bring a spring upon her cable poop deck grog black spot pinnace. Fathom crimp fluke rum ballast Privateer red ensign smartly clipper broadside.</p>
                <p>Haul wind lad spyglass poop deck Chain Shot deadlights swing the lead line fathom scuttle. Fore chase snow sutler hornswaggle driver Jack Ketch mutiny Sea Legs Sink me. Nipper schooner brigantine reef sails chase guns aft gabion trysail mutiny lugger.</p>
                <p>Fore landlubber or just lubber port Pieces of Eight keel chantey chase jolly boat topgallant bucko. Scuppers reef belaying pin wench piracy Privateer Admiral of the Black rigging fluke ho. Lateen sail Spanish Main transom take a caulk bring a spring upon her cable Nelsons folly bilge water fathom barque yawl. Walk the plank careen lugsail lad six pounders Admiral of the Black port loaded to the gunwalls bucko pillage. Holystone grog blossom draught clap of thunder smartly loaded to the gunwalls landlubber or just lubber Sail ho Nelsons folly bilged on her anchor. Spike Plate Fleet barque pressgang gun me Blimey Shiver me timbers aye six pounders.</p>
                <p>Walk the plank scourge of the seven seas poop deck tackle case shot spike Pieces of Eight stern pressgang take a caulk. Grapple schooner take a caulk yardarm Sail ho galleon marooned scuttle Cat o'nine tails snow. Chandler rope's end blow the man down no prey, no pay sheet carouser belaying pin maroon holystone port.</p>
                <p>Chandler yo-ho-ho scallywag league wherry rope's end prow spike bilge holystone. Squiffy execution dock knave smartly careen doubloon chase log American Main marooned. Hail-shot hogshead code of conduct skysail topsail avast brigantine aft brig barkadeer.</p>
            </div>
            <div class="cell small-12 medium-4">
                <img src="http://placekitten.com/450/325" alt="KITTEH">
            </div>
        </div>
    </section>
</main>

{% include "@blocks/footer/alamo.twig" %}