{% include "@components/header-prototypes/header-UTD.twig" %}

<section class="hero bleed blur img-fill full">
    <img src="https://placekitten.com/550/287" alt="Placeholder">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
              <h1>Make an appointment</h1>
              <p>Patients can select care based on the type of dental services they need, their availability for regularly scheduled appointments and the price point that fits their budget or dental insurance coverage. Please make an appointment by calling our main number at 210-450-3700 or request an appointment online.</p>
            </div>
            <div class="cell large-5 small-12">
             <img src="https://placekitten.com/550/287" alt="Placeholder">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-UTD.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="small-12 medium-4 cell flex-container flex-dir-column callout beige">
                <div class="flex-child-shrink text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-tooth fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow text-center">
                    <h4 class="text-center">Faculty Care</h4>
                    <p>The feel of a private practice with the backing of a nationally recognized dental school.</p>
                </div>
                <div class="flex-child-shrink callout outline blue"> <p class="text-center ruled"><strong>Cost</strong><br> 
      Equal to private practice</p>
		<p class="text-center ruled"><strong>Appointment length</strong><br>
    Equal to private practice</p>
		<p class="text-center"><strong>Provider education level</strong><br>
    Faculty dentists</p></div>
            </div>

            <div class="small-12 medium-4 cell flex-container flex-dir-column callout beige">
                <div class="flex-child-shrink text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow text-center">
				    <h4 class="text-center">Resident Care</h4>
				    <p> Need a specialist? Our practices are staffed by faculty and dental school graduates who are in specialized dental training programs.</p>
                </div>
                <div class="flex-child-shrink callout outline blue"> <p class="text-center ruled"><strong>Cost</strong><br> 
      Fees average 60% of the cost of private practice</p>
		<p class="text-center ruled"><strong>Appointment length</strong><br>
    Slightly longer than private practice</p>
		<p class="text-center"><strong>Provider education level</strong><br>
    Graduate dentists completing advanced training</p></div>
            </div>
            
<div class="small-12 medium-4 cell flex-container flex-dir-column callout beige">
                <div class="flex-child-shrink text-center">
                    <span class="fa-stack fa-5x text-center">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow text-center">
				    <h4 class="text-center">Student Care</h4>
				    <p> Dentistry students, under the close supervision of faculty members, provide a wide range of services at affordable prices.</p>
                </div>
                <div class="flex-child-shrink callout outline blue"> <p class="text-center ruled"><strong>Cost</strong><br> 
      60 - 70% less than private practices</p>
		<p class="text-center ruled"><strong>Appointment length</strong><br>
    3-4 hours</p>
		<p class="text-center"><strong>Provider education level</strong><br>
    Dental students under the guidance of faculty dentists</p></div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <main class="small-12 medium-8 cell">

<h2>Request an appointment</h2>
<p>If you are interested in becoming a patient and would like a call back, please fill out the form below and we will contact you during your preferred time within 5 business days.</p>
<h3>Contact Information</h3>
              <form>
<p>An asterisk (<span class="required">*</span>) indicates a required field.</p>  <label>Name<span class="required">*</span><input type="text">
  </label>
  <label>Email Address<span class="required">*</span>
    <input type="text">
  </label>
  <label>Phone Number<span class="required">*</span>
    <input type="text">
  </label>
  <div class="grid-x grid-margin-x">
  <div class="cell large-6">
    <label>Date of birth<span class="required">*</span>
    <input type="text">
  </label></div>
    <fieldset class="cell large-6">
      <input id="formCheckbox1" type="checkbox"><label for="formCheckbox1">Child patient (age 0-17 years old)</label><br>
      <input id="formCheckbox3" type="checkbox"><label for="formCheckbox3">Covered under Medicaid   </label>
    </fieldset>
  </div>
  <label>Address<span class="required">*</span>
    <input type="text">
  </label>
  <label> Dental Insurance:
    <select>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
    </select>
  </label>
  <label>Special Needs:</label>
  <fieldset class="cell large-6">
      <input id="formCheckbox1" type="checkbox"><label for="formCheckbox1">check if you have Intellectual, Developmental or Physical Disability</label>
    </fieldset>
<p><a href="#" class="button">Submit</a></p>
</main>

    <aside class="small-12 medium-4 cell">
          <div class="cell auto card outline">
              <div class="card-section">
                 <h3 class="h5">Have a dental emergency?</h3>
                 <p><strong>For an urgent dental need,</strong> call our the number 210-450-3700 for the next available appointment. Appointments are scheduled during normal business hours, Monday through Friday, 7:30 a.m. to 5 p.m. <strong>Seek immediate treatment at the nearest emergency room</strong> or call <strong>9-1-1</strong> if your symptoms are life-threatening, such as:</p>
                 <ul>
                 <li>Difficulty breathing,</li>
                 <li>Uncontrollable bleeding,</li>
                 <li>Severe swelling or</li>
                 <li>An inability to swallow.</li>
                 </ul>
                 <br>
        </div></div>
        <div class="cell light-beige">
              <div class="card-section">
                    <div class="arrow">
	<ul>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 2</a></li>
		<li><a href="#">Link 3</a></li>
		<li><a href="#">Link 4</a></li>
		<li><a href="#">Link 5</a></li>
		<li><a href="#">Link 6</a></li>
	</ul>
</div></div></div>
            </aside>
</div></div></section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
          <h3>UT Dentistry</h3>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-3700</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">School of Dentistry</a></li>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>