{% include "@components/header-prototypes/header-barshop.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2023/02/hill-country-wide.jpg" alt="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-6 large-6 cell callout">
                <h1>Masoro-Barshop Conference on Aging</h1>
                <p class="large">October 10 - 13, 2024<br>The Mayan Dude Ranch, Bandera, Texas</p>
                <p>Targeting Metabolic Function to Improve Aging and Healthspan</p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-barshop.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-12 medium-12 small-12">
           <h2>Registration</h2>
        <div>
        <div class="cell large-4 medium-4 small-12">
            <a class="callout color orange" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hat-cowboy fa-stack-1x fa-inverse"></i>
                </span>
                <h3>External (non-UT Health SA) Registration</h3>
                <p>Link opens in new tab</p>
            </a>

        </div>
        <div class="cell large-4 medium-4 small-12">
            <a class="callout color blue" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hat-cowboy fa-stack-1x fa-inverse"></i>
                </span>
                <h3>UT Health SA Internal Registration Overnight</h3>
                <p>Download form and return</p>
            </a>

        </div>
        <div class="cell large-4 medium-4 small-12">
            <a class="callout color grey" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hat-cowboy fa-stack-1x fa-inverse"></i>
                </span>
                <h3>UT Health SA Internal Registration Daily</h3>
                <p>Download form and return</p>
            </a>

        </div>

    </div>
</section>




{% include "@components/footer-prototypes/barshop-footer.twig" %}
