{% include "@components/header-prototypes/header-LSOM.twig" %}
{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>Curriculum</h1>
  <p class="subheader">Undergraduate Medical Education</p>
  <p class="subtext">Doctor of Medicine (M.D.)</p>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <img src="https://www.uthscsa.edu/sites/default/files/2020/LSOM/images/faculty-students.jpg" class="margin-bottom">
      <p>The Doctor of Medicine (M.D.) degree program’s CIRCLE curriculum is guided by educational best practices in standardizing learning outcomes while providing students with opportunities to individualize the learning process. There is an emphasis on active learning with formative checkpoints for students to self-assess their progress and develop habits of self-directed learning and inquiry. The curriculum integrates basic & clinical science knowledge with early clinical experiences to provide students with a better understand of disease process and management. Ample time is provided for electives, selectives and exploration of career choices essential to professional identity formation.</p>
      <section class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12">
          <a>
            <img src="https://www.uthscsa.edu/sites/default/files/2020/LSOM/images/curriculum-preclinical.jpg" alt="">
            <h2 class="h3">Preclinical Curriculum</h2>
          </a>
          <p>The foundational 20-month preclinical curriculum emphasizes acquisition of formal knowledge and clinical skills in a systematic and incremental manner that emphasizes thematic relationships over rote memorization.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
          <a>
            <img src="https://www.uthscsa.edu/sites/default/files/2020/LSOM/images/curriculum-studivsty9.jpg" alt="">
            <h2 class="h3">Clinical Curriculum</h2>
          </a>
          <p>The clinical phase of the curriculum includes core clerkships where students gain experience in a variety of settings. In fourth year, there is ample opportunity to explore career interests and gain additional experience and confidence in clinical skills needed to transition to residency.</p>
        </div>
      </section>
      <h2>Program Highlights</h2>
      <h3><a>Dual Degree & Distinction Programs</a></h3>
      <p>Two dual degree programs are available to students. Students also have the opportunity to pursue a degree distinction during medical school.</p>

      <h3><a href="https://wp.uthscsa.edu/lsom-ultrasound/education/">Hands On Bedside Ultrasound Curriculum</a></h3>
      <p>Our basic bedside ultrasound curriculum will extend over all 4 academic years. The curriculum will focus on hands-on training using live and simulation models with associated supplementary didactics.</p>

      <h3><a href="https://wp.uthscsa.edu/heb-clinical/">H-E-B Clinical Skills Center</a></h3>
      <p>Standardized Patient Program provides students with opportunities to develop their clinical skills. Standardized patients are individuals carefully chosen to portray patients with specific medical conditions.</p>

      <h2>Keys to Success</h2>
      <div class="loose-list">
        <ul>
          <li><strong>Culture of Excellence</strong><br>We strive to maintain a culture of inclusion, high expectations and fairness. We embrace and celebrate distinctive perspectives and viewpoints that enrich all members of the Long School of Medicine and UT Health San Antonio.</li>
          <li><strong>Proven Integrated Curriculum</strong><br>The CIRCLE Curriculum integrates clinical experiences from the first day of medical school with foundational science through all four years. We have a proven track record of student satisfaction and success on United States Medical Licensing Exam (USMLE) and in the National Resident Match Program (NRMP).</li>
          <li><strong>Individualized Learning</strong><br>Students have the ability to individualize clinical activities. Opportunities are available to participate in Student-Faculty collaborative clinics in the community. Various community service learning projects and elective courses are available both locally and internationally.</li>
          <li><strong>Dedicated Faculty</strong><br>An integrated group of talented, passionate, experienced medical educators who are Researchers, Clinicians, and Leaders.</li>
        </ul>
      </div>
      <h2>Competencies and Objectives of the M.D. Degree Program</h2>
      <div class="tab-container">
        <ul class="tabs" data-tabs id="compObj">
          <li class="tabs-title is-active"><a aria-selected="true" href="#panel1">Altruism</a></li>
          <li class="tabs-title"><a data-tabs-target="panel2" href="#panel1">Knowledge</a></li>
          <li class="tabs-title"><a data-tabs-target="panel3" href="#panel1">Skills</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="compObj">
          <div class="tabs-panel is-active" id="panel1">
            <h3>Altruism</h3>
            <p>Medical students must be compassionate and empathetic in caring for patients, and must be trustworthy and truthful in their professional dealings. They must act with integrity, honesty, and respect for patients’ privacy and dignity.</p>
            <p>By the time of graduation, the Long School of Medicine M.D. student will be able to:</p>
            <div class="indent-list">
              <ul>
                <li>List and define the basic principles guiding ethical decision making</li>
                <li>Apply ethical concepts to medical ethical dilemmas</li>
                <li>Demonstrate respect for human dignity</li>
                <li>Provide compassionate patient care</li>
                <li>Demonstrate honesty and integrity in educational and professional interactions</li>
                <li>Demonstrate appropriate patient advocacy</li>
                <li>Understand the factors that impact health</li>
                <li>Appropriately address conflicts of interest inherent to the field of medicine</li>
              </ul>
            </div>
            <p><a class="arrow" href="https://www.uthscsa.edu/sites/default/files/Medicine/forms/objectives_competencies_md_revised2020_master_200721.pdf">View the full list of objectives</a></p>
          </div>
          <div class="tabs-panel" id="panel2">
            <h3>Knowledge</h3>
            <p>Medical students must understand the scientific basis of medicine and be able to apply that understanding to the safe and effective practice of medicine. They must utilize self-assessment and self-knowledge to optimize their learning.</p>
            <p>By the time of graduation, the Long School of Medicine M.D. student will be able to:</p>
            <div class="indent-list">
              <ul>
                <li>Demonstrate knowledge of normal structure and function of the human body</li>
                <li>Demonstrate knowledge of the pathogenesis and pathophysiology of disease and disorders</li>
                <li>Demonstrate knowledge of the clinical manifestations of common conditions and disorders</li>
                <li>Demonstrate knowledge of the pharmacotherapeutic modalities for common conditions and disorders</li>
                <li>Demonstrate honesty and integrity in educational and professional interactions</li>
                <li>Demonstrate knowledge of the basic principles of clinical and translational research</li>
                <li>Demonstrate knowledge of the epidemiology of common conditions and disorders</li>
                <li>Demonstrate knowledge of systems of healthcare delivery</li>
              </ul>
            </div>
            <p><a class="arrow" href="https://www.uthscsa.edu/sites/default/files/Medicine/forms/objectives_competencies_md_revised2020_master_200721.pdf">View the full list of objectives</a></p>
          </div>
          <div class="tabs-panel" id="panel3">
            <h3>Skills</h3>
            <p>Medical students must acquire wide-ranging skills that will enable them to care for patients as a professional.</p>
            <p>By the time of graduation, the Long School of Medicine M.D. student will be able to:</p>
            <div class="indent-list">
              <ul>
                <li>Obtain an accurate and complete medical history</li>
                <li>Perform all components of a complete physical examination</li>
                <li>Prepare for and perform basic clinical procedures</li>
                <li>Perform basic interpretation of commonly used diagnostic tests</li>
                <li>Recognize the typical physical exam manifestations of common medical conditions and disorders</li>
                <li>Demonstrate the skills of clinical reasoning and clinical problem solving for common conditions and disorders</li>
                <li>Create appropriate management strategies for common conditions and disorders</li>
                <li>Apply the principles of relieving total pain (physical, psychological, spiritual and social)</li>
                <li>Demonstrate effective and appropriate communication of medical information, both in writing and verbally</li>
                <li>Demonstrate the ability and commitment to continuously improved medical knowledge and skills</li>
              </ul>
            </div>
            <p><a class="arrow" href="https://www.uthscsa.edu/sites/default/files/Medicine/forms/objectives_competencies_md_revised2020_master_200721.pdf">View the full list of objectives</a></p>
          </div>
        </div>
      </div>
    </main>
    <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li><a href="#">Undergraduate Medical Education</a></li>
        <li>
          <a href="#">Admissions</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Admission at a Glance</a></li>
            <li><a href="#">Technical Standards</a></li>
            <li><a href="#">Who Are We Looking For?</a></li>
            <li><a href="#">Interview Process</a></li>
            <li><a href="#">Paying for School</a></li>
            <li><a href="#">Accepted? Next Steps</a></li>
            <li><a href="#">COVID-19 Information</a></li>
          </ul>
        </li>

        <li>
          <a href="#">Outreach</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Speaker Request for a Virtual Event</a></li>
            <li><a href="#">I Want to be a doctor! What now?</a></li>
            <li><a href="#">Club PreMed Connections</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Curriculum</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Preclinical Curriculum</a></li>
            <li><a href="#">Clinical Curriculum</a></li>
            <li><a href="#">Simulation Training</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Dual Degree & Distinction Programs</a>
          <ul class="nested vertical menu">
            <li><a href="#">Distinction in Medical Education</a></li>
            <li><a href="#">Distinction in Medical Humanities</a></li>
            <li><a href="#">Distinction in Research</a></li>
            <li><a href="#">M.D./M.P.H. Program</a></li>
            <li><a href="#">M.D./OMS Certificate</a></li>
            <li><a href="#">M.D./Ph.D. Program (South Texas Medical Scientist Training Program)</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Student Affairs</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">4th Year Spring Events</a></li>
            <li><a href="#">Quick Reference Guide</a></li>
            <li><a href="#">Academic Advising</a></li>
            <li><a href="#">Career Advising</a></li>
            <li><a href="#">Elective Catalog</a></li>
            <li><a href="#">Academic Enhancement</a></li>
            <li><a href="#">Veritas</a></li>
            <li><a href="#">Student Wellness</a></li>
            <li><a href="#">Professional Formation</a></li>
            <li><a href="#">Milestones</a></li>
            <li><a href="#">Student Involvement</a></li>
            <li><a href="#">Visiting Students</a></li>
            <li><a href="#">New Student Orientation</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Administrative</a>
          <ul class="nested vertical menu">
            <li><a href="#">Our Office</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Intranet</a></li>
            <li><a href="#">COVID-19 Medical Student Response Team</a></li>
          </ul>
        </li>
      </ul>
      <div class="responsive-embed">
        <iframe width="356" height="224" src="https://www.youtube.com/embed/nyJ9J2Ge5_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </aside>
  </div>
</div>

{% include "@blocks/footer/LSOM-alamo.twig" %}