{% include "@components/header-prototypes/header-tcmhcc.twig" %}
<section class=" hero bleed img-fill gradient white left">
    <img src="https://placedog.net/1920/1080" alt="adorable pup">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left roomy">
            <div class="small-12 medium-5 cell callout white">
                <img src="../../images/tcmhcc/cpan-logo.png">
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-tcmhcc-2.twig" %}


<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-9 text-center">
                <p class="h4">Improving mental health care and systems of care for the children and adolescents of
                    Texas.
                </p>
                <p>CPAN provides real-time psychiatric consultations for guidance on behavioral health diagnosis and
                    management. Pediatric care providers may ask about behavioral health assessments, concerning
                    symptoms, and psychiatric medications. The UT Health San Antonio CPAN hub offers specialty training
                    opportunities, free CMEs to providers, and vetted referrals to share with their patients and
                    families.</p>

                <div class="button-group align-center margin-top">
                    <p><a class="button arrow">About us</a></p>
                    <p><a class="button ghost arrow">Resources</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Enrolled Providers</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Enrolled Clinics</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Completed Consults</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Patients Served</p>
            </div>

            <h2 class="h3 margin-top">1-888-901-CPAN</h2>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-7">
                <h2 class="h3">Why CPAN?</h2>
                <div class="loose-list">
                    <ul>
                        <li>Children are more likely to see a pediatrician or family care provider when experiencing
                            behavioral health challenges.</li>
                        <li>There is a shortage of child psychiatrists in Texas, and children often wait months for
                            care.</li>
                        <li>CPAN is state-funded, and there is no cost to the provider to utilize the service.</li>
                        <li>With our help, you can feel more confident treating your patients’ mental health concerns.
                        </li>
                    </ul>
                </div>

                <p><a class="button arrow">Register</a></p>
            </div>

            <div class="cell small-12 medium-5">
                <div class="responsive-embed">
                    <iframe width="409" height="256" src="https://youtu.be/tTGcgml8dPc" title="Project ECHO"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <a class="callout color orange cell small-12 medium-6 large-3">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                </span>
                <h3>FAQs</h3>
            </a>
            <a class="callout color orange cell small-12 medium-6 large-3">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Provider Resources</h3>
            </a>
            <a class="callout color orange cell small-12 medium-6 large-3">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-video fa-stack-1x fa-inverse"></i>
                </span>
                <h3>CME Events and Recordings</h3>
            </a>
            <a class="callout color orange cell small-12 medium-6 large-3">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Meet our Team</h3>
            </a>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-9 text-center">
                <p class="h4">Localist widget goes here
                </p>

            </div>
        </div>
    </div>
</section>



{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}