{% include "@components/header-prototypes/header-opa.twig" %}
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}

<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li>
            <span class="show-for-sr">Current: </span> Postdoc Profiles
        </li>
    </ul>
</nav>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <h1>Postdoc Profiles</h1>
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Francisca Acosta</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Sevan Alwan</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin"src="http://placekitten.com/208/291">
              <p>Lavanya Choppavarapu</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Nikki Clauss</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Miguel (Mike) de la Flor</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Arijit Dutta</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Elisa Fanunza</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Charles Fermaintt</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Carine Jaafar</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Mustafa Khan</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Misty Malamakal (Strain)</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Amanda Muñoz</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Viviane Nascimento da Conceicao</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Meredith Ogle</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Abhik Paul</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Uday Pratap</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Ramiro Ramirez</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Carlos Rivera</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Meghan Rueda</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Emily Selig</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Manpreet Semwal</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Cheshta Sharma</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Danyal Siddiqul</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Bojana Stefanovska</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Meiling Wang</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="postdoc-profile.html">
              <img class="img-margin" src="http://placekitten.com/208/291">
              <p>Michael Wedemeyer</p>
            </a>
          </section>

        </div>
      </div>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <div class="callout beige margin-bottom">
        <form>
          <label><strong>Search</strong>
            <input type="text">
          </label>
          <label><strong>Fields of study</strong>
            <select>
              <option value="1">All</option>
              <option value="2">Addiction/Abuse/Behavior</option>
              <option value="3">Aging/Longevity</option>
              <option value="4">Biochemistry/Biophysics/Structural Biology</option>
              <option value="5">Biomedical Engineering</option>
              <option value="6">Cancer</option>
              <option value="7">Cardiovascular Science</option>
              <option value="8">Diabetes/Obesity/Metabolism</option>
              <option value="9">Epidemiology/Bioinformatics/Biostatistics</option>
              <option value="10">Health Promotion/Community Health</option>
              <option value="11">Imaging</option>
              <option value="12">Immunology/Infectious Disease</option>
              <option value="13">Molecular/Cellular/Developmental Biology</option>
              <option value="14">Neuroscience</option>
              <option value="15">OMICS</option>
              <option value="16">Oral Biology</option>
              <option value="17">Pharmacotherapy/Drug Development</option>
              <option value="18">Regenerative Medicine</option>
            </select>
          </label>
        </form>
        <p><a class="button">Search</a></p>
      </div>
      <p>Log in to submit details for available positions or add a new profile.</p>
      <form>
        <label>Username
          <input type="text">
        </label>
        <label>Password <span class="required">*</span>
          <input type="password">
        </label>
      </form>
      <p><a class="button">Log In</a></p>
    </aside>
  </div>
</section>

{% include "@blocks/footer/OPA-alamo.twig" %}