{% include "@components/header-prototypes/header-src.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 large-5 medium-5 cell">
            <h1>Faculty</h1>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-src.twig" %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-8 medium-9 small-12">
      <h2>Alpha Home Clinic</h2>
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/usatine">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/richardusatine29.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/usatine">Richard Usatine, MD</a><br>Primary Care Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/casianoe">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/evansedit.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/casianoe">Elizabeth Casiano Evans, MD</a><br>Women's Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/geelhoed">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/michael-geelhoed.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/geelhoed">Mike Geelhoed, DPT</a><br>Physical Therapy Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="http://studentrunclinics.org/images/thumbs/Zeeshan_Afzal.jpg">
            <p>Zeeshan Afzal, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/barnettj3">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/julie-barnett.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/barnettj3">Julie Barnett, DPT</a></p>
          </section>
          <section class="cell large-4 medium-6 small-12">

            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Catherine Cordova, DPT</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/cordovat">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/tatiana-cordova-small-white-coat.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/cordovat">Tatiana Cordova</a></p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/montanezvill">
              <img class="img-margin" src="http://studentrunclinics.org/images/thumbs/Maria_Montanez.JPG">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/montanezvill">Maria Montanez, MD</a></p>

          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="http://studentrunclinics.org/images/thumbs/Catherine_Ortega.JPG">
            <p>Catherine Ortega, DPT</p>
          </section>
        </div>
      </div>
      <h2>Haven for Hope Clinic</h2>
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/usatine">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/richardusatine29.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/usatine">Richard Usatine, MD</a><br>Primary Care Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="http://studentrunclinics.org/images/thumbs/Zeeshan_Afzal.jpg">
            <p>Zeeshan Afzal, MD</p>
          </section>
        </div>
      </div>

      <h2>Pride Clinic</h2>
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/garciase">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/a9r1e2p4pyp2qjy1avs_0.png">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/garciase">Sean Garcia, MD</a><br>Primary Care Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/guarnero">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/peterguarnero150_2.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/guarnero">Peter Guarnero, RN, PhD</a><br>Nursing Clinic Director</p>

          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/sickora">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/sickora-cindy.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/sickora">Cindy Sickora, RN</a><br>Nursing Clinic Director</p>

          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/bowhay">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/elizabethbowhay-carnes09_5.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/bowhay">Elizabeth Bowhay, MD</a></p>

          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/bullock">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/bullock-delia-thumbnail.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/bullock">Delia Bullock, MD</a></p>
          </section>
        </div>
      </div>


      <h2>SAMMinistries Clinic</h2>
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/emko">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/nidajoyemkowhitecoatresized.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/emko">Nida Joy Emko, MD</a><br>Primary Care Clinic Director</p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Kirk Evoy, PharmD<br>Pharmacy Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/greenav">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/avgutofficialpic.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/greenav">Adriana Green, DDS</a><br>Dental Clinic Director</p>

          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/cordovat">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/tatiana-cordova-small-white-coat.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/cordovat">Tatiana Cordova</a></p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Laurie Greenberg, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/infantea">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/ai.jpg">
              <p><a href="https://directory.uthscsa.edu/academics/profile/infantea">Anthony Infante, MD</a></p>
            </a>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/ravit">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/tharani-ravi-resized.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/ravit">Tharani Ravi, MD</a></p>

          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Kurt Winkler, PharmD</p>
          </section>
        </div>
      </div>

      <h2>San Antonio Refugee Health Center</h2>
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/wayman">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/wayman">Browning Wayman, MD</a><br>Primary Care Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Ruth Grubesic, MD<br>Nursing Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/farokhi">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/farokhi">Moshtagh Farokhi, DDS</a><br>Dental Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Jordan Abel, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Priti-Mody Bailey, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Sean Cook, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Nelson Kester, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/kester">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/kester-nurani.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/kester">Nurani Kester, MD</a></p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/salt">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/rebekahsalt051_0.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/salt">Rebekah Salt, RN PhD</a></p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Alexander Shepard, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <a href="https://directory.uthscsa.edu/academics/profile/worabo">
              <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/files/styles/acad_profile/public/acad-images/heidi-worabo.jpg">
            </a>
            <p><a href="https://directory.uthscsa.edu/academics/profile/worabo">Heidi Worabo, RN NP</a></p>
          </section>
        </div>
      </div>

      <h2>Travis Park Clinic</h2>
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>John Browning, MD<br>Primary Care Clinic Director</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Margaret Brown, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>John Martin, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Aman Sandhu, MD</p>
          </section>
          <section class="cell large-4 medium-6 small-12">
            <img class="img-margin" src="https://directory.uthscsa.edu/sites/profiles/themes/university/images/image-not-available-lg.png">
            <p>Allison Stocker, MD</p>
          </section>
        </div>
      </div>
    </section>
    <aside class="cell large-4 medium-3 small-12">

    </aside>
  </div>
</div>




{% include "@components/footer-prototypes/src-no-alamo.twig" %}

