{% include "@components/header-prototypes/header-src.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 large-5 medium-5 cell">
            <h1>Faculty</h1>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-src.twig" %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-8 medium-8 small-12">
      <h2>Alpha Home Clinic</h2>
      <div class="loose-list">
        <ul>
          <li><a>Richard Usatine, MD</a><br>Primary Care Clinic Director</li>
          <li><a>Elizabeth Casiano Evans, MD</a><br>Women's Clinic Director</li>
          <li><a>Mike Geelhoed, DPT</a><br>Physical Therapy Director</li>
          <li>Zeeshan Afzal, MD</li>
          <li><a>Julie Barnett, DPT</a></li>
          <li>Catherine Cordova, DPT</li>
          <li><a>Tatiana Cordova</a></li>
          <li><a>Maria Montanez, MD</a></li>
          <li><a>Catherine Ortega, DPT</a></li>
        </ul>
      </div>
      <h2>Haven for Hope Clinic</h2>
      <div class="loose-list">
        <ul>
          <li><a>Richard Usatine, MD</a><br>Primary Care Clinic Director</li>
          <li>Zeeshan Afzal, MD</li>
        </ul>
      </div>
      <h2>Pride Clinic</h2>
      <div class="loose-list">
        <ul>
          <li><a>Sean Garcia, MD</a><br>Primary Care Clinic Director</li>
          <li><a>Peter Guarnero, RN, PhD</a><br>Nursing Clinic Director</li>
          <li><a>Cindy Sickora, RN</a><br>Nursing Clinic Director</li>
          <li><a>Elizabeth Bowhay, MD</a></li>
          <li><a>Delia Bullock, MD</a></li>
        </ul>
      </div>
      <h2>SAMMinistries Clinic</h2>
      <div class="loose-list">
        <ul>
          <li><a>Nida Joy Emko, MD</a><br>Primary Care Clinic Director</li>
          <li>Kirk Evoy, PharmD<br>Pharmacy Clinic Director</li>
          <li><a>Adriana Green, DDS</a><br>Dental Clinic Director</li>
          <li><a>Tatiana Cordova</a></li>
          <li>Laurie Greenberg, MD</li>
          <li><a>Anthony Infante, MD</a></li>
          <li><a>Tharani Ravi, MD</a></li>
          <li>Kurt Winkler, PharmD</li>
        </ul>
      </div>
      <h2>San Antonio Refugee Health Center</h2>
      <div class="loose-list">
        <ul>
          <li><a>Browning Wayman, MD</a><br>Primary Care Clinic Director</li>
          <li>Ruth Grubesic, MD<br>Nursing Clinic Director</li>
          <li><a>Moshtagh Farokhi, DDS</a><br>Dental Clinic Director</li>
          <li>Jordan Abel, MD</li>
          <li>Priti-Mody Bailey, MD</li>
          <li>Sean Cook, MD</li>
          <li>Nelson Kester, MD</li>
          <li><a>Nurani Kester, MD</a></li>
          <li><a>Rebekah Salt, RN PhD</a></li>
          <li>Alexander Shepard, MD</li>
          <li><a>Heidi Worabo, RN NP</a></li>
        </ul>
      </div>
      <h2>Travis Park Clinic</h2>
      <div class="loose-list">
        <ul>
          <li>John Browning, MD<br>Primary Care Clinic Director</li>
          <li>Margaret Brown, MD</li>
          <li>John Martin, MD</li>
          <li>Aman Sandhu, MD</li>
          <li>Allison Stocker, MD</li>
        </ul>
      </div>
    </section>
    <aside class="cell large-4 medium-4 small-12">

    </aside>
  </div>
</div>




{% include "@blocks/footer/src-no-alamo.twig" %}

