{% include "@components/header-prototypes/header-SHP.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <h1>News</h1>
                <p class="subheader margin-bottom">School of Health Professions</p>

                <div class="grid-x grid-margin-x">

                    <div class="cell large-4 medium-4 small-12">
                        <label><strong>Department</strong>
                            <select>
                                <option value="years">Any</option>
                            </select>
                        </label>
                    </div>
                    <div class="cell large-4 medium-4 small-12">
                        <label><strong>Category</strong>
                            <select>
                                <option value="pubpost">Any</option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="button-group">
                    <p><a href="#" class="hero button">Apply</a></p>
                    <p><a href="#" class="hero button ghost">Clear all filters</a></p>
                </div>
            </div>

        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-SHP.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">

                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-12 medium-9 large-9">
                        <p class="results">Results: 20 news stories</p>
                        <p class="close"><a class="no-underline" href="#"><strong>Study shows COVID-19 patients in ICU
                                    improved
                                    functional mobility after PT intervention </strong></a></p>
                        <ul class="byline">
                            <li>By: Kate Hunger</li>
                            <li>Wednesday, March 30, 2022</li>
                        </ul>
                        <p>Physical therapy Assistant Professor Bobby Belarmino, PT, DPT, PhD, CCS, co-authored a
                            recently published paper outlining a new clinical decision-making algorithm to help
                            clinicians identify COVID-19 patients for whom physical therapy intervention in the ICU
                            is appropriate.</p>
                        <ul class="tags">
                            <li><a href="#">Tag 1</a></li>
                            <li><a href="#">Tag 2</a></li>
                        </ul>
                    </div>
                    <div class="cell small-12 medium-3 large-3">
                        <img src="../../images/portrait-dog.jpeg" alt="DOGGO">
                    </div>
                </div>

                <hr class="margin-bottom-2">


                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-12 medium-9 large-9">
                        <p class="results">Results: 20 news stories</p>
                        <p class="close"><a class="no-underline" href="#"><strong>Study shows COVID-19 patients in ICU
                                    improved
                                    functional mobility after PT intervention </strong></a></p>
                        <ul class="byline">
                            <li>By: Kate Hunger</li>
                            <li>Wednesday, March 30, 2022</li>
                        </ul>
                        <p>Physical therapy Assistant Professor Bobby Belarmino, PT, DPT, PhD, CCS, co-authored a
                            recently published paper outlining a new clinical decision-making algorithm to help
                            clinicians identify COVID-19 patients for whom physical therapy intervention in the ICU
                            is appropriate.</p>
                        <ul class="tags">
                            <li><a href="#">Tag 1</a></li>
                            <li><a href="#">Tag 2</a></li>
                        </ul>
                    </div>
                    <div class="cell small-12 medium-3 large-3">
                        <img src="../../images/portrait-dog.jpeg" alt="DOGGO">
                    </div>
                </div>

                <hr class="margin-bottom-2">

                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-12 medium-9 large-9">
                        <p class="results">Results: 20 news stories</p>
                        <p class="close"><a class="no-underline" href="#"><strong>Study shows COVID-19 patients in ICU
                                    improved
                                    functional mobility after PT intervention </strong></a></p>
                        <ul class="byline">
                            <li>By: Kate Hunger</li>
                            <li>Wednesday, March 30, 2022</li>
                        </ul>
                        <p>Physical therapy Assistant Professor Bobby Belarmino, PT, DPT, PhD, CCS, co-authored a
                            recently published paper outlining a new clinical decision-making algorithm to help
                            clinicians identify COVID-19 patients for whom physical therapy intervention in the ICU
                            is appropriate.</p>
                        <ul class="tags">
                            <li><a href="#">Tag 1</a></li>
                            <li><a href="#">Tag 2</a></li>
                        </ul>
                    </div>
                    <div class="cell small-12 medium-3 large-3">
                        <img src="../../images/portrait-dog.jpeg" alt="DOGGO">
                    </div>
                </div>

                <hr class="margin-bottom-2">

                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-12 medium-9 large-9">
                        <p class="results">Results: 20 news stories</p>
                        <p class="close"><a class="no-underline" href="#"><strong>Study shows COVID-19 patients in ICU
                                    improved
                                    functional mobility after PT intervention </strong></a></p>
                        <ul class="byline">
                            <li>By: Kate Hunger</li>
                            <li>Wednesday, March 30, 2022</li>
                        </ul>
                        <p>Physical therapy Assistant Professor Bobby Belarmino, PT, DPT, PhD, CCS, co-authored a
                            recently published paper outlining a new clinical decision-making algorithm to help
                            clinicians identify COVID-19 patients for whom physical therapy intervention in the ICU
                            is appropriate.</p>
                        <ul class="tags">
                            <li><a href="#">Tag 1</a></li>
                            <li><a href="#">Tag 2</a></li>
                        </ul>
                    </div>
                    <div class="cell small-12 medium-3 large-3">
                        <img src="../../images/portrait-dog.jpeg" alt="DOGGO">
                    </div>
                </div>

                <hr class="margin-bottom-2">




            </div>
            <div class="cell small-12 medium-5 large-4">
                <div class="callout outline">
                    <p class="text-center"><i class="far fa-envelope-open fa-4x"></i></p>
                    <p>Subscribe to recieve a monthly email newsletter with information on academic programs, events and
                        campus news from the School of Health Professions.</p>
                    <form>
                        <label>Name
                            <input type="text">
                        </label>
                        <label>Email
                            <input type="text">
                        </label>
                    </form>
                    <div class="button-group">
                        <p><a href="#" class="button">Subscribe</a></p>
                        <p><a href="#" class="button ghost">Read latest issue</a></p>
                    </div>
                </div>
            </div>


        </div>
        <nav aria-label="Pagination">
            <ul class="pagination">
                <li class="pagination-previous"><a href="#" aria-label="Previous page"> <span class="show-for-sr">
                            Previous page</span></a></li>
                <li><a href="#" aria-label="Page 1">1</a></li>
                <li class="current"><span class="show-for-sr">You're on page</span> 2</li>
                <li><a href="#" aria-label="Page 3">3</a></li>
                <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">Next
                            page</span></a></li>
            </ul>
        </nav>
    </div>
</section>


{% include "@blocks/footer/alamo.twig" %}