{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Cash Management</h1>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}


<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <p>Cash management functions include maintenance of adequate liquidity to
                fund short-term cash needs and management and coordination of Health
                Science Center banking. Other duties include: </p>
            <ul>
                <li>Establish bank accounts </li>
                <li>Manage banking relationships </li>
                <li>Investment accounting </li>
                <li>Coordinate electronic funds transfers (EFTs) </li>
                <li>UT System cash and investment reporting </li>
                <li>Monitor investment programs to maximize investment income</li>
            </ul>
            <p>Contact Cash Operations using the <a href="#">SAHCashMgt</a> mailbox.</p>

            <h2 class="h4">Forms</h2>

            <div class="grid-x">
                <div class="cell small-12 medium-6 lines">
                    <ul>
                        <li><a>Cash Handling Evaluation Checklist</a></li>
                        <li><a>Cash Receipt Deposit Voucher</a></li>
                        <li><a>Credit Card Merchant Request</a></li>
                    </ul>
                </div>
                <div class="cell small-12 medium-6 lines">
                    <ul>
                        <li><a>Departmental Postage Request</a></li>
                        <li><a>Petty Cash Fund Request</a></li>
                        <li><a>Petty Cash Reimbursement Voucher</a></li>
                    </ul>
                </div>
            </div>



        </main>
        <aside class="cell small-12 medium-4">
            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                <li><a href="#">Business Affairs Home</a></li>
                <li><a href="#">Budget and Financial Planning</a>
                    <ul class="nested vertical menu">
                        <li><a href="#">Budget and Financial Planning Staff</a></li>
                        <li><a href="#">Annual Operating Budget</a></li>
                        <li><a href="#">Legislative Appropriations Request (LAR)</a></li>
                        <li><a href="#">Financial Monitoring</a></li>
                    </ul>
                </li>
                <li><a href="#">Office of Sponsored Programs</a></li>
                <li><a href="#">Office of Institution Research</a></li>
                <li><a href="#">Office of the Bursar</a>
                    <ul class="nested vertical menu">
                        <li><a href="#">Department of Postage</a></li>
                        <li><a href="#">Bursar Staff</a></li>
                        <li><a href="#">Cash Management</a></li>
                    </ul>
                </li>
                <li><a href="#">Business Affairs Operations</a>
                    <ul class="nested vertical menu">
                        <li><a href="http://uthscsa.edu/business/accounting/">Accounting</a></li>
                        <li><a href="http://www.campusdish.com/en-US/CSSW/UTHealthScienceCenter">Campus Dining
                                Services</a></li>
                        <li><a href="#">Materials Management</a></li>
                        <li><a href="http://uthscsa.edu/business/hub/index.html">Historically Underutilized Business</a>
                        </li>
                        <li><a href="http://uthscsa.edu/business/payroll">Payroll Services</a></li>
                        <li><a href="http://uthscsa.edu/business/property/">Property Control</a></li>
                        <li><a href="http://uthscsa.edu/business/purchasing/index.html">Purchasing</a></li>
                        <li><a href="https://uthealthsa.sharepoint.com/Business/SCM/Pages/Travel.aspx">Travel
                                Services</a></li>
                        <li><a
                                href="http://uthscsa.bncollege.com/webapp/wcs/stores/servlet/BNCBHomePage?catalogId=10001&langId=-1&storeId=39552">University
                                Bookstore</a></li>
                        <li><a href="http://uthscsa.edu/business/materialsmgmt/dining-vending.html">Vending Services</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Meet our Staff</a></li>
            </ul>

            <div class="callout beige">
                <h3 class="h5 color">Important Annoucements</h3>
                <p>UTS166, <a
                        href="https://www.utsystem.edu/sites/policy-library/policies/uts-166-cash-management-and-cash-handling-policy">Cash
                        Management and Cash Handling Policy</a>, is now available in the UT System Policy Library</p>
                <p>This policy provides requirements, guidelines, and procedures for handling, securing, and investing
                    the funds of the UT System. </p>
            </div>
        </aside>
    </div>
</section>


<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 medium-6 small-12 flex-container">
                <a class="callout color blue flex-child-auto">
                    <h3 class="ruled">Credit Card Guidelines</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </p>

                </a>
            </div>
            <div class="cell large-6 medium-6 small-12 flex-container">
                <a class="callout color blue flex-child-auto">
                    <h3 class="ruled">Credit Card Merchant Policy</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </p>
                </a>
            </div>
            <div class="cell large-6 medium-6 small-12 flex-container">
                <a class="callout color blue flex-child-auto">
                    <h3 class="ruled">Departmental Deposits</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </p>
                </a>
            </div>
            <div class="cell large-6 medium-6 small-12 flex-container">
                <a class="callout color blue flex-child-auto">
                    <h3 class="ruled">Petty Cash Funds/Reinbursments</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </p>
                </a>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/ba-footer.twig" %}