{% include "@components/header-prototypes/header-LSOM.twig" %}
<section class="hero bleed img-fill attach-top full roomy">
	<img src="https://www.uthscsa.edu/sites/default/files/2020/LSOM/images/temp-ume2.jpg" alt="">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
      <div class="cell large-6 large-offset-6 small-12">
        <div class="callout">
          <h1>Undergraduate Medical Education</h1>
          <p class="subheader">Doctor of Medicine (M.D.)</p>
          <p>Our mission is to provide responsive and comprehensive education, research and service of the highest quality in order to meet the health-related needs of the citizens of Texas</p>
          <p><a href="#" class="button">Why us?</a></p>
        </div>
      </div>
    </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<main class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 medium-8 small-12">
      <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-user-check fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Admissions</h2>
            <p>Our Admissions & Outreach Team will help you explore the world of medicine.</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Outreach</h2>
            <p>Resources for prospective applicants and university premedical organizations are available.</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-book fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Curriculum</h2>
            <p>Our curriculum integrates basic and clinical science knowdlege with early clinical experiences.</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-star fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Student Affairs</h2>
            <p>Our mission is to help create a supportive and positive environment for students that enhances and supports learning.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <div class="responsive-embed">
        <iframe allowfullscreen="" frameborder="0" height="360" src="https://player.vimeo.com/video/431870300" title="vimeo-player" width="640"></iframe>
      </div>
      <h2>Resources</h2>
      <div class="arrow loose-list">
        <ul>
          <li><a href="#">COVID-19 Medical Student Response Team</a></li>
        </ul>
      </div>
      <h2>Contact Us</h2>

      <ul class="fa-ul">
        <li>
          <a href="#">
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span>Office for Undergraduate Medical Education</span>
          </a>
        </li>
        <li>
          <a href="mailto:ume@uthscsa.edu">
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span>ume@uthscsa.edu</span>
          </a>
        </li>
        <li>
          <a>
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span class="">210-567-5656</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell large-8 medium-10 small-12 ">
        <h2>Dual Degree & Distiniction Programs</h2>
        <p>Students accepted to the undergraduate medical program at the Long School of Medicine have the opportunity to further specialize by applying to one of our six outstanding dual degree or distinction programs.</p>
      </div>

    <div class="grid-x grid-margin-x grid-margin-y text-center">
      <div class="cell large-4 medium-6 small-12">
        <a>
          <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/mdmphstudents.jpg" alt="">
          <p class="large">M.D./M.P.H.</p>
        </a>
      </div>
      <div class="cell large-4 medium-6 small-12">
        <a>
          <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/mdphd.jpg" alt="">
          <p class="large close">M.D./Ph.D.</p>
          <p>(South Texas Medical Scientist Training Program)</p>
        </a>
      </div>
      <div class="cell large-4 medium-6 small-12">
        <a href="https://lsom.uthscsa.edu/office-research/research-enrichment/md-with-distinction-in-research/">
          <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/mdresearch.jpg" alt="">
          <p class="large">Distiniction in Research</p>
        </a>
      </div>
      <div class="cell large-4 medium-6 small-12">
        <a>
          <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/mdmeded_copy.jpg" alt="">
          <p class="large">Distiniction in Medical Education</p>
        </a>
      </div>
      <div class="cell large-4 medium-6 small-12">
        <a href="https://www.texashumanities.org/humanities-distinction/">
          <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/mdhumanities.jpg" alt="">
          <p class="large">Distiniction in Medical Humanities</p>
        </a>
      </div>
      <div class="cell large-4 medium-6 small-12">
        <a>
          <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/mdoms_copy.jpg" alt="">
          <p class="large">M.D./OMS Certificate</p>
        </a>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="bleed color blue rocky">
  <div class="grid-container">
    <div class="grid-x text-center align-center grid-margin-x factoids">
			<div class="cells large-3 medium-6 small-12">
				<p class="supersize">98%</p>
				<p>Pass rate on Step 1</p>
			</div>
			<div class="cells large-3 medium-6 small-12">
				<p class="supersize">99%</p>
				<p>Pass rate on Step 2 CK</p>
			</div>
			<div class="cells large-3 medium-6 small-12">
				<p class="supersize">95%</p>
				<p>Pass rate on Step 2 CS</p>
			</div>
      <div class="cells large-3 medium-6 small-12">
				<p class="supersize">99.5%</p>
				<p>Students secured residency positionsin 2020 match</p>
			</div>
		</div>
  </div>
</section>


<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell small-12 medium-4 large-2">
      <img src="http://placekitten.com/300/400" alt="kitty">
    </div>
    <div class="cell small-12 medium-6 large-8">
      <blockquote>
        <p>"The Long School of Medicine has helped me discover myself and the type of physician I want to be. The endless support, encouragement, and guidance I have received from faculty and my classmates is amazing. I couldn’t have made a better decision than to choose to train here!"</p>
        <cite>Evelyn N. Ashiofu</cite>
        <p><a class="arrow">Optional link here</a></p>
      </blockquote>
    </div>
  </div>
</section>
{% include "@components/footer-prototypes/LSOM-alamo.twig" %}