{% include "@blocks/header/global-bar-quicklinks.twig" %}
{% include "@blocks/header/mission-bar.twig" %}
{% include "@blocks/header/level-1.twig" %}

<section class="hero bleed img-fill full roomy">
	<img src="../../images/CME.jpg" alt="CME">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
            <div class="cell large-5 large-offset-7 small-12">
                <div class="callout orange">
                    <h1 class="h2">Staying connected through professional development</h1>
                    <p>With classes to expand your skills and meet licensing requirements, we offer lifelong learning to UT Health San Antonio graduates and other health professionals.</p>
                </div>
            </div>
        </div>
	</div>
</section>
<main class="grid-container">
    <section class="grid-x grid-margin-x">
        <section class="cell large-4 medium-6 small-12">
           <a href="https://smile.uthscsa.edu/">
                <img src="https://www.uthscsa.edu/sites/default/files/images/cont_dental_ed_img2.jpg">
                <h2 class="h3">Continuing Dental Education</h2>
            </a>
            <p>Courses offered in locales across the United States and abroad, as well as online continuing education.</p>
        </section>

        <section class="cell large-4 medium-6 small-12">
            <a href="https://www.uthscsa.edu/academics/medicine/education/cme">
                <img src="https://www.uthscsa.edu/sites/default/files/images/cont_med_ed_img2.jpg">
                <h2 class="h3">Continuing Medical Education</h2>
            </a>
            <p>Accredited grand rounds, online courses and a course catalog with a variety of continuing medical education classes offered throughout the year are available.</p>
        </section>

        <section class="cell large-4 medium-6 small-12">
            <a href="https://ce.uthscsa.edu/browse/nursing">
                <img src="https://www.uthscsa.edu/sites/default/files/images/cont_nurse_ed_img2.jpg">
                <h2 class="h3">Continuing Nursing Education</h2>
            </a>
            <p>The Department of Lifelong Learning offers continuing education opportunities through conferences and other training to prove continuing competency for relicensure.</p>
        </section>


    </section>
</main>
<section class="bleed color grey">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell small-12 medium-7 large-6">
				<blockquote>
					<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within another element like a bleed.</p>
					<cite>Obi-Wan Kenobi, Jedi Master</cite>
				</blockquote>
			</div>
             <div class="cell small-12 medium-3 large-2">
				<img src="http://placekitten.com/300/400" alt="kitty">
			</div>
		</div>
	</div>
</section>

{% include "@blocks/footer/mission.twig" %}