{% include "@blocks/header/global-bar.twig" %}
<header class="title-bar" data-responsive-toggle="regular">
  <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
  <button class="menu-icon" type="button" data-toggle="regular">Menu</button>
</header>
<header id="regular">
  <div class="group">
      <div class="logo">
          <a href="#"><img src="../../images/UTHSA_logo.svg" alt="UT Health San Antonio"></a>
      </div>
    <div class="right">
      <form class="search">
        <input type="search" class="search-box" placeholder="Search">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>

    </div>
  </div>
  <nav class="nav-bar">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Meet Our Members</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Graduate School</a></li>
          <li><a href="#">Postdoc Office</a></li>
          <li><a href="#">VPR</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>The Mentoring Academy</h1>
      </div>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
      <div class="grid-x grid-margin-x ">
        <main class="small-12 medium-8 cell">
          <h2>Our Mission</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque viverra justo nec ultrices. Velit aliquet sagittis id consectetur. Scelerisque varius morbi enim nunc. Praesent elementum facilisis leo vel fringilla est ullamcorper. Ut sem viverra aliquet eget sit amet tellus. Erat nam at lectus urna. Lorem mollis aliquam ut porttitor leo a. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Pulvinar elementum integer enim neque volutpat ac tincidunt. A scelerisque purus semper eget duis at tellus at urna. Gravida dictum fusce ut placerat. Nunc pulvinar sapien et ligula ullamcorper.</p>
                <p>Sagittis orci a scelerisque purus semper eget. Morbi leo urna molestie at. Habitasse platea dictumst vestibulum rhoncus est pellentesque. Tincidunt eget nullam non nisi est sit. Etiam non quam lacus suspendisse faucibus interdum. Duis ut diam quam nulla porttitor massa id neque aliquam. Nisl rhoncus mattis rhoncus urna neque viverra. Orci ac auctor augue mauris augue neque gravida in. Arcu non sodales neque sodales ut etiam sit amet nisl. Id aliquet lectus proin nibh nisl condimentum id venenatis a.</p>
                <h3>Academy Collaborators</h3>
                <p><a class="arrow">Graduate School of Biomedical Sciences</a></p>
                <p><a class="arrow">Office of Postdoctoral Affairs</a></p>
                <p><a class="arrow">Vice President of Research</a></p>
</main>

          <aside class="small-12 medium-4 cell">
          <div class="cell small-12 medium-6 large-4">
            <a class="callout color orange cell" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3 id="service-button">Meet Our Members</h3>
            </a>
            <a class="callout color grey cell" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <h3 id="report-button">Contact Us</h3>
            </a>
          </div>
          </aside>
  </div>
  </div>
  </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>