{% include "@components/header v2/header-SHP.twig" %}
<main class="hero gradient right white bleed img-fill">
  <img src="../../images/shp-bldg.jpg" alt="">
  <div class="grid-container roomy">
    <div class="grid-x grid-margin-x align-right">
      <div class="small-12 medium-5 cell callout white">
        <p class="eyebrow">School of Health Professions</p>
        <h1>Job Placement Services</h1>
        <p>Powder sweet lemon drops gummi bears cheesecake. Cake marzipan chocolate cake cake cake. Marshmallow cake oat cake brownie cotton candy marshmallow. Apple pie sweet roll sweet roll biscuit lemon drops.</p>
        <p><a href="#" class="button">Button CTA</a></p>
      </div>
    </div>
  </div>
</main>
{% include "@components/navigation/navbar-SHPjob.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-4 medium-4 small-12 flex-container">
      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
        </span>
        <h2 class="h4">Post an Opportunity</h3>
      </a>
    </div>
    <div class="cell large-4 medium-4 small-12 flex-container">
      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-search fa-stack-1x fa-inverse"></i>
        </span>
        <h2 class="h4">Find an Opportunity</h3>
      </a>
    </div>
    <div class="cell large-4 medium-4 small-12 flex-container">
      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-bookmark fa-stack-1x fa-inverse"></i>
        </span>
        <h2 class="h4">Career Development Resources</h3>
      </a>
    </div>
  </div>
</section>
<section class="bleed color blue noise pullquote">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      
      <div class="cell large-8 medium-8 small-12">
        <blockquote>
          <p>Candy canes tootsie roll liquorice cake candy cheesecake candy muffin macaroon. Bear claw brownie dragée tootsie roll tootsie roll macaroon bear claw gummies sweet roll. Topping donut sweet roll powder apple pie muffin carrot cake danish sesame snaps.</p>
          <cite>Citation</cite>
        </blockquote>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <img src="http://placekitten.com/300/300" alt="kitty">
      </div>
    </div>
  </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}