{% include "@components/header v2/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="https://source.unsplash.com/1500x750/?nature,water" alt="nature">
  <div class="grid-container extra-roomy">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
          <h1 class="h2">Find your program</h1>
          <p>Our programs prepare tomorrow’s nurse leaders. From pre-licensure degree options to graduate and <a>post-graduate certificates</a>, our programs will help you pursue a wide range of career pathways in nursing from clinical care to research.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-SON.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container margin-bottom">
                    <a class="callout color orange flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Undergraduate Programs</h3>
                        <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly. One Two Three Four Five Six Seven Eight Nine Ten.</p>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container margin-bottom">
                    <a class="callout color orange flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Graduate Programs</h3>
                        <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly.</p>
                    </a>
                </div>
       <h3>Continuing Education</h1>
          <p>Nursing is a commitment to continuous learning. Our department of Lifelong Learning offers professional continuing education for individuals and healthcare organizations, as well as customized, full-service CE planning to meet the needs of unique healthcare settings.</p>
          <p><a href="#" class="arrow">Learn more about Lifelong Learning</a></p>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <div class="margin-bottom"><img src="https://source.unsplash.com/560x315/?nature,water" alt="nature"></div>
            <h2>Scholarships</h2>
            <p>Scholarships are available to both undergraduate and graduate students. One application submits your request to more than 100 scholarships.</p> 
            <div class="arrow">
                <ul>
                    <li><a href="#">Learn More</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<section class="bleed light-beige noise">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">   
            <div class="cell large-5 medium-5 small-12">
                <img src="https://source.unsplash.com/560x315/?nature,water" alt="nature">
            </div>
            <div class="cell large-7 medium-7 small-12">
                <h2>Accreditation</h2>
                <p>The BSN, MSN, and DNP programs, and our Post-Graduate Certificate are accredited by the Commission on Collegiate Nursing Education.</p>

<p><strong>Commission on Collegiate Nursing Education</strong><br>
655 K Street, NW, Suite 750<br>
Washington, DC 20001<br>
202-887-6791</p>
<h2>Marketable Skills</h2>
                <p>The School of Nursing is proud to partner with the <strong>Texas Higher Education Coordinating Board</strong> in helping students develop and build on skills employers value and seek out in job candidates. </p>
                <p><a href="#" class="arrow">Learn more about Marketable skills</a></p>
                
            </div>
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>