{% include "@components/header-prototypes/header-gccri.twig" %}
<section class="hero bleed blur img-fill full">	
  <img src="../../images/gccri/lab-research.jpg" alt="laboratory">
<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-7">
				<h1>Research Services</h1>
				<p>Our strengths encompass cancer genomics, DNA damage, RNA biology, and drug development. We are also expanding our expertise in drug delivery, particularly through the use of nanotechnology to enhance the delivery of small RNA mimics and inhibitors.</p>
			</div>
    <div class="cell medium-12 large-5">
    <img src="../../images/gccri/lab-research.jpg" alt="laboratory">
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-gccri.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-2">
                <img class="margin-bottom" src="../../images/gccri/CBBI-Image.jpg">
                <h2 class="h6 text-center"><a>Computational Biology & Bioinformatics Initiative</a></h2>
                <p>The Computational Biology and Bioinformatics Initiative (CBBI) offers computational infrastructure, bioinformatics expertise, and interdisciplinary research support to handle and distribute complex datasets. It develops and executes bioinformatics workflows and statistical analyses, with a focus on genomics and systems biology.</p>
            </div>
            <div class="cell small-12 medium-2">
                <img class="margin-bottom" src="../../images/gccri/GSF-Headder.jpg">
                <h2 class="h6 text-center"><a>Genome Sequencing Facility (GSF)</a></h2>
                <p>The Genome Sequencing Facility (GSF) at Greehey Children’s Cancer Research Institute, UT Health San Antonio, leverages cutting-edge genomic platforms to produce high-quality genomic data and offers comprehensive support for its analysis.</p>
            </div>
            <div class="cell small-12 medium-2">
                <img class="margin-bottom" src="../../images/gccri/TDC.jpg">
                <h2 class="h6 text-center"><a>Target Discovery Core (TDC)</a></h2>
                <p>The mission of the TDC is to provide researchers at UT Health San Antonio (UTHSA) and other Texas-based institutes with cutting-edge target identification and validation (TIV) technologies, advancing fundamental cancer biology research and accelerating the discovery of cancer therapeutics.</p>
            </div>
            <div class="cell small-12 medium-2">
                <img class="margin-bottom" src="../../images/gccri/GCCRI.jpg">
                <h2 class="h6 text-center"><a>Greehey CCRI Xenograft & Cell-Lines Core</a></h2>
                <p>The Xenograft and Cell Lines Core at Greehey CCRI offers preclinical testing of chemotherapeutics and drug combinations in mouse models. This service is available to the UT Health San Antonio research community, pharmaceutical companies, and any lab interested in conducting animal research.</p>
            </div>
            <div class="cell small-12 medium-2">
                <img class="margin-bottom" src="../../images/gccri/GPPB.jpg">
                <h2 class="h6 text-center"><a>Greehey CCRI Pediatric PDX Biobank (GPPB)</a></h2>
                <p>The PDX biobank at Greehey Children’s Cancer Research Institute is a vital resource for pediatric patient-derived tissue models. These models support researchers in exploring the unique biology of pediatric cancers, with the common goal of enhancing treatment outcomes for patients.</p>
            </div>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/gccri-footer.twig" %}