{% include "@components/header-prototypes/header-capital.twig" %}
{% include "@components/navigation-prototypes/navbar-capital.twig" %}

{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell small-12 medium-12 large-9">
				<h1 class="margin-bottom-2">Project Team</h1>
				
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/capital/kazen.png">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">James D. Kazen</h2>
						<p class="subheader">Executive Vice President, Capital Projects Office</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet loose-list inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>kazen@uthscsa.edu</span>
											</a>
										</li>
										<li>
											
										</li>
									</ul>
								</div>
								</address>
							</div>
						</div>
						<p>Mr. Kazen serves as Executive Vice President of the Capital Projects Office. In this capacity he manages the functions of all new construction for UT Health. For the past 29 years, Mr. Kazen has provided oversight for the design and construction of more than one billion dollars of new institutional facilities. Mr. Kazen has over fifty years of experience in designing and implementing education and community programs. He has served as the Regional Director of the US Office of Education, President of the Border Region Higher Education Council, President of the Center for Educational Development, President of the Economic Opportunity Development Corporation, Senior Consultant to the National Institute on Mental Health and Architect of the VISTA (Volunteers in Service to America) Training Program in the Lyndon B. Johnson Administration. Mr. Kazen has lectured in and directed training events in thirty-two states, Europe, and Australia.</p>

					</div>
				</div>
				<hr>
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/capital/lew.png">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Patrick C. Lew, AIA</h2>
						<p class="subheader">Director, Capital Projects Office</p> 
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>lewp@uthscsa.edu</span>
											</a>
										</li>
										<li>
											
										</li>
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>An accomplished architect, Lew brings over forty years of experience to CPO and provides for the executive leadership and management of the U.T. Health Science Center at San Antonio’s Capital Improvement Program. Lew is involved in all aspects of project delivery, from inception to completion for biomedical research, healthcare and higher education facilities. In addition, he provides for project program and staffing, resource coordination, communication, conflict resolution and oversight/quality monitoring.</p>
					</div>
				</div>
				<hr>

				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/capital/kimball.png">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Marc W. Kimball, AIA</h2>
						<p class="subheader">Assistant Director, Capital Projects Office</p> 
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
							<address>
								<div class="loose-list">
									<ul class="no-bullet loose-list inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>kimballm1@uthscsa.edu</span>
											</a>
										</li>
										<li>
											
										</li>
									</ul>
								</div>
							</div>
							</address>
						</div>
						<p>As a Senior Project Manager for the Capital Projects office, Marc Kimball brings 28 years of professional architectural expertise which encompasses a broad range of private sector, commercial, municipal, and government projects. Kimball provides an experienced level of management and leadership skills in implementing the institutional client needs and guiding the design professional direction for delivery of projects for The University of Texas Health Science Center at San Antonio, Capital Projects Office. Marc also collaborates, supports, and coordinates the component institution pre-project planning activities, budgeting, and scheduling processes for the development of Request for Qualifications (RFQ) and Request for Proposals (RFP) for design and construction services.</p>
					</div>
				</div>
        <hr>

        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/capital/riley.png">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Robert (Bob) Riley, P.E.</h2>
						<p class="subheader">Senior Manager Construction, Capital Projects Office</p> 
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
							<address>
								<div class="loose-list">
									<ul class="no-bullet loose-list inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>rileyr3@uthscsa.edu</span>
											</a>
										</li>
										<li>
											
										</li>
									</ul>
								</div>
							</div>
							</address>
						</div>
						<p>As a Senior Manager of Construction for the University of Texas Health Science Center at San Antonio, Capital Projects Office, Bob Riley brings 40 years of his professional background including designing MEP systems for a multitude of projects, to include hospitals, research facilities, schools, universities and stadiums. Riley provides guidance, support, training, and leadership to other construction team members. He also provides constructability reviews (MEP, budget and schedule) for projects that are still in the design phase. The Resident Construction Manager is the University of Texas System’s designated Owner’s representative. As a Resident Construction Manager for a project(s), Bob provides project leadership and conflict resolution to ensure the project is constructed per contract documents, within budget and completed as scheduled.</p>
					</div>
				</div>
        <hr>

        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/no-photo.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Jimmie Hearn</h2>
						<p class="subheader">Capital Project Manager</p> 
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
							<address>
								<div class="loose-list">
									<ul class="no-bullet loose-list inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>hearnj@uthscsa.edu</span>
											</a>
										</li>
										<li>
											
										</li>
									</ul>
								</div>
							</div>
							</address>
						</div>
						<p>Jimmie Hearn is a Registered Architect and LEED Accredited Professional with project management experience in the design and construction of public transportation, institutional, academic, clinical, and biomedical research projects. As Project Manager in the UT Health San Antonio Capital Projects Office (CPO), Jimmie provides leadership, coordination, communication, conflict resolution, and oversight, to ensure project budgetary, schedule, and quality goals are achieved. Prior to joining CPO in 2019, Hearn served as a Senior Project Manager in the UT Health San Antonio Office of New Construction for 9 years, providing campus coordination for active UT System Office of Facilities Planning & Construction projects and management of the warranty repair process for completed projects. Jimmie also served as Senior Project Manager in The University of Texas at San Antonio Engineering & Project Management Department for 4 years, providing management of institutional projects and the campus deferred maintenance program.</p>
					</div>
				</div>
        <hr>

			</main>
		</div>
	</div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>