{% include "@components/header-prototypes/header-VPResearch.twig" %}
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Facilities & Resources</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Research Systems
    </li>
  </ul>
</nav>

<section class="grid-container">

    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12 small-order-2 large-order-1 medium-order-1">
            <h1>Research Systems</h1>
            <ul class="accordion orange" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Animal Research Compliance</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li><a href="https://erms1.uthscsa.edu">ERMS</a></li>
                            <li><a href="https://vpr.uthscsa.edu/orca_v2">ORCA-Animal/Human</a></li>
                            <li><a href="https://vpr.uthscsa.edu/orca_v2_analyst">ORCA-Analyst</a></li>
                            <li><a href="https://redcap.uthscsa.edu/REDCap/">RedCap</a></li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Clinical Trials Office</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li><a href="https://erms1.uthscsa.edu">ERMS</a></li>
                            <li><a href="https://us-east-1.quicksight.aws.amazon.com/sn/auth/signin?redirect_uri=https%3A%2F%2Fus-east-1.quicksight.aws.amazon.com%2Fsn%2Fstart%2Fdashboards%3Fstate%3DhashArgs%2523%26isauthcode%3Dtrue">Huron Reporting (HRA)</a></li>
                            <li><a href="https://uthscsaprod.veloseresearch.com/velos/jsp/myHome.jsp">WCG:eRsearch/vTiger/eTools</a></li>
                            <li><a href="https://www.clincard.com/login/">ClinCard</a></li>
                            <li><a href="https://app.complion.com/">Complion</a></li>
                            <li><a href="https://vpr.uthscsa.edu/phoenix/">Phoenix Charge Master</a></li>
                            <li><a href="https://vpr.uthscsa.edu/orca_v2_analyst">ORCA-Analyst</a></li>
                            <li><a href="https://vpr.uthscsa.edu/orca-cto/">ORCA-CTO</a></li>
                            <li><a href="https://vpr.uthscsa.edu/pims">ORCA-PIMS</a></li>
                            <li><a href="https://uthscsa.corefacilities.org/landing/36">iLab</a></li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Department of Laboratory Animal Resources</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li><a href="https://erms1.uthscsa.edu">ERMS</a></li>
                            <li><a href="https://fint.uthscsa.edu/">PeopleSoft-DLAR</a></li>
                            <li><a href="https://vpr.uthscsa.edu/orca_v2">ORCA-Animal/Human</a></li>
                            <li><a href="https://vpr.uthscsa.edu/orca_v2_analyst">ORCA-Analyst</a></li>
                            <li><a href="https://uthscsa.corefacilities.org/landing/36">iLab</a></li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Clinical Research</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li><a href="https://erms1.uthscsa.edu">ERMS</a></li>
                            <li><a href="https://us-east-1.quicksight.aws.amazon.com/sn/auth/signin?redirect_uri=https%3A%2F%2Fus-east-1.quicksight.aws.amazon.com%2Fsn%2Fstart%2Fdashboards%3Fstate%3DhashArgs%2523%26isauthcode%3Dtrue">Huron Reporting (HRA)</a></li>
                            <li><a href="https://vpr.uthscsa.edu/findastudy">FindaStudy</a></li>
                            <li><a href="https://redcap.uthscsa.edu/REDCap/">RedCap</a></li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Institutional Review Board</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li><a href="https://erms1.uthscsa.edu">ERMS</a></li>
                            <li><a href="https://us-east-1.quicksight.aws.amazon.com/sn/auth/signin?redirect_uri=https%3A%2F%2Fus-east-1.quicksight.aws.amazon.com%2Fsn%2Fstart%2Fdashboards%3Fstate%3DhashArgs%2523%26isauthcode%3Dtrue">Huron Reporting (HRA)</a></li>
                            <li><a href="https://app.complion.com/">Complion</a></li>
                            <li><a href="https://vpr.uthscsa.edu/orca_v2">ORCA-Animal/Human</a></li>
                            <li><a href="https://vpr.uthscsa.edu/orca_v2_analyst">ORCA-Analyst</a></li>
                            <li><a href="https://redcap.uthscsa.edu/REDCap/">RedCap</a></li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Postdoctoral Affiars</a>
                    <div class="accordion-content" data-tab-content>
                        <!--<ul>
                            <li><a href=""></a></li>
                        </ul>-->
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Research Administration & Quality</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li><a href="https://app.complion.com/">Complion</a></li>
                            <li><a href="https://vpr.uthscsa.edu/iDisclose">iDisclose</a></li>
                            <li><a href="https://redcap.uthscsa.edu/REDCap/">RedCap</a></li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Sponsored Programs</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li><a href="https://erms1.uthscsa.edu">ERMS</a></li>
                            <li><a href="https://us-east-1.quicksight.aws.amazon.com/sn/auth/signin?redirect_uri=https%3A%2F%2Fus-east-1.quicksight.aws.amazon.com%2Fsn%2Fstart%2Fdashboards%3Fstate%3DhashArgs%2523%26isauthcode%3Dtrue">Huron Reporting (HRA)</a></li>
                            <li><a href="https://fint.uthscsa.edu/">PeopleSoft-Grants</a></li>
                            <li><a href="https://uthsa-ecrt.utsystem.edu/ecrt/redirectLogin.do?ecrtAction=init">eCert</a></li>
                            <li><a href="#">eCommons</a></li>
                            <li><a href="https://uthscsa.cayuse424.com/">Cayuse</a></li>
                            <li><a href="#">Team Dynamix</a></li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Strategic Research Initiatives</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li><a href="https://scholars.uthscsa.edu/">Pure/Scholars</a></li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Office of Technology Commercialization</a>
                    <div class="accordion-content" data-tab-content>
                        <!--<ul>
                            <li><a href=""></a></li>
                        </ul>-->
                    </div>
                </li>
            </ul>
            
            
        </main>
        <aside class="cell large-4 medium-4 small-12 small-order-1 large-order-2 medium-order-2">
            

           

        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}