{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="placeholder">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="cell large-7 medium-7 small-12">
                <div class="callout">
                    <h1>Research Systems</h1>
                    <p>Chocolate caramels biscuit chocolate oat cake powder danish. Oat cake bonbon donut chupa chups cupcake soufflé brownie. Cupcake gingerbread fruitcake icing icing powder jelly beans. Wafer cookie jelly-o donut powder cotton candy chocolate.</p>
                    <p><a class="button" href="https://uthscsa.edu/vpr/services/erms">Future Technology</a></p>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Facilities & Resources</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Research Systems
    </li>
  </ul>
</nav>

<section class="grid-container margin-top">

    <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12">
            <div class="lines">
                <ul>
                    <li><a href="https://uthscsa.cayuse424.com/">Cayuse</a></li>
                    <li><a href="https://www.clincard.com/login/">ClinCard</a></li>
                    <li><a href="https://app.complion.com/">Complion</a></li>
                    <li><a href="https://uthsa-ecrt.utsystem.edu/ecrt/redirectLogin.do?ecrtAction=init">Effort Certification (ECRT)</a></li>
                    <li><a href="https://erms1.uthscsa.edu/">ERMS Login</a></li>
                    <li><a href="https://vpr.uthscsa.edu/findastudy">FindaStudy</a></li>
                    <li><a href="https://us-east-1.quicksight.aws.amazon.com/sn/auth/signin?redirect_uri=https%3A%2F%2Fus-east-1.quicksight.aws.amazon.com%2Fsn%2Fstart%2Fdashboards%3Fstate%3DhashArgs%2523%26isauthcode%3Dtrue">Huron Reporting (HRA)</a></li>
                    <li><a href="https://deb.uthscsa.edu/Ideas/index.jsp">IDEAS</a></li>
                    <li><a href="https://vpr.uthscsa.edu/iDisclose/">iDisclose v6.0</a></li>
                    <li><a href="https://uthscsa.corefacilities.org/landing/36">iLab</a></li>
                </ul>
            </div>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <div class="lines">
                <ul>
                    <li><a href="https://utsys-eds.utsystem.edu/shibboleth-ds/index.html?entityID=https://utsys-ssoproxy.utsystem.edu/simplesaml/module.php/saml/sp/metadata.php/default-sp&return=https://utsys-ssoproxy.utsystem.edu/simplesaml/module.php/saml/sp/discoresp.php?AuthID%3D_a8c5d4faba1fdc95d73b5f5aa88cb71018174da64c%253Ahttps%253A%252F%252Futsys-ssoproxy.utsystem.edu%252Fsimplesaml%252Fsaml2%252Fidp%252FSSOService.php%253Fspentityid%253Dhttps%25253A%25252F%25252Fsolutions.sciquest.com%2526cookieTime%253D1677017654&returnIDParam=idpentityid">Jaggaer Shopper</a></li>
                    <li><a href="https://uthscsa.kronos.net/">Kronos</a></li>
                    <li><a href="https://vpr.uthscsa.edu/orca/">ORCA</a></li>
                    <li><a href="https://fint.uthscsa.edu/psp/F92PRDT/?cmd=login&languageCd=ENG&">PeopleSoft (PS) Financials</a></li>
                    <li><a href="https://vpr.uthscsa.edu/phoenix/">Phoenix Charge Master</a></li>
                    <li><a href="https://redcap.uthscsa.edu/REDCap/">REDCap</a></li>
                    <li><a href="https://scholars.uthscsa.edu/">Scholars</a></li>
                    <li><a href="https://shib.uthscsa.edu/idp/profile/SAML2/Unsolicited/SSO?providerId=https://login-eomf-saasfaprod1.fa.ocs.oraclecloud.com:443/oam/fed&target=https://fa-eomf-saasfaprod1.fa.ocs.oraclecloud.com/fscmUI/faces/FuseWelcome">UT Learns</a></li>
                    <li><a href="https://uthscsaprod.veloseresearch.com/velos/jsp/myHome.jsp">Velos</a></li>
                    <li><a href="https://redcap.uthscsa.edu/REDCap/surveys/?s=4TKCEP74J347ML83">VPR Concierge Scheduler</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}