{% include "@components/header-prototypes/header-gccri.twig" %}
<section class="hero full bleed img-fill">
    <img src="../../images/gccri/Dad-Hero.jpg" alt="father and child">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1 class="h3">Translating Today's Discoveries in Childhood Cancer Research into Tomorrow's Treatments.</h1>
                <p>The Greehey Children’s Cancer Research Institute is one of only two institutes in the United States exclusively focused on pediatric cancer research. With 20 laboratories, the institute leverages expertise in cancer genomics, DNA repair, RNA biology, and drug development to discover new and less harmful treatments for childhood cancers.</p>
                <div class="button-group">
                    <p><a href="#" class="button">View Our Publications</a></p>
                    <p><a href="#" class="button ghost">In The News</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-gccri.twig" %}
<main>
    <section class="bleed">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">

                <div class="small-12 medium-8 cell">
                    <h2 class="h5 sans-serif">Our research expertise spans cancer genomics, DNA damage, RNA biology, and drug development. We are also expanding our focus on drug delivery, particularly through nanotechnology-based methods for delivering small RNA mimics and inhibitors.</h2>
                    <p><a href="#" class="button">Learn More</a></p>
                </div>
                <div class="small-12 medium-4 cell">
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Help make a difference</h3>
            </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bleed beige">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell text-center padding-bottom">
                    <h2>Top Stories</h2>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="../../images/gccri/BASSER-200x225.jpg" alt="Basser Center logo">
                        <div class="card-section">
                            <p>UT Health San Antonio world-renowned expert in BRCA research to be honored for global contributions</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="../../images/gccri/Sung-Lab-Coat.jpg" alt="Sung portrait">
                        <div class="card-section">
                            <p>UT Health San Antonio Awarded $12.6M Program Grant for Cancer Research</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="../../images/gccri/Nature-Logo.jpg" alt="Nature logo">
                        <div class="card-section">
                            <p>Nature: Promotion of DNA End Resection by BRCA1–BARD1 in Homologous Recombination (Sung, Libich)</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="../../images/gccri/GCCRI-Vert-200x225.jpg" alt="GCCRI logo">
                        <div class="card-section">
                            <p>UT Health San Antonio and UTSA merger announced</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
       <section class="bleed">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="small-12 medium-6 large-4 cell">
                  <h4 class="h5 text-center">Registration is now open!</h4>
                  <img src="../../images/gccri/Gear-Up-25-11x17-FINAL-768x1187.jpg" alt="Gear Up flyer">
                  </div>
                  </div>
                  </div>
                  </section>
<section class="bleed light-grey">
<div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-y">
        <div class="small-12 medium-6 white callout cell flex-container flex-dir-column">
            <div class="flex-child-auto">
                <h2 class="text-center">News</h2>
                <div class="lines">
                    <ul>
                        <li><a href="#">Molecular Oncology: Hijacking the BAF complex: the mechanistic interplay of ARID1A and EWS::FLI1 in Ewing sarcoma (Libich Lab)</a></li>
                        <li><a href="#">Vaccines: Pediatric Oncology Providers’ HPV Vaccine Knowledge, Attitude, Self-Efficacy, and Practice after Communication Training: A Comparison with a National Survey (Grimes)</a></li>
                        <li><a href="#">Pigment Cell & Melanoma: Segregation Between an Ornamental and a Disease Driver Gene Provides Insights Into Pigment Cell Regulation (Lai Lab)</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex-child-shrink">
                <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
            </div>
        </div>
        <div class="small-12 medium-6 white callout cell flex-container flex-dir-column">
            <div class="flex-child-auto">
                <h2 class="text-center">Events</h2>
            {% include "@blocks/feeds/events-vertical.twig" %}   
        </div>
        <div class="flex-child-shrink">
            <p class="text-center"><a href="#" class="button ghost">View All Events</a></p>

        </div>
    </div>
  </div>
</section>

</main>
{% include "@components/footer-prototypes/gccri-footer.twig" %}