{% include "@components/header-prototypes/header-pepper.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-pepper.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <main class="small-12 medium-8 cell">
              <form>
              <label>Required information(<span class="required">*</span>)</label>
  <label>Name<span class="required">*</span><input type="text">
  </label>
  <label>Email Address<span class="required">*</span>
    <input type="text">
  </label>
  <label>Subject<span class="required">*</span>
    <input type="text">
  </label>
  <label>Message<span class="required">*</span>
    <textarea></textarea>
  </label>
<p><a href="#" class="button">Submit</a></p>
</main>

    <aside class="small-12 medium-4 cell">
          <div class="cell auto card">
            <div class="card-section">
                 <h3 class="h5">Contact information</h3>
                 <p><strong>San Antonio Claude D. Pepper Center</strong><br>
                4939 Charles Katz Dr<br>
                San Antonio, TX 78229</p><br>
        <div>
         <ul class="fa-ul">
						<li>
							<a>
								<span class="fa-li">
									<span class="fa-stack">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
									</span>
								</span>
								<span>(210) 562-6140</span>
							</a>
						</li>
            <li>
							<a>
								<span class="fa-li">
									<span class="fa-stack">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fas fa-envelope-square fa-stack-1x fa-inverse"></i>
									</span>
								</span>
								<span>sapepper@uthscsa.edu</a></span>
							</a>
						</li>
            </ul>
                </div></div></div>
<div class="text-center">
                 <h3 class="h5">Location:</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3472.024314047669!2d-98.58551528489721!3d29.515650482077636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c67e5d83cf7f9%3A0x2990a3064618b054!2sSam%20and%20Ann%20Barshop%20Institute%20for%20Longevity%20and%20Aging%20Studies!5e0!3m2!1sen!2sus!4v1625590870704!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                                </aside>
</div></div></section>
{% include "@components/footer-prototypes/pepper-footer.twig" %}