{% include "@components/header v2/header-LSOM.twig" %}
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>COVID Webinar Series</h1>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <p>Hosted by the Joe R. & Teresa Lozano Long School of Medicine at UT Health San Antonio, Dean Robert Hromas M.D., FACP leads discussions with world leading physicians and scientists to discuss COVID-19 and its impact on medicine, healthcare, education, and the community. Each webinar installment of this COVID Webinar Series aims to gain fact-based insights from UT Health San Antonio's subject matter experts working to protect the health of the public, particularly during the COVID-19 pandemic.</p>
      
      <div class="callout beige">
        <h3><a href="https://attendee.gotowebinar.com/recording/8628944579689066256">COVID-19: Vaccines, Long-Term Effects, and What's to Come</a></h3>
        <p><em>Recorded Thursday April 29, 2021</em></p>
        <p><strong>Hosted By</strong></p>
        <p>Dean Robert Hromas, M.D., FACP, Joe R. & Teresa Lozano Long School of Medicine </p>
        <p><strong>Featured Panelists</strong></p>
        <ul>
          <li>Allen Anderson, M.D., FACC, FAHA Chief & Professor of Cardiology</li>
          <li>Ruth E. Berggren, M.D., Professor, Infectious Diseases</li>
          <li>Thomas F Patterson, M.D., Chief & Professor, Infectious Diseases</li>
          <li>Monica Verduzco-Gutierrez, M.D., Chair & Professor, Physical Medicine & Rehabilitation</li>
        </ul>
        <p><strong>Summary</strong></p>
        <p>Our expert UT Health SA panelists will be providing updates on the latest information on vaccines, long-term effects, cardiology effects and more related to COVID-19 that is happening here in San Antonio.</p>
        <p><strong>Please Note</strong></p>
        <p>Users must register to view webinar video recording.</p>
      </div>

      <div class="callout beige">
        <h3><a href="https://attendee.gotowebinar.com/recording/5069704493061392907">Our COVID-19 Experts: Cutting Edge Medicine in the Community</a></h3>
        <p><em>Recorded Thursday March 4, 2021</em></p>
        <p><strong>Hosted By</strong></p>
        <p>Dean Robert Hromas, M.D., FACP, Joe R. & Teresa Lozano Long School of Medicine </p>
        <p><strong>Featured Panelists</strong></p>
        <ul>
          <li>Theresa Barton, M.D., Assistant Professor, Pediatrics</li>
          <li>Jason E. Bowling, M.D., Associate Professor, Infectious Diseases</li>
          <li>Jan Patterson, M.D., Professor, Infectious Diseases</li>
          <li>Carolina Solis-Herrera, M.D., Assistant Professor of Medicine, Diabetes</li>
        </ul>
        <p><strong>Summary</strong></p>
        <p>Our panel of experienced UT Health San Antonio physicians discuss a variety of topics during our COVID-19 presentation including emphasis for diabetes patients, pediatric recommendations, and the latest on vaccines.</p>
        <p><strong>Please Note</strong></p>
        <p>Users must register to view webinar video recording.</p>
      </div>

      <div class="callout beige">
        <h3><a href="https://attendee.gotowebinar.com/recording/7912745793242957571">COVID-19 Today: An Update from UT Health SA Experts</a></h3>
        <p><em>Recorded Thursday February 4, 2021</em></p>
        <p><strong>Hosted By</strong></p>
        <p>Dean Robert Hromas, M.D., FACP, Joe R. & Teresa Lozano Long School of Medicine </p>
        <p><strong>Featured Panelists</strong></p>
        <ul>
          <li>Ruth E. Berggren, M.D., Professor, Infectious Diseases</li>
          <li>Jason E. Bowling, M.D., Associate Professor, Infectious Diseases</li>
          <li>Thomas F Patterson, M.D., Chief & Professor, Infectious Diseases</li>
          <li>Monica Verduzco-Gutierrez, M.D., Chair & Professor, Physical Medicine & Rehabilitation</li>
        </ul>
        <p><strong>Summary</strong></p>
        <p>The COVID-19 pandemic has changed our way of life in many ways but what it has not changed is the heart of our Long School of Medicine family – our students, researchers, faculty, alumni and staff. We have focused a tremendous amount of attention on distribution of the COVID-19 vaccine to the community to providing exceptional health care to all our patients. We will also answer your questions on each of these issues and provide the latest updates on the COVID-19 pandemic.</p>
        <p><strong>Please Note</strong></p>
        <p>Users must register to view webinar video recording.</p>
      </div>

      <div class="callout beige">
        <h3><a href="https://attendee.gotowebinar.com/recording/3079061778704355856">Navigating COVID-19: Vaccines, Therapeutics, and Beyond</a></h3>
        <p><em>Recorded Thursday December 3, 2020</em></p>
        <p><strong>Hosted By</strong></p>
        <p>Dean Robert Hromas, M.D., FACP, Joe R. & Teresa Lozano Long School of Medicine </p>
        <p><strong>Featured Panelists</strong></p>
        <ul>
          <li>Ruth E. Berggren, M.D., Professor, Infectious Diseases</li>
          <li>Jason E. Bowling, M.D., Associate Professor, Infectious Diseases</li>
          <li>Jan Patterson, M.D., M.S., Professor, Infectious Diseases</li>
          <li>Thomas F Patterson, M.D., Chief & Professor, Infectious Diseases</li>
          <li>Barbara Taylor, M.D., M.S., Associate Professor, Infectious Diseases</li>
          <li>Monica Verduzco-Gutierrez, M.D., Chair & Professor, Physical Medicine & Rehabilitation</li>
        </ul>
        <p><strong>Summary</strong></p>
        <p>Our expert panelists will be providing updates to current vaccine clinical trials and therapeutic treatments here at UT Health San Antonio. They will also discuss the newest surge in case numbers and how we as a community can prepare ourselves to navigate through the pandemic.</p>
        <p><strong>Please Note</strong></p>
        <p>Users must register to view webinar video recording.</p>
      </div>

      <div class="callout beige">
        <h3><a>COVID-19: Help You Better Understand COVID-19, What It Means To You Where You Work and Live</a></h3>
        <p><em>Recorded Monday October 19, 2020</em></p>
        <p><strong>Hosted By</strong></p>
        <p>Dean Robert Hromas, M.D., FACP, Joe R. & Teresa Lozano Long School of Medicine </p>
        <p><strong>Featured Panelists</strong></p>
        <ul>
          <li>Ruth E. Berggren, M.D., Professor, Infectious Diseases</li>
          <li>Jason E. Bowling, M.D., Associate Professor, Infectious Diseases</li>
          <li>Jan Patterson, M.D., M.S., Professor, Infectious Diseases</li>
          <li>Thomas F Patterson, MD, Chief & Professor, Infectious Diseases</li>
          <li>Monica Verduzco-Gutierrez, MD, Chair & Professor, Physical Medicine & Rehabilitation</li>
        </ul>
        <p><strong>Summary</strong></p>
        <p>COVID-19 has changed our lives forever. While most of us are fatigued with the pressure of the pandemic, it is still with us, and will not go away for likely another year, until after a vaccine becomes widely distributed. Please join us for updates on the latest treatments and outcomes, the types and timelines of potential vaccines, and the multiple long term complications that need rehabilitation. We will also answer your questions on each of these issues. Our panel of experts leads the nation in clinical trial accruals for the new COVID-19 treatments and the region in the public health response to the pandemic.</p>
        <p><strong>Please Note</strong></p>
        <p>Users must register to view webinar video recording.</p>
      </div>

    </main>
    <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      
    </aside>
  </div>
</div>

{% include "@blocks/footer/LSOM-alamo.twig" %}