{% include "@components/header-prototypes/header-main.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-8 medium-8 small-12">
				<h1>Regulatory Notices</h1>
            </div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-main.twig" %}

<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12 lines">
            <h2>English</h2>
            <ul>
                <li><a>Notice of Non-Discrimination</a></li>
                <li><a>Notice of Privacy Practices</a></li>
                <li><a>Good Faith Patient Estimates</a></li>
                <li><a>Your Rights & Protections Against Surprise Medical Bills</a></li>
                <li><a>UT Health San Antonio Patient’s Statement of Rights and Responsibilities</a></li>
                <li><a>Kyle Seale Parkway Patient’s Statement of Rights and Responsibilities</a></li>
                <li><a>UT Health San Antonio Terms and Conditions for SMS</a></li>
            </ul>
        </div>

        <div class="cell large-6 medium-6 small-12 lines">
            <h2>Español</h2>
            <ul>
                <li><a>Aviso de No Discriminación </a></li>
                <li><a>Aviso de Prácticas de Privacidad</a></li>
                <li><a>Estimaciones De Buena Fe Del Paciente </a></li>
                <li><a>Sus Derechos y Protecciones En Caso De Facturas Médicas Inesperadas </a></li>
                <li><a>Kyle Seale Parkway Declaración de Derechos y Responsabilidades del Paciente</a></li>
            </ul>
        </div>
    </div>
</main>

{% include "@components/footer-prototypes/main-footer.twig" %}
