{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-2.twig" %}
{% include "@components/navigation/navbar.twig" %}
<section class="hero bleed light-beige">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-8">
				<h1>Transplant Center</h1>
				<p>The faculty and staff at the Transplant Center at UT Health San Antonio are devoted to bettering the
					lives of patients with organ failure challenges.</p>
			</div>
		</div>
	</div>
</section>
<main>
	<section class="bleed">
		<div class="grid-container">
			<div class="grid-x grid-margin-x ">
				<div class="cell medium-12 large-4">

					<img src="https://picsum.photos/id/1040/560/420">

				</div>


				<div class="cell medium-12 large-8">
					<a>
						<h2> Our Mission</h2>
					</a>
					<p>We combine the finest attributes of a comprehensive academic medical institution to restore
						health and life to patients with organ failure. Our exceptional survival outcomes is a testament
						to our evidence-based practices, advanced technologies and patient-focused safety.</p>

					<a>
						<h2> Our Services</h2>
					</a>
					<p>For over 40 years, we have delivered the highest level of care for both adult and pediatric
						patients alongside University Transplant Center. Our innovative approach and surgical expertise
						offers shorten wait times through live donor liver and kidney transplantation.</p>

					<a>
						<h2> Patient Care</h2>
					</a>
					<p>Our UT Transplant Center Research Division is backed by experts in the field who are making
						revolutionary strides in the prevention, diagnosis and treatment of solid organ disease,
						contributing to the future of medicine.</p>

				</div>
			</div>
	</section>
	<section class="bleed light-grey">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				{% include "@blocks/feeds/news-events-white.twig" %}
			</div>
		</div>
	</section>
</main>
{% include "@blocks/footer/no-alamo.twig" %}