{% include "@components/header-prototypes/header-okapi.twig" %}
{% include "@components/navigation-prototypes/navbar-okapi.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-7 large-8 cell">
                <h1>Page Title</h1>
                <p class="margin-bottom">Antibiotic exposure in neonates is associated with significant morbidity and
                    mortality. Infants who
                    receive antibiotics, particularly within the first few weeks of life, are at increased risk for a
                    variety of adverse outcomes. These adverse effects are mediated by disruption of the normal infant
                    microbiome following antibiotic administration (Figure 1).3-5 Following a course of antibiotics, the
                    microbiologic diversity of the gut and lung microbiome is reduced and pathogenic organisms such as
                    Escherichia coli become the predominant organisms.6, 7 This loss of diversity and “pathogen surge”
                    leads to increases in inflammation and risk for infection in the short term and increased energy
                    harvest and weight gain in the long term.8 As a result, antibiotic exposure in newborns has been
                    associated with increased risk for infection from antibiotic-resistant organisms, asthma, obesity,
                    and metabolic syndrome in later childhood.4, 9-12 Similarly, the alteration of the normal gut and
                    lung microbiome has implications for immune development. Normal gut and lung flora have an innate
                    anti-inflammatory effect; loss of this inflammatory suppression leads to increased airway reactivity
                    (e.g., increased risk for asthma or infection-associated wheezing) and decreased immune tolerance
                    (e.g., increased risk for eczema, type 1 diabetes, celiac disease, and other atopic or autoimmune
                    conditions).13-16 These adverse outcomes can be seen after even a single dose of antibiotics.17</p>

                <img src="../../images/okapi-diagram.png" alt="diagram">

            </main>

            <aside class="cell small-12 medium-5 large-4">

                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li>
                        <a href="#">Background</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">Basic Page 1</a></li>
                            <li><a href="#">Basic Page 2</a></li>
                            <li><a href="#">Basic Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Telehealth</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">About Telehealth</a></li>
                            <li><a href="#">Telehealth Topics</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Value for Providers</a></li>
                    <li><a href="#">Value for Patients</a></li>
                    <li><a href="#">Cost of Participation</a></li>
                </ul>

            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}