{% include "@components/header-prototypes/header-ccid.twig" %}
<section class="hero bleed blur img-fill full">
    <img src="../../images/CCID/ccid-info-1.jpg" alt="doctor typing on laptop">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Patients & Physicians</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis.</p>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/CCID/ccid-info-1.jpg" alt="doctor typing on laptop">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ccid.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-8 large-8">
            <h2>Patient & Volunteer Information</h2>
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title">Why join a clinical trial?</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What to expect during participation</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Rights, safety, and privacy information</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">FAQs</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How to sign up for notifications or a participant registry</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
        </ul>

<h2>Physician & Referrer Portal</h2>
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title">How to refer a patient</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Access to study protocols (if appropriate)</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Contact info for research liaisons</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Continuing medical education (CME)</a>
                <div class="accordion-content" data-tab-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
        </ul>
            </main>
            <aside class="cell small-12 medium-6 large-4">
            <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h4">Meet our Team</h3>
        </a>
        <a class="callout color blue flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h4">Contact Us</h3>
        </a>
          </aside>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/ccid-footer.twig" %}