<div class="grid-container">
    <div class="grid-x">
        <div class="cell tab-container color large-6">
            <ul class="tabs" data-tabs id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
                <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Tab 2</a></li>
                <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Tab 3</a></li>
                <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Tab 4</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut
                        in
                        nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor
                        neque eu
                        tellus rhoncus ut eleifend nibh porttitor.</p>
                </div>
                <div class="tabs-panel" id="panel2">
                    <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut
                        in
                        nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor
                        neque eu
                        tellus rhoncus ut eleifend nibh porttitor.</p>
                </div>
            </div>
        </div>
    </div>
</div>