{% include "@components/header-prototypes/header-facility-space.twig" %}
{% include "@components/navigation-prototypes/navbar-facility-space.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-12 large-9">
                <h1 class="margin-bottom-2">Our Team</h1>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Leigh Ann Kensky</h2>
                        <p class="subheader">Senior Director of Facility Space Planning and Real Estate</p>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-12 large-12">
                                <address>
                                    <div class="loose-list">
                                        <ul class="no-bullet loose-list inline">
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>Kensky@uthscsa.edu</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>210-567-7054</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </address>
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Joseph Tolentino</h2>
                        <p class="subheader"> Facilities Planning Analyst</p>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-12 large-12">
                                <address>
                                    <div class="loose-list">
                                        <ul class="no-bullet loose-list inline">
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>tolentinoj@uthscsa.edu</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>210-567-0525</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <address>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-12">
                        <h2 class="color">University Scheduling</h2>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Rosa Ramirez</h2>
                        <p class="subheader">Academic Programs Coordinator</p>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-12 large-12">
                                <address>
                                    <div class="loose-list">
                                        <ul class="no-bullet loose-list inline">
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>RamirezRS@uthscsa.edu</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>(210) 567-2656</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Sonia Lopez</h2>
                        <p class="subheader">Administrative Asst – Senior</p>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-12 large-12">
                                <address>
                                    <div class="loose-list">
                                        <ul class="no-bullet loose-list inline">
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>LopezS0@uthscsa.edu</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>(210) 567-2655</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">	Judy Villarreal</h2>
                        <p class="subheader">Administrative Asst – Associate</p>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-12 large-12">
                                <address>
                                    <div class="loose-list">
                                        <ul class="no-bullet loose-list inline">
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>villarrealj7@uthscsa.edu</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span>(210) 562-5695</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            </main>
        </div>
    </div>
</section>




{% include "@components/footer-prototypes/facility-space-footer.twig" %}