{% include "@components/header v2/header-superhero-UTD.twig" %}

<section class="hero bleed img-fill full">
  <img src="../../images/utd_hero.jpg" alt="UTD">
  <div class="grid-container extra-roomy">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
          <h1>Welcome to UT Dentistry</h1>
          <p>We are the region’s most comprehensive dental care practice offering routine and advanced oral health care across all dental specialties for patients of every age. Our patients receive care from experienced dentists, renowned specialists, advanced graduate residents or dental students overseen by faculty of our top-ranked School of Dentistry.</p>
    <p><a class="button">Schedule an appointment</a>
    <a class="button ghost">Pay online</a></p>    </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-UTD.twig" %}

<section class="bleed rocky light-beige">
	<div class="grid-container ">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-6 large-6 flex-container">
				<a class="callout color orange flex-child-auto">
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fas fa-tooth fa-stack-1x fa-inverse"></i>
					</span>
					<h3 class="h5">Student Clinic</h3>
					<p>Students in the School of Dentistry, under the close supervision of faculty members, offer dental services at a discounted price in exchange for an extra investment of your time.</p>
				</a>
			</div>
			<div class="cell small-12 medium-6 large-6 flex-container">
				<a class="callout color orange flex-child-auto">
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fas fa-city fa-stack-1x fa-inverse"></i>
					</span>
					<h3 class="h5">Faculty Practice</h3>
					<p>The Faculty Practice at UT Dentistry is staffed by licensed dentists who are also on faculty at the School of Dentistry.</p>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2>Multiple practices providing dental care</h2>
                <p>Because our practices are staffed by dentists on the School of Dentistry faculty, advanced graduate residents and dental students working under supervision, we're able to offer a large number of specialty services at numerous practices. Our dental care patients are given the personalized care and attention they expect in our new world class facility.</p>
              <p><a class="arrow">View a comprehensive list of services</a></p>
              <p>To learn more about our services, please visit our <a class="coward no-underline">practice directory</a>. Patients are also welcome to <a class="coward no-underline">contact us</a> for more information or to schedule an appointment.</p>
            </main>
            <aside class="small-12 medium-4 margin-bottom cell" role="complementary" 
                <div class="grid-x">
                    <div class="callout outline">
        <h3>Referring Providers</h3>
            <p>The new UT Dentistry Referral System is available to all referring providers. Please use the below link to log in and make a patient referral.</p>
            <p><a class="arrow">Log in here</a></p>
            </aside>
        </div>
</div>
            </aside>
        </div>
    </div>
</section>

      </div>
  </div>
</section>

<section class="bleed light-beige">
<div class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell small-12 medium-4 large-2">
      <img src="../../images/christina-utd.jpg" alt="Placeholder">
    </div>
    <div class="cell small-12 medium-6 large-8">
      <blockquote>
        <p>It has been a real pleasure being taken care of at UT Dentistry. The doctors, faculty and staff have been really nice and supporting. The care and treatment I have received here has been wonderful and life-changing.</p>
        <cite>Christina Garcia (Orthodontics Clinic patient)</cite>
      </blockquote>
    </div>
  </div>
</div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>