{% include "@components/header-prototypes/header-tobacco.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 small-12">
				<h1>About Us</h1>
				<p>In keeping with our motto, "We make lives better," UT Health San Antonio is promoting its status as a tobacco-free campus as part of the UT System.</p>
			</div>
      <div class="cell large-5 small-12">
      <img src="../../images/TOBACCO-FREE-RE-DO-small.jpg"></div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
<p>This means that all tobacco products—including but not limited to cigarettes, cigars, pipes, water pipes (hookah), smokeless tobacco, e-cigarettes (vaping pens)—are strictly prohibited inside and outside of buildings and anywhere on campus grounds.</p>
<p>See the full <a class="coward">tobacco-free policy</a>, launched in 2000 and revised in 2017 in the UT Health SA Handbook of Operating Procedures.</p>
<p>While UT Health San Antonio does not require faculty, staff, and students who are tobacco users to quit, the university does have many <a class="coward">resources</a> available for individuals who would like to quit.</p>
<p>You’re also invited to join Quitxt, a text-message or Facebook Messenger program in <a class="coward">English</a> or <a class="coward">Spanish</a> to help young adults quit smoking!</p>
<p><img src="../../images/Quitxt-logo-1a.jpg" alt="quitxt logo" style="float: right"></p>
<p><em>Quitxt</em> provides 24/7 encouragement, advice, and online support to help smokers in South Texas quit smoking and stay quit, thanks to 30-year health researcher Dr. Amelie G. Ramirez and her Institute for Health Promotion Research at UT Health San Antonio.</p>
<p>"As role models for health in San Antonio, we're excited to bring together our university's many quit-smoking resources to help our faculty, staff, and students have the healthiest lives possible," Ramirez said.</p> 
<p><em>Note: Tobacco-Free at UT Health San Antonio provides quit-smoking resources, tips, and information for general knowledge and awareness. We cannot answer personal medical questions or give medical advice. Concerns about a medical condition should be directed to a health care professional.</em></p>
<p>UT Health San Antonio wants to support you in your decision to quit smoking!</p>
<p><strong>Contact us:</strong> <a class="coward">tobaccofree@uthscsa.edu</a></p>
<div class="social">
   <ul>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
         </a>
         </span>
      </li>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
</div>
            </main>
            <aside class="small-12 medium-4 cell">
                        <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-smoking-ban fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Quitxt Program</h3>
            </a>
            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tobacco-footer.twig" %}