{% include "@components/header-prototypes/header-GSBS.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://uthscsa.edu/biomedical-sciences/sites/biomedical-sciences/files/2023-12/MicrosoftTeams-image%20%2845%29.png" alt="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-5 large-offset-7 small-12">
                <div class="callout">
                    <h1>GSBS BioMed Career Fest</h1>
                    <p><strong>Date:</strong> April 19, 2023<br><strong>Location:</strong> UT Health San Antonio Long Campus<br><strong>Time:</strong> 9AM-6PM</p>
                    <p><a href="https://uthscsa.edu/biomedical-sciences/student-life/biomed-careerfest/registration" class="button">Register to attend</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-GSBS.twig" %}


<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="https://uthscsa.edu/biomedical-sciences/student-life">Student Life</a></li>
      <li><a href="#">Events</a></li>
      <li>
        <span class="show-for-sr">Current: </span> GSBS BioMed Career Fest
      </li>
    </ul>
  </nav>
<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <h2>Purpose</h2>
            <ul>
                <li>To provide the San Antonio student community with life science career opportunities both within and outside of Academia </li>
                <li>To engage life sciences graduate students and postdocs in networking opportunities and to help them connect with people of interest that could benefit their careers </li>
            </ul>
            <h2>At BioMed Career Fest, you will have the opportunity to</h2>
            <ul>
                <li>Explore life science career options</li>
                <li>Learn industry tips from experts during the career development seminar</li>
                <li>Join in two roundtable networking sessions that cover eight career paths</li>
                <li>Practice and compete in the student elevator-pitch competition</li>
                <li>Get your professional headshot taken</li>
                <li>Enjoy food and refreshments during the social networking hour</li>
            </ul>
            <p><a class="button" href="https://uthscsa.edu/biomedical-sciences/student-life/biomed-careerfest/registration">Register to attend</a></p>
        </div>
        <aside class="cell large-4 medium-4 small-12">
            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                <li><a href="#">Event Overview</a></li>
                <li><a href="https://uthscsa.edu/biomedical-sciences/student-life/biomed-careerfest/registration">Registration</a></li>
                <li><a href="https://uthscsa.edu/biomedical-sciences/student-life/biomed-careerfest/registration/attendee-info">Attendee Information</a></li>
                <li><a href="https://uthscsa.edu/biomedical-sciences/student-life/biomed-careerfest/registration/recruiter-info">Recruiter Information</a></li>
                <li><a href="https://uthscsa.edu/biomedical-sciences/student-life/biomed-careerfest/agenda">Agenda</a></li>
                <li><a href="https://uthscsa.edu/biomedical-sciences/student-life/biomed-careerfest/accommodations">Accomedations</a></li>
                <li><a href="https://uthscsa.edu/biomedical-sciences/student-life/biomed-careerfest/event-partners">Event Partners</a></li>
            </ul>
              
            <div class="margin-bottom">
                <h2 class="ruled h3">Important Dates</h2>
                <div class="event">
                    <div class="date">
                        <div class="month">nov</div>
                        <div class="day">01</div>
                    </div>
                    <div class="details">
                        <div class="name">Registration Deadline</div>
                        <div class="date">November 1, 2024</div>
                    </div>
                </div>
            </div>

            <div>
                <h2 class="ruled h3">Target Audience</h2>
                <p>Current GSBS students, faculty, and staff</p>
            </div>

            <div>
                <h2 class="ruled h3">Event Contact</h2>
                <address>
                    <strong>Christopher Frei, Pharm.D.</strong><br>
                    <a href="#">freic@uthscsa.edu</a><br>
                    210-567-8371
                </address>
            </div>
            <a class="callout color" href="../../patterns/prototypes-OPA-postdoc-positions/prototypes-OPA-postdoc-positions.rendered.html">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-check-circle fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Stay Connected</h3>
                <p>Join our email list to receive the latest updates on BioMed Career Fest!</p>
            </a>
        </aside>
       
    </div>
</main>


<section class="bleed color blue">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell large-6 medium-6 small-12">
                <h2>You're Invited: BioMed Career Fest</h2>
                <div class="responsive-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CT2QXwOW-PY?si=j82EUC_7f_HBDk6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="cell large-6 medium-6 small-12">
                <h2>History</h2>
                <p>The inaugural BioMed Career Fest was held in April 2023. The event was hosted by the GSBS Office of Student Success and <a href="https://www.enventure.org/about">Enventure-SA</a>. BioMed Career Fest provides opportunities for students to build one-one-one connections with biomedical professionals in both academia and industry. This program provides opportunities for students to explore potential career paths. It also offers advanced graduate students an opportunity to meet with industry recruiters as they begin their career transitions. A total of 178 people RSVP’d for BioMed Career Fest 2023 and the university welcomed over 28 scientists to our campus for informational interviews with students.</p>
            </div>
        </div>
</section>

{% include "@components/footer-prototypes/GSBS-footer.twig" %}