<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Our Dentists</a></li>
                    <li><a href="#">Our Practices</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Make An Appointment</a></li>
                    <li><a href="#">Pay Online</a></li>
                    <li><a href="#">Referring Providers</a></li>
            </ul>
        </div>
    </div>
</nav>