{% include "@components/header-prototypes/header-tchatt.twig" %}
<section class=" hero bleed img-fill">
    <img src="https://placedog.net/1920/1080" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right roomy">
            <div class="small-12 medium-5 cell callout">
                <h1>CPAN & TCHATT</h1>
                <p>Pommy ipsum driving a mini bit of alright what a load of guff bog off, bugger flip flops on't goggle
                    box argy-bargy. Done up like a kipper got a lot of brass on the beat pants smeg head it's the bees
                    knees nutter, a bit miffed could murder a pint up the duff a right corker superb, well chuffed ask
                    your mother if it's the bees knees Elementary my dear Watson squirrel.</p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tchatt.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <a class="card cell small-12 medium-5 large-5 light-beige">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h3 sans-serif">CPAN</h2>
                    <p>Pommy ipsum copper it's the bees knees copped a bollocking nowt River Song rubbish Geordie, bog
                        roll Victoria sponge cake copped a bollocking snotty nosed brat knows bugger all about nowt who
                        brought loaf crumpets.</p>
                </div>
            </a>

            <a class="card cell small-12 medium-5 large-5 light-beige">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h3 sans-serif">TCHATT</h2>
                    <p>Bob's your uncle meat and two veg chin up Kate and Will bargain Betty leisurely Doctor Who,
                        sorted it any road, best be off fish fingers and custard alright duck. See a man about a dog
                        fancied a flutter cockney damn throw a paddy gutted, supper fork out River Song 'tis rivetting
                        stuff who brought loaf.</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-6">
                <h2>Meet our Team</h2>
                <p>Pommy ipsum laughing gear clotted cream anorak, marvelous round our gaff bovver boots ask your
                    mother if don't get your knickers in a twist, old girl how's your father some mothers do 'ave 'em.
                    Knackered
                    any road, best be off sling one's hook knee high to a grasshopper i'll be a monkey's uncle
                    wibbly-wobbly
                    timey-wimey stuff scarper.</p>

                <p><a class="button">Our Team</a></p>
            </div>

            <div class="cell small-12 medium-6">
                <div class="responsive-embed">
                    <iframe width="409" height="256" src="https://www.youtube.com/embed/x7JZkBprJh8"
                        title="Project ECHO" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-6">
                <h2 class="h3 blue">Our Partners</h2>
                <p>Pommy ipsum not some sort of dosshouse on a stag do sling one's hook flabbergasted fancy a cuppa a
                    right toff slap-head jolly get away with ya cheesed off, chin up atrocious fish and chips tally-ho
                    completely starkers bossy britches</p>
                <div class="arrow loose-list">
                    <ul>
                        <li><a href="#">Partner 1</a></li>
                        <li><a href="#">Partner 2</a> </li>
                        <li><a href="#">Partner 3</a></li>
                        <li><a href="#">Partner 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell medium-6 small-12 flex-container">
                <div class="callout outline flex-child-auto">
                    <p class="text-center"><i class="far fa-envelope-open fa-4x"></i></p>
                    <p>Pommy ipsum fancied a flutter brown sauce jammy git skive, one would be honoured to pezzy little
                        terribly. Trouble and strife cockney a cracking Amelia Pond mush a diamond geezer Union Jack, a
                        right royal knees up ever so lost her marbles plum pudding.</p>
                    <form>
                        <label>Name
                            <input type="text">
                        </label>
                        <label>Email
                            <input type="text">
                        </label>
                    </form>
                    <p class="text-center"><a href="#" class="button">Subscribe</a></p>
                </div>
            </div>
        </div>
</section>