{% include "@components/header-prototypes/header-arfa.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Giving</h1>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-arfa.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">

                <p>All gifts, in all forms, are significant to UT Health San Antonio. Whether you make a gift of cash,
                    stock, or another asset, you can direct your gift to a specific School or program at UT Health San
                    Antonio that is of particular interest to you.</p>

                <p>This section provides you with information about the many ways you can make a contribution to UT
                    Health San Antonio. If you want to make a gift now, please go to our secure online giving page.</p>
                <form>

                    <h2 class="h3">Make a Donation</h2>
                    <legend>Gift Type</legend>
                    <input type="radio" name="radio" value="1" id="formRadio1" required=""><label for="formRadio1">One
                        Time</label>
                    <input type="radio" name="radio" value="2" id="formRadio2"><label for="formRadio2">Recurring</label>
                    <label>Designation<span class="required">*</span>
                        <select>
                            <option value="1">ARFA Endowed Scholarship</option>
                            <option value="2">ARFA General Donation</option>
                        </select>
                    </label>


                    <p><a href="#" class="button">Submit</a></p>
                </form>

                <h2 class="h3">Other Ways to Give</h2>
                <p>Please visit <a href="https://giftplanning.uthscsa.edu/">https://giftplanning.uthscsa.edu/</a> for
                    more ways to give including but not limited to:</p>
                <ul>
                    <li>Gift of Stocks</li>
                    <li>Estate & Gift Planning</li>
                    <li>Gifts from Your Will</li>
                    <li>Donor Advised Funds and more</li>
                </ul>

                <p>Please call us at <a href="tel:210-567-9219">210-567-9219</a> and email us at <a
                        href="mailto:Give@uthscsa.edu">Give@uthscsa.edu</a> for more information.</p>
            </main>


            <aside class="small-12 medium-4 cell">
                <div class="callout">
                    <div class="arrow">
                        <ul>
                            <li><a href="https://wp.uthscsa.edu/corporate-relations/">Corporate & Foundation
                                    Relations</a></li>
                            <li><a href="http://giftplanning.uthscsa.edu/">Gift & Estate Planning</a></li>
                        </ul>
                    </div>
                </div>
                <h2 class="h4">To mail in a check</h2>
                <p>Office of Institutional Advancement<br>7703 Floyd Curl Drive MC 7835<br>San Antonio, TX
                    78229-3900</p>
                <p>Please make all checks payable to <strong>UT Health San Antonio</strong>
                    and include the area or designation you wish to supporton the memo line.</p>
            </aside>
        </div>
    </div>
</section>


{% include "@components/footer-prototypes/arfa-footer.twig" %}