{% include "@components/header-prototypes/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/son-smart/homepage-banner.jpg" alt="doctor">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 large-5">
        <div class="callout">
          <h1 class="h2">The Center on Smart and Connected Health Technologies</h1>
          <p>We empower our dedicated faculty and students with cutting-edge technologies and a profound understanding
            of the human element to improve the well-being and health outcomes.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SON.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Research</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Connecting Health Technology
    </li>
  </ul>
</nav>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-4 card beige flex-container flex-dir-column">
        <div class="card-section flex-child-auto">
          <img src="https://picsum.photos/534/300">
          <h4>About Smart Center</h4>
          <p>Our commitment to the essential human factor in healthcare delivery ensures our solutions prioritize the
            unique needs, experiences, and values of every patient, their families, and their community.</p>
          <div class="flex-child-auto">
            <p><a href="#" class="button">Learn more about Smart Center</a></p>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-4 card beige flex-container flex-dir-column">
        <div class="card-section flex-child-auto">
          <img src="https://picsum.photos/534/300">
          <h4>Research Resources</h4>
          <p>We foster innovation and collaboration to support academic institutions, community and healthcare
            professionals at various stages of research, development, and implementation.</p>
          <div class="flex-child-auto">
            <p><a href="#" class="button">Learn more about Research Resource</a></p>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-4 card beige flex-container flex-dir-column">
        <div class="card-section flex-child-auto">
          <img src="https://picsum.photos/534/300">
          <h4>South Texas Connected Health Living Lab</h4>
          <p>We offer a large repository of data from mobile, wearable, and remote monitoring devices. We engage
            communities to recruit adults with chronic conditions, seniors, and multilingual individuals to test
            innovative health solutions in real world.</p>
          <div class="flex-child-auto">
            <p><a href="#" class="button">South Texas Connected Health Living Lab</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bleed light-grey">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-7 large-8">
        <h2>Featured News & Events</h2>
        <h4 class="h5 sans-serif">School of Nursing holds successful grand reopening of Smart Center</h4>
        <p>The University of Texas Health Science Center at San Antonio School of Nursing’s Office of Nursing Research
          and Scholarship hosted the grand reopening of the Center for Smart and Connected Health Technologies (Smart
          Center) on Feb. 23.</p>
        <p><a class="arrow">Learn More</a></p>
      </div>
      <div class="cell medium-5 large-4">
        {% include "@components/dates/long-event.twig" %}
            <br>
            {% include "@components/dates/long-event.twig" %}
            <br>
            <p><a class="arrow">All events</a></p>
      </div>
    </div>
  </div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-spaced align-middle">
      <div class="cell small-12 medium-5 large-2 align-self-middle text-center">
        <i class="fas fa-envelope-open-text fa-10x"></i>
      </div>
      <div class="cell small-12 medium-7 large-10">
        <h2>Contact Us</h2>
        <p>To learn more about Center for Smart and Connected Health Technologies, please
          email <a>smartcenter@uthscsa.edu</a></p>
      </div>
    </div>
  </div>
</section>
<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San
              Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in
            <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care
            including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website
            (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their
            content, or products and services associated with those sites. The content on this website is intended to be
            used for informational purposes only. Health information on this site is not meant to be used to diagnose or
            treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>