{% include "@components/header-prototypes/header-VPResearch.twig" %}
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Facilities & Resources</a></li>
    <li><a href="#">Core Labs</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Bioanalytics and Single-Cell Core (BASiC)
    </li>
  </ul>
</nav>

<section class="grid-container">

    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12">
            <h1>Bioanalytics and Single-Cell Core (BASiC)</h1>
            <p>Bioanalytics and Single-Cell (BASiC) Core provides standardized, high-quality services to support translational research, including pre-analytical biospecimen single-cell processing and isolation procedures, as well as translational multiplexing analytical technologies.</p>
            <p>Specializing in single-cell (sc) technologies at the genomic and proteomic levels</p>
            <div class="indent-list loose-list">
                <ul>
                    <li>C1 cell isolation and processing system (Fluidigm)
                        <ul>
                            <li>sc processing for whole genome seq and RNA-seq</li>
                            <li>sc processing for microfluidic PCR gene expression</li>
                            <li>sc processing for epigenetic ATAC-seq</li>
                        </ul>
                    </li>
                    <li>Biomark microfluidic PCR (Fluidigm)
                        <ul>
                            <li>48 x48 IFCs (48 gene expression in 48 single cells)</li>
                            <li>96 x96 FCs (96 gene expression in 96 single cells)</li>
                            <li>Other IFC formats, including 12 x12 arrays, etc.</li>
                        </ul>
                    </li>
                    <li>Helios CyTOF mass cytometry (Fluidigm)
                        <ul>
                            <li>Multiplex assay of up to 50 protein markers in a cytometry format</li>
                            <li>In-house and commercial antibody panels available (include cancer and immune panels, etc)</li>
                            <li>Customized antibody panel service – Maxpar® metal-antibody conjugation</li>
                            <li>Sample barcoding (up to 20 samples) allowing for high throughput analysis</li>
                        </ul>
                    </li>
                    <li>Atomic force microscopy for nano-physical characterization of cells: includes cell topography and nano-mechnical imaging (QNM), adhesiveness, elasticity, etc; cell surface marker scanning; cell-cell interactions</li>
                    <li>sc Bioinformatics services for genomic and proteomic data (includes tSNE, PCA, trajectory, phenographs, etc) and figure generation</li>
                    <li>Additional services includes multiplexing bulk sample platforms:
                        <ul>
                            <li>FlexMap Luminex bead arrays multiplexing for cytokines, chemokines, adipokines, etc</li>
                            <li>High throughput pyrosequencing (SNP and DNA methylation)</li>
                            <li>WES capillary Westerns –automated Western blotting (3 hours), digital output.</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <p>Funds for the <a href="https://uthscsa.corefacilities.org/service_center/show_external/3538/bioanalytics-and-single-cell-core">BASiC Core</a> were leveraged by a $3.3M core facility grant from the <a href="https://www.cprit.state.tx.us/">Cancer Prevention and Research Institute of Texas (CPRIT)</a> awarded to Dr. Tim Huang, Professor, and Chairman, Department of Molecular Medicine, to advance research at the single-cell level for the diagnosis and treatments of cancer. Dr. Huang, who also serves as Deputy Director of the Cancer Therapy and Research Center (CTRC), envisions a core that not only focuses on cancer projects but could also support researchers in areas of scientific investigation beyond cancer.  Dr. Nameer Kirma, Associate Professor Research, Department of Molecular Medicine, serves as the new director of the BASiC core. Core staff includes Lab Manager Dr. Chiou-Miin Wang.</p>

        </main>
        <aside class="cell large-4 medium-4 small-12">
            <img src="https://lsom.uthscsa.edu/molecular-medicine/wp-content/uploads/sites/121/2020/03/Dr-Kirma-74.jpg">
            <br>
            <div class="callout contact outline">
                <h2 class="h4">Contact us</h2>
                <ul class="fa-ul">
                    
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> 
                            <span class="">210-562-4068</span>
                        </a>
                    </li>
                    <li>
                        Nameer Kirma, Ph.D.
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </span>
                            <span class="">kirma@uthscsa.edu</span>
                        </a>
                    </li>
                    <li>
                        Chiou-Miin Wang
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </span>
                            <span class="">wangc10@uthscsa.edu</span>
                        </a>
                    </li>
                </ul>

                
            </div>

            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Access core services</h3>
                <p>To access BASiC core services, please register/login to the iLab portal</p>
            </a>

        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}