{% include "@components/header-prototypes/header-src.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 large-7 medium-7 cell">
            <h1>Course Electives</h1>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-src.twig" %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-8 medium-8 small-12">
      <p class="close"><strong><a href="http://studentrunclinics.org/PDF/INTD4015_Syllabus.pdf">INTD 4015: Humanism in Medicine Fellowship</a></strong></p>
      <p>This is a longitudinal 4th-year elective to support and nourish the inherent altruism of our students. This fellowship brings together like-minded students and faculty who have a passion for caring for the medically underserved in our community. The students will take a leadership role in managing and directing the Student Faculty Collaborative Practices. Clinical experiences will be at these clinics. There are monthly seminars in which students and faculty meet to discuss their experiences and projects in the clinics.</p>

      <p class="close"><strong><a href="http://studentrunclinics.org/PDF/ELEC5041_Syllabus.pdf">ELEC 5041: Homelessness, Addiction, and How to Better Care for Patients</a></strong></p>
      <p>This longitudinal elective spans the whole academic year. This course is for First- and Second-Year students with a special interest in learning about issues of homelessness and addiction, and how these relate to the provision of healthcare to underserved and vulnerable populations. Students work in our Student Faculty Collaborative Practices throughout the year. Completion results in this course being listed on your transcript.</p>
    </section>
    <aside class="cell large-4 medium-4 small-12">
      <!--<img src="http://placekitten.com/500/300">-->
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gsX6AkBacMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </aside>
  </div>
</div>




{% include "@components/footer-prototypes/src-alamo.twig" %}