<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
    <!-- Quicklinks Content -->
    <div class="title-bar quicklinks">
        <div class="title-bar-left">
            <p><a href="#" data-close="offCanvasRight"><i class="fas fa-times"></i> Quicklinks</a></p>
            {% include "@components/formElements/search-box.twig" %}
            <h4>Police Links/Forms</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="/police/crime-report-form">Security Authority Crime Reporting/Form</a></li>
                    <li><a href="/sites/default/files/police/CampusSecurityAuthorityPrePostTest.pdf">Security Authority
                            Pre/Post Test</a></li>
                    <li><a href="/police/background-checks">Background Checks</a></li>
                    <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40799">Panic
                            Alarm Request</a></li>
                    <li><a href="/police/training/rape-aggression-defense">Rape, Aggression, & Defense</a></li>
                    <li><a href="https://atsvid.uthscsa.edu/Mediasite/Catalog/catalogs/ut-police-campus-videos">Campus
                            Safety Videos</a></li>
                    <li><a href="/police/comp-form">Compliment and Complaint</a></li>
                </ul>
            </div>
            <h4>Documentation</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="/sites/default/files/police/pd_org_chart_2019.pdf">Organization Chart</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/4.4.1.pdf">HOP 4.4.1 Criminal Records</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/4.4.2.pdf">HOP 4.4.2 Sanction Checks</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/8.2.3.pdf">HOP 8.2.3 Alcoholic Beverages on Campus</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/8.7.4.pdf">HOP 8.7.4 Found Property</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/8.7.7.pdf">HOP 8.7.7 Security Sensitive Checks</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/8.7.8.pdf">HOP 8.7.8 Parking</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/8.7.9.pdf">HOP 8.7.9 Key/Card Key</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/8.7.10.pdf">HOP 8.7.10 ID Badge Policy</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/8.7.11.pdf">HOP 8.7.11 Contract/Vendor</a></li>
                    <li><a href="https://uthscsa.edu/hop2000/8.7.12.pdf">HOP 8.7.12 Industry Auditor & Visit</a>
                    </li>
                </ul>
            </div>
            <h4>Parking/Access & Additional Forms</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="/police/map">Campus Maps/Directions</a></li>
                    <li><a href="https://cbord.uthscsa.edu">Report a Lost Access Card</a></li>
                    <li><a
                            href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet.aspx?ID=40783">Access
                            Request Form</a></li>
                    <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40790">Key
                            Request Form</a></li>
                    <li><a href="https://hscparking.t2hosted.com/cmn/index.aspx">Citation Appeal Form</a></li>
                    <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40792">Lost
                            Keys</a></li>
                    <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40793">Lost
                            Parking Permit</a></li>
                    <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40785">Bike
                            Registration</a></li>
                    <li><a href="https://www.uthscsa.edu/sites/default/files/police/parkingtrafficregs.pdf">Parking and
                            Traffic Rules &amp; Regulations</a></li>
                    <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40802">Special
                            Events Worksheet</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>