{% include "@components/header-prototypes/header-SOD.twig" %}
<section class="hero bleed img-fill extra-roomy">
  <img src="../../images/SOD-Researchers-anibal.jpg" alt="Dr.Anibal and patient">
  <div class="grid-container">
		<div class="grid-x grid-margin-x align-right">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
          <h1>Meet Anibal Diogenes, D.D.S., Ph.D.</h1>
          <p>Dr. Diogenes is leading a clinical trial to bring dying teeth back to life through endodontic regeneration. </p>
          <p><a class="button">Dr. Diogenes’ story</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SOD.twig" %}
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-10 cell text-center">
            <h2>School of Dentistry Researchers</h2>
              <p><a class="button">Meet our Research Team</a></p>
        </div>
    </div>
</section>
<section class="bleed light-grey noise">
  <div class="grid-container">
  <div class="text-center">
  <h3>By the Numbers</h3>
  <h5>Our researchers are collaborating with scientists worldwide to advance research in oral health care.</h5>
    <div class="grid-x text-center align-center factoids">
      <div class="cell large-3">
        <p class="h2">4,700+</p>
        <p>articles published in peer-reviewed journals by our researchers and faculty.</p>
      </div>
      <div class="cell large-3">
        <p class="h2">The role
        </p>
        <p>of oxidized metabolites of linoleic acid as a pain target are currently being studied after burn injury with funding from the National Institutes of Health.</p>
      </div>
      <div class="cell large-3">
        <p class="h2">Rank #7
        </p>
        <p>of all academic institutions receiving National Institutes of Health Funding</p>
      </div>
      <div class="cell large-3">
        <p class="h2">$12 million
        </p>
        <p>in NIH support goes toward clinical research understanding the relationship of diabetes and oral health in San Antonio.</p>
      </div>      
    </div>
  </div>
</section>
<section class="bleed grey">
<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell small-12 medium-4 large-2">
				<img src="../../images/aalia_farukhi_programs.jpg" alt="Aalia Farukhi">
			</div>
			<div class="cell small-12 medium-6 large-8">
				<blockquote>
					<p>Things you hear about on the news are right here at your fingertips.</p>
					<cite>Aalia Farukhi</cite><br>
          				<p><a href="#" class="button">Read more about Aalia Farukhi</a></p>
				</blockquote>
			</div>
		</div>
	</div>
  </section>
<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>