{% include "@components/header-prototypes/header-tobacco.twig" %}
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h1 class="h2">Anonymous Reporting Tool</h1>
<p>If you notice an area at UT Health San Antonio that is regularly used as a “smoke break” area by one person or a group of people, or if you notice a particular individual who is using tobacco on campus at any time, please use the anonymous reporting tool to let us know.</p>

<p>We will use this information to identify problematic areas on campus and come up with appropriate plans to deal with the violations of our tobacco-free policy.</p>

<p>Thank you for helping us keep UT Health San Antonio tobacco free.</p>

<p><a class="arrow">Click Here to Make an Anonymous Report</a></p><br>

<p><strong>We need to know:</strong></p>

<p>How often does the violation take place?</p>

   <ul><li> Multiple times a day</li>
    <li>Every day</li>
    <li>A few days a week</li>
    <li>Only on weekends</li>
    <li>I don’t know, I’m just reporting an incident taking place now</li></ul>

<p>What time does the violation usually take place?</p>

   <ul> <li>8am-10a</li>
    <li>10am-12pm</li>
    <li>12pm-2pm</li>
    <li>2pm-4pm</li>
    <li>4pm-6pm</li>
    <li>After 6pm</li>
    <li>I’m reporting an incident taking place right now</li></ul>

<p>Describe the area where the violation is taking place (for example, you could say: behind the Holly auditorium, on the lawn in front of the dental school, by parking garage B)</p>

<p>Product(s) being used</p>

   <ul> <li>Cigarette, cigar</li>
    <li>Vape pen/e-cigarette</li>
    <li>Smokeless tobacco</li></ul>

<p>Occupation of the individual</p>
<ul>
   <li> Student</li>
    <li>Faculty & Staff</li>
    <li>Visitor</li>
    <li>Contractor/Vendor</li>
   <li> I don’t know</li></ul>

<p>If you have any additional comments or concerns, <a class="coward">please submit them.</a></p>

<p>UT Health San Antonio wants to support you in your decision to quit smoking!</p>
<p><strong>Contact us:</strong> <a class="coward">tobaccofree@uthscsa.edu</a></p>
<div class="social">
   <ul>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
         </a>
         </span>
      </li>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
</div>
            </main>
            <aside class="small-12 medium-4 cell">
            <div class="text-center margin-bottom">
                        <img src="../../images/smoking-bans.png"></div>
             <div class="callout outline flex-child-auto">
                <h3>About Us</h3>
                <p>UT Health San Antonio wants to support you in your decision to quit smoking! Please use our resources and tools to quit, or let us know how we can help you: <a>tobaccofree@uthscsa.edu.</a></p>
            </div>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}
