{% include "@components/header-prototypes/header-tcmhcc.twig" %}
{% include "@components/navigation-prototypes/navbar-tcmhcc-2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-7 large-8 cell">

                <h1>Frequently Asked Questions</h1>

                <h2 class="h4 color margin-top">Who does TCHATT serve?</h2>
                <ul>
                    <li>K-12 students and families in partnered school districts in the south-central Texas region and
                        beyond.</li>
                </ul>
                <h2 class="h4 color">How does TCHATT help students?</h2>
                <ul>
                    <li>TCHATT serves children with symptoms or diagnosis of a variety of conditions, including but not
                        limited to:
                        <div class="indent-list">
                            <ul>
                                <li>Depression</li>
                                <li>Anxiety</li>
                                <li>Anger</li>
                                <li>Mood swings</li>
                                <li>Self-harm or suicidal thoughts</li>
                                <li>Family/peer problems</li>
                                <li>Trauma</li>
                                <li>Attention deficit hyperactivity disorder (ADHD)</li>
                                <li>Oppositional defiance</li>
                            </ul>
                        </div>
                    </li>
                    <li>Students may receive psychotherapy, case management, and medication management, if needed</li>
                </ul>
                <h2 class="h4 color">How do I know if I should refer a child to TCHATT?</h2>
                <ul>
                    <li>If a student shows signs of needing mental health support but can wait 3 days or more for an
                        initial
                        appointment, the child can be referred to TCHATT. If the student’s condition requires immediate
                        follow-up within the next 3 days, refer to a local crisis center instead of TCHATT.</li>
                    <li>If a student does not have a current provider but is in need of therapy services and/or
                        medication
                        management</li>
                </ul>
                <h2 class="h4 color">How much do TCHATT services cost?</h2>
                <ul>
                    <li>TCHATT is free! TCHATT services are state funded and are offered for free to students in
                        partnered
                        school districts.</li>
                </ul>
                <h2 class="h4 color">What sort of commitment does TCHATT require of parents?</h2>
                <ul>
                    <li>Parents are expected to log into every virtual visit with their child. However, parents may not
                        be
                        expected to stay for the duration of the student’s therapy visit. All medication management
                        visits must
                        be attended by the parent/guardian.</li>
                </ul>
                <h2 class="h4 color">What is a school-based appointment?</h2>


            </main>

            <aside class="cell small-12 medium-5 large-4">
                <a class="callout color orange flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-share fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Referral Process</h3>
                </a>
                <div class="callout outline blue">
                    <h2 class="h4 text-center">Contact Us</h2>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">TCHATT@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">(210) 567-5460</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">Facebook Page</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i></span>
                                </span> <span class="">@twitter_handle</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}