{% include "@components/header-prototypes/header-barshop.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-8 medium-8 small-12">
				<h1>Cores</h1>
                <p>The Barshop Institute hosts several service cores through our Nathan Shock Center and Claude D. Pepper Center.</p>
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-barshop.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        
        <div class="cell large-6 medium-6 small-12 flex-container">
            <a class="callout color orange flex-child-auto" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                </span>
                <h3>San Antonio Nathan Shock Center Cores</h3>
                <p>Through our six research cores, we foster rigorous aging research and feature exceptional and tightly integrated resources in geroscience to pursue translational opportunities in improving aging health</p>
            </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
            <a class="callout color blue flex-child-auto" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-stethoscope fa-stack-1x fa-inverse"></i>
                </span>
                <h3>San Antonio Claude D. Pepper OAIC Cores</h3>
                <p>The mission of the San Antonio OAIC is to establish a thriving interdisciplinary research program to promote healthy aging in people.</p>
            </a>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/barshop-footer.twig" %}