<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
  <!-- Quicklinks Content -->
  <div class="title-bar quicklinks">
    <div class="title-bar-left">
      <p><a href="#" data-close="offCanvasRight"><i class="fas fa-times"></i> Quicklinks</a></p>
      {% include "@components/formElements/search-box.twig" %}
            
      <div class="no-bullet arrow loose-list">
        <h2>Institutional Core Labs</h2>
        <ul>
          <li><a href="https://uthscsa.corefacilities.org/landing/36">iLabs</a></li>
          <li><a href="https://uthscsa.corefacilities.org/service_center/show_external/3538?name=bioanalytics-and-single-cell-core">Bioanalytics & Single-Cell</a></li>
          <li><a href="https://uthscsa.corefacilities.org/service_center/show_external/3537?name=uthsa-biobanking-and-genome-analysis">Biospecimen and Translational Genomics</a></li>
          <li><a href="https://uthscsa.corefacilities.org/service_center/show_external/3545?name=ut-health-san-antonio-flow-cytometry-core-facility">Flow Cytometry</a></li>
          <li><a href="https://uthscsa.corefacilities.org/service_center/show_external/3539?name=uthsa-mass-spectrometry-laboratory">Mass Spectrometry</a></li>
          <li><a href="https://uthscsa.corefacilities.org/service_center/show_external/3520?name=uthsa-optical-imaging-facility">Optical Imaging</a></li>
          <li><a href="https://uthscsa.corefacilities.org/service_center/show_external/3541?name=uthsa-nmr-screening">Structural Biology (NMR)</a></li>
          <li><a href="https://uthscsa.corefacilities.org/service_center/show_external/3542?name=uthsa-x-ray-crystallography">Structural Biology (X-Ray Crystallography)</a></li>
          
        </ul>
        <div class="no-bullet arrow loose-list">
          <h2>Find a Researcher</h2>
          <ul>
            <li><a href="https://uthscsa.influuent.utsystem.edu/en/">Profiles</a></li>
          </ul>
        </div>
        <!--<div class="no-bullet arrow loose-list">
          <h2></h2>
          <ul>
            <li><a href=""></a></li>
          </ul>
        </div>-->
      </div>
    </div>
  </div>
</div>