{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-2.twig" %}

<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x ">
			<div class="cell small-12 medium-8 large-9">
				<h1>Beverly Crusher, M.D.</h1>
				<p class="text-accent bold"> <i class="fas fa-notes-medical"></i> <em>Accepting New Patients</em></p>
				<div class="grid-x grid-margin-x">
					<div class="cell small-12 medium-6 large-4 small-order-3 medium-order-3 large-order-1">
						<h2 class="h4"> Practice Locations</h2>
						<div>
							<ul class="no-bullet">
								<li><a>Neurosurgery - Medical Arts and Research Center - MARC</a></li>
								<li><a>210-450-9060</a></li>
							</ul>
						</div>
					</div>
					<div class="cell small-12 medium-6 large-4 small-order-1 medium-order-1 large-order-2">
						<h2 class="h4"> Specialities</h2>
						<div>
							<ul>
								<li>Primary care</li>
								<li>Emergency medicine</li>
								<li>Xenobiology</li>
								<li>Transporter psychosis</li>
							</ul>
						</div>
					</div>
					<div class="cell small-12 medium-6 large-4 small-order-2 medium-order-2 large-order-3">
						<h2 class="h4"> Languages</h2>
						<div>
							<ul>
								<li>English</li>
								<li>Spanish</li>
								<li>Klingon</li>
							</ul>
						</div>
					</div>
				</div>
				<p class="black">If you are a patient of Beverly Crusher, you can:</p>
				<div class="loose-list">
					<ul class="no-bullet inline">
						<li>
							<a>
								<span class="fa-stack">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fas fa-comments fa-stack-1x fa-inverse"></i>
								</span>
								<span>Message via MyChart</span>
							</a>
						</li>
						<li>
							<a>
								<span class="fa-stack">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fas fa-calendar  fa-stack-1x fa-inverse"></i>
								</span>
								<span>Request Appointment via MyChart</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="cell small-6 medium-4 large-3">
				<img src="../../images/portrait-dog.jpeg" alt="adorable corgi" class="img-margin">
			</div>
		</div>
	</div>
</section>
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<div class="cell small-12 medium-12 large-12">
				<h2 class="h4"> Qualifications</h2>
				<div class="grid-x grid-margin-x margin-bottom ">
					<div class="cell small-12 medium-6 large-3">
						<div>
							<ul class="no-bullet">
								<li class="bold">Medical School</li>
								<li>Starfleet Medical Academy</li>
							</ul>
						</div>
					</div>
					<div class="cell small-12 medium-6 large-3">
						<div>
							<ul class="no-bullet">
								<li class="bold">Residency</li>
								<li>University of Texas Health Science Center at San Antonio</li>
							</ul>
						</div>
					</div>
					<div class="cell small-12 medium-6 large-3">
						<div>
							<ul class="no-bullet">
								<li class="bold">Fellowships</li>
								<li>University of Texas Health Science Center at San Antonio</li>
							</ul>
						</div>
					</div>
					<div class="cell small-12 medium-6 large-3">
						<div>
							<ul class="no-bullet">
								<li class="bold">Board Certification:</li>
								<li> Federation Board of Family Medicine</li>
								<li>Tellarite Board of Obesity Medicine</li>
							</ul>
						</div>
					</div>
				</div>
				<h2 class="h4"> About Provider</h2>
				<p>
					Commander Beverly C. Crusher, MD (née Howard) was the chief medical officer aboard the USS
					Enterprise-D and its successor, the USS Enterprise-E, both under the command of Captain Jean-Luc
					Picard. She briefly left her post as CMO of the Enterprise-D to become head of Starfleet
					Medical, only to return shortly after. She was a Fellow of the Academy of Starfleet Surgeons
					(Sol Chapter). (TNG: "Encounter at Farpoint", "Attached", "The Child", "Evolution"; TNG-R:
					"Conundrum"; Star Trek: First Contact).
				</p>
				<p>
					As a fully-certified bridge officer, Crusher commanded the Enterprise-D on several occasions,
					most notably in 2370 while nearly the entire crew was searching for Data on a renegade Borg
					planet. The ship was attacked by a Borg vessel, but her quick thinking allowed the Enterprise to
					escape and destroy the Borg ship. (TNG: "Descent", "Descent, Part II") She also occasionally
					commanded night watch shifts in order to stay on top of starship operations. (TNG: "Thine Own
					Self").
				</p>
				<p><a class="arrow">Academic Profile</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="bleed light-beige">
	<div class="grid-container">
		<div class="grid-x margin-x">
			<div class="cell medium-12 large-12">
				<h3>
					Beverly Crusher practices at
				</h3>
			</div>
		</div>
		<div class="grid-x grid-margin-x small-up-1 medium-up-3">
			<div class="cell medium-12 large-4">
				<a class="card cell">
					<img src="https://picsum.photos/400/250" alt="placeholder image">
					<div class="card-section">
						<h4>Location 1</h4>
					</div>
				</a>
			</div>
			<div class="cell medium-12 large-4">
				<a class="card cell">
					<img src="https://picsum.photos/400/250" alt="placeholder image">
					<div class="card-section">
						<h4>Location 2</h4>
					</div>
				</a>
			</div>
			<div class="cell medium-12 large-4">
			</div>
		</div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}