{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>About</h1>
                <p class="large">Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
                <p><a class="button">Faculty Directory</a></p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}
<section class="grid-container">
    <section class="grid-x grid-margin-x">
        <div class="large-8 medium-8 small-12 cell">
            <h2>Mission & Vision</h2>
            <p>Chocolate cheesecake dragée jelly carrot cake macaroon chocolate bar pastry. Chocolate cake macaroon chocolate danish pastry dragée tootsie roll tart. Tart halvah topping macaroon dragée lollipop cotton candy brownie sesame snaps. Brownie jelly pudding dessert sweet fruitcake. Bonbon macaroon chocolate cake candy bear claw lollipop dragée tart candy. Sweet cheesecake cake macaroon ice cream gummies.</p> 
            <p>Marzipan oat cake lemon drops brownie jelly-o jelly beans. Pie fruitcake tootsie roll cheesecake powder jelly caramels pastry dragée. Dragée brownie liquorice cake dragée. Carrot cake liquorice biscuit gingerbread cake cupcake cake. Muffin gingerbread biscuit gummies cupcake. Cheesecake sugar plum sweet chocolate bar muffin muffin. Marzipan fruitcake dessert chocolate cake bonbon biscuit topping. Soufflé bear claw candy dragée cupcake.</p>
            <h2>Charter</h2>
            <p>Bonbon macaroon muffin macaroon liquorice. Pie donut donut macaroon sweet oat cake candy canes marzipan bonbon. Danish tiramisu lemon drops biscuit jelly beans. Cheesecake brownie pie cupcake cheesecake. Lemon drops jelly wafer chocolate cake donut tootsie roll gummies. Sweet bonbon toffee soufflé chocolate cake cake. Danish danish caramels apple pie jelly beans topping. Caramels caramels jelly-o wafer sugar plum danish sugar plum candy. Dessert cheesecake oat cake pie dragée gummi bears. Chocolate bar sesame snaps cookie lemon drops cupcake muffin. Gummies powder dragée cake icing. Jujubes gingerbread gummies marzipan cake macaroon. Chocolate bar tiramisu oat cake cupcake chocolate bar cupcake tart.</p>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Leadership</h3>
            </a>

            <a class="callout color blue">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-list fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Job Openings</h3>
            </a>
        </div>
    </section>
</section>

{% include "@components/footer-prototypes/bewell-footer.twig" %}
