{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>About</h1>
                <p>The Be Well Institute on Substance Use and Related Disorders at UT Health San Antonio is a statewide leader in substance use care, combining clinical treatment, research, workforce development, public health initiatives, and community partnerships to transform lives. Our team collaborates with providers, patients, and community organizations to create sustainable solutions that reduce barriers to care. Our mission is to transform care for substance use and related disorders through innovative, compassionate, and evidence-based approaches.</p>
                <p><a class="button">Faculty Directory</a></p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}
<section class="grid-container">
    <section class="grid-x grid-margin-x">
        <div class="large-8 medium-8 small-12 cell">
            <h2>Key Initiatives</h2>
            <p class="close"><strong>Be Well Clinic</strong></p>
            <p>A virtual and in-person facility offering low-barrier treatment, recovery support, telehealth, transportation assistance, and mail-order pharmacy services. <a class="arrow" href="https://bewelltexasclinic.org/">Schedule an appointment or make a referral</a></p>
            <p class="close"><strong>Be Well Texas Provider Network</strong></p>
            <p>A collaboration of 160+ locations providing treatment, recovery support, and hospital referrals to ensure access to quality care statewide. <a class="arrow">Visit Be Well Texas</a> </p> 
            <p class="close"><strong>Clinical Research Unit</strong></p>
            <p>Leading cutting-edge trials to develop groundbreaking treatments for substance use disorders. <a class="arrow" href="https://bewelltexas.org/">Learn more about our research</a></p> 
            <p class="close"><strong>Workforce Development</strong></p>
            <p>Training healthcare professionals through free, evidence-based education via the Center for Substance Use Training & Telementoring. <a class="arrow" href="https://c-stat.uthscsa.edu/">Visit C-STAT</a></p> 
            <p class="close"><strong>Public Health & Prevention</strong></p>
            <p>Programs like Naloxone Texas, distributing free naloxone and overdose prevention training. <a class="arrow" href="http://www.naloxonetexas.com/">Visit Naloxone Texas</a></p> 
            <p class="close"><strong>Healthcare Communications</strong></p>
            <p> Reducing stigma and connecting Texans to recovery resources through outreach and education. <a class="arrow" href="https://linktr.ee/bewelltexassocial">Follow us on social</a></p> 

            <p>By driving research, training future leaders, and fostering collaboration, the Be Well Institute is setting a new national standard for compassionate, science-driven substance use care. </p>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Leadership</h4>
            </a>

            <a class="callout color blue">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-list fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Job Openings</h4>
            </a>
        </div>
    </section>
</section>

{% include "@components/footer-prototypes/bewell-footer.twig" %}
