{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<div class="grid-container">
    <h1>Basic Page</h1>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
            <p>Marzipan muffin sugar plum marzipan cookie muffin. Jujubes cupcake gummies sweet roll. Sweet
                roll chocolate bar pudding chocolate cake macaroon chocolate bar tiramisu. Sugar plum
                lollipop marshmallow. Lollipop marshmallow soufflé tootsie roll pastry marzipan bonbon lemon
                drops. Fruitcake <a>chocolate cake</a> sesame snaps oat cake. Jelly beans donut cotton candy
                brownie pudding chocolate. Brownie marzipan jelly-o sweet pudding cake sweet. Tart chocolate
                jelly-o chupa chups sesame snaps chocolate apple pie bonbon. Wafer pie sweet brownie cake.
                Jelly beans danish danish jelly chocolate bar pudding jelly-o. Sweet toffee gummies brownie
                muffin brownie. Apple pie danish powder croissant.</p>
            <h2>Cheesecake lollipop</h2>
            <p>Donut jujubes carrot cake tart dessert candy canes chupa chups icing pudding. Muffin marzipan
                candy sugar plum. Fruitcake cookie ice cream. Sweet roll wafer topping. Icing bear claw
                cake. Gingerbread chocolate brownie. Caramels marshmallow caramels biscuit wafer. Chocolate
                lemon drops fruitcake apple pie. Wafer cheesecake caramels powder cotton candy pie
                croissant. Brownie pie donut gummies powder muffin jelly-o dessert chocolate. Tart jelly
                beans apple pie jelly beans. Sesame snaps dessert chocolate cake bonbon.</p>
            <h3>Gingerbread</h3>
            <p>Oat cake pie muffin bonbon powder macaroon cotton candy toffee. Danish candy cake lollipop
                caramels cupcake cake chupa chups. Lemon drops jujubes jelly. Sweet donut marzipan cupcake
                candy canes. Toffee sweet jelly ice cream candy cake. Fruitcake carrot cake danish pastry
                sugar plum candy. Halvah cookie chupa chups jelly-o ice cream. Pudding jelly beans croissant
                chocolate cake pie marzipan. Pie fruitcake gingerbread. Cookie croissant jelly jujubes candy
                pastry biscuit lemon drops lemon drops. Sugar plum danish topping oat cake. Jelly beans
                cotton candy marzipan pie sweet roll. Apple pie jelly beans cookie.</p>
            <h3>Carrot cake</h3>
            <p>Gummi bears danish lollipop sesame snaps macaroon croissant gingerbread chocolate bar.
                Marzipan cotton candy apple pie jujubes chocolate bar caramels soufflé marzipan. Gummi bears
                croissant candy jujubes. Caramels chocolate bar chupa chups carrot cake apple pie topping.
                Marshmallow pie chocolate chocolate cake jelly bonbon. Danish pie lemon drops macaroon
                muffin bear claw dragée. Wafer jelly beans jujubes cupcake jelly beans powder tootsie roll
                gingerbread. Marzipan gummies halvah. Tootsie roll lollipop candy gingerbread jelly beans
                oat cake bonbon topping chocolate. Sesame snaps bear claw dessert cheesecake marshmallow
                sugar plum biscuit gummies. Gummies chocolate cake jelly-o cheesecake soufflé pudding.
                Croissant wafer cookie cotton candy liquorice donut.</p>
        </main>
        <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
            <img src="https://placekitten.com/550/287" class="margin-bottom">
            <div class="callout contact outline">
                <h2>Contact Us</h2>
                <address>
                    UT Health San Antonio<br>
                    7703 Floyd curl Drive, MC 451<br>
                    San Antonio, TX 78229
                </address>
                <ul class="fa-ul stacked">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">210-123-4567</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i></span>
                            </span> <span class="">email@uthscsa.edu</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>

{% include "@blocks/footer/alamo.twig" %}