<div class="off-canvas  position-left quicklinks" id="offCanvasLeft" data-off-canvas>
  <!-- Your menu or Off-canvas content goes here -->
  {% include "@components/formElements/search-box.twig" %}
  <h3>I am a long Heading</h3>
  <ul class="menu vertical">
    <li><a href="#">Link </a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">I'm a link</a></li>
    <li><a href="#">Link Link</a></li>
    <li><a href="#">Long Link Long Link Long Link Link Link</a>
  </ul>
  <h3>I am a long Heading</h3>
  <ul class="menu vertical">
    <li><a href="#">Link </a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">I'm a link</a></li>
  </ul>
  <h3>Heading</h3>
  <ul class="menu vertical">
    <li><a href="#">Link </a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">I'm a link</a></li>
    <li><a href="#">Link Link</a></li>
    <li>
      <h3>Heading</h3>
    </li>
    <li><a href="#">Link </a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">I'm a link</a></li>
    <li><a href="#">Link Link</a></li>
  </ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
  <!-- Your page content lives here -->
  <div class="title-bar">
    <div class="title-bar-left">
      <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
      <span class="title-bar-title">Quicklinks</span>
    </div>
    <div class="title-bar-right">
      <i class="fas fa-star"></i> Part of the University of Texas System
    </div>
  </div>
  <h2>Off-canvas</h2>
  <p>The Off-canvas container also needs a positioning class to determine which side of the viewport it opens from:The
    Off-canvas container also needs a positioning class to determine which side of the viewport it opens from:The
    Off-canvas container also needs a positioning class to determine which side of the viewport it opens from:</p>
</div>