{% include "@components/header-prototypes/header-capital.twig" %}

<section class="hero bleed blur img-fill full">
<img src="../../images/capital/capital_image_3.jpg" alt="building">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Who we are</h1>
        <strong>Mission Statement</strong><br>
<p>The mission of the Capital Projects Office is to provide state of art facility through design and construction management for Major Capital Projects with high quality within the budget and schedule in support of the University of Texas Health Science Center at San Antonio’s mission of Healthcare, Research and Academics.</p>
 <p><a href="#" class="button">CPO Organization Chart</a></p>
      </div>
      <div class="cell large-5 small-12">
<img src="../../images/capital/capital_image_3.jpg" alt="building">
      </div>
      
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-capital.twig" %}

<section class="bleed">
  <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <main class="small-12 medium-7 large-8 cell">
        <h2 class="h3">Vision Statement</h2>
<p>The Capital Projects Office will provide successful delivery of Major Capital Projects through exemplary Design and Construction expertise, and effective collaboration with all institution stakeholders.</p>

<h3>Capital Projects Office</h3>
<p>The Capital Projects Office serves as UTHSCSA’s representative on Major Projects. The University of Texas System Board of Regents has delegated management of major construction to the institution. The institutional president, with advice of the UT System, Executive Vice Chancellor of Health Affairs, is authorized to appoint architects and engineers, and execute contracts for professional services. The institutional president is also authorized to execute construction and related contracts for Major Projects that have been approved for the Definition Phase by the Executive Vice Chancellor for Health Affairs and the Chancellor or authorized by the UT System, Board of Regents in the Capital Improvement Program. Major Projects for new construction and repair and rehabilitation projects are defined in the UT System Regents’ Rules and Regulations as those with a total project cost of $10,000,000 or more.</p>
            </main>
              <aside class="small-12 medium-4 cell">
         <div class="grid-x grid-margin-x">
         <a class="callout color blue cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="report-button">Our Leadership</h3>
                    </a>
          <div class="cell auto card">
            <div class="card-section">
                 <h3 class="h5">Location</h3>
                 <p><strong>Capital Projects Office</strong><br>
                Greehey Campus<br>
                8403 Floyd Curl Drive - MC 7955<br>
                San Antonio, TX 78229-3900<br>
                210-450-3855</p>
        </div></div>
                    </div>
</div>
            </aside>
</div></div></section>

<section class="bleed beige">
<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell small-12 medium-4 large-2">
				<img src="../../images/capital/kazen.png" alt="Kazen">
			</div>
			<div class="cell small-12 medium-6 large-8">
				<blockquote>
					<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within another element like a bleed.</p>
					<cite><a href="#">James D. Kazen, Executive Vice President, Capital Projects Office</a></cite>
				</blockquote>
			</div>
		</div></div>
	</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>