{% include "@components/quicklinks-prototypes/quicklinks-OPA.twig" %}
<header class="title-bar" data-responsive-toggle="header">
    <a href="/patterns/prototypes-OPA-opa-home/prototypes-OPA-opa-home.rendered.html"><img src="../../images/whiteUTHSA_logo.svg"></a>
    <button class="menu-icon" type="button" data-toggle="header">Menu</button>
</header>
<header class="off-canvas-content" id="header" data-off-canvas-content>
    <div class="group">
        <div class="logo">
            <a href="/patterns/prototypes-OPA-opa-home/prototypes-OPA-opa-home.rendered.html"><img src="../../images/logo-opa.svg" alt="UT Health San Antonio Office of Postdoctoral Affairs"></a>
        </div>

        <div class="right">
            <div class="circle-icons">
                <a href="#" data-toggle="offCanvasRight">
                    <span class="fa-stack outline">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Search/Quicklinks</span>
                </a>
            </div>
        </div>
    </div>
    <nav class="nav-bar" id="nav-bar-mobile">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="../../patterns/prototypes-OPA-opa-home/prototypes-OPA-opa-home.rendered.html">Home</a></li>
                    <li><a href="../../patterns/prototypes-OPA-prospectives/prototypes-OPA-prospectives.rendered.html">Prospective Postdocs</a></li>
                    <li><a href="../../patterns/prototypes-OPA-current-postdocs/prototypes-OPA-current-postdocs.rendered.html">Current Postdocs</a></li>
                    <li><a href="../../patterns/prototypes-OPA-opa-faculty/prototypes-OPA-opa-faculty.rendered.html">Faculty Mentors</a></li>
                    <li><a href="../../patterns/prototypes-OPA-opa-admin/prototypes-OPA-opa-admin.rendered.html">Admin Resources</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>