{% include "@components/quicklinks-prototypes/quicklinks-OPA.twig" %}
<header class="title-bar" data-responsive-toggle="header">
    <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
    <button class="menu-icon" type="button" data-toggle="header">Menu</button>
</header>
<header class="off-canvas-content" id="header" data-off-canvas-content>
    <div class="group">
        <div class="logo">
            <a href="#"><img src="../../images/logo-opa.svg" alt="UT Health San Antonio Office of Postdoctoral Affairs"></a>
        </div>

        <div class="right">
            <div class="circle-icons">
                <a href="#" data-toggle="offCanvasRight">
                    <span class="fa-stack outline">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Search/Quicklinks</span>
                </a>
            </div>
        </div>
    </div>
    <nav class="nav-bar" id="nav-bar-mobile">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="opa-home.html">Home</a></li>
                    <li><a href="postdoc-positions.html">Postdoctoral Positions</a></li>
                    <li><a href="current-postdocs.htmk">Current Postdocs</a></li>
                    <li><a href="opa-faculty-admin.html">Faculty Mentors & Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>