{% include "@components/header-prototypes/header-SHP.twig" %}
<section class=" hero gradient right white bleed img-fill">
    <img src="../../images/shp-home.jpg" alt="SCIENCE">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout white">
                <h1>Where will your health care career take you?</h1>
                <p>You've got the desire to help others and secure a rewarding career in the fast-growing field of
                    health care. We've got innovative programs, dedicated faculty, and unique clinical experiences to
                    help you get there.</p>
                <p><a href="#" class="button">Button CTA</a></p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-SHP.twig" %}
<section class="bleed light-beige noise">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x margin-bottom text-center align-center">
            <div class="cell small-12 medium-9">
                <h2>Your Future Awaits</h2>
                <p>School of Health Professions students take their outstanding educational and hands-on experiences and
                    use
                    them to do amazing things—to help people breathe better, move better, communicate better and live
                    better.</p>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-3">
                <img src="../../images/shp-award-1.png" alt="Best Grad Schools - Physician Assistant 2020">
            </div>
            <div class="cell small-3">
                <img src="../../images/shp-award-2.png" alt="Best Grad Schools - Occupational Therapy 2021">
            </div>
            <div class="cell small-3">
                <img src="../../images/shp-award-3.png" alt="Best Grad Schools - Physical Therapy 2021">
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-12 medium-12 large-7">
                <h2>Programs</h2>
                <p>We offer certifications, bachelor's, master's and doctoral allied health programs. In addition to
                    classroom lectures, our programs offer clinical training opportunities in a variety of settings to
                    ensure our students have exposure to a multitude of professional opportunities.</p>

                <p>Our programs include:</p>
                <div class="arrow indent-list">
                    <ul>
                        <li><a href="#">Master of Science in Medical Laboratory Sciences</a></li>
                        <li><a href="#">Master of Physician Assistant Studies </a> </li>
                        <li><a href="#">Master of Science in Respiratory Care</a></li>
                        <li><a href="#">Master of Science in Speech-Language Pathology</a></li>
                        <li><a href="#">Doctor of Occupational Therapy (OTD)</a></li>
                        <li><a href="#">Doctor of Physical Therapy</a></li>
                    </ul>
                </div>
                <p><a href="#" class="button">All programs</a></p>

            </div>

            <div class="cell small-12 medium-12 large-5 align-self-middle">
                <div class="responsive-embed">
                    <iframe src="https://www.youtube.com/embed/zGasMaRm9po" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x text-center align-center">
            <div class="cell large-12">
                <h2>Optional Quick Fact Heading </h2>
                <p>You can add an optional sentence here if needed. This example only has numbers<br>
                    <a>I am a link!</a>
                </p>
            </div>
        </div>
        <div class="grid-x text-center align-center factoids">
            <div class="cell large-4">
                <p class="h2 supersize close">40+</p>
                <p>average entering class size</p>
            </div>
            <div class="cell large-4">
                <p class="h2 supersize close">25+</p>
                <p>years teaching allied health</p>
            </div>
            <div class="cell large-4">
                <p class="h2 supersize close">200+</p>
                <p>student clinical locations</p>
            </div>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-6 small-12 flex-container">
            <a class="card color orange flex-child-auto">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Respiratory therapists: Key caregivers on COVID-10 team</h4>
                    <p>As San Antonio experiences a second surge of COVID-19, the city will be even better
                        prepared as more respiratory care graduates from the School of Health Professions
                        have entered the workforce.</p>
                    <p>
                    </p>
                </div>
            </a>
        </div>
        <div class="cell large-4 medium-6 small-12 flex-container">
            <a class="card color orange flex-child-auto">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Laredo college graduates use LEAP to enter School of Health Professions programs
                    </h4>
                    <p>The initiative paves the way for students to successfully enter the health care
                        field.</p>
                    <p>
                    </p>
                </div>
            </a>
        </div>
        <div class="cell large-4 medium-12 small-12 flex-container">
            <div class="callout outline flex-child-auto">
                <p class="text-center"><i class="far fa-envelope-open fa-4x"></i></p>
                <p>Subscribe to recieve a monthly email newsletter with information on academic programs, events and
                    campus news from the School of Health Professions.</p>
                <form>
                    <label>Name
                        <input type="text">
                    </label>
                    <label>Email
                        <input type="text">
                    </label>
                </form>
                <div class="button-group">
                    <p><a href="#" class="button">Subscribe</a></p>
                    <p><a href="#" class="button ghost">Read latest issue</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed color">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-3 large-3">
                <img src="http://placekitten.com/300/400" alt="kitty">
            </div>

            <div class="cell small-12 medium-8 large-8">
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text, and typically
                        distinguished visually using indentation and a different typeface or smaller size quotation.
                        Blockquotes have no margin/padding of their own and should be placed within another element like
                        a bleed.</p>
                    <cite>Obi-Wan Kenobi, Jedi Master</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}