{% include "@components/header v2/header-SHP.twig" %}
<section class="hero bleed img-fill full">
  <img src="https://placedog.net/1500/750" alt="adorable pup">
  <div class="grid-container">
    <div class="grid-x margin-x">
      <div class="cell large-5 large-offset-7 small-12">
        <div class="callout">
          <h1>Department of Physician Assistant Studies</h1>
          <p>Our program has a vision that includes the education and training of competent and caring primary health care providers who will meet the needs of society, faculty, staff and student service to the community and region.</p>
          <p><a href="#" class="button"> Mission, vision and goals</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-SHP.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Department of Physician Assistant Studies
    </li>
  </ul>
</nav>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-8 large-8">
                <p>Our faculty and staff believe that physician assistants are part of the solution to our nation’s health care challenges. Our mission is to be a recognized leader in primary health care education, scholarship and service.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p><a class="arrow coward">Faculty & Staff</a></p>
            </main>
            <aside class="cell small-12 medium-4 large-4">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li>
    <a href="#">Program</a></li>
  <li><a href="#">Faculty</a>
  </li>
  <li>
    <a href="#">Accreditation</a>
  </li>
  <li><a href="#">Mission, vision and goals</a>
  </li>
  <li><a href="#">Contact us</a>
  </li>
  <li><a href="#">Five-year First-time PANCE pass rate</a>
  </li>
  <li><a href="#">Become a preceptor</a></li>
  <li><a href="#"> Faculty development program</a></li>
</ul>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-2">
                <img src="http://placekitten.com/300/400" alt="kitty">
            </div>
            <div class="cell small-12 medium-8">
                <blockquote>
                    <p>Students appreciate learning from each other and from their patients in an environment that encourages understanding of the total patient needs.</p>
                    <cite>Tam Van, D.D.S., Clinical Associate Professor</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige ">
<div class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
      <div class="flex-child-auto">
        <h2 class="text-center">News</h2>
        <div class="lines">
          <ul>
            <li><a href="#">PA Studies student named Presidential Ambassador Scholar for School of Health Professions</a></li>
            <li><a href="#">PA Studies professor elected to Texas delegation of national PA academy’s house of delegates</a></li>
            <li><a href="#">Distinction in Research program helps students engage in research at a deeper level</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-child-shrink">
        <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
      </div>
    </div>
    <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
      <div class="flex-child-auto">
        <h2 class="text-center">Events</h2>
        <div class="lines">
          <ul>
            <li class="flex-container flex-dir-row align-middle">
              <div class="flex-child-auto">
                <a href="#">
                  <div class="datebox">
                    <div class="month">apr</div>
                    <div class="day">13</div>
                  </div>
                </a>
              </div>
              <div class="flex-child-auto">
                <a href="#">Physician Assistant Studies Virtual Information Session</a>
              </div>
            </li>
            <li class="flex-container flex-dir-row align-middle">
              <div class="flex-child-auto">
                <a href="#">
                  <div class="datebox">
                    <div class="month">apr</div>
                    <div class="day">20</div>
                  </div>
                </a>
              </div>
              <div class="flex-child-auto">
                <a href="#">PA Virtual Information Session (Laredo Campus)</a>
              </div>
            </li>
            <li class="flex-container flex-dir-row align-middle">
              <div class="flex-child-auto">
                <a href="#">
                  <div class="datebox">
                    <div class="month">may</div>
                    <div class="day">10</div>
                  </div>
                </a>
              </div>
              <div class="flex-child-auto">
                <a href="#">Event 3</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-child-shrink">
        <p class="text-center"><a href="#" class="button ghost">View all News</a></p>
      </div>
    </div>
  </div>
  </section>
  
{% include "@blocks/footer/no-alamo.twig" %}