{% include "@components/header-prototypes/header-IIMS-stx.twig" %}

<section class="bleed hero">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-7 large-7">
				<h1>About Us</h1>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="button-group">
    <p><a href="#" class="hero button">Contact Us</a></p>
    <p><a href="#" class="hero button ghost">Request Services Now</a></p></div>
			</div>
			<div class="cell small-12 medium-5 large-5 align-self-middle">
				<img src="https://placedog.net/600/400" alt="adorable pup">
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-IIMS-stx.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <main class="cell medium-8 small-12 small-order-2">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate enim nulla aliquet porttitor. Rhoncus dolor purus non enim praesent elementum facilisis.</p>

<p>Gravida arcu ac tortor dignissim convallis aenean et tortor. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Posuere lorem ipsum dolor sit. Congue mauris rhoncus aenean vel elit. Lectus nulla at volutpat diam ut venenatis tellus. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit.  Ullamcorper dignissim cras tincidunt lobortis feugiat.</p>

<p>Scelerisque varius morbi enim nunc faucibus a pellentesque sit. Ultrices dui sapien eget mi proin sed libero enim sed. Ut aliquam purus sit amet luctus venenatis. Proin fermentum leo vel orci porta. Justo eget magna fermentum iaculis.</p>

                    <div class="grid-x grid-margin-x padding-top">
                    <div class="cell small-12 medium-6 flex-container">
                        <a class="callout color blue flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 text class="h4" id="report-button">Our Members</h3>
                    </a>
          </div>

        <div class="cell small-12 medium-6 flex-container">
                        <a class="callout color blue flex-child-auto">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-key fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 text class="h4" id="report-button">How to Join</h3>
                    </a>
          </div>
                    </div>
            </main>

   <aside class="cell medium-4 medium-order-2 small-12 small-order-1">
    <ul class="vertical menu accordion-menu" data-accordion-menu>
    <li>
    <a href="#">Our Members</a>
  </li>
  <li><a href="#">How to Join</a></li>
</ul>
</aside>
        </div>
    </div>
</section>


<section class="bleed noise light-grey">
    <div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell small-12 medium-4 large-2">
				<img src="https://placedog.net/300/400" alt="kitty">
			</div>
			<div class="cell small-12 medium-6 large-8">
				<blockquote>
					<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within another element like a bleed.</p>
					<cite>Dr. John Smith</cite>
				</blockquote>
			  </div>
		  </div>
	</div>
</section>




<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>