{% include "@components/header-prototypes/header-oess.twig" %}

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8 large-8 small-12">
        <h1>Reporting</h1>
        <p>The University strongly encourages the prompt reporting of incidents of sex discrimination (including discrimination of the basis of gender identity, gender expression, and sexual orientation), sexual harassment, sexual assault, sexual misconduct, interpersonal violence (including dating and domestic violence), and stalking.</p>
        <p><a href="#" class="button">File a report</a></p>
      </div>
      <div class="cell medium-4 large-4 small-12">
        <img src="https://picsum.photos/400/250" alt="">
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-oess.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Title IX</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Reporting
    </li>
  </ul>
</nav>

<section class="bleed">
      <div class="grid-container">
<div class="grid-x grid-margin-x align-center text-center">
        <div class="cell medium-8 small-12">
            <h2 class="h4 text-center">
            <p>For emergency and immediate safety issues, call <strong>911</strong>. Contact the UT Health San Antonio Police Department for non-emergency matters at 210-567-2800.</p></h2>
        </div>
    </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y small-up-1 large-up-4">
            <a class="card cell">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4 class="h5">Reporting</h4>
                </div>
            </a>
            <a class="card cell">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4 class="h5">Confidentiality</h4>
                </div>
            </a>
            <a class="card cell">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4 class="h5">Responsible Employees as Mandatory Reporters</h4>
                </div>
            </a>
            <a class="card cell">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4 class="h5">Protection from Retaliation</h4>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="bleed">
      <div class="grid-container">
<div class="grid-x grid-margin-x align-center text-center">
        <div class="cell medium-8 small-12">
            <h4 class="text-center margin-bottom">Key Elements of the Title IX Grievance Process</h4>
            <div>
            <img src="../../images/oess/GrievanceProcess800x415.png" alt=""></div>
        </div>
    </div>
    </div>
</section>


<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>