{% include "@components/header v2/header-LSOM.twig" %}
<section class="hero bleed img-fill attach-top full roomy">
  <img src="https://www.uthscsa.edu/sites/default/files/2018/smiling_banner.png" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-offset-7 large-5 medium-5 small-12">
        <div class="callout">
          <h1>Interview Day</h1>
          <p>Our Admissions and Outreach Team is here to make sure you have a great experience and to assist you with any questions along the way. May your time with us today be stimulating, enjoyable, and gratifying. We are all delighted that you are visiting the Long School of Medicine.</p>
          <div class="button-group">
            <p><a href="#" class="button">Interview process</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="grid-container">
  <section class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-8 medium-order-1 small-12 small-order-2">
      <p><strong>Dear Future Doctor,</strong></p>
      <p>It gives us great pleasure to welcome you to the Long School of Medicine at the University of Texas Health Science Center at San Antonio. You have been selected from a very large applicant pool for your enthusiasm, compassion, dedication, and academic achievements. You bring a wealth of diverse experiences, talents, and dreams to our school and we couldn’t be more excited about getting to know you. </p>
      <p>Today, you will be surrounded by incredibly bright, gifted, and interesting people, so get to know them! Our community in San Antonio is diverse in every aspect. There are many opportunities for extracurricular experiences, including membership in student organizations, research opportunities, caring for people in a student-run free clinic, and much, much more! We want to ELIMINATE any anxiety, so just be calm and be yourself as you visit with your interviewers.  We just want to get to know you!</p>
      <p>The Faculty interviewers have all of your application materials, and the Senior Student Interviewers have your essays and activities.  These are two, thirty-minute encounters, and they should be FUN and CONVERSATIONAL!</p>
      <p>Our Admissions and Outreach Team is here to make sure you have a great experience and to assist you with any questions along the way. May your time with us today be stimulating, enjoyable, and gratifying. We are all delighted that you are visiting the Long School of Medicine.</p>
      <p>Congratulations and welcome!</p>
      <p>Sincerely,</p>

    </main>
    <aside class="cell large-4 large-order-2 medium-4 medium-order-2 small-12 small-order-1">
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li><a href="#">Undergraduate Medical Education</a></li>
        <li>
          <a href="#">Admissions</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Admission at a Glance</a></li>
            <li><a href="#">Technical Standards</a></li>
            <li><a href="#">Who Are We Looking For?</a></li>
            <li><a href="#">Interview Process</a></li>
            <li><a href="#">Paying for School</a></li>
            <li><a href="#">Accepted? Next Steps</a></li>
            <li><a href="#">COVID-19 Information</a></li>
          </ul>
        </li>
    
        <li>
          <a href="#">Outreach</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Speaker Request for a Virtual Event</a></li>
            <li><a href="#">I Want to be a doctor! What now?</a></li>
            <li><a href="#">Club PreMed Connections</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Curriculum</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Preclinical Curriculum</a></li>
            <li><a href="#">Clinical Curriculum</a></li>
            <li><a href="#">Simulation Training</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Dual Degree & Distinction Programs</a>
          <ul class="nested vertical menu">
            <li><a href="#">Distinction in Medical Education</a></li>
            <li><a href="#">Distinction in Medical Humanities</a></li>
            <li><a href="#">Distinction in Research</a></li>
            <li><a href="#">M.D./M.P.H. Program</a></li>
            <li><a href="#">M.D./OMS Certificate</a></li>
            <li><a href="#">M.D./Ph.D. Program (South Texas Medical Scientist Training Program)</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Student Affairs</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">4th Year Spring Events</a></li>
            <li><a href="#">Quick Reference Guide</a></li>
            <li><a href="#">Academic Advising</a></li>
            <li><a href="#">Career Advising</a></li>
            <li><a href="#">Elective Catalog</a></li>
            <li><a href="#">Academic Enhancement</a></li>
            <li><a href="#">Veritas</a></li>
            <li><a href="#">Student Wellness</a></li>
            <li><a href="#">Professional Formation</a></li>
            <li><a href="#">Milestones</a></li>
            <li><a href="#">Student Involvement</a></li>
            <li><a href="#">Visiting Students</a></li>
            <li><a href="#">New Student Orientation</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Administrative</a>
          <ul class="nested vertical menu">
            <li><a href="#">Our Office</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Intranet</a></li>
            <li><a href="#">COVID-19 Medical Student Response Team</a></li>
          </ul>
        </li>
      </ul>
      
       <div class="callout contact outline">
        <h2 class="h5">Contact Us</h2>
        <ul class="fa-ul">
          <li>
            <a href="mailto:LongSOM@uthscsa.edu">
              <span class="fa-li">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </span>
              <span>LongSOM@uthscsa.edu</span>
            </a>
          </li>
          <li>
            <a href="tel:210-567-6080">
              <span class="fa-li">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                </span>
              </span> 
              <span>210-567-6080</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-li">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-address-book fa-stack-1x fa-inverse"></i>
                </span>
              </span> 
              <span>Meet our Admissions Team</span>
            </a>
          </li>
        </ul>
        <br>
        <h2 class="h5">Office Hours</h2>
        <p>Monday - Friday, 8:00AM to 5:00PM<br>Briscoe Library, 5th Floor, 5.501</p>
      </div>
    </aside>
  </section>
</section>


{% include "@blocks/footer/LSOM-no-alamo.twig" %}