{% include "@components/header-prototypes/header-lab.twig" %}

<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
                <h1>Meet our Team</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Cras tincidunt lobortis feugiat vivamus at. Interdum varius sit amet mattis.
                    Posuere ac ut consequat semper. Mauris sit amet massa vitae. Mi proin sed libero enim sed faucibus
                    turpis. Ullamcorper eget nulla facilisi etiam dignissim diam quis. Molestie at elementum eu
                    facilisis. Diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus. Pretium fusce id velit ut
                    tortor.</p>
            </div>
            <div class="cell small-12 medium-5 large-5 align-self-middle">

            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-lab.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-12 large-9">
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg" alt="SCIENCE">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Firstname Lastname</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Cras tincidunt lobortis feugiat vivamus at.
                                Interdum varius sit amet mattis. Posuere ac ut consequat semper. Mauris sit amet massa
                                vitae. Mi proin sed libero enim sed faucibus turpis. Ullamcorper eget nulla facilisi
                                etiam dignissim diam quis. Molestie at elementum eu facilisis. Diam sollicitudin tempor
                                id eu nisl nunc mi ipsum faucibus. Pretium fusce id velit ut tortor. </p>
                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg" alt="SCIENCE">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Firstname Lastname</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Cras tincidunt lobortis feugiat vivamus at.
                                Interdum varius sit amet mattis. Posuere ac ut consequat semper. Mauris sit amet massa
                                vitae. Mi proin sed libero enim sed faucibus turpis. Ullamcorper eget nulla facilisi
                                etiam dignissim diam quis. Molestie at elementum eu facilisis. Diam sollicitudin tempor
                                id eu nisl nunc mi ipsum faucibus. Pretium fusce id velit ut tortor. </p>
                    </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg" alt="SCIENCE">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Firstname Lastname</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Cras tincidunt lobortis feugiat vivamus at.
                                Interdum varius sit amet mattis. Posuere ac ut consequat semper. Mauris sit amet massa
                                vitae. Mi proin sed libero enim sed faucibus turpis. Ullamcorper eget nulla facilisi
                                etiam dignissim diam quis. Molestie at elementum eu facilisis. Diam sollicitudin tempor
                                id eu nisl nunc mi ipsum faucibus. Pretium fusce id velit ut tortor. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg" alt="SCIENCE">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Firstname Lastname</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Cras tincidunt lobortis feugiat vivamus at. Interdum
                                varius sit amet mattis. Posuere ac ut consequat semper. Mauris sit amet massa vitae. Mi
                                proin sed libero enim sed faucibus turpis. Ullamcorper eget nulla facilisi etiam
                                dignissim diam quis. Molestie at elementum eu facilisis. Diam sollicitudin tempor id eu
                                nisl nunc mi ipsum faucibus. Pretium fusce id velit ut tortor. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg" alt="SCIENCE">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Firstname Lastname</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Cras tincidunt lobortis feugiat vivamus at.
                                Interdum varius sit amet mattis. Posuere ac ut consequat semper. Mauris sit amet massa
                                vitae. Mi proin sed libero enim sed faucibus turpis. Ullamcorper eget nulla facilisi
                                etiam dignissim diam quis. Molestie at elementum eu facilisis. Diam sollicitudin tempor
                                id eu nisl nunc mi ipsum faucibus. Pretium fusce id velit ut tortor. </p>
                    </div>
                </div>

                <div class="grid-x grid-margin-x margin-top">
                    <div class="cell small-12 medium-4 large-4">
                        <img src="../../images/no-photo.jpg" alt="SCIENCE">
                    </div>
                    <div class="cell small-12 medium-8 large-8">
                        <h2 class="h3">Firstname Lastname</h2>
                        <p class="subheader">Position Title</h3>
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-12 large-12">
                                    <address>
                                        <div class="loose-list">
                                            <ul class="no-bullet loose-list inline">
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>email@uthscsa.edu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="fa-stack">
                                                            <i class="fas fa-circle fa-stack-2x"></i>
                                                            <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span>###-###-####</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Cras tincidunt lobortis feugiat vivamus at.
                                Interdum varius sit amet mattis. Posuere ac ut consequat semper. Mauris sit amet massa
                                vitae. Mi proin sed libero enim sed faucibus turpis. Ullamcorper eget nulla facilisi
                                etiam dignissim diam quis. Molestie at elementum eu facilisis. Diam sollicitudin tempor
                                id eu nisl nunc mi ipsum faucibus. Pretium fusce id velit ut tortor. </p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/lab-footer.twig" %}