{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero bleed blur img-fill full">
  <img src="../../images/area-cancer.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 medium-7 small-12">
        <h1>Cancer</h1>
        <p class="large">Our cancer research examines many of the most prevalent cancers today with the goal of finding new and innovative therapies, treatments and ultimately prevention and cures. </p>
      </div>
      <div class="cell large-5 medium-5 small-12">
        <img src="../../images/area-cancer.jpg" alt="">
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Strategic Focus</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Cancer
    </li>
  </ul>
</nav>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-7 medium-7 small-12">
      <p>Marketing copy related to Mays Cancer Center. Sesame snaps cotton candy pastry ice cream sugar plum ice cream jelly beans. Jujubes sweet brownie danish dessert muffin cheesecake lemon drops shortbread. Pastry macaroon gummies marshmallow oat cake liquorice.</p>
      <p>Marketing copy related to Greehey Children's Cancer Research Institute. Sesame snaps cotton candy pastry ice cream sugar plum ice cream jelly beans. Jujubes sweet brownie danish dessert muffin cheesecake lemon drops shortbread. Pastry macaroon gummies marshmallow oat cake liquorice.</p>
      <p>Marketing copy related to Institute for Health Promotion Research. Sesame snaps cotton candy pastry ice cream sugar plum ice cream jelly beans. Jujubes sweet brownie danish dessert muffin cheesecake lemon drops shortbread. Pastry macaroon gummies marshmallow oat cake liquorice.</p>
      <p>Marketing copy related to Institute for Drug Development. Sesame snaps cotton candy pastry ice cream sugar plum ice cream jelly beans. Jujubes sweet brownie danish dessert muffin cheesecake lemon drops shortbread. Pastry macaroon gummies marshmallow oat cake liquorice.</p>
      <p>Marketing copy related to any other cancer related institute/center. Sesame snaps cotton candy pastry ice cream sugar plum ice cream jelly beans. Jujubes sweet brownie danish dessert muffin cheesecake lemon drops shortbread. Pastry macaroon gummies marshmallow oat cake liquorice.</p>
      
    </main>
    <aside class="cell large-5 medium-5 small-12">
        <div class="responsive-embed">
            <iframe src="https://www.youtube.com/embed/EapY-1-Y2e0" title="video player"></iframe>
        </div>
    </aside>
  </div>
</section>

<section class="bleed color dark-grey">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-3 medium-3 small-12 text-center">
            <i class="fas fa-heart fa-10x"></i>
        </div>
        <div class="cell large-9 medium-9 small-12">
            <!--<h2>Help advance treatment as a healthy volunteer</h2>
            <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments for cancer-related diseases. Take action today; volunteer and play a role in finding a cure. </p>
            <p><a class="button ghost">FindAStudy</a></p>-->
            <h2>Be Part of Our Mission</h2>
            <p>At UT Health San Antonio, we are pioneering the future of healthcare. Join us as we redefine medicine through our groundbreaking research by participating in clinical trials or contributing through giving. Together we can translate today’s innovative discoveries into tomorrow’s life-saving treatments.</p>
            <div class="button-group">
                <p><a href="#" class="button">Learn more about clinical trials</a></p>
                <p><a href="https://makelivesbetter.uthscsa.edu/donate" class="button">Make a gift</a></p>
            </div>
        </div> 
    </div>
  </div>
</section>

<!--<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                
                <h2>Researcher Spotlight</h2>
                <p class="large">Virginia Kaklamani, M.D.</p>
                <p>Pudding gingerbread liquorice biscuit macaroon chocolate cake sweet. Cake topping candy cake gingerbread brownie danish chocolate cake dragée. Carrot cake dessert chocolate cotton candy chupa chups.</p>
                <p><a class="button ghost" href="https://scholars.uthscsa.edu/en/persons/virginia-g-kaklamani">Dr. Kaklamani's profile</a></p>
                
            </div>
            <div class="cell large-5 medium-5 small-12">
              <img src="../../images/kaklamani.png" alt="">
            </div>
        </div>
    </div>
</section>-->


<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-4 small-12">
            <a href="https://news.uthscsa.edu/an-exciting-day-for-health-care-in-our-region-cornerstone-unveiled-for-430-million-ut-health-san-antonio-hospital-2/">
                <img src="https://news.uthscsa.edu/wp-content/uploads/2021/03/UTHSA-NORTH-ENTRY-ELEVATION-smaller-1536x864.jpg" alt="" class="img-margin">
                <h3 class="h5">A cornerstone of research-based medicine</h3>
            </a>
            <p>The University of Texas Health Science Center at San Antonio broke ground and unveiled the cornerstone for the UT Health San Antonio Multispecialty and Research Hospital, a destination center for research and treatment of cancer and other complex diseases that disproportionately impact the people of South Texas.</p>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a href="https://news.uthscsa.edu/ut-health-san-antonio-among-10-top-cancer-research-universities-receiving-a-100000-grant-from-the-mary-kay-foundation/">
                <img src="https://news.uthscsa.edu/wp-content/uploads/2018/09/iStock-864465280.jpg" alt="" class="img-margin">
                <h3 class="h5">UT Health San Antonio’s Liu receives $100,000 grant from The Mary Kay Foundation</h3>
            </a>
            <p>The Mary Kay Foundation on Oct. 22 announced that UT Health San Antonio is among its 2020 cancer grant recipients. The grants are awarded annually to top accredited research institutions in the United States conducting innovative translational research to better understand cancers that affect women.</p>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a href="https://news.uthscsa.edu/bladder-cancer-patients-respond-well-to-new-immunotherapy-tested-at-mays-cancer-center-2/">
                <img src="../../images/bladder-cancer.jpg" alt="" class="img-margin">
                <h3 class="h5">Bladder cancer patients respond well to new immunotherapy tested at Mays Cancer Center</h3>
            </a>
            <p>In patients with high-grade cancer in the lining of the bladder, cancer often comes back within a year following standard treatment.</p>
            <p>Although there are several approved treatments, none have significantly improved survival with few side effects. However, a new study evaluating a novel immunotherapy called nadofaragene firadenovec (NF) gene therapy may offer new hope.</p>
        </div>
    </div>
</section>

<section class="bleed color orange noise">
  <div class="grid-container">

    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-microscope fa-5x"></i></p>
        <p>Our researchers discovered a link between finasteride, a medication used to relieve urinary problems, and prevention of prostate cancer.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-star fa-5x"></i></p>
        <p>The Mays Cancer Center is a member of The Pediatric Oncology Experimental Therapeutics Investigators' Consortium (POETIC).</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-vial fa-5x"></i></p>
        <p>Home to the only National Cancer Institute-designated cancer center in South Texas, UT Health San Antonio MD Anderson Cancer Center conducts more than 200 clinical trials in over 30 types of cancers.</p>
      </div>

    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-12 text-center">
      <h2>More Information</h2>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <div class="lines">
        <ul>
          <li><a href="https://cancer.uthscsa.edu/clinical-trials-and-research/our-cancer-research-programs/experimental-developmental-therapeutics">Experimental & Developmental Therapeutics</a></li>
          <li><a href="https://ihpr.uthscsa.edu/">Institute for Health Promotion Research</a></li>
          <li><a href="https://news.uthscsa.edu/health-condition/cancer/">News</a></li>
          <li><a href="https://ihpr.uthscsa.edu/research-projects/past-projects/">Texas Cancer Genetics Consortium</a></li>
        </ul>
      </div>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <div class="lines">
        <ul>
          <li><a href="https://gccri.uthscsa.edu/">Greehey Children's Cancer Research Institute</a></li>
          <li><a href="https://cancer.uthscsa.edu/">Mays Cancer Center</a></li>
          <li><a href="https://www.poeticphase1.org/">Pediatric Oncology Experimental Therapeutics Investigators' Consortium</a></li>
          <li><a href="https://www.utsystem.edu/sites/trcc">Texas CTSA Consortium</a></li>
        </ul>
      </div>
    </div>

    <div class="cell large-4 medium-4 small-12">
      <div class="lines">
        <ul>
          <li><a href="https://cancer.uthscsa.edu/clinical-trials-and-research/institute-for-drug-development">Institute for Drug Development</a></li>
          <li><a href="https://uthscsa.edu/dental/research/topics/oral-cancer">Oral Cancer</a></li>
          <li><a href="https://gccri.uthscsa.edu/research/project-b-the-pediatric-preclinical-consortium-pptc/">Pediatric Preclinical Consortium</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}