{% include "@components/header-prototypes/header-prin.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Training & Telementoring</h1>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-prin.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7">
                <h1>Project ECHO</h1>
                <p>Extension for Community Healthcare Outcomes, or ECHO, is a telementoring model for building online communities of practice amongst healthcare providers or other professionals.  The ECHO model utilizes didactic and case-based learning to accelerate the spread of evidence-based practices. Participants engage in conversation and learning that is specific to a particular condition or best practice. ECHO programs are hosted by a ‘hub’ of subject matter experts, that provide both education and case consultation.</p>
                <a href="#" class="button">View ECHOs</a>
            </div>
            <div class="cell small-12 medium-5">
                <div class="responsive-embed">
                    <iframe src="https://www.youtube.com/embed/0kPPgbjA5to" title="YouTube video player"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
                <p>The goal of the Recovery Science Training & Telementoring Program is to rapidly expand the recovery science workforce.</p> 
<p><h3 class="h5">Resources for investigators:</h3></p>
</p>
<div class="arrow">
	<ul>
		<li><a href="#">COALESCE Modules – Science of Team Science</a></li>
</ul></div></p>
<p><h3 class="h5">Stay tuned:</h3></p>
             <div class="arrow">
	<ul>
    <li><a href="#">Certificate in Recovery Science (CertRS)</a></li>
    <li><a href="#">Fellowship Program – Applications open</a></li>
    <li><a href="#">Mark your calendars! Texas Substance Use Symposium, February 29 – March 1, 2024</a></li>
</ul></div>
            </div>
            <div class="small-12 medium-5 cell">
        	<img src="../../images/prin/banner_6_small.jpg" alt="people on computer">
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}