{% include "@components/header-prototypes/header-prin.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Training & Telementoring</h1>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-prin.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-10 large-10 text-center">
    <p>The Recovery Science Collaboratory is "a center without walls". We are a diverse group of scientists, researchers, policy experts, practitioners, peers, and people with lived experience.</p>
    <p>The stakeholders of this group participate in a dynamic range of activities, such as:</p></div>
            </div>
</div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7">
                <h1>Project ECHO</h1>
                <p>Extension for Community Healthcare Outcomes, or ECHO, is a telementoring model for building online communities of practice amongst healthcare providers or other professionals.  The ECHO model utilizes didactic and case-based learning to accelerate the spread of evidence-based practices. Participants engage in conversation and learning that is specific to a particular condition or best practice. ECHO programs are hosted by a ‘hub’ of subject matter experts, that provide both education and case consultation.</p>
                <a href="#" class="button">View ECHOs</a>
            </div>
            <div class="cell small-12 medium-5">
                <div class="responsive-embed">
                    <iframe src="https://www.youtube.com/embed/0kPPgbjA5to" title="YouTube video player"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}