{% include "@components/header v2/header-OPA.twig" %}

<section class="full hero bleed img-fill godly">
  <img src="/images/altc-3.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-right">
        <div class="small-12 large-5 medium-5 cell callout">
          <h1>Prospective Postdocs</h1>
          <p>Jelly-o shortbread gingerbread chocolate dragée. Fruitcake gingerbread liquorice macaroon carrot cake donut.</p>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-OPA.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <h2>Why Us?</h2>
      <p>Cookie ice cream cake soufflé wafer pastry. Soufflé cake carrot cake jelly-o shortbread macaroon. Tiramisu danish soufflé sesame snaps jelly beans cookie gummies croissant. Dragée icing wafer halvah chocolate bar liquorice shortbread danish marshmallow. Carrot cake gummi bears toffee biscuit candy biscuit. Cheesecake caramels bonbon shortbread marshmallow brownie danish cheesecake apple pie.</p>
      <p>Cotton candy toffee dragée powder jelly chocolate cake. Jelly beans cookie brownie cake cake cake sweet roll toffee soufflé. Marzipan croissant cotton candy carrot cake caramels chocolate bar cotton candy dessert dessert. Cotton candy lemon drops macaroon bonbon biscuit chocolate bar tart. Powder jelly beans jelly beans chupa chups gummi bears chupa chups danish bonbon.</p>
      <p><a class="arrow" href="https://wp.uthscsa.edu/ois/life-at-ut-health/">Life at UT Health San Antonio</a></p>
      <h2>What We Offer</h2>
      <p>Caramels sweet ice cream soufflé fruitcake. Candy canes pastry dragée cheesecake tiramisu. Gummi bears cotton candy shortbread gummies danish. Jelly beans sweet bonbon caramels gummi bears liquorice. Candy canes liquorice topping pastry cotton candy bear claw jelly-o jujubes bear claw.</p>
      <p>Jelly-o cotton candy bear claw chupa chups shortbread caramels topping caramels. Cookie sweet roll cotton candy cotton candy biscuit croissant marzipan marshmallow. Wafer caramels chocolate cake danish jelly beans marzipan sesame snaps donut. Donut cheesecake sweet roll jelly apple pie tootsie roll pastry sugar plum gingerbread.</p>
      <p><a class="arrow">Benefits overview</a>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eA_xOh7V_XU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <a class="callout color">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-folder-open fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Open Postdoc Positions</h3>
      </a>
    </aside>
  </div>
</section>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-4 medium-4 small-12">
      <a href="https://uthscsa.edu/university/about-san-antonio" class="card postcard">
        <img src="/images/sanantonio.png" alt="">
        <div class="card-section">
          <h2 class="h4">About San Antonio</h2>
        </div>
      </a>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <a class="card postcard" href="https://directory.uthscsa.edu/">
        <img src="/images/neurosurgery-faculty.png" alt="">
        <div class="card-section">
          <h2 class="h4">Our Faculty</h2>
        </div>
      </a>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <a class="card postcard">
        <img src="/images/briscoe-library.jpg" alt="">
        <div class="card-section">
          <h2 class="h4">Our Campuses</h2>
        </div>
      </a>
    </div>
  </div>
</section>
<section class="bleed color pullquote">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-8 large-8">
        <blockquote>
          <p>Jelly tiramisu pudding gingerbread wafer ice cream croissant cake. Pie chocolate bar lemon drops chupa chups sugar plum. Toffee marzipan macaroon cookie tiramisu. Pie sesame snaps tiramisu pie cake liquorice cupcake icing tart. Oat cake marshmallow pie sesame snaps carrot cake gingerbread biscuit. Candy canes pastry dragée cheesecake tiramisu. Gummi bears cotton candy shortbread gummies danish. Jelly beans sweet bonbon caramels gummi bears liquorice. </p>
          <cite><a href="https://directory.uthscsa.edu/academics/profile/oyajobi">Dr. Babatunde Oyajobi</a></cite>
        </blockquote>
      </div>
      <div class="cell small-12 medium-4 large-4">
        <img src="/images/oyajobi-office.png" alt="">
      </div>
    </div>
  </div>
</section>

{% include "@blocks/footer/OPA-no-alamo.twig" %}