{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero bleed img-fill full">
	<img src="https://placedog.net/1500/750" alt="placeholder">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-right">
      <div class="cell large-offset-6 large-6 medium-6 small-12">
        <div class="callout">
          <h1>Research That Makes Lives Better</h1>
          <p>Our approach to research takes discoveries beyond the laboratory and to the patient bedside where evidence-based practice benefits patients today and in the future.</p>
        </div>
      </div>
    </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <section class="cell large-8 medium-7 small-12">
      <p>UT Health San Antonio is the premier academic health institution of the seventh-largest city in the country. The interdisciplinary basic and clinical research across the institution's six schools (<a href="https://uthscsa.edu/medicine/research">Medicine</a>, <a href="https://uthscsa.edu/dental/research">Dentistry</a>, <a href="https://uthscsa.edu/nursing/research">Nursing</a>, <a href="https://uthscsa.edu/health-professions/research">Health Professions</a>, <a href="https://uthscsa.edu/public-health/research-teams">Public Health</a> and <a href="https://uthscsa.edu/biomedical-sciences/research">Graduate</a>) placed San Antonio among the top 3 Texas cities for funding from the National Institutes of Health in FY20.</p>
      <h2>Mission</h2>
      <p>To grow a multi-professional research infrastructure that leverages intellectual capital and enhances the success of our scientists in translating discoveries to promote health and reduce health disparities.</p>
      <h2>Vision</h2>
      <p>Be an international leader in making high-impact, innovative discoveries that improve human health, equity and the health care delivery system.</p>
      <h2>Goals</h2>
      <p>The university’s research goals according to the&nbsp;<a href="https://uthscsa.edu/sites/default/files/2024-01/2023_12%2012103824%20Update%20StrategicPlan%2023-27.pdf"><strong>2023-2027 strategic plan</strong></a>&nbsp;are:</p>
        <ul>
            <li>Attract, incentivize, and retain high-potential and high-performing research faculty and teams</li>
            <li>Expand discovery in targeted and emerging research areas across the research continuum to create new knowledge, treatments, and patents</li>
            <li>Grow translational and clinical research, including leveraging the expanded clinical and community footprints</li>
            <li>Increase inclusive, collaborative, multidisciplinary research and community partnerships</li>
        </ul>
    </section>
    <aside class="cell large-4 medium-5 small-12">
      <div class="callout outline lines">
        <p class="large"><strong>Offices</strong></h2>
        <ul>
            <li><a href="#">Animal Research Compliance</a></li>
            <li><a href="#">Clinical Trials Office</a></li>
            <li><a href="#">Department of Laboratory of Animal Resources</a></li>
            <li><a href="#">Office of Clinical Research</a></li>
            <li><a href="#">Office of the Institutional Review Board</a></li>
            <li><a href="https://opa.uthscsa.edu/">Office of Postdoctoral Affairs</a></li>
            <li><a href="#">Office of Recruitment & Science Outreach</a></li>
            <li><a href="#">Office of Research Administration & Quality</a></li>
            <li><a href="https://osp.uthscsa.edu/">Office of Sponsored Programs</a></li>
            <li><a href="#">Office of Strategic Research Initiatives</a></li>
            <li><a href="https://otc.uthscsa.edu/">Office of Technology Commercialization</a></li>   
        </ul>
      </div>
    </aside>
  </div>
</section>

<section class="bleed color dark-grey noise">
  <div class="grid-container">
    <div class="grid-x align-center-middle">
      <div class="cell large-10 medium-10 small-10 text-center">
        <h2>Making a Difference Through Research</h2>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-heartbeat fa-5x"></i></p>
        <h3 class="h5">Bioscience Sector Catalyst</h3>
        <p>UT Health San Antonio is the chief catalyst for the $42.4 billion health care and biosciences sector of the San Antonio economy.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-bed fa-5x"></i></p>
         <h3 class="h5">Bench to Bedside</h3>
        <p>Our research translates from the laboratory bench to the patient bedside at our UT Health San Antonio clinical practices where faculty offer clinical treatment based on the latest research findings.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-users fa-5x"></i></p>
         <h3 class="h5">Improving Public Health</h3>
        <p>A $22.7 million Clinical and Translational Science Award was given to UT Health San Antonio to improve the health status of communities by accelerating scientific discoveries and public health applications.</p>
      </div>
      
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell small-12 medium-6 large-6">
      <img class="margin-bottom" src="https://placedog.net/700/400" alt="">
      <h2><a>Researchers</a></h2>
      <p>Our Researchers are dedicated to translating discoveries into strategies and therapies that address real world needs.</p>

    </div>
    <div class="cell small-12 medium-6 large-6">
      <img class="margin-bottom" src="https://placedog.net/700/400" alt="">
      <h2><a>Contact Directory</a></h2>
      <p>The Office of the Vice President for Research provides resources and infrastructure for research conducted across UT Health San Antonio, UT System and other research partners.</p>

    </div>
  </div>
</section>

<section class="bleed color orange noise">
  <div class="grid-container">
    <div class="grid-x align-center-middle">
      <div class="cell large-10 medium-10 small-10 text-center">
        <h2>Milestones</h2>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-globe-americas fa-5x"></i></p>
        <p>Helped develop the world's first stent (Palmaz Stent), used to treat blood vessel blockages</p>
      </div>
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-microscope fa-5x"></i></p>
        <p>Discovered how to increase the types of pancreatic cells that secrete insulin with potential to cure Type 1 diabetes</p>
      </div>
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-notes-medical fa-5x"></i></p>
        <p>Invented the EZ-IO to rapidly infuse fluids into the bone marrow cavities of patients in shock</p>
      </div>
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-prescription-bottle fa-5x"></i></p>
        <p>Discovered a link between finasteride and prevention of prostate cancer in men</p>
      </div>
      <div class="cell large-2 medium-6 small-12">
        <p><i class="fas fa-award fa-5x"></i></p>
        <p>One of two universities nationwide with a Geriatric Research Education & Clinical Center, Claude D. Pepper, and a Nathan Shock Center</p>
      </div>
    </div>
  </div>
</section>

<section class="white">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 medium-8 small-12">
                <h2>Featured Spotlight</h2>
                <p>Space to feature a researcher, lab, institute/center, etc... This can either be curated by editor OR can be autorotating from a pool of features.</p>
                <p>Icing cotton candy sugar plum sweet roll donut donut lollipop tiramisu. Pie danish cotton candy dessert tart brownie carrot cake bear claw cotton candy.</p>
                <p><a href="#" class="button ghost">Related Link</a></p>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <img src="https://placedog.net/410/250" alt="">
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}