{% include "@components/header v2/header-SON.twig" %}
{% include "@components/navigation/navbar-SON.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Light the Way</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Nightingale Podcast
    </li>
  </ul>
</nav>
<section class="grid-container">
      <div class="grid-x grid-margin-x">
        <main class="small-12 medium-8 cell">
            <h2>Nightingale Podcast</h2>
            <p class="subheader">About the Nightingale Podcast Series</p>
            <p>Our Nightingale podcast series is a short series of episodes highlighting notable and famous figures in nursing who have made an impact on the nursing profession and health care delivery. This series also shares perspectives on diversity, equity and inclusion as it relates to nursing and health professionals, along with inspirational messages from our guest experts.</p>

	<section class="bleed beige">        
    <div class="grid-x grid-padding-x grid-padding-y">
			<div class="cell small-12 medium-2">
				<img class="margin-bottom" src="../../images/lynn-macdonald-son.jpeg">
			</div>
			<div class="cell small-12 medium-10">
					<h3 class="h5">Florence Nightingale Podcast: Episode 1</h3>
          <p>Dr. Collins interviews Lynn McDonald, PhD, professor emerita of sociology at the University of Guelph in Canada and a former member of the Canadian Parliament. Dr. McDonald has written extensively on the impact of women thinkers in the 18th and 19th centuries and is a leading expert on Nightingale as director of <a class="coward">The Collected Works of Florence Nightingale</a>. McDonald’s papers on Nightingale include 16 volumes of Nightingale’s books and other writings, including previously unpublished correspondence, which were gathered from more than 200 archives worldwide.</p>
            
<p><a class="arrow coward">View The Collected Works of Florence Nightingale by Dr. Lynn McDonald</a></p>
			</div>
		</div>
  
  
    <div class="cell small-12 medium-12 margin-bottom align-center-middle">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1169086231&color=d15723"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/uthealthsanantonio" title="UT Health San Antonio" target="_blank" style="color: #cccccc; text-decoration: none;">UT Health San Antonio</a> · <a href="https://soundcloud.com/uthealthsanantonio/nightinagle-podcast-episode-1" title="Nightingale Podcast Episode 1" target="_blank" style="color: #cccccc; text-decoration: none;">Nightingale Podcast Episode 1</a></div></div></section>

	<section class="bleed beige">        
    <div class="grid-x grid-padding-x grid-padding-y">
			<div class="cell small-12 medium-2">
				<img class="margin-bottom" src="../../images/martinez-rogers-norma-son.png">
			</div>
			<div class="cell small-12 medium-10">
					<h3 class="h5">Florence Nightingale Podcast: Episode 2</h3>
          <p>Dr. Collins talks with <a class="coward">Norma Martinez Rogers, PhD, RN, FAAN</a>, professor emeritus of nursing at UT Health San Antonio. Dr. Rogers is a staunch advocate for health equity for all, particularly among underserved and marginalized communities, where health disparities are disproportionately prevalent. She is the founder and leader of the <a class="coward">Cultural Inclusion Institute</a>, an annual conference that focuses on racial and social justice for the most vulnerable in society, including those affected by human trafficking, child abuse and domestic violence.</p>
			</div>
		</div>
    <div class="cell small-12 medium-12 margin-bottom">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1179693751&color=d15723"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/uthealthsanantonio" title="UT Health San Antonio" target="_blank" style="color: #cccccc; text-decoration: none;">UT Health San Antonio</a> · <a href="https://soundcloud.com/uthealthsanantonio/nightingale-episode-2" title="Nightingale Episode 2" target="_blank" style="color: #cccccc; text-decoration: none;">Nightingale Episode 2</a></div></section>


   <section class="bleed beige">        
    <div class="grid-x grid-padding-x grid-padding-y">
			<div class="cell small-12 medium-2">
				<img class="margin-bottom" src="../../images/vernell-dewitty-son.png">
			</div>
			<div class="cell small-12 medium-10">
					<h3 class="h5">Florence Nightingale Podcast: Episode 3</h3>
          <p>Dr. Collins interviews Vernell DeWitty, Vernell DeWitty, PhD, MBA, RN, a transformational leader who serves as director for diversity of the American Association of Colleges of Nursing. In this post, she advises the nation’s top academic nursing leaders on building consensus and a strategic approach to diversity and inclusion. A 2014 recipient of the Mary Mahoney Award, Dr. DeWitty’s career has encompassed nursing education, practice and health care administration. She previously served as director of the Robert Wood Johnson New Careers in Nursing Scholarship Program, a collaboration with the AACN, where she created and implemented strategies and resources that contributed to the academic success of underrepresented and disadvantaged students in nursing schools located in 41 states and the District of Columbia. Learn more at <a class="coward">www.aacnnursing.org</a>.</p>
			</div>
		</div>
    <div class="cell small-12 medium-12 margin-bottom">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1191580012&color=d15723"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/uthealthsanantonio" title="UT Health San Antonio" target="_blank" style="color: #cccccc; text-decoration: none;">UT Health San Antonio</a> · <a href="https://soundcloud.com/uthealthsanantonio/ep-3-nightingale-podcast" title="Nightingale Podcast Episode 3" target="_blank" style="color: #cccccc; text-decoration: none;">Nightingale Podcast Episode 3</a></div></section>
            </main>

      <aside class="cell small-12 medium-4">
            <img class="margin-bottom" src="../../images/drcollins-son.jpeg">
            <h4 class="h5">Host of the Nightingale Podcast Series</h4>
            <p>Dr. Chiquita Collins, Associate Vice President for Inclusive Excellence and Health Equity at UT Health San Antonio and Vice Dean for Inclusion and Diversity, Chief Diversity Officer at the Long School of Medicine.</p>
      </aside>
      </div>
      </section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>