{% include "@components/header v2/header-SOD.twig" %}  

<section class="hero bleed img-fill full">
  <img src="https://source.unsplash.com/1500x750/?nature,water" alt="nature">
  <div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
          <h1>Research at School of Dentistry</h1>
          <p>Get more information and timely updates on how we're responding to the 2019 novel coronavirus.</p>
          <p><a class="button">COVID-19 Updates</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-SOD.twig" %}    

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-8 small-12 small-order-2">
                <p>Our scientists collaborate with clinicians and research teams worldwide. We work across multiple medical and dental disciplines to find new treatments. Our research advances the knowledge of oral health, biomaterials, cancer, pain and more.</p>
                <p>Additional content area to expand on the research being done in this area. - can get more technial.
                    Could
                    also talk about advances, achievements, and partnerships here as well. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </main>

            <aside class="cell large-4 larger-order-2 medium-4 medium-order-2 small-12 small-order-1">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li><a href="#">Dental Research Home</a></li>
  <li>
    <a href="#">Research Topics</a>
    <ul class="nested vertical menu">
      <li><a href="#">Dental Material & Bioengineering</a></li>
      <li><a href="#">Diabetes & Oral Health</a></li>
      <li><a href="#">Oral Cancer</a></li>
      <li><a href="#">Pain</a></li>
      <li><a href="#">Other Research Initiatives</a></li>
    </ul>
  </li>
  <li><a href="#">Researchers</a></li>
  <li><a href="#">Clinical Trials</a></li>
</ul>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x text-center align-center factoids">
      <div class="cell large-4">
        <p class="h2">$5.9 million
        </p>
        <p>In Research awards distributed from the National Institutes of Health in 2020</p>
      </div>
      <div class="cell large-4">
        <p class="h2">4,600+
        </p>
        <p>Articles published in Peer-reviewed journals by our researchers and faculty</p>
      </div>
      <div class="cell large-4">
        <p class="h2">Rank #13
        </p>
        <p>Of all SCHOOLS OF DENTISTRY receiving National Institutes of Health funding</p>
      </div>
    </div>
  </div>
</section>

<section class="bleed color dark-grey">
    <div class="grid-container img-bleed-right">
        <div class="grid-x align-middle">
            <div class="cell large-6 large-order-1 medium-6 medium-order-1 small-12 small-order-2">
                <div class="callout jump-right">
                    <blockquote>“The mission of the Health Science Center is to contribute to the broad body of basic and applied knowledge and perform research to increase our understanding of oral health and diseases.

The research currently being developed and pursued by the departments is essential in creating new knowledge that improves health and influences thoughtful advances based on research inputs to advance health policies and dental practice.”<cite>Brij B. Singh, Ph.D.</cite></blockquote>
                </div>
            </div>
            <div class="cell large-6 medium-6 small-12 small-order-1">
                <img src="https://picsum.photos/800/450" alt="adorable pup">
            </div>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <a href="#" class="card cell small-12 medium-4 large-4">
            <img src="https://picsum.photos/534/300">
            <div class="card-section">
                <h4>Research Topics</h4>
            </div>
        </a>
        <a href="#" class="card cell small-12 medium-4 large-4">
            <img src="https://picsum.photos/534/300">
            <div class="card-section">
                <h4>Researchers</h4>
            </div>
        </a>
        <a href="#" class="card cell small-12 medium-4 large-4">
            <img src="https://picsum.photos/534/300">
            <div class="card-section">
                <h4>Clinical Trials</h4>
            </div>
        </a>
    </div>
</section>



<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>