{% include "@components/header-prototypes/header-VPResearch.twig" %}
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Administration
    </li>
  </ul>
</nav>

<section class="grid-container">

    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12 ">
            <h1>Administration</h1>
            <div class="grid-x grid-padding-x grid-margin-y grid-padding-y">
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://uthscsa.edu/sites/default/files/2023-08/jennifer_potter.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Jennifer Sharpe Potter, PhD, MPH</h2>
                    <p class="subheader">Vice President for Research</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Anthony Robert Francis</h2>
                    <p class="subheader">Associate Vice President, Innovation and Development</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Babatunde "Kay" Oyajobi, MBBS, PhD, MBA</h2>
                    <p class="subheader">Director, Office of Postdoctoral Affairs</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Claudia Y. Delgado, MBA</h2>
                    <p class="subheader">Associate Vice President, Research Administration</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Kimberly Summers, PharmD</h2>
                    <p class="subheader">Associate Vice President, Research</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Robert A. Clark, MD, MACP</h2>
                    <p class="subheader">Associate Vice President, Translational Research</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Sunil Ahuja, MD</h2>
                    <p class="subheader">Director, Research Enhancement Programs</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Irene Chapa</h2>
                    <p class="subheader">Cupcake oat cake dragée brownie</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>
            </div>
            
        </main>
        <aside class="cell large-4 medium-4 small-12">
            <a class="callout color orange" href="#">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-sitemap fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Org Chart</h3>
          </a>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}