{% include "@components/header-prototypes/header-VPResearch.twig" %}
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Leadership
    </li>
  </ul>
</nav>

<section class="grid-container">

    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12 ">
            <h1>Leadership</h1>
            <div class="grid-x grid-padding-x grid-margin-y grid-padding-y">
                <div class="cell large-4 medium-4 small-12">
                    <img src="https://uthscsa.edu/sites/default/files/2023-08/jennifer_potter.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Jennifer Sharpe Potter, PhD, MPH</h2>
                    <p class="subheader">Vice President for Research</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Anthony Robert Francis</h2>
                    <p class="subheader">Associate Vice President, Innovation and Development</p>
                    <p>Anthony Francis leads our efforts in commercialization and partnering. With an extensive track record at UCSF and Australia, he has won national awards and recognition for his work in commercialization. Anthony sees a tremendous opportunity at UT Health San Antonio to bring his skills to help grow the University’s portfolio of opportunity and to grow the local economy.  </p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Claudia Y. Delgado, MBA</h2>
                    <p class="subheader">Associate Vice President, Research Administration</p>
                    <p>Shortbread jelly beans biscuit jelly-o tart gummies jelly-o. Macaroon bear claw powder icing cookie caramels danish chocolate bar. Dragée marzipan tart pudding cookie cookie. Sugar plum marzipan cupcake candy canes sugar plum fruitcake toffee cupcake toffee. Carrot cake lollipop chocolate icing pastry gummies. Soufflé candy canes chocolate cake sesame snaps cake. Fruitcake pastry jelly beans gingerbread carrot cake. Chocolate pie jelly beans marshmallow cake.Cupcake oat cake dragée brownie ice cream gingerbread danish powder.Pastry oat cake cotton candy gummi bears cake brownie tootsie roll pie chocolate.Pie soufflé donut gummi bears topping pie. Apple pie lollipop dragée candy pastry pudding donut marzipan.</p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Kimberly Summers, PharmD</h2>
                    <p class="subheader">Associate Vice President, Research Operations</p>
                    <p>Kimberly Summers, PharmD, leads offices dedicated to protecting human and animal subjects, including the IRB and IACUC. She also oversees support offices that ensure research integrity, efficient clinical research implementation, and effective research operations. With over 20 years of experience in research administration, Dr. Summers is an adaptable and forward-thinking leader. She develops policies and best practices, monitors legislation, and recommends institutional policy changes to promote ethical behavior and advance the institution’s research efforts. </p>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <img src="../../images/no-photo.jpg" alt="">
                </div>
                <div class="cell large-8 medium-8 small-12">
                    <h2 class="h3">Robert A. Clark, MD, MACP</h2>
                    <p class="subheader">Associate Vice President, Translational Science</p>
                    <p>Robert A. Clark, MD, MACP is the Founding Director of the Institute for Integration of Medicine and Science (IIMS), which serves as the academic and administrative home for the NIH-funded Clinical and Translational Science Award (CTSA). The CTSA program components include Workforce Development, Community and Stakeholder Engagement, Resources and Services, Pilot Projects, Health Informatics, and Clinical and Translational Science Research Program. The CTSA also includes linked NIH awards in support of pre- and post-doctoral translational research training (T32) and mentored career development for junior faculty (K12). IIMS serves as the home of the Perry and Ruby Stevens Parkinson’s Disease Center of Excellence. Dr. Clark’s laboratory research focuses on host immune responses and inflammation, including inflammatory neurodegenerative disorders, especially Parkinson’s disease. </p>
                </div>

                

               
            </div>
            
        </main>
        <aside class="cell large-4 medium-4 small-12">
            <a class="callout color orange" href="#">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-sitemap fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Org Chart</h3>
          </a>
        </aside>
    </div>
</section>

<section class="bleed color blue">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-3 medium-3 small-12 text-center">
            <i class="fas fa-heart fa-10x"></i>
        </div>
        <div class="cell large-9 medium-9 small-12">
            <!--<h2>Help advance treatment as a healthy volunteer</h2>
            <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments. Take action today; volunteer and play a role in finding a cure. </p>
            <p><a class="button ghost">Learn more about clinical trials</a></p>-->
            <h2>Be Part of Our Mission</h2>
            <p>At UT Health San Antonio, we are pioneering the future of healthcare. Join us as we redefine medicine through our groundbreaking research by participating in clinical trials or contributing through giving. Together we can translate today’s innovative discoveries into tomorrow’s life-saving treatments.</p>
            <div class="button-group">
                <p><a href="#" class="button">Learn more about clinical trials</a></p>
                <p><a href="https://makelivesbetter.uthscsa.edu/donate" class="button">Make a gift</a></p>
            </div>
        </div> 
    </div>
  </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}