{% include "@components/header/global-bar.twig" %}
{% include "@components/header/level-2.twig" %}
{% include "@components/navigation/navbar.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-7 cell callout">
                <h1>Greehey Children's Cancer Research Institute</h1>
                <p>One of only two institutes in the United States dedicated solely to pediatric cancer research, the Greehey Children’s Cancer Research Institute, has developed more novel therapies in national trials than any other group in the US. Treatments developed by us are a standard of care in the U.S.A, Europe and Asia for high-risk solid tumors.</p>
            </div>
        </div>
    </div>
</section>
<main>
    <section class="bleed">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">

                <div class="small-12 medium-7 cell">
                    <h2>What We Do</h2>
                    <p class="bold">Translating today’s discoveries in childhood cancer research into tomorrow’s treatments.</p>
                    <p>Our strengths include cancer genomics, DNA damage, RNA biology, and drug development. We are developing expertise in drug delivery, with a focus on nanotechnology-driven delivery of small RNA mimics and inhibitors.</p>

                </div>
                <div class="small-12 medium-5 cell">
                    <img src="https://picsum.photos/id/1015/450/340">
                </div>
            </div>
        </div>
    </section>
    <section class="bleed color dark-grey">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell text-center padding-bottom">
                    <h2>Top Stories</h2>
                </div>
                <div class="small-12 medium-3 cell">
                    <a class="card cell light-grey">
                        <img src="https://picsum.photos/330/220">
                        <div class="card-section">
                            <p>Stand Up to Cancer: Alexander J. R. Bishop, DPhil to Lead One of Three Trans-Atlantic Teams to Study Hard-to-Treat Childhood Cancers</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell">
                    <a class="card cell light-grey">
                        <img src="https://picsum.photos/330/220">
                        <div class="card-section">
                            <p>Raushan Kurmasheva, Ph.D., Part of Dmitri Ivanov, Ph.D., CPRIT Grant Team “Identifying and Optimizing Small Molecules for Drug Development”</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell">
                    <a class="card cell light-grey">
                        <img src="https://picsum.photos/330/220">
                        <div class="card-section">
                            <p>Stand Up to Cancer: Alexander J. R. Bishop, DPhil to Lead One of Three Trans-Atlantic Teams to Study Hard-to-Treat Childhood Cancers</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell">
                    <a class="card cell light-grey">
                        <img src="https://picsum.photos/330/220">
                        <div class="card-section">
                            <p>Raushan Kurmasheva, Ph.D., Part of Dmitri Ivanov, Ph.D., CPRIT Grant Team “Identifying and Optimizing Small Molecules for Drug Development”</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include "@components/feeds/news-events.twig" %}
</main>
{% include "@components/footer/alamo.twig" %}