{% include "@components/header-prototypes/STUROP-header.twig" %}
<section class="hero bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
                <h1>Resources</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/STUROP-navbar.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2>For Prospective Students</h2>
                <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about
                    log. Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver
                    Jack Tar clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
                <ul class="arrow">
                    <li><a href="#">Item one</a></li>
                    <li><a href="#">A second item</a></li>
                    <li><a href="#">Three's company</a></li>
                    <li><a href="#">Four's a crowd!</a></li>
                </ul>

                <h2>For Faculty/Staff</h2>
                <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about
                    log. Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver
                    Jack Tar clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
                <ul class="arrow">
                    <li><a href="#">Item one</a></li>
                    <li><a href="#">A second item</a></li>
                    <li><a href="#">Three's company</a></li>
                    <li><a href="#">Four's a crowd!</a></li>
                </ul>

                <h2>For Alumni</h2>
                <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about
                    log. Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver
                    Jack Tar clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
                <ul class="arrow">
                    <li><a href="#">Item one</a></li>
                    <li><a href="#">A second item</a></li>
                    <li><a href="#">Three's company</a></li>
                    <li><a href="#">Four's a crowd!</a></li>
                </ul>
            </main>
            <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="contact-us">
                <img src="http://placekitten.com/400/300" alt="KITTY" class="margin-bottom">
                <div>
                    <h2 class="ruled h3">Contact us</h2>
                    <address>
                        <strong>Dr. Irene Chapa</strong><br>
                        Program Director<br>
                        <a href="#">chapai@uthscsa.edu</a><br>
                        210-567-2941
                    </address>
                </div>
            </aside>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/STUROP-footer.twig" %}