{% include "@components/header-prototypes/news-header.twig" %}
<section class="hero bleed blur img-fill full">
    <img src="../../images/newsroom/home-banner.png" alt="adorable pup">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1 class="h2">UT Health San Antonio responds to coming tsunami of dementia and other brain health
                    challenges</h1>

                <p>This spring, UT Health San Antonio announced it will build a $100 million Center for Brain Health to
                    enhance its Biggs Institute and the Department of Neurology of its Joe R. and Teresa Lozano Long
                    School of Medicine.</p>

                <p><a href="#" class="button">Taking on the challenge</a></p>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/newsroom/home-banner.png" alt="UT Health Building">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/news-navbar.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-9 text-center">
                <h2>Featured News</h2>
            </div>

            <div class="grid-x grid-margin-x align-center">
                <div class="cell small-12 medium-5 card popout beige">
                    <div class="card-section">
                        <img src="../../images/newsroom/campus.jpg">
                        <p class="close-2"><a>Education</a></p>
                        <h4><a>UT Health San Antonio schools ranked among best in the nation</a></h4>
                        <p>UT Health San Antonio’s schools received national recognition for excellence in research,
                            education and diversity in the U.S. News and World Report’s list of best graduate schools
                            for 2024.</p>
                    </div>
                </div>
                <div class="cell small-12 medium-5 card popout beige">
                    <div class="card-section">
                        <img src="../../images/uthealth_flag.jpg">
                        <p class="close-2"><a>Health Care</a></p>
                        <h4><a>Ovarian Cancer: Early detection can help save lives</a></h4>
                        <p>Ovarian cancer is responsible for more deaths than any other cancers of the female
                            reproductive system and is the fifth leading cause of cancer death among women in the United
                            States, according to the American Cancer Society.</p>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-margin-x align-center">
                <div class="cell small-12 medium-5 card popout beige">
                    <div class="card-section">
                        <img src="../../images/newsroom/cancer-erase.jpg">
                        <p class="close-2"><a>Research</a></p>
                        <h4><a>Study shows immunotherapy before and after surgery for advanced melanoma lowers
                                recurrence
                            </a></h4>
                        <p>Mays Cancer Center at UT Health San Antonio melanoma expert Monte Shaheen, MD, was part of a
                            team of investigators that conducted a phase II clinical trial to determine the efficacy and
                            safety of administering the immunotherapy drug pembrolizumab before and after surgery in
                            high-risk melanoma patients.</p>
                    </div>
                </div>
                <div class="cell small-12 medium-5 card popout beige">
                    <div class="card-section">
                        <img src="../../images/uthealth_flag.jpg">
                        <p class="close-2"><a>Community</a></p>
                        <h4><a>Think Science live Q&A to explore dementia in South Texas</a></h4>
                        <p>Texas Public Radio will partner with UT Health San Antonio to serve the community at the next
                            Think Science live program, sharing the latest information about the connections between
                            brain and body health and new developments in the fight against dementia and Alzheimer’s
                            disease.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed color orange">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-9 text-center">
                <h2>Latest News</h2>
            </div>
            <a class="card cell small-12 medium-4 large-4">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Most Recent news Story</h4>
                    <p>This is one of the most recent news stories on the site. It should have a max of 3.</p>
                </div>
            </a>
            <a class="card cell small-12 medium-4 large-4">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Most Recent news Story</h4>
                    <p>This is one of the most recent news stories on the site. It should have a max of 3.</p>
                </div>
            </a>
            <a class="card cell small-12 medium-4 large-4">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Most Recent news Story</h4>
                    <p>This is one of the most recent news stories on the site. It should have a max of 3.</p>
                </div>
            </a>
            <p class="margin-top"><a class="button ghost">All Recent News</a></p>
        </div>
    </div>
</section>

<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-5 large-5">
                <img src="../../images/newsroom/thinkscience.jpg" alt="thinking about science">
            </div>
            <div class="cell medium-7 large-7">
                <h2>Think Science live Q&A to explore dementia in South Texas</h2>

                <p>Texas Public Radio will partner with UT Health San Antonio at the next <strong>Think Science</strong>
                    live program, sharing the latest information about the connections between brain and body health and
                    new developments in the fight against dementia and Alzheimer's disease. The event features
                    presentations by experts from UT Health San Antonio and an opportunity for audience members to ask
                    questions of researchers to learn more about how to stay mentally agile and fit throughout life.
                </p>
                <p class="margin-top"><a class="button arrow">Learn more</a></p>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 large-8">
                <h2>Twenty-Four Seven: A podcast about caregiving</h2>

                <p>The Texas Public Radio podcast, “Twenty-Four Seven: A Podcast About Caregiving,” presents a
                    thoughtful and helpful tool offering guidance to families and friends with loved ones experiencing
                    dementia. In season three, host and longtime NPR journalist Kitty Eisele explores the importance of
                    how caregivers are portrayed in popular culture. The podcast is proudly sponsored by The University
                    of Texas Health Science Center at San Antonio and its <a>Biggs Alzheimer’s Institute</a>.
                </p>
                <div class="button-group margin-top">
                    <p><a class="button arrow">Learn more</a></p>
                    <p><a class="button ghost arrow">Featured Story</a></p>
                </div>
            </div>
            <div class="cell medium-5 large-4">
                <img src="../../images/newsroom/podcast.jpeg" alt="twenty-four seven podcast">
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-9 text-center">
                <h2>In the News</h2>
            </div>

            <div class="grid-x grid-margin-x margin-top align-center">
                <a class="callout cell small-12 medium-4">
                    <div class="card-section">
                        <h3 class="h4">KSAT 12: Medical oncologist with UT Health San Antonio talks colorectal cancer
                            with GMSA@9
                        </h3>
                    </div>
                </a>

                <a class="callout cell small-12 medium-4">
                    <div class="card-section">
                        <h3 class="h4">San Antonio Express-News: UT Health San Antonio planning $100M expansion to
                            address a South
                            Texas problem: Alzheimer’s disease</h3>
                    </div>
                </a>

                <a class="callout cell small-12 medium-4">
                    <div class="card-section">
                        <h3 class="h4">U.S. News & World Report: 3-Week Program Effective in Helping to Ease
                            Combat-Linked PTSD</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-9 text-center">
                <h2>Upcoming Events</h2>
                <p>(Localist Events Feed)</p>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/news-footer.twig" %}