{% include "@blocks/header-v2/mission-hero.twig" %}
{% include "@components/navigation/mission-nav.twig" %}
<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <a class="card cell large-4 medium-4 small-12" href="#">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Training Future Generations</h4>
                    <p>With five schools offering 65 degree specialties, we're training South Texas' next generation of healthcare professionals.<p>
                </div>
            </a>
            <a class="card cell large-4 medium-4 small-12" href="#">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Leading Breakthroughs</h4>
                    <p>We're moving research forward and developing new methods for combatting disease, from diabetes to cancer to Alzheimer's.<p>
                </div>
            </a>
            <a class="card cell large-4 medium-4 small-12" href="#">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Advancing Patient Care</h4>
                    <p>Our network of 800 specialists are informed by the latest medical discoveries and can tailor a treatment plan for you.<p>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container no-bottom">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-5">
                <img src="../../images/granddaughter-grandma.jpg" alt="placeholder">
            </div>
            <div class="cell large-7">
                <h2>We're how. You're why.</h2>
                <p>We educate the next generation of health professionals, discover new ways to cure diseases and
                    provide our patients with the most advanced treatments available. And we do it all to improve health
                    care for you and everyone in South Texas.</p>
                <p><a class="button ghost">It's all for you</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed color orange">
    <div class="grid-container">
        <div class="grid-x text-center align-center factoid">
            <div class="cells large-4 medium-4 small-12">
                <p class="h2">1 of 4<p>
                <p>NCI-designated Cancer Centers in Texas</p>
            </div>
            <div class="cells large-4 medium-4 small-12">
                <p class="h2">65<p>
                <p>Degree Specialties Offered</p>
            </div>
            <div class="cells large-4 medium-4 small-12">
                <p class="h2">$186M<p>
                <p>In Annual Research Awards And Sponsored Program Activity</p>
            </div>
        </div>
    </div>
</section>
<section class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-x">
        <section class="cell large-7 small-12 align-self-middle">
            <h2>Happening now at UT Health San Antonio</h2>
            <p>Breakthroughs are happening everyday at UT Health San Antonio. Stay informed on the latest news and events. Marketing copy similar to Cancer Center.</p>
            <p><a class="arrow">Newsroom</a></p>
        </section>
        <aside class="cell large-5 small-12">
            {% include "@components/dates/long-event.twig" %}
            <br>
            {% include "@components/dates/long-event.twig" %}
            <br>
            <p><a class="arrow">All events</a></p>
        </aside>
    </div>
</section>
{% include "@blocks/footer/mission.twig" %}