{% include "@components/header-prototypes/header-CHC.twig" %}
<section class="hero bleed img-fill full">
    <img src="../../images/BPAL/bpal-laboratory.jpg" alt="person in lab">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-5 small-12 roomy">
                <div class="callout">
                    <h1>Center for Holistic Care</h1>
                    <p>Pinnace scuttle Jolly Roger crimp gangplank hardtack Pirate Round scourge of the seven seas
                        wherry come about. Furl jib weigh anchor jury mast starboard careen scallywag boom ye Plate
                        Fleet. Bilged on her anchor Arr mizzenmast rum gaff run a shot across the bow squiffy keel black
                        spot warp. </p>
                    <p><a href="#" class="button">Publications</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-CHC.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>Our Mission</h2>
            <p>Center for Holistic Care advances the health and well-being of patients and their family caregivers by
                integrating research, education, and clinical practices into family-based, technology-enhanced
                psychosocial behavioral programs. As a multidisciplinary team, we collaborate with patients, their
                families, clinicians, community partners, and technologists to provide personalized supportive care and
                educational resources, creating networks of social support through advanced technologies to meet the
                multifaceted needs of families facing chronic conditions, including cancer and Alzheimer's Disease and
                Related Dementias (ADRD), during care transitions.</p>

            <p><a href="#" class="button">Meet our Team</a></p>
        </main>
        <aside class="cell small-12 medium-4">
            <div>
                <img src="../../images/CHC/chc_logo.jpg" alt="CHC logo" class="margin-bottom">
            </div>
            <div class="callout contact outline">
                <h2 class="h5">Contact Us</h2>
                <ul class="fa-ul">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">210-567-0189</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</section>
<section class="bleed light-grey">
    <div class="grid-container">
        <h2 class="text-center">Recent Publications</h2>
        <div class="grid-x grid-margin-x grid-padding-y small-up-1 large-up-4">
            <a class="card cell color blue">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .blue</p>
                </div>
            </a>
            <a class="card cell color blue">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .blue</p>
                </div>
            </a>
            <a class="card cell color blue">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .blue</p>
                </div>
            </a>
            <a class="card cell color blue">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>This is a card with .color + .blue</p>
                </div>
            </a>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/CHC-footer.twig" %}