{% include "@components/header-prototypes/header-ola.twig" %}
<section class="hero bleed img-fill full">
	<img src="../../images/ola-banner.jpg" alt="glasses and contract">
	<div class="grid-container chonky">
		<div class="grid-x grid-margin-x">
            <div class="cell large-5 small-12">
                <div class="callout">
                    <h1>Welcome to the Office of Legal Affairs</h1>
                </div>
            </div>
        </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-ola.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <p>The Office of Legal Affairs supports The University of Texas Health Science Center (UTHSA) in achieving its goals in a manner consistent with the law and University policy. Services furnished by UTHSA's Office of Legal Affairs include, but are not limited to, the following:</p>
            <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-6">
            <ul>
            <li>Providing legal and strategic advice, counsel, and training to University faculty and staff</li>
            <li>Assisting in developing University policies and procedures</li>
            <li>Reviewing contracts and other legal documents</li>
            <li>Providing legal and strategic advice regarding the practice of healthcare, regulatory compliance, and medical staff matters, employment and civil rights matters, and all other legal matters that arise in the context of an Academic Medical Center</li></ul></div>
            <div class="cell small-12 medium-6 large-6">
            <ul>
            <li>Providing legal and strategic advice on proposed collaborations with external entities</li>
            <li>Assisting with resolving disputes, claims, investigations and litigation</li>
            <li>Coordinating Healthcare Claims Management</li>
            <li>Securing and coordinating the services of outside legal counsel when necessary</li>
            </ul></div></div>
            <p>Requests for Legal Advice and related Communications between the UTHSA's Office of Legal Affairs and its client are generally subject to the attorney-client privilege of confidentiality. Office personnel cannot provide individual legal advice to employees, faculty, or students regarding personal legal matters.</p>
        </main>
        <aside class="cell small-12 medium-4">
            <div class="callout contact outline">
                <h3>Contact Information</h3>
                <p class="close"><strong>The University of Texas Health Science Center at San Antonio Legal Affairs Office</strong><br>
                <address>
                Academic and Administration Bldg.<br>
                First Floor, Office Suite 130<br>
                7703 Floyd Curl Drive<br>
                San Antonio, Texas 78229-3900<br>
                Mail code: 7837<br>
                </address></p>
                            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">OLA@uthscsa.edu</span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                        </span>
                     </span> <span class="">(210) 567-2020</span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-fax fa-stack-1x fa-inverse"></i>
                        </span>
                     </span> <span class="">(210) 567-3869</span>
                  </a>
               </li>
            </ul>
            </div>
        </aside>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}