{% include "@components/header-prototypes/header-SHP.twig" %}
{% include "@components/navigation-prototypes/navbar-SHP.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Programs</a></li>
    <li><a href="#">Doctor of Occupational Therapy</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Capstone Projects
    </li>
  </ul>
</nav>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-8 medium-order-1 small-12 small-order-2">
      <p id="start">
      <h1>Capstone Projects</h1>
    
      <div class="lines loose-list">
        <ul>
          <li><a><i class="fas fa-file-pdf"></i> Nashville Dolphins Volunteer Training Development, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Examining Occupational Performance of Fighters and Further Recommendations for Well-being, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Building Resilience Through Pregnancy Utilizing Tools from Occupational Therapy and Yoga, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Occupational Therapies Role in Inpatient Obstetrics, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Center for Courageous Kids Volunteer Training Resources and “Through Our Eyes” Video, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> The Lived Experience of Older Adults Desiring to Age in Place, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Work Skills Programming Within Davidson County Residential Drug Court, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Elopement Prevention: Promoting Safety and Supporting Participation, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Exploration of Inclusivity and Accessibility of Play Spaces and Miracle League Facilities, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Building a Brighter Future: Developing Function Out of Dysfunction, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Postsecondary Education Curriculum for Adult Students with IDD at Lipscomb University's IDEAL, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Nashville Dolphins Program Development, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Habits for Health: A Holistic Approach to Women's Well-Being, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> SELTEC Model Level I Fieldwork Shift in an OTA Program, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Week 13: Promoting Occupational Balance During Trauma Healing Journey Post-Program Participation, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Exploring Seating and Mobility Provision, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Creation of Occupational Therapy Treatment Protocols for Diagnoses Affecting the Upper Extremities, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> The Impact of Social Emotional Learning in Pre-Kindergarten Classrooms, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Integrating Occupational Therapy in an Inclusive Post-Secondary Education Program (IPSE) at Auburn University - EAGLES, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Support for Saint Paul Police Federation’s Retirees, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Developing Resources to Promote Increased Program Activity and Independence for Individuals in a Residential Reentry Program, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Implementing Occupational Therapy Principles into a Lower Elementary Private School in Middle Tennessee, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Enhancing Learning Outcomes in an Intervention Based Orthopedic Course, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Promoting Occupational Therapy Student Well-Being through Scholarship, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Life Skills Guide for Supported Recovery for Individuals with Mental Health Conditions & Their Support Systems, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Promoting Health Education and Wellness Among Clients of Nurses for Newborns, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Occupational Therapy’s Role in Addressing Sensory Needs and Fine Motor Development Through Teacher Training, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> The Home Modification Process Through the Lens of an OT, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Program Development Through Therapeutic Camps, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Developing Group Protocols in an Inpatient Rehabilitation Setting, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Enhancing OTD Clinical Studies Course Curriculum, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Adult Vocational Skills Program Development at GiGi’s Playhouse, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Mental Health and Mindfulness: A Homeroom Curriculum at Benton Hall Academy, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Promoting Full Participation for Students Involved in Young Life Capernaum, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Positive Behavioral Supports and Sensory Experiences at Benton Hall Academy, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Inclusive Unmounted Lesson Curriculum Development at Saddle Up!, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Supporting Caregivers through Dementia and ADL Education, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Achieving the Best of All: Program Development for Adults and Preschoolers with Down Syndrome at GiGi's Playhouse, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Halvah carrot cake halvah marzipan fruitcake sweet roll, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Chocolate cake pudding sweet biscuit, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Soufflé shortbread sugar plum powder cotton candy, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Muffin muffin bonbon dragée, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Gummi bears apple pie cotton candy wafer candy canes, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Donut pie apple pie gummi bears liquorice bonbon, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i>  Shortbread toffee cupcake ice cream tart. Dessert pie chocolate toffee liquorice, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Cheesecake sweet fruitcake tart biscuit, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Wafer lemon drops tootsie roll chocolate donut fruitcake, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Fruitcake ice cream pie jelly-o tart caramels gingerbread liquorice jelly-o, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Tiramisu dragée jelly beans bear claw jelly beans sesame snaps toffee chocolate bar, Student Name</a></li>
          <li><a><i class="fas fa-file-pdf"></i> Tootsie roll jujubes chocolate candy candy canes, Student Name</a></li>
        </ul>
      </div>
      
      <nav aria-label="Pagination">
        <ul class="pagination">
          <li class="pagination-previous"><a href="#" aria-label="Previous page"> <span class="show-for-sr">Previous page</span></a></li>
          <li><a href="#" aria-label="Page 1">1</a></li>
          <li class="current"><span class="show-for-sr">You're on page</span> 2</li>
          <li><a href="#" aria-label="Page 3">3</a></li>
          <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">Next page</span></a></li>
        </ul>
      </nav>
      <p id="stop">
    </main>
    <aside class="cell large-4 large-order-2 medium-4 medium-order-2 small-12 small-order-1" data-sticky-container>
      <div class="sticky" data-sticky data-top-anchor="start:top" data-btm-anchor="stop:bottom">
        <div class="callout beige margin-bottom margin-top-2">
          <form>
            <label><strong>Search</strong>
              <input type="text">
            </label>
            <label><strong>Year</strong>
              <select>
                <option value="all">All</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
              </select>
            </label>
          </form>
          <div class="button-group">
            <p><a class="button">Search</a></p>
            <p><a class="button ghost"><i class="fas fa-redo"></i> Clear Filters</a></p>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>

{% include "@blocks/footer/no-alamo.twig" %}