{% include "@components/header v2/header-police.twig" %}
{% include "@components/navigation/navbar-police.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-7 small-12">
                <h1>ID Badges and Card Access</h1>

                <h2 class="h3">ID Badges</h2>
                <p>UT Police is responsible for all ID badges regardless of location. The access control
                    supervisor is responsible for providingcard access and maintains all records. The parking
                    staff issues IDs and collects fees.</p>
                <h3 class="color h4">Fees</h3>
                <ul>
                    <li>$4 fee for a cosmetic change to ID badge (i.e. Name change because of marriage or
                        picture change)</li>
                    <li>$4 replacement fee for an abused ID badge/access card (UT Police will determine if an
                        ID has been abused)</li>
                    <li>$10 fee for student ID badge/access card</li>
                    <li>$10 replacement fee for a lost or stolen ID badge/access card</li>
                    <li>$10 fee for anyone with the designation of "person of interest" to include:
                        <ul>
                            <li>Residents</li>
                            <li>Clinical adjunct faculty</li>
                            <li>Contractors</li>
                            <li>Temporary agents</li>
                            <li>Visiting students</li>
                            <li>UT others</li>
                        </ul>
                    </li>
                    <li>No fee for initial ID badge/access card for UT Health San Antonio faculty and staff members
                    </li>
                </ul>

                <h3 class="color h4">Frequently asked questions</h3>
                <p>Can I have more than one ID badge/access card?</p>
                <p>No. You are only authorized one ID badge/access card regardless of how many positions you
                    hold.</p>
                <p>How many credentials may I have on my ID badge/access card?</p>
                <p>Per HOP 8.7.10 - Standard acronyms indicating licensure, registration, certification, or doctoral
                    degree required by the employee’s position or pertinent to the work performed (e.g.: CPA,
                    CR, DDS, DVM, LVN, MD, MSW, MT (ASCP), PA, PhD, RN, RPh). Due to space limitations, restrictions
                    may apply.</p>
                <p>What do the different color classifications on ID badges mean?</p>
                <p>There are seven colors used for ID badges/access cards:</p>
                <ul>
                    <li>Green - Department chairs or directors (VIPs)</li>
                    <li>Blue - University Police</li>
                    <li>Orange - Faculty,staff and stipend</li>
                    <li>Red - Contractors or persons of interest (POI; Conducting business on university property
                        for more than 72 hours. Not faculty, staff or student.)</li>
                    <li>Brown - Students and visiting students</li>
                    <li>Yellow - Clinical faculty, emeritus, researchers and residents</li>
                </ul>

                <h2 class="h3">Card access</h2>
                <p>The university police department is responsible for electronic access through doors on all UT
                    Health San Antonio properties owned or leased.The access control supervisor is
                    responsible for authenticating all <a
                        href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40783">access
                        requests</a>, establishing and revoking access and maintaining all electronic access
                    records.</p>

            </main>

            <aside class="cell large-4 medium-5 small-12">
                <h2 class="h4 color">Keys & Access</h2>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="#">Access Systems & Controls</a></li>
                    <li><a href="#">Keys</a></li>
                    <li><a href="#">ID Badges & Card Access</a></li>
                    <li><a href="#">Book Appointment</a></li>
                </ul>

                <div class="callout contact outline">
                    <h2 class="h5">Contact Us</h2>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">access@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">210-450-4359</span>
                            </a>
                        </li>
                    </ul>
                    <p>Hours of operation: Monday - Friday, 8am - 5pm</p>
                </div>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}