{% include "@components/header-prototypes/header-TILT.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 medium-7 small-12">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12 ">
      <form>
				<label>Name
					<input type="text">
				</label>
				<label>Email
					<input type="text">
				</label>
				<label>Subject
					<select>
						<option value="0">- Select -</option>
            <option value="1">Interested in future research participation</option>
						<option value="2">Sharing my results</option>
						<option value="3">Sharing my story</option>
						<option value="4">Environmental house calls</option>
						<option value="5">Inquiry</option>
						<option value="6">Other</option>
					</select>
				</label>
        <label>
          Message
          <textarea rows="5"></textarea>
        </label>
        <p><a class="button">Submit</a></p>
			</form>
    </main>
     <aside class="cell large-4 medium-4 small-12 ">
        <img class="margin-bottom" src="../../images/salsa-labs.png">

     </aside>
  </div>
</section>

{% include "@components/footer-prototypes/TILT-footer.twig" %}