<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4 card">
        <div class="card-section">
            <img src="https://picsum.photos/534/300">
            <p>Sometimes, cards don't have a headline</p>
            <p>No headlines are ok in cards.</p>
            <div class="button-group">
    <p><a href="#" class="button">Button Orange</a></p>
    <p><a href="#" class="button ghost">Button Ghost</a></p>
</div>
        </div>
    </div>
</div>