{% include "@components/header-prototypes/header-ola.twig" %}
{% include "@components/navigation-prototypes/navbar-ola.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
        <h1 class="h2">Legal Affairs Services</h1>
            <p>The Texas Public Information Act (Government Code, Chapter 552) dictates how we must respond to any requests for any information that has been collected, assembled, or maintained by or for The University of Texas Health Science Center at San Antonio.</p>
            <p>To request for public information, you may send a request by U.S. mail, deliver it in person below:</p>
            <h3 class="h5">By U.S. Mail/In person:</h3>
            <p class="close">The University of Texas Health Science Center at San Antonio<br>
                Attn: Public Information Officer<br>
                Office of Legal Affairs<br>
                Academic and Administration Building<br>
                First Floor, Office Suite 130<br>
                7703 Floyd Curl Drive<br>
                San Antonio, Texas 78229-3900<br>
                Mail code: 7837</p>
        </main>
        <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="membership-button contact-us">
                <div class="grid-x">
                    <a class="callout color orange cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-file fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="membership-button">Submit an open records request</h3>
                    </a>
                </div>
            </aside>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}
