{% include "@components/header-prototypes/header-opa.twig" %}

<section class="full hero bleed img-fill extra-roomy">
  <img src="../../images/jiang-lab.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-right">
        <div class="small-12 large-5 medium-5 cell callout">
          <h1>Faculty Mentors & Administrators</h1>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <ul class="accordion blue" data-accordion data-allow-all-closed="true">

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Postdoc Policies</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Postdoctoral Research Fellow Policy (HOP 4.3.12)</a></li>
                    <li><a>Current Minimum Salary $54,835 (NIH NOT-OD-22-108)</a></li>
                    <li><a>Conflict of Interest Office</a></li>
                    <li><a>iDisclose</a></li>
                    <li><a>Handbook of Operating Procedures (HOP)</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Procedure</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Offer Letter Instructions</a></li>
                    <li><a>Postdoctoral Appointment Process</a></li>
                    <li><a>Request for Exception Instructions</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Forms</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Criminal Background Check Form</a></li>
                    <li><a>English Language Proficiency Attestation Form</a></li>
                    <li><a>Evaluation</a></li>
                    <li><a>Extension Offer Letter Template</a></li>
                    <li><a>Notification of Intent to Hire</a></li>
                    <li><a>Offer Letter Template</a></li>
                    <li><a>Request for Exception Form</a></li>
                    <li><a>Request for Postdoc Minimum Salary Increase Memo</a></li>
                    <li><a>Termination Memo Template</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Resources</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Entering Mentoring</a></li>
                    <li><a>National Association of Credential Evaluation
                    (Translation) Services (NACES)</a></li>
                    <li><a>Resources for Postdoctoral Fellows</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Health & Wellness</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>Employee Health & Wellness</a></li>
                    <li><a>Student Counseling Center</a></li>
                    <li><a>UT Employee Assistance Program</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Advertising a Postdoctoral Position</a>
              <div class="accordion-content" data-tab-content>
                <div class="lines">
                  <ul>
                    <li><a>External - Journals, Meetings, Publications, etc.</a></li>
                    <li><a>Internal - OPA Online Postdoc Positions</a></li>
                  </ul>
                </div>
              </div>
            </li>
        </ul>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <h2>Training Grant Data Repository</h2>
      <p>For access to the Training Grant Data Repository (TGR) please email <a>TrainingGrant@uthscsa.edu</a></p>
      <a class="callout orange">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-award fa-stack-1x fa-inverse"></i>
        </span>
        <h5>Outstanding Postdoctoral Research Mentor of the Year Award</h5>
      </a>
    </aside>

  </div>
</section>


{% include "@blocks/footer/OPA-no-alamo.twig" %}