<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Signature Page</a></li>
                <li><a href="#">Compliance</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">University Home</a></li>
            </ul>
        </div>
    </div>
</nav>