{% include "@components/header-prototypes/header-GSBS-syllabus.twig" %}
{% include "@components/navigation-prototypes/navbar-GSBS-syllabus.twig" %}

<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 small-12">
				<h1>Find your Course Syllabus</h1>
				<p>Use our syllabus search to find courses from the current term or find previous years course syllabi.</p>
			</div>
		</div>
	</div>
</section>

<section class="bleed grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-7 small-12 medium-order-1 small-order-2">
            <table class="sortable">
	<thead>
		<tr>
			<th>Prefix</th>
			<th>Course Number</th>
			<th>Section</th>
			<th>Course Title</th>
			<th>Min Credit Hours</th>
      <th>Max Credit Hours</th>
      <th>Instructor Name</th>
		</tr>
	</thead>

	<tbody>
	<tr>
		<td>BIME</td>
		<td>6098</td>
		<td>1</td>
		<td>BIME 6098-1 Thesis</td>
		<td>1</td>
    <td>12</td>
    <td>Jean Jiang</td>
	</tr>
	<tr>
		<td>BIME</td>
		<td>7099</td>
		<td>1</td>
		<td>BIME 7099-1 Dissertation</td>
		<td>1</td>
    <td>12</td>
    <td>Jean Jiang</td>
	</tr>
	<tr>
		<td>BIME</td>
		<td>6003</td>
		<td>1</td>
		<td>BIME 6003-1 Intro To Clin Practices</td>
		<td>1</td>
    <td>1</td>
    <td>Howard Wang</td>
	</tr>
	<tr>
		<td>BIME</td>
		<td>6003</td>
		<td>2</td>
		<td>BIME 6003-2 Intro To Clin Practices</td>
		<td>1</td>
    <td>1</td>
    <td>Howard Wang</td>
	</tr>
  <tr>
		<td>BIME</td>
		<td>6006</td>
		<td>1</td>
		<td>BIME 6006-1 Physiology for Bioengineers</td>
		<td>3</td>
    <td>3</td>
    <td>Jean Bopassa</td>
	</tr>
  <tr>
		<td>BIME</td>
		<td>5091</td>
		<td>1</td>
		<td>BIME 5091-1 Independent Study</td>
		<td>0.5</td>
    <td>3</td>
    <td>Jean Jiang</td>
	</tr>
  <tr>
		<td>BIME</td>
		<td>6004</td>
		<td>001</td>
		<td>BIME 6004- Biology For Bioengineers</td>
		<td>3</td>
    <td>3</td>
    <td>Susan Weintraub</td>
	</tr>
  <tr>
		<td>BIME</td>
		<td>6071</td>
		<td>1</td>
		<td>BIME 6071-1 Supervised Teaching</td>
		<td>1</td>
    <td>1</td>
    <td>Jean Jiang</td>
	</tr>
  <tr>
		<td>BIME</td>
		<td>6090</td>
		<td>1</td>
		<td>BIME 6090-1 Seminar</td>
		<td>1</td>
    <td>1</td>
    <td>Jean Jiang</td>
	</tr>
  <tr>
		<td>BIME</td>
		<td>6097</td>
		<td>1</td>
		<td>BIME 6097-1 Research</td>
		<td>1</td>
    <td>12</td>
    <td>Jean Jiang</td>
	</tr>
  <tr>
		<td>BIOC</td>
		<td>3</td>
		<td>1</td>
		<td>BIOC 3-1 Sci Writ: Dev & Defend Proposl</td>
		<td>2</td>
    <td>2</td>
    <td>Reuben Harris</td>
	</tr>
  <tr>
		<td>BIOC</td>
		<td>5085</td>
		<td>6BMM</td>
		<td>BIOC 5085-6BMM Biophysical Methods</td>
		<td>2</td>
    <td>2</td>
    <td>Philip Serwer</td>
	</tr>
  <tr>
		<td>BIOC</td>
		<td>6036</td>
		<td>6BMM</td>
		<td>BIOC 6036-6BMM Macromolec Struct & Mechanism</td>
		<td>2</td>
    <td>2</td>
    <td>Rui Sousa</td>
	</tr>
  <tr>
		<td>CSAT</td>
		<td>5007</td>
		<td>1</td>
		<td>CSAT 5007-1 Methods In Cell Biology</td>
		<td>1</td>
    <td>1</td>
    <td>Lizhen Chen</td>
	</tr>
  <tr>
		<td>CSAT</td>
		<td>5024</td>
		<td>1</td>
		<td>CSAT 5024-1 Genomics</td>
		<td>1</td>
    <td>1</td>
    <td>Luiz Penalva</td>
	</tr>
  <tr>
		<td>CSAT</td>
		<td>5030</td>
		<td>1</td>
		<td>CSAT 5030-1 Basic Histology</td>
		<td>1</td>
    <td>1</td>
    <td>Pamela L. Larsen</td>
	</tr>
  <tr>
		<td>CSAT</td>
		<td>5074</td>
		<td>1</td>
		<td>CSAT 5074-1 Intro to Research</td>
		<td>0.5</td>
    <td>0.5</td>
    <td>Kokovay, Erzsi</td>
	</tr>
  <tr>
		<td>CSAT</td>
		<td>5023</td>
		<td>1</td>
		<td>CSAT 5023-1 Development</td>
		<td>1</td>
    <td>1</td>
    <td>Pei Wang</td>
	</tr>
  <tr>
		<td>CSAT</td>
		<td>5077</td>
		<td>1</td>
		<td>CSAT 5077-1 Scientific Writing</td>
		<td>2</td>
    <td>2</td>
    <td>Rita Ghosh</td>
	</tr>
  <tr>
		<td>CSAT</td>
		<td>5089</td>
		<td>1</td>
		<td>CSAT 5089-1 Graduate Colloquium</td>
		<td>2</td>
    <td>2</td>
    <td>Susan Frost</td>
	</tr>
	</tbody>
</table>
<section>
<nav aria-label="Pagination">
  <ul class="pagination">
    <li class="pagination-previous"><a href="#" aria-label="Previous page"> <span class="show-for-sr"> Previous page</span></a></li>
    <li><a href="#" aria-label="Page 1">1</a></li>
    <li class="current"><span class="show-for-sr">You're on page</span> 2</li>
    <li><a href="#" aria-label="Page 3">3</a></li>
    <li class="ellipsis" aria-hidden="true"></li>
    <li><a href="#" aria-label="Page 10">10</a></li>
    <li><a href="#" aria-label="Page 11">11</a></li>
    <li><a href="#" aria-label="Page 12">12</a></li>
    <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">Next page</span></a></li>
  </ul></nav></section>
        </main>

        <aside class="cell large-4 medium-5 small-12 medium-order-2 small-order-1">
                <div class="cell small-12 medium-5">
                    <div class="callout">
                        <h3 id="filters">Filter List By</h3>
                        <form>
                            <fieldset>
                                <label>Course Title
                                    <input type="text">
                                </label>
                            </fieldset>
                            <fieldset>
                              <label>Course Prefix
                                  <input type="text">
                              </label>
                          </fieldset>
                          <fieldset>
                            <label>Course Number
                                <input type="text">
                            </label>
                        </fieldset>
                        <fieldset>
                          <label>Course Section
                              <input type="text">
                          </label>
                      </fieldset>
                      <fieldset>
                        <label>Course Instructor
                            <input type="text">
                        </label>
                    </fieldset>
                            <button class="button">Go</button>
                            <button class="button ghost">Clear all filters</button>
                        </form>
                    </div>
                </div>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/GSBS-footer.twig" %}