{% include "@components/header-prototypes/header-superhero-missionmag-v2.twig" %}

<section class=" hero gradient left white bleed img-fill">
<img src="../../images/Tutu-girl_face2-1500x1000.jpg" alt="girl in tutu">    
  <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout white">
                <h1 class="supersize">Mission Magazine</h1>
                <h2 class="h5 sans-serif"><strong>Editor's Pick:</strong> Bravery comes in the shape of a preschooler in a pink tutu</h2>
                <div class="button-group">
                  <p><a href="#" class="button">Read Story</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="grid-container">
    <section class="grid-x grid-margin-x align-center">
    <section class="cell large-12 medium-12 small-12 text-center margin-bottom">
    <h2>Latest stories</h2></section>
        <a class="card cell small-12 medium-4 large-4">
            <img src="../../images/Acting-sick-368x245.jpg">
            <div class="card-section">
                <h4>Acting sick</h4>
                <p>There is no one better to give future health care providers pointers on working with patients than patients themselves. These just happen to be trained actors working off a script.</p>
            </div>
        </a>

       <a class="card cell small-12 medium-4 large-4">
            <img src="../../images/Preemie-baby-368x245.jpg">
            <div class="card-section">
                <h4>Fish oil could save lives</h4>
                <p>A physician’s passion to save premature babies was instrumental in the FDA’s approval of a lifesaving treatment for babies with gastrointestinal complications.</p>
            </div>
        </a>

        <a class="card cell small-12 medium-4 large-4">
            <img src="../../images/MS-Antonia-368x245.jpg">
            <div class="card-section">
                <h4>Racing the clock</h4>
                <p>As researchers and physicians battle against an unpredictable, incurable foe, one patient refuses to let multiple sclerosis defeat her.</p>
            </div>
        </a>

    </section>
    <section class="cell large-12 medium-12 small-12 text-center margin-top"><p><a href="#" class="button">View more stories</a></p></section>
</main>

<section class="bleed color orange noise">
	<div class="grid-container img-bleed-left">
		<div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-6 large-6 small-order-2 large-order-1">  
				<img src="../../images/perfect-storm-bike2-1920x1271.jpg" alt="human on bike">
			</div>
			<div class="cell medium-6 large-6 small-order-1 large-order-2">
      <h6 class="sans-serif">FEATURED STORY</h6>
<h2>The perfect storm</h2>
				<p>What used to be called adult-onset diabetes is now hitting children at alarming rates. While San Antonio bears the burden of being the epicenter for diabetes, it is also a hotbed for research.</p>
				<p><a class="arrow">Full Story</p></a>
			</div>
		</div>
	</div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center padding-bottom">
                <h2>Best of Mission</h2>
            </div>
            <div class="cell small-12 medium-4 card popout border">
            <div class="card-section">
                <img src="../../images/Alumni-Sharon-Gordon-534x300.jpg">
                <h4>Breaking barriers</h4>
                <p>UT Health San Antonio alumna Sharon M. Gordon, D.D.S. ’91, is the first woman dean of UConn's dental school.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
            <div class="cell small-12 medium-4 card popout border">
            <div class="card-section">
                <img src="../../images/Zombie-brain-scans-534x300.jpg">
                <h4>‘Zombie’ cells</h4>
                <p>A type of cellular stress known to be involved in cancer and aging has now been implicated, for the first time, in Alzheimer's disease.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
            <div class="cell small-12 medium-4 card popout border">
            <div class="card-section">
                <img src="../../images/Liver-cells-featured-534x300.jpg">
                <h4>Fighting alcoholic liver disease</h4>
                <p>Research findings offer hope for a pill to someday treat alcoholic fatty liver disease.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        </div>
    </div>
</section>

<div class="bleed full img-fill">
	<img src="../../images/Tutu-girl_face2-1500x748.jpg" alt="girl in tutu" class="middle">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-12 large-8">
				<h2>Current Issue</h2>

					<p>Bravery comes in the shape of a preschooler in a pink tutu. The 3-year-old fought her way through countless surgeries after a vicious dog attack left her with near-fatal injuries.</p>
				<div class="button-group">
    <p><a href="#" class="button">Current Issue</a></p>
    <p><a href="#" class="button ghost">Mission Archive</a></p>
</div>
			</div>
			<div class="cell medium-12 large-4  ">
      <img src="../../images/Cover-Winter2019.jpg">
			</div>
		</div>
	</div>
</div>

<section class="bleed">
    <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-spaced">
        <div class="small-12 medium-8 cell">
            <h2>Get Mission updates</h2>
            <p>Use the below field to get the latest stories and Mission highlights in your mailbox.</p>
            <form>
                <label>Email Address
                    <input type="text" class="small-4">
                </label>
                <button type="submit" class="button">Subscribe now</button>
        </div>
        <div class="small-12 medium-2 cell">
            <i class="fas fa-envelope-open-text fa-10x dark-grey"></i>
        </div>
    </div>
  </div>
</section>

{% include "@blocks/footer/mission.twig" %}