{% include "@components/header-prototypes/header-hr-onboarding.twig" %}

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-hr-onboarding.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                
<h2 class="h3">Office Location</h2>
<p>One Technology Center<br>
7411 John Smith Drive, Suite 500<br>
San Antonio, Texas 78229</p>

<h3 class="h5">Parking</h3>
<p>Parking is available in any surface parking space except those marked with a number or “reserved.” Spaces marked UT Health Visitors are available on the lower level (LL) of the parking garage along the far back wall.</p>

​<h3 class="h5">​Mailing Address</h3>
<p>UT Health San Antonio<br>
7703 Floyd Curl Drive, Mail Code 7972<br>
San Antonio, TX 78229​​​​</p>

<p><strong>Main phone number:</strong> 210-567-2600<br>
<strong>Office hours:</strong> Monday-Friday, 8 a.m.-5 p.m.<br></p>
<p><strong>Talent Acquisition:</strong> <a>Careers@uthscsa.edu</a><br>
<strong>Benefits:</strong> <a>benefits@uthscsa.edu</a></p>


</main>
            <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="service-button report-problem">
                <div class="grid-x">
                    <a class="callout color orange cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="service-button">Just Accepted an Offer</h3>
                    </a>
                    </div>
                    <a class="callout color blue cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="service-button">New Employee Login</h3>
                    </a>
                
  </div>
</div>

                </div>
            </aside>
        </div>
    </div>
</section>