{% include "@components/header-prototypes/header-UTP.twig" %}

<section class="bleed beige">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">
				<h1>EpicCare Link</h1>
        <p>Tiramisu chupa chups pie tiramisu croissant caramels jelly-o. Tiramisu cupcake wafer marshmallow macaroon sesame snaps tiramisu. Muffin cake wafer gummies sugar plum gummies. Tootsie roll pie biscuit chocolate croissant soufflé marzipan brownie. Croissant soufflé brownie tiramisu oat cake donut lemon drops candy canes tart. </p>
        <div class="button-group">
            <p><a href="#" class="button">Request Access</a></p>
            <p><a href="#" class="button ghost">Login</a></p>
        </div>
        
			</div>
      <div class="cell large-5 medium-5 small-12">
        <!--<img src="https://placekitten.com/575/300">-->
        <img src="../../images/logo-epiccare.png" alt="">
      </div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}

<main class="grid-container">
    <div div class="grid-x grid-margin-x align-center">
        <section class="cell small-12 medium-8 large-8">
            <div class="grid-x grid-margin-x text-center margin-bottom">
                <div class="cell large-4 medium-4 small-12">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>EpicCare Link is a web-based application that UT Southwestern uses to grant access to referring providers. </p>  
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>EpicCare Link provides secure access to select patient information in UT Southwestern's instance of Epic data repository.</p>  
                </div>
                <div class="cell large-4 medium-4 small-12">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>EpicCare Link is free for referring providers to access and use after an agreement is signed.</p>  
                </div>
            </div>
            <p>Lollipop donut oat cake ice cream chupa chups muffin oat cake dessert. Toffee gingerbread cotton candy candy jelly beans jelly-o candy canes pie jelly-o. Wafer cotton candy dessert cake soufflé gummies. Pudding muffin gingerbread jelly-o cheesecake. Gummi bears cheesecake pie muffin biscuit biscuit marshmallow cake. Pudding gingerbread marshmallow bonbon caramels gummies lollipop cake bonbon.</p>
            <p>Gummies sweet roll jelly-o tiramisu pastry lollipop. Sweet roll lollipop soufflé topping bear claw donut. Sesame snaps tart gummi bears soufflé cupcake lemon drops chocolate. Muffin carrot cake cookie powder jujubes fruitcake tart. Liquorice cheesecake toffee danish pastry dragée lemon drops brownie wafer. Muffin biscuit jelly beans carrot cake cake bonbon wafer marshmallow soufflé.</p>
            <div class="indent-list">
                <ul>
                    <li>Brownie tootsie roll</li>
                    <li>Chupa chups tiramisu bonbon</li>
                    <li>Donut soufflé gummi bears</li>
                    <li>Muffin liquorice</li>
                    <li>Carrot cake tiramisu toffee pie cupcake</li>
                    <li>Dragée brownie oat cake caramels tootsie roll</li>
                </ul>
            </div>
        </section>
        <aside class="cell small-12 medium-4 large-4">
            <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Frequently Asked Questions</h3>
            </a>
            <br>
            <div class="callout outline contact">
              <h3>Contact Support</h3>
              
              <ul class="fa-ul">
                  <li>
                      <a href="mailto:LongSOM@uthscsa.edu">
                      <span class="fa-li">
                          <span class="fa-stack">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                          </span>
                      </span>
                      <span>email@uthscsa.edu</span>
                      </a>
                  </li>
                  <li>
                      <a href="tel:210-567-6080">
                      <span class="fa-li">
                          <span class="fa-stack">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                          </span>
                      </span>
                      <span>210-000-0000</span>
                      </a>
                  </li>
              </ul>
          </div>
        </aside>
    </div>

</main>
{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}