{% include "@components/header-prototypes/header-bpal.twig" %}
<section class=" hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
                <h1>Facilities & Equipment</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-bpal.twig" %}

<main class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <h2>Laboratory Facility</h2>
            </div>
            <div class="cell small-12 medium-8 large-8">
                <p>The Biological Psychiatry Analytic Laboratory (BPAL) is located in the Department of Psychiatry & Behavioral Sciences within the School of Medicine at UTHSCSA. The laboratory is fully equipped with the usual items necessary for the functioning of a general biochemistry research and clinical laboratory, and has been in existence for 35+ years under the direction of Dr. Martin Javors, and more recently, Dr. Brett Ginsburg. The lab procedures follow GLP standards of operation. Four technicians work on core projects in 3 separate laboratory rooms with adequate lab space for expansion of personnel and equipment to meet core needs.</p>
                <h2 class="h3">Phlebotomy Room</h2>
                <p>A private, dedicated room is available near the laboratory for obtaining blood samples from research participants. This room is equipped with a phlebotomy chair, shelving, and all disposable supplies required for safe venipuncture and sample collection.</p>
                <h2 class="h3">Office Space</h2>
                <p>Office space is provided to the PI, containing a personal computer and associated peripherals such as a printer for data analysis, manuscript and graph preparation, and electronic communication. Research Technicians and trainees have dedicated space in the laboratory equipped with desks, computers, and network access for technician and trainees to use. This allows electronic communication and data transfer from the lab to the PI and back.</p>
                <p>The faculty of the Department of Psychiatry foster an intellectually enriching environment. The faculty has been extremely supportive of Dr. Ginsburg during his career. As described in the Bio-sketch, Dr. Ginsburg is a Professor in the Department of Psychiatry and Behavioral Sciences with tenure and is the holder of two research endowments to improve psychiatric treatment, demonstrating the commitment of the department and the institution to Dr. Ginsburg’s career development.</p>
                <p>Dr. Ginsburg is a participant in a T32 training grant, “Training in Drug Abuse Research: Behavior and Neurobiology.” This postdoctoral training program builds on a rapidly growing community of drug and alcohol abuse researchers and trainees at UTHSCSA. Through this grant, Dr. Ginsburg can recruit and support a postdoctoral trainee in a structured program that will benefit both the trainee and Dr. Ginsburg's career development.</p>
                <p><a class="arrow">Download BPAL facility information</a></p>
            </div>
            <div class="cell small-12 medium-5 large-4">
            <img src="../../images/BPAL/BPAL-logo.png" alt="BPAL logo">
                <div class="flex-container">
                    <a class="callout color blue flex-child-auto margin-top">
                    <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-comments-dollar fa-stack-1x fa-inverse"></i>
                            </span>
                    <h3>Fee Schedule</h3>
                    </a></div>
                    <div class="flex-container">
                    <a class="callout color orange flex-child-auto">
                    <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-poll-h fa-stack-1x fa-inverse"></i>
                            </span>
                    <h3>Assay Results</h3>
                    </a></div>
                </div>
            </div>
        </div>
</main>

<section class="bleed beige">
    <div class="grid-container">
        <h2 class="text-center">Equipment</h2>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                    <ul class="accordion orange" data-accordion data-allow-all-closed="true">
                        <li class="accordion-item is-active" data-accordion-item>
                            <a href="#" class="accordion-title">Computer Systems</a>
                            <div class="accordion-content" data-tab-content>
                            <p>The Biological Psychiatry Analytic Laboratory, housed in the Department of Psychiatry and Behavioral Sciences, uses primarily Intel based work stations running Microsoft Windows operating systems. The work stations in the labs are linked by the UTHSC network through which they are grouped into two local network domains hosted by networked file servers, managed and archived by Institutional Informational Management Services. Server backup and file security are rigorously enforced on a daily schedule during the weekdays. The Department uses the latest in professional office automation software as well as up-to-date programs for the statistical analyses and data visualization. The BPAL is also equipped with Empower, Analyst, and Insight software to control the analytical lab equipment and store chromatographic data. The departmental network provides complete access to the Internet as well as all UTHSC servers.</p>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Analytical Pharmacology Core Staff</a>
                            <div class="accordion-content" data-tab-content>
                            <p>The stability of the lab staff is impressive and provides over 53 total years of experience with analytical biochemistry. Emeritus Director Martin Javors, Ph.D. has over 50 years of bioanalytical experience. Director Brett Ginsburg has over 25 years of experience performing bioanalytic assays and has been affiliated with the lab for over 20 years.  Associate Director Marisa Lopez-Cruzan, Ph.D. has over 5 years of experience in analytical pharmacological investigations.  Technical staff include Jesse Sanchez, MA, lab manager, who has in the BPAL for over 20 years, Greg Friesenhahn B.S. (20 years of experience), David Galindo, B.S., M.B.A. (10 years), and Meredith Murrell, M.S., (7 years).</p>
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="cell small-12 medium-6">
                <p>All equipment needed for analytical assays of small molecules is present in the BPAL. The lab is equipped with standard biochemical/biological/analytical laboratory items such as pipettors, pH meters, centrifuges, sample shakers, refrigerator/freezer combination units, etc. Additionally, there are other more sophisticated, state of the art equipment items including 7 deep freezers (-80oC), 5 HPLC systems, 2 with UV detectors, 1 with an electrochemical detector, and 3 with tandem mass spectroscopy detectors including nitrogen generators, 2 UV plate readers (96 wells), computers to operate the equipment, nitrogen generators for the tandem mass spectrometers, two fully equipped fume hoods to allow for sample processing and drying under a stream of Nitrogen, and a Milli-Q water purification system.</p>
                <p>The specific equipment available in the lab includes:</p>
                <ol type="A">
                  <li>Shimadzu UHPLC LC-30A with Schimadzu  LCMS-8045 tandem mass spectrometer</li>
                  <li>Shimadzu LC20 HPLC with AB Sciex 4000 tandem mass spectrometer</li>
                  <li>Shimadzu LC20 HPLC with AB Sciex 3200 tandem mass spectrometer</li>
                  <li>Shimadzu LC20 Series HPLC with UV detector systems (two)</li>
                  <li>Shimadzu LC10 HPLC system with ESA Coulochem III electrochemical detector system</li>
                </ol> 
                <p>Blood samples are able to be processed in one of several centrifuges in the lab, depending on the extent of sample fractionation required. These include:</p>
                <ol type="A">
                  <li>Beckman Coulter Allegra X-12R</li>
                  <li>Beckman Coulter Avanti J-E</li>
                </ol>  
                <p>A biosafety cabinet is located in the laboratory to allow for safe sample handling. This cabinet is inspected and maintained by our Institutional Environmental Health and Safety officials annually to ensure proper function.</p>
                <p><a class="arrow">Download BPAL equipment information</a></p>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}