{% include "@components/header-prototypes/header-ims.twig" %}
<section class=" hero full bleed img-fill">
    <img src="../../images/IMS/ims-hero2.jpg" alt="person on laptop">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>Welcome to the Information Management & Services (IMS)</h1>
                <p>As our institution relies more heavily on information technology to achieve our missions of education, research, clinical care and public service, IMS is poised to provide IT leadership, solutions, guidance and advocacy with our Health Science Center and external partners and colleagues.</p>
                <div class="button-group">
                    <p><a href="#" class="button">About Us</a></p>
                    <p><a href="#" class="button ghost">Request a Service</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-ims.twig" %}

<section class="bleed">
	<div class="grid-container">
		<div class="grid-x text-center grid-margin-x">
			<div class="cell medium-12 large-3">
				<a href="#">
		<span class="fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fas fa-user-lock fa-stack-1x fa-inverse"></i>
		</span>
		<h4>Password Reset</h4>
	</a>
			</div>
			<div class="cell medium-12 large-3">
				<a href="#">
		<span class="fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fas fa-comment-dots fa-stack-1x fa-inverse"></i>
		</span>
		<h4>Service Desk Chat</h4>
	</a>
			</div>
			<div class="cell medium-12 large-3">
				<a href="#">
		<span class="fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
		</span>
		<h4>Request a Service</h4>
	</a>
</div>
			<div class="cell medium-12 large-3">
				<a href="#">
		<span class="fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
		</span>
		<h4>Computer Store</h4>
	</a>
			</div>
		</div>
	</div>
</section>

<section class="bleed light-beige">
   <div class="grid-container">
      <div class="grid-x grid-margin-x">
      <main class="cell large-8 medium-8 small-12">
         <div class="grid-x sidecar grey">
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout outline flex-child-auto">
                  <h5>Hardware and Software Services</h5>
                  <p>​​​​​​​​​​​​​​​​​​​​​​​​​​Our convenient on-campus location offers students, faculty, and staff academic discounts from Apple and Dell, as well as discounts on accessories and software.</p>
                  <p><a href="#" class="button">Learn More</a></p>
               </div>
            </div>
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout flex-child-auto">
                  <h5>Computer Repair Support</h5>
                  <p>Students are eligible for warranty repairs under the Apple or Dell warranty service. Additionally, at no charge, students in the Dental School, Medical School, School of Nursing, and the Health Professions may use the labor services provided by End User Support.</p>
                     <p><a href="#" class="button">IMS Service Desk</a></p>
               </div>
            </div>
            </div>
<div class="grid-x sidecar grey">
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout outline flex-child-auto">
                  <h5>Web & Digital Services</h5>
                  <p>Our teams use consistent, high-quality, user-centered design and development to build and improve digital platforms that align stakeholder needs with enterprise goals, guided by data, user research, and strategic priorities."</p>
                  <p><a href="#" class="button">Learn More</a></p>
               </div>
            </div>
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout flex-child-auto">
                  <h5>Print & Copy Services</h5>
                  <p>UT Print offers the latest technology in offset printing to provide our customers with the highest quality product available and fast delivery at a very affordable price.</p>
                     <p><a href="#" class="button">UT Print</a></p>
                    </div>
               </div>
            </div>
            <div class="grid-x sidecar grey">
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout outline flex-child-auto">
                  <h5>Cloud Services</h5>
                  <p>​​​​UT Health San Antonio offers several options for storing University data, based on need and on the type of data to be stored.</p>
                  <p><a href="#" class="button">Learn More</a></p>
               </div>
            </div>
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout flex-child-auto">
                  <h5>SharePoint Services</h5>
                  <p>​The SharePoint Team provides solution planning, development and support for MYUTHealth, as well as SharePoint and other apps the comprise Office365.</p>
                     <p><a href="#" class="button">SharePoint Info</a></p>
                    </div>
               </div>
            </div>
    </main>
   <aside class="cell large-4 medium-4 small-12">
     <div class="margin-bottom">
   <h3 class="h5">Helpful Resources</h3>
     <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li>
    <a href="#">Project Portfolio Management & Delivery</a>
  </li>
  <li><a href="#">Classroom Audio Visual Request</a></li>
  <li>
    <a href="#">Virtual Desktop Initiative (VDI) Service</a>
  </li>
  <li><a href="#">Submit feedback - online form</a></li>
</ul>
</div>
<div class="margin-bottom text-center">
      <h3 class="h5">IT Operations</h3>
   <div class="loose-list margin-bottom">
   <ul class="no-bullet inline">
         <a>
            <span class="fa-stack">
               <i class="fas fa-circle fa-stack-2x"></i>
               <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
            </span>
            <span>Scheduled Maintenance</span>
         </a>
      </li>
   </ul>
   </div>
</div>
    </aside>
  </div>
</div>
</section>
<section class="bleed">
	<div class="grid-container ">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-4 large-4 flex-container">
				<a class="callout color blue flex-child-auto">
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fas fa-list fa-stack-1x fa-inverse"></i>
					</span>
					<h3 class="h5">IMS Services</h3>
               <p>Information on SharePoint</p>
				</a>
			</div>
			<div class="cell small-12 medium-4 large-4 flex-container">
				<a class="callout color blue flex-child-auto">
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fas fa-user-cog fa-stack-1x fa-inverse"></i>
					</span>
					<h3 class="h5">Epic Support Desk</h3>
					<p>210-450-HELP or 210-450-4800</p>
				</a>
			</div>
			<div class="cell small-12 medium-4 large-4 flex-container">
				<a class="callout color blue flex-child-auto">
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fas fa-user-shield fa-stack-1x fa-inverse"></i>
					</span>
					<h3 class="h5">Phish Bowl Blog</h3>
					<p>A list of recent email messages that have been confirmed as malicious or fraudulent</p>
				</a>
			</div>
		</div>
	</div>
</section>
{% include "@components/footer-prototypes/IMS-footer.twig" %}