{% include "@components/header-prototypes/header-cprit.twig" %}
{% include "@components/navigation-prototypes/navbar-cprit.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell small-12 medium-12 large-9">
				<h1 class="margin-bottom-2">Project Team</h1>
				
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/image1432155245small_0.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Peter Houghton, Ph.D.</h2>
						<p class="subheader">Professor & Principal Investigator<br>
             Greehey Children's Cancer Research Institute</h3>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet loose-list inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>houghtonp@uthscsa.edu</span>
											</a>
										</li>
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
												</span>
												<span>210-562-9056</span>
											</a>
										</li>
									</ul>
								</div>
								</address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi cras fermentum odio eu. Amet porttitor eget dolor morbi non arcu. Elementum nibh tellus molestie nunc non blandit massa enim nec. Semper eget duis at tellus. Tellus orci ac auctor augue mauris augue neque. Volutpat consequat mauris nunc congue. Enim lobortis scelerisque fermentum dui. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Pharetra diam sit amet nisl suscipit adipiscing bibendum.</p>

<p>Ut etiam sit amet nisl purus in. Magna eget est lorem ipsum. Sem nulla pharetra diam sit. Turpis tincidunt id aliquet risus feugiat in ante metus. Facilisis volutpat est velit egestas dui id. Arcu cursus vitae congue mauris rhoncus. Penatibus et magnis dis parturient montes nascetur. Accumsan in nisl nisi scelerisque eu ultrices vitae. Pharetra et ultrices neque ornare aenean euismod. Tristique risus nec feugiat in fermentum. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Aliquam vestibulum morbi blandit cursus risus at ultrices. Viverra justo nec ultrices dui. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Semper auctor neque vitae tempus quam pellentesque. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus. Nunc congue nisi vitae suscipit tellus mauris a.</p>

					</div>
				</div>
				<hr>
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/kurmashevaraushancropped-1_0.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Raushan Kurmasheva, Ph.D.</h2>
						<p class="subheader">Assistant Professor<br> 
            Greehey Children's Cancer Research Institute</h3>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>kurmasheva@uthscsa.edu</span>
											</a>
										</li>
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
												</span>
												<span>210-562-9155</span>
											</a>
										</li>
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi cras fermentum odio eu. Amet porttitor eget dolor morbi non arcu. Elementum nibh tellus molestie nunc non blandit massa enim nec. Semper eget duis at tellus. Tellus orci ac auctor augue mauris augue neque. Volutpat consequat mauris nunc congue. Enim lobortis scelerisque fermentum dui. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Pharetra diam sit amet nisl suscipit adipiscing bibendum.</p>

<p>Ut etiam sit amet nisl purus in. Magna eget est lorem ipsum. Sem nulla pharetra diam sit. Turpis tincidunt id aliquet risus feugiat in ante metus. Facilisis volutpat est velit egestas dui id. Arcu cursus vitae congue mauris rhoncus. Penatibus et magnis dis parturient montes nascetur. Accumsan in nisl nisi scelerisque eu ultrices vitae. Pharetra et ultrices neque ornare aenean euismod. Tristique risus nec feugiat in fermentum. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Aliquam vestibulum morbi blandit cursus risus at ultrices. Viverra justo nec ultrices dui. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Semper auctor neque vitae tempus quam pellentesque. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus. Nunc congue nisi vitae suscipit tellus mauris a.</p>
					</div>
				</div>
				<hr>
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/zheng.jpeg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Siyuan Zheng, Ph.D.</h2>
						<p class="subheader">Assistant Professor<br> 
            Greehey Children's Cancer Research Institute</h3>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
							<address>
								<div class="loose-list">
									<ul class="no-bullet loose-list inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>zhengs3@uthscsa.edu</span>
											</a>
										</li>
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
												</span>
												<span>210-562-9028</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							</address>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi cras fermentum odio eu. Amet porttitor eget dolor morbi non arcu. Elementum nibh tellus molestie nunc non blandit massa enim nec. Semper eget duis at tellus. Tellus orci ac auctor augue mauris augue neque. Volutpat consequat mauris nunc congue. Enim lobortis scelerisque fermentum dui. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Pharetra diam sit amet nisl suscipit adipiscing bibendum.</p>

<p>Ut etiam sit amet nisl purus in. Magna eget est lorem ipsum. Sem nulla pharetra diam sit. Turpis tincidunt id aliquet risus feugiat in ante metus. Facilisis volutpat est velit egestas dui id. Arcu cursus vitae congue mauris rhoncus. Penatibus et magnis dis parturient montes nascetur. Accumsan in nisl nisi scelerisque eu ultrices vitae. Pharetra et ultrices neque ornare aenean euismod. Tristique risus nec feugiat in fermentum. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Aliquam vestibulum morbi blandit cursus risus at ultrices. Viverra justo nec ultrices dui. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Semper auctor neque vitae tempus quam pellentesque. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus. Nunc congue nisi vitae suscipit tellus mauris a.</p>
					</div>
				</div>
			</main>
		</div>
	</div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}