<h3 class="h4">Make a Gift</h3>
<ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">

<li><a href="#">Guide to Giving</a></li>     
<li><a href="#">UT Health San Antonio</a></li> 
<li><a href="#">School of Dentistry</a></li> 
<li><a href="#">Graduate School of Biomedical Sciences</a></li>  
<li><a href="#">School of Health Professions</a></li> 
<li><a href="#">Long School of Medicine</a></li> 
<li><a href="#">School of Nursing</a></li>
<li><a href="#">Mays Cancer Center</a></li>
<li><a href="#">Greehey Children’s Cancer Research Institute</a></li>
<li><a href="#">Glenn Biggs Institute for Alzheimer's & Neurodegenerative Diseases</a></li>
<li><a href="#">Barshop Institute for Longevity & Aging Studies</a></li>
</ul></li>
</ul>
