{% include "@components/header-prototypes/header-infosec.twig" %}
{% include "@components/navigation-prototypes/navbar-infosec.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
      <main class="cell large-8 medium-8 small-12">
      <h1 class="h2">Software Security</h1>
      <p>Malicious programmers are constantly finding innovative ways to gain access to sensitive information through exploitation of weaknesses found in different systems. Security software can include protection features that attempt to nullify harmful attacks before they infect your computer or the network. These programs must be up-to-date to remain as effective as possible against exploitation.</p>
      <p>The following links will help inform and educate users about the best practices and controls implemented by UT Health San Antonio to lessen the risk to institutional information, equipment and the software running on it.</p>
         <div class="grid-x grid-margin-x margin-top">
            <div class="cell small-12 medium-4 large-4 flex-container text-center">
            <div class="callout beige flex-child-auto">
                <h5 class="ruled"><a>Anti-Malware Software</a></h5>
                <p>State, Federal and UT System requirements mandate that all computers connecting to the network install and maintain an approved anti-malware product.</p>
            </div>
        </div>
        <div class="cell small-12 medium-4 large-4 flex-container text-center">
            <div class="callout beige flex-child-auto">
                <h5 class="ruled"><a>Exemption Process</a></h5>
                <p>This is the process overview page for getting an exemption when a policy or requirement adversely impacts your business operations.</p>
            </div>
        </div>
        <div class="cell small-12 medium-4 large-4 flex-container text-center">
            <div class="callout beige flex-child-auto">
                <h5 class="ruled"><a>Least Privilege Enforcement</a></h5>
                <p>Limiting the effects of malware by restricting the available account permissions.</p>
            </div>
        </div><div class="cell small-12 medium-4 large-4 flex-container text-center">
            <div class="callout beige flex-child-auto">
                <h5 class="ruled"><a>VPN (Secure Remote Access)</a></h5>
                <p>Information on setting up a secure network connection from off campus using a VPN. Includes information regarding remotely accessing your work computer.</p>
            </div>
        </div><div class="cell small-12 medium-4 large-4 flex-container text-center">
            <div class="callout beige flex-child-auto">
                <h5 class="ruled"><a>Two-Factor Authentication Enrollment</a></h5>
                <p>Two-factor authentication (2FA), adds an additional layer of security to University computers.</p>
            </div>
        </div><div class="cell small-12 medium-4 large-4 flex-container text-center">
            <div class="callout beige flex-child-auto">
                <h5 class="ruled"><a>Computer Registration Portal</a></h5>
                <p>A one-time portal login used to register computers, smartphones, and tablets.</p>
            </div>
        </div><div class="cell small-12 medium-4 large-4 flex-container text-center">
            <div class="callout beige flex-child-auto">
                <h5 class="ruled"><a>Security Configuration Management</a></h5>
                <p>All hardware and software platforms must be configured in a secure manner to ensure the confidentiality, integrity and availability of University resources.</p>
            </div>
        </div>
        <div class="cell small-12 medium-4 large-4 flex-container text-center">
            <div class="callout beige flex-child-auto">
                <h5 class="ruled"><a>Password Management</a></h5>
                <p>This software automatically generates high-strength, random passwords and provides users with a secure digital vault that they can use to store and access their passwords from multiple devices.</p>
            </div>
        </div></div>
    </main>
    <aside class="cell large-4 medium-4 small-12">
     <div class="text-center margin-bottom">
     <h3 class="h5">Information Security Department</h3>
     <p>Contact Infosec directly at 210-567-0707 or <a href="#">infosec@uthscsa.edu</a></p></div>
                  
               <a class="callout color blue flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">Chat with Service Desk</h3>
            <p>210-567-7777</p>
        </a>
        <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user-cog fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">Epic Support Desk</h3>
            <p>210-450-HELP or 210-450-4800</p>
        </a>
        <a class="callout color grey flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">IMS Self-Service</h3>
        </a>
        <div class="margin">
        <h3 class="h5">Helpful Resources</h3>
            <p><a class="arrow">IMS Self-Service information</a></p>
            <p><a class="arrow">Submit feedback - online form </a></p>
<p class="bold">Follow us on Twitter</p>
<div class="social">
   <ul>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
   </div>
</div>
    </aside>
  </div>
</section>

{% include "@components/footer-prototypes/ADRC-footer.twig" %}