{% include "@components/header v2/header-LSOM.twig" %}
<section class="hero bleed img-fill attach-top full extra-roomy">
	<img src="https://www.uthscsa.edu/sites/default/files/2020/LSOM/images/2020-pocus-event-pulmoary-061.jpg" alt="">
	<div class="grid-container">
		<div class="grid-x margin-x">
      <div class="cell large-5 small-12">
        <div class="callout">
          <h1>Continuing Medical Education</h1>
          <p>Our office is the exclusive CME provider to the Long School of Medicine and provider to the local community, private practice, external societies, and the military</p>
          <p>We are proud to offer "COVID Minutes," a podcast series with over 1,000 downloads that shares updates regarding COVID-19. Interviews of UTHSA faculty experts will give insights on COVID-19 to healthcare professionals. These on-demand podcasts are ideal for clinicians on the go and others who want to stay up to date.</p>
          <p><a href="#" class="button">COVID Minutes Podcast</a></p>
        </div>
      </div>
    </div>
	</div>
</section>
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<main class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 medium-8 small-12">
      <div class="grid-x grid-margin-x grid-margin-y ">
        <div class="alert margin-bottom">
          <p class="large">Beware of scams by fradulent websites and "registration service" providers</p>
          <p class="coward">Fraudulent websites have been reported, so it is critical that you use only the official University of Texas Health Science Center, School of Medicine, Continuing Medical Education (CME) website to register for our meetings. We cannot ensure your registration if you register using an illegitimate website.</p>
          <br>
          <p class="coward">UT Health San Antonio CME staff makes every effort to shut down illegitimate websites as soon as we are made aware of them; however, new attempts to create fraudulent sites occur regularly.</p>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto" href="https://cmetracker.net/UTHSCSA/Publisher?page=pubOpen#/course">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Live Activities</h2>
            <p>View the upcoming calendar of live CME activities.</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto" href="https://cmetracker.net/UTHSCSA/Publisher?page=pubOpen#/about">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-certificate fa-stack-1x fa-inverse"></i>
            </span>
            <h2>MyCMEs</h2>
            <p>View your CME certificates and transcripts. (CME Credit via TEXT)</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto" href="https://cmetracker.net/UTHSCSA/Publisher?page=pubOpen#/enduring">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Online Education</h2>
            <p>View our online education activities available on demand.</p>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto" href="https://www.uthscsa.edu/academics/medicine/cme-podcast-directory">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-podcast fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Podcasts</h2>
            <p>Interviews of UTHSA faculty experts will give insights on COVID-19 to healthcare professionals.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="cell large-4 medium-4 small-12">
      
      <h2>Resources</h2>
      <div class="arrow loose-list">
        <ul>
          <li><a href="#">View forms and resources</a></li>
          <li><a href="https://www.uthscsa.edu/sites/default/files/2018/ut_health_cme_outside_credit_instructions_2.pdf">Record ALL your CME credits (including non-UTHSA) in one place</a></li>
          <li><a href="https://www.uthscsa.edu/sites/default/files/2018/cme_credit_via_text_instructions_for_webpage.pdf">Claim your CME credits for your attendance at our Grand Rounds, Tumor Boards, M&M (CME Credit via TEXT)</a></li>
        </ul>
      </div>
      <h2>Grand Rounds</h2>
      <p>We sponsor grand rounds across a broad spectrum of specialties. Grand Rounds are available virtually!</p>
      <p><a href="https://cmetracker.net/UTHSCSA/Publisher?page=pubOpen#/rss" class="arrow">View grand rounds</a></p>
      <h2>Contact Us</h2>
      
      <ul class="fa-ul">
        <li>
          <a href="#">
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span>Quality and Lifelong Learning / Office for Continuing Medical Education</span>
          </a>
        </li>
        <li>
          <a href="mailto:cme@uthscsa.edu">
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span>cme@uthscsa.edu</span>
          </a>
        </li>
        <li>
          <a>
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
              </span>
            </span> 
            <span class="">210-567-4491</span>
          </a>
        </li>
      </ul>
      <div class="grid-x grid-margin-x margin-top">
        <div class="cell large-6 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/accme-commendation-full-color.jpg" alt="" class="img-margin">
        </div>
        <div class="cell large-6 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/abms_logo2.jpg" alt="" class="img-margin">
        </div>
      </div>
    </div>
  </div>
</main>

<section class="bleed color blue rocky">
  <div class="grid-container">
    <div class="grid-x text-center align-center grid-margin-x factoids">
			<div class="cells large-4 medium-4 small-12">
				<p class="supersize">150+</p>
				<p>activities</p>
			</div>
			<div class="cells large-4 medium-4 small-12"> 
				<p class="supersize">3,000+</p> 
				<p>instructional hours</p>
			</div>
			<div class="cells large-4 medium-4 small-12">
				<p class="supersize">35,000+</p> 
				<p>learners</p>
			</div>
		</div>
  </div>
</section>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-4 medium-4 small-12">
        <h2>Texas Medical Board New Requirements</h2>
        <p class="subheader">as of 9/1/2020</p>
        <p>Please see <a href="https://hhs.texas.gov/services/safety/texas-human-trafficking-resource-center/health-care-practitioner-human-trafficking-training">HHSC’s Health Care Practitioner Human Trafficking Training</a> page that meet TMB's human trafficking training requirement.</p>
        <p>Please see UT College of Pharmacy's website for identified <a href="https://utpharmacyce.learningexpressce.com/index.cfm?fa=view&eventID=18370"Inpatient Focus Modules</a> and identified <a href="https://utpharmacyce.learningexpressce.com/index.cfm?fa=view&eventID=18371">Outpatient Focus Modules</a> that meet TMB's Opioid training requirement, and are approved for CME.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <h2>COVID-19 information</h2>
        <div class="loose-list arrow">
          <ul>
            <li><a href="">COVID-19 Updates for Continuing Medical Education</a></li>
            <li><a href="">UT Healh San Antonio COVID-19 Update (Webinar)</a></li>
            <li><a href="">Coronavirus COVID-19 Pandemic Online Course</a></li>
            <li><a href="">Texas Infectious Diseases COVID-19 Virtual Symposium - Enduring Material</a></li>
            <li><a href="">COVID-19 Pandemic: What We Need to Know as Obstetric and Women's Health Providers</a></li>
          </ul>
        </div>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <h2>Courses</h2>
        <div class="loose-list arrow">
          <ul>
            <li><a href="">Clinical Safety & Effectiveness Course</a></li>
            
            <li><a href="">Medical Fluoroscopy Training Course</a></li>
            <li><a href="">Resuscitation for Hemorrhagic Shock and Ethical Considerations Low Titer O+ Whole Blood and the South Texas Consortium</a></li>
            <li><a href="">The Practice of Palliative Care and Ethical Issues at End of Life</a></li>
            <li><a href="">EMTALA: Overview for General Medical Staff</a></li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>
</section>
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell small-12 medium-4 large-2">
      <img src="http://placekitten.com/300/400" alt="kitty">
    </div>
    <div class="cell small-12 medium-6 large-8">
      <blockquote>
        <p>"Attending the symposium makes me take a second look at how I handle certain situations and examine them, so I can be better at my job."</p>
        <cite>46th Annual Sports Medicine Symposium</cite>
        <p><a class="arrow">Optional link here</a></p>
      </blockquote>
    </div>
  </div>
</section>
{% include "@blocks/footer/LSOM-alamo.twig" %}