{% include "@components/header-prototypes/header-ccid.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/CCID/ccid-banner-2.jpg" alt="Physicians standing next to each other">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
          <h1 class="h2">Welcome to the Center for Chronic Infectious Diseases</h1>
    <div class="button-group">
        <p><a href="#" class="button">Find a Trial</a></p>
        <p><a href="#" class="button ghost">Refer a Patient</a></p>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-ccid.twig" %}
<main>
    <section class="bleed">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">

                <div class="small-12 medium-8 cell">
                    <h2>What We Do</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p><a class="arrow">Learn more about CCID</a></p>
                </div>
                <div class="small-12 medium-4 cell">
                    <img src="../../images/CCID/ccid-home-1.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="bleed beige">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell text-center padding-bottom">
                    <h2>Top Stories</h2>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="../../images/CCID/ccid-home-image-2.jpg">
                        <div class="card-section">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="../../images/CCID/ccid-home-image-2.jpg">
                        <div class="card-section">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="../../images/CCID/ccid-home-image-2.jpg">
                        <div class="card-section">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="../../images/CCID/ccid-home-image-2.jpg">
                        <div class="card-section">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bleed color orange">
    {% include "@blocks/feeds/news-events.twig" %}
    </section>
</main>  
{% include "@components/footer-prototypes/ccid-footer.twig" %}