{% include "@components/header-prototypes/header-ccid.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/CCID/ccid-banner-2.jpg" alt="Physicians standing next to each other">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
          <h1 class="h2">Welcome to the Center for Chronic Infectious Diseases</h1>
    <div class="button-group">
        <p><a href="#" class="button">Find a Trial</a></p>
        <p><a href="#" class="button ghost">Refer a Patient</a></p>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-ccid.twig" %}
<main>
    <section class="bleed">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">

                <div class="small-12 medium-8 cell">
                    <h2>What We Do</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p><a class="arrow">Learn more about CCID</a></p>
                </div>
                <div class="small-12 medium-4 cell">
                    <img src="../../images/CCID/ccid-home-1.jpg">
                </div>
            </div>
        </div>
    </section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-6 large-6">
                <img src="../../images/CCID/home-ccid-pandp.jpg" alt="stethoscope on table">
            </div>
            <div class="cell small-12 medium-6 large-6">
                <h2>For Patients & Physicians</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="button">More Information</a></p>
            </div>
        </div>
    </div>
</section>

<section class="bleed color orange">
<div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-y">
        <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
            <div class="flex-child-auto">
                <h2 class="text-center">News</h2>
                <div class="lines">
                    <ul>
                        <li><a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a></li>
                        <li><a href="#">Our Department of Pediatrics Reaches out to Schools in Thanksgiving Covid-19 Safety Video to Schools with Dr. Tess Barton, Story Featured in the top of KSAT-12 Newscast</a></li>
                        <li><a href="#">The Department of Pediatrics Featured on KSAT-12: Infectious Disease Doctor Tess Barton Gives Halloween/Covid-19 Safety Tips to Schools Skywalker yoda </a></li>
                    </ul>
                </div>
            </div>
            <div class="flex-child-shrink">
                <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
            </div>
        </div>
        <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
            <div class="flex-child-auto">
                <h2 class="text-center">Events</h2>
            {% include "@blocks/feeds/events-vertical.twig" %}   
        </div>
        <div class="flex-child-shrink">
            <p class="text-center"><a href="#" class="button ghost">View All Events</a></p>

        </div>
    </div>
</div>
    </section>
</main>  
{% include "@components/footer-prototypes/ccid-footer.twig" %}