{% include "@components/header-prototypes/header-UTP.twig" %}
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="grid-container">
  <h1>Orthopaedics</h1>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <img class="img-margin" src="https://www.uthscsa.edu/sites/default/files/orthodocks.jpg">
      <p>UT Health San Antonio is home to one of the largest orthopaedics groups in the region with specialists in every discipline from spine, joint and cancer care to podiatry and sports medicine. Our providers are leaders in orthopaedic services offering advanced treatments for a range of conditions, from simple fractures to total joint replacements, sports injuries, and management of musculoskeletal diseases. We are here to get you moving again.</p>
      <h2>Services</h2>
      <div class="grid-x">
        <div class="cell large-6 medium-6 small-12">
          <div class="lines">
            <ul>
              <li><a>Hand and Microsurgery</a></li>
              <li><a>Orthopaedic Oncology</a></li>
              <li><a>Orthopaedic Spine Services</a></li>
              <li><a>Pediatric Orthopaedics and Spine</a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12">
          <div class="lines">
            <ul>
              <li><a>Podiatry</a></li>
              <li><a>Sports Medicine</a></li>
              <li><a>Total Joint Care</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      
      <h2>Appointments</h2>
      <div class="loose-list">
        <ul class="no-bullet inline">
          <li>
            <a href="https://uthsa.formstack.com/forms/orthopaedics_appointment_request_form">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <span>Request appointment online</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
              </span>
              <span>Orthopaedics: <strong>210-450-9300</strong> </span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-phone-alt  fa-stack-1x fa-inverse"></i>
              </span>
              <span>Physical Therapy: <strong>210-450-9680</strong> </span>
            </a>
          </li>
          <li>
            <a href="https://mychart.utmedicinesa.com/mychart/">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-notes-medical  fa-stack-1x fa-inverse"></i>
              </span>
              <span>MyChart (Existing Patients)</span>
            </a>
          </li>
        </ul>
      </div>
      <a class="callout color blue flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
        </span>
        <h2 class="h5">Providers & Staff</h3>
      </a>
      <a class="callout color blue flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <h2 class="h5">Accepted Insurance</h3>
      </a>
      
    </aside>
  </div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-12 large-12 align-center">
        <h2>Practice Locations</h2>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <a class="card cell small-12 medium-6 large-6">
        <div class="align-middle grid-x grid-margin-x">
          <div class="cell small-5">
            <img src="https://picsum.photos/400/250" alt="scenery">
          </div>
          <div class="small-5 cell">
            <h5>Sick Bay, Deck 6</h5>
          </div>
        </div>
      </a>
      <a class="card cell small-12 medium-6 large-6">
        <div class="align-middle grid-x grid-margin-x">
          <div class="cell small-5">
            <img src="https://picsum.photos/400/250" alt="scenery">
          </div>
          <div class="small-5 cell">
            <h5>Sick Bay, Deck 6</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
{% include "@blocks/footer/UTP-no-alamo.twig" %}