{% include "@components/header-prototypes/header-okapi.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 small-12">
                <h1>About Us</h1>

                <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone
                    mizzenmast
                    quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey
                    doubloon
                    starboard grog black jack gangway rutters.</p>

            </div>

            <div class="cell small-12 medium-5">
                <img src="https://placedog.net/800/533">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-okapi.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-7 large-8">
                <h2>Background</h2>
                <p>Dissemination and implementation science can accelerate the delivery of evidence-based practices to
                    the front lines of medicine. Patients may experience a significant delay in receiving beneficial
                    interventions due to the prolonged time frame needed for research to impact practice. This is
                    especially true in rural and medically underserved areas, which results in notable health
                    disparities. By studying creative, flexible dissemination efforts and real-world adaptations to
                    implementation barriers, implementation science can improve the reach, timeliness, and
                    generalizability of best practices.1 Rigorous dissemination and implementation science informs the
                    scalability of evidence-based practice to reach underserved populations in order to address
                    significant health disparities.2 At present, a critical health disparity is antibiotic misuse in
                    infants born in rural and medically underserved areas, which leads to adverse health consequences.
                </p>

            </main>
            <aside class="cell large-4 medium-5 small-12">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li>
                        <a href="#">Background</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">Basic Page 1</a></li>
                            <li><a href="#">Basic Page 2</a></li>
                            <li><a href="#">Basic Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Telehealth</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">About Telehealth</a></li>
                            <li><a href="#">Telehealth Topics</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Value for Providers</a></li>
                    <li><a href="#">Value for Patients</a></li>
                    <li><a href="#">Cost of Participation</a></li>
                </ul>

            </aside>
        </div>
    </div>
</section>

<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4 large-4 flex-container">
                <a class="callout color blue flex-child-auto">
                    <h3 class="ruled">Value for Providers</h3>
                    <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears
                        jelly.</p>
                </a>
            </div>
            <div class="cell small-12 medium-4 large-4 flex-container">
                <a class="callout color blue flex-child-auto">
                    <h3 class="ruled">Value for Patients</h3>
                    <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears
                        jelly.</p>
                </a>
            </div>
            <div class="cell small-12 medium-4 large-4 flex-container">
                <a class="callout color blue flex-child-auto">
                    <h3 class="ruled">Participation Costs</h3>
                    <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears
                        jelly.</p>
                </a>
            </div>
        </div>
</section>

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell small-12 medium-9">
                <h2 class="h3">Heading 2</h2>
                <p>Pommy ipsum laughing gear clotted cream anorak, marvelous round our gaff bovver boots
                    ask your
                    mother if don't get your knickers in a twist, old girl how's your father some mothers do 'ave 'em.
                    Knackered
                    any road, best be off sling one's hook knee high to a grasshopper i'll be a monkey's uncle
                    wibbly-wobbly
                    timey-wimey stuff scarper.</p>

                <div class="button-group align-center">
                    <p><a class="button">Button 1</a></p>
                    <p><a class="button ghost">Button 2</a></p>

                </div>
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}