{% include "@components/header v2/header-SHP.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x margin-x">
            <div class="cell large-7 small-12">
                <h1>Tuition and Financial Aid</h1>

                <p>We know advanced education can be expensive. Our financial advisers can help.</p>

                <p><a href="#" class="button">Button CTA</a></p>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation/navbar-SHP.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">
                <h2>Tuition & Fees</h2>
                <p>Pommy ipsum oo ecky thump a bit miffed sling one's hook who brought loaf bovver boots I'd reet fancy
                    a, bossy britches guinness cottage pie quid whizz one would like copped a bollocking, by 'eck love
                    curtain twitching Dalek bogroll doing my nut in codswallop. </p>



                <p>Costs vary by program and are subject to change. For the most up-to-date information on tuition
                    pricing and fees for the program that interests you, select from the list below:</p>

                <label>Select a Program
                    <select>
                        <option value="1">Bachelor of Science in Emergency Health Sciences</option>
                        <option value="2">Bachelor of Science in Medical Laboratory Sciences</option>
                        <option value="3">Bachelor of Science in Medical Sciences</option>
                        <option value="4">Bachelor of Science in Respiratory Care</option>
                        <option value="5">Bachelor of Science in Respiratory Care (Online)</option>
                        <option value="6">Master of Physician Assistant Studies</option>
                        <option value="7">Master of Science in Medical Laboratory Sciences</option>
                        <option value="8">Master of Science in Respiratory Care</option>
                        <option value="9">Master of Science in Respiratory Care (Online)</option>
                        <option value="10">Master of Science in Speech Language Pathology</option>
                        <option value="11">Emergency Medical Technology Certification (EMT)</option>
                        <option value="12">Graduate Certificate in Communication Sciences and Disorders</option>
                        <option value="13">Paramedic Certification</option>
                        <option value="14">Ph.D. in Health Sciences</option>
                        <option value="15">Doctor of Occupational Therapy (OTD) </option>
                        <option value="16">Doctor of Physical Therapy</option>
                    </select>
                </label>
                <p><a class="button">Go</a></p>
            </div>
            <div class="cell small-12 medium-5 large-4">

                <h3 class="h5">Types of Financial Aid</h3>
                <div class="arrow">
                    <ul>
                        <li><a>Loans</a></li>
                        <li><a>Grants</a></li>
                        <li><a>Scholarships</a></li>
                        <li><a>Work study</a></li>
                        <li><a>Veteran benefits</a></li>
                        <li><a>Tuition waiver</a></li>
                    </ul>
                </div>

                <!--<div class="callout contact outline blue">
                    <h2 class="h4">Contact Us</h2>
                    <p>Wondering what “cost of attendance” means? Have a question?</p>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">email@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">###-###-#### </span>
                            </a>
                        </li>
                    </ul>
                </div>-->


            </div>
        </div>
    </div>
</section>

<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-8 large-9">
                <h3>Have Questions?</h3>
                <p>Wondering what "cost of attendance" means? We know advanced education can be expensive. Our financial
                    advisers can help.</p>
                <p><a class="button">Contact Us</a></p>
            </div>
            <div class="cell small-12 medium-4 large-3">
                <span class="fa-stack fa-6x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}