{% include "@components/header v2/header.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-10 large-5">
                <div class="callout white">
                    <h1>Wilderness and Survival Medicine Fellowship</h1>
                    <a href="#" class="button ghost">Application Process</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-v2.twig" %}
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="#">Education</a></li>
        <li><a href="#">Emergency Medicine Fellowships</a></li>
        <li>
            <span class="show-for-sr">Current: </span> Wilderness and Survival Medicine Fellowship
        </li>
    </ul>
</nav>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-8">
                <p>The UT Health San Antonio Department of Emergency Medicine is honored to have the first
                    wilderness medicine fellowship in Texas offering a wide variety of exposures and experiences to
                    austere environments around the world.</p>
                <p>The program is designed to have a consistent component of self-survival along with outdoor skill
                    building to avoid becoming a liability but has an open-ended design customized to the fellow’s
                    goals and future practicing environment. The opportunities will be both national and
                    international practicing clinically and teaching. All curriculum is based on the comprehensive
                    core curriculum published in Academic Emergency Medicine to provide a well-rounded and robust
                    experience in austere medicine while maintaining roots in emergency medicine practice in our
                    emergency department at University Hospital seeing 70,000 patients per year here in San Antonio,
                    Texas.</p>
                <p>As described in the expert opinion-based article Core Content for Wilderness Medicine Fellowship
                    Training of Emergency Medicine Graduates linked above the core content will comply with all
                    facets of the ideal curriculum along with additional opportunities to focus their training.</p>
                <p>Lucas ipsum dolor sit amet nadon kamino ponda raioballo vader polis nomi ziro farlax tibor.
                    Drovian olié gerb anzati kashyyyk anakin. Kenobi kushiban polis tano jan baba grievous nagai.
                    Celegian sola amidala b'omarr defel luke lumiya taung jaina.Lucas ipsum dolor sit amet nadon
                    kamino ponda raioballo vader polis nomi ziro farlax tibor. </p>
                <p>Drovian olié gerb anzati kashyyyk anakin. Kenobi kushiban polis tano jan baba grievous nagai.
                    Celegian sola amidala b'omarr defel luke lumiya taung jaina.Lucas ipsum dolor sit amet nadon
                    kamino ponda raioballo vader polis nomi ziro farlax tibor. Drovian olié gerb anzati kashyyyk
                    anakin. Kenobi kushiban polis tano jan baba grievous nagai. Celegian sola amidala b'omarr defel
                    luke lumiya taung jaina.Lucas ipsum dolor sit amet nadon kamino ponda raioballo vader polis nomi
                    ziro farlax tibor. Drovian olié gerb anzati kashyyyk anakin. Kenobi kushiban polis tano jan baba
                    grievous nagai. Celegian sola amidala b'omarr defel luke lumiya taung jaina. </p>
                <p>Drovian olié gerb anzati kashyyyk anakin. Kenobi kushiban polis tano jan baba grievous nagai.
                    Celegian sola amidala b'omarr defel luke lumiya taung jaina.Drovian olié gerb anzati kashyyyk
                    anakin. </p>
            </main>
            <aside class="cell small-12 medium-4">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li>
                        <a href="#" class="is-active">Overview</a>
                    </li>
                    <li>
                        <a href="#">Curriculum</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">Item 1A</a></li>
                            <li><a href="#">Item 1B</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Application Process</a></li>
                    <li><a href="#">Salary & Benefits</a></li>
                    <li><a href="#">Resident Wellness</a></li>
                    <li><a href="#">Current Residents</a></li>
                    <li><a href="#">Alumni</a></li>
                </ul>
                <div class="callout contact beige margin-top">
                    <h3 id="contact">Contact Us</h3>
                    <p><strong>Lashun R. Matthews<br>Academic Programs Coordinator</strong></p>
                    <address>
                        <p>UT Health San Antonio<br>
                            Department of Orthopaedics MC-7774<br>
                            7703 Floyd Curl Drive, MC7816<br>
                            San Antonio, TX 78229-3900</p>
                    </address>
                    <ul class="fa-ul stacked">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class=""> 210-567-3051</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-fax fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">210-564-5309</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">residency@uthscsa.edu</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>
<section class="bleed light-grey">
    {% include "@components/blockquotes/blockquote-image-left-with-link.twig" %}
</section>

{% include "@blocks/footer/no-alamo.twig" %}