{% include "@components/header v2/header.twig" %}
<section class="hero full bleed img-fill video">
    <div class="responsive-embed">
        <iframe
            src="https://www.youtube.com/embed/lvbpMc4g8uE?autoplay=1&playlist=lvbpMc4g8uE&mute=1&loop=1" title="video player">
            </iframe>
    </div>
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>Welcome to the Department of Pediatrics</h1>
                <p>We Make Children's Lives Better</p>
                <div class="button-group">
                    <p><a href="#" class="button">Button CTA</a></p>
                    <p><a href="#" class="button ghost">Button CTA</a></p>
                </div>
            </div>
        </div>
    </div>
</section>