{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed img-fill full">
    <img src="../../images/AAB-1.jpg" alt="Shot of AAB">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="cell large-5 small-12 roomy">
                <div class="callout">
                    <h1>Business Affairs</h1>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}

<section class="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-6 large-4">
                <img src="../../images/no-photo.jpg" alt="adorable pup" class="margin-bottom">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-4">
                        <img src="../../images/no-photo.jpg" alt="adorable pup">
                    </div>
                    <div class="cell small-8">
                        <p class="color close"><strong>Eva M Casas</strong></p>
                        <p class="close">Asst To The VP/Dean</p>
                        <p><a>210-567-7020</a></p>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-8">
                <h2 class="close">Ginny Gomez-Leon, MBA, CPA</h2>
                <h3 class="h4">Vice President & Chief Financial Officer</h3>

                <p>The Vice President and Chief Financial Officer serves at the pleasure of the
                    President, without fixed term, and performs duties as are assigned by the President. As a staff
                    officer, the Vice President participates in administrative consideration of all policies, plans, and
                    programs of the Health Science Center related to the business and financial operations of the
                    institution.</p>
                <p>By delegation from the President, the Vice President may:</p>

                <ul>
                    <li>Represent the Health Science Center in business matters at The University of Texas System and
                        with other external entities as appropriate</li>
                    <li>Recommend annual operating budgets and biennial legislative submissions of the Health Science
                        Center</li>
                    <li>Coordinate and facilitate intra- and inter-organizational business and financial activities and
                        programs</li>
                </ul>

                <p>As a line officer, the Vice President is responsible for Medical Services Research
                    and Development Plan; financial operations including accounting, payroll, budget, purchasing,
                    general services and auxiliary enterprises; and other business matters as may be assigned by the
                    President.</p>

            </div>
        </div>
    </div>
</section>

<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center text-center margin-bottom">
            <div class="cell small-12 medium-9">
                <h2>Directs</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-3">
                <div class="card portrait">
                    <div class="card-section">
                        <img src="../../images/no-photo.jpg">
                        <div class="profile-info">
                            <h3 class="h5 close">Amber Anna Sharp</h3>
                            <p>AVP, <a>Financial Planning Svcs</a></p>
                            <li><a href="#" class="">210-567-7021</a></li>
                            <li><a href="#" class="">sharpa@uthscsa.edu</a></li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell small-12 medium-3">
                <div class="card portrait">
                    <div class="card-section">
                        <img src="../../images/no-photo.jpg">
                        <div class="profile-info">
                            <h3 class="h5 close">Alberto G Guerra</h3>
                            <p>AVP, <a>Supply Chain</a></p>
                            <li><a href="#" class="">210-567-7025</a></li>
                            <li><a href="#" class="">guerraa12@uthscsa.edu</a></li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell small-12 medium-3">
                <div class="card portrait">
                    <div class="card-section">
                        <img src="../../images/no-photo.jpg">
                        <div class="profile-info">
                            <h3 class="h5 close">Yvette M Martinez</h3>
                            <p>Sr Dir, <a>Financial Affairs</a></p>
                            <li><a href="#" class="">210-562-6254</a></li>
                            <li><a href="#" class="">martinezy7@uthscsa.edu</a></li>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cell small-12 medium-3">
                <div class="card portrait">
                    <div class="card-section">
                        <img src="../../images/no-photo.jpg">
                        <div class="profile-info">
                            <h3 class="h5 close">Julia Baldwin</h3>
                            <p>Sr Dir, <a>Financial Operations</a></p>
                            <li><a href="#" class="">210-450-7574</a></li>
                            <li><a href="#" class="">baldwinj@uthscsa.edu</a></li>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/ba-footer.twig" %}