{% include "@components/header-prototypes/header-RDMS.twig" %}
{% include "@components/navigation-prototypes/navbar-RDMS.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a>Home</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Data Storage Finder
    </li>
  </ul>
</nav>
<section class="grid-container no-bottom">

  <div class="grid-x grid-margin-x">
    <div class="cell large-10 medium-10 small-12">
      <h1>Data Storage Finder</h1>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
		<div class="cell large-5 medium-5 small-12">
      <p>Answer these questions to help identify data storage services that are suitable for your needs. Checking these boxes will change the list of available services.</p>
      <p>If you are uncertain how to answer, leave the question blank to maximize your resulting options.</p>

      <ol>
        <li><strong>What is the classification of your data?</strong>
          <fieldset>
            <input id="1-1" type="checkbox">
            <label for="1-1">Public / Low Risk</label><br>
            <input id="1-2" type="checkbox">
            <label for="1-2">Sensitive / Moderate Risk</label><br>
            <input id="1-3" type="checkbox">
            <label for="1-3">Confidential or Restricted / High Risk</label><br>
            <input id="1-4" type="checkbox">
            <label for="1-4">HIPAA-Regulated</label><br>
          </fieldset>
        </li>
        <li><strong>Do you need backups, snapshots or replication of your data?</strong> 
          <fieldset>
            <input id="2-1" type="checkbox">
            <label for="2-1">One or more backup/snapshot copies of the data</label><br>
            <input id="2-2" type="checkbox">
            <label for="2-2">Replicate copies of the data to minimize downtime</label>
          </fieldset>
        </li>
        <li><strong>How much data do you have and how fast will it grow?</strong>
          <fieldset>
            <input id="3-1" type="checkbox">
            <label for="3-1">Unlikely to exceed 1TB in 2 years</label><br>
            <input id="3-2" type="checkbox">
            <label for="3-2">Greater than 1TB or likely to exceed in 2 years</label>
          </fieldset>
        </li>
        <li><strong>Do you have special performance needs?</strong>
          <fieldset>
            <input id="4-1" type="checkbox">
            <label for="4-1">More than 1,000 files in a single directory within two years</label><br>
            <input id="4-2" type="checkbox">
            <label for="4-2">High transaction or transfer rates</label>
          </fieldset>
        </li>
        <li><strong>How are you expecting to access the data?</strong>
          <fieldset>
            <input id="5-1" type="checkbox">
            <label for="5-1">Easy access to this data from anywhere</label><br>
            <input id="5-2" type="checkbox">
            <label for="5-2">Frequently need access from a mobile device</label>
          </fieldset>
        </li>
        <li><strong>With whom do you need to share your data regularly?</strong>
          <fieldset>
            <input id="6-1" type="checkbox">
            <label for="6-1">Only those with a UTHSCSA ID</label><br>
            <input id="6-2" type="checkbox">
            <label for="6-2">Users in and out of the UTHSCSA community</label>
          </fieldset>
        </li>
      </ol>
		</div>
		<div class="cell large-7 medium-7 small-12">
      <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout blue flex-child-auto" style="background-color:#004661;  text-align: unset">
            <h5><i class="far fa-check-circle"></i> Isilon</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            <h5><i class="far fa-circle"></i> Leased Mass Storage</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            
            <h5> <i class="far fa-circle"></i> UTHSA Box</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            
            <h5><i class="far fa-circle"></i> Nimble</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            <h5> <i class="far fa-circle"></i> Ceph</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            <h5><i class="far fa-circle"></i> UTHSA GENIE HPC</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            <h5><i class="far fa-circle"></i> Microsoft OneDrive</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            
            <h5><i class="far fa-circle"></i> SharePoint</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            
            <h5><i class="far fa-circle"></i> TACC Coral</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            
            <h5><i class="far fa-circle"></i> TACC Corral S3</h5>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout outline blue flex-child-auto">
            
            <h5> <i class="far fa-circle"></i> TACC Ranch</h5>
          </a>
        </div>
      </div>
		</div>
	</div>
</section>
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-12 medium-12 small-12">
      <table class="unstriped">
        <thead>
          <tr>
            <th>Storage Name</th>
            <th>Purpose</th>
            <th>Storage Type</th>
            <th>Performance Tier</th>
            <th>Data Policy</th>
            <th>Backup</th>
            <th>Cost</th>
            <th>File limit/Quota</th>
          </tr>
        </thead>

        <tbody>
        <tr>
          <td>Isilon</td>
          <td>Active Compute Frequently Accessed Computed against Shared within and outside of your department. </td>
          <td>On-prem Tiered</td>
          <td>&nbsp;</td>
          <td>Confidential Published Controlled</td>
          <td>Yes</td>
          <td>&nbsp;</td>
          <td>&nbsp; </td>
        </tr>
        <tr>
          <td>Leased Mass Storage</td>
          <td>Frequently Accessed Shared within and outside of your department</td>
          <td>On-prem</td>
          <td>&nbsp;</td>
          <td>Confidential Published Controlled</td>
          <td>Yes</td>
          <td>Contract-based</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>UTHSA Box</td>
          <td>Shared within and outside of your department</td>
          <td>Cloud storage</td>
          <td>&nbsp;</td>
          <td>Published</td>
          <td>&nbsp;</td>
          <td>$250 year</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Nimble</td>
          <td>&nbsp;</td>
          <td>VM on-prem</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Ceph</td>
          <td>Accessed less often</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>UTHSA GENIE HPC</td>
          <td>Active Compute Frequently Accessed Computed against</td>
          <td>HPC Storage on-prem</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>No</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Microsoft OneDrive</td>
          <td>Frequently Accessed Shared within and outside of your department</td>
          <td>Cloud storage</td>
          <td>&nbsp;</td>
          <td>Published</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>1 TB</td>
        </tr>
        <tr>
          <td>SharePoint</td>
          <td>Frequently Accessed Shared within and outside of your department</td>
          <td>Cloud storage</td>
          <td>&nbsp;</td>
          <td>Published</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>15 GB</td>
        </tr>
         <tr>
          <td>TACC Coral</td>
          <td>Active Compute Frequently Accessed Computed against Shared within and outside of your department. </td>
          <td>HPC Storage</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>No</td>
          <td>$118 TB year</td>
          <td>1 million files per 5TB allocated</td>
        </tr>
         <tr>
          <td>TACC Corral S3</td>
          <td>Active Compute Frequently Accessed Computed against Shared within and outside of your department. </td>
          <td>HPC Storage</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>No</td>
          <td>Contract-based</td>
          <td>&nbsp;</td>
        </tr>
         <tr>
          <td>TACC Ranch</td>
          <td>Accessed less often</td>
          <td>HPC Storage Archive</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>No</td>
          <td>Contract-based</td>
          <td>50,000 files 2 Terabytes</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
{% include "@components/footer-prototypes/RDMS-footer.twig" %}