{% include "@components/header-prototypes/header-cprit.twig" %}
<section class="hero bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
                <h1>Our Services</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-cprit.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2>Request for PDX samples (Academic Research)</h2>
                <p>Please complete the attached file and return to <a href="mailto:houghtonP@uthscsa.edu" class="coward">houghtonP@uthscsa.edu</a>. Upon return, our office will send an MTA to be signed by an appropriate official at your institution.</p>
                <div class="arrow">
                <ul>
                    <li><a href="#">Material Transfer Request Form</a></li>
                    <li><a href="#">Standard MTA Form</a></li>
                    <li><a href="#">Pediatric PDX Explorer</a></li>
                </ul></div>
            </main>
            <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="contact-us">
                <img src="http://placekitten.com/400/300" alt="KITTY" class="margin-bottom">
                <div class="callout outline cell">
                    <h3 id="contact-us">Contact</h3>
                        <p class="close"><strong>Peter Houghton, Ph.D.</strong><br>
                        Professor & Principal Investigator</p>
                        <address>
                            210-562-9056<br>
                            <a href="mailto:houghtonp@uthscsa.edu">houghtonP@uthscsa.edu</a>
                            </address>
                </div>
            </aside>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}