<section class="bleed color grey">
	<div class="grid-container img-bleed-left">
		<div class="grid-x grid-margin-x">
			<div class="cell large-5 small-order-2 large-order-1">  
				<img src="../../images/adorable-corgi.jpg" alt="adorable corgi">
			</div>
			<div class="cell large-7 align-self-middle small-order-1 large-order-2">
				<h2 class="h4">This is an image bleed option.</h2>
				<p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté tea garden. Sachet blend lemongrass nilgiri masala chai hot puierh pearl milk oolong teapot infusion.  Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté tea garden. Sachet blend lemongrass nilgiri masala chai hot puierh pearl milk oolong teapot infusion.</p>
				<p>This is an example of a <a>link</a> on a color bleed </p>
			</div>
		</div>
	</div>
</section> 