<section class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-7 medium-6 small-12">
            <h2 class="color">Furthering the Future</h2>
            <p>UT Health is a dynamic and rapidly expanding health science center with five professional schools
                (medicine, nursing, dentistry, health professions and graduate school of biomedical sciences) with
                missions of education, clinical care, research and community service. With a budget of nearly one
                billion dollars, a work force of 7,100 and a research portfolio of approximately $300 million, UT Health
                is quickly rising in prominence among academic medical centers in the United States.</p>
                <div class="arrow">  
                <ul class="arrow">
                <li><a href="https://makelivesbetter.uthscsa.edu/donate">Support Our University</a></li>
                <li><a href="https://uthscsa.edu/university/history">Our History</a> </li>
                <li><a href="https://uthscsa.edu/university/ut-health-science-center-accreditation">Accreditation</a> </li>
                <li><a href="https://wp.uthscsa.edu/afsa/">Compact with Texans</a> </li>
                <li><a href="https://issuu.com/hscsa_communications/docs/strategicplan_2018-22_final-filpboo">Our Strategic Vision FY 2018-2022</a> </li>
                    </ul> 
                  </div>
                  </div>
                  <div class="cell large-5 medium-6 small-12">
                      <img src="https://picsum.photos/id/1074/600/400">
                  </div>
              </div>
          </section>
          <section class="bleed color grey">
            <div class="grid-container img-bleed-left">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell medium-6 large-4 small-order-2 large-order-1">
                        <img src="../../images/henrichwilliam.jpg" alt="president henrich william">
                    </div>
                    <div class="cell medium-6 large-8 small-order-1 large-order-2">
                        <h2>A Story of Discovery</h2>
                        <blockquote>
                            <p>Ours is a story of discovery, vision and commitment. We engage our minds and talents, and give
                                from our hearts, to help and heal. We touch the lives of thousands, to serve those in need,
                                close to home and across the globe. And, through it all, our strength is born through a shared
                                commitment to make lives better.</p>
                            <cite class="margin-bottom"><a
                                    href="https://www.uthscsa.edu/university/office-president/presidents-biography">President
                                    William L. Henrich, MD, MACP</a></cite>
                        </blockquote>
                        <div class="button-group">
                            <p><a href="#" class="button">Office of the President</a></p>
                            <p><a href="#" class="button ghost">Leadership Team</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="grid-container light-beige">
          <div class="grid-x grid-margin-x align-middle">
              <div class="cell large-7 medium-6 small-12">
                  <h2 class="color">Alumni</h2>
                  <p>Stay connected with fellow alumni from around the world.</p>
                      <div class="arrow">  
                      <ul>
                      <li><a href="https://www.uthscsa.edu/academics/medicine/alumni">Long School of Medicine Alumni</a></li>
                      <li><a href="https://ww2.uthscsa.edu/alumni/">School of Nursing Alumni</a> </li>
                      <li><a href="https://www.uthscsa.edu/academics/dental/alumni">School of Dentistry Alumni</a> </li>
                      <li><a href="https://www.uthscsa.edu/academics/health-professions/shp-alumni">School of Health Professions Alumni</a> </li>
                      <li><a href="https://www.uthscsa.edu/academics/biomedical-sciences/gsbs-alumni">Graduate School of Biomedical Sciences Alumni</a></li>
                          </ul> 
                        </div>
                        </div>
                        <div class="cell large-5 medium-6 small-12">
                            <img src="https://picsum.photos/id/1074/600/400">
                        </div>
                    </div>
                </section>

        <section class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x">
                <section class="cell large-7 small-12 align-self-middle">
                    <h2>Happening now at UT Health San Antonio</h2>
                    <p>Breakthroughs are happening everyday at UT Health San Antonio. Stay informed on the latest news and
                        events. Marketing copy similar to Cancer Center.</p>
                    <p><a class="arrow">Newsroom</a></p>
                </section>
                <aside class="cell large-5 small-12">
                    {% include "@components/dates/long-event.twig" %}
                    <br>
                    {% include "@components/dates/long-event.twig" %}
                    <br>
                    <p><a class="arrow">All events</a></p>
                </aside>
            </div>
        </section>
        {% include "@blocks/footer/mission.twig" %}