{% include "@components/header v2/header-police.twig" %}

<section class="hero bleed">

    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="cell small-12 medium-8">
                <h1>Criminal Investigation</h1>
                <p>The Criminal Investigation Division is the investigative branch of the police department, performing
                    all criminal investigations and working closely with the surrounding municipal, county, state, and
                    federal police agencies and the Bexar County District Attorney’s Office. The criminal investigations
                    division is led by Sergeant Arnold Cano.</p>
            </div>

            <div class="cell small-12 medium-4">
                <img src=" https://placedog.net/600/400" alt="Dog">
            </div>

        </div>
    </div>
</section>


{% include "@components/navigation/navbar-police.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2 class="h3">Mission</h2>
                <p>The mission of the Criminal Investigation Division is to provide the highest quality criminal
                    investigative support to the police department by conducting timely and thorough criminal
                    investigations using advanced investigative techniques and forensic equipment. As professional fact
                    finders, CID detectives will conduct systematic and methodical investigations to determine what
                    findings the evidence supports and will not form conclusions in advance. CID detectives recognize
                    their responsibilities to the community they serve and are committed to investigating all criminal
                    allegations in an ethical and impartial manner with sensitivity toward the needs of victims and
                    witnesses. The Criminal Investigation Division is dedicated to providing superior investigative
                    services to the police department to preserve the quality of life that our citizens and visitors
                    enjoy.</p>

                <p>For more information, contact <a>Sergeant Arnold Cano</a>, 210-567-6821</p>

            </main>

            <aside class="cell small-12 medium-4">

                <div class="lines loose-list">
                    <h3 class="h5 color">Related Forms and Documents</h3>
                    <ul>
                        <li><a href="http://uthscsa.edu/hop2000/4.4.1.pdf">HOP 4.4.1 Criminal Records</a></li>
                        <li><a href="http://uthscsa.edu/hop2000/4.4.2.pdf">HOP 4.4.2 Sanction Checks</a></li>
                        <li><a href="http://uthscsa.edu/hop2000/8.7.7.pdf">HOP 8.7.7 Security Sensitive Checks</a></li>
                        <li><a href="http://uthscsa.edu/hop2000/8.7.11.pdf">HOP 8.7.11 Contractor / Vendor</a></li>
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color blue flex-child-auto"
                    href="https://www.uthscsa.edu/police/campus-patrol-services">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Communication Center</h3>
                    <p>The communication center is the nerve center of all university police and security operations.
                    </p>
                </a>
            </div>

            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color blue flex-child-auto"
                    href="https://www.uthscsa.edu/police/crime-prevention-programs">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Patrol Services</h3>
                    <p>The patrol division provides security and safety for the protection of faculty, staff, students
                        and visitors.</p>
                </a>
            </div>

            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color blue flex-child-auto"
                    href="https://www.uthscsa.edu/police/police-authority-jurisdiction">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-fingerprint fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Background Checks</h3>
                    <p>UT Police provides background and sanctions checks on individuals working, visiting or attending
                        classes on campus.</p>
                </a>
            </div>

        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}