{% include "@components/header v2/header-SHP.twig" %}
<section class=" hero bleed img-fill">
    <img src="../../images/shp-researchbanner.jpg" alt="SCIENCE">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout white">
                <h1>Research</h1>
                <p>The School of Health Professions provides faculty and students with resources to pursue research and
                    advance allied health professions sciences. We offer programs to promote scholarly publication and
                    disseminate research that makes lives better. .</p>
                <div class="button-group">
                    <p><a href="#" class="button">COVID-19 Research</a></p>
                    <p><a href="#" class="button ghost">Publications</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-SHP.twig" %}
<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x align-center text-center margin-bottom">
            <div class="cell small-12 medium-9">
                <h2>Our Key Areas of Research</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-4">
                <a>
                    <img src="../../images/shp-research2.jpg" alt="SCIENCE">
                    <h3>Research Heading</h3>
                </a>
                <p>Our research focuses on mobility and physical function to enhance health and independence</p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <a>
                    <img src="../../images/shp-research2.jpg" alt="SCIENCE">
                    <h3>Research Heading</h3>
                </a>
                <p>Our research focuses on mobility and physical function to enhance health and independence</p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <a>
                    <img src="../../images/shp-research2.jpg" alt="SCIENCE">
                    <h3>Research Heading</h3>
                </a>
                <p>Our research focuses on mobility and physical function to enhance health and independence</p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <a>
                    <img src="../../images/shp-research2.jpg" alt="SCIENCE">
                    <h3>Research Heading</h3>
                </a>
                <p>Our research focuses on mobility and physical function to enhance health and independence</p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <a>
                    <img src="../../images/shp-research2.jpg" alt="SCIENCE">
                    <h3>Research Heading</h3>
                </a>
                <p>Our research focuses on mobility and physical function to enhance health and independence</p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <a>
                    <img src="../../images/shp-research2.jpg" alt="SCIENCE">
                    <h3>Research Heading</h3>
                </a>
                <p>Our research focuses on mobility and physical function to enhance health and independence</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed noise light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x margin-bottom">
            <div class="cell text-center padding-bottom">
                <h2>Top Stories</h2>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell color dark-grey flex-child-auto">
                    <img src="../../images/shp-research.jpg" alt="SCIENCE">
                    <div class="card-section">
                        <p>Stand Up to Cancer: Alexander J. R. Bishop, DPhil to Lead One of Three Trans-Atlantic Teams
                            to Study Hard-to-Treat Childhood Cancers</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell color dark-grey flex-child-auto">
                    <img src="../../images/shp-research.jpg" alt="SCIENCE">
                    <div class="card-section">
                        <p>Raushan Kurmasheva, Ph.D., Part of Dmitri Ivanov, Ph.D., CPRIT Grant Team “Identifying and
                            Optimizing Small Molecules for Drug Development”</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell color dark-grey flex-child-auto">
                    <img src="../../images/shp-research.jpg" alt="SCIENCE">
                    <div class="card-section">
                        <p>Stand Up to Cancer: Alexander J. R. Bishop, DPhil to Lead One of Three Trans-Atlantic Teams
                            to Study Hard-to-Treat Childhood Cancers</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell color dark-grey flex-child-auto">
                    <img src="../../images/shp-research.jpg" alt="SCIENCE">
                    <div class="card-section">
                        <p>Raushan Kurmasheva, Ph.D., Part of Dmitri Ivanov, Ph.D., CPRIT Grant Team “Identifying and
                            Optimizing Small Molecules for Drug Development”</p>
                    </div>
                </a>
            </div>
        </div>
        <p class="text-center"><a class="button">Read more stories</a></p>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}