<section class="bleed color dark-grey">
	<div class="grid-container ">
		<div class="grid-x text-center grid-margin-x">
			<div class="cell medium-12 large-4 ">
				<span class="fa-stack fa-5x">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
				</span>
				<h4>This is a default.</h4>
				<p>Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy.</p>
					<p><a href="#">I am a link!</a></p>
			</div>
			<div class="cell medium-12 large-4">
				<span class="fa-stack fa-5x">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
				</span>
				<h4>This is a default.</h4>
				<p>Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy.</p>
					<p><a>I am a link!</a></p>
			</div>
			<div class="cell medium-12 large-4">
				<span class="fa-stack fa-5x">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
				</span>
				<h4>This is a default .</h4>
				<p>Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy.</p>
					<p><a>I am a link!</a></p>
			</div>
		</div>
	</div>
</section>