{% include "@components/header-prototypes/header-superhero-missionmag-v2.twig" %}

<section class=" hero gradient left white bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">  <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout white">
                <h1 class="supersize">Mission Magazine</h1>
            </div>
        </div>
    </div>
</section>

   <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <main class="cell small-12 medium-10 large-10">
              <h2>Newsmakers</h1>
                <article>
                    <p class="close light">By: Jane Doe</p>
                    <p class="coward light">April 25, 2019</p>
                   
<p><strong>Sandra Burge, Ph.D.,</strong> professor emeritus in the Department of Family and Community Medicine, received the Distinguished Research Mentor Award from the North American Primary Care Research Group, an international research society for the discipline of family medicine.</p>

<p><strong>Paolo Casali, M.D.,</strong> professor and chair of the Department of Microbiology, Immunology and Molecular Genetics, was awarded a T32 Training Grant for his Graduate Research in Immunity Program from the National Institutes of Health. Dr. Casali’s program will train Ph.D., D.D.S./Ph.D., and M.D./Ph.D. students for careers in academia, industry or government.</p> 

<p><strong>Francisco G. Cigarroa, M.D.,</strong> professor of pediatric and transplant surgery, received the American Medical Association Foundation Award for Health Education.</p>

<p><strong>Diane Ferguson, B.S.N., RN,</strong> director of the H-E-B Clinical Skills Center, was named the Outstanding Educator of the Year by the Association of Standardized Patient Educators. The association promotes best practices and fosters research and professionalism among standardized patient educators.</p>

<section class="bleed color blue noise">
	<div class="grid-container img-bleed-left">
		<div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-6 large-6 small-order-2 large-order-1">
				<img src="../../images/ferrer.jpg" alt="Robert Ferrer">
			</div>
			<div class="cell medium-6 large-6 small-order-1 large-order-2">
            <p><strong>Robert L. Ferrer, M.D., M.P.H.,</strong> vice chair for research in the Department of Family and Community Medicine, has been elected to the National Academy of Medicine in recognition of his work in community health. He is the eighth faculty member in UT Health San Antonio history to attain this distinction.</p>

<p>Dr. Ferrer, a practicing family physician in the Joe R. and Teresa Lozano Long School of Medicine, focuses on understanding and measuring practical opportunities for healthy behaviors to improve health and well-being in vulnerable populations.</p>

<p>The National Academy of Medicine serves alongside the National Academy of Sciences and the National Academy of Engineering as an independent adviser to the nation and the international community. Membership in the National Academy of Medicine is considered one of the highest honors in the fields of health and medicine and recognizes individuals who have demonstrated outstanding professional achievements and commitment to service.</p>
			</div>
		</div>
	</div>
</section>
<br>
<p><strong>Kenneth M. Hargreaves, D.D.S., Ph.D.,</strong> professor and chair of the Department of Endodontics, was named the 2018 recipient of the American Dental Association Gold Medal Award for Excellence in Dental Research.</p>

<p><strong>Carlos Jaén, M.D., Ph.D.,</strong> professor and chair of the Department of Family and Community Medicine, was appointed to the National Library of Medicine Board
of Regents.</p>

<p><strong>Anne-Marie Langevin, M.D.,</strong> professor of pediatrics and Greehey Chair in Pediatric Oncology, has received the Harry Hynes Award from the National Cancer Institute’s Community Oncology Research Program.</p>

<section class="bleed color blue noise">
	<div class="grid-container img-bleed-right">
		<div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-6 large-6">
            <p><strong>Luci K. Leykum, M.D.,</strong> professor of medicine and chief of the Division of General and Hospital Medicine, has been named to head a first-of-its-kind center of excellence to improve services to veterans and their caregivers.</p>

<p>The new center will be managed by the U.S. Department of Veterans Affairs’ Office of Health Services Research & Development. It will be named for former U.S. Sen. Elizabeth Dole in recognition of her national leadership and advocacy on behalf of the nation’s 5.5 million military and veteran caregivers.</p>
			</div>
            <div class="cell medium-6 large-6 text-right">  
				<img src="../../images/leykuml.jpg" alt="Luci Leykum">
			</div>
		</div>
	</div>
</section> 
<br>
<p><strong>Jacqueline M. McGrath, Ph.D.,</strong> RN, FNAP, FAAN, was named vice dean for faculty excellence for the School of Nursing and will hold the Thelma and Joe Crow Endowed Professorship.</p> 

<p><strong>Brian L. Mealey, D.D.S., M.S.,</strong> professor in the Department of Periodontics, received the American Academy of Periodontology Outstanding Periodontal Educator Award.</p>

<p><strong>Michael P. Mills, D.M.D.,</strong> clinical associate professor in the Department of Periodontics, received the American Academy of Periodontology Special Citation Award.</p>

<p><strong>Masahiro Morita, Ph.D.,</strong> assistant professor of molecular medicine in the Joe R. and Teresa Lozano Long School of Medicine, has received a Rising STARs Award from the UT System. The award for early career investigators comes with a $250,000 grant.</p>

<p><strong>Jan E. Patterson, M.D., M.S.,</strong> professor of medicine/infectious diseases and pathology, was awarded the Society for Healthcare Epidemiology of America Lectureship award.</p>

<p><strong>Bridgett Piernik-Yoder, Ph.D., OTR,</strong> was named chair of the Department of Occupational Therapy in the School of Health Professions.</p>

<p><strong>Sudha Seshadri, M.D.,</strong> professor of neurology and director of the Glenn Biggs Institute for Alzheimer’s and Neurodegenerative Diseases, recently received a
$1.9 million Translational STARs award from the UT System to address research and treatment needs in Alzheimer’s and other neurodegenerative diseases.</p>

<p><strong>Jing Wang, Ph.D., M.P.H., M.S.N., RN, FAAN,</strong> has joined the School of Nursing as vice dean for research. She is a professor and the holder of the Hugh Roy Cullen Professorship in Nursing, and will guide faculty and student research within the School of Nursing.</p>

<p><strong>Richard Wettstein, M.M.Ed., RRT, FAARC,</strong> was named director of the Respiratory Care Program in the School of Health Professions.</p>

<p><strong>Kexin Xu, Ph.D.,</strong> assistant professor in the Department of Molecular Medicine, was recognized with the Young Investigator Award from the Society for Basic Urologic Research.</p>

                </article>
                <p class="bold margin-top">Share This Story</p>
                <div class="social">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x "></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </a>
                            </span>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span></a>
                        </li>
                        <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                                </span></a>
                        </li>
                        <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span></a>
                        </li>
                        <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                                </span></a>
                        </li>
                    </ul>
                </div>
                <p class="bold margin-bottom">Categories</p>
                <ul class="tags">
                    <li><a>Tag 1</a></li>
                    <li><a>Tag 2</a></li>
                    <li><a>Tag 3</a></li>
                </ul>
            </div>
        </main>
    </div>
    </div>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center padding-bottom">
                <h2>You may also like</h2>
            </div>
            <div class="small-12 medium-4 cell flex-container">
                <a class="card cell flex-child-auto light-grey">
                    <img src="https://picsum.photos/330/220">
                    <div class="card-section">
                        <p><strong>Headline 1</strong></p>
                    </div>
                </a> 
            </div>
            <div class="small-12 medium-4 cell flex-container">
                <a class="card cell flex-child-auto light-grey">
                    <img src="https://picsum.photos/330/220">
                    <div class="card-section">
                        <p><strong>Headline 2</strong></p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-4 cell flex-container">
                <a class="card cell flex-child-auto light-grey">
                    <img src="https://picsum.photos/330/220">
                    <div class="card-section">
                    <p><strong>Headline 3</strong></p>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% include "@blocks/footer/mission.twig" %}