{% include "@components/header-prototypes/header-SOD.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-5">
                <div class="callout">
          <h1>Our Programs</h1>
          <p><strong>Find your fit:</strong> Our programs span multiple disciplines and offer bachelor’s, master’s, D.D.S., Ph.D. and advanced education certificate programs as well as an International Dentist Education Program. Our dental students have opportunities to participate in a variety of areas of research and can opt for <a>Graduation with Distinction in Research Honors</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SOD.twig" %}

<section class="grid-container ">
	<div class="grid-x grid-margin-x">
		<div class="cell small-12 medium-12 large-12">
			<div class="grid-x grid-margin-x">
				<div class="cell small-12 medium-4 large-4">
					<div class="lines">
						<ul>
							<li><a class="arrow"><strong>Advanced Education in General Dentistry</strong></a>
              <strong>Degree Type:</strong> <em>Certificate, Postdoc/Advanced Education</em>
              <a href="#">Department of Comprehensive Dentistry</a></li>

							<li><a class="arrow"> <strong>Certificate in Periodontics with Master's Degree</strong></a>
              <strong>Degree Type:</strong>  <em>Certificate, Certificate with Master's Degree, Certificate with Master's Option, Master's, Postdoc/Advanced Education</em><a href="#">Department of Periodontics</a></li>

							<li><a class="arrow"> <strong>D.D.S./Ph.D.: Doctor of Dental Surgery (D.D.S.) and Doctor of Philosophy (Ph.D.)</strong></a>
              <strong>Degree Type:</strong>  <em>DDS, Doctoral, Dual Degree, PhD</em><a href="#">School of Dentistry</a></li>

							<li><a class="arrow"> <strong>Dental Early Acceptance (3+4) Program</strong></a>
              <strong>Degree Type:</strong>  <em>DDS, Doctoral</em><a href="#">School of Dentistry</a></li>

							<li><a class="arrow"> <strong>Dental Hygiene Bachelor of Science Degree Completion</strong></a>
              <strong>Degree Type:</strong>  <em>Bachelor’s </em><a href="#">Department of Periodontics</a></li>

							<li><a class="arrow"> <strong>Dental Hygiene: Entry Level, Bachelor of Science </strong></a>
              <strong>Degree Type:</strong>  <em>Bachelor’s</em><a href="#">Department of Periodontics</a></li>

							<li><a class="arrow"> <strong>Dental Public Health Residency </strong></a>
              <strong>Degree Type:</strong> <em>Certificate, Postdoc/Advanced Education </em><a href="#">Department of Comprehensive Dentistry</a></li>

							<li><a class="arrow"> <strong>Doctor of Dental Surgery (D.D.S.)</strong></a>
              <strong>Degree Type:</strong> <em>DDS, Doctoral</em><a href="#">School of Dentistry</a></li>

							<li><a class="arrow"><strong> Endodontics Certificate with Master's Option</strong></a>
              <strong>Degree Type:</strong> <em>Certificate, Certificate with Master's Option, Postdoc/Advanced Education</em><a href="#">Department of Endodontics</a></li>

						</ul>
					</div>
				</div>

				<div class="cell small-12 medium-4 large-4">
					<div class="lines">
						<ul>
							<li><a class="arrow"> <strong>International Dentist Education Program (2-year D.D.S.)</strong></a>
              <strong>Degree Type:</strong> <em>DDS, Doctoral</em><a href="#">School of Dentistry</a></li>

							<li><a class="arrow"> <strong>Master of Dental Science in Dental Hygiene</strong></a>
              <strong>Degree Type:</strong> <em>Master's</em><a href="#">Department of Periodontics</a></li>

							<li><a class="arrow"> <strong>Oral & Maxillofacial Radiology Residency Certificate w/ Master's Option</strong></a>
              <strong>Degree Type:</strong>  <em>Certificate, Certificate with Master's Option, Postdoc/Advanced Education </em><a href="#">Department of Comprehensive Dentistry</a></li>

							<li><a class="arrow"> <strong>Oral & Maxillofacial Surgery Residency </strong></a>
              <strong>Degree Type:</strong> <em>Certificate, MD</em><a href="#">Department of Oral & Maxillofacial Surgery</a></li>

							<li><a class="arrow"> <strong>Orthodontics and Dentofacial Orthopedics Certificate with Master's Degree</strong></a>
               <strong>Degree Type:</strong> <em>Certificate, Certificate with Master's Degree, Externship, Postdoc/Advanced Education</em><a href="#">Department of Developmental Dentistry</a></li>

							<li><a class="arrow"> <strong>Pediatric Dentistry Certificate</strong></a>
              <strong>Degree Type:</strong> <em>Pediatric Dentistry Certificate</em><a href="#">Department of Developmental Dentistry</a></li>

							<li><a class="arrow"> <strong>Pediatric Dentistry Certificate with Master’s Option</strong></a>
							<strong>Degree Type:</strong> <em>Certificate with Master's Option, Postdoc/Advanced Education</em><a href="#">Department of Developmental Dentistry</a></li>

							<li><a class="arrow"> <strong>Prosthodontics Residency Certificate with Master's Option</strong></a>
              <strong>Degree Type:</strong>  <em>Certificate, Certificate with Master's Option, Postdoc/Advanced Education</em><a href="#">School of Dentistry</a></li>

              <li><a class="arrow"> <strong>HCOE Learning Enhancement for Achievement in Dentistry (LEAD)</strong></a>
							<strong>Degree Type:</strong> </p></li>

						</ul>
					</div>
				</div>

 <aside class="cell small-12 medium-4 large-4">
         <div class="callout dark-beige">
            <h5>Ready to Apply?</h5>
            <p>Start your journey here and find your fit. We look for top students who seek challenges and the resources of a big institution in a smaller setting.</p>
            <a class="arrow">Learn more</a>
         </div>
    <a class="callout color blue">
      <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-city fa-stack-1x fa-inverse"></i>
            </span>
      <h3>Student Success</h3>
    </a>
    </aside>

      </div>
		</div>
	</div>
</section>


<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>