{% include "@components/header v2/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="https://source.unsplash.com/1500x750/?nature,water" alt="nature">
  <div class="grid-container extra-roomy">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
          <h1 class="h2">UT Health San Antonio Nurses Make Lives Better</h1>
          <p>Join more than 11,000 nursing graduates of UT Health San Antonio School of Nursing who are raising the bar in patient advocacy, systems of care and nursing science and transforming the future.</p>
    <p><a class="button">Our Mission</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-SON.twig" %}
<div class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-8">
            <h2>About Us</h2>
                <p>Our school employs a state-of-the-art Center for Simulation Innovation for clinical education, as well as a growing patient care practice providing primary and acute care at our own clinic, Wellness 360, and at a variety of community partner sites. As leaders in community outreach, we also operate a mobile health unit used for disaster relief and other missions. Students will enjoy a variety of clinical rotations and our low student-to-faculty ratio. With more than 400 clinical affiliates, we secure preceptors for our students—guaranteed.</p>
                <p>Our expert faculty holds prestigious endowed chairs and 12 of our faculty are Fellows of the American Academy of Nursing. The rich diversity in our student body of over 800 reflects our commitment to educating the next generation of compassionate, culturally-proficient nursing healthcare professionals at all levels of nursing education.</p>
                <p>
                   Our School of Nursing is one of five schools at UT Health San Antonio, the only academic health science center in South Texas and chief catalyst for San Antonio’s thriving $42.4 billion health care and biosciences sector. For 50+ years, we have educated nurse leaders, clinicians, scientists, and teachers to serve the diverse and underserved 38-county population of South Texas.
                </p>
                <p>
                    The school offers five academic programs consisting of BSN, DNP and PhD degrees and specialty certificates. As a recognized Hispanic Serving Institution, we are dedicated to fostering diversity, equity and inclusion in the nursing profession as we educate future nurses who mirror the communities that they will serve. Our current enrollment consists of 300 graduate students and 789 undergraduate students, including 33% first-generation college students and 21% male nursing students, almost twice the national average.
                </p>
                <p>Students enjoy learning opportunities at our state-of-the-art Center for Simulation Innovation for clinical education, as well as a growing patient care practice providing primary and acute care at our own clinic, Wellness 360 and at a variety of community partner sites. As leaders in community outreach, we also operate a mobile health unit used for disaster relief and other missions.</p>
                <p>Faculty enjoy a wide range of engagement through our research programs, Center for Community-Based Health Promotion with Women and Children and a new Center on Smart and Connected Health Technologies. Collaborative, interprofessional research opportunities include the Glenn Biggs Institute for Alzheimer’s & Neurodegenerative Disease, Barshop Institute for Longevity & Aging Studies, Center for Research to Advance Community Health and more. Our School of Nursing is home to some of the most unique population health and community-based health research in the region and in the state of Texas. Faculty scholarship is supported by a dedicated team in the Office of Nursing Research and Scholarship.</p>

<p>Fifteen faculty are fellows in the American Academy of Nursing (FAAN). We are expanding our specialist network, faculty practice and community partnerships to advance innovative sustainable models of health care and increase health equity. With a total of $13.9 million in philanthropic care provided to the community from 2019 to 2020—we truly live our missions in Texas and beyond.</p>
<h3>Our Inspiration</h3>
<p>Fifteen faculty are fellows in the American Academy of Nursing (FAAN). We are expanding our specialist network, faculty practice and community partnerships to advance innovative sustainable models of health care and increase health equity. With a total of $13.9 million in philanthropic care provided to the community from 2019 to 2020—we truly live our missions in Texas and beyond.</p>

            </main>
            <aside class="cell small-12 medium-4">
                <div class="callout outline cyan margin-bottom">
                    <h2 class="h3">Offices</h2>
                    <div class="lines">
                        <ul>
                            <li><a href="#">Office for Academic Affairs</a></li>
                            <li><a href="#">Office for Faculty Excellence</a></li>
                            <li><a href="#">Office of Nursing Research & Scholarship</a></li>
                            <li><a href="#">Office of Practice & Engagement</a></li>
                            <li><a href="#">Office of Admissions and Student Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="callout outline cyan margin-bottom">
                    <h2 class="h3">Important Links</h2>
                    <div class="lines">
                        <ul>
                            <li><a href="#">Global Partnerships</a></li>
                            <li><a href="#">A Special Message from Dean Breslin</a></li>
                            <li><a href="#">Take a Virtual Tour for Future Students</a></li>
                            <li><a href="#">More on Florence Nightingale & Diverse Nurse Leaders</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<section class="bleed color orange rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-4">
                <h2 class="h3">Faculty</h2>
                <div class="arrow decoration">
                    <ul>
                        <li><a>Meet our faculty</a></li>
                        <li><a>Join our faculty</a></li>
                        <li><a>Faculty bylaws</a></li>
                    </ul>
                </div>
                <h2 class="h3">Administration</h2>
                        <p><strong>School of Nursing Dean</strong><br>
                        Eileen T. Breslin, Ph.D., R.N., F.A.A.N.</p>
                        <div class="arrow decoration">
                    <ul>
                        <li><a>Administration directory</a></li>
                    </ul>
                </div>
                <h2 class="h3">Nursing Advisory Council</h2>
                <div class="arrow decoration">
                    <ul>
                        <li><a>About the Nursing Advisory Council</a></li>
                    </ul>
                </div>
                <h2 class="h3">Contact Us</h2>
                <address>
                    7703 Floyd Curl Drive<br>
                    San Antonio, TX 78229
                </address>
            </div>
            <div class="cell small-12 medium-6 large-8">
                <div class="grid-x grid-margin-x align-right">
                    <div class="cell small-12 medium-4 large-4">
                        <figure>
                            <img src="../../images/breslin.jpg" alt="Dean Breslin">
                            <figcaption>Eileen T. Breslin, Ph.D., R.N., F.A.A.N.</figcaption>
                        </figure>
                    </div>
                    <div class="cell small-12 medium-6 large-6">
                        <blockquote>
                            <p>"<strong>Passion, progress, impact</strong> – These are just a few of the elements that enable our School of Nursing to influence the future of health care every day. As we continue to educate some of the finest nursing students, our graduates can be found making a difference – conducting research, providing patient care, leading community partnerships, and educating patients and students. Together, we are making a lasting impact by promoting health as an act of social justice."</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
	<div class="grid-container">
		<div class="grid-x text-center align-center grid-margin-x factoids">
			<div class="cell large-3">
				<p><i class="fas fa-star fa-5x "></i></p>
                <p class="h2">98%</h2>
				<p>NCLEX Pass Rate</p>
			</div>
			<div class="cell large-3">
				<p><i class="fas fa-award fa-5x"></i></p>
				<p class="h2">11</h2>
				<p>Memoranda of Understanding with international universities</p>
			</div>
			<div class="cell large-3">
				<p><i class="fas fa-graduation-cap fa-5x"></i></p>
				<p class="h2">11,000+</h2>
				<p>Alumni</p>
			</div>
			<div class="cell large-3">
				<p><i class="fas fa-users fa-5x"></i></p>
				<p class="h2">800+</h2>
				<p>Undergraduate and Graduate Students</p>
			</div>
		</div>
	</div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-6 large-6">
                <img src="https://picsum.photos/690/400">
            </div>
            <div class="cell small-12 medium-6 large-6">
                <h2>Alumni</h2>
                <p>Graduates of our School of Nursing join our more than 11,000 alumni in Texas, across the nation and around the world. For five generations, our School of Nursing has been a leader in nursing education in South Texas. Our alumni keep informed on news from our school through our magazine and communications from our alumni office at UT Health San Antonio.</p>
                <div class="arrow">
                    <ul>
                        <li><a>Tribute Magazine</a></li>
                        <li><a>Alumni</a></li>
                        <li><a>Video: Alumna Dr. Kathryn Tart shares how her career started at UT Health San Antonio</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-6 large-6">
                <h2>Our doors opened in 1969</h2>
                <p>On May 29, 1969, the Texas Legislature passed a bill to establish The University of Texas System School of Nursing at San Antonio in response to a nursing shortage. The San Antonio school along with schools in Austin, Galveston, Arlington, Houston, and El Paso comprised the University of Texas System School of Nursing under the leadership of President Marilyn Willman Ph.D. Dr. Margretta Styles became the first Dean of the School of Nursing at San Antonio and was elected President of the American Nurses Association. Pioneering the School of Nursing alongside Dr. Styles, were four faculty members, Debra Hymovich, Nancy Maebius, Suellen Reed, and Ruth Stewart.</p>
                <div class="arrow">
                    <ul>
                        <li><a>Timeline of our History</a></li>
                        <li><a>Watch our Oral Histories</a></li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6">
                <img src="https://picsum.photos/690/400">
            </div>
        </div>
    </div>
</section>
<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>