{% include "@components/header v2/header.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                <h1>Nursing, Ph.D.</h1>
                <p class="subheader">Doctor of Philosophy in Nursing</p>
                <p>The Doctor of Philosophy (Ph.D.) in Nursing program is a research-based doctoral degree. The program prepares the student for a career as a clinical nurse scientist who, through course selection and experiences, develops as a teacher and disseminator of knowledge within professional, academic, and clinical arenas. Students may enter the program at the Post-BSN or Post-MSN level.</p>
                <div class="button-group">
                    <p><a href="#" class="button">Apply Now</a></p>
                    <p><a href="#" class="button ghost">Request Information</a></p>
                </div>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <div class="responsive-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hvtj7sIrHsY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-v2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Program</h3>
                        <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Program</h3>
                        <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly. One Two Three Four Five Six Seven Eight Nine Ten.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Program</h3>
                        <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Program</h3>
                        <p>Pudding gummi bears icing danish brownie soufflé jelly-o cookie donut. Marshmallow gummi bears jelly.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <h2>Important dates</h2>
            {% include "@components/dates/event.twig" %}
            {% include "@components/dates/event.twig" %}
            {% include "@components/dates/event.twig" %}
            <h2>Contact us</h2>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <address>
                        <strong>Program Director</strong><br>
                        Jenny Tutone, Ph.D.<br>
                        <a href="#">tutone@uthscsa.edu</a><br>
                        210-867-5309
                    </address>
                </div>
                <div class="cell large-6 medium-6 small-12">
                    <address>
                        <strong>Program Coordinator</strong><br>
                        Anna Mae Bullock, M.S.<br>
                        <a href="#">bullocka@uthscsa.edu</a><br>
                        210-634-5789
                    </address>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-4 small-12">
                <h2>Requirements</h2>
                <ul>
                    <li>Bachelors in Nursing and/or Masters in Nursing from a nationally accreditted school of nursing (ACEN, NLNAC, CCNE)</li>
                    <li>Licensure as a Registered Nurse in Texas or Compact License with Multi-State Privileges. International applicants should contact the Ph.D. program director to determin licensure requirements.</li>
                    <li>3.0 GPA based on last 60 hours of college coursework.</li>
                </ul>
                <p><a class="arrow" href="#">All admissions requirements</a></p>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Financial info</h2>
                <p>Students receive a stipend of $30,000. Tuition, fees, and basic student health insurance are covered by the program.</p>
                <ul>
                    <li><a href="#">Tuition & Fees</a></li>
                    <li><a href="#">Financial Aid</a></li>
                    <li><a href="#">Scholarships</a></li>
                </ul>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Class profile</h2>
                <p>Blurb referencing doctoral characteristics information and/or key fast facts about program demographic.</p>
                <p><a class="arrow" href="#">Our stats</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-7 medium-7 small-12">
                <h2>Heading</h2>
                <p>Cheesecake chupa chups candy canes soufflé donut macaroon. Brownie halvah cotton candy danish sesame snaps. Cheesecake jelly pie oat cake lollipop wafer. Soufflé dragée oat cake jelly beans cake cupcake halvah pastry cupcake.</p>
                <div class="arrow">
                    <ul>
                        <li><a href="#">Virtual tour</a></li>
                        <li><a href="#">San Antonio</a></li>
                        <li><a href="#">Information sessions</a></li>
                        <li><a href="#">Our campuses/facilities</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <img src="http://placekitten.com/570/390" alt="placeholder">
            </div>
        </div>
    </div>
</section>
<section class="bleed dark-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 medium-8 small-12 flex-container">
                <div class="callout white flex-child-auto">
                    {% include "@components/blockquotes/blockquote-image-left.twig" %}
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12 flex-container">
                <div class="callout white flex-child-auto">
                    <div class="quickfact text-center">
                        <p class="h2 sans-serif black close">99.9%</p>
                        <p>Bear claw pastry brownie</p>
                        <p class="h2 sans-serif black close">1</p>
                        <p>Cheesecake marzipan sesame snaps pudding</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}