<div class="callout alert sticky align-center" data-closable data-sticky data-stick-to="bottom">
  <button class="close-button" aria-label="Close alert" type="button" data-close>
    <span aria-hidden="true"><i class="fas fa-times"></i></span>
  </button>
  <div class="text-center">
  <h2>COVID Vaccine Information</h2>
  <p><a class="arrow">Schedule COVID-19 Vaccine: Same-day available</a></p>
  <p><a class="arrow">Primary Series and Booster Shot Recommendations</a></p></div>
</div>
{% include "@components/header-prototypes/header-superhero-UTP.twig" %}
<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout grey">
                <h1>Now Open! UT Health De Zavala</h1>
                <p>We are now accepting new primary and specialty care patients.</p>
                <a href="#" class="button">Schedule an appointment</a>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
<section class="bleed light-beige noise">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-10">
                <h2 class="text-center">Find a Provider</h2>
                <p class="text-center">Finding the right physician is key to establishing a medical home so that care is received in the right place, at the right time, in the manner that best suits your needs. Patient ratings are just one of the many ways we uphold our commitment to providing excellent, patient-centered care to San Antonio and South Texas.</p>
                <div class="button-group align-center">
        <p><a href="#" class="button">Find a Primary Care Provider</a></p>
        <p><a href="#" class="button ghost">Find a Specialist</a></p>
    </div></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-5">
                <img src="../../images/boerne_star_best_banner-jn_v2.png" alt="Hill Country Award">
            </div>
            <div class="cell small-12 medium-7">
                <h3>UT Health Hill Country recognized as Best of the Best</h3>
                <p>We're doing Everything It Takes to provide precision therapies and personalized
care that's convenient for you.</p>
<p><a href="#" class="button">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<a href="#" class="card postcard cell small-12 medium-6 large-6">
				<img src="https://picsum.photos/534/300">
				<div class="card-section">
					<h2>Our focus is you</h2>
					<p>We promise to be friendly and welcome you warmly, provide outstanding medical expertise, be compassionate every step of the way, give undivided attention to deliver a personal experience, be sensitive to your needs and respectful of your time... always. This is our promise and our passion.</p>
				</div>
			</a>
			<a href="#" class="card postcard cell small-12 medium-6 large-6">
				<img src="https://picsum.photos/534/300">
				<div class="card-section">
					<h2>Cancer care</h2>
					<p>Our mission is to decrease the burden of cancer in San Antonio, South Texas and beyond. We bring South Texas a level of exceptional care that is comparable with the nation’s most respected programs.</p>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="bleed color dark-grey">
    <div class="grid-container">
        <div class="grid-x text-center align-center factoid">
            <div class="cells large-4">
                <p class="h2">300,000<p>
                <p>Patient visits</p>
            </div>
            <div class="cells large-4">
                <p class="h2">800+<p>
                <p>Physicians and primary care specialists</p>
            </div>
            <div class="cells large-4">
                <p class="h2">140+<p>
                <p>Specialities and subspecialties</p>
            </div>
        </div>
    </div>
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-4">
            <img src="http://placekitten.com/450/300" alt="KITTEH">
        </div>
        <div class="small-12 medium-6 cell">
            <h3>MyChart: Access from anywhere</h3>
            <p>UT Health Physicians offers MyChart for secure access to your medical records from your computer or
                smartphone. MyChart users can schedule appointments and have direct access to their providers.</p>
            <div class="button-group">
                <a href="#" class="button">More about MyChart</a>
                <a href="#" class="button ghost">Login to MyChart</a>
            </div>
        </div>
    </div>
</section>
<section class="bleed light-grey">
    {% include "@blocks/feeds/news-events-white.twig" %}
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-12 medium-8 cell">
            <h2>UT Healthier Newsletter</h2>
            <p>Gingerbread marzipan chupa chups macaroon donut powder marshmallow toffee muffin. Sweet croissant tootsie
                roll pastry. Cookie fruitcake cheesecake donut jelly beans liquorice.</p>
            <form>
                <label>Email Address
                    <input type="text" class="small-4">
                </label>
                <button class="button">Subscribe me!</button>
        </div>
        <div class="small-12 medium-2 cell">
            <i class="fas fa-envelope-open-text fa-10x dark-grey"></i>
        </div>
    </div>
</section>
{% include "@blocks/footer/UTP-no-alamo.twig" %}