{% include "@blocks/header/global-bar-quicklinks.twig" %}
{% include "@blocks/header/level-2.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout grey">
                <h1>Expert Care During COVID</h1>
                <p>We’re taking every precaution to take care of you. In-person and video visits are available.</p>
                <a href="#" class="button">Schedule your visit today!</a>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-10">
                <h2 class="text-center">Flexible Messaging Area</h2>
                <p class="text-center">The existing UTHP site has this area reserved as a flexible messaging area. I
                    would like to keep this area as is for when we need a quick short message space. Patient Health and
                    Safety is Our Top Priority. All UT Health Physicians locations are safe, open and offering in-person
                    and virtual appointments extra words because orphans suck.</p>
                <p class="text-center"><a href="#" class="button ghost">Optional CTA</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-5">
                <img src="http://placekitten.com/570/380" alt="KITTEH">
            </div>
            <div class="cell small-12 medium-7">
                <h3>We’re ready to see you. Safely.</h3>
                <p>Finding the right physician is key to establishing a medical home so that care is received in the
                    right place, at the right time, in the manner that best suits your needs. Patient ratings are just
                    one of the many ways we uphold our commitment to providing excellent, patient-centered care to San
                    Antonio and South Texas.</p>
                <div class="button-group">
                    <a href="#" class="button">Our Primary Care Practice</a>
                    <a href="#" class="button ghost">Find A Primary Care Provider</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="small-12 medium-4 cell text-center">
                <a>
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Interactive Heading</h4>
                </a>
                <p>Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy.</p>
            </div>
            <div class="small-12 medium-4 cell text-center">
                <a>
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Interactive Heading</h4>
                </a>
                <p>Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy.</p>
            </div>
            <div class="small-12 medium-4 cell text-center">
                <a>
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Interactive Heading</h4>
                </a>
                <p>Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy.</p>
            </div>
        </div>
    </div>
</section>
<section class="bleed color dark-grey">
    <div class="grid-container">
        <div class="grid-x text-center align-center factoid">
            <div class="cells large-4">
                <p class="h2">4,600+<p>
                <p>Optional short description pertaining to the number</p>
            </div>
            <div class="cells large-4">
                <p class="h2">Top 13%<p>
                <p> Optional short description pertaining to the number</p>
            </div>
            <div class="cells large-4">
                <p class="h2">$5.7 M<p>
                <p>Optional short description pertaining to the number</p>
            </div>
        </div>
    </div>
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-4">
            <img src="http://placekitten.com/450/300" alt="KITTEH">
        </div>
        <div class="small-12 medium-6 cell">
            <h3>MyChart: Access from anywhere</h3>
            <p>UT Health Physicians offers MyChart for secure access to your medical records from your computer or
                smartphone. MyChart users can schedule appointments and have direct access to their providers.</p>
            <div class="button-group">
                <a href="#" class="button">More about MyChart</a>
                <a href="#" class="button ghost">Login to MyChart</a>
            </div>
        </div>
    </div>
</section>
<section class="bleed light-grey">
    {% include "@blocks/feeds/news-events-white.twig" %}
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-12 medium-8 cell">
            <h2>UT Healthier Newsletter</h2>
            <p>Gingerbread marzipan chupa chups macaroon donut powder marshmallow toffee muffin. Sweet croissant tootsie
                roll pastry. Cookie fruitcake cheesecake donut jelly beans liquorice.</p>
            <form>
                <label>Email Address
                    <input type="text" class="small-4">
                </label>
                <button class="button">Subscribe me!</button>
        </div>
        <div class="small-12 medium-2 cell">
            <i class="fas fa-envelope-open-text fa-10x dark-grey"></i>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}