<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Career Awards</a></li>
                <li><a href="#">Translational Science Programs</a></li>
                <li><a href="#">Graduate Programs</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Mentoring</a></li>
            </ul>
        </div>
    </div>
</nav>