<div class="grid-container">
   <div class="grid-x grid-margin-x">
      <div class="cell medium-4 large-4 ">
         <div class="callout light-beige">
            <h2 class="h3">Event Info</h2>
            <p>
            <ul class="fa-ul outline">
               <li>   
                  <span class="fa-li">
                  <span class="fa-stack fa-1x">
                  <i class="far fa-circle fa-stack-2x"></i>
                  <i class="fas fa-calendar fa-stack-1x fa-inverse grey"></i> 
                  </span> 
                  </span> 
                  <span class="">Wednesday, February 17, 2021 </span>
               </li>
               <li>
                  <span class="fa-li">
                  <span class="fa-stack fa-1x">
                  <i class="far fa-circle fa-stack-2x"></i>
                  <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse grey"></i> 
                  </span> 
                  </span> <span class="">Zoom </span>
               </li>
               <li>
                  <span class="fa-li">
                  <span class="fa-stack fa-1x">
                  <i class="far fa-circle fa-stack-2x"></i>
                  <i class="fas fa-info fa-stack-1x fa-inverse grey"></i> 
                  </span> 
                  </span> <span class="">The Conference will take place over zoom. Register to recieve room code.  Please be there or be square.  Thanks </span>
               </li>
            </ul>
            <p>
               <a class="arrow"> Add to Calendar</a>
            </p>
         </div>
      </div>
   </div>
</div>
