{% include "@components/header-prototypes/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/son-smart/biolab-banner3.jpg" alt="SCIENCE">
  <div class="grid-container chonky">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 large-5">
        <div class="callout">
          <h1>Biobehavioral Laboratory and Biobank</h1>
<p>The Biobehavioral Laboratory consists of a wet lab and a behavioral suite. The wet lab is classified as a Biosafety Level 2 facility by the UT Health San Antonio Environmental Health and Safety Department. It has the capacity to conduct assays involving saliva and blood.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@components/navigation-prototypes/navbar-SON.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Research</a></li>
    <li><a href="#">Biobehavioral and Mental Health Research</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Biobehavioral Laboratory and Biobank</li>
  </ul>
</nav>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center text-center">
      <main class="cell small-12 medium-12 large-12">
<h2 class="text-center">Our Team</h2>
<div class="grid-x grid-margin-x align-center">
<div class="cell small-12 medium-5 large-5">
    <img src="../../images/son-smart/liang-1.jpg">
    <p><strong>Chun-Liang Chen, PhD</strong><br>
     Professor & Director of Biobehavior Laboratory</p></div>
<div class="cell small-12 medium-5 large-5">
    <img src="../../images/son-smart/rivas-1.jpg">
    <p><strong>Paul Rivas, Sr.</strong><br>
    Research Lab Tech</p></div></div>
</main>
</div>
</div>
</section>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="cell small-12 medium-8 large-8">
<h2>Biobanking Storage and Testing</h2>
<p>Several freezers store various biological samples from local and national studies. The laboratory also has resources for various physical assessments including, but not limited to the following:</p>
<ul>
<li>Body composition (i.e., physician scale, BMI assessment)</li>
<li>Strength and fitness (i.e., baseline hydraulic hand dynamometer, ParvoMedic Metabolic Card)</li>
<li>Cardiovascular function (i.e., pulse oximetry, blood pressure assessment).</li>
<li>Specimen collection (i.e., blood, urine, etc.)</li>
<li>Diagnostic ordering (i.e., HbA1c, Comprehensive Metabolic Panel, etc.)</li>
</ul>
</main>
<aside class="cell small-12 medium-4 large-4">
         <div class="callout contact outline">
            <h2 class="h5">Contact Us</h2>
            <address>
            <strong>Chun-Liang Chen, PhD</strong><br>
            Professor & Director of Biobehavior Laboratory<br>
            </address>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">chenc4@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <address>
            <strong>Paul Rivas, Sr.</strong><br>
            Research Lab Tech<br>
            </address>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">rivasp@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
      </div>
        </aside>
</div>
</div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4 large-4">
    <figure>
         <img src="../../images/son-smart/meso-scale.jpg">
         <figcaption class="small">MESO QuickPlex SQ 120 MM</figcaption>
         </figure>
        </div>
      <div class="cell small-12 medium-8 large-8">
<h2>Laboratory Services</h2>
<p>Clinical and preclinical sample preparation and processing service for omics analysis</p>
<ul>
<li>bulk or single cell omics</li>
<li>genomics, transcriptomics, epigenomics, proteomics, metabolomics, and lipidomics</li>
<li>omics data analysis</li>
</ul>
<p>Comprehensive assays for single-cell human immune cell profiling and immune cell activation assessment </p>
<ul>
<li>standard and customized marker panels </li>
<li>additional subpanels of markers related to stress, pain, depression, trauma and dementia </li>
<li>additional subpanels of markers for cancer-immune hybrid cells</li>
<li>cancer microenvironment immune cell panels</li>
</ul>
<p>Ultra-sensitive MESO QuickPlex SQ 120 MM biomarker assays</p>
<ul>
<li>standard and customized biomarker kits (Meso Scale Discovery)</li>
<li>multiplex protein biomarker detection</li>
</ul>
<p>ELISA service</p>
<ul>
<li>standard and customized biomarker detection</li>
</ul>
</div>
</div>
</div>
</section>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 large-8">
<h2>Neuropsychological Testing</h2>
<p>It also has resources for neuropsychological testing including, but not limited to the following:</p>
<ul>
<li>Wisconsin Card Sorting Test</li>
<li>CANTAB (Cambridge Neuropsychological Test Automated Battery)</li>
<li>Cardiovascular function (i.e., pulse oximetry, blood pressure assessment).</li>
<li>D-KEFS (Delis-Kaplan Executive Function System).</li>
</ul>
<p>The laboratory has an active collaboration with Quest to conduct assays that cannot be done in-house.</p>
</div>
<div class="cell small-12 medium-4 large-4">
         <img src="../../images/son-smart/biolab-banner1.jpg">
        </div>
</div>
</div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San
              Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in
            <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care
            including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website
            (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their
            content, or products and services associated with those sites. The content on this website is intended to be
            used for informational purposes only. Health information on this site is not meant to be used to diagnose or
            treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>