<nav class="nav-bar" id="nav-bar-full">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Postdoctoral Positions</a></li>
        <li><a href="#">Current Postdocs</a></li>
        <li><a href="#">Faculty Mentors & Admin</a></li>
      </ul>
    </div>
  </div>
</nav>