<nav class="nav-bar" id="nav-bar-full">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Clinical Resources</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>