{% include "@components/header-prototypes/header-VPR.twig" %}
{% include "@components/navigation-prototypes/navbar-VPR.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-7 small-12">
                <h1>GrantSeekers</h1>

                <p>The GrantSeekers 2.0 program is designed to give investigators the opportunity for an internal and
                    external review process prior to submission of their NIH, VA or other proposals. While the emphasis
                    is on NIH/DoD/VA grants, any grant will be reviewed. Initial reviews are provided via a review of an
                    oral presentation provided by the investigator. The makeup of the review panel is determined by the
                    investigator based on the ability to provide critical reviews for the subject matter and can include
                    an external reviewer. Due to the success of the GrantSeekers 2.0 program over the past few years, we
                    have developed an expanded GrantSeekers program which includes additional mechanisms to support
                    specific experiments geared to improving the likelihood of funding for a revised proposal.</p>

                <p class="margin-bottom">A key element to the ongoing success of the GrantSeekers program has been the
                    input of external
                    referees who have participated via a Go-To-Meeting web-based mechanism. Recognizing the importance
                    of external peer review as a means to provide content expertise and mentorship that may not be
                    available on campus, we have developed an expanded GrantSeekers program, including a mechanism to
                    support specific experiments geared to improving the likelihood of funding for a revised proposal.
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>Program</th>
                            <th>Description</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>GrantSeekers 2.0 - original, ongoing program</td>
                            <td>
                                <p><strong>Goal</strong>: Peer review of proposals prior to submission to NIH, VA, or
                                    other agencies</p>
                                <p><strong>Mechanisms</strong>: Ongoing program. Coordinated by VPR Office.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>GrantSeekers during early stages of developing a proposal</td>
                            <td>
                                <p><strong>Goal</strong>: Increase the competitive edge by focusing on the early stages
                                    of a grant proposal (e.g., review of study design and preliminary data and explore
                                    possible aims).</p>
                                <p><strong>Mechanisms</strong>: Coordinated by PI developing the proposal. The VPR’s
                                    Office will provide the honorarium to external reviewers. All reviews will be oral
                                    and external reviews will participate via a Go-To-Meeting format. The PI will
                                    solicit up to 3 external reviewers and at least 2 members of the panel must be UT
                                    Health San Antonio faculty members.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Targeted pilot funding of scored-but-unfunded proposals</td>
                            <td>
                                <p><strong>Goal</strong>: to provide resources to transform a score-but-unfunded
                                    application into a fundable proposal.</p>
                                <p><strong>Eligibility</strong>: For PIs who receive a score on a NIH, VA or other
                                    application at the 50th percentile or better and who plan to skip one or two cycles
                                    to accrue additional preliminary data before resubmission.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>PubSeekers</td>
                            <td>
                                <p><strong>Goal</strong>: To increase the likelihood of acceptance of manuscripts into
                                    top-tier journals.</p>
                                <p><strong>Mechanisms</strong>: Coordinated by PI. The VPR’s Office will provide
                                    honorarium to the external reviewers. Using a format akin to GrantSeekers meetings,
                                    PIs contemplating sending their work to top-tier journals in their field, can obtain
                                    external peer review. At least 2 members of the panel should be UT Health San
                                    Antonio faculty members.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Editorial Review</td>
                            <td>
                                <p><strong>Goal</strong>: Provide expert editorial service to improve the quality of
                                    manuscript and grant submissions.</p>
                                <p><strong>Mechanism</strong>: Coordinated by VPR Office. Only for PIs who have
                                    participated in GrantSeekers or PubSeekers programs.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </main>

            <aside class="cell large-4 medium-5 small-12">
                <img src="https://placedog.net/600/450" alt="adorable pup" class="margin-bottom">
                <div class="callout outline">
                    <p>To participate or learn more, contact:</p>
                    <p>Dr. Sunil Ahuja<br><a>ahujas@uthscsa.edu</a></p>
                </div>

            </aside>
        </div>
    </div>
</section>

<div class="bleed color pullquote">
    <div class="grid-container">
        <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
            <div class="grid-x align-center-middle">
                <div class="cell small-10">
                    <ul class="orbit-container">
                        <li class="is-active orbit-slide">
                            <blockquote>
                                <p>GrantSeekers scheduled an expert review panel to review and provide creative feedback. Dr. Ahuja is available to support throughout the process. GrantSeekers is the best resource of our institution for researchers to prepare competitive application.</p>
                                <cite>Muhammad Baig, MD<br>Instructor/Research, Department of Psychiatry & Behavioral Sciences</cite>
                            </blockquote>
                        </li>
                        <li class="orbit-slide">
                            <blockquote>
                                <p>I appreciate the opportunity to participate. I think the GrantSeekers program is an outstanding resource for your investigators. I have been telling some of the leadership on our campus about it.</p>
                                <cite>Paula Roberson, Ph.D.<br>Chair of Department of Biostatistics at the University of Arkansas for Medical Sciences</cite>
                            </blockquote>
                        </li>
                        <li class="orbit-slide">
                            <blockquote>
                                <p>I really appreciated your support and help in getting my first R01 funded and I found the advice and guidance I received from you and Grantseekers immeasurably helpful.</p>
                                <cite>David Libich, PhD<br>Assistant Professor, Department of Biochemistry & Structural Biology</cite>
                            </blockquote>
                        </li>
                        <li class="orbit-slide">
                            <blockquote>
                                <p>I finally got the help I needed.  I had my ideas challenged, picked apart, revised and transformed for the better.  I received honest, practical, actionable feedback.  The experience was intellectually stimulating and liberating.</p>
                                <cite>Gretchel Gealogo Brown, Ph.D., RN, MHR, MSN, CMSRN<br>Assistant Professor, SON, Office of Faculty Excellence</cite>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                <div class="cell small-1">
                    <nav class="orbit-bullets">
                        <ul class="no-bullet">
                            <li><button class="is-active cell small-4" data-slide="0"><span class="show-for-sr">First
                                        slide
                                        details.</span><span class="show-for-sr">Current Slide</span></button></li>

                            <li><button class="cell small-4" data-slide="1"><span class="show-for-sr">Second slide
                                        details.</span></button></li>

                            <li><button class="cell small-4" data-slide="2"><span class="show-for-sr">Third slide
                                        details.</span></button></li>

                            <li><button class="cell small-4" data-slide="3"><span class="show-for-sr">Fourth slide
                                        details.</span></button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "@components/footer-prototypes/VPR-footer.twig" %}