{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<main class="cell small-12 medium-7 large-8">
				<h1>
					Event Name
				</h1>
				<div class="button-group">
					<a href="#" class="button">Register</a>
				</div>
				<p class="bold margin-top-2">Share This Event</p>
				<div class="social">
					<ul>
						<li>
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fas fa-envelope fa-stack-1x "></i>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
							</a>
							</span>
						</li>
						<li>
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
								</span></a>
						</li>
						<li><a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
								</span></a>
						</li>
						<li><a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
								</span></a>
						</li>
						<li><a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
								</span></a>
						</li>
					</ul>
				</div>
			</main>
			<aside class="cell small-12 medium-5 large-4">
				<div class="callout light-beige">
					<h2 class="h3">Event Info</h2>

					<div>
						<ul class="fa-ul outline">
							<li>
								<span class="fa-li">
									<span class="fa-stack fa-1x">
										<i class="far fa-circle fa-stack-2x"></i>
										<i class="fas fa-calendar fa-stack-1x fa-inverse grey"></i>
									</span>
								</span>
								<span class="">Wednesday, February 17, 2021 </span>
							</li>
							<li>
								<span class="fa-li">
									<span class="fa-stack fa-1x">
										<i class="far fa-circle fa-stack-2x"></i>
										<i class="fas fa-map-marker-alt fa-stack-1x fa-inverse grey"></i>
									</span>
								</span> <span class="">Zoom </span>
							</li>
						</ul>
					</div>
					<p>
						<a class="arrow"> Add to Calendar</a>
					</p>
				</div>
			</aside>
		</div>
	</div>
</section>

{% include "@blocks/footer/alamo.twig" %}