{% include "@components/header v2/header-police.twig" %}

<!--<section class="hero bleed img-fill full">
    <img src="../../images/UTPolice-Header.png" alt="UT Health Campus with police cars">
    <div class="grid-container godly">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4 large-7">

            </div>

            <div class="cell small-12 medium-8 large-5">
                <div class="callout">
                    <h1>UT Health Police Department</h1>

                    <div class="button-group">
                        <p><a href="#" class="button">Our Mission</a></p>
                        <p><a href="#" class="button ghost">UT Police History</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->

<section class=" hero gradient right grey bleed img-fill">
    <img src="../../images/UTPolice-Header.png" alt="UT Health Campus with police cars">
    <div class="grid-container godly">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout grey">
                <h1 class="margin-bottom">UT Health Police Department</h1>

                <div class="button-group">
                    <p><a href="#" class="button">Our Mission</a></p>
                    <p><a href="#" class="button ghost">UT Police History</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation/navbar-police.twig" %}

<div class="callout alert" data-closable>
    <button class="close-button" aria-label="Close alert" type="button" data-close>
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
    </button>
    <h2 class="h3">North Campus Construction and Parking News</h2>

    <p>Faculty, staff, and students who park in the lots for the Center for Oral Health Care and Research (COHCR), the
        Medical Arts and Research Center (MARC) and Barshop Institute for Longevity and Aging Studies will be relocated
        due to construction.</p>

    <p><a class="arrow">Parking Updates</a></p>
</div>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-7 cell">
                <h2>We Make Lives Better</h2>
                <p>Welcome to the UT Health San Antonio Police Department, serving our students, faculty, staff, and
                    visitors 24 hours a day, 7 days a week. Our police department takes pride in providing exceptional
                    policing to our university community, our Laredo campus, and to the entire South Texas Medical
                    Center.</p>
                <p>We support the mission of the university by maintaining a safe and crime-free environment through
                    innovative, proactive, and professional law enforcement initiatives.</p>
                <p>Our police department is nationally accredited by the International Association of Campus Law
                    Enforcement Administrators (IACLEA) and the Commission on Accreditation for Law Enforcement Agencies
                    (CALEA). All of our police officers are certified peace officers by the State of Texas and respond
                    to emergency and non-emergency calls for service, enforce Texas State laws, UT policies, conduct
                    criminal investigations, and professionally carry out other law enforcement related activities.</p>
                <p>I encourage you to share your ideas and suggestions with me on how we can best serve our community by
                    contacting me directly by phone at 210-450-8727 or via email at at parksm@uthscsa.edu.</p>

                <cite>Michael Parks, Chief of Police</cite>

                <div class="grid-x align-middle margin-top">
                    <div class="cell small-3">
                        <img src="../../images/IACLEA.jpg" alt="IACLEA Logo">
                    </div>
                    <div class="cell small-3">
                        <img src="../../images/CALEA.png" alt="CALEA Logo">
                    </div>
                </div>
            </main>

            <aside class="cell small-12 medium-5">

                <div class="responsive-embed">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/427262464?h=41a8044b0f" width="640"
                        height="360" frameborder="0" allowfullscreen></iframe>
                </div>

                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">

                    <li>
                        <a href="#">Police Link/Forms</a>
                        <ul class="nested vertical menu">
                            <li><a
                                    href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40799">Panic
                                    Alarm Request</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Reports & Daily Crime Log</a>
                        <ul class="nested vertical menu">
                            <li><a href="https://www.uthscsa.edu/police/daily-crime-log">Daily Crime Log</a></li>
                            <li><a href="https://www.uthscsa.edu/sites/default/files/police/campussecurityreport.pdf">Annual
                                    Security Report & Crime Statistics</a></li>
                        </ul>
                    </li>

                    <li><a href="https://www.uthscsa.edu/police/witness-form">Silent Witness Program</a></li>

                    <li><a href="https://www.uthscsa.edu/sites/default/files/2020/police/pdf/mobilesafetyapp.pdf"
                            class="file">Mobile Safety App</a></li>

                    <li>
                        <a href="#">Compliments & Complaints</a>
                        <ul class="nested vertical menu">
                            <li><a href="compliance-complaints">Submit a Compliment / Complaint</a></li>
                            <li><a href="annual-complaint-andor-compliment-report">Annual Complaint Report</a></li>
                            <li><a
                                    href="https://www.utsystem.edu/sites/default/files/offices/police/policies/201BiasedBasedProfilingandRacialProfiling2019.pdf">Biased
                                    Based Profiling and Racial Profiling Policy</a></li>
                            <li><a href="/sites/default/files/police/iareport2019.pdf">2019 Annual IA Report</a></li>
                            <li><a href="/sites/default/files/police/iareport2020.pdf">2020 Annual IA Report</a></li>
                            <li><a href="/sites/default/files/police/iareport2021.pdf">2021Annual IA Report</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Campus Carry</a>
                        <ul class="nested vertical menu">
                            <li><a href="/police/campus-carry/home">Campus Carry Home</a></li>
                            <li><a href="/police/campus-carry/working-group-summary-report">Working Group
                                    Report</a></li>
                            <li><a href="/police/campus-carry/presidents-plan">President’s Plan</a></li>
                            <li><a href="/police/campus-carry/implementation-overview">Implementation</a>
                            </li>
                            <li><a href="/police/campus-carry/announcements">Announcements</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Items of Interest</a>
                        <ul class="nested vertical menu">
                            <li><a href="https://www.utsystem.edu/offices/police/odop-policies">UT System
                                    Police Policies</a></li>
                            <li><a href="/police/training/active-shooter-run-hide-fight">Active Shooter</a>
                            </li>
                            <li><a
                                    href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40785">Bike
                                    Registration</a></li>
                            <li><a href="http://care.uthscsa.edu/">CARE Website</a></li>
                            <li><a href="crime-prevention-programs">Crime Prevention &amp; Links</a></li>
                            <li><a
                                    href="https://www.uthscsa.edu/sites/default/files/police/Emergency%20Preparedness%20Guide.pdf">Emergency
                                    Preparedness Guide</a></li>
                            <li><a href="http://care.uthscsa.edu/hscAlert.aspx">HSC Alert</a></li>
                            <li><a href="https://sway.office.com/Hq8dmCRYonLnbafC?ref=Link">Newsletter</a>
                            </li>
                            <li><a href="/police/rape-aggression-defense">Rape, Aggression, &amp;
                                    Defense</a></li>
                            <li><a
                                    href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40802">Special
                                    Events</a></li>
                            <li><a href="police-authority-jurisdiction">UTPD Authority &amp;
                                    Jurisdiction</a></li>
                            <li><a href="https://atsvid.uthscsa.edu/Mediasite/Catalog/catalogs/ut-police-campus-videos">Violence
                                    Prevention and Awareness</a></li>
                        </ul>
                    </li>
                </ul>


            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey noise">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-3 flex-container">
                <a class="callout color dark-grey flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-user-shield fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Patrol</h3>
                    <p>The patrol division provides security and safety for the protection of faculty, staff,
                        students and visitors.</p>
                </a>
            </div>

            <div class="cell small-12 medium-3 flex-container">
                <a class="callout color dark-grey flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Criminal Investigation</h3>
                    <p>The criminal investigations division is the investigative branch of UT Police.</p>
                </a>
            </div>

            <div class="cell small-12 medium-3 flex-container">
                <a class="callout color dark-grey flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Careers</h3>
                    <p>UT Police seeks candidates from all backgrounds that have a strong desire to make a
                        difference while serving the university community.</p>
                </a>
            </div>

            <div class="cell small-12 medium-3 flex-container">
                <a class="callout color dark-grey flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Services</h3>
                    <p>UT Police provides services to faculty, staff, students and visitors for added safety and
                        assistance.</p>
                </a>
            </div>
        </div>
    </div>
</section>



<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-spaced">

            <div class="cell small-12 medium-7 large-8">
                <p class="eyebrow">Available 24/7</p>
                <h2>Contact UT Police</h2>
                <div class="grid-x margin-bottom">
                    <div class="cell small-6">
                        <h3 class="h4">Emergency</h3>
                        <p>Campus Phone 911</p>
                        <p>Cell Phone 210-567-8911</p>
                    </div>

                    <div class="cell small-6">
                        <h3 class="h4">Non-emergency</h3>
                        <p>Campus Phone 72800, option 3</p>
                        <p>Cell Phone 210-567-2800, option 3</p>
                    </div>
                </div>

                <p><a class="button" href="https://www.uthscsa.edu/police/department-office-phone-numbers">Department
                        Phone Numbers</a></p>
            </div>

            <div class="cell small-12 medium-5 large-2 align-self-middle text-center hide-for-small-only">
                <i class="fas fa-phone fa-10x"></i>
            </div>

        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}