{% include "@components/header-prototypes/header-opa.twig" %}
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="../../patterns/prototypes-OPA-current-postdocs/prototypes-OPA-current-postdocs.rendered.html">Current Postdocs</a></li>
    <li>
        <span class="show-for-sr">Current: </span> UP
    </li>
  </ul>
</nav>

<div class="grid-container">
  <h1>UP</h1>
  <p class="subheader">UT Health San Antonio Postdoc Association</p>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <p>UT Health San Antonio Postdoctoral Association (UP) is a volunteer organization dedicated to addressing the needs and concerns of all UT Health San Antonio postdocs. Our vision is to foster success among postdoctoral scholars today that will enhance their professional endeavors tomorrow. Our mission is to enhance, support and promote postdoctoral training at the University of Texas Health Science Center San Antonio and help to prepare postdoctoral scholars for successful careers. UP serves postdoctoral scholars in all disciplines, schools, and colleges across the University. Our hope is to foster a sense of community, provide resources for career and personal development, and provide a framework for representation on campus and in the local community for postdoctoral scholars from all departments of the University.</p>
      <p>We are here...</p>
      <div class="indent-list">
        <ul>
          <li>To build effective career management skills and develop the professional skills postdoctoral scholars need both in and outside of lab.</li>
          <li>To organize events and seminars that enriches the scientific experience of postdocs and encourages social interaction with the community.</li>
          <li>To collaborate with other university organizations and services to address concerns that are unique to the postdoctoral scholar population.</li>
          <li>To advocate for postdoctoral scholars at UT Health San Antonio and educate them regarding university policy and postdoctoral rights.</li>
        </ul>
      </div>
      <p>Contact UP via email at <a>UP@uthscsa.edu</a>.</p>
      <h2>2021-2022 UP Officers</h2>

      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-3 medium-3 small-12">
          <img src="https://opa.uthscsa.edu/sites/opa/files/pictures/FransicaAcosts.png" alt="">
        </div>
        <div class="cell large-9 medium-9 small-12">
          <p class="large bold">UP Communication Officer</p>
          <p><a href="../../patterns/prototypes-OPA-postdoc-profile/prototypes-OPA-postdoc-profile.rendered.html">Dr. Francisca Acosta</a> was born in El Salvador, but raised primarily in Houston, Texas. She is a Postdoctoral Fellow in the Department of Biochemistry and Structural Biology and NCI T32 Scholar. Currently, she is studying the role of Osteocytic Connexin43 hemichannels in metabolic function and breast cancer progression.</p>

          <p>As UP’s Communication Officer, her goal is to distribute information to the UT Health SA Postdoc population and engage more Postdocs in the community. Dr. Acosta can be contacted at <a>acostafm@uthscsa.edu</a>.</p>

          <p>Dr. Acosta is fluent in Spanish.</p>
        </div>

        <div class="cell large-3 medium-3 small-12">
          <img src="https://opa.uthscsa.edu/sites/opa/files/pictures/SevanA-Round.png" alt="">
        </div>
        <div class="cell large-9 medium-9 small-12">
          <p class="large bold">UP Finance Officer</p>
          <p><a href="../../patterns/prototypes-OPA-postdoc-profile/prototypes-OPA-postdoc-profile.rendered.html">Dr. Sevan Alwan</a> was born and raised in Baghdad, Iraq. As an IRACDA-SABER Postdoctoral Fellow at UT Health SA, she is working on developing novel drugs to treat schistosomiasis; a neglected tropical disease that affects over 250 million people in 78 countries.</p>
          <p>As UP’s Finance Officer, her current role is organizing financial documents and maintaining the association records in coordination with the Office of Postdoctoral Affairs. She also works with the other UP Officers to create opportunities for Postdocs to network and socialize. Dr. Alwan can be contacted at <a>alwan@uthscsa.edu</a>.</p>
          <p>Dr. Alwan is fluent in Arabic.</p>
        </div>

        <div class="cell large-3 medium-3 small-12">
          <img src="https://opa.uthscsa.edu/sites/opa/files/Manpreet%20Semwal%20headshot%20Round%20small.png" alt="">
        </div>
        <div class="cell large-9 medium-9 small-12">
          <p class="large bold">UP Networking Officer</p>
          <p><a href="../../patterns/prototypes-OPA-postdoc-profile/prototypes-OPA-postdoc-profile.rendered.html">Dr. Manpreet K. Semwal</a> was born and raised in Mumbai (Bombay), India. As an associate SABER*IRACDA scholar at UT Health SA, she is working on understanding the mechanisms to improve age-associated metabolic diseases including obesity and diabetes in human subjects.</p<
          <p>As UP’s Networking Officer, her goals are to interact with various entities, to organize workshops, scholarly activities, and career discovery opportunities, both inside and outside of UT Health SA to facilitate and promote development of professional networks. Dr. Semwal can be contacted at <a>semwal@uthscsa.edu</a>.</p>
          <p>Dr. Semwal is fluent in Hindi, Marathi, Punjabi, & Urdu.</p>
        </div>
      </div>
    </main>
    <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      <a class="callout color orange margin-bottom">
        <h3 class="ruled">Meet UP</h3>
        <p>Join the UT Health San Antonio Postdoctoral Assocaition (UP) for presentation and networking</p>
      </a>

     <p><strong>Connect with us</strong>
      <div class="social">
        <ul>
          <li>
            <a href="https://opa.uthscsa.edu/sites/opa/files/pictures/Facebook.png">
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/UTHealthSA_UP">
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </li>
        </ul>
      </div>
      <figure>
        <img src="https://opa.uthscsa.edu/sites/opa/files/pictures/Earl-UP-Mascot1.png" alt="">
        <figcaption class="text-center">UP mascot, Erle N. Meyer</figcaption>
      </figure>
    </aside>
  </div>
</div>

{% include "@components/footer-prototypes/OPA-no-alamo.twig" %}