{% include "@blocks/header/global-bar.twig" %}

<header class="title-bar" data-responsive-toggle="regular">
  <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
  <button class="menu-icon" type="button" data-toggle="regular">Menu</button>
</header>
<header id="regular">
  <div class="group">
    <div class="logo pipe">
      <a href="#"><img src="../../images/UTHSA_basic_logo.svg" alt="UT Health San Antonio"></a>
      <p>NOW Clinic</p>
    </div>

    <div class="right">
      {% include "@components/formElements/search-box.twig" %}
      <div class="circle-icons">
        <a href="#">
          <span class="fa-stack outline">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fas fa-notes-medical fa-stack-1x fa-inverse"></i>
          </span>
          <span>MyChart</span>
        </a>
        <a href="#">
          <span class="fa-stack outline">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
          </span>
          <span>210-450-7222</span>
        </a>
      </div>
    </div>

  </div>
  </div>
  <nav class="nav-bar">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Location</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Helpful Links</a></li>

        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Transitional Care Clinic</a></li>
          <li><a href="#">Patient Care</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8">
        <h1>Location</h1>
      </div>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="small-12 medium-8 cell">

        <div class="mapouter">
          <div class="gmap_canvas"><iframe width="350" height="300" id="gmap_canvas"
              src="https://maps.google.com/maps?q=7810%20Louis%20Pasteur%20Drive,%20Suite%20100&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
              href="https://www.whatismyip-address.com/divi-discount/"></a><br>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 300px;
                width: 350px;
              }
            </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
            <style>
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 300px;
                width: 350px;
              }
            </style>
          </div>
        </div>

        <p>
          <h2 class="h5">NOW Clinic</h2>
        </p>
        <p>7810 Louis Pasteur Drive, Suite 100</p>
        <p>San Antonio, TX 78229</p>
        <p><strong>Phone:</strong> 210-450-7222</p>
        <p><a href="#" class="arrow">Transitional Care Clinic (TCC) Location</a></p>

        <br></br>

        <p><strong>Bus Lines</strong></p>
        <p>95, 602, 603</p>

        <p><strong>Parking at NOW</strong></p>
        <p>Patient parking is available in front and on the left side of the building. There is no charge.</p>

        <p><strong>Parking at University Plaza</strong></p>
        <p>Patient parking is metered and located on the left side of the building. Please bring quarters or a
          credit/debit card for the meter, located by the entrance.</p>

      </main>
      <aside class="small-12 medium-4 cell">
        <div class="grid-x">
          <a class="callout color orange cell" href="#">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </span>
            <h3 id="service-button">Contact Us</h3>
          </a>
        </div>
        <div class="grid-x">
          <a class="callout color grey cell" href="#">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-concierge-bell fa-stack-1x fa-inverse"></i>
            </span>
            <h3 id="report-button">Our Services</h3>
          </a>
        </div>
    </div>
  </div>

  </div>
  </aside>
  </div>
  </div>
</section>


{% include "@blocks/footer/no-alamo.twig" %}