{% include "@components/header v2/header-mission.twig" %}

<section class="bleed">
    <div class="grid-container margin-top-3">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-9 text-center margin-bottom">
                <h1 class="sans-serif h2 bold">404</h1>
                <h2 class="sans-serif h3 bold margin-bottom">Oops! Your page was not found</h2>

                <i class="fas fa-heartbeat orange fa-10x margin-bottom"></i>

                <h2 class="sans-serif h3 bold">Don't worry, we're here to help!</h2>

            </div>

            <div class="cell small-12 medium-6">

                <form class="search margin-bottom">
                    <input type="search" class="search-box" placeholder="Search">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                <div class="arrow loose-list">
                    <ul>
                        <li><a>University Home</a></li>
                        <li><a>Contact Us</a></li>
                        <li><a>List item</a></li>
                        <li><a>List item</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/mission.twig" %}