{% include "@components/header/global-bar.twig" %}
{% include "@components/header/level-2.twig" %}
{% include "@components/navigation/navbar.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <div class="cell medium-12 large-12">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Stories</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> Thania Leal
                        </li>
                    </ul>
                </nav>
                <div class="cell medium-12 large-12">
                    <h1>Thania Leal</h1>
                    <p class="close light">Class of 2016</p>
                    <p class="close light">Program/Major: Bachelor of Science in Respiratory Care</p>
                    <p class="light">Department: Division of Respiratory Care</p>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x ">
            <main class="cell medium-12 large-8">
                <div class="grid-x grid-margin-x ">
                    <div class="cell medium-12 large-6">
                        <img src="https://picsum.photos/490/430">
                        <figcaption class="small padding-bottom">Optional Figcaption here</figcaption>
                    </div>
                    <div class="cell medium-12 large-6">
                        <p>Thania Leal started out at UTSA completing prerequisites for the UT Health San Antonio’s
                            Physician Assistant program, but after receiving an email from Richard Wettstein, an
                            associate professor in the respiratory care department, she decided to shadow respiratory
                            care professionals.</p>
                        <p>She was pre-accepted into the respiratory care program, and felt it was inevitable that she
                            would end up at UT Health San Antonio.</p>
                    </div>
                </div>
                <p>Today, Leal is thankful for the job and volunteer placement programs the school has in place for
                    students. There is a volunteer coordinator for the respiratory program, and through their help,
                    students get to see a lot of different systems and make connections with vendors and other
                    professionals in the respiratory care field. Current students get to socialize with recent graduates
                    from the program who help them later down the line when they are starting their careers. She even
                    met someone who graduated from UT Health San Antonio and then relocated to Houston. That new friend
                    has helped Leal secure a position in Houston as well. The students and graduates from the
                    respiratory care department help one another move up and on to start and continue wonderful careers
                    in an field that they love.</p>
                <p class="bold margin-top">Share This Story</p>
                <ul class="social">
                    <li>
                        <a>
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fas fa-envelope fa-stack-1x "></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                        </a>
                        </span>
                    </li>
                    <li>
                        <a>
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span></a>
                    </li>
                    <li><a>
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                            </span></a>
                    </li>
                    <li><a>
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span></a>
                    </li>
                    <li><a>
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </span></a>
                    </li>
                </ul>
            </main>
            <aside class="cell medium-12 large-4">
                <blockquote class="fancy">
					<p>Add <code>.fancy</code> to a blockquote to invoke this blockquote. Your quotation must be in a <code>p</code> and the citation needs to be nested inside the blockquote for it to work.</p>
					<cite>Obi-Wan Kenobi, Jedi Master</cite>
				</blockquote>
            </aside>
        </div>
    </div>
</section>
{% include "@components/footer/alamo.twig" %}