{% include "@components/header-prototypes/header-prin.twig" %}
<section class="hero bleed img-fill extra-roomy">
	<img src="https://placedog.net/1500/750" alt="adorable pup">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
            <div class="cell large-5 small-12">
                <div class="callout">
                    <h1>Recovery Science Collaboratory</h1>
                </div>
            </div>
        </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-prin.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <p>The Recovery Science Collaboratory is “a center without walls”. We are a diverse group of scientists, researchers, policy experts, practitioners, peers, and people with lived experience.</p>
<p>The stakeholders of this group participate in a dynamic range of activities, such as:</p>
<div class="arrow">
	<ul>
		<li><a href="#">Recovery Science ECHO</a></li>
</ul></div></p>                
            </main>
            <aside class="small-12 medium-4 cell">
            </aside>
        </div>
    </div>
</section>
<section class="bleed light-grey">
    <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-spaced">
        <div class="small-12 medium-8 cell">
            <h2>Sign up now</h2>
            <p>To stay up to date with our activities use the form link below.</p>
                <form>
              <label>Required information(<span class="required">*</span>)</label>
  <label>First Name(s)<input type="text">
  </label>
  <label>Last Name(s)<input type="text">
  </label>
  <label>Email Address<span class="required">*</span>
    <input type="text">
  </label>
  <label>Credentials<input type="text">
  </label>
  <label>Organization(s)<textarea></textarea>
  </label>
<p><a href="#" class="button">Submit</a></p>
        </div>
        <div class="small-12 medium-4 cell">
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3>About PRIN</h3>
            </a>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}