{% include "@components/header-prototypes/header-prin.twig" %}
<section class="hero bleed img-fill extra-roomy">
	<img src="../../images/prin_banner_5.jpg">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
            <div class="cell large-5 small-12">
                <div class="callout">
                    <h1>Recovery Science Collaboratory</h1>
                </div>
            </div>
        </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-prin.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-10 large-10 text-center">
    <p>The Recovery Science Collaboratory is "a center without walls". We are a diverse group of scientists, researchers, policy experts, practitioners, peers, and people with lived experience.</p>
    <p>The stakeholders of this group participate in a dynamic range of activities.</p></div>
            </div>
</div>
</section>

<section class="bleed light-grey">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-spaced">
        <div class="small-12 medium-8 cell">
            <h2>Sign up now</h2>
            <p>To stay up to date with our activities use the form link below.</p>
                <form>
              <label>Required information(<span class="required">*</span>)</label>
  <label>First Name(s)<input type="text">
  </label>
  <label>Last Name(s)<input type="text">
  </label>
  <label>Email Address<span class="required">*</span>
    <input type="text">
  </label>
  <label>Credentials<input type="text">
  </label>
  <label>Organization(s)<textarea></textarea>
  </label>
  <label>How did you hear about PRIN?<textarea></textarea>
  </label>
<p><a href="#" class="button">Join the Network</a></p>
        </div>
        <div class="small-12 medium-2 cell">
            <i class="fas fa-envelope-open-text fa-10x dark-grey"></i>
        </div>
    </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}