{% include "@components/header v2/header-LSOM.twig" %}
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>Favorite Things to Do in San Antonio</h1>
  <p class="subheader">Undergraduate Medical Education</p>
  <p class="subtext">Doctor of Medicine (M.D.)</p>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <img src="../../images/sa-downtown-sa.jpg" class="margin-bottom">
      <p>The following are Long School of Medicine student favorite places to go and activities to do in the beautiful city of San Antonio, Texas.</p>
      <p><a class="button" href="https://uthscsa.edu/university/about-san-antonio">About San Antonio</a></p>
      
      <section class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout beige flex-child-auto">
            <p class="text-center"><i class="fas fa-ticket-alt fa-4x"></i></p>
            <p class="large text-center">Culture & Entertainment</p>
            <ul>
              <li><a href="https://www.wittemuseum.org/">The Witte Museum</a></li>
              <li><a href="https://www.mcnayart.org/">The McNay Museum</a></li>
              <li>First Fridays Southtown Art Walk</li>
              <li>Slab Cinemas</li>
              <li>Chicken and Pickle</li>
              <li><a href="http://atpearl.com/about/">The Pearl</a></li>
              <li>Jazz, TX</li>
              <li>High Street Wine Co</li>
              <li>St. Mary's Street</li>
              <li>Paramour</li>
              <li>Flying Saucer</li>
              <li>Little Woodrow's</li>
              <li>Knight Watch Games</li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout dark-beige flex-child-auto">
            <p class="text-center"><i class="fas fa-running fa-4x"></i></p>
            <p class="large text-center">Sports & Exercise</p>
            <ul>
              <li>Half Moon Yoga</li>
              <li>The District</li>
              <li><a href="https://armadilloboulders.com/">Armadillo Boulders</a></li>
              <li>Gold's Gym</li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout dark-beige flex-child-auto">
            <p class="text-center"><i class="fas fa-hiking fa-4x"></i></p>
            <p class="large text-center">Outdoor Spaces</p>
            <ul>
              <li><a href="http://www.sabot.org/">San Antonio Botanical Gardens</a></li>
              <li>San Antonio Greenway Trails</li>
              <li>Eisenhower Park</li>
              <li>Brackenridge Park</li>
              <li>Freidrich Wilderness Park</li>
              <li>O.P. Schnabel Park</li>
              <li>Japenese Tea Gardens</li>
              <li><a href="https://www.thesanantonioriverwalk.com/">River Walk</a></li>
              <li><a href="https://naturalbridgecaverns.com/">Natural Bridge Caverns</a></li>
              <li>Horseback riding/trail rides</li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout beige flex-child-auto">
            <p class="text-center"><i class="fas fa-car fa-4x"></i></p>
            <p class="large text-center">Day Trips from San Antonio</p>
            <ul>
              <li>Fredericksburg</li>
              <li>Boerne</li>
              <li>Gruene</li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout beige flex-child-auto">
            <p class="text-center"><i class="fas fa-glass-cheers fa-4x"></i></p>
            <p class="large text-center">Fine Dining</p>
            <ul>
              <li>Nonna Osteria</li>
              <li>Southerleigh</li>
              <li>Cappy's</li>
              <li>Cured</li>
              <li>Dough</li>
              <li>Bliss</li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout dark-beige flex-child-auto">
            <p class="text-center"><i class="fas fa-utensils fa-4x"></i></p>
            <p class="large text-center">Authentic Ethnic Cuisine</p>
            <ul>
              <li>Jerk Shack</li>
              <li>Sichuan House</li>
              <li>Tim's Oriental</li>
              <li>Biryani Pot</li>
              <li>Dallah Mediterranean Cuisine</li>
              <li>Berni Vietnamese</li>
              <li>Thai Esan & Noodle House</li>
              <li>Bean Thai</li>
              <li>Kobam's Nigerian</li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout dark-beige flex-child-auto">
            <p class="text-center"><i class="fas fa-ice-cream fa-4x"></i></p>
            <p class="large text-center">Sweets/Desserts</p>
            <ul>
              <li>Honcho's Churro Truck</li>
              <li>Snopioca</li>
              <li>Kung Fu Tea</li>
              <li>Artea</li>
              <li>Creppeccino</li>
              <li>Kuma</li>
            </ul>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout beige flex-child-auto">
            <p class="text-center"><i class="fas fa-coffee fa-4x"></i></p>
            <p class="large text-center">Coffee</p>
            <ul>
              <li>Summermoon Coffee</li>
              <li>Local/Merit Coffee</li>
              <li>Cafe Martinez</li>
              <li>Revolucion Coffee and Juice</li>
            </ul>
          </div>
        </div>
      </section>
       <!--
       ticket
        Culture & Entertainment
        Sports & Exercise
        Outdoor Spaces
        Day Trips from San Antonio
      -->
       <!--
       fork-knife
        Fine Dining
        Authentic Ethnic Cuisine
        Sweets/Desserts
        Coffee
       -->
    </main>
    <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li><a href="#">Undergraduate Medical Education</a></li>
        <li>
          <a href="#">Admissions</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Admission at a Glance</a></li>
            <li><a href="#">Technical Standards</a></li>
            <li><a href="#">Who Are We Looking For?</a></li>
            <li><a href="#">Interview Process</a></li>
            <li><a href="#">Paying for School</a></li>
            <li><a href="#">Accepted? Next Steps</a></li>
            <li><a href="#">COVID-19 Information</a></li>
          </ul>
        </li>
    
        <li>
          <a href="#">Outreach</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Speaker Request for a Virtual Event</a></li>
            <li><a href="#">I Want to be a doctor! What now?</a></li>
            <li><a href="#">Club PreMed Connections</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Curriculum</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Preclinical Curriculum</a></li>
            <li><a href="#">Clinical Curriculum</a></li>
            <li><a href="#">Simulation Training</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Dual Degree & Distinction Programs</a>
          <ul class="nested vertical menu">
            <li><a href="#">Distinction in Medical Education</a></li>
            <li><a href="#">Distinction in Medical Humanities</a></li>
            <li><a href="#">Distinction in Research</a></li>
            <li><a href="#">M.D./M.P.H. Program</a></li>
            <li><a href="#">M.D./OMS Certificate</a></li>
            <li><a href="#">M.D./Ph.D. Program (South Texas Medical Scientist Training Program)</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Student Affairs</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">4th Year Spring Events</a></li>
            <li><a href="#">Quick Reference Guide</a></li>
            <li><a href="#">Academic Advising</a></li>
            <li><a href="#">Career Advising</a></li>
            <li><a href="#">Elective Catalog</a></li>
            <li><a href="#">Academic Enhancement</a></li>
            <li><a href="#">Veritas</a></li>
            <li><a href="#">Student Wellness</a></li>
            <li><a href="#">Professional Formation</a></li>
            <li><a href="#">Milestones</a></li>
            <li><a href="#">Student Involvement</a></li>
            <li><a href="#">Visiting Students</a></li>
            <li><a href="#">New Student Orientation</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Administrative</a>
          <ul class="nested vertical menu">
            <li><a href="#">Our Office</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Intranet</a></li>
            <li><a href="#">COVID-19 Medical Student Response Team</a></li>
          </ul>
        </li>
      </ul>
      
       <div class="callout contact outline">
        <h2 class="h5">Contact Us</h2>
        <ul class="fa-ul">
          <li>
            <a href="mailto:LongSOM@uthscsa.edu">
              <span class="fa-li">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </span>
              <span>LongSOM@uthscsa.edu</span>
            </a>
          </li>
          <li>
            <a href="tel:210-567-6080">
              <span class="fa-li">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                </span>
              </span> 
              <span>210-567-6080</span>
            </a>
          </li>
          <li>
            <a>
              <span class="fa-li">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-address-book fa-stack-1x fa-inverse"></i>
                </span>
              </span> 
              <span>Meet our Admissions Team</span>
            </a>
          </li>
        </ul>
        <br>
        <h2 class="h5">Office Hours</h2>
        <p>Monday - Friday, 8:00AM to 5:00PM<br>Briscoe Library, 5th Floor, 5.501</p>
      </div>


    </aside>
  </div>
</div>

{% include "@blocks/footer/LSOM-alamo.twig" %}