<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
    <!-- Quicklinks Content -->
    <div class="title-bar quicklinks">
        <div class="title-bar-left">
            <p><a href="#" data-close="offCanvasRight"><i class="fas fa-times"></i> Quicklinks</a></p>
            {% include "@components/formElements/search-box.twig" %}
            <h4>Helpful Links</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="#">Perry & Ruby Parkinson’s Disease Center of Excellence</a></li>
                    <li><a href="#">RECOVER-TX</a></li>
                    <li><a href="#">NIH - CTSA</a></li>
                    <li><a href="#">Citing the IIMS-CTSA</a></li>
                </ul>
            </div>
            <h4>Collaborations</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="#">Training Opportunities</a></li>
                </ul>
            </div>
            <h4>Community Links</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="#">Clinical Studies</a></li>
                    <li><a href="#">Research Match</a></li>
                    <li><a href="#">Information for Research Participants</a></li>
                    <li><a href="#">Institute for Health Promotion Research (IHPR)</a></li>
                    <li><a href="#">Research to Advance Community Health (ReACH) Center</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>