
{% include "@components/header v2/header.twig" %}

<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>Long School of Medicine Alumni</h1>
                <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging. Brigantine capstan furl Jolly Roger cackle fruit code of conduct maroon topgallant me cable.</p>
                <a href="#" class="button">Donate</a>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-v2.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-10 cell text-center">
            <h2>Alumni and Student Spotlight</h2>
            <p>Alumni and Student Spotlights showcase those who are making a difference for UT Health San Antonio on campus and in their communities.</p>
            <p>If you would like to share your story, please email your Alumni team at <a href="#">alumni@uthscsa.edu</a>.</p>
        </div>
    </div>
</section>

<section class="bleed color dark-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Kitteh</h3>
                        <p>Class of XXXX<br>School of Desserts and Pastries</p>
                        <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging.</p>
                        <a href="#" class="arrow">More about Kitteh</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Kitteh</h3>
                        <p>Class of XXXX<br>School of Desserts and Pastries</p>
                        <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging.</p>
                        <a href="#" class="arrow">More about Kitteh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <h2 class="text-center">Keep in Touch With Your School</h2>
        <div class="grid-x grid-margin-x align-center">
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <div class="flex-child-auto text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-award fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow">
                    <h4 class="text-center">Alumni <br>Scholarships</h4>
                    <p>The Long School of Medicine Alumni Council awards scholarships to medical students recognized for academic excellence, leadership and exemplary service while enrolled at the Long School of Medicine.</p>
                </div>
                <div class="flex-child-shrink"><a href="#" class="arrow">Alumni Scholarship Recipients</a></div>
            </div>
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <div class="flex-child-shrink text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow">
				    <h4 class="text-center">Distinguished Medical Alumnus</h4>
				    <p>The Distinguished Medical Alumnus Award is the highest honor bestowed upon a graduate of the Long School of Medicine. It is given to a graduate who has demonstrated the highest principles of the medical profession.</p>
                </div>
                <div class="flex-child-shrink"><a href="#" class="arrow">Distinguished Medical Alumni</a></div>
            </div>
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <div class="flex-child-shrink text-center">
                    <span class="fa-stack fa-5x text-center">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow">
				    <h4 class="text-center">Aesculapian Laureate Society</h4>
				    <p>TThe Aesculapian Laureate Society recognizes Long School of Medicine Alumni who have given more than $1M to the medical school.</p>
                </div>
                <div class="flex-child-shrink"><a href="#" class="arrow">Distinguished Medical Alumni</a></div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-8 light-grey card">
                <div class="grid-x align-center">
                    <div class="cell small-12 medium-4 large-2 card-section">
                        <img src="http://placekitten.com/300/400" alt="kitty">
                    </div>
                    <div class="cell small-12 medium-8 large-10 card-section">
                        <blockquote>
                            <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within another element like a bleed.</p>
                            <cite>Obi-Wan Kenobi, Jedi Master</cite>
                        </blockquote>
			        </div>
		        </div>
            </div>
            <div class="cell small-12 medium-6 large-4 contact">
                <div class="callout contact outline">
					<h2>Contact Us</h2>
					<p>UT Health SA Alumni Relations office is located in the Academic and Administration Building on our main campus.</p>
					<ul class="fa-ul stacked">
						<li>
							<a>
							<span class="fa-li">
							<span class="fa-stack">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
							</span>
							</span> <span class=""> 210-567-3051</span>
							</a>
						</li>
						<li>
							<a>
							<span class="fa-li">
							<span class="fa-stack">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
							</span>
							<span class="">alumni@uthscsa.edu</span>
							</a>
						</li>
						<li>
							<a>
							<span class="fa-li">
							<span class="fa-stack">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-users fa-stack-1x fa-inverse"></i>
							</span>
							</span>
							<span class="">Team Directory</span>
							</a>
						</li>
					</ul>
				</div>
            </div>
        </div>
    </div>
</section>

<section class="bleed color grey">
    {% include "@blocks/feeds/news-events-white.twig" %}
</section>
{% include "@blocks/footer/no-alamo.twig" %}