{% include "@components/header/global-bar-quicklinks.twig" %}
{% include "@components/header/level-2.twig" %}
{% include "@components/navigation/navbar.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>Long School of Medicine Alumni</h1>
                <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging. Brigantine capstan furl Jolly Roger cackle fruit code of conduct maroon topgallant me cable.</p>
                <a href="#" class="button">Donate</a>
            </div>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-10 cell text-center">
            <h2>Alumni and Student Spotlight</h2>
            <p>Alumni and Student Spotlights showcase those who are making a difference for UT Health San Antonio on campus and in their communities.</p>
            <p>If you would like to share your story, please email your Alumni team at <a href="#">alumni@uthscsa.edu</a>.</p>
        </div>
    </div>
</section>

<section class="bleed color dark-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
            <div class="cell small-12 medium-6 callout">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Kitteh</h3>
                        <p>Class of XXXX<br>School of Desserts and Pastries</p>
                        <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging.</p>
                        <a href="#" class="arrow">More about Kitteh</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 callout">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Kitteh</h3>
                        <p>Class of XXXX<br>School of Desserts and Pastries</p>
                        <p>Privateer aft black spot bucko yo-ho-ho Barbary Coast salmagundi interloper take a caulk flogging.</p>
                        <a href="#" class="arrow">More about Kitteh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <h2 class="text-center">Keep in Touch With Your School</h2>
        <div class="grid-x grid-margin-x align-center">
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <div class="flex-child-auto text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-award fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow">
                    <h4 class="text-center">Alumni <br>Scholarships</h4>
                    <p>The Long School of Medicine Alumni Council awards scholarships to medical students recognized for academic excellence, leadership and exemplary service while enrolled at the Long School of Medicine.</p>
                </div>
                <div class="flex-child-shrink"><a href="#" class="arrow">Alumni Scholarship Recipients</a></div>
            </div>
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <div class="flex-child-shrink text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow">
				    <h4 class="text-center">Distinguished Medical Alumnus</h4>
				    <p>The Distinguished Medical Alumnus Award is the highest honor bestowed upon a graduate of the Long School of Medicine. It is given to a graduate who has demonstrated the highest principles of the medical profession.</p>
                </div>
                <div class="flex-child-shrink"><a href="#" class="arrow">Distinguished Medical Alumni</a></div>
            </div>
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <div class="flex-child-shrink text-center">
                    <span class="fa-stack fa-5x text-center">
                        <i class="fas fa-circle fa-stack-2x orange"></i>
                        <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="flex-child-grow">
				    <h4 class="text-center">Aesculapian Laureate Society</h4>
				    <p>TThe Aesculapian Laureate Society recognizes Long School of Medicine Alumni who have given more than $1M to the medical school.</p>
                </div>
                <div class="flex-child-shrink"><a href="#" class="arrow">Distinguished Medical Alumni</a></div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-8 light-grey padding flex-container flex-dir-row">
                <div class="flex-child-grow"><img src="http://placekitten.com/275/150" alt="KITTEH" class="float-left"></div>
                <div class="flex-child-auto">
                    <blockquote>
                        <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
                        <cite>Old Fashioned</cite>
                    </blockquote>
                </div>
            </div>
            <div class="cell small-12 medium-4 contact">
                <div class="callout contact outline">
					<h2>Contact Us</h2>
					<p>UT Health SA Alumni Relations office is located in the Academic and Administration Building on our main campus.</p>
					<ul class="fa-ul stacked">
						<li>
							<a>
							<span class="fa-li">
							<span class="fa-stack">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
							</span>
							</span> <span class=""> 210-567-3051</span>
							</a>
						</li>
						<li>
							<a>
							<span class="fa-li">
							<span class="fa-stack">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
							</span>
							<span class="">alumni@uthscsa.edu</span>
							</a>
						</li>
						<li>
							<a>
							<span class="fa-li">
							<span class="fa-stack">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-users fa-stack-1x fa-inverse"></i>
							</span>
							</span>
							<span class="">Team Directory</span>
							</a>
						</li>
					</ul>
				</div>
            </div>
        </div>
    </div>
</section>

<section class="bleed color grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y align-center">
            <div class="small-12 medium-6 off-white cell callout">
                <h2 class="text-center">News</h2>
                <ul class="lines">
                    <li><a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a></li>
                    <li><a href="#">Our Department of Pediatrics Reaches out to Schools in Thanksgiving Covid-19 Safety Video to Schools with Dr. Tess Barton, Story Featured in the top of KSAT-12 Newscast</a></li>
                    <li><a href="#">The Department of Pediatrics Featured on KSAT-12: Infectious Disease Doctor Tess Barton Gives Halloween/Covid-19 Safety Tips to Schools Skywalker yoda </a></li>
                </ul>
                <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
            </div>
            <div class="small-12 medium-6 off-white cell callout">
                <h2 class="text-center">Events</h2>
                <ul class="lines">
                    <li class="flex-container flex-dir-row align-middle">
                        <div class="flex-child-auto">
                            <a class="datebox">
                                <div>
                                    <span>Jan</span>
                                </div>
                                <div>
                                    <span>01</span>
                                </div>
                            </a>
                        </div>
                        <div class="flex-child-auto">
                            <a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a>
                        </div>
                    </li>
                    <li class="flex-container flex-dir-row align-middle">
                        <div class="flex-child-auto">
                            <a class="datebox">
                                <div>
                                    <span>Jan</span>
                                </div>
                                <div>
                                    <span>14</span>
                                </div>
                            </a>
                        </div>
                        <div class="flex-child-auto">
                            <a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a>
                        </div>
                    </li>
                    <li class="flex-container flex-dir-row align-middle">
                        <div class="flex-child-auto">
                            <a class="datebox">
                                <div>
                                    <span>Jan</span>
                                </div>
                                <div>
                                    <span>31</span>
                                </div>
                            </a>
                        </div>
                        <div class="flex-child-auto">
                            <a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a>
                        </div>
                    </li>
                </ul>
                <p class="text-center"><a href="#" class="button ghost">View All Events</a></p>
            </div>
        </div>
    </div>
</section>
{% include "@components/footer/no-alamo.twig" %}