{% include "@components/header-prototypes/header-TILT.twig" %}

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 medium-7 small-12">
        <h1>Resources</h1>
        <p>The first step to diagnosing TILT is to have the patient take a free exposure assessment screening called the QEESI (Quick Environmental Exposure and Sensitivity Inventory). The QEESI is the most widely used screening instrument for chemical intolerance. It is a validated screening questionnaire for chemical intolerance that is available for personal use. </p>
        <p><a class="button">Get the QEESI for a patient</a></p>
      </div>
      <div class="cell large-5 medium-5 small-12">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UOMvwIE952w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<main class="grid-container">
  <section class="grid-x grid-margin-x">
    <section class="cell large-5 medium-5 small-12 flex-container">
      
      <div class="callout nested roomy lines flex-child-auto">
        <h2>Provider Resources</h2>
        <ul>
          <li><a>EMU Can Help Diagnose TILT</a></li>
          <li><a>Treatment for People Affected by TILT</a></li>
          <li><a>Explanation of the TILT Process</a></li>
          <li><a>A Letter to Healthcare Providers</a></li>
          <li><a>Publications for Researchers & Physicians</a></li>
          <li><a>Our Research</a></li>
          <li><a>Get Our TILT Booklet</a></li>
        </ul>
      </div>
     </section>
     <section class="cell large-5 medium-5 large-offset-2 small-12 flex-container">
      
      <div class="callout nested roomy lines flex-child-auto">
        <h2>Educational Resources</h2>
        <ul>
          <li><a>Educational Program</a></li>
          <li><a>Origins of TILT</a></li>
          <li><a>FAQ</a></li>
          <li><a>TILT Triggers</a></li>
        </ul>
      </div>
     </section>
  </section>
</main>

<section class="bleed color blue noise pullquote">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-6 large-6">
        <blockquote>
          <p class="large">I had severe muscle pain, night sweats, skin rashes, severe exhaustion. A real brain fog – that was probably the worst symptom for me.</p>
          <cite>Jane Little, BBC Reporter</cite>
          
        </blockquote>
        <p><a href="#" class="button">More stories</a></p>
      </div>
      <div class="cell small-12 medium-6 large-6">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/x4yKu3aAxro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


{% include "@blocks/footer/TILT-footer.twig" %}