{% include "@components/header-prototypes/header-TILT.twig" %}

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell large-7 medium-7 small-12">
        <h1>Resources</h1>
        <p>The first step to diagnosing TILT is to have the patient take a free exposure assessment screening called the QEESI (Quick Environmental Exposure and Sensitivity Inventory). The QEESI is the most widely used screening instrument for chemical intolerance. It is a validated screening questionnaire for chemical intolerance that is available for personal use. </p>
        <p><a class="button">Get the QEESI for a patient</a></p>
      </div>
      <div class="cell large-5 medium-5 small-12">
        <img src="../../images/keyboard-unsplash.jpg">
        <!--<div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UOMvwIE952w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>-->
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<main class="grid-container">
  <section class="grid-x grid-margin-x">
    <!--<section class="cell large-5 medium-5 small-12 flex-container">

      <div class="callout nested roomy lines flex-child-auto">
        <h2>Provider Resources</h2>
        <ul>
          <li><a>EMU Can Help Diagnose TILT</a></li>
          <li><a>Treatment for People Affected by TILT</a></li>
          <li><a>Explanation of the TILT Process</a></li>
          <li><a>A Letter to Healthcare Providers</a></li>
          <li><a>Publications for Researchers & Physicians</a></li>
          <li><a>Our Research</a></li>
          <li><a>Get Our TILT Booklet</a></li>
        </ul>
      </div>
     </section>
     <section class="cell large-5 medium-5 large-offset-2 small-12 flex-container">

      <div class="callout nested roomy lines flex-child-auto">
        <h2>Educational Resources</h2>
        <ul>
          <li><a>Educational Program</a></li>
          <li><a>Origins of TILT</a></li>
          <li><a>FAQ</a></li>
          <li><a>TILT Triggers</a></li>
        </ul>
      </div>
     </section>-->
     <section class="cell large-8 medium-6 small-12">
      <h2>Education</h2>
      <p>As a major academic health center, we have the opportunity to create a unique training experience for medical students, physicians, and residents. For two decades, our team has been training graduate level healthcare students and professionals through hands-on visits to patients’ homes. These home visits provide healthcare professionals with a better understanding of patients’ environments, developing their intervention skills and equipping them with empathy regarding the challenges that patients face within their homes.</p>
      <p>Recently, we have expanded the home visit model by creating our “virtual house calls” for our patients at the UT health clinics. Here, our team meets with the patients via video or telephone. The team goes over various ways the patient can reduce their symptoms by identifying symptom triggers in the home. Over 4-5 educational sessions, which includes delivery and discussion of their individual patient centered intervention materials. </p>
    
     </section>
     <section class="cell large-4 medium-6 small-12">
      <h2>Provider Resources</h2>
      <div class="arrow">
        <ul>
          <li><a>EMU Can Help Diagnose TILT</a></li>
          <li><a>Treatment for People Affected by TILT</a></li>
          <li><a>Explanation of the TILT Process</a></li>
          <li><a>A Letter to Healthcare Providers</a></li>
          <li><a>Publications for Researchers & Physicians</a></li>
          <li><a>Our Research</a></li>
          <li><a>Get Our TILT Booklet</a></li>
        </ul>
      </div>
    </section>
  </section>
</main>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <section class="cell large-4 medium-4 small-12">
        <div class="text-center">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-video fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h3 class="text-center">Videos</h3>
        <div class="lines">
          <ul>
            <li><a href="https://news.uthscsa.edu/5-types-of-household-items-to-avoid-if-you-have-a-chemical-intolerance/">5 types of household items</a></li>
            <li><a href="https://microbiomefirst.org/claudia-s-miller-md/">Microbome First Summit</a></li>
            <li><a href="https://www.youtube.com/watch?v=G8sjxyOZ-Ew">Beyond Pesticides 2022 Forum Seminar</a></li>
          </ul>
        </div>
      </section>
      <section class="cell large-4 medium-4 small-12">
        <div class="text-center">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h3 class="text-center">Modules</h3>
        <div class="lines">
          <ul>
            <li><a>Link here</a></li>
            <li><a>Link here</a></li>
            <li><a>Link here</a></li>
          </ul>
        </div>
      </section>
      <section class="cell large-4 medium-4 small-12">
        <div class="text-center">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-info fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h3 class="text-center">Resources & Links</h3>
        <div class="lines">
          <ul>
            <li><a>5 types of household items</a></li>
            <li><a>FAQ</a></li>
            <li><a>Origins of TILT</a></li>
            <li><a>TILT Triggers</a></li>
            <li><a href="https://news.uthscsa.edu/overlooked-for-decades-mast-cells-may-explain-many-mysterious-environmental-illnesses/">Overlooked for decades, mast cells may explain many mysterious environmental illnesses</a></li>
            <li><a href="https://news.uthscsa.edu/new-paper-provides-a-link-between-common-chemicals-and-unexplained-chronic-illnesses/">New paper provides a link between common chemicals and ‘unexplained’ chronic illnesses</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="bleed color blue noise pullquote">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-6 large-6">
        <blockquote>
          <p class="large">I had severe muscle pain, night sweats, skin rashes, severe exhaustion. A real brain fog – that was probably the worst symptom for me.</p>
          <cite>Jane Little, BBC Reporter</cite>

        </blockquote>
        <p><a href="#" class="button">More stories</a></p>
      </div>
      <div class="cell small-12 medium-6 large-6">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/x4yKu3aAxro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


{% include "@components/footer-prototypes/TILT-footer.twig" %}