<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4 card">
        <div class="card-section">
            <img src="https://picsum.photos/400/250">
            <h4>Static Card</h4>
            <p>This option has a link added!</p>
            <p><a href="#" class="arrow">I even have a link!</a></p>
        </div>
    </div>
</div>