{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-8 medium-8 small-12">
				<h1>Strategic Focus</h1>
        <!--<p class="large">UT Health San Antonio’s scientists and clinicians engage in research to understand health and disease and to enhance scientific knowledge that will impact society today and tomorrow.</p>-->
        <p class="large">Sweet pie icing sugar plum tootsie roll jelly-o oat cake. Macaroon donut candy canes brownie carrot cake gummi bears chocolate bar candy canes oat cake. Chocolate cake macaroon muffin powder donut tiramisu dessert. </p>
        <div class="button-group">
          <p><a class="button">Institutes & Centers</a></p>
          <p><a class="button ghost">Schools</a></p>
        </div>
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}
<main class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-4 medium-6 small-12">
      <a href="#">
        <img src="https://uthscsa.edu/sites/default/files/2023-08/area-aging-longevity.jpg" alt="" class="img-margin">
        <h2 class="h4">Aging</h2>
      </a>
      <p>Our research in aging explores new ways of improving quality of life and lifespan for those with age-related disease.</p>
    </section>
    <section class="cell large-4 medium-6 small-12">
      <a href="#">
        <img src="../../images/alz-dem.jpg" alt="" class="img-margin">
        <h2 class="h4">Alzheimer’s & Dementia</h2>
      </a>
      <p>Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake.</p>
    </section>
    <section class="cell large-4 medium-6 small-12">
      <a href="#">
        <img src="../../images/behavior-mental.jpg" alt="" class="img-margin">
        <h2 class="h4">Behavior & Mental Wellness</h2>
      </a>
      <p>Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake.</p>
    </section>
    <section class="cell large-4 medium-6 small-12">
      <a href="#">
        <img src="https://uthscsa.edu/sites/default/files/2023-08/area-cancer.jpg" alt="" class="img-margin">
        <h2 class="h4">Cancer</h2>
      </a>
      <p>Our cancer research brings treatment and therapy to patients of all ages, battling different forms of cancer.</p>
    </section>
    <section class="cell large-4 medium-6 small-12">
      <a href="#">
        <img src="https://uthscsa.edu/sites/default/files/2023-08/area-diabetes.jpg" alt="" class="img-margin">
        <h2 class="h4">Diabetic & Metabolic Diseases</h2>
      </a>
      <p>Our diabetes and metabolic disorders research seeks to discover better health outcomes to address an alarmingly high comorbidity in the South Texas population.</p>
    </section>
    
    <section class="cell large-4 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-neuroscience.jpg" alt="x-ray of the brain and nervous system">
        <h2 class="h4">Neuroscience</h2>
      </a>
      <p>Our research in neuroscience extends from single cell studies to targeting specific neurological diseases, disorders, and trauma.</p>
    </section>
  </div>
</main>

<!--<section class="bleed color orange">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 medium-8 small-12">
                <h2>Featured Spotlight</h2>
                <p>Space to feature a researcher, lab, institute/center, etc... This can either be curated by editor OR can be autorotating from a pool of features.</p>
                <p>Icing cotton candy sugar plum sweet roll donut donut lollipop tiramisu. Pie danish cotton candy dessert tart brownie carrot cake bear claw cotton candy.</p>
                <p><a href="#" class="button white">Related Link</a></p>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <img src="https://placedog.net/410/250" alt="">
            </div>
        </div>
    </div>
</section>-->
{% include "@components/footer-prototypes/VPResearch-footer.twig" %}