{% include "@components/header-prototypes/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/son-scholarship.jpg" alt="Technologies">
  <div class="grid-container extra-roomy">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
				<h1 class="h2">Nursing Scholarships</h1>
          <p>Explore scholarships to help pay for tuition, books, fees, seminars, workshops and more. We offer access to both need-based and merit-based scholarships.</p>
          <p><a href="#" class="button">Apply Now</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SON.twig" %}
<main class="grid-container">
  <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 cell">
        <h2>One Application for Over 100 Nursing Scholarships</h2>
        <p>To apply for a nursing scholarship, please make sure you meet the following requirements:</p>
        <div  class="check">
      <ul>
        <li>I filed the Free Application for Federal Student Aid (FAFSA) or the Texas Application for State Financial Aid (TASFA) for the current aid year that I'm applying for.</li>
        <li>I am a matriculated student.</li>
      </ul>
    </div>
    <p>Once your federal or state data has been processed and loaded into the Student System, which occurs once a week, a link will appear in your Financial Aid tile, located in My Student Center, entitled “UT Health San Antonio Scholarship Application".</p>

    <p>Applications for the The Greehey Scholars in Children's Health requires additional components to be submitted with the application.</p>

    <p>For any further questions, please visit our frequently asked questions page regarding scholarships.</p>

    <p><strong>NOTE: Incoming student must wait until they have been matriculated into their program of study.</strong></p>
        <div class="button-group">
            <p><a href="#" class="button">Application Process</a></p>
            <p><a href="#" class="button ghost">View All Scholarships</a></p>
        </div>
      </div>
      <aside class="cell small-12 medium-4">
        <div class="grid-y align-middle">
        <div class="callout light-beige">
          <h3 class="h4 text-center">Apply Now!</h3>
<div class="lines">
          <ul class="fa-ul">
                <li>
                   <a>
                      <span class="fa-li">
                         <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <strong class="fa-stack-1x fa-inverse">
                              1
                          </strong>
                         </span></span>                     </a>
                      <p>Log on to My Student Center and click the financial aid tile.</p>
                </li>
          </ul></div>
          <div class="lines">
          <ul class="fa-ul">
                <li>
                   <a>
                      <span class="fa-li">
                         <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <strong class="fa-stack-1x fa-inverse">
                              2
                          </strong>
                         </span>
                      </span></a>
                      <p>Click on ‘Scholarship Application’ and select the year you are applying for.</p>
                </li>
          </ul></div>
          <div class="lines">
          <ul class="fa-ul">
                <li>
                   <a>
                      <span class="fa-li">
                         <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <strong class="fa-stack-1x fa-inverse">
                              3
                          </strong>
                         </span>
                      </span></a>
                      <p>Answer the questions and click submit application.</p>

                </li>
          </ul></div> </div></div>
      </aside>
      </div>
</main>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>