{% include "@components/header-prototypes/header-TILT.twig" %}

<section class="hero gradient left grey bleed img-fill">
  <img src="../../images/woman-laptop-landscape.jpg">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-left">
      <div class="small-12 medium-5 cell callout grey">
        <h1>Chemical Intolerance Self Assessment</h1>
        <p class="large">Find out if you are chemically intolerant</p>
      </div>
    </div>
  </div>
</section>
<!--<section class="full hero bleed img-fill extra-roomy">
  <img src="../../images/woman-laptop-landscape.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-right">
        <div class="small-12 large-5 medium-5 cell callout">
            <h1>Chemical Intolerance Self Assessment</h1>
            <p class="large">Find out if you are chemically intolerant</p>

        </div>
    </div>
  </div>
</section>-->

{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<div class="grid-container">
  <section class="grid-x grid-margin-x">
    <main class="cell large-7 medium-7 small-12">
      <div class="callout outline blue">
        <h2 class="color">Take the QEESI Questionnaire</h2>
        <img src="../../images/QEESI.png">
      </div>
    </main>
    <aside class="cell large-5 medium-5 small-12">

      <p>The <strong><a>Chemical Intolerance Self-Evaluation</a></strong> is a complete evaluation form for assessing chemical intolerance and includes the QEESI and a 7-item exposure history. This is designed for patients to bring to their doctors, or for doctors to give to their patients.</p>
      <p>The <strong>Quick Environmental Exposure and Sensitivity Inventory (QEESI)</strong> is a validated questionnaire for chemical intolerance and the most widely used screening instrument available for personal use. Researchers and clinicians around the world use the QEESI to document symptoms and intolerances. People who use the QEESI find it helpful for self-assessment. It’s also a useful tool for you to take to your doctor to explain your exposures and symptoms.</p>
      <p><a href="#" class="file">Downloadable QEESI</a></p>

    </aside>

  </section>
</div>
<section class="bleed light-beige">
  <div class="grid-container">
		<div class="grid-x text-center">
      <h2 class="color h1">Join the research</h2>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-5 large-5 small-12">

        <h3>Future research participation</h3>
        <p>Join as a future research participant. You do not have to be TILTed to join. By studying people with and without TILT we will further understand the underlying biological mechanism responsible for TILT symptoms. If you are interested in participating in a future TILT participant registry please contact us. Share your story and indicate you’d like to join the upcoming registry.</p>
        <p><a class="arrow">Contact us to be a future research participant</a></p>
        <br>
        <h3>Share your results</h3>
        <p>By sharing you’re results with us and donating saliva, we can help you identify your unique genetic susceptibility to various toxins that you come into contact with each day.</p>
        <p><a class="arrow">Contact us to share your results</a></p>
        <br>
        <h3>Environmental House Calls</h3>
        <p>Sharing you’re QEESI results with us can help us identify people who are eligible for a free environmental house call. If you are TILTed you can request joining our research efforts by requesting an environmental house call.</p>
        <p>We have recently completed enrollment for our Environmental House Calls study of 50 individuals with TILT: In this study, measurements of home air quality was assessed and the home was inspected for TILT triggers. Recommendations for better air quality and removal of potential household triggers are given. In follow-up visits we determine if air quality has improved and if triggers were removed. We then determine if there is symptom improvement among the participants. The results of this study are currently being analyzed for publication.</p>


      </div>
      <div class="cell medium-5 large-5 large-offset-2 small-12">

        <h3>Share your story</h3>
        <p>If you are TILTed, we’d like to hear about your experience. Was there a particular environmental exposure that initiated your illness? Would you be interested in joining a TILT participant registry?</p>
        <p><a class="arrow">Share your story</a></p>
        <br>
        <h3>Donate</h3>
        <p>Our research can be advanced through your generous donation. How your donation will help us:</p>
        <div class="indent-list">
          <ul>
            <li>Develop a pipeline of knowledgeable health professionals who recognize and address the complex challenges people with TILT are facing.</li>
            <li>Improve participants’ health by conducting Environmental House Calls to help us identify environmental triggers and recommend ways to reduce exposures.</li>
            <li>Identify medical tests to help diagnose TILT and optimize treatment.</li>
          </ul>
        </div>
        <p><a class="arrow">Donate today</a></p>
      </div>
    </div>
  </div>
</section>


<section class="bleed color dark-grey">
  <div class="grid-container">
    <div class="grid-x grid-margin-x text-center align-center factoids">
      <div class="cell large-6 medium-6 small-12">
        <i class="fas fa-users fa-6x"></i>
        <p class="h2 close">Over 2000</p>
        <p>individuals have taken the QEESI</p>
        <div class="responsive-embed">
          <iframe src="https://www.google.com/maps/d/embed?mid=1PjxFP5atB6v3IndG2z3IfIjMm4PVQmpx&ehbc=2E312F" width="640" height="480"></iframe>
        </div>
      </div>
      <div class="cell large-6 medium-6 small-12">
        <i class="fas fa-globe-europe fa-6x"></i>
        <p class="h2 close">Near a dozen</p>
        <p>countries have researchers using the QEESI for assessing Chemical Intolerance</p>
        <div class="responsive-embed">
          <iframe src="https://www.google.com/maps/d/embed?mid=1kH9Uc3o-gW8SwD4M35pEsUqT-qwXzXJD&ehbc=2E312F" width="640" height="480"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bleed color blue noise pullquote">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-6 large-6">
        <blockquote>
          <p class="large">I had severe muscle pain, night sweats, skin rashes, severe exhaustion. A real brain fog – that was probably the worst symptom for me.</p>
          <cite>Jane Little, BBC Reporter</cite>

        </blockquote>
        <p><a href="#" class="button">More stories</a></p>
      </div>
      <div class="cell small-12 medium-6 large-6">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/x4yKu3aAxro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


{% include "@components/footer-prototypes/TILT-footer.twig" %}