<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">IMS Services</a></li>
                <li><a href="#">Information Security</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>