{% include "@components/header-prototypes/header-research.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">
				<h1>Research Areas</h1>
        <p class="large">UT Health San Antonio’s scientists and clinicians engage in research to understand health and disease and to enhance scientific knowledge that will impact society today and tomorrow.</p>
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-research.twig" %}
<main class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-3 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-cancer.jpg" alt="cancer cells">
        <h2 class="h4">Cancer</h2>
      </a>
      <p>Our cancer research brings treatment and therapy to patients of all ages, battling different forms of cancer.</p>
    </section>
    <section class="cell large-3 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-cardiovascular.jpg" alt="x-ray of heart and cardiovascular system">
        <h2 class="h4">Cardiovascular</h2>
      </a>
      <p>Our cardiovascular research is transforming diagnosis and treatment for patients with heart disease.</p>
    </section>
    <section class="cell large-3 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-diabetes.jpg" alt="red and white blood cells moving inside blood vessel">
        <h2 class="h4">Diabetes & Kidney Health</h2>
      </a>
      <p>Our diabetes, kidney, and metabolic disorders research seeks to discover better health outcomes to address an alarmingly high comorbidity in the South Texas population.</p>
    </section>
    <section class="cell large-3 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-infectious-disease.jpg" alt="virus cells">
        <h2 class="h4">Infectious Disease</h2>
      </a>
      <p>Our research conducted in infectious disease explores the spread of microorganisms such as bacteria and viruses and seeks to find ways of preventing and minimizing the spread of disease.</p>
    </section>
    <section class="cell large-3 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-aging-longevity.jpg" alt="microscopic view of Alzheimer's disease">
        <h2 class="h4">Longevity & Aging</h2>
      </a>
      <p>Our research in longevity and aging explores new ways of improving quality of life and lifespan for those with age-related disease.</p>
    </section>
    <section class="cell large-3 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-military-health.jpg" alt="brain MRI scan">
        <h2 class="h4">Military Health</h2>
      </a>
      <p>Our military health research seeks to combat health issues facing our military today.</p>
    </section>
    <section class="cell large-3 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-neuroscience.jpg" alt="x-ray of the brain and nervous system">
        <h2 class="h4">Neuroscience</h2>
      </a>
      <p>Our research in neuroscience extends from single cell studies to targeting specific neurological diseases, disorders, and trauma.</p>
    </section>
    <section class="cell large-3 medium-6 small-12">
      <a href="#">
        <img src="https://www.uthscsa.edu/sites/default/files/mod-image-groupings/area-regenerative-medicine.jpg" alt="stem cells">
        <h2 class="h4">Regenerative Medicine</h2>
      </a>
      <p>Our research in regenerative medicine ranges from cellular study to engineering new body tissues.</p>
    </section>
  </div>
</main>
{% include "@components/footer-prototypes/research-footer.twig" %}