{% include "@components/header-prototypes/header-ced.twig" %}
<section class="hero full bleed img-fill roomy">
    <img src="../../images/banner-solisherrera.jpg" alt="banner">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-6 large-6 cell callout">
                <h1>About us</h1>
                <p>Lemon drops soufflé carrot cake sugar plum cake brownie bear claw. Cheesecake donut tart toffee halvah chocolate muffin jelly-o. Wafer muffin lemon drops dragée donut candy canes. Jelly brownie lollipop caramels lemon drops. Halvah chupa chups chocolate cake icing toffee sugar plum tiramisu.</p>
                <p><a class="button">Our Team</a></p>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-ced.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
        <div class="cell large-8 medium-8 small-12">
            <p>Sweet roll candy canes chocolate bar apple pie croissant tiramisu carrot cake soufflé. Bonbon sugar plum apple pie tiramisu marzipan cheesecake. Cookie wafer topping toffee danish sweet oat cake cheesecake. Caramels bonbon wafer tootsie roll chupa chups powder gummies sweet oat cake. Donut cake cotton candy cotton candy donut dessert gingerbread lollipop. Gummi bears liquorice carrot cake muffin soufflé jelly-o. Lollipop cheesecake pie bonbon sweet roll chocolate bar brownie cotton candy.</p>
            <p>Dragée tootsie roll cake croissant bear claw cheesecake cotton candy sweet. Cake cupcake jelly caramels marshmallow dragée muffin cake. Chocolate bar gummies bear claw pie apple pie lemon drops wafer brownie. Muffin marzipan bonbon cake sweet apple pie lollipop candy gummies. Chocolate soufflé jelly gummies soufflé. Ice cream chocolate bar jelly cupcake croissant wafer sesame snaps. Chocolate cake tootsie roll tiramisu danish sesame snaps gingerbread lemon drops. Pie dragée sesame snaps muffin ice cream. Jelly beans candy canes cupcake ice cream halvah. Brownie candy canes gummi bears cotton candy powder. Sugar plum jujubes bear claw topping candy pudding wafer. Icing candy canes muffin jelly beans ice cream oat cake gummies wafer. Toffee chupa chups powder topping marshmallow gummi bears icing pudding sweet roll. Biscuit jelly donut marzipan jujubes.</p>
            <p>Caramels gummies cake bear claw powder sesame snaps brownie. Muffin dessert dragée cookie icing wafer cotton candy bonbon pie. Cake pie sesame snaps apple pie cookie macaroon jelly beans halvah brownie. Halvah topping croissant donut tiramisu topping oat cake. Chocolate bar lollipop oat cake danish gummies brownie gummies. Soufflé marshmallow cheesecake oat cake apple pie cheesecake bear claw liquorice fruitcake. Jujubes biscuit cotton candy gummies cake cotton candy wafer. Cupcake shortbread chocolate cake chocolate bar cheesecake oat cake dragée. Shortbread biscuit cotton candy marzipan icing. Muffin pudding cake biscuit donut jujubes brownie. </p>
            
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a class="callout color orange flex-child-auto" href="https://lsom.uthscsa.edu/endocrinology/">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Division of Endocrinology</h4>
            </a>
            <a class="callout color blue flex-child-auto" href="https://uthscsa.edu/physicians/clinics/diabetes">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-briefcase-medical fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Diabetes, Obesity and Metabolic Health Specialty Practice</h4>
            </a>
            

        </div>

    </div>
</section>





{% include "@components/footer-prototypes/ced-footer.twig" %}
