{% include "@components/header v2/header-LSOM.twig" %}
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>Episode 1 - New and Emerging Therapies for COVID-19</h1>
  <p class="subheader">COVID Minutes Podcast</p>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <p><strong>Release Date:</strong>11/8/2020; <strong>Credits Expire:</strong>11/8/2021</p>
      <h2>Overview</h2>
      <p>This podcast discusses new and emerging therapies for COVID-19 to include the efficacy of the antiviral remdesivir and it use in COVID-19 patients as well as other candidate treatments currently being studied for COVID-19 hospitalized patients.   The potential role of monoclonal antibodies in COVID-19 treatment is also discussed.   </p>
      <h3>Target Audience</h3>
      <p>This educational activity is designed to meet the educational goals of physicians and other healthcare professionals specializing in infectious diseases, family and community medicine, internal medicine, emergency medicine, and all those involved with the management of patients with coronavirus.</p>
      <h3>Learning Objective for Episode 1</h3>
      <ol>
        <li>Discuss the efficacy of the antiviral remdesivir and when it should be used in COVID-19 patients</li>
        <li>List other candidate treatments being studied for the treatment of COVID-19 in hospitalized patients</li>
        <li>Describe the potential role of monoclonal antibodies in treating COVID-19</li>
      </ol>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>

      

    </main>
    <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      <iframe data-name="Episode 1 - New and Emerging Therapies for COVID-19" height="122" scrolling="no" src="https://www.podbean.com/media/player/j74vd-f1c39e?from=pb6admin&amp;download=1&amp;version=1&amp;auto=0&amp;share=1&amp;download=1&amp;rtl=0&amp;fonts=Helvetica&amp;skin=1&amp;pfauth=&amp;btn-skin=103" style="border:none;" title="Episode 1 - New and Emerging Therapies for COVID-19" width="100%"></iframe>
      <a class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-podcast fa-stack-1x fa-inverse"></i>
      </a>
      <a class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-spotify fa-stack-1x fa-inverse"></i>
      </a>
      <a class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </a>
      <a class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </a>
      <a class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </a>
    </aside>
  </div>
</div>

{% include "@blocks/footer/LSOM-alamo.twig" %}