{% include "@components/header-prototypes/header-capital.twig" %}
<section class="full hero bleed img-fill roomy">
    <img src="../../images/capital/capital_image_1.jpg" alt="buildings">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1 class="margin-bottom">Welcome to the Capital Project Office</h1>
                <p>The Capital Projects Office serves as UT Health San Antonio's representative on Major Projects.</p>
                <p><a href="#" class="button">Who we are</a></p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-capital.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <p>The Capital Projects Office serves as UTHSCSA’s representative on Major Projects. The University of Texas System Board of Regents has delegated management of major construction to the institution. The institutional president, with advice of the UT System, Executive Vice Chancellor of Health Affairs, is authorized to appoint architects and engineers, and execute contracts for professional services. The institutional president is also authorized to execute construction and related contracts for Major Projects that have been approved for the Definition Phase by the Executive Vice Chancellor for Health Affairs and the Chancellor or authorized by the UT System, Board of Regents in the Capital Improvement Program. Major Projects for new construction and repair and rehabilitation projects are defined in the UT System Regents’ Rules and Regulations as those with a total project cost of $10,000,000 or more.</p>                
            </main>
            <aside class="small-12 medium-4 cell">
                    <a class="callout color orange noise">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Services we provide</h3>
        </a>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-6 large-6">
                <img src="../../images/capital/capital_image_8.jpg">
            </div>
            <div class="cell small-12 medium-6 large-6">
             <h2>Business Opportunities</h2>
             <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="arrow">
                    <ul>
                        <li><a href="#">UT System, Office of Capital Projects: Current Opportunities</a></li>
                        <li><a href="#">UT Health San Antonio Purchasing Department: Competitive Bids </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center padding-bottom">
                <h2>Capital Projects in the News!</h2>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="../../images/capital/capital_image_6.jpg">
                    <div class="card-section">
                        <p>Parkway outpatient and surgery center holds beam-signing ceremony</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="../../images/capital/capital_image_7.jpg">
                    <div class="card-section">
                        <p>Topping out ceremony signals milestone of new hospital</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="../../images/capital/capital_image_6.jpg">
                    <div class="card-section">
                        <p>Parkway outpatient and surgery center holds beam-signing ceremony</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="../../images/capital/capital_image_7.jpg">
                    <div class="card-section">
                        <p>Topping out ceremony signals milestone of new hospital</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}