{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Office of Financial Planning Services</h1>
                <p>The Office of Financial Planning Services is made of two departments: Budget and Financial Planning
                    and
                    Payroll
                    Services</p>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}


<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>Our Mission</h2>
            <p>The mission of the Budget and Financial Planning Office is to support the Health Science Center in
                achieving its mission in teaching, research, patient care and service through the following functions:

            </p>

            <ul class="margin-bottom">
                <li>Development and production of the Annual Operating Budget.</li>
                <li>Development and production of the Legislative Appropriations Request.</li>
                <li>Participate in the strategic planning process on budget-related matters.</li>
                <li>Day-to-day budget maintenance and controls.</li>
                <li>Coordinate budget and financial systems and procedures with the offices of Accounting, Payroll,
                    Human Resources, Information Management, and other applicable departments.</li>
                <li>Production of various financial management reports and impact studies to include fiscal notes and
                    business plans.</li>
                <li>To serve as a financial information resource for various external and governmental offices
                </li>
            </ul>

            <!--<div class="callout contact outline">
                <h2 class="h5">Contact Us</h2>

                <div clas="inline">
                    <ul>
                        <li><strong>Amber Anna Sharp</strong><br>AVP, Financial Planning
                            Svcs<br>210-567-7021<br><a>email@uthscsa.edu</a></li>
                        <li><strong>Imelda Solis</strong><br>Office Manager<br>210-562-6285<br><a>email@uthscsa.edu</a>
                        </li>
                    </ul>
                </div>
            </div>-->

            <div class="callout">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 medium-6">
                        <h3 class="h4">Budget and Financial Planning</h3>
                        <h4 class="h5 ruled">The Capitol</h4>
                        <div class="arrow">
                            <ul>
                                <li><a href="https://www.lbb.texas.gov/">Legislative Budget Board</a></li>
                                <li><a href="https://www.capitol.state.tx.us/">Texas Legislative Online</a></li>
                                <li><a href="https://www.highered.texas.gov/">Texas Higher Education Coordinating
                                        Board</a></li>

                            </ul>
                        </div>

                        <h4 class="h5 ruled">UT System</h4>
                        <div class="arrow">
                            <ul>
                                <li><a href="https://www.utsystem.edu/">UT System Home</a></li>
                                <li><a
                                        href="https://www.utsystem.edu/offices/board-of-regents/regents-rules-and-regulations">Regents'
                                        Rules and Regulations</a></li>
                                <li><a href="https://www.utsystem.edu/offices">UT System Offices</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="cell small-12 medium-6">

                        <h3 class="h4">Payroll</h3>
                        <p>Payroll Services supports UT Health San Antonio's mission in teaching, research, patient care
                            and
                            service through:</p>

                        <ul>
                            <li>Production of monthly, semi-monthly, and other various supplemental payrolls.</li>
                            <li>Timely and accurate deduction, reporting, and remitting of various payroll taxes and
                                benefits
                                programs.</li>
                            <li>Collection, remittance, and reporting of insurance for retired employees. - <a
                                    href="https://www.irs.gov/">IRS</a></li>
                        </ul>
                    </div>
                </div>


            </div>

            <ul class="accordion grey" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Compensation Reports</a>
                    <div class="accordion-content" data-tab-content>
                        <p>House Bill 12 of the 83rd legislative session requires each state agency and institution
                            of
                            higher education receiving a gift, grant, donation, or other consideration from a person
                            designed as <a href="http://www.uthscsa.edu/documents/SAH_2019_salary_supplements.pdf">state
                                employee salary supplements</a> or other purposes to report certain information to
                            the
                            Texas State Auditor's Office as codified in Section 659.021(i) of the Texas Government
                            Code.
                            In addition, information regarding <a
                                href="http://uthscsa.edu/documents/SAH_2019_staff_compensation.pdf">staff
                                compensation</a> and related information per Texas Government Code, Section 659.026
                            must
                            be made available. (.pdf format)</p>

                        <p><a class="file" href="http://uthscsa.edu/reports.shtml">Compensation Reports</a></p>


                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Legislative Appropriation Request</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Requests for state appropriations are contained in the report jointly filed with the
                            Texas
                            Legislative Budget Board and the Governor's Office. (.pdf format)</p>

                        <p><a class="file"
                                href="https://uthealthsa.sharepoint.com/:b:/r/teams/Business-Affairs/FAO/Shared Documents/Financial Reporting/university-of-texas-health-science-center-at-san-antonio-lar-august-2024.pdf?csf=1&web=1&e=c9yFxb">Legislative
                                Appropriation Request</a></p>


                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Operating Budget</a>
                    <div class="accordion-content" data-tab-content>
                        <p>In accordance with Article III, Section 6 of the General Appropriations Act, an itemized
                            budget covering operations for the ensuing fiscal year ending August 31st shall be filed
                            with the Texas Legislative Budget Board, the Governor's Office, the Texas Higher
                            Education
                            Coordinating Board, and the Legislative Reference Library by December 1st.</p>

                        <p><a class="file"
                                href="https://uthealthsa.sharepoint.com/:b:/r/teams/Business-Affairs/FAO/Shared Documents/Financial Reporting/fy-2025-budget-university-of-texas-health-science-center-at-san-antonio.pdf?csf=1&web=1&e=WUGTsw">Operating
                                Budget</a></p>


                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Tobacco Proposed Budget</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Article III, Section 42 of the General Appropriations Act requires state agencies and
                            institutions of higher education that are appropriated Tobacco Settlement Receipts to
                            submit
                            a budget to the Texas Legislative Budget Board and the Governor's Office no later than
                            November 1st of each year. The report shall describe the purposes and amounts for which
                            the
                            funds will be used.</p>

                        <p><a class="file" href="http://uthscsa.edu/documents/SAH_Tob_Bud.pdf">Tobacco Proposed
                                Budget</a></p>


                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Training and Education Report</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Senate Bill 255 of the 85th legislative session requires state agencies and institutions
                            of
                            higher education to submit an annual training and education report to the Texas
                            Legislative
                            Budget Board by August 31st as codified in the Texas Government Code, Section
                            656.047(c).
                        </p>

                        <p><a class="file" href="http://uthscsa.edu/745UTHSCSASB255TrainingReport.pdf">Training and
                                Education Report</a></p>


                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Where the Money Goes</a>
                    <div class="accordion-content" data-tab-content>
                        <p>The 82nd Texas Legislature, Senate Bill 5, Section 1.03 requires that each public
                            institution
                            of higher education posts its "Check Register" of payments on the institution's Internet
                            website, including for each payment from general revenue, or from tuition and fees, the
                        </p>

                        <ul>
                            <li>payment amount</li>
                            <li>date</li>
                            <li>purpose of the payment</li>
                            <li>name of the payee</li>
                        </ul>

                        <p>As an alternative to posting that information on the institutional website, an
                            institution
                            may instead provide an easily noticeable, direct link to similar information on the
                            State
                            Comptroller's website. You may search expenditures of state funds by Texas agency,
                            including
                            the University of Texas Health Science Center at San Antonio, by visiting the Texas
                            Comptroller's <a href="https://www.comptroller.texas.gov/transparency/spending/">Texas
                                Transparency</a> web site. Click on this link and follow the menus provided to
                            search
                            general revenue expenditures of the Health Science Center or any other agency of the
                            State
                            of Texas.</p>

                        <p><a class="file" href="https://www.comptroller.texas.gov/transparency/spending/">Where the
                                Money Goes</a></p>


                    </div>
                </li>
            </ul>


        </main>
        <aside class="cell small-12 medium-4">
            <a class="callout color blue">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Internal Login</h3>
            </a>
            <div class="callout contact outline">
                <h2 class="h5">Contact Us</h2>
                <p><strong>Amber Anna Sharp</strong><br>AVP, Financial Planning
                    Svcs<br>210-567-7021<br><a>sharpa@uthscsa.edu</a></p>
                <p><strong>Imelda Solis</strong><br>Office Manager<br>210-562-6285<br><a>solisi@uthscsa.edu</a></p>
            </div>

        </aside>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-4">
                <h3 class="h4 ruled">AVP, Financial Planning Services</h3>
                <p><a>Amber Sharp</a><br><strong>AVP, Financial Planning Services</strong></p>
                <p><a>Imelda Solis</a><br><strong>Office Manager</strong></p>
            </div>

            <div class="cell small-12 medium-6 large-4">
                <h3 class="h4 ruled">Budget & Financial Planning</h3>
                <p><a>Melissa White</a><br><strong>Director, Budget & Financial Planning</strong></p>
                <p><a>James P Wehe</a><br><strong>Manager, Financial Planning</strong></p>
                <p><a>Patrick X Mariano</a><br><strong>Manager, Financial Planning</strong></p>
            </div>

            <div class="cell small-12 medium-6 large-4">
                <h3 class="h4 ruled">Payroll Services</h3>
                <p><a>Lori Ganci</a><br><strong>Director, Payoll</strong></p>
                <p><a>Sonia Arevalo</a><br><strong>Assistant Director, Payroll</strong></p>
                <p><a>Claudia Guajardo</a><br><strong>Manger, Payroll</strong></p>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/ba-footer.twig" %}