{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Budget and Financial Planning</h1>
                <p>Financial Planning Services is made of two departments: Budget and Financial Planning and Payroll
                    Services</p>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}


<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>Our Mission</h2>
            <p>The mission of the Budget and Financial Planning Office is to support the Health Science Center in
                achieving its mission in teaching, research, patient care and service through the following functions:

            </p>

            <ul class="margin-bottom">
                <li>Development and production of the Annual Operating Budget.</li>
                <li>Development and production of the Legislative Appropriations Request.</li>
                <li>Participate in the strategic planning process on budget-related matters.</li>
                <li>Day-to-day budget maintenance and controls.</li>
                <li>Coordinate budget and financial systems and procedures with the offices of Accounting, Payroll,
                    Human Resources, Information Management, and other applicable departments.</li>
                <li>Production of various financial management reports and impact studies to include fiscal notes and
                    business plans.</li>
                <li>
                    <p>To serve as a financial information resource for various external and governmental
                        offices</p>
                </li>
            </ul>

            <p><a class="button">Contact Us</a></p>



        </main>
        <aside class="cell small-12 medium-4">
            <a class="callout color blue">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Internal Login</h3>
            </a>
            <div class="callout contact outline">
                <h2 class="h5">Contact Us</h2>
                <p><strong>Amber Anna Sharp</strong><br>AVP, Financial Planning
                    Svcs<br>###-###-####<br><a>email@uthscsa.edu</a></p>
                <p><strong>Imelda Solis</strong><br>Office Manager<br>###-###-####<br><a>email@uthscsa.edu</a></p>
            </div>

        </aside>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-3">
                <h3 class="h4 ruled">AVP, Financial Planning Services</h3>
                <p>Amber Sharp<br><strong>AVP, Financial Planning Services</strong></p>
                <p>Imelda Solis<br><strong>Office Manager</strong></p>
            </div>

            <div class="cell small-12 medium-6 large-3">
                <h3 class="h4 ruled">Budget & Financial Planning</h3>
                <p>Melissa White<br><strong>Director, Budget & Financial Planning</strong></p>
            </div>

            <div class="cell small-12 medium-6 large-3">
                <h3 class="h4 ruled">Budget and Compensation</h3>
                <p>Patrick X Mariano<br><strong>Manager, Financial Planning</strong></p>
            </div>

            <div class="cell small-12 medium-6 large-3">
                <h3 class="h4 ruled">Financial Reporting</h3>
                <p>James P Wehe<br><strong>Manager, Financial Planning</strong></p>
            </div>

            <div class="cell small-12 medium-6 large-3">
                <h3 class="h4 ruled">Payroll Services</h3>
                <p>Lori Ganci<br><strong>Director, Payoll</strong></p>
                <p>Sonia Arevalo<br><strong>Assistant Director, Payroll</strong></p>
                <p>Claudia Guajardo<br><strong>Manger, Payroll</strong></p>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/ba-footer.twig" %}