{% include "@components/header-prototypes/header-police.twig" %}
{% include "@components/navigation-prototypes/navbar-police.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-7 small-12">
                <h1>Citations Information</h1>

                <p>The University Police Department is responsible for the handling of all citations and appeals.</p>

                <h2 class="h3 color">Fees & Court Appearances </h2>
                <p>The parking service office assesses a late fee after the first 10 working days of citation issuance,
                    and then every 30 days thereafter. Individuals with outstanding citations are subject to vehicle
                    impoundment until all fees owed are paid in full.</p>

                <p>Once a citation has been issued and placed on a vehicle, the UT Police Department will not remove it.
                </p>

                <p>Parking fees, violation codes and late fee accrual schedules are available on our citation fee list
                    or in the Parking & Traffic Regulation Handbook, housed at the parking service office.</p>

                <p>Court appearance citations constitute a summons to appear in <a
                        href="http://home.bexar.org/jp/">Justice of the Peace Court</a>, Precinct 2,
                    and cannot be paid or appealed online or at the parking office.</p>

                <p>University citations may also be paid online at our <a
                        href="https://hscparking.t2hosted.com/cmn/index.aspx">Parking Office Gateway</a>. Please be sure
                    to have
                    your citation number and license plate number available to use this service.</p>

                <h2 class="h3 color">Appeals</h2>

                <p>Appeals for citations can submitted through our <a
                        href="https://hscparking.t2hosted.com/cmn/index.aspx">Parking Office Gateway</a>. Hard copies
                    can be picked up
                    and submitted at our parking service office and manned entry control stations on campus. Appeals
                    must be submitted to the parking traffic office within 10 calendar days from the date a citation is
                    issued. Below is a brief list of excuses that may not be used for appeals. Additional excuses not
                    mentioned here may also fall under this category.</p>

                <ul>
                    <li>Parked for only a few minutes</li>
                    <li>Referring to the rules as ridiculous</li>
                    <li>Inclement weather</li>
                    <li>Late for class or a meeting</li>
                    <li>Lot full</li>
                    <li>Jaywalking citations</li>
                    <li>No one told me the permit expired</li>
                    <li>No one told me where or how to park</li>
                    <li>Drive occasionally and should not have to purchase a permit or pay any fine</li>
                    <li>Another student, faculty or staff member advised me to park there</li>
                    <li>All meter violations, including "no sign told me to pay"</li>
                    <li>All violations referring to posted signs and/or designation</li>
                    <li>Other improperly parked vehicles do not constitute an excuse for improper parking</li>
                </ul>

                <h2 class="h3 color">Late Fees</h2>

                <p>Late fees are assessed by the <a href="mailto:parking@uthscsa.edu">parking service</a> office 10
                    business days from citation issuance. Additional fees are assessed every 30 days thereafter.
                    Individuals with outstanding citations are subject to vehicle impoundment until all fees owed are
                    paid in full.</p>

            </main>

            <aside class="cell large-4 medium-5 small-12">
                <a class="callout color blue" href="https://hscparking.t2hosted.com/cmn/index.aspx">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-receipt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Pay Citations</h3>
                </a>

                <a class="callout color grey" href="https://book.appointment-plus.com/cthg4slv/#/">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Book Appointment</h3>
                </a>

                <div class="callout contact outline">
                    <h2 class="h5">Contact Us</h2>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">parking@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">210-562-7275</span>
                            </a>
                        </li>
                    </ul>
                    <p>Hours of operation: Monday - Friday, 8am - 5pm</p>
                </div>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}