{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-3.twig" %}
{% include "@components/navigation/navbar.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout color dark-grey">
                <h1>Division of Neonatology</h1>
                <p>We're committed to making lives better by providing excellent high quality care, education, research and community engagement.</p>
                <p><a href="#" class="button ghost">Statement from our Division Chief</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-7 large-7">
                <h2>Our Focus</h2>
                <a>
                    <h3>Fellowship</h3>
                </a>
                <p>
                    Our graduates acquire the skills necessary to practice as both clinical and academic neonatologists.
                    Clinical and laboratory research experience fosters development as physician-scientists, encouraging
                    graduates to carry on future independent research in the area of perinatal medicine.

                </p>
                <a>
                    <h3>Research</h3>
                </a>
                <p>
                    A variety of research facilities are available to faculty and neonatal specialty resident's research
                    project in the Division of Neonatology.

                </p>
                <a>
                    <h3>Our Team</h3>
                </a>
                <p>Meet our multidisciplinary team who is dedicated to providing an excellent experience to every
                    patient and their family.
                </p>
            </main>
            <aside class="cell small-12 medium-5 large-5 align-self-middle">
                <div class="responsive-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/cVsQLlk-T0s"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </aside>
        </div>
    </div>
</section>
<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-5 large-4">
                <img src="https://placedog.net/569/378" alt="adorable pup">
            </div>
            <div class="cell medium-7 large-8">
                <h2>Diversity and Inclusion/ Or other Topics</h2>

                <p>Jujubes cupcake chupa chups. Jujubes pie lollipop chocolate cake candy canes. Jujubes dessert cotton
                    candy muffin apple pie halvah danish. <a>Bear claw tart ice cream</a>. Cheesecake wafer marshmallow
                    cake. Chocolate toffee gummies macaroon sweet icing macaroon sweet icing lollipop. Cookie pudding
                    sesame snaps. Tart pudding gummies donut. cupcake jujubes. roll liquorice sesame snaps apple pie
                    pastry sweet apple pie marzipan. Chocolate biscuit chocolate chocolate cake cupcake pudding sweet
                    apple pie. Oat cake soufflé ice cream jelly chocolate cake fruitcake chocolate cake carrot cake.
                    Gummi bears lollipop gummies</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-2">
                <img src="http://placekitten.com/300/400" alt="kitty">
            </div>
            <div class="cell small-12 medium-5">
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text, and typically
                        distinguished visually using indentation and a different typeface or smaller size quotation.
                        Blockquotes have no margin/padding of their own and should be placed within another element like
                        a bleed.</p>
                    <cite>Obi-Wan Kenobi, Jedi Master</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<section class="bleed dark-beige">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            {% include "@blocks/feeds/news-events-white.twig" %}
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}