{% include "@components/header-prototypes/header-VPResearch.twig" %}
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Facilities & Resources</a></li>
    <li><a href="#">RSU Directory</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Animal Research Compliance Program (ARC)
    </li>
  </ul>
</nav>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 large-8 medium-8">
            <h1>Animal Research Compliance Program (ARC)</h1>
            <h3 class="color">Services</h3>
            <ul>
              <li>Promoting and developing projects from invention disclosures.</li>
              <li>Assessing and developing IP strategies from invention disclosures</li>
              <li>Develop projects based on market driven opportunities for financial gain and/or use.</li>
              <li>Negotiation, execution, and management of agreements that include IP licensing and equity based on invention disclosures</li>
              <li>Develop partnership programs for further IP development and commercialization</li>

            </ul>
            
        </main>

        <aside class="cell small-12 medium-5 large-4">
            <div class="callout outline">
                
                <h3 class="color">Contact</h3>
                <p>Rudy Trevino</p>
                <p>Email: <a>arc@uthscsa.edu</a></p>
                <p>Resource Director: Name</p>
                <p>Website: <a>https://uthscsa.edu/vpr/services/approval/getting-approval-your-animal-study</a></p>
            </div>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}