<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Psychiatric PBRN</a></li>
                <li><a href="#">Residency PBRN</a></li>
                <li><a href="#">Oral Health PBRN</a></li>
                <li><a href="#">Sr. Health Alliance</a></li>
                <li><a href="#">Improvement Science PBRN</a></li>
                <li><a href="#">Resource Center</a></li>
            </ul>
        </div>
    </div>
</nav>



