{% include "@components/header-prototypes/header-UTP.twig" %}
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
    <h1>Eyelid Surgery Gallery</h1>
    <p class="subheader">Before & After Gallery</p>
    <div class="grid-x grid-margin-x">
			<main class="cell large-8 medium-7 small-12">
				<p id="start">
				<p>Sweet cotton candy chocolate bear claw powder powder. Wafer sweet caramels croissant jelly-o halvah cake sesame snaps. Liquorice gummi bears cookie chocolate bar gummies danish muffin caramels. Apple pie donut dessert jelly beans sesame snaps pie tootsie roll. Bonbon gummies donut fruitcake sesame snaps.</p>
				<div class="grid-x grid-margin-x">
					<div class="cell large-6 medium-6 small-12">
						<a class="card cell small-12 medium-4 large-4 light-beige">
							<img src="https://stage.uthscsa.edu/sites/default/files/2018/test-images/demo-eyelid-surgery.jpg">
							<div class="card-section">
								<h4>Case #1</h4>
								<p>Apple pie donut croissant toffee tart shortbread cupcake shortbread sesame snaps. Cotton candy gummi bears biscuit tiramisu gummi bears sesame snaps biscuit pie. Lemon drops icing chupa chups.</p>
							</div>
						</a>
					</div>
					<div class="cell large-6 medium-6 small-12">
						<a class="card cell small-12 medium-4 large-4 light-beige">
							<img src="https://images.midamericaplasticsurgery.com/content/images/eyelid-surgery-14-view-1-detail.jpg">
							<div class="card-section">
								<h4>Case #2</h4>
								<p>Apple pie donut croissant toffee tart shortbread cupcake shortbread sesame snaps. Cotton candy gummi bears biscuit tiramisu gummi bears sesame snaps biscuit pie. Lemon drops icing chupa chups.</p>
							</div>
						</a>
					</div>
					<div class="cell large-6 medium-6 small-12">
						<a class="card cell small-12 medium-4 large-4 light-beige">
							<img src="https://images.midamericaplasticsurgery.com/content/images/eyelid-surgery-14-view-1-detail.jpg">
							<div class="card-section">
								<h4>Case #3</h4>
								<p>Apple pie donut croissant toffee tart shortbread cupcake shortbread sesame snaps. Cotton candy gummi bears biscuit tiramisu gummi bears sesame snaps biscuit pie. Lemon drops icing chupa chups.</p>
							</div>
						</a>
					</div>
					<div class="cell large-6 medium-6 small-12">
						<a class="card cell small-12 medium-4 large-4 light-beige">
							<img src="https://stage.uthscsa.edu/sites/default/files/2018/test-images/demo-eyelid-surgery.jpg">
							<div class="card-section">
								<h4>Case #4</h4>
								<p>Apple pie donut croissant toffee tart shortbread cupcake shortbread sesame snaps. Cotton candy gummi bears biscuit tiramisu gummi bears sesame snaps biscuit pie. Lemon drops icing chupa chups.</p>
							</div>
						</a>
					</div>
					<div class="cell large-6 medium-6 small-12">
						<a class="card cell small-12 medium-4 large-4 light-beige">
							<img src="https://stage.uthscsa.edu/sites/default/files/2018/test-images/demo-eyelid-surgery.jpg">
							<div class="card-section">
								<h4>Case #5</h4>
								<p>Apple pie donut croissant toffee tart shortbread cupcake shortbread sesame snaps. Cotton candy gummi bears biscuit tiramisu gummi bears sesame snaps biscuit pie. Lemon drops icing chupa chups.</p>
							</div>
						</a>
					</div>
					<div class="cell large-6 medium-6 small-12">
						<a class="card cell small-12 medium-4 large-4 light-beige">
							<img src="https://images.midamericaplasticsurgery.com/content/images/eyelid-surgery-14-view-1-detail.jpg">
							<div class="card-section">
								<h4>Case #6</h4>
								<p>Apple pie donut croissant toffee tart shortbread cupcake shortbread sesame snaps. Cotton candy gummi bears biscuit tiramisu gummi bears sesame snaps biscuit pie. Lemon drops icing chupa chups.</p>
							</div>
						</a>
					</div>
				</div>
				<p id="stop">
			</main>
			<aside class="cell large-4 medium-5 small-12" data-sticky-container>
				<div class="sticky" data-sticky data-top-anchor="start:top" data-btm-anchor="stop:bottom">
					<h2>Consultation</h2>
        	<p>Please call 210-450-9950 to schedule a consultation, or <a>make an appointment</a>.</p>
				</div>
			</aside>
    </div>
</div>

{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}