{% include "@components/header-prototypes/header-CHC.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Resources</h1>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-CHC.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <p>Splice the main brace flogging bring a spring upon her cable galleon chantey ballast long boat league
                deadlights pink. Yardarm walk the plank Gold Road splice the main brace avast Jack Ketch hornswaggle
                chase guns brig ahoy. Bowsprit topmast hulk dance the hempen jig keelhaul doubloon fore barkadeer black
                spot Cat o'nine tails.</p>

            <p>Spanish Main splice the main brace pressgang Privateer me jack hempen halter tackle belay loaded to the
                gunwalls. Poop deck league nipperkin Yellow Jack Privateer Nelsons folly grog blossom black jack sloop
                squiffy. Plunder cog Plate Fleet snow Pirate Round coxswain mizzen swing the lead avast jib. </p>


            <ul class="accordion blue" data-accordion data-allow-all-closed="true">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title">Self-Care for Caregivers</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is using .blue</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Managing Emotions</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is using .blue</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Hydration</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is using .blue</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Physical Activity</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is using .blue</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Relaxation</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is using .blue</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Sexual Care</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This is using .blue</p>
                        <p><a class="arrow" href="#">Nowhere to Go</a></p>
                    </div>
                </li>
            </ul>

        </main>
        <aside class="cell small-12 medium-4">
            <div class="callout beige">
                <h2 class="h3">Helpful Links</h2>
                <div class="lines">
                    <ul>
                        <li><a href="#">Ostomy Patients</a></li>
                        <li><a href="#">Alzheimers Patients</a></li>
                        <li><a href="#">Prostate Cancer Patients</a></li>
                        <li><a href="#">Cancer Patients</a></li>
                        <li><a href="#">Caregivers, Friends, and Family of Patients</a></li>

                    </ul>
                </div>
            </div>
            <div class="callout contact outline">
                <h2 class="h5">Contact Us</h2>
                <ul class="fa-ul">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">210-567-0189</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/CHC-footer.twig" %}