<nav class="nav-bar" id="nav-bar-full">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Education & Training</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Keep Up with Us</a></li>
      </ul>
    </div>
  </div>
</nav>