{% include "@components/header-prototypes/header-ola.twig" %}
{% include "@components/navigation-prototypes/navbar-ola.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
        <h1 class="h2">Legal Affairs Services</h1>
            <p>The Office of Legal Affairs (OLA) represents the Institution and provides legal and strategic guidance on a wide range of issues including operations, transactions and litigation management. Typical areas of legal counsel include:</p>
            <ul>
            <li>Legal, Regulatory, Accreditation and Governance Matters</li>
            <li>Employee Matters</li>
            <li>Student Matters</li>
            <li>Clinical and Scope of Practice Matters</li>
            <li>Civil Rights Matters</li>
            <li>Healthcare Transactions, Privacy and Regulatory Counsel</li>
            <li>Entity Formation and Maintenance</li>
            <li>Claims Management and Medical Malpractice Defense</li>
            <li>Ethics and Statutory Conflicts of Interest Matters</li>
            <li>Texas Public Information Act Matters and Requests</li>
            <li>The University of Texas System and The Board of Regents™ Rules, Policies and Procedures</li>
            <li>Policy and Procedure Development</li>
            </ul>
            <p>Requests for Legal Advice and related Communications between the UTHSA's Office of Legal Affairs and its client are generally subject to the attorney-client privilege of confidentiality.</p>
            <p>For a list of FAQs and guidance regarding Senate Bill 17, <a>click here</a>.</p>
            <p>For Legal Advice related to the passage of recent legislation, including SB17, please submit requests to: <a>Team Dynamix</a></p>
            <p>For General Questions, Requests for Contract Review or Claims Verification Inquiries, please submit requests to: <a>ola@uthscsa.edu</a></p>
            <p>For Texas Public Information Act requests, please submit requests to: <a>The Public Records Center</a></p>
        </main>
        <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="membership-button contact-us">
                <div class="grid-x">
                    <a class="callout color orange cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="membership-button">Contact Us</h3>
                    </a>
                    <a class="callout color blue cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-file fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="membership-button">Open Records Request</h3>
                    </a>
                </div>
            </aside>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}