{% include "@components/header-prototypes/header-tobacco.twig" %}
<section class="hero bleed blur img-fill full">
    <img src="../../images/ut-health-science-center-with-sign.jpg" alt="uthscsa altc building">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Tobacco-Free/Eliminating Tobacco Use (ETU)</h1>
                <p>Tobacco-Free UT Health San Antonio wants to support you in your decision to quit smoking. Be sure to check out our information and resources available to faculty, staff, and students.</p>
    <p><a href="#" class="button">Contact Us</a></p>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/ut-health-science-center-with-sign.jpg" alt="uthscsa altc building">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
        <main class="cell small-12 medium-8 large-8">
                <h3>Resources to Help You Quit Tobacco</h3>
                <p>Tobacco-Free UT Health San Antonio wants to support you in your decision to quit smoking. Be sure to check out our information and resources available to faculty, staff, and students.</p>
                <div class="arrow">
                    <ul>
                      <li><a>Quit Help: Get Messages from Quitxt</a></li>
                      <li><a>Quit Help: Counseling</a></li>
                      <li><a>Quit Help: More Resources</a></li>
                      <li><a>Employee Benefits</a></li>
                    </ul>
            </div>
            </main>
            <aside class="cell small-12 medium-4 large-4">
              <a class="callout color orange noise flex-child-auto">
            <h3 class="ruled">Bystander Intervention Scenarios</h3>
        </a>
        <a class="callout color orange noise flex-child-auto">
            <h3 class="ruled">Cessation</h3>
        </a>  
                </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y  align-center">
         <div class="cell small-12 medium-4 large-4 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Report Anonymously</h3>
            </a>
        </div>
        <div class="cell small-12 medium-4 large-4 flex-container">
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-smoking-ban fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Tobacco Free Policy</h3>
            </a>
        </div>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/tobacco-footer.twig" %}