{% include "@components/quicklinks-prototypes/quicklinks-UTD.twig" %}
<header class="title-bar" data-responsive-toggle="header">
    <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
    <button class="menu-icon" type="button" data-toggle="header">Menu</button>
</header>
<header class="off-canvas-content super-hero" id="header" data-off-canvas-content>
    <div class="group">
        <div class="logo">
            <a href="#"><img src="../../images/logo-dental-patient-care.svg" alt="UT Health San Antonio Dentistry"></a>
        </div>

        <div class="right">
            <div class="circle-icons">
                <a href="#">
                    <span class="fa-stack outline">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Patient Portal</span>
                </a>
                <a href="#" data-toggle="offCanvasRight">
                    <span class="fa-stack outline">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>210-450-3700</span>
                </a>
                <a href="#" data-toggle="offCanvasRight">
                    <span class="fa-stack outline">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Search/Quicklinks</span>
                </a>
            </div>
        </div>
    </div>
    <nav class="nav-bar" id="nav-bar-mobile">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Make an Appointment</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Our Dentists</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Payments & Insurance</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>