
{% include "@blocks/header-v2/mission-hero.twig" %}
{% include "@components/navigation/mission-nav.twig" %}

<section class="grid-container">
	<div class="grid-x text-center grid-margin-x margin-bottom">
		<div class="cell small-12">
			<h2 class="close">UTHealthier Tomorrows</h2>
			<h3 class="sans-serif color">Advanced services and technologies for you and your family.
			</h3>
		</div>
	</div>
	<div class="grid-x text-center grid-margin-x">
		<div class="cell small-12 medium-4 large-4">
			<a href="#">
				<span class="fa-stack fa-5x">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
				</span>
				<h3>Find a doctor</h3>
			</a>
			<p>With over 800 providers, we offer the most comprehensive care in South Texas.</p>
		</div>
		<div class="cell small-12 medium-4 large-4">
			<a href="#">
				<span class="fa-stack fa-5x">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fas fa-tooth fa-stack-1x fa-inverse"></i>
				</span>
				<h3>Find dental care</h3>
			</a>

			<p>A wide range of oral health care services is offered, from wisdom teeth and braces to complex
				procedures.</p>
		</div>
		<div class="cell small-12 medium-4 large-4">
			<a href="#">
				<span class="fa-stack fa-5x">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
				</span>
				<h4>Find a location</h4>
			</a>
			<p>Over 1.2 million people are seen at more than 20 locations throughout South Texas.</p>
		</div>
	</div>
</section>

<section class="bleed beige">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<a href="#" class="card postcard cell small-12 medium-6 large-6">
				<img src="https://picsum.photos/534/300">
				<div class="card-section">
					<h2>The latest cancer treatments, here in San Antonio</h2>
					<p>As one of the only NCI-designated cancer treatment centers in Texas, UT Health San Antonio MD Anderson Cancer Center.</p>
				</div>
			</a>
			<a href="#" class="card postcard cell small-12 medium-6 large-6">
				<img src="https://picsum.photos/534/300">
				<div class="card-section">
					<h2>The latest cancer treatments, here in San Antonio</h2>
					<p>As one of the only NCI-designated cancer treatment centers in Texas, UT Health San Antonio MD Anderson Cancer Center.</p>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="bleed color grey">
	<div class="grid-container">
		<div class="grid-x text-center align-center">
			<div class="cells large-4 medium-4 small-12">
				<p class="h2 sans-serif black">1 of 4</p>
				<p>NCI-designated Cancer Centers in Texas</p>
			</div>
			<div class="cells large-4 medium-4 small-12">
				<p class="h2 sans-serif black ">65<p>
				<p>Degree Specialties Offered</p>
			</div>
			<div class="cells large-4 medium-4 small-12">
				<p class="h2 sans-serif black">$186M</p>
				<p>In Annual Research Awards And Sponsored Program Activity</p>
			</div>
		</div>
	</div>
</section>

<section class="bleed light-grey">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell small-12 medium-7 large-6">
				<blockquote>
					<p>A block quotation (also known as a long quotation or extract) is a quotation in a written
						document, that is set off from the main text as a paragraph, or block of text, and typically
						distinguished visually using indentation and a different typeface or smaller size quotation.
						Blockquotes have no margin/padding of their own and should be placed within another element like
						a bleed.</p>
					<cite>Obi-Wan Kenobi, Jedi Master</cite>
				</blockquote>
			</div>
			<div class="cell small-12 medium-3 large-2">
				<img src="http://placekitten.com/300/400" alt="kitty">
			</div>
		</div>
	</div>
</section>

<section class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-x">
        <section class="cell large-7 small-12 align-self-middle">
            <h2>Happening now at UT Health San Antonio</h2>
            <p>Breakthroughs are happening everyday at UT Health San Antonio. Stay informed on the latest news and events. Marketing copy similar to Cancer Center.</p>
            <p><a class="arrow">Newsroom</a></p>
        </section>
        <aside class="cell large-5 small-12">
            {% include "@components/dates/long-event.twig" %}
            <br>
            {% include "@components/dates/long-event.twig" %}
            <br>
            <p><a class="arrow">All events</a></p>
        </aside>
    </div>
</section>

{% include "@blocks/footer/mission.twig" %}