{% include "@components/header-prototypes/header-gccri.twig" %}
<section class="hero bleed blur img-fill full">	
  <img src="../../images/gccri/getinvolved-banner.jpg" alt="Leadership">
<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-7">
				<h1>Get Involved</h1>
				<p>Cancer is the leading cause of death among children in America, making the quest for better treatments and cures critically important. Beyond this urgent need, there are additional compelling reasons to focus our efforts and philanthropic support on advancing research. Pediatric cancers originate in tissues that are more accessible for observation and analysis, offering valuable insights and serving as an excellent model for understanding cancers that affect individuals of all ages.</p>
				<p><a href="#" class="button">Make a donation</a></p>
			</div>
    <div class="cell medium-12 large-5">
  <img src="../../images/gccri/getinvolved-banner.jpg" alt="Leadership">
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-gccri.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell medium-12 large-8 ">
				<h2 class="h4">Becoming Part of the Solution</h2>
				<p>
We believe that achieving a complete molecular understanding of cancer cells is crucial, and this goal is within reach for the first time in history. Recent advances have provided us with a detailed map of the human genome, offering a baseline of “normalcy” against which deviations can be identified. Additionally, technological breakthroughs now enable scientists to explore the intricate structures and processes of tumor cells like never before.</p>

<p>Many of us have witnessed the suffering cancer inflicts on loved ones. If you have sought answers in the past, now is your chance to contribute to finding those answers. By supporting the Greehey Children’s Cancer Research Institute, you can help drive this critical work forward.</p>

<p>Your donation will aid in attracting top scientists, acquiring state-of-the-art equipment, and integrating these resources effectively. Importantly, every dollar of your contribution will go directly to fund research in one of our dedicated labs, ensuring that your support makes a tangible impact on advancing cancer research.</p>

<h3 class="h4">Why Support Research at Greehey Children’s Cancer Research Institute?</h3>

<p>Researchers at Greehey Children’s Cancer Research Institute have pioneered more novel therapies in national trials than any other group in the US. The treatments we have developed have become the standard of care for high-risk solid tumors across the US, Europe, and Asia.</p>

<h4>The Ambassador’s Circle</h4>

<p>The Ambassadors’ Circle at Greehey Children’s Cancer Research Institute consists of distinguished community leaders who are dedicated supporters of one of the nation’s leading children’s cancer research institutes.</p>

<p>Members of the Ambassadors’ Circle serve as advocates and goodwill representatives for the Institute, and they provide essential financial support. Their contributions help fund crucial components of the Institute’s programs, ensuring continued progress in our mission to advance pediatric cancer research.</p>

<h3>Why Support Research at Greehey Children’s Cancer Research Institute?</h3>

<p>Researchers at Greehey Children’s Cancer Research Institute have developed more novel therapies in national trials than any other group in the US. Treatments developed by us are standard of care for high-risk solid tumors across the US, Europe and Asia.</p>

<h3>The Ambassador’s Circle</h3>

<p>The Greehey Children’s Cancer Research Institute Ambassadors’ Circle is a group of outstanding community leaders who are key proponents of one of the nation’s premier children’s cancer research institute.</p>

<p>Members of the Ambassadors’ Circle do what all ambassadors do . . . serve as advocates and goodwill representatives for this prestigious research institute. What is more, they financially support Greehey Children’s Cancer Research Institute, helping ensure that important components of the Institute’s programs are funded.</p>

<h4>Membership Levels</h4>
<ul>
    <li>$125</li>
    <li>$250</li>
    <li>$500</li>
    <li>$1,000</li>
    <li>$5,000</li>
    <li>$10,000</li>
</ul>
<p>Gift is 100% tax-deductible.</p>
<p><a class="arrow">Become a member of the Ambassadors’ Circle</a></p>

			</main>
			<aside class="cell medium-12 large-4 ">  					
				<div class="callout contact outline no-bullet">
					<h2 class="h5">Help us make a difference!</h2>
          <p class="close">If you would like to make a donation or learn of other opportunities to help, please contact:</p>
					<address>
						UT Health San Antonio<br>
						Office of Institutional Advancement<br>
						8403 Floyd Curl Drive, MC 7835<br>
						San Antonio, TX 78229-3900
					</address>
					<ul class="fa-ul">
						<li>
							<a>
								<span class="fa-li">
									<span class="fa-stack">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
									</span>
								</span>
								<span>210-567-9219</span>
							</a>
						</li>
					</ul>
<ul class="fa-ul">
						<li>
							<a>
								<span class="fa-li">
									<span class="fa-stack">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
									</span>
								</span>
								<span>Makelivesbetter@uthscsa.edu</span>
							</a>
						</li>
					</ul>
				</div>
        <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-hand-holding-medical fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Tumor donation</h3>
            <p>Donate your discarded tumor tissue and become a Greehey Children’s Cancer Research Institute Hero</p>
        </a>
			</aside>
		</div>
	</div>
</section>
{% include "@components/footer-prototypes/gccri-footer.twig" %}