{% include "@components/header-prototypes/header-gccri.twig" %}
<section class="hero bleed blur img-fill full">	
    <img src="../../images/gccri/events-banner.jpg" alt="Greehey Building">
<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-7">
				<h1>Upcoming Events</h1>
			</div>
    <div class="cell medium-12 large-5">
    <img src="../../images/gccri/events-banner.jpg" alt="Greehey Building">
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-gccri.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell small-12 medium-8 large-8">
				<div class="grid-x grid-margin-x margin-top">
                <div class="cell small-12 medium-2 large-2">
						<div class="datebox blue">
    <div class="month">nov</div>
    <div class="day">08</div>
</div>
					</div>
					<div class="cell small-12 medium-10 large-10">
						<h2 class="h4"><a>Greehey CCRI Seminar Series: Chad Pecot, MD, PhD (UNC RNA Discovery Center)</a></h2>
						<p> Presentation title “Tackling Cancer’s Greatest Challenges with Next-Generation RNA Therapeutics”</p>
				</div>

          					</div>
				<hr>				
			</main>
		</div>
	</div>

{% include "@components/footer-prototypes/gccri-footer.twig" %}