{% include "@components/header-prototypes/header-tcmhcc.twig" %}
{% include "@components/navigation-prototypes/navbar-tcmhcc.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-7 large-8 cell">

                <h1>Frequently Asked Questions</h1>

                <h2 class="h4 color margin-top">Is parent consent required to participate in YAM?</h2>
                <ul>
                    <li>Whether or not parental consent is required is a campus/district decision.</li>
                    <li>YAM can provide several permission slips formats which include YAM information for parents
                    </li>
                </ul>
                <h2 class="h4 color">Why aren't teachers encouraged to be in the room during YAM?</h2>
                <ul>
                    <li>A key objective of YAM is to provide students with a space, in which facilitator student
                        confidentiality is assured, where they can openly and safely discuss mental health issues. These
                        include topics that some students might not feel comfortable discussing in front of teachers or
                        staff members they interact with daily.</li>
                    <li>o Facilitators will inform the appropriate school personnel if they are concerned, at any time,
                        for a student’s mental health concerns. If there is a student who requires a paraprofessional to
                        be with them during YAM, that is perfectly fine! The YAM instructor will spend a few minutes
                        before the first session begins to let them know what is going on and how to best support the
                        student during YAM.</li>
                </ul>
                <h2 class="h4 color">Can school staff be trained as YAM Instructors?</h2>
                <ul>
                    <li>Absolutely! We welcome and encourage school staff to be trained as helpers and to attend the
                        5-day training held throughout the year in Dallas, Texas to become a certified YAM facilitator.
                    </li>
                    <li>Once trained, school staff will work closely with UT Health YAM staff to obtain materials,
                        complete reports, and receive any support needed.</li>
                </ul>



            </main>

            <aside class="cell small-12 medium-5 large-4">
                <div class="callout outline blue">
                    <h2 class="h4 text-center">Contact Us</h2>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">email@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">###-###-####</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">Facebook Page</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i></span>
                                </span> <span class="">@twitter_handle</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}