{% include "@components/header v2/header.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 small-12">
                <p class="eyebrow">Reaffirmation of Accreditation</p>
                <h1>Southern Association of Colleges and Schools Commission on Colleges</h1>

                <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone
                    mizzenmast
                    quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey
                    doubloon
                    starboard grog black jack gangway rutters.</p>

            </div>

            <div class="cell small-12 medium-5">
                <img src="../../images/Epic Banner.png" alt="adorable pup">

            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-sacs.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color orange flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file-signature fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Signature Page</h3>
                    <p>CEO and Accreditation Liaison’s attestation to compliance with SACSCOC’s Principles of
                        Accreditation</p>
                </a>
            </div>
            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color orange flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Substantive Changes</h3>
                    <p>Inventory of substantive changes approved since the university’s last reaffirmation review</p>
                </a>
            </div>
            <div class="cell small-12 medium-4 flex-container">
                <a class="callout color orange flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Reaffirmation of Accreditation</h3>
                    <p>Institutional assessment of compliance for each core requirement, comprehensive standard, and
                        federal requirement</p>
                </a>
            </div>
        </div>
    </div>
</section>




<section class="bleed light-beige roomy rocky">
    <div class="grid-container img-bleed-left">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-6 large-4 small-order-2 large-order-1">
                <img src="../../images/henrichwilliam.jpg" alt="president henrich william">
            </div>
            <div class="cell medium-6 large-8 small-order-1 large-order-2">
                <h2>President's Message</h2>
                <blockquote>
                    <p>Welcome to the Compliance Certification for the Southern Association of Colleges and Schools
                        Commission on Colleges (SACSCOC) reaffirmation of accreditation for The University of Texas
                        Health Science Center at San Antonio, now called UT Health San Antonio.</p>

                    <p>From our earliest days almost 60 years ago, our proud health science center has evolved into
                        serving as San Antonio’s chief catalyst for its $37 billion biosciences and health care
                        industry. As we remain deeply committed to core values that include accountability, diversity,
                        excellence, innovation and integrity, we hold in our sights a vision to be a world-class
                        academic health center that transforms health and health care for a diverse society.</p>

                    <p>As one of 14 University of Texas System institutions, we graduate more than 200 physicians, 400
                        nurses, 100 dentists, 300 health professionals in other fields and 100 scientists each year.
                        From notable research findings published in leading journals around the world, to our
                        revolutionary advancements in cardiovascular technology and cancer treatment, our faculty
                        experts pursue powerful scientific solutions for society.</p>

                    <p>As we work to advance our missions – education, research, clinical care and community engagement
                        -- we stand deeply committed to the SACSCOC accreditation process and to continuously enhancing
                        the education of our students through dedicated emphasis placed on innovative instruction,
                        trailblazing technology, Interprofessional collaboration and critical student support services.
                        This reaffirmation process has provided us the platform from which to re-examine our curriculum
                        and co-curricular activities, as well as administrative processes and procedures, as we refine
                        our journey of continuous improvement in all areas.</p>

                    <p>Our faculty, staff, students and residents contribute daily, without reservation, their
                        multifaceted talents, exemplary minds and unrelenting commitment to expanding the discovery of
                        all that can be known -- in order to make lives better. We are most grateful to the Commission
                        for its partnership with us in this passion to change the world through renewed hope and
                        improved health for years to come.</p>
                    <cite><a href="https://www.uthscsa.edu/university/office-president/presidents-biography">President
                            William L. Henrich, MD, MACP</a></cite>
                    <img src="../../images/president_signature.png" alt="President's Signature">

                </blockquote>
            </div>
        </div>
    </div>
</section>


{% include "@blocks/footer/no-alamo.twig" %}