<nav class="nav-bar" id="nav-bar-full">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="../../opa-home.html">Home</a></li>
        <li><a href="../../postdoc-positions.html">Postdoctoral Positions</a></li>
        <li><a href="../../current-postdocs.html">Current Postdocs</a></li>
        <li><a href="../../opa-faculty-admin.html">Faculty Mentors & Admin</a></li>
      </ul>
    </div>
  </div>
</nav>