<nav class="nav-bar" id="nav-bar-full">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/patterns/prototypes-OPA-opa-home/prototypes-OPA-opa-home.rendered.html">Home</a></li>
        <li><a href="/patterns/prototypes-OPA-prospectives/prototypes-OPA-prospectives.rendered.html">Prospective Postdocs</a></li>
        <li><a href="/patterns/prototypes-OPA-current-postdocs/prototypes-OPA-current-postdocs.rendered.html">Current Postdocs</a></li>
        <li><a href="/patterns/prototypes-OPA-opa-faculty/prototypes-OPA-opa-faculty.rendered.html">Faculty Mentors</a></li>
        <li><a href="/patterns/prototypes-OPA-opa-admin/prototypes-OPA-opa-admin.rendered.html">Admin Resources</a></li>
      </ul>
    </div>
  </div>
</nav>