{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>Our Work</h1>
                <p class="large">Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
                <div class="button-group">
                    <p><a class="button">Research</a></p>
                    <p><a class="button ghost">Publications</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x text-center align-center margin-bottom">
        <div class="cells large-10 medium-10 small-12">
			<p>Marzipan oat cake lemon drops brownie jelly-o jelly beans. Pie fruitcake tootsie roll cheesecake powder jelly caramels pastry dragée. Dragée brownie liquorice cake dragée. Carrot cake liquorice biscuit gingerbread cake cupcake cake. Muffin gingerbread biscuit gummies cupcake. Cheesecake sugar plum sweet chocolate bar muffin muffin. <a class="arrow">View full report</a></p>
            <br>
            <br>
		</div>
		<div class="grid-x text-center align-center grid-margin-x factoids">
			<div class="cells large-3 medium-3 small-12">
				<p><i class="fas fa-hand-holding-medical fa-5x "></i></p>
				<p class="h2">4,600+</p>
				<p>Optional description pertaining to the number</p>
			</div>
			<div class="cells large-3 medium-3 small-12">
				<p><i class="fas fa-syringe fa-5x "></i></p> 
				<p class="h2">Top 13%</p> 
				<p> Optional description pertaining to the number</p>
			</div>
			<div class="cells large-3 medium-3 small-12">
				<p><i class="fas fa-band-aid fa-5x "></i></p>
				<p class="h2">$5.7 M</p> 
				<p>Optional description pertaining to the number</p>
			</div>
			<div class="cells large-3 medium-3 small-12">
				<p><i class="fas fa-virus fa-5x "></i></p>
				<p class="h2">670</p> 
				<p>Optional description pertaining to the number</p>
			</div>
           
		</div>
	</div>
</section>

<section class="bleed beige roomy">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell large-10 medium-10 small-12">
                <h2>Optional Heading</h2>
                <br>
            </div>
        </div>
         <div class="grid-x grid-margin-x text-center">
            <div class="cell small-12 medium-6 large-4 margin-bottom">
                <a href="https://bewelltexas.org/">
                    <img src="https://placedog.net/450" alt="">
                    <h3>Provider Network</h3>
                    
                </a>
                    
            </div>
            <div class="cell small-12 medium-6 large-4 margin-bottom">
                <a href="https://bewelltexasclinic.org/">
                    <img src="https://placedog.net/450" alt="">
                    <h3>Be Well Clinic</h3>
                </a>
            </div>
            <div class="cell small-12 medium-6 large-4 margin-bottom">
                <a href="https://c-stat.uthscsa.edu/">
                    <img src="https://placedog.net/450" alt="">
                    <h3>C-STAT</h3>
                </a>
            </div>
            <div class="cell small-12 medium-6 large-4 margin-bottom">
                <a href="https://txsus.org/">
                    <img src="https://placedog.net/450" alt="">
                    <h3>TxSUS</h3>
                </a>
            </div>
            <div class="cell small-12 medium-6 large-4 margin-bottom">
                <a href="https://naloxonetexas.com/">
                    
                    <img src="https://placedog.net/450" alt="">
                    <h3>Public Health</h3>
                </a>
            </div>
            <div class="cell small-12 medium-6 large-4 margin-bottom">
                <a>
                    <img src="https://placedog.net/450" alt="">
                    <h3>Health Communications</h3>
                </a>
            </div>
            <div class="cell small-12 medium-6 large-4 margin-bottom">
                <a href="https://recoverytexas.org/">
                    <img src="https://placedog.net/450" alt="">
                    <h3>Recovery TX</h3>
                </a>
            </div>
        </div>
    </div>
</section>


{% include "@components/footer-prototypes/bewell-footer.twig" %}
