
{% include "@components/header-prototypes/header-UTP.twig" %}

<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout grey">
                <h1>Everything It Takes</h1>
                <p>We bring lifesaving primary care close to home.</p>
                <p><strong>In-person and video appointments are available day and evening, Monday through Saturday.</p></strong>
                <p>UT Health De Zavala is now accepting new patients.</p>
                <a href="#" class="button">Schedule an appointment</a>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
<div class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-8">
                <h2>Compassionate care that's safe and convenient.</h2>
                    <p>We're here to be your medical home - full of trusted, experienced primary care providers who focus on internal medicine, family medicine, geriatric care and pediatrics at locations throughout San Antonio and the Hill Country. Our team is formally recognized for the way we care for our patients and for being their direct connection to San Antonio's most experienced doctors in every medical specialty. We look forward to caring for you, too.</p>
                    <p>Our focus is providing proactive, compassionate care through a team of professionals who deliver personalized treatments designed to keep you as healthy as possible.</p>
                <p><strong>We have locations close by with in-person and virtual appointments available Monday - Saturday. Find a provider convenient for you.</strong>
                
                <p><a href="#" class="arrow">Learn more about our primary care services</a></p>


                <h3>First time with us?</h3>
                <p>We look forward to keeping you healthy. To prepare for your visit, please print, complete and bring your New Patient Registration Packet.</p>
                <div class="arrow">
                <ul>
                <li><a>New Patient Registration Packet</a></li>
                <li><a>Información de Paciente Nuevo</a></li>
                </ul></div>
                <p>We accept most major insurance health plans and Medicare.</p>
            </main>
            <aside class="cell small-12 medium-4">
                <div class="callout outline cyan margin-bottom">
                    <h2 class="h3">Featured services</h2>
                    <div class="lines">
                        <ul>
                            <li>Annual Physicals</li>
                            <li>Behavioral Health</li>
                            <li>Management of Multiple Chronic Conditions</li>
                            <li>Medication Management</li>
                            <li>Geriatrics and Palliative Care</li>
                            <li>Tobacco Cessation Program</li>
                            <li>Vaccinations and Immunizations</li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<section class="bleed light-beige">
    <div class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell large-6 medium-6 small-12">
			<img src="../../images/UTP-Map.png">
		</div>

		<div class="cell large-6 medium-6 small-12">
			<h2>Primary Care Locations</h2>
			<div class="columns">
				<address>
					<a><strong>Spring 2024 - UT Health at Kyle Seale Parkway</strong></a><br>
					7946 North Loop 1604 West<br>
					San Antonio , TX 78249<br>
				</address>
        <address>
					<a><strong>UT Health De Zavala</strong></a><br>
					4306 De Zavala Rd.<br>
					San Antonio , TX 78230<br>
					Phone: 210-450-6720
				</address>

        <address>
					<a><strong>UT Health Medical Arts & Research Center</strong></a><br>
					8300 Floyd Curl Drive<br>
					San Antonio , TX 78229<br>
					Phone: 210-450-9100
				</address>

        <address>
					<a><strong>UT Health Medical Drive</strong></a><br>
					3939 Medical Drive, Suite 100<br>
					San Antonio , TX 78229<br>
					Phone: 210-450-6120
				</address>

        <address>
					<a><strong>UT Health Westover Hills</strong></a><br>
					11212 Hwy 151, Plaza 1, Suite 100<br>
					San Antonio , TX 78251<br>
					Phone: 210-450-9900
				</address>

				<address>
					<a><strong>UT Health Geriatrics & Palliative Care</strong></a><br>
					2833 Babcock Rd<br>
					San Antonio , TX 78229<br>
					Phone: 210-450-9890
				</address>
        
        <address>
					<a><strong>UT Health Hill Country</strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>

        <address>
					<a><strong>UT Health Shavano</strong></a><br>
					14530 NW Military Highway<br>
					San Antonio , TX 78231<br>
					Phone: 210-450-6620
				</address>

        <address>
					<a><strong>UT Health Verde Hills</strong></a><br>
					10350 Bandera Road<br>
					San Antonio , TX 78250<br>
					Phone: 210-450-6530
				</address>
			</div>
		</div>
	</div>
</div>
</section>

<section class="bleed color">
    <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
            <div class="cell small-10">
                <h2 class="text-center">Featured primary care providers</h2>
                <p class="text-center">With more than 50 primary care providers at seven locations, you'll find the perfect fit for you and your family.</p>
                <div class="button-group align-center">
    </div></p>
            </div>
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="../../images/williams_headshot.jpg" alt="Dr. Williams">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Cassandra Olson Williams</h3>
                        <p><strong>Locations</strong><br>
                        <a>Primary Care - UT Health DeZavala</a></p>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="../../images/perez.jpg">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Mayra Perez</h3>
                        <p><strong>Locations</strong><br>
                        <a>Primary Care - Hill Country</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <p><a href="#" class="button">Find a Primary Care Provider</a></p></div>
    </div>
    
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4 large-4">
                      <h3>NCQA designation</h3>
                      <p>We are a NCQA-recognized Patient-Centered Medical Home, which is more assurance that you have made the right decision by choosing UT Health Physicians.</p>
                      <p><a href="#" class="coward">More about our NCQA designation</a></p>
                    </div>
            <div class="cell small-12 medium-2 large-2">
                        <img src="../../images/ncqa-seal.png">
                    </div>
                    <div class="cell small-12 medium-4 large-4">
                      <h3>Target: BP Gold+ recognition</h3>
                      <p>The American Heart Association® and the American Medical Association has awarded us with <a class="coward">Target: BP Gold+</a> recognition for improving patients' blood pressure and helping decrease their risk of heart attack and stroke.</p>
                    </div>
            <div class="cell small-12 medium-2 large-2">
                        <img src="../../images/target_bp_gold_seal.png">
                    </div>
                </div>
            </div>
</section>

{% include "@blocks/footer/UTP-no-alamo.twig" %}