{% include "@components/header-prototypes/header-SHP.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-6 small-12">
                <h1>Department of Health Sciences</h1>

                <p>The department is comprised of four programs — Respiratory Care, Medical Laboratory Sciences, Medical
                    Sciences, and a Doctor of Philosophy in Health Sciences (Ph.D.). We provide students with intensive,
                    hands-on clinical experience that prepares them to be outstanding practitioners and leaders in
                    providing quality health care.
                </p>
            </div>
            <div class="cell large-5 medium-6 small-12">
                <img src="../../images/shp-give.jpg" alt="SCIENCE">
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-SHP.twig" %}

<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="#">About</a></li>
        <li>
            <span class="show-for-sr">Current: </span> Department of Health Sciences
        </li>
    </ul>
</nav>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">
                <p class="eyebrow">Department & Divisions</p>
                <h2 class="h4">Health Sciences</h2>
                <p>Master's degree programs in medical laboratory sciences and respiratory care are available to
                    students who have no prior health care experience, but are interested in becoming health care
                    professionals. Our respiratory care program has been recognized for being among the top 10 percent
                    of respiratory care programs in the country. The medical laboratory sciences program has ranked
                    among the top 15 in the country including national rankings for research productivity by the Journal
                    of Clinical Laboratory Science.</p>
            </div>
            <div class="cell small-12 medium-4 large-4">
                <ul class="vertical menu accordion-menu" data-accordion-menu="ach8iu-accordion-menu" id="subnav"
                    role="tree" aria-multiselectable="true">
                    <li role="treeitem"><a href="#" role="menuitem">Programs</a></li>
                    <li role="treeitem"><a href="#" role="menuitem">Faculty</a></li>
                    <li role="treeitem" class="is-accordion-submenu-parent" aria-controls="fyklnv-acc-menu"
                        aria-expanded="false" id="ev66lk-acc-menu-link"><a href="#" role="menuitem">Divisions</a>
                        <ul class="nested vertical menu submenu is-accordion-submenu" data-submenu="" role="group"
                            style="display: none;" aria-labelledby="ev66lk-acc-menu-link" aria-hidden="true"
                            id="fyklnv-acc-menu">
                            <li role="treeitem" class="is-submenu-item is-accordion-submenu-item"><a href="#"
                                    role="menuitem">Medical Sciences</a></li>
                            <li role="treeitem" class="is-submenu-item is-accordion-submenu-item"><a href="#"
                                    role="menuitem">Medical Laboratory Sciences</a></li>
                            <li role="treeitem" class="is-submenu-item is-accordion-submenu-item"><a href="#"
                                    role="menuitem">Respiratory Care</a></li>
                        </ul>
                    </li>
                    <li role="treeitem" class="is-accordion-submenu-parent" aria-controls="2hxbvy-acc-menu"
                        aria-expanded="false" id="2gmums-acc-menu-link"><a href="#" role="menuitem">Accredidation</a>
                        <ul class="nested vertical menu submenu is-accordion-submenu" data-submenu="" role="group"
                            style="display: none;" aria-labelledby="2gmums-acc-menu-link" aria-hidden="true"
                            id="2hxbvy-acc-menu">
                            <li role="treeitem" class="is-submenu-item is-accordion-submenu-item"><a href="#"
                                    role="menuitem">Medical Laboratory Sciences</a></li>
                            <li role="treeitem" class="is-submenu-item is-accordion-submenu-item"><a href="#"
                                    role="menuitem">Respiratory Care</a></li>
                        </ul>
                    </li>
                    <li role="treeitem"><a href="#" role="menuitem">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container ">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-12 large-12 text-center">
                <h2 class="margin-bottom">
                    Department Events
                </h2>
                <div class="grid-x grid-margin-x text-left margin-bottom">
                    <div class="cell small-12 medium-6 large-4 margin-bottom">
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-4 medium-4 large-4">
                                <a href="#">
                                    <div class="datebox">
                                        <div class="month">jan</div>
                                        <div class="day">10</div>
                                    </div>
                                </a>
                            </div>
                            <div class="cell small-8 medium-8 large-8">
                                <p><a>Event 1</a></p>
                                <p>Tuesday, November 17, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell small-12 medium-6 large-4 margin-bottom">
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-4 medium-4 large-4">
                                <a href="#">
                                    <div class="datebox">
                                        <div class="month">jan</div>
                                        <div class="day">10</div>
                                    </div>
                                </a>
                            </div>
                            <div class="cell small-8 medium-8 large-8">
                                <p><a>Event 2</a></p>
                                <p>Tuesday, November 17, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell small-12 medium-6 large-4 margin-bottom">
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-4 medium-4 large-4">
                                <a href="#">
                                    <div class="datebox">
                                        <div class="month">jan</div>
                                        <div class="day">10</div>
                                    </div>
                                </a>
                            </div>
                            <div class="cell small-8 medium-8 large-8">
                                <p><a>Event 3</a></p>
                                <p>Tuesday, November 17, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p><a href="#" class="button">View all department events</a></p>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}