{% include "@components/header-prototypes/header-nathan-shock.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>About Us</h1>

                <p>Fostering geroscience by delineating the biology of aging to identify novel means to target this
                    process to improve aging health. </p>

                <p><a href="#" class="button">Publications</a></p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-nathan-shock.twig" %}
<main>
    <section class="bleed">
        <div class="grid-container roomy">
            <div class="grid-x grid-margin-x">

                <main class="small-12 medium-7 large-8 cell">
                    <p>Founded in 1995, the San Antonio Nathan Shock Center has continually evolved and stayed at the
                        forefront of aging research to support projects, training, and development for investigators
                        interested in understanding more about geroscience. Our center leverages intellectual and
                        capital resources designed specifically to support research in geroscience and development of
                        translational approaches to improve aging health.</p>

                    <p>Through our six research cores, we coordinate to achieve the following:</p>

                    <ol>
                        <li>To provide national leadership in research strategies that advance our understanding of
                            aging biology.</li>
                        <li>To accelerate transformative research and develop novel interventions to improve aging
                            health.</li>
                        <li>To foster and promote career development of investigators in aging biology.</li>
                        <li>To serve as a resource and partner to investigators of other Shock Centers, institutions,
                            and the public, for dissemination of scientific knowledge and enhancing awareness about
                            aging research.</li>
                    </ol>

                    <p>Our Shock Center has a long-standing history of fostering rigorous aging research and features
                        exceptional and tightly integrated resources in geroscience pursuing translational opportunities
                        to improve aging health.
                    </p>

                </main>
                <aside class="small-12 medium-5 large-4 cell">
                    <a class="callout color orange">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Our Institutional Partners</h3>
                    </a>
                    <img src="../../images/nathan-shock/about.png" alt="adorable pup">

                </aside>
            </div>
        </div>
    </section>
</main>
{% include "@components/footer-prototypes/nathan-shock-footer.twig" %}