{% include "@components/header-prototypes/header-research.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">
				<h1>Research That Makes Lives Better</h1>
        <p class="large">Our approach to research takes discoveries beyond the laboratory and to the patient bedside where evidence-based practice benefits patients today and in the future.</p>
        <div class="button-group">
				  <p><a href="#" class="button">Research excellence and impact</a></p>
          <p><a href="#" class="button ghost">Our stories</a></p>
        </div>
			</div>
      <div class="cell large-5 medium-5 small-12">
        <img src="https://www.uthscsa.edu/sites/default/files/about-sm-banner.jpg" alt="">
      </div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-research.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 large-centered medium-10 medium-centered small-12 text-center">
      <h2>Research Excellence</h2>
      <p>UT Health San Antonio is the premier academic health institution of the seventh-largest city in the country. The interdisciplinary basic and clinical research across the institution's six schools (Medicine, Dentistry, Nursing, Health Professions, Public Health and Graduate) placed San Antonio among the top 3 Texas cities for funding from the National Institutes of Health in FY20.</p>
    </div>
  </div>
</section>

<section class="bleed color dark-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-5 large-4 flex-container flex-dir-column">
        <div class="callout white flex-child-auto">
          <h2>Administration</h2>
          <div class="arrow decoration loose-list">
            <ul>
              <li><a href="https://directory.uthscsa.edu/academics/profile/potterjs">Vice President for Research Jennifer Sharpe Potter, PhD, MPH</a></li>
              <li><a href="https://www.uthscsa.edu/vpr/leadership">VPR Leadership</a></li>
              <li><a href="https://www.uthscsa.edu/vpr/directory">Research directory</a></li>
            </ul>
          </div>
          <h2>Contact Us</h2>
          <address>
            7703 Floyd Curl Drive<br>
            San Antonio, TX 78229<br>
            <a href="tel:210-567-7028">210-567-7028</a>
          </address>
        </div>
      </div>
      <div class="cell small-12 medium-7 large-8 flex-container flex-dir-column">
        <div class="callout white flex-child-auto">
          <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-order-2 small-12 medium-12 large-5">
              <figure>
                <img src="https://www.uthscsa.edu/sites/default/files/2018/jennifer_potter_007a_1.jpg" alt="Jennifer Sharpe Potter, PhD, MPH">
                <figcaption>Jennifer Sharpe Potter, PhD, MPH</figcaption>
              </figure>
            </div>
            <div class="cell small-order-1 small-12 medium-12 large-7">
              <blockquote>
                <p>"The biomedical research enterprise in San Antonio represents one-third of the city’s gross domestic product. These are exciting times to be part of this strong sector in South Texas, and UT Health San Antonio is leading the way through forward-thinking research approaches, partnerships with industry and community engagement to advance biomedicine and address health challenges."</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bleed color orange">
  <div class="grid-container">
    <div class="grid-x align-center-middle">
      <div class="cell large-10 medium-10 small-10 text-center">
        <h2>Making a Difference Through Research</h2>
      </div>
    </div>
    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-heartbeat fa-5x"></i></p>
        <h3 class="h5">Bioscience Sector Catalyst</h3>
        <p>UT Health San Antonio is the chief catalyst for the $42.4 billion health care and biosciences sector of the San Antonio economy.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-bed fa-5x"></i></p>
         <h3 class="h5">Bench to Bedside</h3>
        <p>Our research translates from the laboratory bench to the patient bedside at our UT Health San Antonio clinical practices where faculty offer clinical treatment based on the latest research findings.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-users fa-5x"></i></p>
         <h3 class="h5">Improving Public Health</h3>
        <p>A $22.7 million Clinical and Translational Science Award was given to UT Health San Antonio to improve the health status of communities by accelerating scientific discoveries and public health applications.</p>
      </div>
      
    </div>
  </div>
</section>

<section class="grid-container text-center">
  <div class="grid-x align-center-middle">
    <div class="cell large-10 medium-10 small-10">
      <h2>In the Community</h2>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="cell large-6 medium-6 small-12">
      <a href="http://uthscsa.edu/outreach/">
        <img src="https://www.uthscsa.edu/sites/default/files/about-recruitment-science-outreach.jpg" class="img-margin" alt="">
        <h3>Recruitment & Science Outreach</h3>
      </a>
      <p>UT Health San Antonio is committed to grooming the next generation of experts in biomedicine. Our outreach programs offer students from grade school through undergraduate level, opportunities to gain exposure and experience in science and health careers.</p>
    </div>
    <div class="cell large-6 medium-6 small-12">
      <a href="">
        <img src="https://www.uthscsa.edu/sites/default/files/images/about-health-services-research.jpg" class="img-margin" alt="">
        <h3>Health Services Research</h3>
      </a>
      <p>Our health services research utilizes a network of relationships to deliver the latest research findings to care providers and work with partners to promote health education in the communities we serve.</p>
    </div>
  </div>
</section>
<section class="bleed color dark-grey">
	<div class="grid-container img-bleed-right">
		<div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-6 large-6 text-center">
				<h2 class="h4 ruled">Innovation in Recent Years</h2>
				<div class="factoids">
          <p class="h5 close sans-serif black">122</p>
          <p>Patents issued</p>
          <p class="h5 close sans-serif black">540</p>
          <p>Invention disclosures</p>
          <p class="h5 close sans-serif black">122</p>
          <p>Start-up companies formed</p>
          <p><a class="button" href="http://otc.uthscsa.edu/portfolio-of-startups">See our portfolio of start-ups</a></p>
        </div>
			</div>
			<div class="cell medium-6 large-6">  
				<img src="https://www.uthscsa.edu/sites/default/files/2018/uths0190.jpg" alt="">
			</div>
		</div>
	</div>
</section> 
{% include "@components/footer-prototypes/research-footer.twig" %}