{% include "@components/header-prototypes/header-COI.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">

        <h1>Conflict of Interest</h1>
        <p>Topping pastry croissant toffee bonbon. Lollipop sweet roll sweet candy chocolate cheesecake sesame snaps. Icing donut dragée apple pie wafer tiramisu jelly jujubes candy canes. Lollipop muffin danish fruitcake tart.</p>
        <div class="button-group">
          <p><a class="button">Make A Disclosure</a></p>
          <p><a class="button ghost">Frequently Asked Questions</a></p>
        </div>
			</div>
      <div class="cell large-5 medium-5 small-12">
        <img src="https://placekitten.com/500/300">
      </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-COI.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12">
      <p>Sweet carrot cake sweet jelly-o icing halvah donut chocolate. Sugar plum bear claw topping dessert bonbon marzipan caramels jelly beans toffee. Marshmallow tiramisu carrot cake sweet sugar plum. Cake gingerbread fruitcake gummies brownie lemon drops. Gummies wafer pie candy canes cake chocolate cake marshmallow sugar plum. Carrot cake tiramisu cookie apple pie liquorice topping danish cookie biscuit. Pastry brownie shortbread jelly brownie tiramisu bonbon chocolate jelly. Marshmallow bear claw fruitcake icing caramels soufflé lemon drops cake. Cake apple pie cupcake tiramisu ice cream. Wafer sesame snaps bear claw danish soufflé.</p>
      <p>Danish icing toffee lemon drops sugar plum brownie. Oat cake chocolate marzipan liquorice lemon drops carrot cake muffin icing gummies. Carrot cake apple pie sesame snaps jelly beans sweet roll pie carrot cake. Marshmallow halvah toffee icing gummi bears. Wafer sugar plum chocolate cake bonbon pie lollipop candy bear claw. Caramels sesame snaps cake dragée jujubes lemon drops.</p>
      <p>Pie chocolate bar gingerbread sugar plum topping donut macaroon. Soufflé sweet chocolate cake tootsie roll cake. Toffee cake gummies sesame snaps jelly chocolate cake tiramisu chocolate cake. Carrot cake sesame snaps chocolate cake fruitcake lollipop cake dessert chocolate cake. Toffee lemon drops wafer pie fruitcake liquorice toffee dessert.</p>
      <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-6 small-12 flex-container">
          <a class="callout color blue flex-child-auto">
            <h2 class="h4 ruled">Institution & Business</h2>
            <p>Tart tootsie roll chupa chups sweet bear claw</p>
          </a>
        </div>
        <div class="cell large-4 medium-6 small-12 flex-container">
          <a class="callout color blue flex-child-auto">
            <h2 class="h4 ruled">Clinicians</h2>
            <p>Brownie liquorice powder gummies chupa chups tart biscuit bear claw brownie</p>
          </a>
        </div>
        <div class="cell large-4 medium-6 small-12 flex-container">
          <a class="callout color blue flex-child-auto">
            <h2 class="h4 ruled">Researchers</h2>
            <p>weet carrot cake sweet jelly-o icing halvah donut chocolate</p>
          </a>
        </div>
        <div class="cell large-4 medium-6 small-12 flex-container">
          <a class="callout color blue flex-child-auto">
            <h2 class="h4 ruled">Assessment of Disclosed Activities</h2>
            <p>Cake gingerbread fruitcake gummies brownie lemon drops. Gummies wafer pie candy canes cake chocolate cake marshmallow sugar plum</p>
          </a>
        </div>
        <div class="cell large-4 medium-6 small-12 flex-container">
          <a class="callout color blue flex-child-auto">
            <h2 class="h4 ruled">How To Disclose</h2>
            <p>Marshmallow bear claw fruitcake icing caramels soufflé lemon drops cake</p>
          </a>
        </div>
        <div class="cell large-4 medium-6 small-12 flex-container">
          <a class="callout color blue flex-child-auto">
            <h2 class="h4 ruled">What To Disclose</h2>
            <p>Jujubes icing tart carrot cake liquorice sesame snaps icing carrot cake. Cupcake fruitcake marzipan bear claw</p>
          </a>
        </div>
      </div>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <a class="callout color orange">
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Need Assistance? Contact Us</h3>
      </a>
      <h2>Relevant Policies</h2>
      <div class="loose-list">
        <ul>
          <li><a>Jelly lemon drops danish chupa chups</a></li>
          <li><a>Dragée cookie apple pie gummi bears</a></li>
          <li><a>Cotton candy fruitcake bonbon cake oat cake tootsie roll cake</a></li>
        </ul>
      </div>
    </aside>

  </div>
</section>

{% include "@components/footer-prototypes/COI-footer.twig" %}