{% include "@components/header-prototypes/header-VPResearch.twig" %}
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Offices
    </li>
  </ul>
</nav>

<section class="grid-container">
    <div class="grid-x">
        <div class="cell large-8 medium-8 small-12">
            <h1>Offices</h1>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Office of the Vice President for Research</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate mattis diam id mollis. Ut at mollis elit. Sed in fermentum lectus, id elementum ante.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Animal Research Compliance</a></h2>
            <p>Supports the IACUC to ensure the humane care and use of laboratory animals.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Clinical Trials Office</a></h2>
            <p>Supports research teams with clinical trial management, budgets and Medicare billing compliance. Also assists investigators develop clinical trials plans. Administers the participant payment program and the clinical trial portal for placing industry-sponsored studies.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Laboratory of Animal Resources</a></h2>
            <p>Supports all aspects of teaching, testing and research which require the use of animals.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Office of Clinical Research</a></h2>
            <p>Supports the research community by ensuring completion of all applicable institutional components and approvals for human research.  Assists with External IRB applications.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Office of the Institutional Review Board</a></h2>
            <p>Supports the IRBs operated by UT Health San Antonio.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Office of Postdoctoral Affairs</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate mattis diam id mollis. Ut at mollis elit. Sed in fermentum lectus, id elementum ante.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Office of Research Administration & Quality</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate mattis diam id mollis. Ut at mollis elit. Sed in fermentum lectus, id elementum ante.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Office of Sponsored Programs</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate mattis diam id mollis. Ut at mollis elit. Sed in fermentum lectus, id elementum ante.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Office of Strategic Research Initiatives</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate mattis diam id mollis. Ut at mollis elit. Sed in fermentum lectus, id elementum ante.</p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h2 class="h4"><a>Office of Technology Commercialization</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate mattis diam id mollis. Ut at mollis elit. Sed in fermentum lectus, id elementum ante.</p>
        </div>
    </div>
    
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}