{% include "@components/header-prototypes/header-GSBS.twig" %}
{% include "@components/navigation-prototypes/navbar-GSBS.twig" %}

{% include "@components/navigation/breadcrumbs.twig" %}

<section class="bleed grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-7 small-12 medium-order-1 small-order-2">
            <h1 class="margin-bottom">Career Planning Resources</h1>

            <div class="loose-list">
                <ul class="no-bullet">
                    <li><a href="https://hbr.org/2016/01/the-8-self-assessments-you-need-to-improve-at-work-this-year"><strong>8
                                Self Assessments You Need To Improve At Work</strong></a><br>
                        Harvard Business Review pulled together several of HBR’s best assessments and quizzes to help
                        give you a sense of what you need to work on and how to go about it.</li>
                    <li><a href="https://www.aaas.org/member-downloads"><strong>AAAS Career Basics
                                Booklet</strong></a><br>
                        This 80-page booklet has all the information that you need to get your career on the right
                        track. Articles and resource lists provide information on choosing a career path, marketing
                        yourself, identifying skills needed in different career paths, and understanding diversity
                        issues.</li>
                    <li><a href="https://www.bwfund.org/career-tools"><strong>Burroughs Wellcome Fund: Career
                                Development</strong></a><br>
                        Advice on how to achieve scientific independence including postdoctoral training, grant writing,
                        lab management, and effective communication.</li>
                    <li><a
                            href="https://www.jobs.ac.uk/careers-advice/resources/ebooks-and-toolkits/career-development-toolkit-for-researchers"><strong>Career
                                Toolkits For Researchers</strong></a><br>
                        This toolkit from jobs.ac.uk is an interactive guide to help you formulate an ongoing career
                        strategy.</li>
                    <li><a href="http://www.sciencemag.org/booklets/career-trends-developing-your-skills"><strong>Career
                                Trends: Developing Your Skills</strong></a><br>
                        A Science Careers booklet that examines the skills needed for students, postdocs, and faculty to
                        help transition to their next career phase.</li>
                    <li><a href="https://www.nature.com/scitable/ebooks/english-communication-for-scientists-14053993"><strong>English
                                Communication For Scientists</strong></a><br>
                        English Communication for Scientists is a brief guide on how to communicate more effectively in
                        English, no matter how much previous experience you have.</li>
                    <li><a
                            href="https://www.jobs.ac.uk/media/pdf/careers/resources/the-global-academic-careers-guide.pdf"><strong>Global
                                Academic & Careers Guide</strong></a><br>
                        This toolkit from jobs.ac.uk provides essential advice & top tips for academics looking to
                        expand their horizons overseas.</li>
                    <li><a href="https://www.hhmi.org/developing-scientists/resources"><strong>HHMI Resources For The
                                Development of Early-Career Scientists</strong></a><br>
                        This website can help new investigators “make the right moves” and assist those who take on the
                        important task of providing early-career researchers with scientific management training.</li>
                    <li><a href="https://www.16personalities.com/free-personality-test"><strong>Know Your Personality
                                Type</strong></a><br>
                        The Myers-Briggs Type Indicator is a commonly used tool for determining personality preferences.
                        You can use this free tool to get started investigating your type and preferences.</li>
                    <li><a href="/sites/default/files/content/sample-meddental-interview-gsbsocd.pdf"><strong>Medical/Dental
                                Program Interview Help</strong></a><br>
                        It is important to practice for any type of interview and this handout provides tips as well as
                        sample questions for use to prepare for both real and mock interviews.</li>
                    <li><a href="/sites/default/files/content/networking_diagram_diane_darling_gumroad.pdf"><strong>Networking
                                Diagram</strong></a><br>
                        A diagram to help you navigate the room from Diane Darling.</li>
                    <li><a href="https://www.training.nih.gov/"><strong>NIH Office Of Intramural Training and Education
                                (OITE) Resources</strong></a><br>
                        The OITE is a flagship resource of Career Development in the biomedical sciences.</li>
                    <li><a href="https://www.jobs.ac.uk/media/pdf/careers/resources/research-publications-planner.pdf"><strong>Research
                                Publications Planner</strong></a><br>
                        This toolkit from jobs.ac.uk provides you with charts to create a long-term plan, conference
                        plan, and minor publications before you start writing.</li>
                    <li><a href="https://www.ibiology.org/playlists/young-scientist-survival-kit/"><strong>Young
                                Scientist Survival Kit</strong></a><br>
                        A toolkit on how to design effective scientific presentations, take risks, pick a graduate
                        advisor, and careers outside the lab.</li>
                </ul>
            </div>
        </main>

        <aside class="cell large-4 medium-5 small-12 medium-order-2 small-order-1">
            <h2 class="h5 color">Office of Career Development</h2>
            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Additional Opportunities & Resources</a></li>
                <li>
                    <a href="#">Career Advisory Council</a>
                    <ul class="nested vertical menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Members</a></li>
                    </ul>
                </li>
                <li><a href="#">Career planning resources</a></li>
                <li><a href="#">Common career choices
                <li><a href="#">Employment resources</a></li>
                <li><a href="#">Networking</a></li>
                <li><a href="#">Research integrity</a></li>
                <li><a href="#">Office of Career Development SharePoint</a></li>
            </ul>

            <a href="https://pipettegazette.uthscsa.edu/?s=The+Career+Series" class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
                </span>
                <h3>The Career Series</h3>
                <p>Essential tips and tricks for success in your field</p>
            </a>

        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/GSBS-footer.twig" %}