{% include "@components/header-prototypes/header-gccri.twig" %}
<section class="hero bleed blur img-fill full">	
  <img src="../../images/gccri/research-banner.jpg" alt="pipette">
<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-7">
				<h1>Research Focus</h1>
				<p>The Greehey Children's Cancer Research Institute is a hub for cutting-edge research across various cancer-related fields. Our dedicated faculty and investigators are leaders in their areas of expertise, working collaboratively to drive innovative solutions in the fight against cancer.</p>
				<p><a href="#" class="button">View Our Publications</a></p>
			</div>
    <div class="cell medium-12 large-5">
    <img src="../../images/gccri/research-banner.jpg" alt="pipette">
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-gccri.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Biostatistics-and-Bioinformatics-header-1.jpg">
                <p>A primary goal of the Department of Epidemiology & Biostatistics (DEB) is to enhance the research productivity of the Greehey Children’s Cancer Research Institute (Greehey CCRI) by providing expert biostatistical support. As Greehey CCRI continues to expand with new research faculty, the demand for biostatistical services will increase accordingly.</p>
              <p><a href="#" class="button">Biostatistics & Bioinformatics</a></p>
            </div>
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Cancer-Control.jpg">
                <p>Over the past thirty years, significant progress has been made in increasing childhood cancer survival rates. Clinical research has evolved from focusing solely on survival to enhancing the quality of life for survivors, particularly in cases where survival rates are already very high.</p>
              <p><a href="#" class="button">Cancer & Control</a></p>
            </div>
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Cancer-Genetics.jpg">
                <p>Cancer development is a complex process involving a series of molecular events. This includes the accumulation of mutations in proto-oncogenes, tumor suppressor genes, and other genes that regulate cell proliferation, cell cycle control, and cell death.</p>
              <p><a href="#" class="button">Cancer Genetics</a></p>
            </div>
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Experimental-Therapeutics.jpg">
                <p>The relatively small number of children with cancer limits the amount of definitive data available to assess the potential benefits of new anticancer agents for this population. Therefore, there is a need for pre-clinical models, such as transgenic or xenograft animal models and cell cultures, to evaluate the effectiveness of new agents before clinical trials.</p>
              <p><a href="#" class="button">Experimental Theraputics</a></p>
            </div>
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Hematologic-Malignancies.jpg">
                <p>In line with our fundamental research in molecular oncogenesis, we aim to develop a component of a broader trans-disciplinary program focused on hematologic malignancies at the Greehey Children’s Cancer Research Institute.</p>
              <p><a href="#" class="button">Hematologic Malignancies</a></p>
            </div>
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Molecular-Oncogenesis.jpg">
                <p>The objective of the molecular oncogenesis and cancer genetics programs at the Greehey CCRI is to identify and characterize the genes, gene products, and pathways involved in pediatric cancers. This research is conducted with the understanding that studying pediatric cancer models provides valuable insights into cancer more broadly.</p>
              <p><a href="#" class="button">Molecular Oncogenesis</a></p>
            </div>
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Pediatric-Preclinical-Testing-Program-PPTP.jpg">
                <p>The Pediatric Preclinical Testing Program (PPTP) is an extensive initiative designed to systematically assess new agents using childhood solid tumor and leukemia models. The program is funded by an NCI research contract awarded to The Research Institute at Nationwide Children’s Hospital, with Dr. Peter Houghton serving as the Principal Investigator.</p>
              <p><a href="#" class="button">Pediatric Preclinical Testing Program</a></p>
            </div>
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Retinoblastoma-Summer-Program.jpg">
                <p>As part of their professional training, Doctor of Optometry students learn to perform comprehensive pediatric eye exams and evaluate retinoblastoma. Additionally, optometry students from the Summer Fellowship Training Program at the Rosenberg School of Optometry (UIW) engage in a collaborative research project with the Greehey Children’s Cancer Research Institute to explore the molecular basis of retinoblastoma.</p>
              <p><a href="#" class="button">Retinoblastoma Summer Program</a></p>
            </div>
<div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Summer-Undergraduate-Research-Program.jpg">
                <p>The Greehey Children’s Cancer Research Institute’s (Greehey CCRI) Undergraduate Summer Internship Program aims to provide talented undergraduate students interested in academic research with the opportunity to spend around ten weeks each summer conducting hypothesis-driven research in childhood cancer at one of our laboratories.</p>
              <p><a href="#" class="button">Greehey CCRI Summer Program</a></p>
            </div>
            <div class="cell small-12 medium-6">
                <img class="margin-bottom" src="../../images/gccri/Vietnam-Outreach-Program.jpg">
                <p>The Greehey Children’s Cancer Research Institute’s (Greehey CCRI) Undergraduate Summer Internship Program offers talented undergraduate students the chance to engage in hypothesis-driven research on childhood cancer. Over the course of approximately ten weeks each summer, students will conduct research in one of our laboratories, gaining valuable experience in academic research.</p>
              <p><a href="#" class="button">Vietnam Outreach Program</a></p>
            </div>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/gccri-footer.twig" %}