{% include "@blocks/header/global-bar-quicklinks.twig" %}
{% include "@blocks/header/level-2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-8 small-12">
                <h1>Cranial Remolding Therapy</h1>
                <p class="subheader">Cranial Remolding Program</p>
                <p class="light"><strong>Related to:</strong> Cranial remolding helmets, Cranial remolding orthosis,
                    Head shape abnormality treatment, Post-Operative cranial synostosis, Flat head syndrome treatment,
                    Brachycephaly treatment, Scaphocephaly treatment, Deformational plagiocephaly treatment,
                    Plagiocepahly, Head shape evaluation</p>
                <img src="http://placekitten.com/930/620">
                <p>The UT Health Cranial Remolding Program provides the only full-time, dedicated team for cranial
                    remolding therapy in the San Antonio area.</p>
                <p>UT Health's Cranial Remolding Program specializes in the comprehensive evaluation and treatment of
                    head shape abnormalities in infants. These deformities are relatively common and highly treatable
                    with early intervention and expert management. Physicians, neurosurgeons, plastic surgeons and
                    physical therapists from across San Antonio and South Texas utilize our program for our unmatched
                    experience, expertise, technology and exceptional patient care.</p>
                <p>Roughly 20 percent of children develop some kind of head shape abnormality during infancy. Often,
                    head shape abnormalities are attributed to conditions like plagiocephaly and craniosynostosis.
                    Cranial molding therapy is often recommended for moderate to severe cases to correct these
                    abnormalities and ensure proper head growth.</p>
                <p>When an infant is referred to us by their physician, we evaluate their head shape using an
                    FDA-approved, state-of-the-art STARscanner. This eye-safe laser allows us to safely and painlessly
                    scan an infant’s head in less than two seconds. The STARscanner provides detailed data that helps us
                    determine the best approach to treatment. It is also used to document changes in the shape of an
                    infant’s head over the course of their specific treatment plan.</p>
                <p>Once the scans are evaluated and a customized treatment plan is established, the infant will be
                    fitted with a STARband Cranial Remolding Orthotic Helmet. These Cranial Remolding Orthoses guide and
                    promote growth to specific areas while inhibiting it in others. For patients with plagiocephaly, the
                    STARband Cranial Remolding Orthoses is worn 23 hours a day for an average of three to five months
                    (depending on their age and the severity of their condition). For patients with craniosynostosis, a
                    treatment plan will require them to wear a Post-Operative Cranial Remolding Orthoses following their
                    surgery. The exact parameters of the treatment plan will be dependent on the patient’s needs as well
                    as the severity of their condition.</p>
            </main>
            <aside class="cell large-4 medium-4 small-12">
                <div class="callout outline">
                    <h2>Appointments</h2>
                    <p>Appoinments are by physician referral. Call <a>210-450-9064</a> for more information.</p>
                    <p>Fax: 210-450-2150.</p>
                    <p>Existing patients can request <a>online with MyChart</a>.</p>
                </div>
                <div class="callout outline">
                    <h2>Locations</h2>
                    <address>
                        <strong><a>UT Health San Antonio Main Campus - Medical Center</a></strong><br>
                        7703 Floyd Curl Drive<br>
                        6th Floor, Room 638E<br>
                        San Antonio, TX 78229
                    </address>
                </div>
                <a class="callout color grey">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Heading</h3>
                </a>
                <a class="callout color dark-grey">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Heading</h3>
                </a>
            </aside>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}