{% include "@components/header-prototypes/header-prin.twig" %}
<section class="hero bleed img-fill full extra-roomy">
	<img src="../../images/prin/banner_3.jpg">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
            <div class="cell large-5 small-12">
                <div class="callout">
                    <h1>About Us</h1>
										<p>PRIN will use multi-stakeholder engagement to advance the field, elevate recovery science, and increase the impact of peer recovery support.</p>
                </div>
            </div>
        </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-prin.twig" %}

<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell small-12 medium-12 large-8">
			<h2>Who we are</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque elit ullamcorper dignissim cras. Venenatis cras sed felis eget velit. Viverra suspendisse potenti nullam ac. Tortor at auctor urna nunc id cursus metus. Turpis egestas integer eget aliquet nibh praesent tristique magna. Nibh mauris cursus mattis molestie a. Aliquet risus feugiat in ante metus dictum at tempor. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Non nisi est sit amet facilisis magna etiam. Scelerisque varius morbi enim nunc faucibus a pellentesque sit amet. Lectus arcu bibendum at varius vel pharetra vel turpis. Amet massa vitae tortor condimentum.</p>

<p>Viverra mauris in aliquam sem. Ac turpis egestas maecenas pharetra. Mi eget mauris pharetra et ultrices. Magna fringilla urna porttitor rhoncus. Pretium quam vulputate dignissim suspendisse in est. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Imperdiet massa tincidunt nunc pulvinar. Sem et tortor consequat id porta nibh venenatis. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet.</p>
			</main>
    <aside class="small-12 medium-4 cell">
        <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li>
    <a href="#">Our Team</a>
  </li>
  <li><a href="#">External Advisory Board</a></li>
	<li><a href="#">Organizational Structure</a></li>
</ul>
	<img src="../../images/prin/prin_image_1.jpg">
	</aside>
		</div>
	</div>
</section>
<section class="bleed beige">
<div class="grid-container">
		<div class="grid-x grid-margin-x align-center-middle">
			<div class="cell small-12 medium-4 large-3">
	<img src="../../images/prin/robert_ashford.jpg">			</div>
			<div class="cell small-12 medium-6 large-8">
				<blockquote>
					<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within another element like a bleed.</p>
					<cite>Dr. Robert Ashford, PhD, MSW</cite>
				</blockquote>
			</div>
		</div>
	</div>
	</section>
{% include "@blocks/footer/no-alamo.twig" %}