{% include "@components/header-prototypes/header-cheever.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                <h1>M.D. with Distinction in Medical Humanities</h1>
                <p>The M.D. with Distinction in Medical Humanities & Ethics provides UT Health San Antonio medical
                    students with the opportunity to spend part of their medical school career exploring the Center for
                    Medical Humanities & Ethics' program offerings (CMHE).</p>
                <div class="button-group">
                    <p><a href="#" class="button">Apply Now</a></p>
                </div>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <img src="../../images/cheever-center/Refugee-Clinic-Fadi-Photo-1.jpg"
                    alt="Physician and patient in clinic">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-cheever.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<main class="grid-container roomy">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Program Overview</h3>
                        <p>Take a deeper look at the program requirements and schedule.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-book-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Disciplines</h3>
                        <p>Medical Humanities offers several disciplines.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Frequently Asked Questions</h3>
                        <p>Take a deeper look at the program requirements and schedule.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-book-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Curriculum</h3>
                        <p>An outline of the courses and curriculum you'll expect when pursuing a degree in Medical
                            Humanities.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="cell large-4 medium-4 small-12">
            <h2>Important dates</h2>
            <div class="event">
                <div class="date">
                    <div class="month">aug</div>
                    <div class="day">15</div>
                </div>
                <div class="details">
                    <div class="name">Fall Deadline</div>
                    <div class="date"> August 15th, 11:59 PM CT</div>
                </div>
            </div>
            <div class="event">
                <div class="date">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                </div>
                <div class="details">
                    <div class="name">Spring Deadline</div>
                    <div class="date">March 15, 11:59PM CT</div>
                </div>
            </div>

            <h2>Contact us</h2>
            <address>
                <strong>Iris Mast</strong><br>
                <a href="#">masti@uthscsa.edu.</a><br>
                ###-###-####
            </address>
        </div>
    </div>
</main>


{% include "@components/footer-prototypes/cheever-footer.twig" %}