<section class=" hero magazine orange bleed img-fill">
    <img src="../../images/Tutu-girl_face2-1500x1000.jpg" alt="SCIENCE">
    <div class="grid-container godly">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout">
                <h1 class="supersize">MISSION</h1>
                <p>Top News Story</p>
                <div class="button-group">
                    <p><a href="#" class="button">Button CTA</a></p>
                    <p><a href="#" class="button ghost">Button CTA</a></p>
                </div>
            </div>
        </div>
    </div>
</section>