{% include "@components/header-prototypes/header-cheever.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                <h1>Community Engaged Learning</h1>
                <p>The Community Engaged Learning (CEL) program connects learners from across UT Health San Antonio with
                    the community to innovate human-centered solutions designed to tackle homelessness, poverty, health
                    literacy and more.</p>

            </div>
            <div class="cell large-5 medium-5 small-12">
                <div class="responsive-embed">
                    <iframe width="492" height="302" src="https://www.youtube.com/embed/gsX6AkBacMg"
                        title="Center for Medical Humanities | Community Service Learning" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-cheever.twig" %}

<main class="grid-container roomy">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <h2 class="h3">Meaningful Service</h2>

            <p>Community Engaged Learning (CEL) is an experiential education method that integrates meaningful community
                partnership with instruction, mentorship, and reflection to collaboratively address health needs. CEL
                focuses on the social determinates of health, including education poverty, and access to care. Why do
                certain zip codes have more health issues than others? Why aren’t vital policies being written? What can
                make change?</p>

            <p>Guided by faculty mentors and over 60 community partners, our students put ethics into action through
                hands-on experiential learning, providing care to vulnerable populations in Texas counties. After
                listening to and connecting with local organizations, and working together to develop and implement a
                project to address prioritized needs, students present their findings to advocate for system quality
                improvements to create flourishing communities.</p>

            <p>We equip the future health care workforce to collaboratively address community challenges and ultimately
                be the change-makers that contribute to transformed, equitable health and wellness systems.</p>

            <div class="grid-x sidecar light-beige margin-top">
                <div class="cell medium-12 large-8 flex-container">
                    <div class="callout outline flex-child-auto">
                        <h3 class="h5">Curriculum</h3>
                        <ul class="no-bullet">
                            <li><strong>ELEC 5041</strong> - Homelessness & Addiction</li>
                            <li><strong>ELEC 5044</strong> - Leadership in Interprofessional Community Service Learning
                            </li>
                            <li><strong>INTD 4015</strong> - Humanism in Medicine</li>
                        </ul>
                    </div>
                </div>
                <div class="cell medium-12 large-4 flex-container">
                    <div class="callout flex-child-auto">
                        <h3 class="h5">Contact Us</h3>
                        <address>
                            <strong>CEL Program Inquiries</strong><br>
                            <a href="#">cel@uthscsa.edu</a><br>
                            210-567-0795
                        </address>
                    </div>
                </div>
            </div>

        </div>
        <div class="cell large-4 medium-4 small-12">
            <div class="callout outline lines">
                <h3 class="h4">Quick Links</h3>
                <ul>
                    <li><a href="#">Login to ENGAGED</a></li>
                    <li><a href="#">Community-Engaged Toolkit</a></li>
                    <li><a href="#">Grant Program</a></li>
                    <li><a href="#">Annual CEL Conference</a></li>
                    <li><a href="#">Directory of Past Projects</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Roadmap to Impact</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<section class="bleed color orange rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 large-8">
                <h2 class="h4">Collaborative Change</h2>

                <p>
                    <p>Community impact is a group effort! Each CEL key player will have a vital role in your project.
                        Connect and network with your peers, faculty and partners or reach out to <a
                            href="mailto:CEL@uthscsa.edu">CEL@uthscsa.edu</a> for help.</p>
                </p>

                <div class="arrow">
                    <ul>
                        <li><a>Student Projects</a></li>
                        <li><a>Community Partnerships</a></li>
                        <li><a>CEL Faculty</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell medium-5 large-4">
                <img src="../../images/cheever-center/cel-change.jpg" alt="Physician and patient in clinic">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <a class="card cell light-beige small-12 medium-4">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h3 class="h4">Donate to CEL</h3>
                    <p>To make change, create change. Learn how you can become a vanguard of change in supporting our
                        student projects.</p>
                </div>
            </a>
            <a class="card cell light-beige small-12 medium-4">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h3 class="h4">Annual CSL Conference</h3>
                    <p>Here’s where we talk about it! Catch up on past CSL conferences and review student poster
                        abstracts.</p>
                </div>
            </a>
            <a class="card cell light-beige small-12 medium-4">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h3 class="h4">Our Stories</h3>
                    <p>Listen to our student project leaders share their experiences and hear how they impacted their
                        communities.</p>
                </div>
            </a>
        </div>
    </div>
</section>



{% include "@components/footer-prototypes/cheever-footer.twig" %}