<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Latest Stories</a></li>
                    <li><a href="#">Best of the Mission</a></li>
                    <li><a href="#">Contact & About</a></li>
                    <li><a href="#">Browse Sections</a></li>
            </ul>
        </div>
    </div>
</nav>