{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero bleed img-fill full extra-roomy">
	<img src="../../images/partnerships-final.jpg" alt="placeholder">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-left">
      <div class="cell large-6 medium-6 small-12">
        <div class="callout">
            <h1>Partnerships</h1>
            <p>For over five decades, UT Health San Antonio has built a track record of strong research partnerships and collaboration leading to innovation and discovery impacting the health and wellness of Texans and beyond.</p>
            <div class="button-group">
                <p><a class="button" href="https://scholars.uthscsa.edu/en/persons/">Researchers Profiles</a></p>
                <p><a class="button" href="https://directory.uthscsa.edu/">Faculty Directory</a></p>
            </div>
        </div>
      </div>
    </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}
<section class="bleed color dark-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle text-center">
            <div class="cell large-8 medium-8 small-12 ">
                <h2>Open for Business</h2>
                <p>Ice cream cake chocolate macaroon tart marshmallow bear claw carrot cake. Lemon drops caramels pastry wafer soufflé cotton candy fruitcake. </p>
            </div>
        </div>
    </div>
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
        <div class="cell large-8 medium-8 small-12">
            <h2><a href="https://otc.uthscsa.edu/industry-partners-2/collaborate-with-us/">Working Together to Find New Solutions </a></h2>
            <p>Officeof Technology Commercialization (OTC) is a full-service office dedicated to stimulating innovation ane entrepreneurship among faculty, staff and students at the Health Science Center.</p>
            <p>For industry relations, contact the Associate Vice President, Innovation & Development, Anthony Francis, at <a href="mailto:francisa3@uthscsa.edu">francisa3@uthscsa.edu</a> or <a>210-567-0313</a>.</p>
            <p>Find out more about our collaboration opportunities by contacting the Office of the Vice President for Research at <a>210-567-8270</a> or <a href="mailto:vpr@uthscsa.edu">vpr@uthscsa.edu</a>.</p>
            
            <div class="button-group">
                <p><a href="https://otc.uthscsa.edu/industry-partners-2/" class="button">Industry Partnerships</a></p>
                <p><a href="https://otc.uthscsa.edu/industry-partners-2/start-up-companies-success-stories/" class="button ghost">See our portfolio of start ups</a></p>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <img src="https://uthscsa.edu/vpr/sites/vpr/files/2023-09/partnerships-collaborations.jpg" alt="">
        </div>
    
</section>



<section class="bleed color beige roomy">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-4 small-12 flex-container">
                <div class="callout nested orange flex-child-auto">
                    <h3>Healthcare Partners</h3>
                    <p>UT Health San Antonio’s extensive partnerships enable our researchers to access clinical settings outside of UT Health San Antonio. We take our research from bench to bedside through partnerships with:</p>
                    <div class="arrow loose-list">
                        <ul>
                            <li><a href="https://www.universityhealthsystem.com/">University Health System</a></li>
                            <li><a href="https://www.christushealth.org/santa-rosa/medical-center">CHRISTUS Santa Rosa Hospital - Northwest</a></li>
                            <li><a href="https://www.christushealth.org/childrens">Children's Hospital of San Antonio - Christus</a></li>
                            <li><a href="https://www.southtexas.va.gov/locations/directions.asp">Audie L. Murphy Memorial VA Hospital</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12 flex-container ">
                <div class="callout nested orange flex-child-auto">
                    <h3>Lifesciences Partners</h3>
                    <p>UT Health San Antonio has works partners with several other institutions and organizations that operate in the lifesciences biosphere including:</p>
                    <div class="arrow loose-list">
                        <ul>
                            <li><a href="https://biomedsa.org/">BioMedSA</a></li>
                            <li><a href="https://thehealthcell.org/">the Health Cell</a></li>
                            <li><a href="https://academyofinventors.org/">the National Academy of Inventors</a></li>
                            <li><a href="https://campaigns.uthscsa.edu/sappt/">San Antonio Partnership for Precision Therapeutics</a></li>
                            <li><a href="https://www.thbi.com/">Texas Healthcare &amp; Bioscience Institute</a></li>
                            <li><a href="https://velocitytx.org/">VelocityTX</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12 flex-container">
                <div class="callout nested orange flex-child-auto">
                    <h3>Military Partners</h3>
                    <p>Our Military Health Institute facilitates increased collaboration between our university, the US Military, the Veterans Administration, other university partners, and industry to improve the health and resiliency of our nation’s military service members, veterans and their families – a partnership found nowhere else in Texas.</p>
                    <div class="arrow loose-list">
                        <ul>
                            <li><a href="https://www.southtexas.va.gov/">Veteran's Administration</a></li>
                            <li><a href="https://militaryhealthinstitute.org/">Military Health Institute</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="bleed color dark-grey">
    <div class="grid-container img-bleed-left">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-6 medium-6 small-12">
                <img src="https://uthscsa.edu/sites/default/files/2023-08/uths0190.jpg" alt="">
            </div>
            <div class="cell large-6 medium-6 small-12">
                <h2>Innovation</h2>
                <p>Carrot cake caramels liquorice sugar plum wafer. Chupa chups cotton candy cheesecake chocolate cake muffin biscuit apple pie. Chocolate bar candy canes dragée donut biscuit donut biscuit sweet roll. Oat cake jelly marzipan jelly jelly beans. Cotton candy chupa chups pie cake gummi bears biscuit apple pie lemon drops. Tiramisu cotton candy dragée fruitcake gummies cake. Pie icing cheesecake danish marzipan jelly beans chocolate croissant muffin. </p>
                
            </div>
        </div>
    </div>
</section>-->

<section class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y align-center">
    <div class="cell small-12 medium-6 large-6">
      <a><img class="margin-bottom" src="../../images/stem-education.jpg" alt=""></a>
      <h2><a>Recruitment & Outreach</a></h2>
      <p>UT Health San Antonio is committed to grooming the next generation of experts in biomedicine. Our outreach programs offer students from grade school through undergraduate level, opportunities to gain exposure and experience in science and health careers.</p>
    </div>
    <div class="cell small-12 medium-6 large-6">
      <a><img class="margin-bottom" src="../../images/visit-scholars.jpg" alt=""></a>
      <h2><a>Visting Scholars</a></h2>
      <p>Visiting Scholars foster collaboration and build lasting professional connections, advancing our mission of excellence in education, research, health care and community engagement. </p>
    </div>
    <!--<div class="cell small-12 medium-6 large-6">
      <a><img class="margin-bottom" src="https://placedog.net/700/400" alt=""></a>
      <h2><a href="https://uthscsa.edu/community">UT Health San Antonio Community</a></h2>
      <p>Bringing our community together to elevate health. Driving impactful change in health policy. </p>
    </div>-->
    <!--<div class="cell small-12 medium-6 large-6">
      <a><img class="margin-bottom" src="https://placedog.net/700/400" alt=""></a>
      <h2><a>Health Services Research</a></h2>
      <p>UT Health San Antonio: Empowering our community with programs that drive better health. </p>
    </div>-->
  </div>
</section>

<section class="bleed color blue">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-3 medium-3 small-12 text-center">
            <i class="fas fa-heart fa-10x"></i>
        </div>
        <div class="cell large-9 medium-9 small-12">
            <!--<h2>Help advance treatment as a healthy volunteer</h2>
            <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments. Take action today; volunteer and play a role in finding a cure. </p>
            <p><a class="button ghost">Learn more about clinical trials</a></p>-->
            <h2>Be Part of Our Mission</h2>
            <p>At UT Health San Antonio, we are pioneering the future of healthcare. Join us as we redefine medicine through our groundbreaking research by participating in clinical trials or contributing through giving. Together we can translate today’s innovative discoveries into tomorrow’s life-saving treatments.</p>
            <div class="button-group">
                <p><a href="#" class="button">Learn more about clinical trials</a></p>
                <p><a href="https://makelivesbetter.uthscsa.edu/donate" class="button">Make a gift</a></p>
            </div>
        </div> 
    </div>
  </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}