{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero bleed img-fill full">
	<img src="https://placedog.net/1500/750" alt="placeholder">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-right">
      <div class="cell large-offset-6 large-6 medium-6 small-12">
        <div class="callout">
          <h1>Partnerships</h1>
          <p>For over five decades, UT Health San Antonio has built a track record of strong research partnerships and collaboration leading to innovation and discovery impacting the health and wellness of Texans and beyond.</p>
          <p><a class="button" href="https://app.powerbi.com/view?r=eyJrIjoiMjNjNzAyM2ItZTdlZS00MWNlLWE4OTMtZjMzM2I0NDZkMGMxIiwidCI6IjgzZmYxNGE2LWViNmItNDI1MC1iNzQ1LTIxYmVhNjYyNTNkYyIsImMiOjN9">Our clinical, financial, and research statistics</a></p>
        </div>
      </div>
    </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
        <section class="cell large-10 medium-10 small-12 text-center">
            <h2>Network of Partners </h2>
            <p>Our partnership network includes centers and institutes housed on campus at UT Health San Antonio, health care systems, lifesciences industry and military involved in basic and applied research.</p>
        </section>
    </div>
    <div class="grid-x grid-margin-x">
        <section class="cell large-4 medium-4 small-12 flex-container">
            <a class="callout color orange flex-child-auto" href="#">
                <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-flask fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Institutes & Centers</h3>
            </a>
        </section>
        <section class="cell large-4 medium-4 small-12 flex-container">
            <a class="callout color orange flex-child-auto" href="#">
                <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Institutional Biobank</h3>
            </a>
        </section>
        <section class="cell large-4 medium-4 small-12 flex-container">
            <a class="callout color orange flex-child-auto" href="https://scholars.uthscsa.edu/">
                <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Researchers & Faculty Experts</h3>
            </a>
        </section>
    </div>
</main>

<section class="bleed color dark-grey">
    <div class="grid-container img-bleed-right">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-6 medium-6 small-12">
                <h2>Collaborate with Us</h2>
                <h3 class="h4"><a href="https://otc.uthscsa.edu/industry-partners-2/collaborate-with-us/">Working Together to Find New Solutions </a></h3>
                <p>UT Health San Antonio, located in Military City, U.S.A., has a rich history of research collaboration with the U.S. Department of Veterans Affairs leading to publications in top peer-reviewed journals with global impact. Research partnerships are ground zero for discovery leading to better patient care and outcomes for both active and civilian patients. UT Health San Antonio recognizes the power of partnership and collaboration in research as we seek new knowledge about treatments, cures, and discoveries. </p>
                <p>Find out more about our collaboration opportunities by contacting the Office of the Vice President for Research at <a>210-567-8270</a> or <a href="mailto:vpr@uthscsa.edu">vpr@uthscsa.edu</a>.</p>
                <p>For industry relations, contact the Associate Vice President, Innovation & Development, Anthony Francis, at <a href="mailto:francisa3@uthscsa.edu">francisa3@uthscsa.edu</a> or <a>210-567-0313</a>.</p>

                <div class="button-group">
                    <p><a href="https://otc.uthscsa.edu/industry-partners-2/" class="button ghost">Industry Partnerships</a></p>
                    <p><a href="https://otc.uthscsa.edu/industry-partners-2/start-up-companies-success-stories/" class="button ghost">See our portfolio of start ups</a></p>
                </div>
            </div>
            <div class="cell large-6 medium-6 small-12">
                <img src="https://uthscsa.edu/vpr/sites/vpr/files/2023-09/partnerships-collaborations.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="bleed color beige roomy">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-4 small-12 flex-container">
                <div class="callout nested orange flex-child-auto">
                    <h3>Healthcare Partners</h3>
                    <p>UT Health San Antonio’s extensive partnerships enable our researchers to access clinical settings outside of UT Health San Antonio. We take our research from bench to bedside through partnerships with:</p>
                    <div class="arrow loose-list">
                        <ul>
                            <li><a href="https://www.universityhealthsystem.com/">University Health System</a></li>
                            <li><a href="https://www.christushealth.org/santa-rosa/medical-center">CHRISTUS Santa Rosa Hospital - Northwest</a></li>
                            <li><a href="https://www.christushealth.org/childrens">Children's Hospital of San Antonio - Christus</a></li>
                            <li><a href="https://www.southtexas.va.gov/locations/directions.asp">Audie L. Murphy Memorial VA Hospital</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12 flex-container ">
                <div class="callout nested orange flex-child-auto">
                    <h3>Lifesciences Partners</h3>
                    <p>UT Health San Antonio has works partners with several other institutions and organizations that operate in the lifesciences biosphere including:</p>
                    <div class="arrow loose-list">
                        <ul>
                            <li><a href="https://biomedsa.org/">BioMedSA</a></li>
                            <li><a href="https://thehealthcell.org/">the Health Cell</a></li>
                            <li><a href="https://academyofinventors.org/">the National Academy of Inventors</a></li>
                            <li><a href="https://campaigns.uthscsa.edu/sappt/">San Antonio Partnership for Precision Therapeutics</a></li>
                            <li><a href="https://www.thbi.com/">Texas Healthcare &amp; Bioscience Institute</a></li>
                            <li><a href="https://velocitytx.org/">VelocityTX</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12 flex-container">
                <div class="callout nested orange flex-child-auto">
                    <h3>Military Partners</h3>
                    <p>Our Military Health Institute facilitates increased collaboration between our university, the US Military, the Veterans Administration, other university partners, and industry to improve the health and resiliency of our nation’s military service members, veterans and their families – a partnership found nowhere else in Texas.</p>
                    <div class="arrow loose-list">
                        <ul>
                            <li><a href="https://www.southtexas.va.gov/">Veteran's Administration</a></li>
                            <li><a href="https://militaryhealthinstitute.org/">Military Health Institute</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="bleed color dark-grey">
    <div class="grid-container img-bleed-left">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-6 medium-6 small-12">
                <img src="https://uthscsa.edu/sites/default/files/2023-08/uths0190.jpg" alt="">
            </div>
            <div class="cell large-6 medium-6 small-12">
                <h2>Innovation</h2>
                <p>Carrot cake caramels liquorice sugar plum wafer. Chupa chups cotton candy cheesecake chocolate cake muffin biscuit apple pie. Chocolate bar candy canes dragée donut biscuit donut biscuit sweet roll. Oat cake jelly marzipan jelly jelly beans. Cotton candy chupa chups pie cake gummi bears biscuit apple pie lemon drops. Tiramisu cotton candy dragée fruitcake gummies cake. Pie icing cheesecake danish marzipan jelly beans chocolate croissant muffin. </p>
                
            </div>
        </div>
    </div>
</section>-->

<section class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y align-center">
    <div class="cell small-12 medium-6 large-6">
      <a><img class="margin-bottom" src="../../images/stem-education.jpg" alt=""></a>
      <h2><a>Recruitment & Outreach</a></h2>
      <p>UT Health San Antonio is committed to grooming the next generation of experts in biomedicine. Our outreach programs offer students from grade school through undergraduate level, opportunities to gain exposure and experience in science and health careers.</p>
    </div>
    <div class="cell small-12 medium-6 large-6">
      <a><img class="margin-bottom" src="https://placedog.net/700/400" alt=""></a>
      <h2><a>Visting Scholars</a></h2>
      <p>Chocolate cake marshmallow cookie muffin pie halvah tart. Cotton candy cake gingerbread tiramisu croissant jelly beans. Topping sesame snaps jelly halvah muffin toffee jelly.</p>
    </div>
     <div class="cell small-12 medium-6 large-6">
      <a><img class="margin-bottom" src="https://placedog.net/700/400" alt=""></a>
      <h2><a href="https://uthscsa.edu/community">UT Health San Antonio Community</a></h2>
      <p>Gummi bears cheesecake gummies dragée marshmallow caramels. Tiramisu macaroon icing cotton candy muffin pastry sesame snaps. Sesame snaps candy chocolate bar bear claw wafer tiramisu tart. Cake jelly-o gummies tiramisu cake powder cheesecake sesame snaps.</p>
    </div>
     <div class="cell small-12 medium-6 large-6">
      <a><img class="margin-bottom" src="https://placedog.net/700/400" alt=""></a>
      <h2><a>Health Services Research</a></h2>
      <p>Our health services research utilizes a network of relationships to deliver the latest research findings to care providers and work with partners to promote health education in the communities we serve.</p>
    </div>
  </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}