{% include "@components/header-prototypes/header-src.twig" %}
{% include "@components/navigation-prototypes/navbar-src.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
      <li><a href="#">Clinics</a></li>
      <li>
          <span class="show-for-sr">Current: </span> Refugee Health Clinic
      </li>
  </ul>
</nav>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-8 medium-8 small-12">
      <h1>Refugee Health Clinic</h1>
      <div class="alert">
        <p>Due to the COVID-19 Pandemic, we are currently providing refugee patients with Telehealth services. In an effort to expedite care for refugee patients, only those who have provided Telehealth screenings thus far, will be involved until we receive further notice.</p>
      </div>
      <img class="img-margin" src="../../images/refugee-clinic2.jpg" alt="">
      
      <br>
      <p>San Antonio Refugee Health Clinic (SARHC) is a joint effort between dental, medical, nursing, and other health profession students with our experienced faculty from the University of Texas Health San Antonio. SARHC is an acute care clinic developed to address the health and social needs of over 1,300 immigrant refugees living in the northwest region of San Antonio. Initially, displaced families are supported by local and state efforts during the first six months of their relocation after which they are minimally supported through subsidized housing. The primary goal of this clinic is to serve as an initial trustworthy location for refugees to overcome their inhibitions and adequately address their health care and social needs.<p>
      <p>The clinic is held every Wednesday and is located at the St. Francis Episcopal Church where our refugees receive quality care and attention. A central aspect of the clinic is the education and collaboration that occurs between patients and students. Through our educational workshops refugee families learn about sanitation and available health care options. Through organizing and managing the clinic, students of all levels of education learn valuable lessons in service, communication, and resourcefulness through an irreplaceable interdisciplinary approach to care.</p>
      <h2>Services</h2>
      <ul>
        <li>Lollipop muffin</li>
        <li>Danish fruitcake tart</li>
        <li>Danish lemon drops candy dragée</li>
        <li>Cotton candy jujubes </li>
        <li>Marzipan macaroon pie gingerbread chupa chups</li>
        <li>Cheesecake gummies</li>
        <li>Chocolate cake tiramisu toffee sesame snaps</li>
        <li>Sesame snaps</li>
      </ul>
    </section>
    <aside class="cell large-4 medium-4 small-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3471.4599109678443!2d-98.56783!3d29.532098!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c60b4489ea8ff%3A0x76f527afe8b6f25!2s4242%20Bluemel%20Rd%2C%20San%20Antonio%2C%20TX%2078240!5e0!3m2!1sen!2sus!4v1666025126310!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p class="close"><strong>Location</strong></p>
      <address>
        St. Francis Episcopal Church<br>
        4242 Bluemel Rd<br>
        San Antonio, TX 78240
      </address>
      <p class="close"><strong>Parking</strong></p>
      <p>Please park in any parking spot located in the St. Francis Episcopal Church parking lot. Once you park please follow the signs to the Church Office. Clinic will be taking place in the Church Office area.</p>
      <p class="close"><strong>Hours</strong></p>
      <p>First Wednesday of each month from 5-8 PM</p>
      <p class="close"><strong>Phone</strong></p>
      <p class="h5 sans-serif">469-458-0209</p>
      <p class="close"><strong>Email</strong></p>
      <p><a>SARefugeeClinic@gmail.com</a></p>
    </aside>
  </div>
</div>

<section class="bleed dark-beige noise">
  <div class="grid-container">
    <div class="grid-x grid-margin align-center-middle text-center">
      <div class="cell large-8 medium-8 small-12">
        <h2>Student Volunteers</h2>
        <p>Please note that the cancellation policy for student volunteers is as follows: we understand things happen and situations come up. However, it is very difficult to provide the best care for these families short-handed, which is why we enforce a strict cancellation policy. You may cancel your volunteer session so long as you do so > 48 hours prior to your scheduled shift. Should you decide to cancel after the 48 hour period, you MUST find a replacement and notify the nursing student leader as soon as possible. Failure to comply will place you on one month probation from ALL CLINICS.</p>
        <p><a class="button">Volunteer with ENGAGED</a></p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="grid-x grid-margin">
      <div class="cell large-7 medium-7 small-12">
        <h4>Medical Student Leaders & Coordinators</h4>
        <div class="grid-x">
          <div class="cell large-6 medium-6 small-12">
            <p><strong>Zach Harbin</strong><br><a>harbin@livemail.uthscsa.edu</a><br>806-881-7540</p>
          </div>
          <div class="cell large-6 medium-6 small-12">
            <p><strong>Mahima Ginjupalli</strong><br><a>ginjupalli@livemail.uthscsa.edu</a></p>
          </div>
          <div class="cell large-6 medium-6 small-12">
            <p><strong>Salma Yazji</strong><br><a>yazji@livemail.uthscsa.edu</a></p>
          </div>
        </div>
      </div>
      <div class="cell large-5 medium-5 small-12">
        <h4>Nursing Student Leader & Coordinator</h4>
        <p><strong>Katrina Lopez</strong><br><a>lopezk1@livemail.uthscsa.edu</a><br>210-849-2112</p>
        
      </div>
    </div>
  </div>
</section>



{% include "@blocks/footer/src-no-alamo.twig" %}