{% include "@components/header-prototypes/header-barshop.twig" %}
{% include "@components/navigation-prototypes/navbar-barshop.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Clinical Trials</a></li>
    <li>
      <span class="show-for-sr">Current: </span> PREVENTABLE
    </li>
  </ul>
</nav>

<section class="grid-container">
    <div class="grid-x">
        <div class="cell large-12 medium-12 small-12">
            <h1>PREVENTABLE</h1>
            <p class="subheader">Pragmatic Evaluation of events And Benefits of Lipid-lowering in older adults (Preventable)</p>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <h2 class="h5 color">Purpose of this study</h2>
            <p>PREVENTABLE is one of the largest research studies in older adults. The purpose of this study is to learn if taking a statin could help older adults live well for longer by preventing dementia, disability, or heart disease. A statin is a commonly used medication to lower cholesterol. The benefits of taking statins for older adults without heart disease are not fully understood. Results from PREVENTABLE will help us learn if taking a statin is helpful for older adults.</p>

            <h2 class="h5 color">You may qualify if you are:</h2>
            <ul>
                <li>Age 75 and older</li>
                <li>Community-dwelling (not in assisted living or nursing home)</li>
            </ul>

            <h2 class="h5 color">You may NOT qualify if you:</h2>
             <ul>
                <li>Have heart disease (heart attack or stroke)</li>
                <li>Have dementia</li>
                <li>Have a significant disability that limits your basic everyday activities</li>
                <li>Are using a statin</li>
            </ul>

            <h2 class="h5 color">Duration of Study</h2>
            <p>The study involves 7 study visits (1-2 in-person visits and 5-6 telephone follow-ups) over the course of approximately 3.5 to 5 years.</p>

            <h2 class="h5 color">Study Procedures</h2>
            <ul>
                <li>Medical history</li>
                <li>Physical performance</li>
                <li>Blood tests</li>
                <li>Gait speed</li>
                <li>Memory test</li>
                <li>Questionnaires</li>
                <li>Telephone follow-ups</li>
            </ul>

            <h2 class="h5 color">Location</h2>
            <p>UT Health San Antonio<br>Sam and Ann Barshop Institute for Longevity and Aging Studies<br>4939 Charles Katz Dr.<br>San Antonio, TX 78229</p>
            <div class="responsive-embed">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3472.024153895946!2d-98.5855152846412!3d29.515655150312163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c67e5d83cf7f9%3A0x2990a3064618b054!2sSam%20and%20Ann%20Barshop%20Institute%20for%20Longevity%20and%20Aging%20Studies!5e0!3m2!1sen!2sus!4v1625065408048!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <h2 class="h5 color">Compensation</h2>
            <p>$25 for each in-person visit</p>

            <h2 class="h5 color">Clinical Research Team</h2>
            <div class="grid-x">
                <div class="cell large-3 medium-6 small-12">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2018/12/Nicolas-Musi200.jpg" alt="">
                    <p>Principal Investigator: <a>Nicolas Musi, MD</a></p>
                </div>
                <div class="cell large-3 medium-6 small-12">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2022/03/SaraEspinozaClinic200.jpg" alt="">
                    <p>Co-Principal Investigator: <a>Sara Espinoza, MD, MSc</a></p>
                </div>
            </div>


            <h2 class="h5 color">Contact Us</h2>
            <p>For more information or to volunteer in a study, call 210-450-0020. If you prefer that we contact you, please fill out the form.
            <img src="../../images/ct-form.png" alt=""> 

        </div>
        <div class="cell large-4 medium-4 small-12">
            <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2020/10/Preventable-450x300.jpg" alt="" class="img-margin">
            <br>
            <br>
            <br>
            <div class="callout outline">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="#">Contact information</a></li>
                    <li><a href="#">Become a study participant</a></li>
                    <li><a href="#">Our investigators</a></li>
                    <li><a href="#">Community outreach</a></li>
                    <li><a href="#">About clinical trials</a></li>
                    <li><a href="#">All UT Health clinical trials</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/barshop-footer.twig" %}