{% include "@components/header-prototypes/header-compliance.twig" %}
<section class="hero bleed blur img-fill full">
      <img src="../../images/Compliance/resources-banner.jpg" alt="Pateint on Computer"></div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Resources</h1>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/Compliance/resources-banner.jpg" alt="Pateint on Computer"></div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-compliance.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-8 large-8">
                <p>UT Health San Antonio is committed to protecting and safeguarding the confidential and sensitive information entrusted to us through various means. The UT Health San Antonio Compliance and Privacy Office (ICPO) ensures that UT Health San Antonio complies with the privacy laws, rules, and policies. We strive to create a culture of privacy awareness and for the highest level of commitment to protecting personally identifiable information. The ICPO handles issues related to privacy practices, policies, concerns, and complaints. We also act as a resource for patients, staff, and students.</p>
                <p><a href="#" class="no-underline">Questions about specific compliance or ethical issues should be directed to a member of the Institutional Compliance and Privacy Office.</a></p>
                <h2 class="h3">Resources</h2>
                    <div class="arrow">
	                <ul>
                        <li><a href="#">Institutional Handbook of Operating Policies</a></li>
                        <li><a href="#">Standards of Conduct</a></li>
                        <li><a href="#">Privacy Monitoring Tool Resources</a></li>
                    </ul>
                </div>
            </main>
            <aside class="cell small-12 medium-4 large-4">
         <div class="callout contact outline">
            <h2 class="h5">Contact Us</h2>
            <address>
               <strong>UT Health San Antonio<br>
               Institutional Compliance and Privacy Office</strong><br>
               7703 Floyd curl Drive<br>
               MC 7861<br>
               San Antonio, TX 78229<br>
            </address>
            <ul class="fa-ul">
               <li>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                        </span>
                     </span> <span class="">210-567-2014</span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-fax fa-stack-1x fa-inverse"></i>
                        </span>
                     </span> <span class="">210-567-9285</span>
                  </a>
                  <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">compliance@uthscsa.edu</span>
                  </a>
               </li>
               <li>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-beige">
    <div class="grid-container">
        <h2 class="text-center margin-bottom">Reporting a Concern</h2>
        <div class="grid-x grid-margin-x align-center">
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="margin-bottom">Report Online</h3>
            </a>
                <div class="flex-child-grow">
                    <h4 class="text-center">Our Commitment</h4>
                    <p>UT Health San Antonio is committed to an environment where open, honest communications are the expectation, not the exception. We want you to feel comfortable in approaching your supervisor or management in instances where you believe violations of policies or standards have occurred.</p>
                    <p>In situations where you prefer to place an anonymous report in confidence, the information you provide will be sent to us by NAVEX on a totally confidential and anonymous basis. You have our guarantee that your comments will be heard.</p>
                </div>
            </div>
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <a class="callout color orange flex-child-shrink">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Report by Phone: 877-507-7317</h3>
            </a>
                <div class="flex-child-grow">
				    <h4 class="text-center">Non-Retaliation Policy</h4>
				    <p>UT Health San Antonio prohibits retaliation against those who report compliance or ethics concerns in good faith.</p>
                    <a href="#" class="arrow">Read the full Non-Retaliation Policy.</a>
                </div>
            </div>
            <div class="small-12 medium-4 cell flex-container flex-dir-column">
                <a class="callout color orange flex-child-shrink">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Follow Up on an Existing Concern</h3>
            </a>
                <div class="flex-child-grow">
				    <h4 class="text-center">What Do I Need to Submit a Report?</h4>
				    <p>In order to ensure that UT Health San Antonio has enough information to conduct a proper investigation, you will be asked to provide the following types of information:</p>
                    <ul>
                    <li>Location</li>
    <li>Type of Issue</li>
    <li>Persons Involved</li>
    <li>Incident Details</li>
</li></ul>
<p>You may attach files related to the issue being reported.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <div class="cell small-12 medium-12 large-12">
                <p>You may also report suspected fraud, waste, and abuse to the U.S. Department of Health and Human Services Office of Inspector General [800-HHS-TIPS (800-447-8477)] or the State Auditor’s Office Hotline 800-TX-AUDIT (800-892-8348). The State Auditor’s Office provides additional information at its website, <a>http://sao.fraud.state.tx.us</a>.</p>
<p><strong>The Compliance Hotline is NOT a 911 or Emergency Service.</strong> Do not use this site to report events presenting an immediate threat to life or property. Reports submitted through this service may not receive an immediate response. If you require emergency assistance, please contact your public emergency services.</p>
</div>
        </div>
    </div>
</section>

<footer class="flatten">
    <div class="shield">
        <section class="grid-container">
            <div class="grid-x grid-margin-x align-center-middle">
                <div class="cell large-12">
                    <h2>UT Health San Antonio</h2>
                </div>
                <div class="cell large-3 medium-4 small-10">
                    <div class="contact">
                        <a href="#" class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                        </a>
                        <a href="#">210-450-0000</a> 
                    </div>
                    <div class="contact">
                        <a href="#" class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                        </a> 
                    
                        <address>
                            7703 Floyd Curl Drive<br>
                            San Antonio, TX 78226<br>
                            <a href="#" class="arrow">Map and directions</a>
                        </address>
                    </div>
                    <div class="contact">
                        <a href="#" class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </a>
                        <a href="#">email@uthscsa.edu</a> 
                    </div>
                    
                </div>
                <div class="cell large-3 medium-4 small-10">
                    <ul>
                        <li><a href="#" class="arrow">About us</a></li>
                        <li><a href="#" class="arrow">Contact us</a></li>
                        <li><a href="#" class="arrow">Faculty directory</a></li>
                        <li><a href="#" class="arrow">Job opernings</a></li>
                        <li><a href="#" class="arrow">Newsroom</a></li>
                    </ul>

                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell large-5 medium-4 small-10">
                    <p class="large-text">We make lives better ®</p>
                    <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
                </div>
                <div class="cell large-1 medium-0 small-0"></div>
            </div>    
        </section>
    </div>
    <section class="bleed">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
                </div>
            </div>
        </div>
    </section>
</footer>