<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Collaborations</a></li>
                <li><a href="#">Core Labs</a></li>
                <li><a href="#">Responsible Conduct of Research</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Research Areas</a></li>
                <li><a href="#">Researchers</a></li>
            </ul>
        </div>
    </div>
</nav>