<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell quickfact color small-12 medium-6 large-4 text-center">
            <h3>Quickfacts</h3>
            <h4>###</h4>
            <p>This is a quickfact. It is a fact that hits quick.</p>
            <h4>###</h4>
            <p>This is a quickfact. It is a fact that hits quick.</p>
            <h4>###</h4>
            <p>This is a quickfact. It is a fact that hits quick.</p>
            <h4>###</h4>
            <p>This is a quickfact. It is a fact that hits quick.</p>
        </div>
    </div>
</div>