{% include "@components/header-prototypes/header-facility-space.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>University Scheduling</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-facility-space.twig" %}

<section>
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <main class="cell small-12 medium-7 large-8">
                <p>The University Scheduling office is responsible for the scheduling of all academic and non academic
                    events of the HSC. Included in this responsibility is the scheduling of rooms for all academic
                    courses of the five schools comprising the HSC, and all non-curricular events sponsored or hosted by
                    university departments. Additionally, University Scheduling also publishes a variety of calendars to
                    inform students, faculty, and staff of locations for classes and events, including those scheduled
                    on all HSC campuses in South Texas.</p>

                <p>Registered student, faculty, and staff organizations may reserve facilities for authorized meetings,
                    study-group workshops, lectures, receptions, and other events through University Scheduling.
                    Available facilities include a wide range of large and small classrooms, lecture halls, the Holly
                    Auditorium, and several breezeways and courtyards in outdoor areas. To reserve a room for your next
                    event, complete the Room Reservation Request form online and e-mail <a
                        href="mailto:scheduling@uthscsa.edu">scheduling@uthscsa.edu</a> . For additional information
                    please call 562-5695 or visit the University Scheduling office located in Building 8.</p>


                <h3 class="h4 margin-top">Contact Us</h3>

                    <ul class="inline">
                        <li><strong>Rosa Ramirez</strong><br>
                            Academic Programs Coordinator<br>
                            <a>RamirezRS@uthscsa.edu</a><br>
                            (210) 567-2656</li>

                        <li><strong>Sonia Lopez</strong><br>
                            Administrative Asst – Senior<br>
                            <a>LopezS0@uthscsa.edu</a><br>
                            (210) 567-2655</li>

                        <li><strong>Judy Villarreal</strong><br>
                            Administrative Asst – Associate<br>
                            <a>villarrealj7@uthscsa.edu</a><br>
                            (210) 562-5695</li>
                    </ul>

            </main>
            <aside class="cell small-12 medium-5 large-4">

                <div class="callout beige lines">

                <h3 class="h4">Resources</h3>
                    <ul class="">
                        <li><a class="external">Class Schedules</a></li>
                        <li><a class="file">Room Request Forms</a></li>
                        <li><a class="file">Room Use Guidelines</a></li>
                        <li><a class="file">AL and TC Classroom Layout</a></li>
                        <li><a class="file">AL and TC Scheduling Policy</a></li>
                        <li><a class="external">Rooms for Nursing Mothers</a></li>
                    </ul>

                </div>
            </aside>
        </div>
    </div>
</section>


{% include "@components/footer-prototypes/facility-space-footer.twig" %}