{% include "@components/quicklinks/quicklinks-basic.twig" %}

<header class="title-bar" data-responsive-toggle="header">
    <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
    <button class="menu-icon" type="button" data-toggle="header">Menu</button>
</header>
<header class="off-canvas-content" id="header" data-off-canvas-content>
    <div class="group">
        <div class="logo small">
            <a href="#"><img src="../../images/UTHSA_logo.svg" alt="UT Health San Antonio"></a>
        </div>
        <div class="right">
            <div class="circle-icons">
                <a href="#">
                    <span class="fa-stack outline">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file-import fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>File an anonymous report</span>
                </a>
                <a href="#">
                    <span class="fa-stack outline">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Request ADA accommodations</span>
                </a>
                <a href="#" data-toggle="offCanvasRight">
                    <span class="fa-stack outline">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Search/Quicklinks</span>
                </a>
            </div>
        </div>
    </div>
    <nav class="nav-bar" id="nav-bar-mobile">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Title IX</a></li>
                <li><a href="#">ADA Compliance</a></li>
                <li><a href="#">Prevention & Education</a></li>
                <li><a href="#">Resources</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>