{% include "@components/header-prototypes/header-cprit.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-8">
				<h1>About</h1>
				<p>Through the combined efforts of Drs. Houghton, Kurmasheva and Zheng at GCCRI with support from the Cancer Prevention and Research Institute of Texas (CPRIT, Texas Pediatric Patient Derived Xenograft Facility, RP160716) we have generated approximately 160 new models of pediatric cancers.</p>
</p>
				<p><a href="#" class="button">Our Team</a></p>
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-cprit.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2>Key Accomplishments</h2>
                <p>
                <ol>
		<li>
                Eighty-one new PDX models of solid tumors have been established as xenografts in NSG mice. Germline sequencing has been completed for most samples. Models have been derived from predominantly Hispanic patients and thus represent a unique cohort for preclinical drug development. Hepatoblastoma models (n=15) have been incorporated into the <a>NCI/PIVOT</a> pediatric in vivo testing program and it is proposed to incorporate many of the solid tumor PDX models into the European ITCC-P4 program to develop new drugs for pediatric cancer. Molecular characterization can be obtained from the <a href="http://www.pedtranscriptome.org">PCAT portal</a> at GCCRI.</li>


<li>We have developed 79 new patient derived xenograft models of childhood leukemia, 63% derived from Hispanic patients who have poorer outcomes than White children. Notable is that germline sequencing was conducted on 50 samples allowing unambiguous identification of somatic mutations and patient race/ethnicity. PDX models represent high- and low risk Pre B precursor ALL, T-cell ALL and AML. It is proposed to incorporate many leukemia models into the European ITCC-P4 program to develop new drugs for pediatric cancer. 
Patient demographics for all PDX models and molecular characterization of leukemia PDX models can be accessed <a href="http://www.pedtranscriptome.org">here</a>.
</li>


<li>We have sequenced germline, patient tumor and its respective PDX model for over 150 models, thus representing a unique cohort of pediatric preclinical models. In each case whole exome or whole genome sequencing was completed on germline, patient tumor and PDX. For RNA sequencing patient tumor and PDX were analyzed. For 10 leukemia models DNA methylation profiles were obtained from patient tumor and PDX. Of the 82 successfully engrafted leukemic PDXs, 51/82 (62%) were obtained from patients of Hispanic ethnicity. PDX models faithfully reflected somatic mutations, gene copy-number alterations, RNA expression, gene fusions, whole-genome methylation patterns, and immunophenotypes found in PT samples.
70 solid tumor PDX models have been fully characterized, with analysis of 11 still ongoing. We show that PDXs generally recapitulate the genomic and transcriptomic features of the matched PTs. However, 20-30% of the PDXs show evidence of clonal selection. The clonal selection was seeded by a PT subclone that can be either closely or distantly related to the major clone. The patient tumors that underwent clonal selection also showed increased antitumor immunity. These data collectively suggest more complex, immunosuppressed tumors may be prone to clonal shifts when engrafted into immunodeficient mice.</li>

<li>A database with web portal, “<a href="https://qbrc.swmed.edu/projects/pdx">Pediatric PDX Explorer</a>”, has been developed and deployed to the public domain. The portal allows users to view all of the PDX models that have been established and explore the associated patient demographic, clinical, molecular, and pathologic characteristics. Currently, the database hosts data from 193 patients across four institutions from whom PDX models have been established. Users can filter and identify the patients/PDXs of interest based on various demographic, clinical, sample, genomic, and imaging variables (24 variable filters in total). The associated data and metadata of biospecimen samples (n = 833), PDX samples (n = 155), and pathology images (n = 1214) are also made accessible to registered users and are managed and updated in real time by a dedicated team using the built-in Sample Management module. The links are established between patients, biospecimen-generating procedures, derived samples, and pathology images. High-resolution pathology images can be visualized through a built-in image viewer. The portal also provides online visualization and analysis of the genomic data (WES, WGS, RNAseq, and DNA methylation). Users can request samples of interest and access the project-generated genomic data through the portal.</li></ol>
<p><a class="arrow">Learn more about our project</a></p></p>

            </main>
            <aside class="small-12 medium-4 cell">
            <div class="callout outline cell">
                    <h3 id="contact-us">Contact</h3>
                        <p class="close"><strong>Peter Houghton, Ph.D.</strong><br>
                        Professor & Principal Investigator</p>
                        <address>
                            210-562-9056<br>
                            <a href="mailto:houghtonp@uthscsa.edu">houghtonP@uthscsa.edu</a>
                            </address>
                </div>
                        <a class="callout color blue">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-flask fa-stack-1x fa-inverse"></i>
                </span>
                <h3>PIVOT Project</h3>
            </a>
              <a class="callout color orange margin-bottom">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Publications</h3>
            </a>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}