{% include "@components/header v2/header-LSOM.twig" %}
<section class="hero bleed img-fill full">
	<img src="https://www.uthscsa.edu/sites/default/files/2018/b2.png" alt="placeholder">
	<div class="grid-container">
		<div class="grid-x margin-x">
            <div class="cell large-offset-8 large-4 medium-4 small-12">
                <div class="callout">
                    <h1>Research</h1>
                    <p>The research conducted by Long School of Medicine faculty reaches further than the immediate outcome of publications, presentations, and even awards. Research changes lives.</p>
                    <p><a href="https://lsom.uthscsa.edu/office-research/" class="button">Office for Research</a></p>
                </div>
            </div>
        </div>
	</div>
</section>
{% include "@components/navigation/navbar-LSOM.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-offset-1 large-3 medium-4 small-12">
      <img src="https://www.uthscsa.edu/sites/default/files/2018/4114-grd_univtxhealthscicen-sanantonio_med_usn_medres_2023.png" alt="">
    </div> 
    <div class="cell large-8 medium-8 small-12">
      <h2>Bench to bedside and beyond</h2>
      <p>Long School of Medicine faculty are international leaders in behavioral health, neuroscience, imaging research, cancer, diabetes, healthy development and aging, and many other fields.</p>
      <p><a href="https://www.uthscsa.edu/academics/medicine/research/bench-bedside" class="button">More on cutting edge reseach</a></p>
    </div>
  </div>
</section>
<section class="bleed color orange noise">
  <div class="grid-container">
    <div class="grid-x text-center align-center factoids">
      <div class="cell large-4 medium-4 small-12">
        <p class="supersize">Top 40</p>
        <p>FY20 Blue Ridge Institute for Medical Research rank</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p class="supersize">~1000</p>
        <p>peer-reviewed articles published in FY20</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p class="supersize">$134.1M</p>
        <p>in organized research awards in FY20</p>
      </div>
    </div>
  </div>
</section>

<section class="bleed beige">
  <div class="grid-container img-bleed-left">
    <div class="grid-x align-middle">
      <div class="cell large-6 medium-6 small-12">
        <img src="https://www.uthscsa.edu/sites/default/files/2018/247_165_13070105_3777350908_6.jpg" alt="">
      </div>
      <div class="cell large-6 medium-6 small-12">
        <div class="callout white jump-left">
          <h2>Meet our researchers</h2>
          <p>Our researchers are dedicated to translating discoveries into strategies and therapies that address real-world needs.</p>
          <p><a class="button ghost" href="https://scholars.uthscsa.edu/en/organisations/joe-r-teresa-lozano-school-of-medicine/persons/">Our researhcers</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell small-10 medium-10 large-10 text-center">
      <h2>Researcher spotlight</h2>
    </div>
    <div class="cell small-12 medium-6 large-6">
      <a href="https://news.uthscsa.edu/physician-scientists-innovative-interdisciplinary-diabetes-research-funded-by-the-doris-duke-charitable-foundation/">
        <img class="margin-bottom" src="https://www.uthscsa.edu/sites/default/files/2018/herrera-solis_feature.jpg" alt="">
        <h3>Carolina Solis-Herrera, M.D.</h3>
      </a>
      <p>Carolina Solis-Herrera, M.D., is a Assistant Professor of Medicine at the Joe R. and Teresa Lozano Long School of Medicine at UT Health San Antonio and the Medical Director of the Diabetes Clinic at UT Health Physicians’ Medical Arts and Research Center (MARC). Dr. Solis-Herrera is the recipient of the prestigious 2021 Doris Duke Charitable Foundation (DDCF) Clinical Scientist Development Award. Her innovative and high-impact research focuses on sodium-glucose transport protein 2 (SGLT2) inhibitors, a class of medications used to treat Type 2 diabetes. Hers was the only diabetes-related project among the 20 selected from a total of 254 submissions from around the country and the only project led by a physician-scientist in the Southwestern United States, including Texas.</p>
    </div>
    <div class="cell small-12 medium-6 large-6">
      <a href="https://news.uthscsa.edu/david-gius-receives-ut-system-award-to-advance-research-on-aging-and-breast-cancer/">
        <img class="margin-bottom" src="https://www.uthscsa.edu/sites/default/files/2018/gius_feature.jpg" alt="">
        <h3>David Gius, M.D., Ph.D.</h3>
      </a>
      <p>David Gius, M.D., Ph.D., is the Associate Cancer Director of Translation Research, Assistant Dean for Research and Professor of Radiation Oncology at the Joe R. and Teresa Lozano Long School of Medicine at UT Health San Antonio. Dr. Gius has been awarded a $1.6 million UT System Faculty STARs award to support his research on aging and breast cancer. The award will be used to purchase advanced equipment that will allow him and other researchers to look at the connection between aging, metabolism and the development of high-risk estrogen receptor-positive breast cancer. This advanced equipment will allow him and other researchers to look at the connection between aging, metabolism and the development of high-risk estrogen receptor-positive breast cancer.</p>
    </div>
  </div>
</section>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y align-center-middle">
      <div class="cell large-12 medium-12 small-12 text-center">
        <h2>Upcoming events</h2>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <div class="grid-x grid-margin-x">
          <div class="cell large-3 medium-3 small-12">
            <a href="#">
              <div class="datebox">
                <div class="month">jan</div>
                <div class="day">10</div>
              </div>
            </a>
          </div>
          <div class="cell large-9 medium-9 small-12">
            <p><strong><a>LSOM Research Symposium: From Discovery to Translation</strong></a></p>
            <p class="close">Monday, April 18, 2022</p>
            <p>Holly Auditorium</p>
          </div>
        </div>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <div class="grid-x grid-margin-x grid-margin-y">
          <div class="cell large-3 medium-3 small-12">
            <a href="#">
              <div class="datebox">
                <div class="month">jan</div>
                <div class="day">10</div>
              </div>
            </a>
          </div>
          <div class="cell large-9 medium-9 small-12">
            <p><strong><a>LSOM Research Symposium: From Discovery to Translation</strong></a></p>
            <p class="close">Monday, April 18, 2022</p>
            <p>Holly Auditorium</p>
          </div>
        </div>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <div class="grid-x grid-margin-x">
          <div class="cell large-3 medium-3 small-12">
            <a href="#">
              <div class="datebox">
                <div class="month">jan</div>
                <div class="day">10</div>
              </div>
            </a>
          </div>
          <div class="cell large-9 medium-9 small-12">
            <p><strong><a>LSOM Research Symposium: From Discovery to Translation</strong></a></p>
            <p class="close">Monday, April 18, 2022</p>
            <p>Holly Auditorium</p>
          </div>
        </div>
      </div>
      <div class="cell large-8 medium-8 small-12 text-center">
        <p><a class="button ghost">View all events</a></p>
      </div>
    </div>
  </div>
</section>
{% include "@blocks/footer/LSOM-no-alamo.twig" %}