<div class="title-bar global-bar">
    <div class="title-bar-left"></div>  
    <div class="title-bar-right">
        <p><a href="#"><i class="fas fa-star"></i> Part of UT Health San Antonio</a></p>
    </div>
</div>