<nav class="nav-bar" id="nav-bar-full">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Our Clinics</a></li>
        <li><a href="#">Course Electives</a></li>
        <li><a href="#">Faculty</a></li>
        <li><a href="#">ENGAGED</a></li>
      </ul>
    </div>
  </div>
</nav>