{% include "@components/header-prototypes/header-oess.twig" %}

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8 large-8 small-12">
        <h1>Pregnant and/or Parenting Students</h1>
        <p>“No person in the United States shall, on the basis of sex, be excluded from participation in, be denied the benefits of, or be subjected to discrimination under any education program or activity receiving Federal financial assistance."</p>
        <p>U.S. Department of Education Office for Civil Rights<br> Revised April 2015</p>
        </p>
      </div>
      <div class="cell medium-4 large-4 small-12">
<img src="../../images/OESS/2019_08-FP2667-Title-IX-MOTIF2.png" alt="Title IX Logo">
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-oess.twig" %}

<section class="bleed">
  <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <main class="small-12 medium-7 large-8 cell">
        
<h3 class="h4">What does Title IX say about pregnant and/or parenting students?</h3>
<p>Title IX makes it illegal to discriminate because of sex, which includes discrimination on the basis of pregnancy, childbirth, false pregnancy, miscarriage, abortion, or related conditions, including recovery. Title IX also ensures the right to take medically necessary leave and to be free of harassment, intimidation, or other discrimination because of pregnancy-related conditions.</p>

<h4>Key facts about Title IX as it applies to pregnancy, childbirth and related conditions:</h4>
<p><div><ul>
		<li>Title IX is a federal law that prohibits discrimination on the basis of sex and therefore protects pregnant and parenting students and postdocs.</li>
		<li>Title IX requires accommodations and services be provided to pregnant students, with at least the same special services as it provides to students with other temporary conditions.</li>
		<li>Title IX requires excused absences for medically necessary leave for pregnancy, childbirth, or related conditions.</li>
		<li>Title IX covers all aspects of an educational program. This includes school-sponsored extracurricular activities and internships, athletics, financial aid and scholarships, career counseling, and lab and clinical work.</li>
    <li>A complaint process must be provided by your school under Title IX.</li></div>
	</ul></p>

  <h4>Know Your Rights</h4>

    <ul class="accordion blue" data-accordion data-allow-all-closed="true">
              <li class="accordion-item text-left" data-accordion-item>
        <a href="#" class="accordion-title"><strong>Accommodations</strong></a>
        <div class="accordion-content" data-tab-content>
<p>Pregnancy, childbirth, false pregnancy, termination of pregnancy, and resulting disability or recovery must be treated the same as any temporary disability for all job-related purposes, including the provision of accommodations and other services. Additionally, you may be entitled to accommodation of your pregnancy-related disability under the Americans with Disabilities Act.</p>            
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><strong>Working at School while Pregnant and/or Parenting</strong></a>
        <div class="accordion-content" data-tab-content>
          
        <p>Under Title IX, schools are prohibited from asking job applicants about their marital status or penalizing them because of their marital or parental status.Title IX requires, at a minimum, school employees be provided unpaid pregnancy and/or childbirth-related leave for a “reasonable” period of time and
employees cannot be penalized for that leave with lower pay or loss of promotion opportunites or privileges.</p>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><strong>Financial Aid & Scholarships</strong></a>
        <div class="accordion-content" data-tab-content>
          
        <p>Students cannot lose a university-sponsored scholarship or fellowship as a result of pregnancy – such a policy would be treating the individual differently as a result of sex and parental status. However, taking leave may have an impact on student loans, depending on registration status during the student’s time off. Be sure to meet with the financial office before taking any extended absence.</p>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><strong>Extracurricular Activities</strong></a>
        <div class="accordion-content" data-tab-content>
          
        <p>Pregnant students are also protected by Title IX in extracurricular activities. Participation in a university club, student group, academic society, etc. can’t be limited because of pregnancy or a related condition. The club could request a note saying it is safe for the student to participate, but only if it requires other students with conditions requiring a doctor’s care to bring in notes.</p>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><strong>Lactation</strong></a>
        <div class="accordion-content" data-tab-content>
          
        <p>Schools are already required to provide employees with space to express breast milk. You can ask for access to one of these spaces, which must be shielded from view and free from intrusion, and cannot be a bathroom. If a student’s inability to get an education is limited because there is no suitable space for the student to pump, that is likely a violation of Title IX.</p>
<p>In accordance with UT Health San Antonio’s Breastfeeding and Expression of Breast Milk on Campus Policy (HOP 4.8.11), designated, private locations for mothers to breastfeed or express milk on campus
as well as an access request form, can be found by clicking on the link provided under the Title IX & Pregnant and/or Parenting Students section via the Title IX website’s About tab or by visiting UT Health San Antonio’s Human Resources, Rooms for Nursing Mothers webpage. Access request forms must be submitted to Leigh Ann Kensky at <a>kensky@uthscsa.edu</a>.</p>
        </div>
      </li>
            </main>
          <aside class="small-12 medium-4 cell">
          <div class="cell small-12 medium-6 large-4">
          <div class="grid-x grid-margin-x">
          <div class="cell auto card">
            <div class="card-section">
                 <h3 class="h5">Location</h3>
                 <address>
                  <strong>Office of Educational Support Services</strong><br>
						      UT Health San Antonio<br>
						      7703 Floyd Curl Drive<br>
                  ALTC, B106<br>
						      San Antonio, TX 78229
                  </address>
                  <ul class="fa-ul">
            <li>
							<a>
								<span class="fa-li">
									<span class="fa-stack">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fas fa-map fa-stack-1x fa-inverse"></i>
									</span>
								</span>
								<span>View Map</span>
							</a>
						</li>
					</ul>
        </div></div>
                    </div>
            <a class="callout color orange cell" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-list-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h3 id="service-button">Report a Title IX Incident</h3>
            </a> 
            <a class="callout color grey cell" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <h3 id="service-button">Contact Us</h3>
            </a> 
          </div>
          </aside>
  </div>
  </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>