{% include "@components/header-prototypes/header-ced.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>Education</h1>
                <p>Lemon drops soufflé carrot cake sugar plum cake brownie bear claw. Cheesecake donut tart toffee halvah chocolate muffin jelly-o. Wafer muffin lemon drops dragée donut candy canes. Jelly brownie lollipop caramels lemon drops. Halvah chupa chups chocolate cake icing toffee sugar plum tiramisu.</p>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-ced.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle text-center">
        <div class="cell large-6 medium-6 small-12">
            <a href="https://lsom.uthscsa.edu/endocrinology/fellowship/">
                <img src="https://lsom.uthscsa.edu/endocrinology/wp-content/uploads/sites/43/2022/10/large-group.jpg">
                <h2>Fellowships</h2>
            </a>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <a>
                <img src="https://placedog.net/580/387">
                <h2>Exchange Programs</h2>
            </a>
        </div>
        

    </div>
</section>





{% include "@components/footer-prototypes/ced-footer.twig" %}
