{% include "@components/header-prototypes/header-cb-hospital.twig" %}

<section class="hero gradient left grey bleed img-fill">
  <img src="../../images/keyboard-steth.png">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-left">
      <div class="small-12 medium-5 cell callout grey">
        <h1>Treatments & Specialties</h1>
        <p>Dessert cotton candy pie donut shortbread lemon drops. Tootsie roll pastry topping gummi bears tootsie roll wafer pudding cake. Danish carrot cake caramels apple pie tootsie roll jelly-o chocolate bar. Shortbread chocolate oat cake gummies wafer. Carrot cake candy canes jelly beans croissant toffee wafer.</p>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-cb-hospital.twig" %}
<main class="grid-container" >
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-4 medium-4 small-12">
      <div class="lines">
        <ul>
          <li><a href="#">Lemon drops liquorice </a></li>
          <li><a href="#">Sweet roll dragée chupa chups</a></li>
          <li><a href="#">Cheesecake halvah wafer sugar plum</a></li>
          <li><a href="#">Jelly-o tart</a></li>
        </ul>
      </div>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <div class="lines">
        <ul>
          <li><a href="#">Marzipan carrot cake</a></li>
          <li><a href="#">Gingerbread tart</a></li>
          <li><a href="#">Biscuit soufflé oat cake</a></li>
          <li><a href="#">Chocolate sesame jelly beans </a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<section class="bleed beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-8 medium-8 small-12">
        <h2>Featured heading</h2>
        <p>Tart bear claw bonbon chocolate cake lemon drops liquorice shortbread gummies. Powder pie toffee cupcake shortbread dessert cookie. Tootsie roll brownie chocolate cake candy canes toffee muffin pudding marshmallow. Candy canes cake donut wafer gingerbread. Topping gingerbread sweet shortbread donut donut. Cake donut cotton candy pastry gummi bears cheesecake.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <img src="http://placekitten.com/800/450" alt="">
      </div>
    </div>
  </div>
</section>
{% include "@components/footer-prototypes/cb-hospital-footer.twig" %}