{% include "@components/header-prototypes/header-barshop.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-8 medium-8 small-12">
				<h1>Predoctoral and Postdoctoral Training</h1>
                <p class="large">With guidance from program leaderships, students will select their laboratory rotations, graduate discipline, and eventually, their supervising professors from an outstanding array of distinguished members of the graduate faculty.</p>
                
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-barshop.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12">
            <h3>Graduate Programs</h3>
            <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2019/11/BOA-Students-e1581087989472-1536x821.jpg" alt="" style="height:400px;">
            
            <div class="lines">
                <ul>
                    <li><a href="#">PhD in the Biology of Aging</a></li>
                    <li><a href="#">MD/PhD Dual Degree</a></li>
                    <li><a href="#">Current Biology of Aging Students</a></li>
                    <li><a href="#">NIA T32 Training Program for Research Scientists in the Biology of Aging</a></li>
                </ul>
            </div>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <h3>Postdoctoral and Faculty Training</h3>
            <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2020/09/PostdocEducation-1.jpg" alt="" style="height:400px;">
            
            <div class="lines">
                <ul>
                    <li><a href="#">NIA T32 Training Program for Research Scientists in the Biology of Aging</a></li>
                    <li><a href="#">Current Biology of Aging Postdoctoral Fellows</a></li>
                    <li><a href="#">Prospective Postdoctoral Fellows</a></li>
                    <li><a href="https://sapepper.barshop.uthscsa.edu/rec/">San Antonio OAIC RL5 Training</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<section class="bleed color orange noise pullquote roomy">
  <div class="grid-container">
		<div class="grid-x grid-margin-x align-center-middle">
			<div class="cell small-12 medium-9 large-9">
				<blockquote>
					<p class="large">I was attracted to the work being done at the Barshop Institute because their faculty were using powerful techniques to interrogate the prominent (some might say dogmatic) oxidative stress theory of aging. The school offered a chance to study exactly what I’m interested in, alongside scientists who tackle the most important questions. That’s hard to turn down.</p>
					<cite>Brian Stoveken </cite>
          
				</blockquote>
			</div>
      <div class="cell small-12 medium-3 large-3">
        <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2018/08/P1000438_Fotor22.jpg" alt="">
      </div>
		</div>
	</div>
</section>

{% include "@components/footer-prototypes/barshop-footer.twig" %}