<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y small-up-1 large-up-4">
            <a class="card cell">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>Pommy ipsum earwig tad morris dancers pulled a right corker bog off lug hole have a gander, gob
                        pezzy little bobby proper picalilly nose rag.</p>
                </div>
            </a>
            <a class="card cell">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>Pommy ipsum earwig tad morris dancers pulled a right corker bog off lug hole have a gander, gob
                        pezzy little bobby proper picalilly nose rag.</p>
                </div>
            </a>
            <a class="card cell">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>Pommy ipsum earwig tad morris dancers pulled a right corker bog off lug hole have a gander, gob
                        pezzy little bobby proper picalilly nose rag.</p>
                </div>
            </a>
            <a class="card cell">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Interactive Card</h4>
                    <p>Pommy ipsum earwig tad morris dancers pulled a right corker bog off lug hole have a gander, gob
                        pezzy little bobby proper picalilly nose rag.</p>
                </div>
            </a>
        </div>
    </div>
</section>