{% include "@components/header-prototypes/header-facility-space.twig" %}
{% include "@components/navigation-prototypes/navbar-facility-space.twig" %}

{% include "@components/navigation/breadcrumbs.twig" %}

<div class="grid-container">
    <h1>Spring 2024 Schedule</h1>
    <div class="grid-x grid-margin-x">


        <div class="cell callout small-12 medium-6 large-4">
            <h2 class="ruled h3">Dental School</h2>
            <div class="arrow indent-list loose-list">
                <ul class="">
                    <li><a>DH Juniors</a></li>

                    <li><a>DH Seniors</a></li>

                    <li><a>DS I</a></li>

                    <li><a>DS II</a></li>

                    <li><a>DS III</a></li>

                    <li><a>DS IV</a></li>
                </ul>

            </div>
        </div>

        <div class="cell callout small-12 medium-6 large-4">
            <h2 class="ruled h3">Advanced Dental</h2>
            <div class="arrow indent-list loose-list">
                <ul class="">
                    <li><a>ENDO C1,C2, MS3</a></li>

                    <li><a>PERIO C1</a></li>

                    <li><a>PERIO MS2</a></li>

                    <li><a>PERIO MS3</a></li>

                </ul>

            </div>
        </div>

        <div class="cell callout small-12 medium-6 large-4">
            <h2 class="ruled h3">Graduate School of Biomedical Sciences</h2>
            <div class="arrow indent-list loose-list">
                <ul class="">
                    <li><a>Biochemistry & Struct Bio</a></li>

                    <li><a>Biomedical Engineering</a></li>

                    <li><a>Cell Systems & Anatomy</a></li>

                    <li><a>Cellular & Integ Physiology</a></li>

                    <li><a>Integrated Biomedical Sciences</a></li>

                    <li><a>Microbiology & Immunology</a></li>

                    <li><a>Medicine-MCSI</a></li>

                    <li><a>Molecular Medicine</a></li>

                    <li><a>Microbiology & Immunology</a></li>

                    <li><a>Pharmacology</a></li>

                    <li><a>Radiological Sciences</a></li>

                    <li><a>Integ Biomed Sciences</a></li>

                </ul>

            </div>
        </div>


        <div class="cell callout small-12 medium-6 large-4">
            <h2 class="ruled h3">School of Health Professions</h2>
            <div class="arrow indent-list loose-list">
                <ul class="">
                    <li><a>BS Med Science First Year</a></li>

                    <li><a>BS Med Science Second Year</a></li>

                    <li><a>DPT I</a></li>

                    <li><a>DPT II</a></li>

                    <li><a>Med Lab Sciences</a></li>

                    <li><a>MPAS I</a></li>
                    <li><a>MPAS II</a></li>
                    <li><a>MPAS III</a></li>
                    <li><a>MS Imaging Science I</a></li>

                    <li><a>MS Imaging Science II</a></li>

                    <li><a>MS-SLP</a></li>
                    <li><a>RC Year 1</a></li>

                    <li><a>RC Year 2</a></li>
                </ul>

            </div>
        </div>

        <div class="cell callout small-12 medium-6 large-4">
            <h2 class="ruled h3">School of Medicine</h2>
            <div class="arrow indent-list loose-list">
                <ul class="">
                    <li><a>DEHS</a></li>

                    <li><a>MS I</a></li>

                    <li><a>MS II</a></li>

                    <li><a>MS IV</a></li>
                </ul>

            </div>
        </div>

        <div class="cell callout small-12 medium-6 large-4">
            <h2 class="ruled h3">School of Nursing</h2>
            <div class="arrow indent-list loose-list">
                <ul class="">
                    <li><a>Undergraduate</a></li>

                    <li><a>Graduate</a></li>

                </ul>

            </div>
        </div>

        <div class="cell callout small-12 medium-6 large-4">
            <h2 class="ruled h3">School of Public Health</h2>
            <div class="arrow indent-list loose-list">
                <ul class="">
                    <li><a>School of Public Health</a></li>
                </ul>

            </div>
        </div>

    </div>
</div>



{% include "@components/footer-prototypes/facility-space-footer.twig" %}