{% include "@components/header/global-bar.twig" %}
{% include "@components/header/level-2.twig" %}
{% include "@components/navigation/navbar.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x ">
			<div class="cell medium-12 large-9">
				<h1>Beverly Crusher, M.D.</h1>
				<p class="text-accent bold"> <i class="fas fa-notes-medical"></i> <em>Accepting New Patients</em></p>
				<div class="grid-x grid-margin-x">
					<div class="cell medium-4 large-4">
						<h2 class="h5"> Practice Locations</h2>
						<ul class="no-bullet">
							<li><a>Neurosurgery - Medical Arts and Research Center - MARC</a></li>
							<li><a>210-450-9060</a></li>
						</ul>
						<ul class="no-bullet">
							<li><a>Neurosurgery - Medical Arts and Research Center - MARC</a></li>
							<li><a>210-450-9060</a></li>
						</ul>
						<ul class="no-bullet">
							<li><a>Neurosurgery - Medical Arts and Research Center - MARC</a></li>
							<li><a>210-450-9060</a></li>
						</ul>
					</div>
					<div class="cell medium-4 large-4">
						<h2 class="h5"> Specialities</h2>
						<ul>
							<li>Primary care</li>
							<li>Emergency medicine</li>
							<li>Xenobiology</li>
							<li>Transporter psychosis</li>
						</ul>
					</div>
					<div class="cell medium-4 large-4">
						<h2 class="h5"> Languages</h2>
						<ul>
							<li>English</li>
							<li>Spanish</li>
							<li>Klingon</li>
					</div>
				</div>
				<p class="black">If you are a patient of Beverly Crusher, you can:</p>
				<div class="grid-x grid-margin-x margin-bottom">
					<div class="cell medium-12 large-4">
						<a>
							<span class="fa-stack">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fas fa-comments  fa-stack-1x fa-inverse"></i>
							</span>
							<span>Message via MyChart</span>
						</a>
					</div>
					<div class="cell auto">
						<a>
							<span class="fa-stack">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fas fa-calendar-alt  fa-stack-1x fa-inverse"></i>
							</span>
							<span>Appointment via MyChart</span>
						</a>
					</div>
				</div>
			</div>
			<div class="cell medium-12 large-3">
				<img src="https://placedog.net/450/550" alt="adorable pup" class="margin-bottom">
				<div class="grid-x grid-margin-x">
					<div class="cell medium-12 large-4">
						<img src="https://placedog.net/150/100" alt="adorable pup" class="img-margin">
					</div>
					<div class="cell medium-12 large-4">
						<img src="https://placedog.net/150/100" alt="adorable pup" class="img-margin">
					</div>
					<div class="cell medium-12 large-4">
						<img src="https://placedog.net/150/100" alt="adorable pup" class="img-margin">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<div class="cell medium-12 large-12">
				<h2 class="h5"> Qualifications</h2>
				<div class="grid-x grid-margin-x margin-bottom ">
					<div class="cell medium-12 large-3">
						<ul class="no-bullet">
							<li class="bold">Medical School</li>
							<li>Starfleet Medical Academy</li>
						</ul>
					</div>
					<div class="cell medium-12 large-3">
						<ul class="no-bullet">
							<li class="bold">Residency</li>
							<li>University of Texas Health Science Center at San Antonio</li>
						</ul>
					</div>
					<div class="cell medium-12 large-3">
						<ul class="no-bullet">
							<li class="bold">Fellowships</li>
							<li>University of Texas Health Science Center at San Antonio</li>
						</ul>
					</div>
					<div class="cell medium-12 large-3">
						<ul class="no-bullet">
							<li class="bold">Board Certification:</li>
							<li> Federation Board of Family Medicine</li>
							<li>Tellarite Board of Obesity Medicine</li>
						</ul>
					</div>
				</div>
				<h2 class="h5"> About Provider</h2>
				<p>
					Commander Beverly C. Crusher, MD (née Howard) was the chief medical officer aboard the USS
					Enterprise-D and its successor, the USS Enterprise-E, both under the command of Captain Jean-Luc
					Picard. She briefly left her post as CMO of the Enterprise-D to become head of Starfleet
					Medical, only to return shortly after. She was a Fellow of the Academy of Starfleet Surgeons
					(Sol Chapter). (TNG: "Encounter at Farpoint", "Attached", "The Child", "Evolution"; TNG-R:
					"Conundrum"; Star Trek: First Contact).
				</p>
				<p>
					As a fully-certified bridge officer, Crusher commanded the Enterprise-D on several occasions,
					most notably in 2370 while nearly the entire crew was searching for Data on a renegade Borg
					planet. The ship was attacked by a Borg vessel, but her quick thinking allowed the Enterprise to
					escape and destroy the Borg ship. (TNG: "Descent", "Descent, Part II") She also occasionally
					commanded night watch shifts in order to stay on top of starship operations. (TNG: "Thine Own
					Self").
				</p>
				<p><a class="arrow">Academic Profile</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="bleed color grey pullquote">
	<div class="grid-container ">
		<div class="grid-x ">
			<div class="cell">
				<blockquote>
					<p>A block quotation (also known as a long quotation or extract) is a quotation in a written
						document, that is set off from the main text as a paragraph, or block of text, and typically
						distinguished visually using indentation and a different typeface or smaller size quotation.
						Blockquotes have no margin/padding of their own and should be placed within another element
						like a bleed.</p>
				</blockquote>
			</div>
		</div>
	</div>
</section>
<section class="bleed light-beige">
	<div class="grid-container ">
		<div class="grid-x margin-x">
			<div class="cell medium-12 large-5">
				<iframe width="425" height="315" src="https://www.youtube.com/embed/07d2dXHYb94"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
			<div class="cell medium-12 large-5">
				<h2 class="h5">In the News </h2>
				<ul class="arrow">
					<li><a>Starfleet Medical appoints Crusher</a></li>
					<li><a>Borg implants and analgesics</a></li>
					<li><a>Motherhood on the flagship of the Federation</a></li>
				</ul>
				<h2 class="h5">Publications </h2>
				<ul class="arrow">
					<li><a>Long term effects of cellular degeneration from continued transport cycles</a></li>
					<li><a>Interspecies obstetrics in the time of COVID</a></li>
					<li><a>Barclay Syndrome and the humanoid reaction</a></li>
				</ul>
			</div>
			<div class="cell medium-12 large-2">
				<img src="../../images/top-doctors-badge.png" alt="badge">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="grid-container">
		<div class="grid-x margin-x">
			<div class="cell medium-12 large-12 align-center">
				<h3 class="align-center">
					Beverly Crusher practices at
					</h3>
			</div>
		</div>
		<div class="grid-x grid-margin-x">
			<a class="card cell small-12 medium-6">
				<div class="align-middle grid-x grid-margin-x">
					<div class="cell small-5">
						<img src="https://picsum.photos/400/250" alt="placeholder image">
					</div>
					<div class="small-5 cell">
						<h5>Sick Bay, Deck 6</h5>
					</div>
				</div>
			</a>
			<a class="card cell small-12 medium-6">
				<div class="align-middle grid-x grid-margin-x">
					<div class="cell small-5">
						<img src="https://picsum.photos/400/250" alt="placeholder image">
					</div>
					<div class="small-5 cell">
						<h5>Sick Bay, Deck 6</h5>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-x grid-margin-x">
			<a class="card cell small-12 medium-6">
				<div class="align-middle grid-x grid-margin-x" >
					<div class="cell small-5">
						<img src="https://picsum.photos/400/250" alt="placeholder image">
					</div>
					<div class="small-5 cell">
						<h5>Sick Bay, Deck 6</h5>
					</div>
				</div>
			</a>
			<a class="card cell small-12 medium-6">
				<div class="align-middle grid-x grid-margin-x">
					<div class="cell small-5">
						<img src="https://picsum.photos/400/250" alt="placeholder image">
					</div>
					<div class="small-5 cell">
						<h5>Sick Bay, Deck 6</h5>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
{% include "@components/footer/alamo.twig" %}