{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-3.twig" %}
<section class="bleed hero">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-7 large-7">
				<h1>Arbitrary Conference</h1>
				<p class="subheader"> February 25-26, 2021</h2>
				<p class=" "> Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy.
					Boba tea time yerba maté kombucha loose leaf baihao yinzhen nokcha keemun turmeric earl grey
					caffeine. Zen fermentation baihao yinzhen zen scented turmeric. </p>
				<p><a href="#" class="button">Register</a></p>
			</div>
			<div class="cell small-12 medium-5 large-5 align-self-middle">
				<img src="https://placedog.net/600/400" alt="adorable pup">
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell small-12 medium-8 large-8">
				<p>
					Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy. Boba tea
					time yerba maté kombucha loose leaf baihao yinzhen nokcha keemun turmeric earl grey caffeine.
					Zen fermentation baihao yinzhen zen scented turmeric. Infuser camellia sinensis puerh gyokuro
					zen tea garden black mint nilgiri turmeric iced kukicha fermentation black london fog. Bamboo
					whisk teahouse genmai sencha focus loose leaf tea time caffeine london fog bamboo whisk infuser.
				</p>
				<p>
					Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy. Boba tea
					time yerba maté kombucha loose leaf baihao yinzhen nokcha keemun turmeric earl grey caffeine.
					Zen fermentation baihao yinzhen zen scented turmeric. Infuser camellia sinensis puerh gyokuro
					zen tea garden black mint nilgiri turmeric iced kukicha fermentation black london fog. Bamboo
					whisk teahouse genmai sencha focus loose leaf tea time caffeine london fog bamboo whisk infuser.
				</p>
				<p>
					Tea garden puerh black tea baihao yinzhen infuser rose hips nepal chamomile energy. Boba tea
					time yerba maté kombucha loose leaf baihao yinzhen nokcha keemun turmeric earl grey caffeine.
					Zen fermentation baihao yinzhen zen scented turmeric. Infuser camellia sinensis puerh gyokuro
					zen tea garden black mint nilgiri turmeric iced kukicha fermentation black london fog. Bamboo
					whisk teahouse genmai sencha focus loose leaf tea time caffeine london fog bamboo whisk infuser.
				</p>
			</main>
			<aside class="cell small-12 medium-4 large-4">
				<div>
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						<li>
							<a href="#" class="is-active">Arbitrary Conference Home</a>
						</li>
						<li><a href="# ">Schedule</a></li>
						<li><a href="#">Conference Information</a></li>
						<li><a href="#">Speakers</a></li>
						<li><a href="#">Photos</a></li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
</section>

{% include "@blocks/footer/alamo.twig" %}