{% include "@components/header-prototypes/header-SHP.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-6 small-12">
                <h1>Giving to the School of Health Professions</h1>

                <p>Your gift can be unrestricted, and open to use across the School of Health Professions, or
                    restricted, and granted to a specific fundraising effort, scholarship, endowment, department or
                    program. Your donation can be a one-time gift, a payroll deduction or an estate-planned donation.
                </p>

                <p><a href="https://makelivesbetter.uthscsa.edu/shpdonate" class="button">Give today</a></p>
            </div>
            <div class="cell large-5 medium-6 small-12">
                <img src="../../images/shp-give.jpg" alt="SCIENCE">
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-SHP.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">
                <h2>Target Your Gift</h2>
                <p>Small excerpt explaining where the contribution will go towards. Pommy ipsum oo ecky thump a bit
                    miffed sling one's hook who brought loaf bovver boots I'd reet fancy
                    a, bossy britches guinness cottage pie quid whizz one would like copped a bollocking, by 'eck love
                    curtain twitching Dalek bogroll doing my nut in codswallop. </p>

                <p>Our established scholarship funds target worthy students:</p>
                <ul>
                    <li>David C. Shelledy Endowed Scholarship in Respiratory Care</li>
                    <li>Presidential Scholarship Endowment</li>
                    <li>Congressman Henry Bonilla Health Professions Scholarship</li>
                </ul>
            </div>

            <div class="cell small-12 medium-5 large-4">
                <a class="callout color orange" href="https://www.uthscsa.edu/academics/health-professions/school-health-professions-scholarships">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Scholarships</h3>
                </a>
            </div>
        </div>
    </div>
</section>


{% include "@blocks/footer/alamo.twig" %}