{% include "@components/header-prototypes/header-tcmhcc.twig" %}

<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
                <h1>Our Programs</h1>
                <p>Loaded to the gunwalls rutters aft boatswain wherry stern mutiny chantey Sail ho poop deck. Run a
                    shot across the bow square-rigged yard belaying pin Davy Jones' Locker loaded to the gunwalls blow
                    the man down fluke spyglass fire in the hole. Chase guns mizzen marooned mizzenmast bilged on her
                    anchor measured fer yer chains fathom Sink me warp mutiny. </p>
            </div>
            <div class="cell small-12 medium-5 large-5 align-self-middle">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tcmhcc.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4">CPAN</h2>
                    <p class="subheader">Child Psychiatry Access Network</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4">TCHATT</h2>
                    <p class="subheader">Texas Child Health Access Through Telemedicine</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4">YAM</h2>
                    <p class="subheader">Youth Aware of Mental Health</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4">We Care Clinic</h2>
                    <p class="subheader">Parent Child Interaction Therapy</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4">Program 5</h2>
                    <p class="subheader">This is a program subheader</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4">Program 6</h2>
                    <p class="subheader">This is a program subheader</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4">Program 7</h2>
                    <p class="subheader">This is a program subheader</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>



{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}