{% include "@components/header-prototypes/header-tcmhcc.twig" %}

<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
                <h1>Our Programs</h1>
                <p>Loaded to the gunwalls rutters aft boatswain wherry stern mutiny chantey Sail ho poop deck. Run a
                    shot across the bow square-rigged yard belaying pin Davy Jones' Locker loaded to the gunwalls blow
                    the man down fluke spyglass fire in the hole. Chase guns mizzen marooned mizzenmast bilged on her
                    anchor measured fer yer chains fathom Sink me warp mutiny. </p>
            </div>
            <div class="cell small-12 medium-5 large-5 align-self-middle">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tcmhcc.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4 close">CPAN</h2>
                    <p class="h6">Child Psychiatry Access Network</p>
                    <p>CPAN provides telehealth-based consultation and training to primary care providers.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4 close">TCHATT</h2>
                    <p class="h6">Texas Child Health Access Through Telemedicine</p>
                    <p>TCHATT provides in-school behavioral telehealth care to at-risk children and adolescents.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4 close">YAM</h2>
                    <p class="h6">Youth Aware of Mental Health</p>
                    <p>YAM intervention is a universal, school-based mental health promotion and suicide primary
                        prevention intervention for adolescents.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4 close">WE CARE</h2>
                    <p class="h6">Wellness for Children and Adolescent Restorative Empowerment </p>
                    <p>WE CARE therapy clinic provides in-person and virtual behavioral health services to children
                        and adolescents.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4 close">CPWE</h2>
                    <p class="h6">Community Psychiatry Workforce Expansion </p>
                    <p>Funds full-time new psychiatric resident rotation and the supervision of therapist associates.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4 close">CAP</h2>
                    <p class="h6">Child and Adolescent Psychiatry </p>
                    <p>CAP fellowships program expands both the number of child and adolescent psychiatry fellowship
                        positions in Texas and the number of these training programs at Texas HRIs.
                    </p>
                </div>
            </a>
            <a class="cell card small-12 medium-5 large-4">
                <img src="https://placedog.net/534/300">
                <div class="card-section">
                    <h2 class="h4">Research Initiative</h2>
                    <p>The research initiative has created two state-wide networks to study and improve the delivery
                        of child and adolescent mental health services in Texas.
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>



{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}