{% include "@components/header-prototypes/header-LSOM.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">
				<h1>Education</h1>
				<p>The Long School of Medicine at UT Health San Antonio is the largest trainer of physicians in South Texas, many of whom remain in San Antonio and the region to practice medicine. With full accreditation by the Liaison Committee on Medical Education (LCME), the school annually educates more than 900 students and trains 800 residents.</p>
				<p><a href="https://www.uthscsa.edu/academics/medicine/about/departments-divisions" class="button">Departments and divisions</a></p>
			</div>
      <div class="large-5 medium-5 small-12">
        <div class="responsive-embed">
          <iframe width="517" height="316" src="https://www.youtube.com/embed/zOp8OInkjPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-3 medium-6 small-12">
      <a href="https://www.uthscsa.edu/academics/medicine/education/ume">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/2019_lsom_white_coat_487_0.jpg" alt="">
        <h2 class="h5">Undergraduate Medical Education</h2>
      </a>
      <p>Your medical education will be supported and enhanced by a cadre of specialists with diverse medical, philosophical, and educational backgrounds.</p>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://www.uthscsa.edu/academics/medicine/education/gme">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/2019_emergency_medicine_001_0.jpg" alt="">
        <h2 class="h5">Graduate Medical Education</h2>
      </a>
      <p>We have approximately 950 residents and fellows representing over 85 specialties, we are steadfastly committed ot training the next generation of outstanding physicians.</p>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://www.uthscsa.edu/academics/medicine/education/cme">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/monthlygrandrounds_58_of_117_0.jpg" alt="">
        <h2 class="h5">Continuing Medical Education</h2>
      </a>
      <p>We assume leadership in bridging current quality gaps in health care delivery by maintaining and enhancing the attitude, knowledge and skills of practicing physicians</p>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://lsom.uthscsa.edu/aes/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/aes_draft_photo.jpg" alt="">
        <h2 class="h5">Academy of Education Scholars</h2>
      </a>
      <p>We facilitate and incentivize LSOM educators to join and build our Academy into a thriving participatory community of experts, mentors, and role-models, whose achievements measurably contribute to the institution, the profession, and the academic career advancement of self and others.</p>
    </div>
  </div>
</section>
<section class="bleed color">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-6">
        <blockquote>
          <p>Excellent conference and speakers. Second year I attended and absolutely great conference.</p>
          <cite>High Risk Pregnancy 2018 Conference</cite>
        </blockquote>
      </div>
      <div class="cell small-12 medium-3">
        <img src="http://placekitten.com/300/400" alt="kitty">
      </div>
    </div>
  </div>
</section>
<section class="grid-container">
  <div class="grid-x align-center-middle">
    <div class="cell large-3 medium-4 small-8">
      <img src="https://www.uthscsa.edu/sites/default/files/2018/4114-grd_univtxhealthscicen-sanantonio_med_usn_medpc_2023.png" alt="placeholder">
    </div>
    <div class="cell large-3 medium-4 small-8">
      <img src="https://www.uthscsa.edu/sites/default/files/2018/4114-grd_univtxhealthscicen-sanantonio_med_usn_medres_2023.png" alt="placeholder">
    </div>
    <div class="cell large-3 medium-4 small-8">
      <img src="https://www.uthscsa.edu/sites/default/files/2018/4114-grd_univtxhealthscicen-sanantonio_med_usn_med_mdms_2023.png" alt="placeholder">
    </div>
  </div>
</section>
{% include "@blocks/footer/LSOM-alamo.twig" %}