{% include "@blocks/header/global-bar-quicklinks.twig" %}
{% include "@blocks/header/mission-bar.twig" %}
{% include "@blocks/header/level-1.twig" %}
<section class="bleed full img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x margin-x align-center">
            <div class="cell large-10">
                <h1 class="text-center">Longevity & Aging</h1>
            </div>

        </div>
    </div>
</section>
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell large-8 medium-8 small-12 small-order-2">
                <p>High-level marketing copy about this area that is understandable by users who aren’t scientists / are
                    from the general public. <strong>Example from Salk</strong> - One thing’s for certain: we get older.
                    But
                    the biology of aging is still largely a mystery. As for getting sick as we age - we think that might
                    be
                    optional. At Salk, we are dechiphering the molecular and cellular causes of aging, and searching for
                    ways to stave off Alzheimer’s disease, diabetes, cancer, cardiovascular disease and other
                    age-related
                    ailments. We’re studying how the boyd heals itself, and we’re working on stem-cell technologies that
                    may
                    one day be used to replace organs damaged by injury and disease. They say aging isn’t for the timid,
                    but
                    we think bold science could help people stay healthy as they age.</p>

                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-6 medium-6 small-12 flex-container">
                            <div class="callout flex-child-auto">
                                <p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté
                                    tea
                                    garden. Sachetblend lemongrass nilgiri masala chai hot puierh pearl milk oolong
                                    teapot
                                    infusion.</p>
                            </div>
                        </div>
                        <div class="cell large-6 medium-6 small-12 flex-container ">
                            <div class="callout flex-child-auto">
                                <p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté
                                    tea
                                    garden. Sachetblend lemongrass nilgiri masala chai hot puierh pearl milk oolong
                                    teapot
                                    infusion.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Additional content area to expand on the research being done in this area. - can get more technial.
                    Could
                    also talk about advances, achievements, and partnerships here as well. Macaroon cupcake tart
                    chocolate
                    bar dragée ice cream bear claw gummi bears. Ice cream biscuit pastry cake cotton candy marzipan
                    croissant chocolate liquorice. Jelly muffin pie chocolate candy canes donut sweet cheesecake. Pie
                    marshmallow fruitcake jujubes cheesecake dragée marzipan brxownie gummies. Sugar plum donut jelly-o
                    biscuit cake. Jujubes cake chocolate cake apple pie marshmallow caramels brownie pastry. Jelly-o
                    toffee
                    caramels gingerbread toffee chocolate brownie. Jelly beans sweet cupcake chocolate cake bonbon
                    marzipan
                    cheesecake tiramisu.</p>
            </main>

            <aside class="cell large-4 larger-order-2 medium-4 medium-order-2 small-12 small-order-1">
                {% include "@components/navigation/subnav.twig" %}
            </aside>
        </div>
    </div>
</section>

<section class="bleed color dark-grey">
    <div class="grid-container img-bleed-right">
        <div class="grid-x align-middle">
            <div class="cell large-6 large-order-1 medium-6 medium-order-1 small-12 small-order-2">
                <div class="callout jump-right">
                    <blockquote>“Testimonial from a spotlighted researcher in this area; could also be a brief bio
                        overview of their accomplishments as it relates to the research area. Muffin apple pie cookie
                        sugar plum liquorice sweet. Bear claw bonbon tootsie roll. Croissant dessert apple pie lollipop
                        pie gingerbread candy.”<cite>Sudha Seshadri, M.D.</cite></blockquote>
                </div>
            </div>
            <div class="cell large-6 medium-6 small-12 small-order-1">
                <img src="https://placedog.net/800/450" alt="adorable pup">
            </div>
        </div>
    </div>
</section>
<section class="bleed color cyan">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-8 medium-8 small-12 small-order-2">
                <h2>Help advance treatment as a healthy volunteer</h2>
                <p>Copy explaining the importance of clinical trials and why health volunteers are needed (specific to
                    this area). Liquorice gingerbread chocolate bar lollipop macaroon pudding apple pie fruitcake wafer.
                    Pudding pastry pudding. Icing muffin dragée tiramisu cookie oat cake. </p>
                <p><a class="button">Button</a></p>
            </div>
            <div class="cell large-4 large-order-2 medium-4 medium-order-2 small-12 small-order-1 text-center">
                <i class="fas fa-heart fa-10x"></i>
            </div>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <a href="#" class="card cell small-12 medium-4 large-4 color dark-grey">
            <img src="https://picsum.photos/534/300">
            <div class="card-section">
                <h4>Interactive Card</h4>
                <p>This is a card with .dark-gray</p>
            </div>
        </a>
        <a href="#" class="card cell small-12 medium-4 large-4 color dark-grey">
            <img src="https://picsum.photos/534/300">
            <div class="card-section">
                <h4>Interactive Card</h4>
                <p>This is a card with .dark-gray</p>
            </div>
        </a>
        <a href="#" class="card cell small-12 medium-4 large-4 color dark-grey">
            <img src="https://picsum.photos/534/300">
            <div class="card-section">
                <h4>Interactive Card</h4>
                <p>This is a card with .dark-gray</p>
            </div>
        </a>
    </div>
</section>
{% include "@blocks/footer/mission.twig" %}