<div class="grid-x grid-margin-x">
    <div class="cell large-2">
        <a class="datebox">
            <div>
                <span>Jan</span>
            </div>
            <div>
                <span>00</span>
            </div>
        </a>
    </div>
</div>