{% include "@components/header-prototypes/header-UTP.twig" %}
<section class=" hero gradient left orange bleed img-fill">
  <img src="../../images/2020PatientCare.jpg" alt="">
  <div class="grid-container chonky">
    <div class="grid-x grid-margin-x align-left">
      <div class="small-12 medium-5 cell callout orange">
        <h1>Everything It Takes </h1>
        <p>We're doing everything it takes to bring lifesaving primary and specialty care close to home.</p>
        <p><a href="#" class="button">Button CTA</a></p>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
<section class="grid-container no-bottom">
  <div class="grid-x grid-margin-x align-middle">
    <div class="cell large-5 medium-5 small-12">
      <!--<img src="../../images/granddaughter-grandma.jpg" alt="placeholder">-->
      <img src="https://everythingittakes.org/wp-content/uploads/2021/10/ut-pc-uthero-antemeke-min.png" alt="">
    </div>
    <div class="cell large-7 medium-7 small-12">
      <h2>We're how. You're why.</h2>
      <p>Finding the right physician is key to establishing a medical home so that care is received in the right place, at the right time, in the manner that best suits your needs. Patient ratings are just one of the many ways we uphold our commitment to providing excellent, patient-centered care to San Antonio and South Texas.</p>
      <div class="button-group">
        <p><a href="#" class="button">Find a Primary Care Provider</a></p>
        <p><a href="#" class="button ghost">Find a Specialist</a></p>
      </div>
    </div>
  </div>
</section>
<section class="bleed beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <a class="cell large-4 medium-4 small-12 card color dark-grey">
        <img src="https://picsum.photos/534/300">
        <div class="card-section">
          <h4>UT Health Hill Country recognized as Best of the Best</h4>
        </div>
      </a>
      <a class="cell large-4 medium-4 small-12 card color dark-grey">
        <img src="https://picsum.photos/534/300">
        <div class="card-section">
          <h4>Now Open! UT Health De Zavala</h4>
        </div>
      </a>
      <a class="cell large-4 medium-4 small-12 card color dark-grey">
        <img src="https://picsum.photos/534/300">
        <div class="card-section">
          <h4>Interactive Card</h4>
        </div>
      </a>
    </div>
  </div>
</section>
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="large-10 medium-10 small-12 text-center">
      <i class="fas fa-star fa-6x" style="color:#FFBC5B;"></i><i class="fas fa-star fa-6x" style="color:#FFBC5B;"></i><i class="fas fa-star fa-6x" style="color:#FFBC5B;"></i><i class="fas fa-star fa-6x" style="color:#FFBC5B;"></i><i class="fas fa-star fa-6x" style="color:#FFBC5B;"></i>
    </div>
  </div>
</section>
<div class="bleed color orange pullquote">
  <div class="grid-container">
    <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
      <div class="grid-x align-center-middle">
        <div class="cell small-10">
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <blockquote>
                <p>Invoke me by adding .pullquote to the bleed. A block quotation (also known as a long quotation or
                  extract) is a quotation in a written document, that is set off from the main text as a paragraph, or
                  block of text, and typically distinguished visually using indentation and a different typeface or
                  smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within
                  another element like a bleed.</p>
                <cite>Obi-Wan Kenobi, Jedi Master</cite>
              </blockquote>
            </li>
            <li class="orbit-slide">
              <blockquote>
                <p>Invoke me by adding .pullquote to the bleed. A block quotation (also known as a long quotation or
                  extract) is a quotation in a written document, that is set off from the main text as a paragraph, or
                  block of text, and typically distinguished visually using indentation and a different typeface or
                  smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within
                  another element like a bleed.</p>
                <cite>Obi-Wan Kenobi, Jedi Master</cite>
              </blockquote>
            </li>
            <li class="orbit-slide">
              <!--<blockquote>
                <p>Invoke me by adding .pullquote to the bleed. A block quotation (also known as a long quotation or
                  extract) is a quotation in a written document, that is set off from the main text as a paragraph, or
                  block of text, and typically distinguished visually using indentation and a different typeface or
                  smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within
                  another element like a bleed.</p>
                <cite>Obi-Wan Kenobi, Jedi Master</cite>
                
              </blockquote>-->
              {% include "@components/blockquotes/blockquote-image-left.twig" %}
            </li>
            <li class="orbit-slide">
              <blockquote>
                <p>Invoke me by adding .pullquote to the bleed. A block quotation (also known as a long quotation or
                  extract) is a quotation in a written document, that is set off from the main text as a paragraph, or
                  block of text, and typically distinguished visually using indentation and a different typeface or
                  smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within
                  another element like a bleed.</p>
                <cite>Obi-Wan Kenobi, Jedi Master</cite>
              </blockquote>
            </li>
          </ul>
        </div>
        <div class="cell small-1">
          <nav class="orbit-bullets">
            <ul class="no-bullet">
              <li><button class="is-active cell small-4" data-slide="0"><span class="show-for-sr">First slide
                    details.</span><span class="show-for-sr">Current Slide</span></button></li>

              <li><button class="cell small-4" data-slide="1"><span class="show-for-sr">Second slide
                    details.</span></button></li>

              <li><button class="cell small-4" data-slide="2"><span class="show-for-sr">Third slide
                    details.</span></button></li>

              <li><button class="cell small-4" data-slide="3"><span class="show-for-sr">Fourth slide
                    details.</span></button></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="grid-container extra-roomy">
  <div class="grid-x grid-margin-x">
    <div class="cell large-5 medium-5 small-12">
      <img src="https://cancer.uthscsa.edu/sites/default/files/2020-05/uthsa-cc_hero-top-level-desktop_3-doctors-locations_2288x1552.jpg" alt="">
    </div>
    <div class="cell large-7 medium-7 small-12">
      <h2><a>Our Focus Is You</a></h2>
      <p>We promise to be friendly and welcome you warmly, provide outstanding medical expertise, be compassionate every step of the way, give undivided attention to deliver a personal experience, be sensitive to your needs and respectful of your time... always. This is our promise and our passion.</p>
      <!--<p><a class="button ghost">About us</a></p>-->
    </div>
  </div>
</section>
<section class="grid-container extra-roomy">
  <div class="grid-x grid-margin-x">
    <div class="cell large-7 medium-7 small-12">
      <h2><a>Our Specialty Practices</a></h2>
      <p>UT Health Physicians offers the region's most comprehensive services. In every discipline, our team of highly trained and board-certified physicians and surgeons work together to provide the highest quality of compassionate, patient-centered care.</p>
      <!--<p><a class="button ghost">Find a specialty practice</a></p>-->
    </div>
    <div class="cell large-5 medium-5 small-12">
      <img src="https://www.uthscsa.edu/sites/default/files/pd_cardiology_0.jpg" alt="">
    </div>
  </div>
</section>
<section class="grid-container extra-roomy">
  <div class="grid-x grid-margin-x">
    <div class="cell large-5 medium-5 small-12">
      <img src="https://cancer.uthscsa.edu/sites/default/files/2020-06/uthsa-cc_hero-top-level-desktop_2-patients-families-2_2288x1552.jpg" alt="">
    </div>
    <div class="cell large-7 medium-7 small-12">
      <h2><a>Our Primary Care Practices</a></h2>
      <p>We're here to be your medical home - full of trusted, experienced primary care providers who focus on internal medicine, family medicine, geriatric care and pediatrics. Our team is formally recognized for the way we care for our patients and for being their direct connection to San Antonio's most experienced doctors in every medical specialty.</p>
      <!--<p><a class="button ghost">Find a Primary Care Practice</a></p>-->
    </div>
  </div>
</section>
<section class="grid-container extra-roomy">
  <div class="grid-x grid-margin-x">
    <div class="cell large-7 medium-7 small-12">
      <h2><a>Cancer Care</a></h2>
      <p>Our mission is to decrease the burden of cancer in San Antonio, South Texas and beyond. We bring South Texas a level of exceptional care that is comparable with the nation’s most respected programs. More patients put their trust in our program because we have a unique understanding of our community’s cancer care needs. We excel in delivering advanced therapies.</p>
      <!--<p><a class="button ghost">Cancer Care</a></p>-->
    </div>
    <div class="cell large-5 medium-5 small-12">
      <img src="https://cancer.uthscsa.edu/sites/default/files/styles/pre/public/2020-05/uthsa-cc_CTA_1-cancer-care_1448x1224.jpg?itok=_b__anEM" alt="">
    </div>
  </div>
</section>
<section class="bleed light-beige"> 
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-4">
            <img src="https://www.uthscsa.edu/sites/default/files/patient-care/utmedicine/mychart_img-15k.jpg" alt="">
        </div>
        <div class="small-12 medium-6 cell">
            <h3>MyChart: Access from anywhere</h3>
            <p>UT Health Physicians offers MyChart for secure access to your medical records from your computer or
                smartphone. MyChart users can schedule appointments and have direct access to their providers.</p>
            <div class="button-group">
                <a href="#" class="button">More about MyChart</a>
                <a href="#" class="button ghost">Login to MyChart</a>
            </div>
        </div>
    </div>
  </div>
</section>
<section class="bleed light-grey">
    {% include "@blocks/feeds/news-events-white.twig" %}
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="small-12 medium-8 cell">
            <h2>UT Healthier Newsletter</h2>
            <p>Gingerbread marzipan chupa chups macaroon donut powder marshmallow toffee muffin. Sweet croissant tootsie
                roll pastry. Cookie fruitcake cheesecake donut jelly beans liquorice.</p>
            <form>
                <label>Email Address
                    <input type="text" class="small-4">
                </label>
                <button class="button">Subscribe me!</button>
        </div>
        <div class="small-12 medium-2 cell">
            <i class="fas fa-envelope-open-text fa-10x dark-grey"></i>
        </div>
    </div>
</section>
{% include "@blocks/footer/UTP-no-alamo.twig" %}