{% include "@components/header-prototypes/header-ims.twig" %}
<section class="hero bleed blur img-fill full">
    <img src="../../images/IMS/ims-about2.jpg" alt="computer keyboard">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>About Us</h1>
                <p>IMS provides the HSC community with a wide range of computing, data networking, information security, classroom technology, multimedia, and web services.</p>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/IMS/ims-about2.jpg" alt="computer keyboard">
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-ims.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h2>Our Mission</h2>
<p>Information Management & Services (IMS) provides leadership in technology and information-based resources and services for The UT Health Science Center at San Antonio. IMS incorporates customer input to establish policies and standards while providing oversight, advocacy and solutions to support the institution in pursuit of its missions. IMS will also serve as the primary institutional representative to The University of Texas System and state agencies regarding information technology and information resources.</p>

<p>IMS is comprised of Academic Technology Services, Client Support Services, Information Security, Integrated Management Information Services, and Systems and Network Operations, all working together to better serve you and your department.</p>
            </main>
            <aside class="small-12 medium-4 cell">
                        <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Contact Us</h3>
            </a>
            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/ims-footer.twig" %}