{% include "@blocks/header/global-bar-quicklinks.twig" %}
{% include "@blocks/header/level-2.twig" %}
{% include "@components/navigation/navbar.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="grid-container">
    <h1>Doctoral Program Characteristics</h1>
    <h2 class="subheader margin-bottom">Nursing Science, Ph.D.</h2>
    <div class="grid-x grid-margin-x">
        <main class="cell large-9 medium-7 small-12 medium-order-1 small-order-2">
            <div class="grid-container callout outline">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4 medium-12 text-center">
                        <span class="fa-stack fa-5x close grey">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h2>Graduation stats</h2>

                    </div>
                    <div class="cell large-8 small-12">
                        <h5>Number of doctoral degrees awarded per year</h5>
                        <p>The number of doctoral degrees awarded per year for each of the 3 most recent years.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4</td>
                                    <td>1</td>
                                    <td>1</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Graduation rates</h5>
                        <p>Percentage of doctoral students who graduated within 10 years for each of the 3 most
                            recent years. Graduation rates are based on the methodology used in the
                            Accountability System, which uses CBM001 data to identify students beginning a
                            program at a specified time and uses CMB009 data to track students from that cohort
                            who graduate within the following 10-year period.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>66%</td>
                                    <td>66%</td>
                                    <td>100%</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Average time to degree</h5>
                        <p>The average of graduates' time to degree for each of the most recent 3 years. For
                            each academic year, "time to degree" is defined as beginning the year students
                            matriculated with a doctoral degree objective until the year they graduated.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>6.00</td>
                                    <td>4.00</td>
                                    <td>6.00</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Average tuition and fees to complete the degree</h5>
                        <p>The combined annual tuition and program-specific fees multiplied by the average
                            number of years that graduates took to complete the degree for each of the 3 most
                            recent years.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$21,000</td>
                                    <td>$21,000</td>
                                    <td>$22,500</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Employment profile</h5>
                        <p>The number and percentage of graduates employed in their field within one year of
                            graduation, those still seeking employment, and unknown for each of the 3 most
                            recent years. Employment includes full-time self-employment, private practice,
                            residency, fellowship, and other opportunities for further training or education.
                        </p>
                        <div>
                            <table class="text-center stack">
                                <thead>
                                    <tr>
                                        <th>Employment</th>
                                        <th>2016-2017</th>
                                        <th>2017-2018</th>
                                        <th>2018-2019</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Employed</td>
                                        <td>3(60%)</td>
                                        <td>3(35%)</td>
                                        <td>5(83%)</td>
                                    </tr>
                                    <tr>
                                        <td>Still seeking</td>
                                        <td>0(0%)</td>
                                        <td>1(13%)</td>
                                        <td>0(0%)</td>
                                    </tr>
                                    <tr>
                                        <td>Unknown</td>
                                        <td>2(40%)</td>
                                        <td>4(50%)</td>
                                        <td>1(17%)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                    </div>
                </div>
            </div>
            <div class="grid-container callout outline">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4 small-12 text-center">
                        <span class="fa-stack fa-5x close grey">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-apple-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        <h2>Student stats</h2>

                    </div>
                    <div class="cell large-8 small-12">
                        <h5>Students passing licensure exams</h5>
                        <p>The number of doctoral degrees awarded per year for each of the 3 most recent years.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2(25%)</td>
                                    <td>4(56%)</td>
                                    <td>4(67%)</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Student diversity</h5>
                        <p>The fall semester headcount by gender, ethnicity and residency status in the program
                            for each of the 3 most recent years. International non-resident students should
                            include all students paying resident tuition rates because of waivers.
                        </p>
                        <div>
                            <table class="stack">
                                <thead>
                                    <tr>
                                        <th>Ethnicity</th>
                                        <th>2016-2017</th>
                                        <th>2017-2018</th>
                                        <th>2018-2019</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>African American</td>
                                        <td>8.33%</td>
                                        <td>10.53%</td>
                                        <td>11.53%</td>
                                    </tr>
                                    <tr>
                                        <td>Asian</td>
                                        <td>8.33%</td>
                                        <td>5.26%</td>
                                        <td>3.84%</td>
                                    </tr>
                                    <tr>
                                        <td>Hispanic</td>
                                        <td>41.67%</td>
                                        <td>42.11%</td>
                                        <td>42.30%</td>
                                    </tr>
                                    <tr>
                                        <td>International</td>
                                        <td>8.33%</td>
                                        <td>10.53%</td>
                                        <td>11.53%</td>
                                    </tr>
                                    <tr>
                                        <td>Two races or more</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>Unknown</td>
                                        <td>8.33%</td>
                                        <td>5.26%</td>
                                        <td>3.84%</td>
                                    </tr>
                                    <tr>
                                        <td>White</td>
                                        <td>25%</td>
                                        <td>26.32%</td>
                                        <td>26.92%</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="black">Total</th>
                                        <th class="black">25%</th>
                                        <th class="black">26.32%</th>
                                        <th class="black">26.92%</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Percentage of full-time students</h5>
                        <p>The fall semesters' number of full-time student equivalents divided by the headcount
                            number of students enrolled for each of the 3 most recent years. Definition of
                            "full-time student" is 18 semester credit hours per year.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2(25%)</td>
                                    <td>4(56%)</td>
                                    <td>4(67%)</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Percentage of full-time students with institutional financial support</h5>
                        <p>The percentage of full-time students with at least $1,000 of annual support for each
                            of the 3 most recent years.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2(25%)</td>
                                    <td>4(56%)</td>
                                    <td>4(67%)</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Student publications/presentations</h5>
                        <p>The number of discipline-related refereed paper/publications, juried
                            creative/performance accomplishments, and external presentations per year for each
                            of the 3 most recent years.
                        </p>
                        <div>
                            <table class="text-center stack">
                                <thead>
                                    <tr>
                                        <th>Activities</th>
                                        <th>2016-2017</th>
                                        <th>2017-2018</th>
                                        <th>2018-2019</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Discipline-related referred papers / publications</td>
                                        <td>8</td>
                                        <td>6</td>
                                        <td>9</td>
                                    </tr>
                                    <tr>
                                        <td>Juried creative / performace accomplishments</td>
                                        <td>11</td>
                                        <td>9</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>External publications</td>
                                        <td>8</td>
                                        <td>6</td>
                                        <td>12</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Student-core faculty ratio</h5>
                        <p>The number of full-time student equivalents divided by the number of full-time
                            faculty equivalents of core faculty for each of the 3 most recent years.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.12</td>
                                    <td>1.15</td>
                                    <td>0.98</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                    </div>
                </div>
            </div>
            <div class="grid-container callout outline">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4 small-12 text-center">
                        <span class="fa-stack fa-5x close grey">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                        </span>
                        <h2>Faculty stats</h2>

                    </div>
                    <div class="cell large-8 small-12">
                        <h5>Faculty diversity</h5>
                        <p>The core faculty by gender and ethnicity for each of the 3 most recent years.
                        </p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Ethnicity</th>
                                    <th>Men</th>
                                    <th>Women</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>White</td>
                                    <td>10</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>Black</td>
                                    <td>5</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Hispanic</td>
                                    <td>8</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Asian</td>
                                    <td>2</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>American Indian / Alaskan Native</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>International</td>
                                    <td>1</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Unknown / Not reported</td>
                                    <td>0</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Native Hawaiian / Other Pacific Islander</td>
                                    <td>0</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Faculty teaching load</h5>
                        <p>The total number of semester credit hours in organized teaching courses taught per
                            academic year by core faculty divided by the number of core faculty for each of the
                            3 most recent years. Organized classes include lecture, laboratory, and seminar
                            courses.
                        </p>
                        <table>
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>18.3</td>
                                    <td>16.5</td>
                                    <td>21.2</td>
                                </tr>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Core faculty</h5>
                        <p>The number of core faculty for each of the 3 most recent years. "Core faculty" is
                            defined as appropriately credentialed individuals intergral to the doctoral program,
                            such as those who teach courses, mentor students, or serve on dissertation
                            committeees.
                        </p>
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>42</td>
                                    <td>45</td>
                                    <td>44</td>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Core faculty activities</h5>
                        <p>The average number of discipline-related refereed papers/publications, juried
                            creative/performance accomplishments, and notices of discoveriesfiled/patents issued
                            per core faculty member for each of the 3 most recent years.
                        </p>
                        <div>
                            <table class="text-center stack">
                                <thead>
                                    <tr>
                                        <th>Activities</th>
                                        <th>2016-2017</th>
                                        <th>2017-2018</th>
                                        <th>2018-2019</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Discipline-related referred papers / publications</td>
                                        <td>8</td>
                                        <td>6</td>
                                        <td>9</td>
                                    </tr>
                                    <tr>
                                        <td>Juried creative / performace accomplishments</td>
                                        <td>11</td>
                                        <td>9</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>External publications</td>
                                        <td>8</td>
                                        <td>6</td>
                                        <td>12</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>

                        <h5>Core faculty external grants</h5>
                        <p>The number of core faculty receiving external funds, average external funds, average
                            external funds per core faculty member, and total external funds per program for
                            each of the 3 most recent years.
                        </p>
                        <table class="text-center stack">
                            <thead>
                                <tr>
                                    <th>Grants</th>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Number of core faculty receiving external funds</td>
                                    <td>8</td>
                                    <td>6</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>Average external funds per core faculty members</td>
                                    <td>11</td>
                                    <td>9</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Total external funds per program</td>
                                    <td>8</td>
                                    <td>6</td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                        <figcaption class="grey">Additional notes about this characteristic here. This is
                            optional.</figcaption>



                    </div>
                </div>
            </div>
            <div class="grid-container callout outline">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4 small-12 text-center">
                        <span class="fa-stack fa-5x close grey">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-school fa-stack-1x fa-inverse"></i>
                        </span>
                        <h2>institutional stats</h2>

                    </div>
                    <div class="cell large-8 small-12">
                        <h5>Average institutional financial support provided</h5>
                        <p>The average annual monetary institutional support provided per full-time student from
                            assistanships, scholarships, stipends, grants, and fellowships (does not include
                            tuition or benefits) for each of the 3 most recent years.
                        </p>
                        <table>
                            <thead>
                                <tr>
                                    <th>2016-2017</th>
                                    <th>2017-2018</th>
                                    <th>2018-2019</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$21,000</td>
                                    <td>$21,000</td>
                                    <td>$22,500</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>External program accredition</h5>
                        <p>Accreditor, 2017</p>
                        <h5>Date of last external review</h5>
                        <p>June 12, 2017</p>
                    </div>
                </div>
            </div>
        </main>

        <aside class="cell large-3 medium-5 small-12 small-order-1 medium-order-2 margin-bottom">
            <p>Use links to jump to characteristic information</p>
            <ul class="fa-ul jump-links" id="links">
                <li>
                    <a class="arrow">
                        <span class="fa-li fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <span>Graduation Stats</span>
                    </a>
                </li>
                <li>
                    <a class="arrow">
                        <span class=" fa-li fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-apple-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        <span>Student stats</span>
                    </a>
                </li>
                <li>
                    <a class="arrow">
                        <span class=" fa-li fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                        </span>
                        <span>Faculty stats</span>
                    </a>
                </li>
                <li>
                    <a class="arrow">
                        <span class=" fa-li fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-school fa-stack-1x fa-inverse"></i></span>
                        </span>
                        <span>Institutional stats</span>
                    </a>
                </li>
            </ul>
            <h5 id="subnav">Nursing Science, Ph.D.</h5>
            <ul class="vertical menu accordion-menu" data-accordion-menu>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Academics</a></li>
                <li><a href="#">Admissions</a></li>
                <li><a class="is-active" href="#">Characteristics</a></li>
            </ul>
            <a href="#top" class="top-page">
                <i class="fas fa-arrow-up"></i>
                <span>Top</span>
            </a>
        </aside>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}