{% include "@components/header-prototypes/header-VPResearch.twig" %}
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li><a href="#">Staff Directory</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Institutional Review Board Office
    </li>
  </ul>
</nav>

<section class="grid-container">

    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12 small-order-2 large-order-1 medium-order-1">
            <h1>Institutional Review Board Office</h1>
            <p class="subheader">Supports the IRBs operated by UT Health San Antonio.</p>
            <p>The Institutional Review Board Office is an administrative support office for the UT Health San Antonio Institutional Review Boards (IRBs). An IRB is a federally-mandated committee that serves to protect the rights and welfare of human research subjects. The IRB reviews all research projects conducted by agents of UT Health San Antonio that involve humans, identifiable data about or biospecimens from living humans prior to the commencement of the research study. The UT Health San Antonio IRBs are accredited by the <a href="http://www.aahrpp.org/">Association for the Accreditation of Human Research Protection Programs, Inc. (AAHRPP).</a> </p>

            <h2>Services the IRB provides to researchers</h2>
            <div class="loose-list">
                <ul>
                    <li>Assistance with IRB application submissions (including amendments and annual continuing review reports);</li>
                    <li>Guidance regarding FDA regulations and research involving FDA-regulated test articles;</li>
                    <li>Assistance with appropriate reporting of unexpected issues that arise during the execution of human research studies.</li>
                </ul>
            </div>
            <h2>Services the IRB Reliance Team provides to researchers</h2>
            <div class="loose-list">
                <ul>
                    <li>Adding Relying Sites when using the UT Health San Antonio IRB as a single IRB for a multicenter study</li>
                    <li>Applications for single IRB review when the UT Health SA IRB is not the IRB for all study sites (External IRB Studies);</li>
                    <li>Assistance with training research personnel;</li>
                    <li>Verifying credentialing;</li>
                    <li>Approving Research Scope of Practice for study team members who do not have a locally recognized medical license;</li>
                    <li>Research participant recruitment assistance via the Find A Study website;</li>
                    <li>Assistance with <a>VA Human Research</a> studies</li>
                </ul>
            </div>
            
        </main>
        <aside class="cell large-4 medium-4 small-12 small-order-1 large-order-2 medium-order-2">
            <div class="callout contact outline">
                <h2 class="h4">IRB</h2>
                <ul class="fa-ul">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </span>
                            <span class="">IRB@uthscsa.edu</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> 
                            <span class="">210-567-8250</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> 
                            <span class="">Staff Contact Directory</span>
                        </a>
                    </li>
                </ul>

                <h2 class="h4">IRB Reliance Team</h2>
                <ul class="fa-ul">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </span>
                            <span class="">IRBReliance@uthscsa.edu</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">210-567-8555</span>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                <li><a href="mailto:IRB@UTHSCSA.EDU?subject=Sign%20up%20for%20the%20IRB%2FOCR%20Email%20List">Join the IRB/OCR Email List</a></li>
                <li><a href="https://redcap.uthscsa.edu/REDCap/surveys/?s=3ERZtddPTv">Comments or Concerns?</a></li>
                <li><a href="https://redcap.uthscsa.edu/REDCap/surveys/?s=bVqjbiV7gR">Fill out the Feedback Survey</a></li>
                <li><a href="https://events.uthscsa.edu/department/office_of_the_vice_president_for_research">Upcoming Events</a></li>
                <li><a href="https://redcap.uthscsa.edu/REDCap/surveys/?s=4TKCEP74J347ML83">Concierge Services</a></li>

                <li>
                    <a href="#">Resources</a>
                    <ul class="nested vertical menu">
                        <li><a href="#">Human Research Protection Program</a></li>
                        <li><a href="#">Information for Research Participants</a></li>
                    </ul>
                </li>
                <li><a href="#">Research Systems</a>
                     <ul class="nested vertical menu">
                        <li><a href="https://erms1.uthscsa.edu">ERMS</a></li>
                        <li><a href="https://us-east-1.quicksight.aws.amazon.com/sn/auth/signin?redirect_uri=https%3A%2F%2Fus-east-1.quicksight.aws.amazon.com%2Fsn%2Fstart%2Fdashboards%3Fstate%3DhashArgs%2523%26isauthcode%3Dtrue">Huron Reporting (HRA)</a></li>
                        <li><a href="https://app.complion.com/">Complion</a></li>
                        <li><a href="https://vpr.uthscsa.edu/orca_v2">ORCA-Animal/Human</a></li>
                        <li><a href="https://vpr.uthscsa.edu/orca_v2_analyst">ORCA-Analyst</a></li>
                        <li><a href="https://redcap.uthscsa.edu/REDCap/">RedCap</a></li>
                     </ul>
                </li>
            </ul>

        </aside>
    </div>
</section>

<section class="bleed color blue">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-3 medium-3 small-12 text-center">
            <i class="fas fa-heart fa-10x"></i>
        </div>
        <div class="cell large-9 medium-9 small-12">
            <!--<h2>Help advance treatment as a healthy volunteer</h2>
            <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments. Take action today; volunteer and play a role in finding a cure. </p>
            <p><a class="button ghost">Learn more about clinical trials</a></p>-->
            <h2>Be Part of Our Mission</h2>
            <p>At UT Health San Antonio, we are pioneering the future of healthcare. Join us as we redefine medicine through our groundbreaking research by participating in clinical trials or contributing through giving. Together we can translate today’s innovative discoveries into tomorrow’s life-saving treatments.</p>
            <div class="button-group">
                <p><a href="#" class="button">Learn more about clinical trials</a></p>
                <p><a href="https://makelivesbetter.uthscsa.edu/donate" class="button">Make a gift</a></p>
            </div>
        </div> 
    </div>
  </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}