{% include "@components/header-prototypes/header-bpal.twig" %}
{% include "@components/navigation-prototypes/navbar-bpal.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Our Team
    </li>
  </ul>
</nav>

<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell small-12 medium-12 large-9">
				<h1 class="margin-bottom-2">Project Team</h1>
				
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/b-ginsburg-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Brett Ginsburg, PhD</h2>
						<p class="subheader">Director, BPAL<br>
            </p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet loose-list inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>ginsburg@uthscsa.edu</span>
											</a>
										</li>
									</ul>
								</div>
								</address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/m-javors-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Marty Javors, PhD</h2>
						<p class="subheader">Emeritus Director, BPAL</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>Javors@uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/m-lopezcruzan-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Marisa Lopez-Cruzan, PhD</h2>
						<p class="subheader">Associate Director, BPAL</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
							<address>
								<div class="loose-list">
									<ul class="no-bullet loose-list inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>LOPEZCRUZAN@uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
							</div>
							</address>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
        <hr>
        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/n-hillkapturczak-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Nathalie Hill-Kapturczak, PhD</h2>
						<p class="subheader">Associate Director, BPAL</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>HillKapturcz@uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>
        
        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/j-sanchez-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Jesse Sanchez, MA</h2>
						<p class="subheader">RAS-Lead, BPAL</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>SanchezJJ@uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>

        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/g-friesenhahn-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Greg Friesenhahn, BS</h2>
						<p class="subheader">RAS-Intermediate, BPAL</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>Friesenhahng@uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>

        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/m-murrell-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Meredith Murrell, MS</h2>
						<p class="subheader">RAS-Intermediate, BPAL</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>MurrellM@uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>

        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/d-galindo-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">David Galindo, MBA</h2>
						<p class="subheader">Research Associate - Senior, BPAL</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>GalindoD@uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>

        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/h-altfaili-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Hanana Al-Tfaili, MD</h2>
						<p class="subheader">Postdoctoral Fellow</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>altfaili@uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>

        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/h-stark-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Haidyn Stark, BS</h2>
						<p class="subheader">IBMS Graduate Student</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>starkh@livemail.uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>

        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/BPAL/b-sinson-large.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Ben Stinson, MS</h2>
						<p class="subheader">IBMS Graduate Student</p>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
								<address>
								<div class="loose-list">
									<ul class="no-bullet inline">
										<li>
											<a>
												<span class="fa-stack">
													<i class="fas fa-circle fa-stack-2x"></i>
													<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
												<span>stinsonb@livemail.uthscsa.edu</span>
											</a>
										</li>
										
									</ul>
								</div>
								<address>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<hr>

			</main>
		</div>
	</div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}