{% include "@components/header-prototypes/header-tobacco.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 small-12">
				<h1>Quitxt Program</h1>
            <p>Smoking is a tough opponent.</p>
<p>That's why you are invited to join Quitxt, a free bilingual text-message or Facebook Messenger service that turns your smartphone into a personal coach to help you quit smoking!</p>
            <p><a href="#" class="button">Join Quitxt</a></p>
			</div>
      <div class="cell large-5 small-12">
      <img src="../../images/QUITXT_FB-Type-1_couple-1_snapping_ENG-696x364.jpg"></div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
<p><em>Quitxt</em> sends interactive and entertaining messages over four months of service with links to online support, and music and videos developed by UT Health San Antonio researchers.</p>

<p>Messages focus on motivation to quit, setting a quit date, finding things to do instead of smoking, handling stress, coping, and more.</p>

<p><a class="coward">Join in English</a>: Text “iquit” to 844-332-2058; or search QuitxtCommunity on Facebook Messenger and hit "Get Started"</p>

<p><a class="coward">Join in Spanish</a>: Text “lodejo” to 844-332-2058; or search QuitxtComunidad on Facebook Messenger and hit "Empezar"</p>

<p>“Message applications have scientifically proven to roughly double one’s odds of quitting smoking, which can help you live 10 years longer and save $50,000,” said Dr. Amelie G. Ramirez, study leader and director of the Institute for Health Promotion Research at UT Health San Antonio. "We developed Quitxt specifically for young adults to help them quit for good."</p>

<p><em>Quitxt</em> is now enrolling English- and Spanish-speaking smokers ages 18 and older. The service is supported by a grant from the Cancer Prevention and Research Institute of Texas.</p>
<p><strong>Contact us:</strong> <a class="coward">tobaccofree@uthscsa.edu</a></p>
<div class="social">
   <ul>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
         </a>
         </span>
      </li>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
</div>
            </main>
            <aside class="small-12 medium-4 cell">
            <div class="text-center margin-bottom">
                        <img src="../../images/smoking-bans.png"></div>
             <div class="callout outline flex-child-auto">
                <h3>About Us</h3>
                <p>UT Health San Antonio wants to support you in your decision to quit smoking! Please use our resources and tools to quit, or let us know how we can help you: <a>tobaccofree@uthscsa.edu.</a></p>
            </div>
            </aside>
        </div>
    </div>
</section>
<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
            <p>See how the service works in English:</p>
                <div class="responsive-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yklqIjnBDMI?si=YVo_LCTcGjB1uGet" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="cell small-12 medium-6">
            <p>See how the service works in Spanish:</p>
                <div class="responsive-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/M_bRwQBOs8E?si=xj9PQ767IMN2jTca" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/tobacco-footer.twig" %}