<div class="hero card">
    <div class="grid-x align-middle">
        <div class="large-6 medium-6 small-12 cell">
            <div class="card-section">
                <h1>Page Heading 1</h1>
                <p>Pommy ipsum picalilly a right corker stupendous, blummin' one off curtain twitching Shakespeare
                    hedgehog, on the pull up the duff make a brew. I bid you good day rivetting stuff old chap ee bah
                    gum absolute jolly hockey sticks, 221B Baker Street blummin' tosser pikey Moriarty, pie-eyed I'm off
                    to Bedfordshire some mothers do 'ave 'em supper. </p>
            </div>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <img src="https://placedog.net/740/425">
        </div>
    </div>
</div>