{% include "@components/header-prototypes/header-GSBS.twig" %}
<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-7">
                <h1>The Student Experience</h1>
                <p> Life in graduate school is about more than just classes and research. Take advantage of the
                    resources your new community offers you. There are many opportunities for students to get involved
                    like joining student groups.</p>
                <div class="button-group">
                    <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/student-life/student-groups"
                            class="button">Student Groups</a></p>
                    <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/current-students"
                            class="button ghost">Enrolled Student Information</a></p>
                </div>

            </div>
            <div class="cell small-12 medium-6 large-5">
                <div class="responsive-embed">
                    <iframe width="488" height="298" src="https://www.youtube.com/embed/BnnrdNlwSmA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-GSBS.twig" %}

<section class="bleed">
    <div class="grid-container img-bleed-left">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 medium-6 small-12 small-order-2 medium-order-1">
                <img src="../../images/gsbs-outreach.jpg" alt="scenery">
            </div>
            <div class="cell large-6 medium-6 small-12 align-self-middle small-order-1 medium-order-2">
                <h2>It's All About Community</h2>
                <p>We are passionate about community outreach at the Graduate School of Biomedical Sciences and we
                    routinely partner with nonprofit organizations and local K-12 schools to bring science to the
                    classroom.</p>
                <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/student-life/community-outreach"
                        class="button">Outreach</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed color orange rocky">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center-middle text-center">
            <div class="cell medium-11 large-11">
                <div class="callout white">
                    <h2>This is a Heading</h2>
                    <p class="margin-bottom">Topsail weigh anchor main sheet handsomely grog coxswain maroon chase Cat
                        o'nine tails rum. Grapple chandler spyglass maroon no prey, no pay bilged on her anchor fathom
                        gally weigh anchor chantey. Come about crack Jennys tea cup deadlights haul wind fire in the
                        hole tender careen six pounders Arr sutler.
                    </p>
                    <div class="button-group align-center">
                        <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/student-life/ocd/"
                                class="button">Button</a></p>
                        <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/student-life/ocd/career-advisory-council/members"
                                class="button ghost">Another Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-7 large-6">
                <h2>New to San Antonio?</h2>
                <p>
                    San Antonio is a modern, vibrant city, rich in heritage with colorful personality forged across
                    three centuries. Its unique mixture of native Mexican, German and Spanish influence is
                    noticeable in the city's distinctive architecture, music, arts, and cuisine.
                </p>

                <p>Ready to explore the city? Check out <a>UT Health's San Antonio Guide</a></p>
                <div class="arrow">
                    <ul>
                        <li><a href="http://www.uthscsa.edu/university/about-san-antonio">Weather</a></li>
                        <li><a href="https://wp.uthscsa.edu/ois/life-at-ut-health/housing/">Housing</a></li>
                        <li><a href="https://wp.uthscsa.edu/ois/life-at-ut-health/transportation/">Transportation</a>
                        </li>
                    </ul>
                </div>
                <h3>Explore UT Health San Antonio</h3>
                <p>Are you a prospective student who would like to know what the UT Health San Antonio campus looks
                    like? Now, you can!
                </p>
                <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/ut-health-san-antonio-campus-tour"
                        class="button">Virtual Tour</a></p>
            </div>
            <div class="cell small-12 medium-5 large-6">
                <div class="responsive-embed">
                    <iframe width="734" height="438" src="https://www.youtube.com/embed/pEQRitwsSK8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/GSBS-footer.twig" %}