{% include "@components/header-prototypes/header-GSBS.twig" %}
<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-7">
                <h1>The Student Experience</h1>
                <p> Life in graduate school is about more than just classes and research. Take advantage of the
                    resources your new community offers you. There are many opportunities for students to get involved
                    like joining student groups.</p>
                <div class="button-group">
                    <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/student-life/student-groups" class="button">Student Groups</a></p>
                    <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/current-students" class="button ghost">Enrolled Student Information</a></p>
                </div>

            </div>
            <div class="cell small-12 medium-6 large-5">
                <div class="responsive-embed">
                    <iframe width="488" height="298" src="https://www.youtube.com/embed/BnnrdNlwSmA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-GSBS.twig" %}

<section class="bleed">
    <div class="grid-container img-bleed-left">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 medium-6 small-12 small-order-2 medium-order-1">
                <img src="../../images/gsbs-outreach.jpg" alt="scenery">
            </div>
            <div class="cell large-6 medium-6 small-12 align-self-middle small-order-1 medium-order-2">
                <h2>It's All About Community</h2>
                <p>We are passionate about community outreach at the Graduate School of Biomedical Sciences and we
                    routinely partner with nonprofit organizations and local K-12 schools to bring science to the
                    classroom.</p>
                <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/student-life/community-outreach" class="button">Outreach</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed color orange rocky">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center-middle text-center">
            <div class="cell medium-11 large-11">
                <div class="callout white">
                    <h2>Developing Your Career Path</h2>
                    <p class="margin-bottom">The mission of the Office of Career Development is to provide
                        innovative career and
                        professional development that responds to the needs of the biomedical workforce. The office
                        does this through strategic national and community partnerships that inform the development
                        of professional development workshops, networking opportunities, and outreach programs for
                        graduate trainees. The vision of the office is that graduate education will adapt to the
                        needs of the growing biomedical workforce and effectively prepare professionals for their
                        career paths.
                    </p>
                    <div class="button-group align-center">
                        <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/student-life/ocd/" class="button">Office of Career Development</a></p>
                        <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/student-life/ocd/career-advisory-council/members" class="button ghost">Career Advisory Council</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-7 large-6">
                <h2>New to San Antonio?</h2>
                <p>
                    San Antonio is a modern, vibrant city, rich in heritage with colorful personality forged across
                    three centuries. Its unique mixture of native Mexican, German and Spanish influence is
                    noticeable in the city's distinctive architecture, music, arts, and cuisine.
                </p>

                <p>Ready to explore the city? Check out <a>UT Health's San Antonio Guide</a></p>
                <div class="arrow">
                    <ul>
                        <li><a href="http://www.uthscsa.edu/university/about-san-antonio">Weather</a></li>
                        <li><a href="https://wp.uthscsa.edu/ois/life-at-ut-health/housing/">Housing</a></li>
                        <li><a href="https://wp.uthscsa.edu/ois/life-at-ut-health/transportation/">Transportation</a></li>
                    </ul>
                </div>
                <h3>Explore UT Health San Antonio</h3>
                <p>Are you a prospective student who would like to know what the UT Health San Antonio campus looks
                    like? Now, you can!
                </p>
                <p><a href="https://www.uthscsa.edu/academics/biomedical-sciences/ut-health-san-antonio-campus-tour" class="button">Virtual Tour</a></p>
            </div>
            <div class="cell small-12 medium-5 large-6">
                <div class="responsive-embed">
                    <iframe width="734" height="438" src="https://www.youtube.com/embed/pEQRitwsSK8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bleed color grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-justify">
            <div class="cell small-12 medium-6 large-6 flex-container">
                <div class="callout light-grey flex-child-auto">
                    <h3 class="text-center">Academic/Student Support</h3>
                    <p>
                        The Graduate School of Biomedical Sciences offers programs to foster the participation of
                        students from underrepresented groups, by providing financial, academic, and professional
                        development support.
                    </p>
                    <div class="arrow">
                        <ul>
                            <li><a>South Texas Doctoral Bridge Program</a></li>
                            <li><a>Inititative on Maximizing Student Development</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6 flex-container">
                <div class="callout light-grey flex-child-auto">
                    <h3 class="text-center">Wellness/Life balance</h3>
                    <p>
                        We have a variety of resources and activities to help you stay healthy while you're here. It's
                        our job to make sure you are getting the support you need to succeed.
                    </p>
                    <div class="arrow">
                        <ul>
                            <li><a>Student Counseling</a></li>
                            <li><a>Student Health Center</a></li>
                            <li><a>Enrolled Student Resources</a></li>
                            <li><a>Recreatonal Activities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/GSBS-footer.twig" %}