{% include "@components/header-prototypes/header-nathan-shock.twig" %}
{% include "@components/navigation-prototypes/navbar-nathan-shock.twig" %}

{% include "@components/navigation/breadcrumbs.twig" %}

<section class="grid-container">
    <h1>Administrative and Program Enrichment Core</h1>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-7 small-12">
            <p>The Administrative/Program Enrichment Core (PEC) provides the administrative and regulatory support
                necessary to foster and promote transformative research in geroscience. The PEC oversees the
                comprehensive research platform within the Center that includes Cores targeted to assess longevity and
                functional aging, integrated metabolic physiology. Moreover, it will play a significant role in
                fostering career development and disseminating the findings from our Center, and others, to the public.
                The PEC also directs continuous internal and periodic external evaluations of the San Antonio Nathan
                Shock Center to continually improve services, to ensure appropriate allocation of resources, to assist
                with the success of investigator-driven studies and to listen and respond to potential room for needs
                and growth requested by users. The PEC employs a multipronged approach to catalyze fulfillment of the
                San Antonio Nathan Shock Center goals.</p>

            <p>How the PEC can assist investigators:</p>

            <h2 class="h4">Fostering an environment to support
                geroscience</h2>

            <div class="indent-list">
                <ul>
                    <li>Support for the Annual <a href="#">Barshop Conference on
                            Aging</a></li>
                    <li>Support for <a href="#">Barshop Seminar Series on
                            Aging</a></li>
                    <li>Community Engagement</li>
                    <li>Commitment to training including support for trainees</li>
                </ul>
            </div>
            <h2 class="h4">Facilitating interactions and development in
                geroscience</h2>
            <div class="indent-list">
                <ul>
                    <li>Mini-sabbaticals and internships partnering with <a href="#">RD Core</a></li>
                    <li>Mentor matching</li>
                    <li>Partnership with the <a href="#">Nathan Shock Center Coordinating
                            Center</a></li>
                </ul>
            </div>
            <h2 class="h4">Biostatistical support</h2>
            <div class="indent-list">
                <ul>
                    <li>Partnering with investigators for study design, analyses and development of new statistical
                        approaches.</li>
                    <li>Matching biostatistical support with all NSC-supported projects.</li>
                    <li>Coordination with NSC Research Cores for integrative statistical analyses.</li>
                </ul>
            </div>

        </main>
        <aside class="cell large-4 medium-5 small-12">
            <div class="callout contact outline">
                <h2>Core Leaders</h2>

                <p><a>Randy Strong, PhD</a><br><strong>Center Director and Core Leader</strong></p>
                <p><a>Adam Salmon, PhD</a><br><strong>Center Co-Director and Co-Core Leader</strong></p>
                <p><a>Jonathan Gelfond, MD, PhD</a><br><strong>Center Statistician: </strong></p>
            </div>

            <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-window-restore fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Request Service</h3>
            </a>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/nathan-shock-footer.twig" %}