{% include "@components/header-prototypes/header-SON.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-8">
      <h1>Research Resources & Scholarly Support </h1>
<p class="subheader">Office of Nursing Research & Scholarship (ONRS)</p>
<p>ONRS serves to advance the research mission within the School of Nursing and foster scholarship for faculty.</p>
<p><a href="#" class="button">More about ONRS</a></p>
				<h1></h1>
			</div>
      <div class="cell medium-12 large-4">
				<img src="../../images/son-smart/onrs.jpg">
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-SON.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Research</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Research Resources & Scholarly Support</li>
  </ul>
</nav>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-4 card light-grey flex-container flex-dir-column">
        <div class="card-section flex-child-auto">
          <img src="https://picsum.photos/534/300">
          <h4>Readiness Estimate & Deployability Index (READI)</h4>
          <p>The Readiness Estimate & Deployability Index (READI) contains 6 subscales and is a self-report instrument, estimating the extent to which a registered nurse perceives readiness to deliver nursing care in austere environments such as disasters and conflicts.</p>
          <div class="flex-child-auto">
            <p><a href="#" class="button">More about READI</a></p>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-4 card light-grey flex-container flex-dir-column">
        <div class="card-section flex-child-auto">
          <img src="https://picsum.photos/534/300">
          <h4>STAR Model</h4>
          <p>Stevens Star Model of Knowledge Transformation</p>
          <div class="flex-child-auto">
            <p><a href="#" class="button">More about STAR</a></p>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-4 card light-grey flex-container flex-dir-column">
        <div class="card-section flex-child-auto">
          <img src="https://picsum.photos/534/300">
          <h4>SUNRISE/New Horizons</h4>
          <p>The School of Nursing offers a variety  of ways to engage undergraduates seeking research experiences in basic science to applied delivery systems research.</p>
          <div class="button-group flex-child-auto">
            <p><a href="#" class="button">More about SUNRISE</a></p>
            <p><a href="#" class="ghost button">More about New Horizons</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San
              Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in
            <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care
            including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website
            (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their
            content, or products and services associated with those sites. The content on this website is intended to be
            used for informational purposes only. Health information on this site is not meant to be used to diagnose or
            treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>