{% include "@components/header-prototypes/header-TILT.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 small-12">
				<h1>Research</h1>
			</div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a>About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Research
    </li>
  </ul>
</nav>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-8 medium-8 small-12">
      <p id="start">
      <p>We have identified TILT in up to 20 percent of the patients in our clinics. Pregnant women, children, the elderly, those with chronic disease and/or chemical intolerance are among the most susceptible populations.</p>

      <p>Few doctors, nurses, or respiratory therapists have received training on recognizing the impact of environmental exposures on health. Consequently, patients are not being questioned about their air quality at home or work.</p>

      <p>Through presentations and peer-reviewed publications, we will share what we learn during this study to teach health care professionals who encounter TILTed patients. Our ultimate goal is that people with TILT have access to information and healthcare specific to their needs.</p>

      <h2>Environmental House Calls</h2>
      <p>One of the key components of the Hoffman TILT project was our certified indoor air quality team that conducted home assessments for local study participants. The house calls included indoor air quality assessments to measure levels of volatile organic compounds (VOCs), mold, allergens, particulates as well as temperature and humidity.</p>
      <p>Participants in the study received a series of home visits, including an initial assessment, a visit to share results and help them develop an action plan. The final visit determined whether indoor air quality had improved, and symptom triggers had been reduced. Those who followed our recommendations to improve indoor air quality experienced improvements in symptoms related to their chemical intolerance. The study is now closed. The results of the program were published in the journal of Primary Health Care and Research Development, 2021. It is available here: Does improving indoor air quality lessen symptoms associated with chemical intolerance?</p>

      <h2>Biological Testing</h2>
      <p>We are using biological testing to investigate genetic and other TILT-susceptibility markers. We are currently investigating if those with chemical intolerance have a vitamin B12. We are using a special assay method that reliably measures B12 in a small sample of urine. This study remains open. If you wish to participate, you will be sent a survey by email, and a urine collection kit by US mail. There is no cost to you, and you will receive your B12 status via email. To participate, please contact Dr. Rudy Rincon at <a>Rinconr@uthscsa.edu</a>. For more details see the <a class="file">information sheet here (PDF)</a></p>

      <h2>Chemical Intolerance Repository</h2>
      <p>Those wishing to participate in future studies can join as part of a list of willing participants. Those who consent to join will be asked to complete a series of surveys including the QEESI (our chemical intolerance assessment) and a medical history checklist. You will periodically be contacted to ask if you would like to participate in our latest studies as they arise. To join the repository list, please contact Dr. Rudy Rincon at <a>Rinconr@uthscsa.edu</a>. For more details see the <a class="file">information sheet here (PDF)</a></p>

      <h2>Recent Publications</h2>
      <p>Perales RB, Palmer RF, Rincon R, Viramontes JN, Walker T, Jaén CR, Miller CS. (2022) <a>Does improving indoor air quality lessen symptoms associated with chemical intolerance?</a> Primary Health Care Research & Development 23(e3): 1–12.</p>
        <p>This study describes the results of our Environmental House Calls demonstrating improved symptoms among those with chemical intolerance who improved the indoor air quality as a result of our recommendations.</p>
        <hr>
        <p>Palmer RF, Walker T, Perales RB, Rincon R, Jaén CR, Miller CS.<a>Disease comorbidities associated with chemical intolerance.</a> Environ Dis 2021;6:134-41.</p>
        <p>This paper reveals a list of chronic diseases reported by those with and without chemical intolerance. Those with chemical intolerance experience more chronic illnesses compared to those without chemical intolerance</p>
        <hr>
        <p>Palmer RF, Jae´n CR, Perales RB, Rincon R, Forster JN, Miller CS (2020) <a>Three questions for identifying chemically intolerant individuals in clinical and epidemiological populations: The Brief Environmental Exposure and Sensitivity Inventory (BREESI)</a>. PLoS ONE 15(9): e0238296.</p>
        <p>Our first demonstration that a brief 3-item survey is an excellent screener for chemical intolerance. Used in our clinical study of 200 individuals, the BREESI correctly classified those with chemical intolerance when validated with our 50-item survey (QEESI). This is an excellent tool for screening chemical intolerance in a busy health care clinic.</p>
        <hr>
        <p>Palmer, R.F.; Walker, T.; Kattari, D.; Rincon, R.; Perales, R.B.; Jaén, C.R.; Grimes, C.; Sundblad, D.R.; Miller, C.S. <a>Validation of a Brief Screening Instrument for Chemical Intolerance in a Large U.S. National Sample</a>. Int. J. Environ. Res. Public Health 2021, 18, 8714.</p>

        <p>Our second demonstration that a brief 3-item survey is an excellent screener for chemical intolerance. This was tested in a US population sample of over 10,000 participants. Again, the BREESI correctly classified chemical intolerance 90% of the time. This is an excellent tool for screening chemical intolerance in epidemiological or other survey research.</p>
        <hr>
        <p>Miller, C.S., Palmer, R.F., Dempsey, T.T. Ashford, N. <a>Mast cell activation may explain many cases of chemical intolerance</a>. Environ Sci Eur 33, 129 (2021).</p>

        <p>This paper provides for the first time a plausible biological mechanism for chemical intolerance. Overactive mast cells may be responsible for the various symptoms experienced by those with CI. Some dietary and medical interventions are discussed.</p>
        <hr>
        <p>Masri, S., Miller, C.S., Palmer, R.F. et al. <a>Toxicant-induced loss of tolerance for chemicals, foods, and drugs: assessing patterns of exposure behind a global phenomenon</a>. Environ Sci Eur 33, 65 (2021).</p>

        <p>This study is a review of the chemical intolerance phenomena in terms of the exposures that can initiate the disease.</p>
        <hr>
      <p id="stop">
    </section>
    <aside class="cell large-4 medium-4 small-12" data-sticky-container>
      <div class="sticky" data-sticky data-top-anchor="start:top" data-btm-anchor="stop:bottom">
        <a class="callout color orange flex-child-auto">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Join the research</h3>
        </a>
        <a class="callout color blue flex-child-auto">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-clipboard-check fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Take the free self assessment</h3>
        </a>
      </div>
    </aside>
  </div>
</div>

{% include "@blocks/footer/TILT-footer.twig" %}



