{% include "@components/header-prototypes/header-RDMS.twig" %}
{% include "@components/navigation-prototypes/navbar-RDMS.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a>Home</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Where Do I Start?
    </li>
  </ul>
</nav>
<section class="grid-container">

  <div class="grid-x grid-margin-x">
    <div class="cell large-10 medium-10 small-12">
      <h1>Where Do I Start?</h1>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
		<main class="cell large-8 large-order-1 medium-8  medium-order-1 small-12 small-order-2">
			<p>Cupcake powder liquorice donut lollipop jelly-o cotton candy. Toffee halvah donut soufflé powder. Cake soufflé candy canes tootsie roll sweet roll dragée carrot cake wafer fruitcake. Muffin chocolate bar marshmallow lollipop cheesecake. Bear claw carrot cake tart dessert chocolate cake jelly-o candy canes cake. </p>
      <h2>Onboarding & Offboarding</h2>
      <div class="grid-x grid-margin-x">
        <a class="card cell small-12 medium-4 large-4 light-beige">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">Onboarding Checklist</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4 light-beige">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">Offboarding Checklist</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4 light-beige">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">Knowledge Transfer File</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a> 
      </div>
      <h2>Information & Guidance</h2>
      <div class="grid-x grid-margin-x">
        <a class="card cell small-12 medium-4 large-4 light-beige">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">Policies & Compliance</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4 light-beige">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">Data Management Plans</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4 light-beige">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">Data Repositories Comparison Grid</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a> 
      </div>
      <h2>Training & Materials</h2>
       <div class="grid-x grid-margin-x">
        <a class="card cell small-12 medium-4 large-4 light-beige" href="https://lsom.uthscsa.edu/phs/resources/data-management-and-sharing-plan-templates-and-budget-tools/">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">DMS Plan Templates & Budget Tools</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4 light-beige">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">Data Management Training Classes</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4 light-beige">
          <img src="https://picsum.photos/534/300">
          <div class="card-section">
              <h3 class="h4">Research Data Lifecycle Checklist</h3>
              <p>Sugar plum sugar plum bonbon tootsie roll chupa chups marshmallow tart</p>
          </div>
        </a>
      </div>
		</main>
		<aside class="cell large-4 large-order-2 medium-4 medium-order-2 small-12 small-order-1">
      <a class="callout color orange">
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Need Assistance? Contact Us</h3>
      </a>
		</aside>
	</div>
</section>
{% include "@components/footer-prototypes/RDMS-footer.twig" %}