{% include "@components/header-prototypes/header-ETU.twig" %}
{% include "@components/navigation-prototypes/navbar-ETU.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Institute for Health Promotion Research</a></li>
    <li><a href="#">Eliminating Tobacco Use (ETU)</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Cessation
    </li>
  </ul>
</nav>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h1 class="margin-bottom">Cessation</h1>
            <h2>Tobacco Premium Program</h2>
<p>Because UT System is committed to promoting a culture of wellness and disease prevention and also recognizes the costs associated with treating tobacco-related health conditions, members enrolled in the UT SELECT and UT CARE Medical plans pay a monthly surcharge of $30 per month if they use tobacco (in addition to the premium normally charged). All members will be required to provide a declaration regarding their tobacco use as a condition of enrollment in UT SELECT or UT CARE Medical coverage.</p>
<p>The UT System is committed to helping tobacco users quit by offering our UT SELECT and UT CARE covered members specialized programs at no cost including Smoking/Tobacco Cessation Programs, Pharmaceutical Therapy, and Nicotine Replacement Therapy (NRT) at no cost to the member.</p>

<h2><a href="#">Free Tobacco Cessation Resources</a></h2>
<p><strong>(UT Select and UT Connect members, Counseling, NRT)</strong></p>
<p><em>UT Health Science Center San Antonio:</em> Faculty, staff, and students are able to participate in one-on-one smoking cessation counseling, attend group cessation classes, or make an appointment with their primary care physician to determine what cessation product is best for the patient based on health history. Through cessation counseling, they even have access to screening tools used to measure smokers’ lung functions.</p>
<h2>More Resources</h2>
<div class="arrow">
	<ul>
		<li><a href="#">Lung Cancer Screening flyer (PT focused)</a></li>
		<li><a href="#">Cessation information from the American Cancer Society</a> </li>
		<li><a href="#">Tips for quitting from the CDC</a></li>
	</ul>
</div>

            </main>
            <aside class="small-12 medium-4 cell">
            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li><a href="#">ETU Home</a></li>
    <li><a href="#">Prevention</a></li>
  <li><a href="#">Cessation</a></li>
  <li><a href="#">Contact Us</a></li>
</ul>
            <div class="text-center margin-bottom">
                        <img src="../../images/stop-smoking.jpg"></div>
            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/ETU-footer.twig" %}
