{% include "@components/header-prototypes/header-prin.twig" %}
{% include "@components/navigation-prototypes/navbar-prin.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">About us</a></li>
    <li>
      <span class="show-for-sr">Current: </span> External Advisory Board
    </li>
  </ul>
</nav>
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell small-12 medium-12 large-9">
				<h2 class="margin-bottom-2">External Advisory Board</h2>
				
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/no-photo.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Nancy McConnell, MSW, MCAP, CRPS</h2>
						
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
							</div>
						</div>
						<p>As Co-founder and Chief Executive Officer of Rebel Recovery FL, Nancy has been on the forefront of creating hybrid organizations that combine the values of harm reduction, syringe service programs, and increasing access to peer support services through recovery community organizations. Her passion is reducing stigma and barriers for returning citizens and expanding incarceration alternative programs. She is also a devoted advocate for sex-workers and members of the LGBTQI+ community. Nancy is an MSW, Certified Master’s Level Addiction Professional, (MCAP), Certified Recovery Peer Support, (CRPS), and is currently completing her Master’s in Nonprofit Management. She is an advanced level facilitator of evidence-based practices such as Wellness Recovery Action Plans, (WRAP), Whole Health Action Management, (WHAM), Trauma Informed Care, and Motivational Interviewing. Nancy is a founding board member and current board president of the Florida Harm Reduction Collective, board member Floridians for Recovery, board member of the Palm Beach County HIV Care Council and member of the Florida Certification Board Behavioral Health Advisory Board.</p>
					</div>
				</div>
				<hr>
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/no-photo.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Adam Sledd, MSW, CRSS</h2>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
							</div>
						</div>
						<p>Adam Sledd is the National Recovery Support Services Director at Unity Recovery and has been a person in recovery since 2011. He began his career in social services two decades ago as a special education teacher, receiving his Bachelor’s degree in Special Education in 1998 and his Master's degree in Social Work in 2018 from West Chester University of Pennsylvania. He was a member of Phi Alpha Honor Society and a recipient of the David Siegel Award for Excellence in Advocacy and Policy in 2018. Adam has been training and supervising peer specialists since 2016 and has worked with the Pennsylvania Certification Board to develop the examination for Certified Recovery Specialists as well as the certification for Certified Recovery Specialist Supervisors.</p>
					</div>
				</div>
				<hr>
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-4 large-4">
						<img src="../../images/no-photo.jpg">
					</div>
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h3">Noel Vest, PhD</h2>
						<div class="grid-x grid-margin-x">
							<div class="cell medium-12 large-12">
						</div></div>
						<p>Noel Vest, PhD, is an Assistant Professor at the Boston University School of Public Health. As a formerly incarcerated scholar, Dr. Vest is an advocate for social justice issues and public policy concerning substance use disorder recovery and prison reentry. His research interests include mental health, substance use disorders, poverty, social justice, addiction recovery, and pain. He received his PhD and Master’s degrees in Experimental Psychology from Washington State University. He recently finished a postdoc in the Department of Pain Medicine at Stanford University.</p>
					</div>
				</div>
        <hr>
			</main>
		</div>
	</div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}