{% include "@components/header-prototypes/header-pepper.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/pepper-center/HomepageBanner.png" alt="patients and medical staff banner">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
          <h1 class="h2">San Antonio Claude D. Pepper Older Americans Independence Center</h1>
          <p><a href="#" class="button">Overall Progress Report Publication List</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-pepper.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-8 large-8">
            <h2 class="h3">Identifying and Developing Novel Approaches to Increasing Healthy Lifespan</h2>
                <p>Launched in 2015, the San Antonio Older Americans Independence Center (San Antonio OAIC) represents the next step in UT Health San Antonio’s evolution as a leader in aging research and healthcare for older people. The San Antonio OAIC is is housed in the Center for Healthy Aging of the School of Medicine and the San Antonio Geriatric Research, Education and Clinical Center. The Center for Healthy Aging, directed by Nicolas Musi, MD is the Clinical Research Branch of the Barshop Institute, and was established in 2010 with the goal of promoting local translational and clinical research, as well as educational activities, in geriatrics and gerontology.</p>
                <p>Specifically, the goals of the San Antonio OAIC are: (1) to integrate and combine University and VA research and resources to address the health care needs of older citizens, and (2) to be one of the leading sites in the nation for clinical and translational aging research. The Center for Healthy Aging is responsible for coordinating the following integrated activities linked to the missions of the San Antonio GRECC and UT Health San Antonio:</p>
<ul>
<li>Patient-oriented clinical research in aging;</li>
<li>Translational research, taking the discoveries in biological research to the patient;</li>
<li>Training of physicians and health-care specialists in geriatrics; and</li>
<li>The delivery of multi-disciplinary care and services to older adults.</li>

            </main>
            <aside class="cell small-12 medium-4 large-4">
                <a class="callout color blue flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-calendar fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h4">2024 Masoro-Barshop Conference on Aging</h3>
            <p>Click for more information and registration</p>
        </a>
            </aside>
        </div>
    </div>
</section>

<section class="bleed beige ">
<div class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
      <div class="flex-child-auto">
        <h2 class="text-center">News</h2>
        <div class="lines">
          <ul>
            <li><a href="#">UT Health Newsroom: Boosting liver mRNAs curbs appetite, body weight in obese mice</a></li>
            <li><a href="#">Congratulations to Masahiro Morita, PhD and Sakie Katsumura, DDS, PhD on their publication in Cell Metabolism!</a></li>
            <li><a href="#">Congratulations to biology of aging graduate student Kevin Thyne on his publication!</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-child-shrink">
        <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
      </div>
    </div>
    <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
      <div class="flex-child-auto">
        <h2 class="text-center">Events</h2>
        <div class="lines">
          <ul>
            <li class="flex-container flex-dir-row align-middle">
              <div class="flex-child-auto">
                <a href="#">
                  <div class="datebox">
                    <div class="month">sept</div>
                    <div class="day">04</div>
                  </div>
                </a>
              </div>
              <div class="flex-child-auto">
                <a href="#">Fall 2024 Seminar Series: Shreya Rao, MD, MPH</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-child-shrink">
        <p class="text-center"><a href="#" class="button ghost">View all News</a></p>
      </div>
    </div>
  </div>
  </section>

{% include "@blocks/footer/no-alamo.twig" %}