{% include "@components/header-prototypes/header-cb-hospital.twig" %}
<section class="hero gradient right grey bleed img-fill">
  <img src="http://placekitten.com/1900/700" alt="">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x align-right">
      <div class="small-12 medium-5 large-5 cell callout">
          <h1>Trailblazing the future of care</h1>
          <p>Liquorice jelly sesame snaps icing cupcake jelly beans gummies brownie halvah. Lollipop cookie ice cream fruitcake tootsie roll sweet. Pastry fruitcake soufflé tiramisu shortbread. Chocolate cake cheesecake candy fruitcake macaroon lollipop. Biscuit chocolate bar bear claw dessert toffee gummies biscuit. Bonbon caramels tart marzipan fruitcake brownie dessert. </p>
          <p><a href="#" class="button">Services/Treatments CTA</a></p>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-cb-hospital.twig" %}
<!--<section class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell large-3 medium-3 small-12 flex-container">
      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h2 class="h4">Schedule Appointment</h2>
      </a>
    </div>
    <div class="cell large-3 medium-3 small-12 flex-container">
      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
        </span>
        <h2 class="h4">Find a <br>Doctor</h2>
      </a>
    </div>
    <div class="cell large-3 medium-3 small-12 flex-container">
      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h2 class="h4">For <br>Patients</h3>
      </a>
    </div>
  </div>
</section>--> 
<section class="grid-container no-bottom">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-5 medium-5 small-12">
      <img src="https://everythingittakes.org/wp-content/uploads/2021/10/ut-pc-uthero-antemeke-min.png" alt="">
    </div>
    <div class="cell large-5 medium-5 small-12">
      <section class="grid-container">
        <div class="grid-y grid-margin-y">
          <div class="cell large-3 medium-3 small-12 flex-container">
            <a class="callout color orange flex-child-auto">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
              </span>
              <h2 class="h5">Schedule Appointment</h2>
            </a>
          </div>
          <div class="cell large-3 medium-3 small-12 flex-container">
            <a class="callout color orange flex-child-auto">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
              </span>
              <h2 class="h5">Find a Doctor</h2>
            </a>
          </div>
          <div class="cell large-3 medium-3 small-12 flex-container">
            <a class="callout color orange flex-child-auto">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
              </span>
              <h2 class="h5">For Patients</h3>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<section class="bleed beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell large-5 medium-5 small-12">
        <img src="../../images/doctor-stock.png" alt="">
      </div>
      <div class="cell large-7 medium-7 small-12">
        <h2>A cornerstone of research-based medicine</h2>
        <p>At the foundation of the hospital’s breakthrough specialties, cancer care will bring patients from South Texas and beyond to receive the most advanced treatment options available. These include early-phase clinical trials and therapies that have never before been available in our region, like immunotherapy, stem cell transplants and cellular therapies, many of which are being developed right here in our laboratories at UT Health San Antonio.</p>
        <p><a class="button ghost">Research CTA</a></p>
      </div>
    </div>
  </div>
</section>
<section class="bleed color dark-grey">
	<div class="grid-container img-bleed-right">
		<div class="grid-x grid-margin-x align-middle">
			<div class="cell small-12 medium-6 large-5">
				<h2>Location Heading</h2>
				<p>Tiramisu lemon drops jujubes cake candy ice cream sweet jelly. Lemon drops sweet marzipan sweet roll shortbread sesame snaps. Muffin sweet gingerbread caramels candy lollipop halvah chocolate cake. <p>
				<p><a class="button ghost">Location CTA</a></p>
			</div>
			<div class="cell small-12 medium-6 large-7">  
				<img src="https://uthealthsahospital.org/wp-content/uploads/2021/03/home-image.jpg" alt="">
			</div>
		</div>
	</div>
</section> 
<!--<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-7 medium-7 small-12">
      <img src="https://uthealthsahospital.org/wp-content/uploads/2021/01/utsa-mrh-gallery-06.jpg" alt="">
    </div>
    <div class="cell large-5 medium-5 small-12">
      <p>San Antonio is the 7th largest city in the U.S. and among the fastest growing cities in the nation, increasing by more than 2,000 residents every month.</p>
      <p>Our diverse and aging population faces a disproportionate prevalence of cancer, diabetes, heart disease and other complex diseases, requiring the most sophisticated care in oncology, radiation therapy, neurology, orthopaedics and more. Cancer cases are projected to increase by an astonishing 34% over the next 10 years, increasing the need for better access to leading-edge clinical trials here at home.</p>
      <p>As a forward-thinking academic medical center, UT Health San Antonio Multispecialty and Research Hospital is primed to face those needs and more through best-in-class, comprehensive specialty care, leading-edge technologies, world-renowned expertise and the most advanced, research-based therapies in the region.</p>
      <div class="button-group">
				  <p><a href="#" class="button">About us</a></p>
          <p><a href="#" class="button ghost">Make a gift</a></p>
        </div>
    </div>
  </div>
</section>-->
<div class="bleed color orange noise pullquote">
  <div class="grid-container">
    <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
      <div class="grid-x align-center-middle">
        <div class="cell small-10">
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <blockquote>
                {% include "@components/blockquotes/blockquote-image-right.twig" %}
              </blockquote>
            </li>
            <li class="orbit-slide">
              {% include "@components/blockquotes/blockquote-image-right.twig" %}
            </li>
            <li class="orbit-slide">
              {% include "@components/blockquotes/blockquote-image-right.twig" %}
            </li>
          </ul>
        </div>
        <div class="cell small-1">
          <nav class="orbit-bullets">
            <ul class="no-bullet">
              <li><button class="is-active cell small-4" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button></li>

              <li><button class="cell small-4" data-slide="1"><span class="show-for-sr">Second slide details.</span></button></li>

              <li><button class="cell small-4" data-slide="2"><span class="show-for-sr">Third slide details.</span></button></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bleed beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-6 large-4 flex-container flex-dir-column">
        <a href="#" class="card flex-child-auto">
          <img src="https://picsum.photos/534/300" alt="">
          <div class="card-section">
            <h3 class="h5">Gummies candy jelly-o</h3>
            <p>Jujubes gummi bears candy canes fruitcake apple pie biscuit marzipan. Cookie chocolate cake biscuit marzipan halvah chocolate cake.</p>
          </div>
        </a>
      </div>
      <div class="cell small-12 medium-6 large-4 flex-container flex-dir-column">
        <a href="#" class="card flex-child-auto">
          <img src="https://picsum.photos/534/300" alt="">
          <div class="card-section">
            <h3 class="h5">Tootsie roll tiramisu</h3>
            <p>Danish sweet roll cheesecake bear claw oat cake. Sesame snaps pastry jelly beans halvah jelly dragée croissant dragée.</p>
          </div>
        </a>
      </div>
      <div class="cell small-12 medium-6 large-4 flex-container flex-dir-column">
        <a href="#" class="card flex-child-auto">
          <img src="https://picsum.photos/534/300" alt="">
          <div class="card-section">
            <h3 class="h5">Candy icing cupcake cookie</h3>
            <p>Bonbon biscuit cookie jelly jelly beans wafer sweet roll. Toffee marzipan cotton candy cake pudding biscuit toffee. </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% include "@components/footer-prototypes/cb-hospital-footer.twig" %}