{% include "@components/header-prototypes/header-CHHA.twig" %}
<section class="hero bleed blur img-fill full">
    <img src="../../images/CHHA/research-1.jpg" alt="blurred image of people walking across a street">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Research</h1>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/CHHA/research-1.jpg" alt="blurred image of people walking across a street">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-CHHA.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-8 large-8">
            <h2>Overview</h2>
            <p>The Center for Hispanic Healthy Aging (CHHA) builds on UT Health San Antonio strengths in Hispanic aging, and population based longitudinal studies in aging with a wide socio-economic perspective. The Center seeks to foster communication and collaboration between investigators and scholars with a shared interest in population aging with a life-course perspective with an emphasis in past migration, childhood conditions, and socio-economic and health disparities.</p> 
<p>UT Health San Antonio has an outstanding group of investigators funded by NIH and other agencies in the areas of Hispanic aging, physical and cognitive function, lifestyle and behavioral patterns, with deep interest in social determinants of health.</p>
<h2>Main Research Projects</h2>
<p>CHHA investigators are involved in a variety of funded research projects that support the mission of the center such as:</p>
                <ul>
                <li><a>Mexican Health and Aging Study</a> (R01 AG018016)</li>
                <li><a>San Antonio Heart and Mind Study</a> (R01 AG082360)</li>
                <li>South Texas Alzheimer’s Disease Center Population Neuroscience (P30 AG066546)</li>
                <li><a>Texas Resource Center on Minority Aging Research (RCMAR)</a> (P30 AG059306)</li>
                <li>Health of Aging Mexicans on Both Sides of the Border (R01 AG068392)</li>
                <li><a>Avanzando Caminos (Leading Pathways): The Hispanic/Latino Cancer Survivorship Cohort Study</a> (UG3CA260317)</li>
                <li><a>Avanzando Equidad de Salud: Latino Cancer Health Equity</a> (CHERC-MSI-22-182-01-American Cancer Society)</li>
                </ul>
            </main>
            <aside class="cell small-12 medium-4 large-4">
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-globe-americas fa-stack-1x fa-inverse"></i>
                </span>
                <h3>About Us</h3>
            </a>
            <a class="callout color blue flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Members</h3>
            </a>      
<div class="callout outline">
            <h2 class="h5">Contact Us</h2>
            <p>Thank you for your interest in our center. Please contact us if you have any questions.</p>
            <address>
               UT Health San Antonio<br>
               Center for Hispanic Healthy Aging<br>
               7703 Floyd curl Drive, MC XXXX<br>
               San Antonio, TX 78229<br>
            </address>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">admin@uthscsa.edu</span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">210-562-6140</span>
                  </a>
               </li>
            </ul>
         </div>
            </aside>
</section>  
{% include "@components/footer-prototypes/CHHA-footer.twig" %}