{% include "@components/header-prototypes/header-barshop.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-8 medium-8 small-12">
				<h1>Our Research</h1>
                <p class="large">Research at the Barshop Institute aims to bring fundamental discoveries in the basic biology of aging into clinical practice. Researchers at the Barshop Institute sustain their scientific endeavors by successfully competing for funding at the national level.</p>
                <p><a class="button">View our publications</a></p>
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-barshop.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-9 medium-9 small-12">
            <p>The Barshop Institute supports their research through a wide range of core services and clinical facilities by sponsoring cutting-edge programs that employ advanced technologies such as genomics and proteomics, transgenic animal models, and pathological assessments.</p>
            <h2>Areas of Research</h2>
            <ul class="accordion orange" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Aging and Cancer</a>
                <div class="accordion-content" data-tab-content>
                    <p class="large"><strong>Participating Faculty</strong></p>
                    <ul>
                        <li><a>Sukeshi Patel Arora, MD</a></li>
                        <li><a>Alexander J.R. Bishop, DPhil</a></li>
                        <li><a>Sandeep Burma, PhD</a></li>
                        <li><a>Bandana Chatterjee, PhD</a></li>
                        <li><a>Tyler J. Curiel, MD, MPH</a></li>
                        <li><a>Patricia L. Dahia, MD, PhD</a></li>
                        <li><a>Maria Gaczynska, PhD</a></li>
                        <li><a>Nandini Ghosh-Choudhury, PhD</a></li>
                        <li><a>David Gius, MD, PhD</a></li>
                        <li><a>Paul Hasty, DVM</a></li>
                        <li><a>Robert Hromas, MD, FACP</a></li>
                        <li><a>Yuji Ikeno, MD, PhD</a></li>
                        <li><a>Jean Jiang, PhD</a></li>
                        <li><a>Robin J. Leach, PhD</a></li>
                        <li><a>Masahiro Morita, PhD</a></li>
                        <li><a>Pawel A. Osmulski, PhD</a></li>
                        <li><a>Babatunde Oyajobi, MD, PhD, MBA</a></li>
                        <li><a>Z. David Sharp, PhD</a></li>
                        <li><a>Roger Shi, PhD</a></li>
                        <li><a>Yuzuru Shiio, MD, PhD</a></li>
                        <li><a>LuZhe Sun, PhD</a></li>
                        <li><a>Patrick Sung, DPhil</a></li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Aging-Related Neurodegeneration</a>
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-8 medium-8 small-12">
                            <p>Many Barshop faculty members are investigating the biology underlying brain aging and age-related neurodegenerative disorders. Our highly collaborative group of faculty with expertise in the aging brain span from basic science to clinical research. Many of our faculty also share appointments with the <a href="https://biggsinstitute.org/">Glenn Biggs Institute for Alzheimer’s and Neurodegenerative Diseases</a>, the <a href="https://iims.uthscsa.edu/perry-ruby-stevens-parkinsons-disease-center-excellence">Perry and Ruby Stevens Parkinson’s Disease Center of Excellence</a>, and the <a href="https://lsom.uthscsa.edu/cbn/">Center for Biomedical Neuroscience</a>, as well as academic appointments with various UTHSA departments.</p>
                            <p><strong>Alzheimer’s disease and related tauopathies.</strong> The Barshop is home to a <a href="https://barshopinstitute.uthscsa.edu/cores/barshop-institute-functional-lipidomics-core/">Functional Lipidomics Core</a>, directed by Dr. Xianlin Han, who also directs the South Texas Alzheimer’s Center Biomarkers Core. Dr. Han’s group has a special interest in sulfatides, a class of myelin-specific lipids, and the consequences of sulfatide deficiency in aging and the development of Alzheimer’s disease. Dr. Juan Pablo “JP” Palavicini’s research team is also interested in lipids, with an emphasis on ceramide-induced lipotoxicity in the context of brain aging and Alzheimer’s disease.</p>
                            <p>The laboratory led by Dr. Bess Frost studies how aging and tau-induced aberrations in the nucleus, including heterochromatin decondensation, retrotransposon activation and alterations in RNA metabolism, contribute to neuronal death and neuroinflammation using <em>Drosophila melanogaster</em>, tau transgenic mice, human cell cultures and human brain. Dr. Sarah Hopp’s laboratory also studies tauopathy – particularly the role of microglia, the immune cells of the brain, as a clearance mechanism for pathological forms of tau. They are working to determine how microglia contribute to the initiation and progression of tau-related neurodegeneration and cognitive decline.</p>
                            <p>Several Barshop investigators focus their efforts on the role of mitochondria and oxidative stress in Alzheimer’s disease. Dr. Roger Shi’s laboratory studies ALCAT1 and the mitochondrial etiology of aging and age-related disorders, including Alzheimer’s disease. Studies led by Dr. Qitao Ran investigate the key cellular events triggered by reactive oxygen species that drive neuronal injury and death. A particular emphasis is on links between reactive oxygen species and ferroptosis in Alzheimer’s disease and amyotrophic lateral sclerosis.</p>
                            <p><strong>Traumatic brain and spinal cord injury.</strong> Dr. Lizhen Chen’s group is focused on genetic and epigenetic regulation of neuronal aging and age-dependent axon regeneration. Dr. Chen’s laboratory integrates studies using the genetically tractable roundworm <em>C. elegans</em> with work in mice and human cell cultures.</p>
                            <p>Dr. Jim Lechleiter, director of the <a href="https://lsom.uthscsa.edu/dcsa/research/cores-facilities/optical-imaging/">UTHSA Optical Imaging Facility</a>, leads a team that is actively investigating the role of astrocytes in the context of brain injuries, and how astrocytes may be leveraged for neuroprotection. Dr. Lechleiter has co-founded a company, Astrocyte Pharmaceuticals, based on the discoveries in his laboratory.</p>
                            <p>Dr. Naomi Sayre’s team seeks to understand the basic biology underlying brain recovery after stroke or traumatic brain injury. Ongoing studies are focused on the role of cholesterol metabolism, ApoE status, and LRP1 in recovery after brain damage.</p>
                            <p>Dr. Kevin Bieniek, director of the <a href="https://biggsinstitute.org/research/brain-donation/">Glenn Biggs Brain Bank</a>, focuses on the role of traumatic brain injury in the etiology and progression of neurodegenerative disorders and physiological aging by combining traditional pathological analysis with new state-of-the-art technologies for analyzing postmortem human brain tissue.</p>
                            <p><strong>Parkinson’s disease.</strong> Dr. Randy Strong, director of the Barshop <a href="https://www.nia.nih.gov/research/resource/interventions-testing-program-itp">NIA Aging Interventions Testing Program</a> and the <a href="https://nathanshock.barshop.uthscsa.edu/">UTHSA Nathan Shock Center of Excellence in the Biology of Aging</a>, leads a research team focused on neurotransmitters, neurotransmitter receptors, and intracellular signaling pathways in the context of Parkinson’s disease. Within Dr. Strong’s group, Dr. Elizabeth Fernandez focuses on aldehyde dehydrogenase 1a1 and glutamate peroxidase 1 in Parkinson’s disease, and whether use of aldehyde trapping agents suppresses Parkinson-like symptoms in mice.</p>
                            <p>The laboratory directed by Dr. Andrea Giuffrida, UTHSA Vice President for Strategic Industry Ventures, is interested in the endocannabinoid system as a regulator of motor function. In addition to studies in mouse models of neurological and psychiatric disorders, the team investigates new pharmacotherapies in patients with Parkinson disease.</p>
                            <p><strong>Human studies.</strong> Dr. Jamie Walker, co-Director of <a href="https://biggsinstitute.org/research/brain-donation/">Biggs Brain Bank</a>, studies brains of “superagers,” individuals who are resistant or resilient to the neuropathologic changes that commonly occur over the course of aging. Overall, her research program seeks to identify mechanisms of prevention that will lead to novel interventions for Alzheimer’s disease and related dementias.</p>
                            <p>Dr. Sudha Seshadri is a neurologist and the founding director of the <a href="https://biggsinstitute.org/">Glenn Biggs Institute for Alzheimer’s and Neurodegenerative Diseases</a>, an NIH-designated Alzheimer’s Disease Research Center. Scientifically, Dr. Seshadri’s research group utilizes population neuroscience to identify risk factors associated with neurodegenerative disorders. Through this work, they seek to identify cellular pathways that drive dementia, and integrate genetic, blood-based, clinical and imaging biomarkers to determine disease risk and understand disease heterogeneity.</p>
                            <p>Dr. Peter Fox leads the UTHSA <a href="http://rii.uthscsa.edu/">Research Imaging Institute</a>, which enables our study teams to visualize brains of living animals, including humans, via magnetic resonance imaging (MRI) and positron emission tomography (PET). Dr. Fox’ group works to develop computational tools and resources that enable quantitative meta-analyses and co-activation mapping and functional decoding of neuroimaging data.</p>
                            <p>Dr. Don Royall is a neuropsychiatrist interested in cognitive performance in the context of general intelligence and successful aging. His early work resulted in the Clock Drawing Test (CLOX), a nonverbal screening assessment that is commonly used to quantify cognitive function.</p>
                            <p>Ongoing clinical trials in the area of Alzheimer’s disease include <a href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/art-ad/">ART-AD</a> (Barshop investigators Dr. Bess Frost, Dr. Nick Musi, Biggs investigator Dr. Campbell Sullivan) and <a href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/preventable/">PREVENTABLE</a> (Barshop investigators Dr. Nick Musi and Dr. Sara Espinoza). Additional opportunities for clinical trials in the area of Alzheimer’s disease are available through the <a href="https://biggsinstitute.org/clinical-trials/current-trials/">Biggs Institute</a>.</p>
                            <p><strong>Brain networks and cellular crosstalk.</strong> Dr. David Morilak, director of the <a href="https://lsom.uthscsa.edu/cbn/">Center for Biomedical Neuroscience</a>, studies stress-related psychiatric disorders and the negative impact of stress. His team focuses on the structural, functional and regulatory changes in prefrontal circuits that underlie neuronal plasticity.&nbsp;Recent work is focused on investigation the causes of cognitive decline after cancer therapy.</p>
                            <p>The laboratory directed by Dr. Martin Paukert studies interactions between neurons and astrocytes in the context of neuromodulation. His team utilizes <em>in vivo</em> calcium imaging to understand the molecular events and behavioral contexts that facilitate neuron-astroglia interaction in neurodegenerative and neurobehavioral disorders.</p>
                            <p>Dr. Jason O’Connor’s research group is focused on understanding the biological basis of inflammation-related depressive disorders. They utilize mouse models of inflammation-induced depressive behavior to investigate how the kynurenine pathway control neuroimmune interactions and effects behavioral changes.</p>
                        </div>
                        <div class="cell large-4 medium-4 small-12">
                            <p class="large"><strong>Participating Faculty</strong></p>
                            <ul>
                                <li><a>Lizhen Chen, PhD</a></li>
                                <li>Ray Faber, MD</li>
                                <li><a>Elizabeth Fernandez, PhD</a></li>
                                <li><a>Peter T. Fox, MD</a></li>
                                <li><a>Bess Frost, PhD</a></li>
                                <li><a>Maria Gaczynska, PhD</a></li>
                                <li><a>Andrea Guiffrida, PhD</a></li>
                                <li>P. John Hart, PhD</li>
                                <li><a>Sarah C. Hopp, PhD</a></li>
                                <li><a>Jean Jiang, PhD</a></li>
                                <li><a>Erzsebet K. Kokovay, PhD</a></li>
                                <li><a>Eileen M. Lafer, PhD</a></li>
                                <li><a>James D. Lechleiter, PhD</a></li>
                                <li><a>David Morilak, PhD</a></li>
                                <li><a>Jason O’Connor, PhD</a></li>
                                <li>Miranda Orr, PhD</li>
                                <li><a>Pawel A. Osmulski, PhD</a></li>
                                <li><a>Juan Pablo Palavicini, PhD</a></li>
                                <li><a>Martin Paukert, MD</a></li>
                                <li><a>Qiato Ran, PhD</a></li>
                                <li><a>Rene C. Renteria, PhD</a></li>
                                <li><a>Donald R. Royall JR, MD</a></li>
                                <li><a>Naomi Sayre, PhD</a></li>
                                <li><a>Sudha Seshadri, MD, DM</a></li>
                                <li><a>Roger Shi, PhD</a></li>
                                <li><a>Randy Strong, PhD</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Comparative Biology and Invertebrate Models of Aging</a>
                <div class="accordion-content" data-tab-content>
                    <p class="large"><strong>Participating Faculty</strong></p>
                    <ul>
                        <li><a>Lizhen Chen, PhD</a></li>
                        <li><a>Bess Frost, PhD</a></li>
                        <li><a>Ellen B. Kraig, PhD</a></li>
                        <li><a>Pamela L. Larsen, PhD</a></li>
                        <li><a>Kimberley A. Phillips, PhD</a></li>
                        <li><a>Corinna Ross, PhD</a></li>
                        <li><a>Adam B. Salmon, PhD</a></li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Exercise and Nutrition Science</a>
                <div class="accordion-content" data-tab-content>
                    <p class="large"><strong>Participating Faculty</strong></p>
                    <ul>
                        <li><a>Gustavo Almeida, PT, PhD</a></li>
                        <li><a>Ana Cepeda Lopez, MD, PhD</a></li>
                        <li><a>Ralph DeFronzo, MD</a></li>
                        <li><a>Sara Espinoza, MD, MSc</a></li>
                        <li><a>Lisa M. Kilpela, PhD</a></li>
                        <li><a>Wei Liu, PhD</a></li>
                        <li><a>Nicolas Musi, MD</a></li>
                        <li><a>Darpan Patel, RN, PhD</a></li>
                        <li><a>Timothy Reistetter, OTR, PhD</a></li>
                        <li><a>Marzieh Salehi, MD</a></li>
                        <li><a>Monica Serra, RD, PhD</a></li>
                        <li><a>Mengwei Zang, MD, PhD</a></li>
                        <li><a>Boris Zelle, MD</a></li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Inflammation and Immunity</a>
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-8 medium-8 small-12">
                            <p>The scientists at the Barshop Institute study how age affects immune function and inflammation. Aging causes various functional and structural modifications in the immune system that can further result in increased susceptibility to infections, reduced vaccine response and increased frequency of inflammatory and autoimmune diseases. In humans, aging is correlated with a decrease in cellularity of the bone marrow, and decline in both innate and adaptive immune responses. With increased age, innate immune system is characterized by dysregulated inflammatory responses that may further contribute to pro-inflammatory environment. This inflammation further can result in failure of innate immune activation in response to pathogens and vaccines. The adaptive immunity declines with age due to thymus atrophy and dysfunction, that further results in diminished T cell production and immunodeficiencies, including decreased responsiveness to infection and vaccination. Hence understanding the molecular and cellular immune mechanisms is crucial to improve immune responses during aging.</p>
                            <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2022/03/Aging-and-inflammation2.jpg" alt="">
                        </div>
                        <div class="cell large-4 medium-4 small-12">
                            <p class="large"><strong>Participating Faculty</strong></p>
                            <ul>
                                <li><a>Robert A. Clark, MD</a></li>
                                <li><a>Tyler J. Curiel, MD, MPH</a></li>
                                <li><a>Sara Espinoza, MD, MSc</a></li>
                                <li><a>Ann V. Griffith, PhD</a></li>
                                <li><a>Ellen B. Kraig, PhD</a></li>
                                <li><a>Nicolas Musi, MD</a></li>
                                <li><a>Chih-Ko Yeh, PhD, BDS</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Metabolism, Endocrinology, and Bioenergetics of Aging</a>
                <div class="accordion-content" data-tab-content>
                    <p class="large"><strong>Participating Faculty</strong></p>
                    <ul>
                        <li><a>Yidong Bai, PhD</a></li>
                        <li><a>Ralph DeFronzo, MD</a></li>
                        <li><a>Lily Q. Dong, PhD</a></li>
                        <li><a>Sara E. Espinoza, MD, MSc</a></li>
                        <li><a>David Gius, MD, PhD</a></li>
                        <li><a>Xianlin Han, PhD</a></li>
                        <li><a>Amrita Kamat, PhD</a></li>
                        <li><a>Kevin B. Koronowski, PhD</a></li>
                        <li><a>Pamela L. Larsen, PhD</a></li>
                        <li><a>Feng Liu, PhD</a></li>
                        <li><a>Masahiro Morita, PhD</a></li>
                        <li><a>Madesh Muniswamy, PhD</a></li>
                        <li><a>Nicolas Musi, MD</a></li>
                        <li><a>James F. Nelson, PhD</a></li>
                        <li><a>Juan Pablo Palavicini, PhD</a></li>
                        <li><a>Adam B. Salmon, PhD</a></li>
                        <li><a>Kumar Sharma, MD</a></li>
                        <li><a>Roger Shi, PhD</a></li>
                        <li><a>Mengwei Zang, MD, PhD</a></li>
                    </ul>
                </div>
            </li>
             <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">egenerative Medicine and Stem Cells</a>
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-8 medium-8 small-12">
                            <p>Several faculty affiliated with the Barshop Institute are working on research concerning regenerative medicine and stem cells. Studies are aimed at understanding changes in stem cells in the body during aging. Other research is aimed at developing new methods to use stem cells for healing organs and tissues that have been damaged by aging and age-related diseases.</p>
                            <p><strong>Basic Biology of Stem Cells in Aging and Cancer.</strong> The lab of <a href="https://directory.uthscsa.edu/academics/profile/sunl">LuZhe Sun, PhD</a> Professor of Cell Systems and Anatomy is studying the regulatory role of an aging microenvironment on normal and cancer-forming stem cells in the mammary gland. See Figure 1 for details. The lab of <a href="https://directory.uthscsa.edu/academics/profile/walter">Christi Walter, PhD</a> Professor and Chair of Cell Systems and Anatomy is studying the aging of testicular stem cells.</p>
                            <p><strong>Neural Stem Cells in Aging.</strong> The lab of <a href="https://directory.uthscsa.edu/academics/profile/kokovaye">Erzsebet Kokovay, PhD</a> Professor of Cell Systems and Anatomy is studying the changes in neural stem cells that occur with age. See Figure 2 for details.</p>
                            <p><strong>Induced Pluripotent Stem Cells for Age-Related Diseases.</strong> Human cells with the properties of embryonic stem cells can be derived from skin fibroblasts by reprogramming. These cells are termed “induced pluripotent stem cells” (iPS cells) and their creation is thought by many scientists to be a major advance in terms of ethics, medical therapy and basic science. Although iPS cells may be the starting point for future cell therapy, the major issues that face scientists now are the same as was previously raised for embryonic stem cells: how to cause them to differentiate into useful cell types (e.g. brain, heart, insulin-secreting and so on) and how to test whether these cells can be safely used in cell therapy. <a href="https://barshopinstitute.uthscsa.edu/team-member/hornsby-peter/">Peter Hornsby, PhD</a> Professor of Cellular and Integrative Physiology is an expert on the processes for deriving iPS cells and has written several overviews of their future potential use for therapy of age-related diseases. <a href="https://directory.uthscsa.edu/academics/profile/68961">John McCarrey, PhD</a> Professor of Biology at UTSA, is developing the baboon as a model system for testing stem cell-based therapeutic applications.</p>
                            <p><strong>Mesenchymal Stem Cells in Aging and Cancer.</strong> Mesenchymal stem cells are pluripotent cells with great promise for regenerative medicine that are found in all tissues of the body; fat and bone marrow are good sources of these cells. Although they hold great promise they also are capable of stimulating the growth of cancer cells. The lab of <a href="https://directory.uthscsa.edu/academics/profile/chenx4">Xiao-Dong Chen, MD, PhD</a> Professor of Restorative Dentistry is characterizing the aging of human mesenchymal stem cells.</p>
                            <p><strong>Stem Cell Therapy for Neurodegenerative Diseases.</strong> The lab of <a href="https://directory.uthscsa.edu/academics/profile/lis1">Senlin Li, MD</a> Professor of Medicine is using a novel macrophage-delivered therapy for Parkinson’s disease. In addition, in conjunction with <a href="https://directory.uthscsa.edu/academics/profile/clarkra">Robert Clark, MD</a> Professor of Medicine, experiments in mice have shown that transplantation of hematopoietic stem cells can extend lifespan. The lab of <a href="https://directory.uthscsa.edu/academics/profile/64531">Marcel Daadi, PhD</a> Adjunct Associate Professor of Cell Systems and Anatomy is developing therapeutic neural stem cell lines for clinical use in stroke, Parkinson’s disease and other diseases and injuries.</p>
                            <figure>
                                <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2022/03/Fig1.jpg" alt="">
                                <figcaption>Figure 1<br>Stem cell aging in the mouse mammary gland. (a and b) Gene set enrichment analysis is used to discover the differences in genes that are expressed in the young (4-6 mon.) and old (30-32 mon.) mouse mammary gland. Two sets (from Dr Sun's lab and that of Lim et al., 2010) of luminal signature genes were analyzed and indicated as black bars in the plots. The luminal cell signature genes were significantly enriched in the old basal cells, and no significant enrichment was seen in young or old luminal cells. (c-j) Immunostaining of representative mammary ducts from old (26-31 mon., n = 6) C57BL6/J mice showing that basal cells were CD49fhi, SMA+ and K8- in the majority normal (c, e) and hyperplastic ducts (d, f), but the presence of CD49fhi luminal cells (K8+, SMA-) in a few hyperplastic lesions (g-j). Scale bars, 10 μm. Images courtesy of Dr. Sun. </figcaption>
                            </figure>
                            <figure>
                                <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2022/03/Fig2-scaled.jpg" alt="">
                                <figcaption>Figure 2<br>Organization of the vascular subventricular zone (V-SVZ), one of the locations of neural stem cells in the brain. A) Diagram of the V-SVZ niche in the mouse brain. The niche is a complex environment with several cell types playing various roles. Key elements are the blood vessels and the microglia. In aging, changes in the activity of the neural stem cells depend on changes in the blood supply to the niche and on changes in the activity of the microglia. B) The blood vessels appear green and dividing cells appear red in this fluorescence microscope image. C) The microglia appear purple in this image. Images courtesy of Dr. Kokovay. </figcaption>
                            </figure>
                        </div>
                        <div class="cell large-4 medium-4 small-12">
                            <p class="large"><strong>Participating Faculty</strong></p>
                            <ul>
                                <li><a>Xiao-Dong Chen, MD, PhD</a></li>
                                <li><a>Peter J. Hornsby, PhD</a></li>
                                <li><a>Erzsebet K. Kokovay, PhD</a></li>
                                <li><a>Senlin Li, MD</a></li>
                                <li><a>John R. McCarrey, PhD</a></li>
                                <li><a>LuZhe Sun, PhD</a></li>
                                <li><a>Christi A. Walter, PhD</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Translational and Interventions</a>
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-8 medium-8 small-12">
                            <p>Investigators at the Barshop Institute are actively engaged in clinical research focused on identifying interventions to promote health with aging. In our on-site clinical research unit, we conduct federally-funded clinical trials of novel and re-purposed pharmacologic agents as well as lifestyle interventions in older adults. These are investigator-initiated studies and national multi-institutional clinical trials. Our work is informed by the ground breaking basic science research conducted in the biology of aging. With our team of clinician investigators and clinical research staff, we are able to rapidly translate these novel discoveries to the clinical research setting.</p>
                            <p>Our clinical studies on geroscience are here: <a class="arrow" href="https://barshopinstitute.uthscsa.edu/clinical-trials/">Clinical Trials – Barshop Institute (uthscsa.edu)</a></p>
                        </div>
                        <div class="cell large-4 medium-4 small-12">
                            <p class="large"><strong>Participating Faculty</strong></p>
                            <ul>
                                <li><a>Robert A. Clark, MD</a></li>
                                <li><a>Sara Espinoza, MD, MSc</a></li>
                                <li><a>Balakuntalam Kasinath, MD</a></li>
                                <li><a>Dean Kellogg, MD, PhD</a></li>
                                <li><a>Wei Liu, PhD</a></li>
                                <li><a>Nicolas Musi, MD</a></li>
                                <li><a>Kelly R. Reveles, PharmD, PhD</a></li>
                                <li><a>Donald Royall, Jr., MD</a></li>
                                <li><a>Sandra Sanchez-Reilly, MD</a></li>
                                <li><a>Roger Shi, PhD</a></li>
                                <li><a>Randy Strong, PhD</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        </main>
        <aside class="cell large-3 medium-3 small-12">
            <div class="callout outline">
                <h2 class="h4 text-center">Partnership & Collaborations</h2>
                <div class="lines">
                    <ul>
                        <li><a href="https://www.va.gov/GRECC/pages/San_Antonio_GRECC.asp">San Antonio Geriatric Research, Education and Clinical Center (GRECC)</a></li>
                        <li><a href="https://barshopinstitute.uthscsa.edu/centers/center-for-healthy-aging/">Center for Healthy Aging</a></li>
                        <li><a href="https://lsom.uthscsa.edu/geriatrics/">Division of Geriatrics, Gerontology, and Palliative Medicine</a></li>
                        <li><a href="https://lsom.uthscsa.edu/family-medicine/">Department of Family and Community Medicine</a></li>
                        <li><a href="https://www.uthscsa.edu/patient-care/physicians">UT Health Physicians</a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</section>



{% include "@components/footer-prototypes/barshop-footer.twig" %}