<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

  <!-- Quicklinks Content -->
  <div class="title-bar quicklinks">
    <div class="title-bar-left">
      <p><a href="#" data-close="offCanvasLeft"><i class="fas fa-times"></i> Quicklinks</a></p>
      <form class="search">
        <input type="search" class="search-box" placeholder="Search">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
      <h4>Accreditation</h4>
      <div class="no-bullet arrow">
        <ul>
          <li><a href="#">CODA Third-Party Comments</a></li>
          <li><a href="#">CODA Complaints Policy</a></li>
        </ul>
        </div>
          <h4>News & Events</h4>
      <div class="no-bullet arrow">
        <ul>
          <li><a href="#">News</a></li>
          <li><a href="#">Events</a></li>
        </ul>
        </div>
        <h4>Logins</h4>
      <div class="no-bullet arrow">
        <ul>
          <li><a href="#">Dental School Intranet</a></li>
          <li><a href="#">Dental Student Absence Reporting</a></li>
          <li><a href="#">LiveMail</a></li>
          <li><a href="#">Canvas</a></li>
        </ul>
        </div>
      <h4>Schedule/Calendar/Catalog</h4>
      <div class="no-bullet arrow">
        <ul>
          <li><a href="#">Class Schedule</a></li>
          <li><a href="#">Catalog</a></li>
          <li><a href="#">Academic Calendars</a></li>
        </ul>
        </div>
      <h4>Health/Wellness</h4>
      <div class="no-bullet arrow">
        <ul>
          <li><a href="#">Student Health Center</a></li>
          <li><a href="#">Needlestick Guidelines</a></li>
          <li><a href="#">Needlestick Incident Report</a></li>
          <li><a href="#">Insurance</a></li>
          <li><a href="#">Counseling Services</a></li>
        </ul>
        </div>
      <h4>Technology</h4>
      <div class="no-bullet arrow">
        <ul>
          <li><a href="#">Service Desk</a></li>
          <li><a href="#">Password Reset</a></li>
          <li><a href="#">TechZone (Computer Store)</a></li>
        </ul>
        </div>
      <h4>Other</h4>
      <div class="no-bullet arrow">
        <ul>
          <li><a href="#">Voice Your Opinion</a></li>
          <li><a href="#">ADA Accommodations</a></li>
          <li><a href="#">Faculty Directory</a></li>
          <li><a href="#">Student Directory</a></li>
          <li><a href="#">Placement Service</a></li>
          <li><a href="#">Department List</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="off-canvas-content" data-off-canvas-content>

  <!--<div class="top-bar global-bar">    
        <div class="top-bar-left">
            <p><a href="#" data-toggle="offCanvas"><i class="fas fa-bars"></i> Quicklinks</a></p>
        </div>
        <div class="top-bar-right">
            <p><a href="#"><i class="fas fa-star"></i> Part of UT Health San Antonio</a></p>
        </div>
    </div>-->
  <div class="title-bar global-bar">
    <div class="title-bar-left">
      <p><a href="#" data-toggle="offCanvasLeft"><i class="fas fa-bars"></i> Quicklinks</a></p>
    </div>
    <div class="title-bar-right">
      <p><a href="#"><i class="fas fa-star"></i> Part of UT Health San Antonio</a></p>
    </div>
  </div>
</div>

<header class="title-bar" data-responsive-toggle="regular">
  <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
  <button class="menu-icon" type="button" data-toggle="regular">Menu</button>
</header>
<header id="regular">
  <div class="group">
    <div class="logo pipe">
      <a href="#"><img src="../../images/UTHSA_SOD_logo.svg" alt="UT Health San Antonio SOD Logo"></a><p>Department of Comprehensive Dentistry</p>
      
    </div>
    <div class="right">
      <form class="search">
        <input type="search" class="search-box" placeholder="Search">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
      <div class="circle-icons">
        <a href="#">
          <span class="fa-stack outline">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
                    </span>
          <span>Give</span>
        </a>
        <a href="#">
          <span class="fa-stack outline">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
          <span>Patient Care</span>
        </a>
      </div>
    </div>
  </div>
  <nav class="nav-bar">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Programs</a></li>
          <li><a href="#">Admissions</a></li>
          <li><a href="#">Student Success</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Continuing Education</a></li>
          <li><a href="#">Alumni</a></li>
          <li><a href="#">Dental Research</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                <h1>Advanced Education in General Dentistry</h1>
                <p class="subheader">Part of the Department of Comprehensive Dentistry</p><br>
                <p>The Advanced Education in General Dentistry Program (AEGD) at UT Health San Antonio School of Dentistry <a>Department of Comprehensive Dentistry</a> is an intensive clinical and didactic program focused on providing residents with a solid foundation for treating patients comprehensively in all aspects of General Dentistry. Please visit our academics overview to learn more about the tracks offered and the application process for this program.</p>
                    <p><a href="#" class="button">Start the process with the ADEA PASS application</a></p>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <div class="responsive-embed"><img src="http://placekitten.com/560/315" alt="placeholder">
                </div>
            </div>
        </div>
    </div>
</section>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li><a href="#">Programs</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Advanced Education in General Dentistry</li>
  </ul>
</nav>


<main class="grid-container">
    <div class="grid-x grid-margin-x align-top">
        <div class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Academics</h3>
                        <p>View more details about the AEGD programs and curriculum</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Our Team</h3>
                        <p>Meet our Faculty<br><br></p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>How to Apply</h3>
                        <p>You must submit an application through the Postdoctoral Application Support Service (PASS). Access the PASS site here.</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Clinical Experience</h3>
                        <p>Our program has its own clinic, where you'll provide comprehensive care to patients.<br><br></p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fa fa-hospital fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Externships</h3>
                        <p>We offer a one-day to one-week externship that allows students to observe in our clinic. Please download the application for Externship and contact the program coordinator to arrange dates to visit (gomezl@uthscsa.edu).</p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>M.S. in Dental Science</h3>
                        <p>The Master of Science in Dental Science degree offers programs in seven areas of dental science.<br><br><br></p>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-tooth fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <h2>Important dates</h2>
            <div class="event">
    <div class="date">
        <div class="month">oct</div>
        <div class="day">1</div>
    </div>
    <div class="details">
        <div class="name">Application Deadlines</div>
        <div class="date">October 1, 2022 (5PM CT)</div>
    </div>
</div>
            {% include "@components/dates/event.twig" %}
            {% include "@components/dates/event.twig" %}
            <h2>Contact us</h2>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <address>
                        <strong>Program Director</strong><br>
                        Lupita Gomez<br>
                        <a href="#">gomezl@uthscsa.edu</a><br>
                        210-450-3273
                    </address>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-7 medium-7 small-12">
                <h2>Helpful Links</h2>
                <p>Cheesecake chupa chups candy canes soufflé donut macaroon. Brownie halvah cotton candy danish sesame snaps. Cheesecake jelly pie oat cake lollipop wafer. Soufflé dragée oat cake jelly beans cake cupcake halvah pastry cupcake.</p>
                <div class="arrow">
                    <ul>
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">Student Success</a></li>
                        <li><a href="#">Tuition & Fees</a></li>
                        <li><a href="#">Follow us on Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <img src="http://placekitten.com/570/390" alt="placeholder">
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}