{% include "@components/header-prototypes/header-cheever.twig" %}
{% include "@components/navigation-prototypes/navbar-cheever.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<div class="grid-container">
    <h1>Disciplines</h1>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-7 small-12">

            <h2 class="h3 ruled">Arts and Humanities</h2>
            <h3 class="h4 color">Requirements</h3>
            <p>Option 1: Propose and implement a project that uses an artistic medium to
                either address a healthcare need or enhance our knowledge base in healthcare or medical
                education.</p>
            <p>Option 2: Create a portfolio of an appropriate number of literary or
                artistic works pertaining to medicine to submit to a peer-reviewed medical humanities
                publication.</p>
            <ul>
                <li>The student should have some background in creating the work being
                    undertaken. A student without any painting experience should not try to create a portfolio
                    of medical paintings.</li>
                <li>All final works should be submitted to one or more <em>nationally</em> recognized,
                    medically relevant arts or literary journals.</li>
                <li>Literature review (from <em>medical </em>literature)
                    should be conducted.</li>
                <li>Student must submit at least three pieces (written or visual) to
                    <em>Connective Tissue Visual Arts &amp; Literature
                        Journal.</em> Pieces may be submitted for separate
                    submission cycles or in a single cycle.</li>
                <li>Student should volunteer or serve on a committee for at least one
                    arts &amp; humanities campus group or event (e.g. <em>Night of the Arts, Music/Art &amp; Medicine,
                        Music for Healing,
                        Connective Tissue</em>, etc).</li>
            </ul>
            <h3 class="h4 color">Capstone Report</h3>
            <p>Option 1: will include data and analysis of the impact in healthcare or
                medical education</p>
            <p>Option 2: will include a description of the process taken for the creation
                of the portfolio (methods)</p>

            <p>The final draft will be evaluated by a panel that will judge it on the following criteria:</p>

            <ul>
                <li>depth of thought</li>
                <li>aesthetic quality of creative work</li>
                <li>fitness of medium to ideas, and demonstration of fluency in the medium of choice</li>
                <li>tangibility of a distinct voice/perspective</li>
                <li>development of serious ideas in medicine or medical education through artistic medium</li>
            </ul>

            <h2 class="h3 ruled">Global Health</h2>
            <h3 class="h4 color">Requirements</h3>

            <ol>
                <li>Student will collaborate with a partner organization at an existing or new global health site to
                    understand the regional health needs.</li>
                <li>Student should complete the global health application requirements through the Grace Application,
                    and work with mentor to propose and implement a feasible project addressing a specific need.</li>
                <li>Student must spend a minimum of three (3) consecutive weeks at the project site.</li>
                <li>Student should travel to their project site on more than one occasion during medical school.</li>
                <li>Capstone Report: to include results and analysis of any data collected, or a measurable, objective
                    evaluation of the project from community input at the global health site.</li>
            </ol>

            <h2 class="h3 ruled">Medical Ethics</h2>
            <h3 class="h4 color">Requirements</h3>

            <ol>
                <li>Option 1: Research a topic in medical ethics through a thorough literature review, and write a
                    culminating ethical perspective manuscript for publication in an ethics journal.</li>
                <li>Option 2: Propose and implement a community intervention to address an ethical concern in either
                    healthcare or medical education.</li>
                <li>Student will attend a minimum of two ethics-related lectures a year, either at UT Health or an
                    outside venue and submit a one-page reflective essay for each lecture.</li>
                <li>Student will submit at least once to the Holt Bioethics Essay Contest during medical school.</li>
                <li>Capstone Report: Option 1 will include the ethical perspective manuscript. Option 2 will include
                    data and analysis from the community intervention or an evaluation of the intervention based on
                    community input.</li>
            </ol>

            <h2 class="h3 ruled">Community Engaged Learning</h2>
            <h3 class="h4 color">Requirements</h3>

            <ol>
                <li>Student will propose a CEL project and apply for a CEL mini-grant (up to $500) to fund an initial
                    community needs assessment.</li>
                <li>After community needs-assessment is completed, student will then propose a community intervention
                    and apply for a CEL midi-grant (up to $4,000).</li>
                <li>After the intervention is conducted, student must demonstrate and implement plans for program
                    sustainability, as well as ongoing evaluation. Student will also work with mentor to develop plans
                    for submitting a larger proposal to a non-CEL funding source for future growth.</li>
                <li>Capstone Report: to include results and analysis of any data collected, or a measurable, objective
                    evaluation of the project from community input. </li>

            </ol>

        </main>
        <aside class="cell large-4 medium-5 small-12">
            <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-file-signature fa-stack-1x fa-inverse"></i>
                </span>

                <h3>Apply Now</h3>
            </a>

            <a class="callout color blue">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-toolbox fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Build your CSL Toolkit</h3>
            </a>

            <div class="callout outline">
                <h4>Discipline Directors</h4>
                <p><strong>Arts & Humanities</strong><br><a class="no-underline">Rachel Pearson, MD, PhD</a></p>
                <p><strong>Global Health</strong><br><a class="no-underline">Jason Rosenfeld, DrPH, MPH</a></p>
                <p><strong>Medical Ethics</strong><br><a class="no-underline">Jason Morrow, MD, PhD</a></p>
                <p><strong>Community Engaged Learning (CEL)</strong><br><a class="no-underline">Melanie Stone, DrPH,
                        MEd</a></p>


            </div>
        </aside>
    </div>
</div>

{% include "@components/footer-prototypes/cheever-footer.twig" %}