{% include "@components/header-prototypes/header-CHHA.twig" %}
<section class="hero bleed blur img-fill full">
    <img src="../../images/CHHA/uthealth_flag.jpg" alt="UT Health Flag campus signage">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Members</h1>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/CHHA/uthealth_flag.jpg" alt="UT Health Flag campus signage">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-CHHA.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <main class="cell small-12 medium-8 large-8">
            <h2>Founding Members</h2>
                <ul>
                <li>Rebeca Wong (Director), UTHSA</li>
                <li>Amelie Ramirez, UTHSA</li>
                <li>Claudia Satizabal , UTHSA</li>
                <li><a>Fernando Riosmena, UTSA</a></li>
                <li><a>Rogelio Saenz, UTSA</a></li>
                </ul>
            <h2>Membership Criteria</h2>
              <p>The criteria for CHHA membership:</p>
            <ul>
            <li>Members may be from UTHSA, UTSA, or any institution in the US. Faculty may be on any track, research, tenure, service or clinical.</li>
<li>Members should have an interest in either
<ul>
<li>advancing the mechanism underlined Hispanic/Latino aging with a broad socioeconomic and health perspective, or</li> 
<li>developing and translating new measures for population studies of Hispanic/Latino Aging.</li>
</li></ul>
<li>Members and prospective members should also be interested in seeking out collaborative extramural funding opportunities, as one of the Center’s primary goals is to advance innovative research and acquire extramural funding from different sources.</li>
</ul>
<p>To become a member, faculty and trainees need only to <a>complete the membership application online.</a></p>
            </main>
            <aside class="cell small-12 medium-4 large-4">        
<div class="callout outline">
            <h2 class="h5">Contact Us</h2>
            <p>Thank you for your interest in our center. Please contact us if you have any questions.</p>
            <address>
               UT Health San Antonio<br>
               Center for Hispanic Healthy Aging<br>
               7703 Floyd curl Drive, MC XXXX<br>
               San Antonio, TX 78229<br>
            </address>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">admin@uthscsa.edu</span>
                  </a>
               </li>
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">210-562-6140</span>
                  </a>
               </li>
            </ul>
         </div>
            </aside>
</section>  
{% include "@components/footer-prototypes/CHHA-footer.twig" %}