{% include "@components/header-prototypes/header-LSOM.twig" %}
{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>Team</h1>
  <p class="subheader">Contiuning Medical Education</p>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">

      <section class="grid-x grid-margin-x grid-margin-y">

        <div class="cell large-4 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/jan_patterson_22.jpg" alt="">
          <p><strong>Associate Dean for Quality and Lifelong Learning</strong><br>Jan E. Patterson, M.D., M.S.<br><a href="mailto:pattersonj@uthscsa.edu">pattersonj@uthscsa.edu</a><br>210-567-4445</p>

        </div>

        <div class="cell large-4 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/bresnahan_leticia.jpg" alt="">
          <p><strong>Director, Office of Continuing Medical Education</strong><br>Letti Bresnahan, MBA, CHCP<br><a href="mailto:bresnahan@uthscsa.edu">bresnahan@uthscsa.edu</a><br>210-567-0299</p>
        </div>

        <div class="cell large-4 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/mcnabb_peg.jpg" alt="">
          <p><strong>Office Manager</strong><br>Peggy McNabb<br><a href="mailto:mcnabbp@uthscsa.edu">mcnabbp@uthscsa.edu</a><br>210-567-4445</p>
        </div>

        <div class="cell large-4 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/cepeda_joe_1.jpg" alt="">
          <p><strong>Information Technology Specialist</strong><br>Joe Cepeda<br><a href="mailto:cepedaj@uthscsa.edu">cepedaj@uthscsa.edu</a><br>210-567-4446</p>
        </div>

        <div class="cell large-4 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/garza_cindie.jpg" alt="">
          <p><strong>Senior Conference Coordinator</strong><br>Cindie Garza<br><a href="mailto:garzacy@uthscsa.edu">garzacy@uthscsa.edu</a><br>210-567-4447</p>
        </div>

        <div class="cell large-4 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/ximenez_victor_treys.jpg" alt="">
          <p><strong>Intermediate Conference Coordinator</strong><br>Trey Ximenez<br><a href="mailto:ximenez@uthscsa.edu">ximenez@uthscsa.edu</a></p>
        </div>

        <div class="cell large-4 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/craig_melissa.jpg" alt="">
          <p><strong>RSS Conference Coordinator</strong><br>Melissa Craig<br><a href="mailto:Craigm@uthscsa.edu">Craigm@uthscsa.edu</a><br>210-567-4491</p>
        </div>

        <div class="cell large-4 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/photo-not-available.png" alt="">
          <p><strong>Associate Conference Coordinator</strong><br>Brittany Taylor<br><a href="mailto:Taylorb9@uthscsa.edu">Taylorb9@uthscsa.edu</a><br>210-450-7101</p>
        </div>

      </section>
    </main>
    <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li><a href="#">Continuing Medical Education</a></li>
        <li><a href="https://cmetracker.net/UTHSCSA/Publisher?page=pubOpen#/transcript">CME Portal (Transcripts)</a></li>
        <li><a href="#">Resources</a></li>
        <li>
          <a href="#">Administrative</a>
          <ul class="nested vertical menu">
            <li><a href="#">Our Office</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">COVID-19 Updates</a></li>
            <li><a href="https://uthealthsa.sharepoint.com/LSOM/Pages/CME/CME.aspx">Intranet</a></li>
          </ul>
        </li>
      </ul>

    </aside>
  </div>
</div>

{% include "@blocks/footer/LSOM-alamo.twig" %}
