{% include "@components/header-prototypes/header-tobacco.twig" %}
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h1 class="h2">Tobacco-Free Policy</h1>
<p>
The <a class="coward">tobacco-free policy</a>, located within the Handbook of Operating Procedures of UT Health San Antonio, became effective June 2000 and was revised in <a class="coward">November 2017.</a></p>

<p>It states: “One mission of the Health Science Center is to promote public health. For this reason, all campus buildings and grounds of the University are tobacco and smoke-free; to include but not limited to all forms of tobacco, including cigarettes, cigars, pipes, water pipes (hookah), bidis, kreteks, smokeless tobacco, snuff, chewing tobacco and any non-FDA approved nicotine delivery device. The use of any tobacco is not permitted outside buildings or anywhere inside buildings including private offices. No tobacco products will be sold on the campus either by the Health Science Center or outside vendors. By the nature of business of the Health Science Center, it is the responsibility of each individual employee to ensure that a healthy environment is provided by example and deed. Employee cooperation and support of this policy is essential to its success.</p>

<p><a class="arrow">Read more here.</a></p><br>
<p>UT Health San Antonio wants to support you in your decision to quit smoking!</p>
<p><strong>Contact us:</strong> <a class="coward">tobaccofree@uthscsa.edu</a></p>
<div class="social">
   <ul>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
         </a>
         </span>
      </li>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
</div>
            </main>
            <aside class="small-12 medium-4 cell">
            <div class="text-center margin-bottom">
                        <img src="../../images/smoking-bans.png"></div>
             <div class="callout outline flex-child-auto">
                <h3>About Us</h3>
                <p>UT Health San Antonio wants to support you in your decision to quit smoking! Please use our resources and tools to quit, or let us know how we can help you: <a>tobaccofree@uthscsa.edu.</a></p>
            </div>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}
