{% include "@components/header v2/header.twig" %}
<section class="hero bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
                <h1>About us</h1>
                <p>Welcome!</p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-v2.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about
                    log. Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver
                    Jack Tar clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
                <p>Capstan bring a spring upon her cable log broadside quarterdeck Nelsons folly clipper strike colors
                    galleon chase guns. Smartly landlubber or just lubber spanker man-of-war Yellow Jack gally Sink me
                    reef sails swing the lead blow the man down. Boatswain nipper execution dock gally strike colors
                    bring a spring upon her cable man-of-war carouser me wench.</p>
                <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone
                    mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper
                    chantey doubloon starboard grog black jack gangway rutters.</p>
                <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone
                    mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper
                    chantey doubloon starboard grog black jack gangway rutters.</p>
                <p>Capstan bring a spring upon her cable log broadside quarterdeck Nelsons folly clipper strike colors
                    galleon chase guns. Smartly landlubber or just lubber spanker man-of-war Yellow Jack gally Sink me
                    reef sails swing the lead blow the man down. Boatswain nipper execution dock gally strike colors
                    bring a spring upon her cable man-of-war carouser me wench.</p>
            </main>
            <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="membership-button contact-us">
                <div class="grid-x">
                    <a class="callout color orange cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-rebel fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 id="membership-button">Membership</h3>
                    </a>
                    <div class="callout outline cell">
                        <h3 id="contact-us">Contact</h3>
                        <p class="close"><strong>Smitty WerbenJagerManJensen</strong><br>
                        Head Office Guy</p>
                        <address>
                            210-867-5309<br>
                            <a href="mailto:smittyj@uthscsa.edu">smittyj@uthscsa.edu</a>
                            </address>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}