{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-2.twig" %}

<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="#">About</a></li>
        <li><a href="#">Faculty Directory</a></li>
        <li>
            <span class="show-for-sr">Current: </span> Paul B. Allen, Sr., DSc, MPAS, PA-C
        </li>
    </ul>
</nav>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ">
            <aside class="cell medium-6 large-4 small-order-2 medium-order-1">
                <img src="https://placedog.net/450/675" alt="adorable pup" class="margin-bottom">
                <h2 class="sans-serif h5 bold">Contact</h2>
                <ul class="no-bullet">
                    <li><a>210-567-4240</a></li>
                    <li><a>allenpb@uthscsa.edu</a></li>
                </ul>

                <h2 class="sans-serif h5 bold">Programs</h2>
                <ul class="no-bullet">
                    <li><a>M.P.A.S. (Master of Physician Assistant Studies)</a></li>
                    <li><a>Ph.D. in Health Sciences</a></li>
                </ul>

                <h2 class="sans-serif h5 bold">Departments & Divisions</h2>
                <ul class="no-bullet">
                    <li><a>Department of Physician Assistan Studies</a></li>
                </ul>

                <h2 class="sans-serif h5 bold">Institutes & Centers</h2>
                <ul class="no-bullet">
                    <li><a>Military Health Institute</a></li>
                </ul>

                <p class="font-italic">Currently seeking Ph.D. students</p>
            </aside>
            <main class="cell medium-6 large-8 small-order-1 medium-order-1">
                <h1 class="close"> Paul B. Allen, Sr., DSc, MPAS, PA-C</h1>
                <h2 class="sans-serif h4">Associate Professor</h2>
                <h2 class="sans-serif h4">Program Director and Chair</h2>
                <p>Dr. Paul Allen joined the US Army in 1989 serving in the Intelligence Corps. He began his career
                    in medicine in 1993 as a Special Forces Medical Sergeant and EMT-Paramedic deploying worldwide
                    on contingency operations for the US Army, then later in his career becoming a Physician
                    Assistant (PA) as mentors encouraged him to take his medical knowledge to the next level. Upon
                    graduation from the Inter-service PA program, he was assigned as a battalion PA with the 82nd
                    Airborne Division for the invasion of Iraq. After completing a yearlong tour with the infantry
                    treating disease non-battle injury, conducting multiple trauma resuscitations and evacuations of
                    combat casualties, he was nominated for an assignment as a surgical team leader back within the
                    special operations community. While there, he continued to deploy in support of combat
                    operations, leading surgical teams in austere and remote locations in support of special
                    operations and training, participating in damage control resuscitations, prolonged field care
                    and damage control surgeries.</p>

                <div class="grid-x">
                    <div class="cell large-12 medium-12">
                        <ul class="accordion grey" data-accordion>
                            <li class="accordion-item is-active" data-accordion-item>
                                <a href="#" class="accordion-title heading">Professional Background</a>
                                <div class="accordion-content" data-tab-content>
                                    <h2 class="sans-serif h5 bold color">Education</h2>
                                    <ul class="padding-bottom">
                                        <li>2008 - DSc - Physician Assistant Studies - Baylor University</li>
                                        <li>2004 - MPAS - Physician Assistant Studies - University of Nebraska</li>
                                        <li>2002 - BS - Physician Assistant - University of Nebraska</li>
                                    </ul>
                                    <h2 class="sans-serif h5 bold color">Training</h2>
                                    <ul class="padding-bottom">
                                        <li>
                                            2008 - Physician Assistant Residency in Emergency Medicine - San Antonio
                                            Uniformed Services Health Education Consortium
                                        </li>
                                    </ul>
                                    <h2 class="sans-serif h5 bold color">Highlights</h2>
                                    <p>Pi Alpha Honor Society Member, Alpha Eta Honor Society Member, SHP Teaching
                                        Excellence Award AY 2017-2018, SHP Teaching Excellence Award AY 2016-2017,
                                        Order of Military Medical Merit Member, US Army Legion of Merit, Department
                                        of Defense Meritorious Service Medal, Bronze Star Medal 4th award,
                                        Department of Defense Meritorious Service Medal, Air Medal, Honor Graduate,
                                        Inter-service Physician Assistant Program, Honor Graduate Special Operations
                                        Medical Sergeants Course.</p>
                                    <h2 class="sans-serif h5 bold color">Appointments</h2>
                                    <ul>
                                        <li>9/2020 - Tenured Associate Professor - University of Texas Health
                                            Science Center, Physician Assistant Studies, San Antonio</li>
                                        <li>9/2019 - Assistant Professor, College of Allied Health Science -
                                            Uniformed Services University of Health Science</li>
                                        <li>12/2016 - Assistant Professor - University of Texas Health Science
                                            Center, Emergency Medicine, San Antonio</li>
                                        <li>12/2016 - Assistant Professor - University of Texas Health Science
                                            Center, Emergency Medicine, San Antonio</li>
                                        <li>8/2016 - Program Director - University of Texas Health Science Center,
                                            Physician Assistant Studies, San Antonio</li>
                                        <li>8/2015 - Assistant Professor and Department Chair - University of Texas
                                            Health Science Center, Physician Assistant Studies, San Antonio</li>
                                        <li>1/2009 - Assistant Professor, US Army/Baylor University Graduate School
                                            - Baylor University</li>
                                        <li>1/2013 - Assistant Dean for Physician Assistant Posgraduate Education -
                                            US Army</li>
                                        <li>1/2011 - Alternate Assistant Dean for Pyhsician Assistant Postgraduate
                                            Education - US Army</li>
                                        <li>1/2011 - Program Director, US Army/Baylor University Physician Assistant
                                            Doctoral Residency in Emergency Medicine - San Antonio Uniformed
                                            Services Health Education Consortium (SAUSHEC), San Antonio Military
                                            Medical Center</li>
                                        <li>1/2010 - Associate Program Director, US Army/Baylor University Physician
                                            Assistant Doctoral Residency in Emergency Medicine - San Antonio
                                            Uniformed Services Health Education Consortium (SAUSHEC), San Antonio
                                            Military Medical Center</li>

                                    </ul>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title heading">Instruction & Training</a>
                                <div class="accordion-content" data-tab-content>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title heading">Research & Grants</a>
                                <div class="accordion-content" data-tab-content>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title heading">Clinical</a>
                                <div class="accordion-content" data-tab-content>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title heading">Service</a>
                                <div class="accordion-content" data-tab-content>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title heading">Publications</a>
                                <div class="accordion-content" data-tab-content>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <h3>Related Media</h3>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-6 medium-12">
                        <div class="responsive-embed">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/cVsQLlk-T0s"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="cell large-6 medium-12 arrow">
                        <ul>
                            <li><a>Prow scuttle parrel provost</a></li>
                            <li><a>Sail ho shrouds spirits boom mizzenmast yardarm.</a></li>
                            <li><a>Pinnace holystone mizzenmast quarter crow's nest</a></li>
                            <li><a>Nipperkin grog yardarm hempen halter furl</a></li>
                            <li><a>Swab barque interloper chantey doubloon</a></li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
</section>

{% include "@blocks/footer/alamo.twig" %}