{% include "@components/header-prototypes/header-prin.twig" %}
<section class="hero bleed img-fill full">
	<img src="https://placedog.net/1500/750" alt="adorable pup">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
            <div class="cell large-5 small-12">
                <div class="callout">
                    <h1>Welcome to PRIN</h1>
                    <p>The Peer Recovery Innovation Network (PRIN) will build capacity for current and future recovery-related research and provide training and technical assistance to recovery scientists and trainees.</p>
                    <p><a href="#" class="button">About Us</a></p>
                </div>
            </div>
        </div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-prin.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <main class="small-12 medium-8 cell">
                <p>The Peer Recovery Innovation Network (PRIN) will build capacity for current and future recovery-related research and provide training and technical assistance to recovery scientists and trainees. PRIN will use multi-stakeholder engagement to advance the field, elevate recovery science, and increase the impact of peer recovery support.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>               
            </main>
            <aside class="small-12 medium-4 cell">
            <div class="align-top">
        <img src="../../images/PRIN/PRIN_Logo.png">
                <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3>PRIN Org Structure</h3>
            </a>
</div>
            </aside>
        </div>
    </div>
</section>
<section class="bleed light-beige noise">
	<div class="grid-container ">
		<div class="grid-x text-center align-center margin-bottom">
			<div class="cells large-12">
				<h2>Our Aims</h2>
				</p>
			</div>
		</div>
		<div class="grid-x text-center align-center grid-margin-x factoids">
			<div class="cells large-4">
        <img src="../../images/PRIN/aim_1_Icon.png">
				<p class="h2">Aim 1</p>
				<p>Establish the Recovery Science Research Collaboratory to include multiple stakeholders, including individuals with lived recovery experience, to accelerate innovation in recovery science.</p>
			</div>
			<div class="cells large-4">
        <img src="../../images/PRIN/aim_2_Icon.png">
				<p class="h2">Aim 2</p> 
				<p>Establish the Recovery Science Training and Mentoring program to rapidly expand the recovery science work force.</p>
			</div>
			<div class="cells large-4">
        <img src="../../images/PRIN/aim_3_Icon.png">
				<p class="h2">Aim 3</p> 
				<p>Conduct process-, outcome-, and implementation-based evaluations of the Peer Recovery Innovation Network and its initiatives to optimize the impact, efficiency, and effectiveness of PRIN using defined measures.</p>
			</div>
		</div>
	</div>
</section>

<section class="bleed light-grey">
<div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-y">
        <div class="small-12 medium-6 white cell callout flex-container flex-dir-column">
            <div class="flex-child-auto">
                <h2 class="text-center">News</h2>
                <div class="lines">
                    <ul>
                        <li><a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a></li>
                        <li><a href="#">Our Department of Pediatrics Reaches out to Schools in Thanksgiving Covid-19 Safety Video to Schools with Dr. Tess Barton, Story Featured in the top of KSAT-12 Newscast</a></li>
                        <li><a href="#">The Department of Pediatrics Featured on KSAT-12: Infectious Disease Doctor Tess Barton Gives Halloween/Covid-19 Safety Tips to Schools Skywalker yoda </a></li>
                    </ul>
                </div>
            </div>
            <div class="flex-child-shrink">
                <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
            </div>
        </div>
        <div class="small-12 medium-6 white cell callout flex-container flex-dir-column">
            <div class="flex-child-auto">
                <h2 class="text-center">Events</h2>
                <div class="lines">
                    <ul>
                        <li class="flex-container flex-dir-row align-middle">
                            <a href="#">
                                <div class="datebox">
                                    <div class="month">jan</div>
                                    <div class="day">10</div>
                                </div>
                            </a>
                            <a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a>
                        </li>
                        <li class="flex-container flex-dir-row align-middle">
                            <div class="flex-child-auto">
                                <a href="#">
                                    <div class="datebox">
                                        <div class="month">jan</div>
                                        <div class="day">10</div>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="flex-child-auto">
                                <a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a>
                            </div>
                        </li>
                        <li class="flex-container flex-dir-row align-middle">
                            <div class="flex-child-auto">
                                <a href="#">
                                    <div class="datebox">
                                        <div class="month">jan</div>
                                        <div class="day">10</div>
                                    </div>
                                </a>
                            </div>
                            <div class="flex-child-auto">
                                <a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks Directly to Children </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-child-shrink">
                <p class="text-center"><a href="#" class="button ghost">View All Events</a></p>
            </div>
        </div>
    </div>
</div>
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-spaced">
        <div class="small-12 medium-8 cell">
            <h2>Sign up now</h2>
            <p>To stay up to date with our activities use the form link below.</p>
                <form>
              <label>Required information(<span class="required">*</span>)</label>
  <label>First Name(s)<input type="text">
  </label>
  <label>Last Name(s)<input type="text">
  </label>
  <label>Email Address<span class="required">*</span>
    <input type="text">
  </label>
  <label>Credentials<input type="text">
  </label>
  <label>Organization(s)<textarea></textarea>
  </label>
<p><a href="#" class="button">Submit</a></p>
        </div>
        <div class="small-12 medium-2 cell">
            <i class="fas fa-envelope-open-text fa-10x dark-grey"></i>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}