{% include "@components/header v2/header-LSOM.twig" %}
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>House Staff Council</h1>
  <p class="subheader">Graduate Medical Education</p>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <p>The House Staff Council is a representative organization serving the residents and fellows at UT Health San Antonio. Our mission is to improve patient care and graduate medical education by facilitating communication between the residents, the university, the hospitals and our community.</p>
      <p>The council is made up of four officers and representatives from each department.</p>
      <section class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-6 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/ridge-329x400.jpg">
          <p><strong>President</strong><br>Natalie Ridge, PGY-V<br>Radiation Oncology<br><a href="mailto:ridgen@uthscsa.edu">ridgen@uthscsa.edu</a>
        </div>
        <div class="cell large-6 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/adedeji-olusanya-do-mph-pgy1.jpg">
          <p><strong>Vice President</strong><br>Adedeji Olusanya, PGY-III<br>Physical Medicine & Rehabilitation<br><a href="mailto:olusanya@uthscsa.edu">olusanya@uthscsa.edu</a>
        </div>
        <div class="cell large-6 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/buch_chirag_ashok_.jpg">
          <p><strong>Treasurer</strong><br>Chirag Buch, PGY-III<br>Internal Medicine<br><a href="mailto:buchc@uthscsa.edu">buchc@uthscsa.edu</a>
        </div>
        <div class="cell large-6 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/2018/yimage_ahmed_029.jpg">
          <p><strong>Secretary</strong><br>Yimage Ahmed, PGY-II<br>Emergency Medicine<br><a href="mailto:ahmedy3@uthscsa.edu">ahmedy3@uthscsa.edu</a>
        </div>
      </section>
    </main>
    <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li>
          <a href="#">Graduate Medical Education</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Residencies</a></li>
            <li><a href="#">Residencies</a></li>
            <li>
              <a href="#">House Staff Council</a>
              <ul class="nested vertical menu">
                <li><a href="https://www.uthscsa.edu/sites/default/files/2018/test-images/2020_house_staff_guide.pdf">Guide</a></li>
                <li><a href="https://www.uthscsa.edu/sites/default/files/2018/bylaws_of_the_house_staff_council_wsj_002.pdf">Bylaws</a></li>
                <li><a href="https://www.uthscsa.edu/sites/default/files/2018/2021_housestaff_manual.pdf">Manual</a></li>
                <li><a href="#">VA House Staff Council Manual</a></li>
              </ul>
            </li>
            <li><a href="#">Work-Life Wellness</a></li>
            <li><a href="#">Innovation</a></li>
            <li><a href="#">Strategic Messaging</a></li>
          </ul>
        </li>
        <li><a href="#">Compensation, Contracts & Benefits</a></li>
        <li>
          <a href="#">Policies</a>
          <ul class="nested vertical menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Policy Manual</a></li>
            <li><a href="#">Hospital Policies</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Administrative</a>
          <ul class="nested vertical menu">
            <li><a href="#">Our Office</a></li>
            <li><a href="#">Our Team</a></li>
          </ul>
        </li>
      </ul>
      
    </aside>
  </div>
</div>

{% include "@blocks/footer/LSOM-alamo.twig" %}