{% include "@components/header-prototypes/header-pepper.twig" %}
{% include "@components/navigation-prototypes/navbar-pepper.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
    <div class="cell small-12 medium-8 large-8">
          <h1 class="h2 color">News</h1>
        </div>
			<main class="cell small-12 medium-8 large-8">
				<div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h4"><a>UT Health Newsroom: Boosting liver mRNAs curbs appetite, body weight in obese mice</a></h2>
						<p><strong>April 6, 2022</strong></p>
						<p>Original story: UT Health San Antonio Newsroom By Will Sansom SAN ANTONIO (April 5, 2022) — In a breakthrough discovery, scientists from The University of Texas Health Science Center at San Antonio (UT Health San Antonio) today reported that inhibiting a liver enzyme in obese mice decreased the rodents’ appetite, increased energy expenditure in adipose [...]</p>
				</div>
        <div class="cell small-12 medium-4 large-4">
						<img src="../../images/pepper-center/masahiro-morita.jpg" alt="Masahiro Morita, PhD">
					</div>
          					</div>
				<hr>
        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-8 large-8">
						<h2 class="h4"><a>Congratulations to Masahiro Morita, PhD and Sakie Katsumura, DDS, PhD on their publication in Cell Metabolism!</a></h2>
						<p><strong>April 6, 2022</strong></p>
						<p>Congratulations to Dr. Masahiro Morita and Dr. Sakie Katsumura on their publication in Cell Metabolism.  Dr. Morita is an Assistant Professor in the Department of Molecular Medicine and the Sam and Ann Barshop Institute for Longevity and Aging Studies.  Dr. Katsumura is a postdoctoral fellow in the Morita lab. Deadenylase-dependent mRNA decay of GDF15 and [...]</p>
				</div>
        <div class="cell small-12 medium-4 large-4">
						<img src="../../images/pepper-center/masahiro-morita.jpg" alt="Masahiro Morita, PhD">
					</div>
          					</div>
				<hr>
        <div class="grid-x grid-margin-x margin-top">
					<div class="cell small-12 medium-12 large-12">
						<h2 class="h4"><a>Congratulations to biology of aging graduate student Kevin Thyne on his publication!</a></h2>
						<p><strong>March 29, 2022</strong></p>
						<p>The paper is titled “Metabolic benefits of methionine restriction in adult mice do not require functional methionine sulfoxide reductase A (MsrA)” by Kevin M. Thyne and Adam B. Salmon and will be published in an upcoming issue of Scientific Reports.  Kevin Thyne is a graduate student in the laboratory of Adam Salmon, PhD. Metabolic benefits [...]</p>
				</div>
          					</div>
				<hr>
				<nav aria-label="Pagination">
  <ul class="pagination">
    <li class="pagination-previous"><a href="#" aria-label="Previous page"> <span class="show-for-sr"> Previous page</span></a></li>
    <li><a href="#" aria-label="Page 1">1</a></li>
    <li class="current"><span class="show-for-sr">You're on page</span> 2</li>
    <li><a href="#" aria-label="Page 3">3</a></li>
    <li class="ellipsis" aria-hidden="true"></li>
    <li><a href="#" aria-label="Page 10">10</a></li>
    <li><a href="#" aria-label="Page 11">11</a></li>
    <li><a href="#" aria-label="Page 12">12</a></li>
    <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">Next page</span></a></li>
  </ul>
				
			</main>
		</div>
	</div>
{% include "@components/footer-prototypes/pepper-footer.twig" %}