{% include "@components/header-prototypes/header-LSOM.twig" %}
<section class="hero bleed blur img-fill full">
      <img src="../../images/DME/dme-hub.jpg" alt="DME hub"></div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>ACGME/Texas Regional Hub</h1>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/DME/dme-hub.jpg" alt="DME hub"></div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Department of Medical Education</a></li>
    <li>
      <span class="show-for-sr">Current: </span>The Regional Hub</li>
  </ul>
</nav>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-8 large-8">
                <p>The Regional Hub was a collaborative faculty development effort between UT Health San Antonio, SAUSHEC and UT Dell Medical school and the ACGME.</p>
                <p><ins><strong>Next ACGME Hub coming Fall 2021</strong></ins></p>
                <p><a href="#" class="button">ACGME/Texas Regional Sharepoint Hub</a></p>          
            </main>
            <aside class="cell small-12 medium-4 large-4">
            <div class="callout outline">
            <p class="eyebrow">Department & Divisions</p>
            <h5>Department of Medical Education</h5>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
<li><a href="#">About Us</a></li>
  <li><a href="#">ACGME/Texas Regional Hub</a>
  </li>
  <li>
    <a href="#">Programs</a>
  </li>
  <li>
    <a href="#">Introduction to Leadership</a>
  </li>
</ul></div>
            </aside>
        </div>
    </div>
</section>
{% include "@components/footer-prototypes/LSOM-no-alamo.twig" %}