{% include "@components/header-prototypes/header-TILT.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">
				<h1>About</h1>
        <p>The Hoffman TILT Program for Chemical Intolerance has made strides to better understand and help people with chemical intolerance through Research, Education, and Outreach. We encourage you to take our free assessment below and bring the results to your doctor.</p>
        <div class="button-group">
				  <p><a href="#" class="button">Origins of TILT</a></p>
          <p><a href="#" class="button ghost">FAQ</a></p>
        </div>
			</div>
      <div class="cell large-5 small-12">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/a3bsPj-fopw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-TILT.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 medium-8 small-12">
      <h2>The Hoffman TILT Program</h2>
      <p>The Marilyn Brachman Hoffman Foundation board elected to fund a comprehensive program of research in the homes of chemically susceptible people through the Long School of Medicine's Department of Family and Community Medicine at UT Health San Antonio.</p>
      <div class="arrow">
        <ul>
          <li><a>Marily Brachman Hoffman Foundation</a></li>
          <li><a>Biography of Marilyn Brachman Hoffman</a></li>
          <li><a>Our Team</a></l1>
        </ul>
      </div>
    </div>
    <div class="cell large-4 medium-4 small-12">
      <!--<a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-clipboard-check fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Take the free self assessment</h3>
      </a>-->
      <img src="https://tiltresearch.org/wp-content/uploads/sites/46/2017/03/LONG_0005.jpg" class="img-margin">
      <br>
      <br>
      <a class="callout color orange flex-child-auto">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-clipboard-check fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Take the free self assessment</h3>
      </a>
    </div>
  </div>
</section>


<section class="bleed color blue noise pullquote">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell small-12 medium-6 large-6">
        <blockquote>
          <p class="large">I had severe muscle pain, night sweats, skin rashes, severe exhaustion. A real brain fog – that was probably the worst symptom for me.</p>
          <cite>Jane Little, BBC Reporter</cite>

        </blockquote>
        <p><a href="#" class="button">More stories</a></p>
      </div>
      <div class="cell small-12 medium-6 large-6">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/x4yKu3aAxro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


{% include "@components/footer-prototypes/TILT-footer.twig" %}



