{% include "@components/header v2/header-LSOM.twig" %}
<section class="hero full bleed img-fill">
  <img src="https://www.uthscsa.edu/sites/default/files/2018/2018_lsom_graduation_0321.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-left">
      <div class="cell medium-5 small-12 callout">
        <h1>Long School of Medicine Alumni</h1>
        <p>UT Health San Antonio Alumni Relations and our elite group of 14,000 Long School of Medicine Alumni are committed to enhancing the educational experience of our medical students.</p>
        <a href="https://www.uthscsa.edu/academics/medicine/alumni/give" class="button">Donate now</a>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-LSOM.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell large-10 medium-10 small-10  text-center">
      <h2>Top news</h2>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://impactcovid.org/twice-in-a-lifetime/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/image004_0.jpg" alt="">
        <h3 class="h5">Twice in a lifetime</h3>
      </a>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://impactcovid.org/medical-students-respond-to-the-call/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/image004.jpg" alt="">
        <h3 class="h5">Medical students respond to the call</h3>
      </a>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://impactcovid.org/hitting-the-lab-to-fight-covid-19/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/image005.jpg" alt="">
        <h3 class="h5">Hitting the lab to fight COVID-19</h3>
      </a>
    </div>
    <div class="cell large-3 medium-6 small-12">
      <a href="https://impactcovid.org/campus-visits-go-virtual-for-future-students/">
        <img src="https://www.uthscsa.edu/sites/default/files/image-groupings/288_23_13070105_3789644772_5.jpg" alt="">
        <h3 class="h5">Campus visits go virtual for future students and residents</h3>
      </a>
    </div>
  </div>
</section>

<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell large-10 medium-10 small-10  text-center">
        <h2>Upcoming events</h2>
        <p>There are no scheduled events at this time. Please check back later.</p>
      </div>
    </div>
  </div>
</section>

<section class="bleed color blue">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell large-4 medium-4 small-12">
        <h2>Alumni & Student Spotlight</h2>
        <p>Alumni and Student Spotlights showcase those who are making a difference for UT Health San Antonio on campus and in their communities.</p>
        <p>If you would like to nominate yourself or a fellow alumni or student to be featured in our next Spotlight, please email <a href="mailto:alumni@uthscsa.edu">alumni@uthscsa.edu</a>. Nominations should include: name, graduation year and degree, notable career achievements, current occupation.</p>
      </div>
      <div class="cell large-8 medium-8 small-12">
        <div class="grid-x grid-margin-x">
          <a class="card cell large-6 medium-6 small-12" href="https://makelivesbetter.uthscsa.edu/alumni-relations/spotlight/alumni---alumni-spotlight---?">
            <img src="https://www.uthscsa.edu/sites/default/files/2018/test-images/lsom-alumni-spotlight.jpg" alt="">
            <div class="card-section">
              <h3>Leo Lopez III, M.D.</h3>
              <p>Class of 2015<br>Long School of Medicine</p>
            </div>
          </a>
          <a class="card cell large-6 medium-6 small-12" href="https://makelivesbetter.uthscsa.edu/alumni-relations/spotlight/alumni---alumni-spotlight---?">
            <img src="https://www.uthscsa.edu/sites/default/files/2018/test-images/lsom-alumni-studentspotlight.jpg" alt="">
            <div class="card-section">
              <h3>Pavela Bambekova</h3>
              <p>Class of 2020<br>Long School of Medicine</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
      <div class="cell large-8 medium-8 small-12">
        <h2>Distinguished Medical Alumnus Award</h2>
        <div class="grid-x grid-margin-x">
          <div class="cell large-3 medium-3 small-12">
            <figure>
              <img src="https://www.uthscsa.edu/sites/default/files/2018/2018_michael_brennandistinguishedmedicalalumnusaward_1.jpg" alt="">
              <figcaption>2018 recipient<br>Michael W. Brennan, M.D.</figcaption>
            </figure>
          </div>
          <div class="cell large-9 medium-9 small-12">
            <p>The Distinguished Medical Alumnus Award is the highest honor bestowed upon a graduate of the Long School of Medicine. It is given to a graduate who has demonstrated the highest principles of the medical profession and has made outstanding contributions to society and the field of medicine through patient care, basic research, clinical research, and health services administration.</p>
            <p><a href="https://www.uthscsa.edu/academics/medicine/alumni/distinguishedalumni" class="button ghost">View all Distinguished Medical Alumni</a>
          </div>
        </div>
      </div>
      <aside class="cell large-4 medium-4 small-12">
        <a class="callout color orange" href="https://www.uthscsa.edu/academics/medicine/alumni/scholarship-recipients">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-award fa-stack-1x fa-inverse"></i>
          </span>
          <h2>Alumni Scholarships</h2>
           <p>The Long School of Medicine Alumni Council awards scholarships to medical students recognized for academic excellence, leadership and exemplary service while enrolled at the Long School of Medicine.</p>
        </a>
      </aside>
    </div>
  </div>
</section>

<section class="bleed beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell large-8 medium-8 small-12">
        <h2>Aesculapian Laureate Society</h2>
        <p>The Aesculapian Laureate Society recognizes Long School of Medicine Alumni who have given more than $1M to the medical school.</p>
        <div class="grid-x grid-margin-x">
          <div class="cell large-6 medium-6 small-12">
            <figure>
              <img src="https://www.uthscsa.edu/sites/default/files/2020/LSOM/images/aesculpianlaureatesociety1.jpg" alt="">
              <figcapion>Alumnus James L. Holly, ’73, was presented with a plaque which recognized his entrance as the founding member to the Aesculapian Laureate Society in 2017. (L-R: President William L. Henrich, Dr. Ruth Berggren, Dr. Ron Rodriguez, Dr. James L. Holly, Dr. Marvin Forland, Dr. Carlos Jaen)</figcaption>
            </figure>
          </div>
          <div class="cell large-6 medium-6 small-12">
            <figure>
              <img src="https://www.uthscsa.edu/sites/default/files/2020/LSOM/images/aesculpianlaureatesociety2.jpg" alt="">
              <figcapion>Alumnus John Doran, ’73, was presented with a plaque which recognized his entrance to the Aesculapian Laureate Society in 2017. (L-R: Dr. Robin Brey, Dr. John Doran, Dr. Francisco Gonzalez-Scarano)</figcaption>
            </figure>
          </div>
        </div>
        
      </div>
      <aside class="cell large-4 medium-4 small-12">
        <a href="https://library.uthscsa.edu/resources/archive-projects/founding-faculty/" class="callout color blue">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-video fa-stack-1x fa-inverse"></i>
          </span>
          <h2>Founding Faculty</h2>
          <p>Watch video interviews of Dr. Carlos Pestana and other members of the Founding Faculty.</p>
        </a>
      </aside>
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 medium-8 small-12">
      <h2>Alumni Engagement Team</h2>
      <p>UT Health SA Alumni Relations office is located in the Academic and Administration Building on our main campus. Our office is here to provide resources, volunteer opportunities and programming to keep alumni, students and friends connected and engaged in life at UT Health San Antonio.</p>
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-4 medium-4 small-12">
          <address>
            <strong>Sabrina York</strong><br>
            Senior Director, Development & Alumni Engagement<br>
            210-567-2508<br>
            <a href="mailto:yorks4@uthscsa.edu">yorks4@uthscsa.edu</a>
          </address>
        </div>
        <div class="cell large-4 medium-4 small-12">
          <address>
            <strong>Chantel Maldonado</strong><br>
            Manager of Alumni Engagement<br>
            210-567-6803<br>
            <a href="mailto:maldonadoc4@uthscsa.edu">maldonadoc4@uthscsa.edu</a>
          </address>
        </div>
        <div class="cell large-4 medium-4 small-12">
          <address>
            <strong>Lauren Schlattner</strong><br>
            Senior Alumni Coordinator<br>
            210-450-8649<br>
            <a href="mailto:schlattnerl@uthscsa.edu">schlattnerl@uthscsa.edu</a>
          </address>
        </div>
      </div>
    </div>
    <aside class="cell large-4 medium-4 small-12">
      <ul class="fa-ul">
        <li>
          <a href="https://uthscsa.edu/alumni/">
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span>UT Health San Antonio Alumni Relations Office</span>
          </a>
        </li>
        <li>
          <a href="mailto:alumni@uthscsa.edu">
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <span>alumni@uthscsa.edu</span>
          </a>
        </li>
        <li>
          <a>
            <span class="fa-li">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
              </span>
            </span> 
            <span>210-567-3051</span>
          </a>
        </li>        
      </ul>
    </aside>
  </div>
</section>




