{% include "@components/header-prototypes/header-opa.twig" %}
<section class="full hero bleed img-fill extra-roomy">
  <img src="../../images/briscoe-students.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-right">
        <div class="small-12 large-6 medium-6 cell callout">
            <h1>Office of Postdoctoral Affairs</h1>
            <p>Enhancing the university's training environment.</p>
            <div class="button-group">
              <p><a class="button">Open Postdoc Positions</a></p>
              <p><a class="button ghost">Create Your Postdoc Profile</a></p>
            </div>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<div class="grid-container">
  <section class="grid-x grid-margin-x align-center-middle">
    <main class="cell large-8 medium-8 small-12">
      <p>The Office of Postdoctoral Affairs is an institutional resource to address the needs and enhance the training environment for postdoctoral research fellows and mentors.</p>
      <p>This office serves the postdoctoral research fellows who are essential members of the multidisciplinary investigative teams at the UT Health San Antonio. There is no question that the research knowledge and skills of newly-minted scientists contribute to the overall success of our research programs. However, the training of early career investigators must also ensure that they:</p>
      <div class="indent">
        <ul>
          <li>Obtain critical career skills</li>
          <li>Build an individual record of accomplishment</li>
          <li>Define and establish networks</li>
        </ul>
      </div>
      <p>The Office of Postdoctoral Affairs supports trainee professional career development to maintain the vitality of our postdoctoral research training environment.</p>
      <p>OPA operates as a unit within the Office of the Vice President for Research. OPA offices are located on the main campus. We provide resources to trainees and mentors from throughout UT Health San Antonio. Please explore the OPA and let us know of your needs.</p>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <a href="https://www.nationalpostdoc.org/"><img src="https://opa.uthscsa.edu/sites/opa/files/NPA%20Member%20icon%202022.png" style="width:200px" alt=""></a>
      <br>
      <br>
      <div class="event">
        <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
          <div class="month">jan</div>
          <div class="day">10</div>
        </a>
        <div class="details">
          <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
          <div class="date">January 10, 2023</div>
        </div>
      </div>
       <div class="event">
        <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
          <div class="month">jan</div>
          <div class="day">11</div> 
        </a>
        <div class="details">
          <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
          <div class="date">January 11, 2023</div>
        </div>
      </div>
       <div class="event">
        <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
          <div class="month">jan</div>
          <div class="day">20</div>
        </a>
        <div class="details">
          <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
          <div class="date">January 20, 2023</div>
        </div>
      </div>
       <div class="event">
        <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
          <div class="month">jan</div>
          <div class="day">22</div>
        </a>
        <div class="details">
          <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
          <div class="date">January 22, 2023</div>
        </div>
      </div>
      <p><a class="button ghost">View all events</a></p>
    </aside>
  </section>
</div>

<section class="bleed color blue noise">
  <div class="grid-container img-bleed-left">
    <div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-6 large-6 small-order-2 large-order-1">
				<img src="../../images/riverwalk.jpg" alt="Riverwalk">
			</div>
			<div class="cell medium-6 large-6 small-order-1 large-order-2">
				<h2 class="h4">Why Us?</h2>
				<p>Cake sweet cheesecake carrot cake jujubes jelly beans marzipan oat cake. Jelly beans ice cream candy canes tootsie roll chocolate bar sugar plum macaroon ice cream. Danish toffee donut ice cream apple pie shortbread biscuit. </p>
				<div class="arrow loose-list">
          <ul>
            <li><a href="https://uthscsa.edu/university/about-san-antonio">About San Antonio</a></li>
            <li><a href="https://wp.uthscsa.edu/ois/life-at-ut-health/">Life at UT Health San Antonio</a></li>
            <li><a>Benefits Overview</a></li>
            <li><a>Our Campuses</a></li>
            <li><a href="https://directory.uthscsa.edu/">Our Faculty</a></li>
          </ul>
        </div>
			</div>
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle text-center">
    <div class="cell large-8 medium-8 small-12">
      <h2>Postdocs Highlight</h2>
    </div>
  </div>
  <div class="grid-x grid-margin-x align-center-middle text-center">
    <div class="cell large-5 medium-6 small-12">
      <a>
        <img src="https://placekitten.com/420/420">
        <h3>Nikki J. Claus, Ph.D.</h3>
      </a>
    </div>
    <div class="cell large-5 medium-6 small-12">
      <a>
        <img src="https://placekitten.com/420/420">
        <h3>Victor M. Jimenez, Ph.D.</h3>
      </a>
    </div>
  </div>
  <div class="grid-x grid-margin-x align-center-middle text-center">
    <div class="cell large-8 medium-8 small-12">
      <p><a class="button">More postdocs in the news</a></p>
    </div>
  </div>
</section>
<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y text-center">
      <div class="cell large-4 medium-4 small-12">
        <a>
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-head-side-mask fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Coronavirus Update</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <a>
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-flask fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Individual Development Plan <br>(my IDP Science Careers)</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
         <a>
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-globe-americas fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">National Postdoctoral Association</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
         <a>
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-award fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Outstanding Postdoctoral Mentor</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
         <a>
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">San Antonio Annual Postdoctoral Research Forum (SAPRF)</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
         <a>
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-plane fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Ann A. Hollocher Trainee Travel Award</p>
        </a>
      </div>
    </div>
  </div>
</section>
{% include "@blocks/footer/OPA-no-alamo.twig" %}