{% include "@components/header-prototypes/header-SHP.twig" %}
<section class=" hero bleed img-fill">
    <img src="../../images/shp-researchbanner.jpg" alt="SCIENCE">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout white">
                <h1>Student Life</h1>
                <p>Pommy ipsum absolute twoddle throw a paddy Bad Wolf put me soaps back on, her Majesty's pleasure I
                    could reet fancy a punter therewith yorkshire pudding don't get your knickers in a twist, doing my
                    head in crumpets I could reet fancy a for sooth.</p>

                <p><a href="https://www.uthscsa.edu/academics/health-professions/shp-alumni" class="button">Alumni</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-SHP.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-6 large-7">
                <h2>Health & Wellness</h2>
                <p>Pommy ipsum eton mess a bit miffed farewell Kate and Will, pork scratchings eton mess bobby give you
                    a bell 'tis, Bob's your uncle scouser brainbox on his tod. God save the queen scrote sausage roll
                    gravy cheese and chips sweet fanny adams chips ever so manky, a reet bobbydazzler Moriarty doing my
                    head in a bottle of plonk scrumpy.</p>
                <p>Our students come from all walks of life and bring unique contributions to our programs. It's our job
                    to make sure you are getting the support you need to succeed. We have a variety of resources and
                    activities to help you stay healthy while you're here.</p>
                <div class="loose-list arrow">
                    <ul>
                        <li>
                            <a href="http://shc.uthscsa.edu/">Student Health Center</a>
                        </li>
                        <li>
                            <a href="http://students.uthscsa.edu/counseling/">Personal Counseling</a>

                        </li>
                        <li>
                            <a href="http://students.uthscsa.edu/studentlife/2013/04/fitness-recreational-sports/">Sports
                                & Recreational Activities</a>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="cell small-12 medium-6 large-5">
                <img src="https://picsum.photos/690/400" alt="scenery">
            </div>

        </div>
    </div>
</section>


<section class="bleed noise light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">

            <div class="cell small-12 medium-7 large-8">
                <p class="eyebrow">Clubs and Organizations</p>
                <h2>100+ Student-led organizations on campus</h2>

                <p>We offer a wide variety of recognized organizations on campus. Most are professional and
                    discipline-specific. Others are cultural, religious, social or special interest. Want to volunteer?
                    We can help you find a group perfect for you and your professional plans.</p>

                <h3 class="h4 color">Be Involved</h3>
                <p>Pillock River Song tip-top spiffing scrubber tallywhacker, gob her Majesty's pleasure manky bent as a
                    nine bob note Dr. Watson, the dog's dinner rambunctious and we all like figgy pudding gallivanting
                    around.</p>

                <p><a class="button" href="http://students.uthscsa.edu/studentlife/2013/04/getting-involved-2/">Get
                        involved on campus</a></p>
            </div>

            <div class="cell small-12 medium-5 large-4">
                <div class="callout outline blue">
                    <div class="cell medium-8 small-12">
                        <p class="text-center"><i class="far fa-envelope-open fa-4x"></i></p>
                        <p>Subscribe to recieve a monthly email newsletter with information on academic programs, events
                            and
                            campus news from the School of Health Professions.</p>
                        <form>
                            <label>Name
                                <input type="text">
                            </label>
                            <label>Email
                                <input type="text">
                            </label>
                        </form>
                        <p><a href="#" class="button">Subscribe</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-12 large-6 small-order-2 medium-order-2 large-order-1">
                <img src="https://picsum.photos/690/400" alt="scenery">
            </div>

            <div class="cell small-12 medium-8 large-6 small-order-1 medium-order-1 large-order-2">
                <h2>New to San Antonio?</h2>
                <p>
                    San Antonio is a modern, vibrant city, rich in heritage with colorful personality forged across
                    three centuries. Its unique mixture of native Mexican, German and Spanish influence is
                    noticeable in the city's distinctive architecture, music, arts, and cuisine.
                </p>
                <div class="arrow">
                    <ul>
                        <li><a href="https://uthscsa.edu/university/about-san-antonio">Discover San Antonio</a></li>
                        <li><a href="http://students.uthscsa.edu/studentlife/2013/04/housing-list/">Housing</a></li>
                        <li><a href="http://www.viainfo.net/">Transportation</a></li>
                    </ul>
                </div>
                <h3>Explore UT Health San Antonio</h3>
                <p>Are you a prospective student who would like to know what the UT Health San Antonio campus looks
                    like? Now, you can!
                </p>
                <p><a href="https://uthscsa.edu/university/campus-maps" class="button">Virtual Tour</a></p>
            </div>

        </div>
    </div>
</section>

<section class="bleed color grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-4 large-2">
                <img src="http://placekitten.com/300/400" alt="kitty">
            </div>
            <div class="cell small-12 medium-6 large-8">
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text, and typically
                        distinguished visually using indentation and a different typeface or smaller size quotation.
                        Blockquotes have no margin/padding of their own and should be placed within another element like
                        a bleed.</p>
                    <cite>Obi-Wan Kenobi, Jedi Master</cite>
                </blockquote>
            </div>
        </div>
    </div>

</section>

{% include "@blocks/footer/no-alamo.twig" %}