{% include "@components/header-prototypes/header-bewell.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1900/450" alt="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-6 large-6 cell callout">
                <h1 class="h3">Innovative solutions. Compassionate care. Community impact. </h1>
                <p>Welcome to the Be Well Institute on Substance Use and Related Disorders at UT Health San Antonio. We are a comprehensive, low-barrier system dedicated to improving substance use care and mental health support across Texas. Our work combines clinical care, cutting-edge research, workforce development, and community partnership to make a lasting difference in the lives of individuals and families. </p>
                <!--<p><a class="button">Our Work</a></p>-->

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bewell.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center text-center">
        <div class="large-10 medium-10 small-12 cell ">
            <h2>Program Spotlight</h2>
            <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake.</p>
            <p><a class="button">Our Work</a></p>
        </div>
        <div class="large-4 medium-4 small-12 cell">
            <a href="#">
                <img src="https://placedog.net/450" alt="">
                <h4>Be Well Texas</h4>
            </a>
            <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake.</p>
        </div>
        <div class="large-4 medium-4 small-12 cell">
            <a href="#">
                <img src="https://placedog.net/450" alt="">
                <h4>C-STAT</h4>
            </a>
            <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake.</p>
        </div>
        <div class="large-4 medium-4 small-12 cell">
            <a href="#">
                <img src="https://placedog.net/450" alt="">
                <h4>Naloxone TX </h4>
            </a>
            <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake.</p>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class="small-12 medium-6 callout white cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">News</h2>
                    <div class="lines">
                        <ul>
                            <li><a href="#">Smartphone app can help reduce opioid use and keep patients in treatment, UT Health San Antonio study shows</a></li>
                            <li><a href="#">UT Health San Antonio awarded $9.9 million in county ARPA funds targeting substance use, behavioral health and long COVID</a></li>
                            <li><a href="#">Be Well Clinic offers recovery, hope</a></li>
                            <li><a href="#">Hidden Killers: Inside San Antonio's struggle with fentanyl and meth addiction</a></li>
                            <li><a href="#">Texas leaders, moms who lost kids to fentanyl unite for second awareness walk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="https://news.uthscsa.edu/category/research/" class="button ghost">View All News</a></p>
                </div>
            </div>
            <div class="small-12 medium-6 callout white cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">Events</h2>
                    {% include "@blocks/feeds/events-vertical.twig" %}
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="https://events.uthscsa.edu/search/events?event_types%5B%5D=37944812569487" class="button ghost">View All Events</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/bewell-footer.twig" %}
