{% include "@components/header-prototypes/header-research.twig" %}
<section class="hero bleed blur img-fill full">
  <img src="../../images/area-longevity-aging.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 medium-7 small-12">
        <h1>Longevity & Aging</h1>
        <p>Scientists and clinicians in the Barshop Institute for Longevity & Aging Studies and the Glenn Biggs Institute for Alzheimer's and Neurodegernerative diseases are strengthening team science at UT Health San Antonio. </p>
      </div>
      <div class="cell large-5 medium-5 small-12">
        <div class="responsive-embed">
          <iframe width="410" height="256" src="https://www.youtube.com/embed/imrJsQ60A7E" title="Sam and Ann Barshop Institute for Longevity and Aging Studies" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-research.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 medium-8 small-12 small-order-2">
      <p>High-level marketing copy about this area that is understandable by users who aren’t scientists / are from the general public. <strong>Example from Salk</strong> - One thing’s for certain: we get older. But the biology of aging is still largely a mystery. As for getting sick as we age - we think that might be optional. At Salk, we are dechiphering the molecular and cellular causes of aging, and searching for ways to stave off Alzheimer’s disease, diabetes, cancer, cardiovascular disease and other age-related ailments. We’re studying how the boyd heals itself, and we’re working on stem-cell technologies that may one day be used to replace organs damaged by injury and disease. They say aging isn’t for the timid, but we think bold science could help people stay healthy as they age.</p>
      <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12 flex-container">
          <div class="callout flex-child-auto">
            <p>Barshop Institute has the national distinction of two NIA-funded centers, a testing site of the NIA-sponsored Interventions Testing Program, and U.S. Department of Veterans Affairs Geriatric Research, Education, and Clinical Center.</p>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container ">
            <div class="callout flex-child-auto">
               <p>Sudha Seshadri, MD, founding director of the Biggs Institute and principal investigator of the National Institute of Aging Alzheimer's Disease Sequencing Project.</p>
            </div>
        </div>
      </div>
    </main>
    <aside class="cell large-4 larger-order-2 medium-4 medium-order-2 small-12 small-order-1">
      {% include "@components/navigation/subnav.twig" %}
    </aside>
  </div>
</section>

<section class="bleed color dark-grey">
  <div class="grid-container img-bleed-right">
    <div class="grid-x align-middle">
      <div class="cell large-6 large-order-1 medium-6 medium-order-1 small-12 small-order-2">
        <div class="callout jump-right">
          <p class="large">UT Health San Antonio partners with the San Antonio GRECC at the Audie L. Murphy Memorial VA Hospital to initiate clinical research trials to further advanced knowledge of age-related diseases and provide preventive solutions.</p>
        </div>
      </div>
        <div class="cell large-6 medium-6 small-12 small-order-1">
            <img src="https://www.uthscsa.edu/sites/default/files/aging-longevity-featured.jpg" alt="">
        </div>
    </div>
  </div>
</section>

<section class="bleed color cyan">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell large-8 medium-8 small-12 small-order-2">
        <h2>Help advance treatment as a healthy volunteer</h2>
        <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments for longevity & aging related diseases. Take action today; volunteer and play a role in finding a cure. </p>
        <p><a class="button">FindAStudy</a></p>
      </div>
      <div class="cell large-4 large-order-2 medium-4 medium-order-2 small-12 small-order-1 text-center">
        <i class="fas fa-heart fa-10x"></i>
      </div>
    </div>
  </div>
</section>


<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-12 medium-12 small-12 text-center">
      <h2>Additional highlights</h2>
    </div>
    <div class="cell small-12 medium-4 large-4 flex-container flex-dir-column">
      <a href="#" class="card light-beige flex-child-auto">
        <img src="https://picsum.photos/534/300">
        <div class="card-section">
            <h3 class="h5">Barshop Institute gains grant award renewals totaling $11 million to support translating research discoveries into healthier aging</h3>
            <p>The Pepper and Shock grants, which total $11 million over the next five years, support basic research of the biology of aging and translation of discoveries into human application. The renewals further cement the Barshop Institute as one of America’s premier centers of aging research.</p>
        </div>
      </a>
    </div>
    <div class="cell small-12 medium-4 large-4 flex-container flex-dir-column">
      <a href="#" class="card light-beige flex-child-auto">
        <img src="https://picsum.photos/534/300">
        <div class="card-section">
            <h3 class="h5">President’s message: Take a virtual tour of the new Barshop Institute</h3>
            <p>UT Health San Antonio is pleased to now have the Sam and Ann Barshop Institute for Longevity and Aging Studies located in the South Texas Medical Center, adjacent to the South Texas Research Facility and the Medical Arts and Research Center. </p>
        </div>
      </a>
    </div>
    <div class="cell small-12 medium-4 large-4 flex-container flex-dir-column">
      <a href="#" class="card light-beige flex-child-auto">
        <img src="https://picsum.photos/534/300">
        <div class="card-section">
            <h3 class="h5">Journal article reviews century of data showing COVID-19 likely to impact the brain</h3>
            <p>An article published in <em>Alzheimer’s & Dementia: The Journal of the Alzheimer’s Association</em> cites decades of published scientific evidence to make a compelling case for SARS-CoV-2’s expected long-term effects on the brain and nervous system.</p>
        </div>
      </a>
    </div>
  </div>
</section>

{% include "@components/footer-prototypes/research-footer.twig" %}