{% include "@components/header-prototypes/header-gccri.twig" %}
<section class="hero bleed blur img-fill full">	
  <img src="../../images/gccri/about-banner.jpg" alt="GCCRI Building">
<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-7">
				<h1>About</h1>
				<p>Since 2004, UT Health San Antonio, Greehey Children's Cancer Research Institute's (Greehey CCRI) mission has been to advance scientific knowledge relevant to childhood cancer, contribute to the understanding of its causes, and accelerate the translation of knowledge into novel therapies. Through discovery, development, and dissemination of new scientific knowledge, Greehey CCRI strives to have a national and global impact on childhood cancer. Our mission consists of three key areas — research, clinical, and education.</p>
				<p><a href="#" class="button">Our Faculty</a></p>
			</div>
    <div class="cell medium-12 large-5">
    <img src="../../images/gccri/about-banner.jpg" alt="GCCRI Building">
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-gccri.twig" %}
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x ">
			<main class="cell medium-12 large-8 ">
				<h2>Research Strengths</h2>
				<p>
Our key strengths lie in cancer genomics, DNA damage, RNA biology, and drug development.</p>

<p>We are also building expertise in drug delivery, with a focus on nanotechnology-driven approaches for delivering small RNA mimics and inhibitors.</p>

<p>The Pediatric Translational Working Group, established under the Mays Cancer Center P30, meets regularly to collaborate on translating discoveries into innovative therapies.
				</p>
				<p><strong>Research Focus</strong></p>
				<ul>
					<li><a href="#">Bioinformatics and genomics</a></li>
					<li><a href="#">Cancer biology</a></li>
					<li><a href="#">Cancer control</a></li>
					<li><a href="#">Cancer Genetics</a></li>
					<li><a href="#">Experimental therapeutics</a></li>
					<li>Genome instability</a></li>
					<li><a href="#">Hematologic Malignancies</a></li>
					<li><a href="#">Molecular oncogenesis</a></li>
					<li><a href="#">Pediatric Preclinical Testing Program (PPTP)</a></li>
					<li>RNA biology</li>
				</ul>
				<p><strong>Core Facilities</strong></p>
				<ul class="margin-bottom">
					<li><a href="#">Computational biology and bioinformatics</a></li>
					<li><a href="#">Genome and exome sequencing</a></li>
					<li>RNA expression profiling</li>
					<li><a href="#">PDX generation</a></li>
					<li><a href="#">RNAi/CRISPR HTS and Small Molecule HTS</a></li>
				</ul>
				<h2>Clinical</h2>
				<p>
				The Greehey Children’s Cancer Research Institute (Greehey CCRI) collaborates closely with the <a>Division of Pediatric Hematology-Oncology at UT Health San Antonio</a> to support clinical research initiatives. This includes the collection and annotation of clinical specimens to advance patient-centered research. As part of our mission to conduct research that directly informs clinical care, Greehey CCRI provides the essential infrastructure for human subjects’ research and investigator-initiated trials in pediatric cancer. Given the collaborative nature of pediatric cancer research, Greehey CCRI also facilitates the involvement of investigators in national cooperative group trials, such as those led by the Children’s Oncology Group.</p>

<p><a>UT Health San Antonio MD Anderson Cancer Center</a> is also a member of The Pediatric Oncology Experimental Therapeutics Investigators’ Consortium (POETIC). POETIC studies in pediatric oncology focus on the biological underpinnings of anti-cancer therapies and the early-phase development of new agents and innovative therapeutic combinations.
				</p>

				<h2>Education</h2>
				<p>
					The Greehey Children’s Cancer Research Institute is dedicated to training the next generation of pediatric cancer researchers. Our educational mission focuses on developing a robust pipeline of talent, offering opportunities for undergraduates through summer research programs, medical students in the MD with Distinction in Research program, fellows in the ACGME-accredited hematology-oncology fellowship, and graduate students in Cancer Biology and related fields. We also provide a supportive environment for post-doctoral research training. Over the past five years, we have graduated over a dozen PhDs, trained four pediatric oncology fellows, and hosted numerous undergraduate students for summer research.
				</p>
			</main>
			<aside class="cell medium-12 large-4 ">  					
    <img src="../../images/gccri/Gupta-Microscope-733x550.jpg" alt="Gupta at Microscope">
				<div class="callout margin-bottom lines margin-top">
        					<h2 class="h5">Quick Links</h2>
					<ul>
						<li><a href="#">Greehey CCRI Principal Investigators</a></li>
						<li><a href="#">Open Positions</a></li>
						<li><a href="#">Internal Committees</a></li>
						<li><a href="#">External Advisory Board</a></li>
						<li><a href="#">Grants and Awards</a></li>
						<li><a href="#">Greehey CCRI Facts, Figures, and Milestones</a></li>
						<li><a href="#">Greehey CCRI Admin & Support Staff</a></li>
						<li><a href="#">Kid Cancer 101</a></li>
						<li><a href="#">Gear Up Against Kids’ Cancer Bike Ride</a></li>
						<li><a href="#">Greehey CCRI Donald G McEwen, Memorial Summer Undergraduate Research & High School Program</a></li>
					</ul>
				</div>
				<div class="callout contact outline no-bullet">
					<h2 class="h5">Contact Us</h2>
					<address>
						<strong>UT Health San Antonio<br>
						Greehey Children's Cancer Research Institute</strong><br>
						8403 Floyd Curl Drive, MC 7784<br>
						San Antonio, TX 78229
					</address>
					<ul class="fa-ul">
						<li>
							<a>
								<span class="fa-li">
									<span class="fa-stack">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
									</span>
								</span>
								<span>210-562-9000</span>
							</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
</section>
{% include "@components/footer-prototypes/gccri-footer.twig" %}