{% include "@components/header-prototypes/header-tobacco.twig" %}
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h1 class="h2">Prevention</h1>
<p>UT Health San Antonio wants to help people of all ages live tobacco-free.</p>

<p>Below are evidence-based prevention education programs with interactive online games and printable material you can use to talk to young adults or kids about staying tobacco-free.</p>
<h3 class="h5">DuckTexas.com</h3>
<p>The <a class="coward">DUCK Texas web site</a> and campaign is one component of tobacco prevention media efforts developed for the <a class="coward">Texas Tobacco Prevention Initiative</a>.</p>

<p>More than 100 Texas teens (ages 11-17) attended a Statewide Tobacco Education Program (STEP) Summit held in Conroe, Texas in July 2000. After attending workshops on branding, brainstorming and public relations, teens generated more than 2,000 ideas that were narrowed down to 35 possible tobacco prevention campaigns. Together they outlined their strategies then voted on their favorite concept.</p>

<p>This led to the creation of the <strong>DUCK</strong> and the <strong>"Tobacco is Foul"</strong> campaign.</p>

<p>For years, the tobacco industry effectively used the cartooned "Joe Camel" to promote its product to teens. The teens countered with the same strategy, using a hip, animated animal icon known as DUCK to change their peers' attitudes about tobacco and its harmful effects. A fun-loving DUCK serving as a spokesperson for teens fighting tobacco use and the big tobacco companies lends itself well to a campaign that does not preach to the younger audience, but instead empowers them to take action while helping change their attitudes and behavior.</p>

<p>The campaign features Tony Rock (stand-up comedian and brother of Chris Rock) who supplies the voice of the animated DUCK on TV and radio spots. The campaign also includes a website, a 7'1" tall DUCK mascot and a mobile television studio known as the DUCK-TV Unit. DUCK-TV allows teens to record on video their thoughts about tobacco use. The collected sound-bytes are then used to create 30-second television spots.</p>

The DUCK campaign has focused its efforts in the Houston and Beaumont/Port Arthur media markets. The first year of the campaign (Fall 2000) contributed to a 40% decrease in tobacco use among middle school students in Beaumont and Port Arthur. 
</p>

<h3 class="h5">Worth It?</h5>

<p><a class="coward">Worth It?</a> is the public education campaign aimed at educating teens about the Texas Tobacco Law (see Senate Bill 55) and its consequences.</p>

<p>The law states that anyone under 18 caught purchasing, possessing or using tobacco products may have to pay up to a $250 fine, attend a <a class="coward">tobacco awareness class</a>, be required to do community service, or even lose their driver's license for a period of time.</p>

<p>The idea behind the campaign is to be honest with teens and give them the facts about tobacco use in ways that are relevant to their daily lives. It asks the question: is tobacco use really worth it? The campaign empowers teens to weigh all the potential consequences and decide for themselves.</p>

<p>The <a class="coward">Worth It?</a> web site include facts about tobacco use, cessation information for teens who want to quit, tobacco-related news and events, interactive games and activities, and a statewide listing of instructors for <a class="coward">tobacco awareness classes.</a></p>

<h3 class="h5">Truth Initiative</h5>
<p>Truth Initiative is America’s largest non-profit public health organization dedicated to making tobacco use a thing of the past.</p>

<p>Truth speaks, seeks, and spreads the truth about tobacco through education, tobacco-control research and policy studies, community activism and engagement, and innovation in tobacco dependence treatment. To receive regular emails with all the latest information, <a class="coward">go here</a> and scroll to the bottom to subscribe.</p>
            </main>
            <aside class="small-12 medium-4 cell">
                        <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-smoking-ban fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Quitxt Program</h3>
            </a>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}
