{% include "@components/header v2/header-LSOM.twig" %}
{% include "@components/navigation/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
  <h1>Programs</h1>
  <p class="subheader">Department of Medical Education</p>
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <img src="https://www.uthscsa.edu/sites/default/files/images/acgme_tx_hub_group_picture_2_2019.jpeg" class="margin-bottom">
      <p>The Department of Medical Education values collaboration and partnership. Our approach to effective program development has been to work collaboratively across Centers, Departments, and Offices within our academic community at the Lozano Long School of Medicine. It is our desire to help envision, support, and shape programs across the Medical School.</p>
      
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Collaborative Programs</a>
          <div class="accordion-content" data-tab-content>
            <p><strong><a>Forum Theater</a></strong></p>
            <p>The Department of Medical Education in collaboration with the Center for Medical Humanities & Ethics and Trinity University offer opportunities for unique educational experiences exploring more challenging topics such as Trauma Informed Care, Cultural Humility, Learner mistreatment. The unique modality of Forum Theater allows us to present scenarios to participants, who subsequently can act in the play to alter the outcome of the scenario. The participants are called “Spect-Actors”. This type of theater was introduced by a Brazilian Drama theorist named Augusto Boal in the early 1970’s and used to effect social justice change.</p>
            <p><strong><a>ACGME/Texas Regional Hub</a></strong></p>
            <p>The Regional Hub was a collaborative faculty development effort between UT Health San Antonio, SAUSHEC and UT Dell Medical school and the ACGME. UT Health San Antonio hosted the inaugural program in November 2019.</p>
            <p><strong><a>Rising Leaders Workshop</a></strong></p>
            <p>The Rising Leaders Workshop was developed in conjunction with the Office for Faculty, Dental School, School of Nursing, UME, the Military Health Institute, supported by the Vice President for Academic, Faculty and Student affairs to help develop leaders on the UT Health campus. The Rising Leaders program has a longitudinal component for participants who have completed the initial Rising Leaders Program.</p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title large">Long School of Medicine Programs</a>
          <div class="accordion-content" data-tab-content>
            <p><strong><a>Faculty Development Resources</a></strong></p>
            <p>The Department of Medical Education provides educational faculty development opportunities for individuals, divisions, departments, institutions and regional collaboratives. We specialize in clinical supervision and educational best practices in the clinical setting.</p>
            <p><strong><a href="https://uthealthsa.sharepoint.com/LSOM/Pages/DME-Peer-Observation-of-Supervision.aspx">Peer Observation Program</a></strong></p>
            <p>Deliberate practice has been shown to achieve mastery in performance for those who would like to work towards continuous improvement and mastery in clinical teaching. The Department of Medical Education offers a peer observation program in clinical <p><strong><a href="https://uthealthsa.sharepoint.com/LSOM/Pages/Deans%20Pages/Department%20of%20Medical%20Education/EPAProject.aspx">EPA Project</a></strong></p>
            <p>In an effort to move toward more objective assessment of resident competence, especially in the setting of a pandemic where educational experiences are being altered, the Department of Medical Education is leading a program across multiple surgical specialties to use Entrustable Professional Activities as a basis for ensuring resident competence prior to graduation.</p>
          </div>
        </li>
      </ul>
    </main>
    <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <li><a href="#">Department of Medical Education</a></li>
        <li><a href="#">Meet our Faculty</a></li>
        <li><a href="#">Faculty Programs</a></li>
        <li><a href="#">Academy of Educational Scholars</a></li>
        <li><a href="#">Founding Members</a></li>
        <li><a href="#">2021-2022 Faculty Fellows</a></li>
        <li><a href="#">New Member Application</a></li>
      </ul>
      <div class="callout outline contact">
        <h2 class="h5">Contact Us</h2>
        <p>If you or your colleagues are interested in collaborating on Program Development with the DME members, please contact us.</p>
        <address>
          Department for Medical Education<br>
          7703 Floyd Curl Drive<br>
          San Antonio TX 78229-3900
        </address>
        <ul class="fa-ul">
          <li>
            <a href="mailto:DME@uthscsa.edu">
              <span class="fa-li">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
              <span>DME@uthscsa.edu</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>

{% include "@blocks/footer/LSOM-alamo.twig" %}