{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero full bleed img-fill chonky">
  <img src="../../images/vpr-resources-banner.jpg" alt="" class="top">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-right">
			<div class="cell large-5 medium-6 small-12 callout">
				<h1>Facilities & Resources</h1>
        <p>UT Health Science Center at San Antonio’s facilities and resources, led by globally acclaimed experts in their respective fields, are where innovative therapies and treatments of the future are developed. Our investigators are at the forefront of groundbreaking research, translating their findings into pioneering treatments that make lives better and improve health disparities.</p>
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <section class="cell large-8 medium-7 small-12">
      <div class="grid-x grid-margin-x">
        <!--<div class="cell large-6 medium-6 small-12">
            <div class="lines">
                <ul>
                  <li><a>GrantSeekers</a></li>   
                  <li><a href="https://otc.uthscsa.edu/">Innovation Commercialization Resources</a></li>   
                  <li><a>Internal Funding</a></li>
                  <li><a href="https://opa.uthscsa.edu/">Postdoc Resources</a></li>     
                </ul>
            </div>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <div class="lines">
                <ul>
                     
                  <li><a href="https://eso.uthscsa.edu/crid/researchit">Research IT</a></li>   
                  <li><a>Research Support Unit Directory</a></li>   
                  <li><a href="https://uthealthsa.sharepoint.com/teams/Researcher-Resources?xsdata=MDV8MDJ8fGViN2ViYTllMTcwNzRjMTljN2MxMDhkYzZhMGViMDE0fDgzZmYxNGE2ZWI2YjQyNTBiNzQ1MjFiZWE2NjI1M2RjfDB8MHw2Mzg1MDE4NTg0OTYwMDYwODF8VW5rbm93bnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKV0lqb2lNQzR3TGpBd01EQWlMQ0pRSWpvaVYybHVNeklpTENKQlRpSTZJazkwYUdWeUlpd2lWMVFpT2pFeGZRPT18MXxMMk5vWVhSekx6RTVPbTFsWlhScGJtZGZXVlJTYkUxVVdUTk9WR3QwV1ZSUk5GbDVNREJPVkVrMFRGZEdhMWw2WjNSYVZGRXhUa2RhYUZsWFVYcE9SMGwzUUhSb2NtVmhaQzUyTWk5dFpYTnpZV2RsY3k4eE56RTBOVGc1TURRNE1UZ3d8ZDJmYTBiMjg1ZmM3NDIzM2M3YzEwOGRjNmEwZWIwMTR8MzI5ZTJjZjIxNWVmNGYzMmEzNmMyZDEyNjMyNmY0NmI%3D&sdata=NHd1ekNQT0NIYjZuc00wa1ZJSndZMjhDWWV1ckplTmhaajVPU3NVdDE5cz0%3D&ovuser=83ff14a6-eb6b-4250-b745-21bea66253dc%2Cbeausoleil%40uthscsa.edu&OR=Teams-HL&CT=1717600157162&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiI1MC8yNDA0MTEyMjMxNSIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D" class="external">Researcher Resources</a></li>   
                  <li><a>Responsible Conduct of Research</a></li>   
                </ul>
            </div>
        </div>-->
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto" href="#">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-search-dollar fa-stack-1x fa-inverse"></i>
            </span>
            <h3>GrantSeekers</h3>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color orange flex-child-auto" href="https://otc.uthscsa.edu/">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Innovation Commercialization Resources</h3>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color dark-grey flex-child-auto" href="#">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-file-invoice-dollar fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Internal Funding</h3>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color dark-grey flex-child-auto" href="https://opa.uthscsa.edu/">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Postdoc Resources</h3>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color blue flex-child-auto" href="https://eso.uthscsa.edu/crid/researchit">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Research IT</h3>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color blue flex-child-auto" href="#">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-address-book fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Research Support Unit Directory</h3>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color darken flex-child-auto" href="https://uthealthsa.sharepoint.com/teams/Researcher-Resources?xsdata=MDV8MDJ8fGViN2ViYTllMTcwNzRjMTljN2MxMDhkYzZhMGViMDE0fDgzZmYxNGE2ZWI2YjQyNTBiNzQ1MjFiZWE2NjI1M2RjfDB8MHw2Mzg1MDE4NTg0OTYwMDYwODF8VW5rbm93bnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKV0lqb2lNQzR3TGpBd01EQWlMQ0pRSWpvaVYybHVNeklpTENKQlRpSTZJazkwYUdWeUlpd2lWMVFpT2pFeGZRPT18MXxMMk5vWVhSekx6RTVPbTFsWlhScGJtZGZXVlJTYkUxVVdUTk9WR3QwV1ZSUk5GbDVNREJPVkVrMFRGZEdhMWw2WjNSYVZGRXhUa2RhYUZsWFVYcE9SMGwzUUhSb2NtVmhaQzUyTWk5dFpYTnpZV2RsY3k4eE56RTBOVGc1TURRNE1UZ3d8ZDJmYTBiMjg1ZmM3NDIzM2M3YzEwOGRjNmEwZWIwMTR8MzI5ZTJjZjIxNWVmNGYzMmEzNmMyZDEyNjMyNmY0NmI%3D&sdata=NHd1ekNQT0NIYjZuc00wa1ZJSndZMjhDWWV1ckplTmhaajVPU3NVdDE5cz0%3D&ovuser=83ff14a6-eb6b-4250-b745-21bea66253dc%2Cbeausoleil%40uthscsa.edu&OR=Teams-HL&CT=1717600157162&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiI1MC8yNDA0MTEyMjMxNSIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Researcher Resources</h3>
          </a>
        </div>
        <div class="cell large-6 medium-6 small-12 flex-container">
          <a class="callout color darken flex-child-auto" href="#">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-info fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Responsible Conduct of Research</h3>
          </a>
        </div>
      </div>
    </section>
    <aside class="cell large-4 medium-5 small-12">
      <div class="callout outline lines">
        <p class="large"><strong>Facilities</strong></h2>
        <ul>
            <li><a href="#">Core Labs</a></li> 
            <li><a href="#">Institutes & Centers</a></li> 
            <li><a href="#">Institutional Biobank</a></li> 
        </ul>
      </div>
    </aside>
  </div>
</section>





{% include "@components/footer-prototypes/VPResearch-footer.twig" %}