{% include "@components/header-prototypes/header-VPR-services.twig" %}
{% include "@components/navigation-prototypes/navbar-VPR-services.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Close Out</a></li>
    <li><a href="#">Study Inactivation</a></li>
      <span class="show-for-sr">Current: </span> The Animal Study Lifecycle</li>
  </ul>
</nav>

<div class="grid-container">
    <h1>The Animal Study Lifecycle</h1>
    <h2 class="h4">Closing Out Your Animal Study</h4>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-7 small-12">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">      Inactivating your Animal Protocol</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Inactivation of a UTHSA IACUC protocol
must be submitted using the <a>ORCA</a> progress report. Select "inactivate" on the first item of the progress report.</p>

<p>Lean more about <a>ORCA Progress Report.</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Animal Disposition - Euthanasia</a>
                    <div class="accordion-content" data-tab-content>
                        <p><strong>Rodent Euthanasia</strong></p>

<p>Costs for euthanasia and disposal of rodents are included in the rodent per diem fees.</p>

<p>Complete the Euthanasia Request form and placed it on each cage designated for euthanasia. DLAR personnel will locate the cages and provide the service. The RFID cage card will be deactivated by DLAR.</p>

<p><strong>Non-Rodent Euthanasia</strong></p>
<p>Is performed by DLAR personnel upon request. Contact the DLAR technicians at VetTech@uthscsa.edu for scheduling and costs.
</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Housing Closeout</a>
                    <div class="accordion-content" data-tab-content>
                        <p>When animals are euthanized, transferred to another protocol, or removed the RFID cage card must be returned to DLAR for deactivation to remove the associated cage from the protocol charge list.  The RFID cage card should be turned in to DLAR using the cage card collection drop boxes located in each animal facility unless otherwise noted.</p>
                    </div>
                </li>
              <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Animal Disposition - Euthanasia</a>
                    <div class="accordion-content" data-tab-content>
                        <p><strong>Rodent Euthanasia</strong></p>

<p>Costs for euthanasia and disposal of rodents are included in the rodent per diem fees.</p>

<p>Complete the Euthanasia Request form and placed it on each cage designated for euthanasia. DLAR personnel will locate the cages and provide the service. The RFID cage card will be deactivated by DLAR.</p>

<p><strong>Non-Rodent Euthanasia</strong></p>
<p>Is performed by DLAR personnel upon request. Contact the DLAR technicians at VetTech@uthscsa.edu for scheduling and costs.
</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Animal Disposition - Transfer</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Removal of animals from the protocol may also be completed by transfer to another internal protocol or transfer to an external entity.

<p>The DLAR animal internal and external transfer forms are available on <a>ORCA.</a></p>
<p>To submit an ORCA transfer request you must be the PI, Co-PI, or a Delegate.</p>

<p>Transfer Options Available:<p>

    <p>Protocol Transfer (Internal) - Transfer animals from one protocol to another protocol
    External Transfer – Transfer animals to an external Institute/University</p>

<p>Learn more about <a>ORCA Animal Transfers & Relocation</a> for further guidance on submitting Animal transfers.</p>
                    </div>
                </li>
              <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Housing Closeout</a>
                    <div class="accordion-content" data-tab-content>
                        <p>When animals are euthanized, transferred to another protocol, or removed the RFID cage card must be returned to DLAR for deactivation to remove the associated cage from the protocol charge list.  The RFID cage card should be turned in to DLAR using the cage card collection drop boxes located in each animal facility unless otherwise noted.</p>
                    </div>
                </li>
              <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Records Retention</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Good records are essential for verifying the quality of study data produced and demonstrating investigator compliance with regulations, laws and institutional policies. UTHSA investigators must retain research
records in accordance with federal, institutional, and sponsor
requirements.  The regulatory mandate for records retention depends upon which regulations are applicable to the research.  For some documents UTHSA requires much longer retention than some federal requirements. Investigators must comply with all applicable requirements.</p>

<p>More information on the institution’s records retention policy may be found here: <a>UT Health Records Management.</a></p>
                    </div>
                </li>
            <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Research Data Ownership</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Researchers may request permission to take original research
data when leaving the university​.  To do so please contact Melanie Zuñiga Rapp at <a>zunigam5@uthscsa.edu</a> or 210-562-6838.</p>

<p>​HOP 7.10.1 provides research data definitions, obligations to retain, archive and make data available for collaboration. The policy summarizes other regulations, policies, agreements and circumstances that impact research data retention and access.</p>  

<p>Learn more about <a>other research data retention and access rules​.</a></p>
                    </div>
                </li>
            </ul>

            <div>
         <h4>Need Help?</h4>
          <p><strong>OIACP:</strong> <a>IACP@uthscsa.edu</a>; 210-567-8260</p>
          <p><strong>DLAR:</strong> <a>LAR@uthscsa.edu</a>; 210-567-6166</p>
          </div>
        </main>

        <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
 <div class="callout">
            <h2 class="text-center h4">Apply Now</h2>
            <div>
               <ul class="no-bullet">
                  <li>
                     <div class="grid-x grid-margin-x">
                        <div class="cell small-3 medium-2 large-2 ">
                           <span class="fa-stack">
                              <!-- The icon that will wrap the number -->
                              <span class="fas fa-circle fa-stack-2x"></span>
                              <!-- a strong element with the custom content, in this case a number -->
                              <strong class="fa-stack-1x fa-inverse">
                                 1
                              </strong>
                           </span>
                        </div>
                        <div class="cell small-9 medium-10 large-10 ">
                           <p><a>Developing your animal study</a></p>
                        </div>
                     </div>
                  </li>
                  <hr>
                  <li>
                     <div class="grid-x grid-margin-x">
                        <div class="cell small-3 medium-2 large-2 ">
                           <span class="fa-stack">
                              <!-- The icon that will wrap the number -->
                              <span class="fas fa-circle fa-stack-2x"></span>
                              <!-- a strong element with the custom content, in this case a number -->
                              <strong class="fa-stack-1x fa-inverse">
                                 2
                              </strong>
                           </span>
                        </div>
                        <div class="cell small-9 medium-10 large-10 ">
                           <p><a>Logistics for your animal study</a></p>
                        </div>
                     </div>
                  </li>
                  <hr>
                  <li>
                     <div class="grid-x grid-margin-x">
                        <div class="cell small-3 medium-2 large-2 ">
                           <span class="fa-stack">
                              <!-- The icon that will wrap the number -->
                              <span class="fas fa-circle fa-stack-2x"></span>
                              <!-- a strong element with the custom content, in this case a number -->
                              <strong class="fa-stack-1x fa-inverse">
                                 3
                              </strong>
                           </span>
                        </div>
                        <div class="cell small-9 medium-10 large-10 ">
                           <p><a>Getting approval for your animal study</a></p>
                        </div>
                     </div>
                  </li>
                  <hr>
                  <li>
                     <div class="grid-x grid-margin-x">
                        <div class="cell small-3 medium-2 large-2 ">
                           <span class="fa-stack">
                              <!-- The icon that will wrap the number -->
                              <span class="fas fa-circle fa-stack-2x"></span>
                              <!-- a strong element with the custom content, in this case a number -->
                              <strong class="fa-stack-1x fa-inverse">
                                 4
                              </strong>
                           </span>
                        </div>
                        <div class="cell small-9 medium-10 large-10 ">
                           <p><a>Starting your animal study</a>.</p>
                        </div>
                     </div>
                  </li>
                  <hr>
                  <li>
                     <div class="grid-x grid-margin-x">
                        <div class="cell small-3 medium-2 large-2 ">
                           <span class="fa-stack">
                              <!-- The icon that will wrap the number -->
                              <span class="fas fa-circle fa-stack-2x"></span>
                              <!-- a strong element with the custom content, in this case a number -->
                              <strong class="fa-stack-1x fa-inverse">
                                 5
                              </strong>
                           </span>
                        </div>
                        <div class="cell small-9 medium-10 large-10 ">
                           <p><a>Managing your animal study</a></p>
                        </div>
                     </div>
                  </li>
                  <hr>
                  <li>
                     <div class="grid-x grid-margin-x">
                        <div class="cell small-3 medium-2 large-2 ">
                           <span class="fa-stack">
                              <!-- The icon that will wrap the number -->
                              <span class="fas fa-circle fa-stack-2x"></span>
                              <!-- a strong element with the custom content, in this case a number -->
                              <strong class="fa-stack-1x fa-inverse">
                                 6
                              </strong>
                           </span>
                        </div>
                        <div class="cell small-9 medium-10 large-10 ">
                           <p><strong>Closing out your animal study</strong></p>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>

  <div class="cell large-4 medium-5 small-12 margin-top flex-container">
    <a class="callout color orange flex-child-auto">
      <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
      <h3>Join the VPR Research Admin Email List</h3>
      <p>Sign up for our email list so you can stay up to date with news and announcements from our offices.</p>
    </a>
</div>
        </aside>
    </div>
</div>

{% include "@blocks/footer/no-alamo.twig" %}