{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Financial Operations</h1>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}


<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-7 large-8">
                <p>The Business Services Center and Financial Operations Team work together to provide excellent
                    financial transaction support, precise reporting, and strategic guidance to department leadership.
                    By enabling sound financial decisions, we help departments focus their resources on achieving the
                    institution's mission-critical goals.</p>
            </main>
            <aside class="cell small-12 medium-5 large-4">

            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-4">
                <h3 class="h4 ruled">Financial Operations</h3>
                <p><a href="baldwinj@uthscsa.edu">Julia Baldwin</a><br><strong>Senior Director, Financial
                        Operations</strong></p>
            </div>

            <div class="cell small-12 medium-6 large-4">
                <h3 class="h4 ruled">Business Service Center - Financial Services</h3>
                <p><a href="mailto:tongk1@uthscsa.edu">Katy Tong</a><br><strong>Senior Manager, Financial
                        Transaction</strong></p>
            </div>

            <div class="cell small-12 medium-6 large-4">
                <h3 class="h4 ruled">Business Services Center – Financial Planning</h3>
                <p><a href="mailto:palazzo@uthscsa.edu">Christopher Palazzo</a><br><strong>Senior Manager, Financial
                        Planning</strong></p>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/ba-footer.twig" %}