{% include "@components/header-prototypes/header-superhero-IA.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-7 medium-7 small-12">
                <h1 class="h5 sans-serif">“The new UT Health San Antonio Multispecialty and Research Hospital is crucial for the Mays Cancer Center to be able to expand its treatment options. By having in-patient capabilities, we can offer cellular-based therapies, Phase I clinical trials, and new technologies in surgical care.”</h1>
                <p>– Ruben Mesa, MD, FACP, executive director of the Mays Cancer Center, explaining the emphasis on cancer care and research planned for the new hospital (Fall 2024 opening)</p>
                <div class="button" a href="#">
                Read the announcement</a>
                </div>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <img src="../../images/mays_cancer_center.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-IA.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <p class="eyebrow">Giving to make lives better</p>
                <h2 class="color">Support the Mays Cancer Center</h2>
                <p>Thank you for your interest in the Mays Cancer Center, home to UT Health San Antonio MD Anderson Cancer Center in San Antonio, Texas. The Mays Cancer Center brings together the combined strengths of UT Health San Antonio and MD Anderson’s leading expertise in multidisciplinary, research-driven, patient-centered care.</p>

                <p>As one of only four National Cancer Institute-designated Cancer Centers in Texas, the Mays Cancer Center takes its place among the world's most respected centers devoted exclusively to leading edge research and unparalleled patient care.</p>

                <p>Are you interested in supporting cancer research, patient care, or clinical trials? Make an online gift today.</p>

              <div class="arrow">
					<ul>
						<li><a href="#">Make an online gift today</a></li>
					</ul>
				</div>

            </main>
            <aside class="small-12 medium-4 margin-bottom cell" role="complementary"
                <div class="grid-x">
                {% include "@components/navigation-prototypes/subnav-IA.twig" %}
                    <a class="callout color orange margin-top cell" href="#">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Make a Gift</h3>
                    </a>
</div>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center padding-bottom">
                <h2>Top Stories</h2>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p>Stand Up to Cancer: Alexander J. R. Bishop, DPhil to Lead One of Three Trans-Atlantic Teams
                            to Study Hard-to-Treat Childhood Cancers</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p>Raushan Kurmasheva, Ph.D., Part of Dmitri Ivanov, Ph.D., CPRIT Grant Team “Identifying and
                            Optimizing Small Molecules for Drug Development”</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p>Stand Up to Cancer: Alexander J. R. Bishop, DPhil to Lead One of Three Trans-Atlantic Teams
                            to Study Hard-to-Treat Childhood Cancers</p>
                    </div>
                </a>
            </div>
            <div class="small-12 medium-3 cell flex-container">
                <a class="card cell light-beige flex-child-auto">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <p>Raushan Kurmasheva, Ph.D., Part of Dmitri Ivanov, Ph.D., CPRIT Grant Team “Identifying and
                            Optimizing Small Molecules for Drug Development”</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
        <div class="cell small-12 medium-6 large-6">
                <img src="https://picsum.photos/690/400">
            </div>
            <div class="cell small-12 medium-6 large-6">
                <h3>Pushing the frontier of cancer research</h3>
                <p>An annual Cabinet gift supports breakthrough cancer research and drug development and directly impacts the lives of countless cancer patients and their families.</p>
                <p>Please take this opportunity to join or renew your support for this lifesaving work by making a gift to the Cancer Center Cabinet.</p>
                <p><a class="arrow">Join the Cancer Center Cabinet</a></p>

            </div>
        </div>
    </div>
</section>

<section class="bleed color light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>In Memoriam: Remembering the Legacy of Peggy Mays</h3>
                        <p>The Mays Cancer Center honors the unwavering support of our friend Peggy Pitman Mays. With her husband, Lowry, and their family, their transformational gift to the cancer center will endure for generations.</p>
                        <a href="#" class="arrow">More about Peggy</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-6 card">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4">
                        <img src="http://placekitten.com/190/270" alt="KITTEH">
                    </div>
                    <div class="cell small-12 medium-8">
                        <h3>Generous Gift of Sculpture Inspires Patients, Families</h3>
                        <p>Longtime supporters Valerie and Jack Guenther commissioned the outdoor art sculpture “Wings of Hope – Hands of Healing” to represent the hope and healing for patients and their family members.</p>
                        <a href="#" class="arrow">More about Jack</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>