{% include "@components/header-prototypes/header-SOD.twig" %}
{% include "@components/navigation-prototypes/navbar-SOD.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li><a href="#">Comprehensive Dentistry</a></li>
      <span class="show-for-sr">Current: </span> Predoctoral Division</li>
  </ul>
</nav>
<div class="grid-container">
    <h1>Predoctoral Division</h1>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
            <img src="https://placekitten.com/930/425" class="margin-bottom">
            <p>From the first days of freshman year to the day of graduation, the faculty and staff of the Predoctoral Division of the Comprehensive Dentistry Department play a major role in the training of dental students. With more that 75 full and part-time faculty and staff, the Comprehensive Dentistry Predoctoral Division is the largest at UT Health San Antonio School of Dentistry, and is by itself larger than the other departments. From dental anatomy and esthetics to preventative dentistry and dentures, this division is accountable for the majority of the pre-clinical and clinical training of our students.</p>

<p>In the first two years, the students receive training in the pre-clinical courses of dental anatomy, restorative dentistry, crown and bridge, removable prosthodontics, and implant dentistry. During the last two years of dental school, the vast majority of the student’s time is spent in one of the 8 General Practice Groups. These groups are staffed and managed by the Predoctoral Division Faculty. Overall, during the four years of dental school, more than 50% of the total curriculum hours and more than 50% of courses taught are the responsibility of the Predoctoral Division of the Comprehensive Dentistry Department at UT Health San Antonio.</p>
<h3>Disciplines</h3>
<p>The disciplines of general dentistry, restorative dentistry, prosthodontics, oral medicine/radiology, prevention, and community outreach are coordinated to provide a comprehensive educational experience for future dental practitioners. A unique general dentistry model is used to prepare students for general practice or advanced education upon graduation.</p>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Community Dentistry</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Community Dentistry is committed to promoting oral health through organized community efforts and individual oral disease prevention strategies. Our mission includes educating the predoctoral dental student in oral health promotion and disease prevention for the community and the individual, nutrition, cariology, behavioral dentistry, oral health care systems, ethics and jurisprudence.</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Dental Diagnostic Sciences</a>
                    <div class="accordion-content" data-tab-content>
                        <p>The mission of Dental Diagnostic Sciences is to educate pre- and postdoctoral dental students, allied health students, preceptors, visiting professors, and dental and other health practitioners in oral diagnosis, oral medicine, oral & maxillofacial radiology, geriatric dentistry, forensic dentistry, and infection control.</p>

<p>This discipline seeks to improve oral health in South Texas and beyond through:</p>

    <ul>
    <li>the discovery and dissemination of new knowledge in the field</li>
    <li>the provision of state-of-the-art professional services in physical diagnosis, oral diagnosis, oral medicine, treatment planning, radiology, geriatrics, forensic odontology, and infection control</li>
    <li>service to the University, South Texas community, and the profession as a whole</li></ul>
</p>
                    </div>
                </li>
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">General Dentistry</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Insert information here.</p>
                        <p><a class="arrow" href="#">Link</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Restorative Dentistry</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Insert information here.</p>
                        <p><a class="arrow" href="#">Link</a></p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Prosthodontics</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Insert information here.</p>
                        <p><a class="arrow" href="#">Link</a></p>
                    </div>
                </li>
            </ul>
        </main>
        <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li>
    <a href="#">About Us</a>
    <ul class="nested vertical menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Meet the Chair</a></li>
      <li><a href="#">Preceptors & Fellowships</a></li>
      <li><a href="#">Endowments</a></li>
      <li><a href="#">Faculty</a></li>
      <li><a href="#">Faculty Development Program</a></li>
    </ul>
  </li>
  <li><a href="#">Divisions</a>
  <ul class="nested vertical menu">
      <li><a href="#">Predoctoral</a></li>
      <li><a href="#">Postdoctoral</a></li></ul>
  </li>
  <li>
    <a href="#">Programs</a>
    <ul class="nested vertical menu">
      <li><a href="#">Advanced Education in General Dentistry</a></li>
      <li><a href="#">Early Acceptance</a></li>
      <li><a href="#">Doctor of Dental Surgery</a></li>
      <li><a href="#">Doctor of Dental Surgery & Doctor of Philosophy</a></li>
      <li><a href="#">Dental Health Public Residency </a></li>
      <li><a href="#">Oral & Maxillofacial Radiology Residency</a></li>
      <li><a href="#">Prosthodontics Residency</a></li>
    </ul>
  </li>
  <li><a href="#">Research</a>
  <ul class="nested vertical menu">
      <li><a href="#">Cariology Research</a></li>
      <li><a href="#">Dry Mouth and Salivary Gland Dysfunction</a></li>
      <li><a href="#">Oral Cancer</a></li>
      <li><a href="#">Dental Material & Bioengineering</a></li>
    </ul>
  </li>
  <li><a href="#">Clinics</a>
  <ul class="nested vertical menu">
      <li><a href="#">Faculty General Dentistry</a></li>
      <li><a href="#">Geriatric Dentistry</a></li>
      <li><a href="#">Graduate Residents General Dentistry</a></li>
      <li><a href="#">Graduate Residents Prosthodontics</a></li>
      <li><a href="#">Student General Dentistry</a></li>
      <li><a href="#">Oral & Maxillofacial Radiology</a></li>
      <li><a href="#">Oral Medicine</a></li>
    </ul>
  </li>
  <li><a href="#">Professional Organizations</a>
  <ul class="nested vertical menu">
      <li><a href="#">American Association of Public Health Dentistry</a></li>
      <li><a href="#">American Board of Oral & Maxillofacial Radiology</a></li>
      <li><a href="#">The American Board of Prosthodontics</a></li>
    </ul>
  </li>
  <li><a href="#">Contact Us</a></li>
</ul>

        </aside>
    </div>
</div>
{% include "@blocks/footer/no-alamo.twig" %}