{% include "@components/header v2/header.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 small-12">
                <h1>
                    Reaffirmation of Accreditation
                </h1>
            </div>

        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-sacs.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-7 large-8">

                <h2 class="h5 margin-bottom-2 ruled"><a class="file">Part I: Signatures Attesting to Integrity</a></h2>


                <h2 class="h5 margin-bottom-2 ruled"><a>Part II: Institutional Summary Form Prepared for Commission Reviews</a>
                </h2>


                <h2 class="h5 margin-bottom-2 ruled"><a>Part III: Fifth-Year Compliance Certification</a></h2>


                <h2 class="h5 margin-bottom-2 ruled"><a class="file">Part IV: Fifth-Year Follow Up Report</a></h2>

                <h2 class="h5"><a class="file">Part V: Impact Report of the Quality Enhancement Plan</a></h2>


            </main>
            <aside class="cell large-4 medium-5 small-12">
                <a href="http://catalog.uthscsa.edu" class="callout color orange">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>UT Health SA Catalog</h3>
                </a>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}