{% include "@components/header v2/header-police.twig" %}

<section class="hero bleed">

    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="cell small-12 medium-8">
                <h1>Keys & Access</h1>
                <p>UT Police manages security plans, access systems, keys, ID badges, card access and control on UT
                    Health San Antonio campuses.</p>

                <p><a class="button">Contact Us</a></p>
            </div>

            <div class="cell small-12 medium-4">
                <img src=" https://placedog.net/600/400" alt="Dog">
            </div>

        </div>
    </div>
</section>


{% include "@components/navigation/navbar-police.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 large-8 cell">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 medium-6 flex-container">
                        <a href="https://www.uthscsa.edu/police/access-systems-controls"
                            class="callout color blue rocky flex-child-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Access Systems & Controls</h3>
                            <p>Issuance and collection of all metal and card key access, as well as electronic access.
                            </p>
                        </a>
                    </div>

                    <div class="cell small-12 medium-6 flex-container">
                        <a href="https://www.uthscsa.edu/police/keys" class="callout color blue rocky flex-child-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-key fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Keys</h3>
                            <p>Management of all keys, cores and doors on all UT Health San Antonio property.</p>
                        </a>
                    </div>

                    <div class="cell small-12 medium-6 flex-container">
                        <a href="https://www.uthscsa.edu/police/id-badges-card-access"
                            class="callout color blue rocky flex-child-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="far fa-id-badge fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>ID Badges & Card Access</h3>
                            <p>All ID badges, regardless of location are issued under the authority of the access
                                control supervisor.</p>
                        </a>
                    </div>

                    <div class="cell small-12 medium-6 flex-container">
                        <a href="https://book.appointment-plus.com/cthg4slv/#/"
                            class="callout color blue rocky flex-child-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="far fa-calendar-check fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Book Appointment</h3>
                            <p>Schedule online appointment for your next service.</p>
                        </a>
                    </div>
                </div>
            </div>

            <aside class="cell small-12 medium-4">

                <div class="lines">
                    <h3 class="h5 color">Related Forms and Documents</h3>
                    <ul>
                        <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40792">Report
                                Lost Keys</a></li>
                        <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40793">Report
                                Lost Parking Permit</a></li>
                        <li><a
                                href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet.aspx?ID=40783">Access
                                Request Form</a></li>
                        <li><a href="https://uthscsa.teamdynamix.com/TDClient/2009/Portal/Requests/ServiceDet?ID=40790">Key
                                Request Form</a></li>
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</section>


{% include "@blocks/footer/alamo.twig" %}