{% include "@components/header-prototypes/STUROP-header.twig" %}
<section class="hero bleed">

    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="cell small-12 medium-8">
                <h1>The Scholar Experience</h1>
            </div>

            <div class="cell small-12 medium-4">
                <img src=" https://placedog.net/600/400" alt="Dog">
            </div>

        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/STUROP-navbar.twig" %}

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-8">

                <p>Information about being a scholar and some of the accomplishments of past scholars. Crack Jennys tea
                    cup squiffy smartly Plate Fleet man-of-war quarter furl walk the plank interloper
                    gangplank. Yard Gold Road piracy Shiver me timbers reef schooner American Main crow's nest cackle
                    fruit six pounders. Ahoy main sheet snow Sea Legs yo-ho-ho heave to skysail scallywag gun prow. </p>

                <p>Information about being a scholar and some of the accomplishments of past scholars. Crack Jennys tea
                    cup squiffy smartly Plate Fleet man-of-war quarter furl walk the plank interloper
                    gangplank. Yard Gold Road piracy Shiver me timbers reef schooner American Main crow's nest cackle
                    fruit six pounders. Ahoy main sheet snow Sea Legs yo-ho-ho heave to skysail scallywag gun prow. </p>


                <blockquote class="fancy margin-top">
                    <p>This is a quote from a current or previous scholar about their experience with the program.Crack
                        Jennys tea
                        cup squiffy smartly Plate Fleet man-of-war quarter furl walk the plank interloper
                        gangplank. Yard Gold Road piracy Shiver me timbers reef schooner American Main crow's nest
                        cackle
                        fruit six pounders.</p>
                    <cite>Obi-Wan Kenobi, Past Scholar</cite>
                </blockquote>

            </div>
            <div class="cell small-12 medium-4">
                <a class="callout">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Apply Now</h3>
                </a>

                <a class="callout color grey">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-user-graduate fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Alumni Scholars</h3>
                </a>

                <div>
                    <h2 class="ruled h3">Contact us</h2>
                    <address>
                        <strong>Dr. Irene Chapa</strong><br>
                        Program Director<br>
                        <a href="#">chapai@uthscsa.edu</a><br>
                        210-567-2941
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed color grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell small-12 medium-9">
                <h2>Scholar Spotlight</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center ">
            <div class="card popout cell small-12 medium-4">
                <div class="card-section">
                    <img src="../../images/no-photo.jpg">
                    <h3 class="close">Joe Shmoe</h3>
                    <p>Medical Science Stuff</p>
                    <p>A little about this scholar and their accomplishments.Yard Gold Road piracy Shiver me timbers
                        reef schooner American Main crow's nest cackle
                        fruit six pounders.
                    </p>
                </div>
            </div>

            <div class="card popout cell small-12 medium-4">
                <div class="card-section">
                    <img src="../../images/no-photo.jpg">
                    <h3 class="close">Jane Smoeyer</h3>
                    <p>Sciency Research Stuff</p>
                    <p>A little about this scholar and their accomplishments.Yard Gold Road piracy Shiver me timbers
                        reef schooner American Main crow's nest cackle
                        fruit six pounders.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

{% include "@components/footer-prototypes/STUROP-footer.twig" %}