<ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li>
    <a href="#" class="is-active">Item 1 <i class="fas fa-angle-up"></i></a>
    <ul class="nested vertical menu">
      <li><a href="#">Item 1A</a></li>
      <li><a href="#">Item 1B</a></li>
    </ul>
  </li>
  <li><a href="#">Item 2 <i class="fas fa-angle-down"></i></a></li>
  <li><a href="#">Item 3</a></li>
  <li><a href="#">Item 4</a></li>
</ul>
