{% include "@components/header-prototypes/header-tobacco.twig" %}
{% include "@components/navigation-prototypes/navbar-tobacco.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
            <h1 class="h2">Resources to Help You Quit Tobacco</h1>
<p>UT Health San Antonio wants to support you in your decision to quit smoking.</p>

<p>Here are some local resources to help you quit now:</p>

<p><strong>Employee Benefits.</strong> The UT Select insurance plans from the UT System Office of Employee Benefits now covers tobacco cessation counseling using network providers and nicotine replacement therapy (e.g., patches) or non-nicotine medications with an authorized prescription for $0 co-payment and no deductible. <a class="coward">Make an appointment with at UT Physician</a> or visit <a class="coward">UT Health San Antonio Wellness 360</a> (7703 Floyd Curl Drive, San Antonio, TX 78229, 210-567-2788) to discuss your decision to quit.</p>
<p><a href="#" class="arrow">Make an Appointment with UT Physicians</a></p>
<p><a href="#" class="arrow">Make an Appointment at Wellness 360</a></p><br>
<p><strong>Quit-Smoking Classes.</strong> UT Health Physicians hosts <a class="coward">smoking cessation Classes</a> at 5 p.m. every third Tuesday of the month in Conference Room A at the Medical Arts & Research Center (MARC) at 8300 Floyd Curl Drive.</p>
<p><a href="#" class="arrow">More info</a></p><br>
<p><strong>Individual Counseling.</strong> UT Health Physicians also offers individual <a class="coward">smoking cessation counseling sessions</a>. Consider a visit if you are thinking about stopping, you want to stop smoking, or you have stopped smoking.</p>
<p><a href="#" class="arrow">More info</a></p><br>
<p><strong>Use Text Messages or Facebook Messenger to Quit Smoking.</strong> Sign up for the <em>Quitxt</em> program in <a class="coward">English</a> (text “iquit” to 844-332-2058; or search QuitxtCommunity on Facebook Messenger and hit "Get Started") or <a class="coward">Spanish</a> (text “lodejo” to 844-332-2058; or search QuitxtComunidad on Facebook Messenger and hit "Empezar") and get messages to help you quit smoking. Quitxt, led by Dr. Amelie G. Ramirez of UT Health San Antonio with support from the Cancer Prevention and Research Institute of Texas, is a free service with interactive texts and online support that can double your odds of quitting for good!</p>
<p><a href="#" class="arrow">Start now</a></p><br>
<p>Here are some additional resources from reputable organizations:</p>
<ul><li>
    <a class="coward">Get helpful information and tips</a> from the American Cancer Society.</li>
    <li>Download the <a class="coward">QuitPal app</a>. Developed by the National Cancer Institute, this app can help you set a quit date, track your smoking habits, visualize how much money you save by quitting, and more.</li>
    <li><a class="coward">Join the online quitting program</a> from the American Lung Association.</li>
    <li>The <a class="coward">Yes Quit</a> program can help you become an expert in living tobacco-free with The Four Essential Practices to Quit for Life, available by phone or online.</li></ul>
<p>Quit tobacco today!</p>
<p>UT Health San Antonio wants to support you in your decision to quit smoking!</p>
<p><strong>Contact us:</strong> <a class="coward">tobaccofree@uthscsa.edu</a></p>
<div class="social">
   <ul>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
         </a>
         </span>
      </li>
      <li>
         <a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
</div>
            </main>
            <aside class="small-12 medium-4 cell">
            <div class="text-center margin-bottom">
                        <img src="../../images/smoking-bans.png"></div>
             <div class="callout outline flex-child-auto">
                <h3>About Us</h3>
                <p>UT Health San Antonio wants to support you in your decision to quit smoking! Please use our resources and tools to quit, or let us know how we can help you: <a>tobaccofree@uthscsa.edu.</a></p>
            </div>
            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/no-alamo.twig" %}
