{% include "@components/header-prototypes/header-barshop.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2024/08/BarshopHomepageBanner.png" alt="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-6 large-6 cell callout">
                <h1>Sam and Ann Barshop Institute for Longevity and Aging Studies</h1>
                <!--<p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>-->
                <p><a class="button">View our publications</a></p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-barshop.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
        <div class="cell large-8 medium-8 small-12">
            
            <p>The University of Texas Health Science Center San Antonio, Joe R. & Teresa Lozano Long School of Medicine, Sam and Ann Barshop Institute for Longevity and Aging Studies holds the distinction of being the recipients of NIH – NIA funded centers including the <a>Nathan Shock Center</a>, <a>Claude D. Pepper Center for Older Americans</a>, and the Interventions Testing Program. These centers are the foundation of the Barshop Institute’s mission in understanding the basic biology of aging, and discovering therapies that will treat and cure debilitating aging diseases. Postdoctoral and predoctoral trainees at the Barshop Institute are supported in part through the Biology of Aging Training Program (T32) providing them opportunity to construct, execute, and present their research to the aging research community.</p>
            <p>Faculty at the Barshop Institute represent diverse research fields whose common focus is understanding the aging process and how we can eliminate and/or manage debilitating diseases that accelerate the aging process. Faculty also have fostered collaborative partnerships with clinical faculty in the Long School of Medicine to facilitate clinical research studies.</p>
            <p>UT Health San Antonio is a comprehensive academic health university and research center in South Texas. One of six health institutions in The University of Texas System, UT Health San Antonio is the primary source of health professions, education and life sciences research in the region and is a major center for patient care.</p>
            
        </div>
        <div class="cell large-4 medium-4 small-12">
            <!--<h2 class="h5">Inspiration for the Barshop Institute</h2>-->
            <div class="responsive-embed">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eXLKRYevYoU?si=fJItlLWcUVt14D7z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
            <!--<h2 class="h5">Tour facilities at the Barshop Institute</h2>-->
            <div class="responsive-embed">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/imrJsQ60A7E?si=8_am1XSM4agyqIdZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            

        </div>

    </div>
</section>


<section class="bleed color orange">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell large-8 medium-8 small-12">
                <h2>Masoro-Barshop Conference on Aging</h2>
                <p>Short marketing blurb about conference. Tart shortbread brownie donut jelly-o. Dragée sugar plum macaroon chocolate cake candy canes. Lollipop cupcake halvah oat cake cake sweet. Biscuit cake powder muffin cupcake sweet roll. Cheesecake bear claw muffin pie powder lemon drops gummi bears pastry. Croissant cupcake cotton candy bonbon powder marzipan marzipan powder.
                <p><a class="button">Learn more about the conference</a></p>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2024/07/MCBA-2024-Speakers-768x994.png" alt="">
            </div> 
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-4 small-12">
            <a href="#">
                <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2020/09/aboutus.jpg" alt="">
            
                <h3 class="h5">About us</h3>
            </a>
            <p>As human life expectancy continues to increase, so must our scientific knowledge of aging processes to ensure healthy longevity, free of the disabilities brought about by age-related diseases and conditions.</p>
            
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a href="#">
                <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2020/09/research2.jpg" alt="">
                <h3 class="h5">Our research</h3>
            </a>
            <p>Research at the Barshop Institute aims to bring fundamental discoveries in the basic biology of aging into clinical practice. Researchers at the Barshop Institute sustain their scientific endeavors by successfully competing for funding at the national level.</p>
            
        </div>
        <div class="cell large-4 medium-4 small-12">
            <a href="#">
                <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2020/09/trainingeducation.jpg" alt="">
            
                <h3 class="h5">Training and education programs</h3>
            </a>
            <p>With guidance from program leaderships, students will select their laboratory rotations, graduate discipline, and eventually, their supervising professors from an outstanding array of distinguished members of the graduate faculty.</p>
            
        </div>

    </div>
</section>

<section class="bleed color dark-grey noise">
  <div class="grid-container">
    <div class="grid-x align-center-middle">
      <div class="cell large-10 medium-10 small-10 text-center">
        <h2>Making a Difference Through Research</h2>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-award fa-5x"></i></p>
        <h3 class="h5">Leading Aging Research</h3>
        <p>Only aging-intensive research institute in the country to currently have all of the following four designations: the NIA-funded Nathan Shock and Claude D. Pepper centers, a testing site of the NIA-sponsored Interventions Testing Program, and a U.S. Department of Veterans Affairs Geriatric Research, Education & Clinical Center (GRECC).</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-microscope fa-5x"></i></p>
         <h3 class="h5">Bench to Bedside</h3>
        <p>Our research translates from the laboratory bench to the patient bedside at our Barshop Clinical Research Unit, where faculty perform clinical trials based on the latest research findings.</p>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <p><i class="fas fa-graduation-cap fa-5x"></i></p>
         <h3 class="h5">Excellence in Aging Education</h3>
        <p>Our NIA training grant enables four graduate students and four postdoctoral fellows to pursue novel research in the biology of aging and the emerging area of geroscience.</p>
      </div>
      
    </div>
  </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class="small-12 medium-6 callout white cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">News</h2>
                    <div class="lines">
                        <ul>
                            <li><a href="#">UT Health Newsroom: UT Health San Antonio researcher awarded five-year, $2.53 million NIH grant to study alcohol-assisted liver disease</a></li>
                            <li><a href="#">UT Health Newsroom: Voelcker Fund supports research for early career investigators at UT Health San Antonio</a></li>
                            <li><a href="#">Congratulations to Rebeca Wong, PhD on her nomination to the National Academy of Medicine in Mexico!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="https://news.uthscsa.edu/category/research/" class="button ghost">View all news</a></p>
                </div>
            </div>
            <div class="small-12 medium-6 callout white cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">Events</h2>
                    <div class="lines">
                        <ul>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="#" class="event">
                                        <div class="date">
                                            <div class="month">sep</div>
                                            <div class="day">11</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="#">Fall 2024 Seminar Series: Gabriel de Erausquin, MD, PhD, MSc</a>
                                </div>
                            </li>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="#" class="event">
                                        <div class="date">
                                            <div class="month">sep</div>
                                            <div class="day">18</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="#">Fall 2024 Seminar Series: Lisa Kilpela, PhD</a>
                                </div>
                            </li>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="#" class="event">
                                        <div class="date">
                                            <div class="month">sep</div>
                                            <div class="day">25</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="#">Fall 2024 Seminar Series: Kelly Reveles, PharmD, PhD</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="#" class="button ghost">View all events</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/barshop-footer.twig" %}
