{% include "@components/header-prototypes/header-opa.twig" %}
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="../../patterns/prototypes-OPA-current-postdocs/prototypes-OPA-current-postdocs.rendered.html">Current Postdocs</a></li>
        <li>
            <span class="show-for-sr">Current: </span>Spotlight on Research Integrity
        </li>
    </ul>
</nav>

<div class="grid-container">
    <h1>Spotlight on Research Integrity</h1>
    <p class="subheader">Career Development</p>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
          <img src="https://opa.uthscsa.edu/sites/opa/files/SpotlightWebBanner.png" alt="">
          <p>Spotlight on Research Integrity (SRI) is a monthly workshop designed to promote meaningful discussion of controversial issues in contemporary biomedical research. This is held on the 4th Tuesday of each month except December due to the winter holidays.</p>
          <p><strong><em>These workshops, unless otherwise stated, will be recorded.</em></strong></p>
          <h2>Featured Event</h2>
          <h3 class="color h4">Another Inconvenient Truth: The Research Climate Crisis</h3>

          <div class="grid-x grid-margin-x align-center-middle">

            <div class="cell large-6 medium-6 small-12">
              <p><strong>Bruce H. Mandt, Ph.D.</strong><br>
              Assistant Dean, Graduate School<br>
              Director, Postdoctoral Office<br>
              Director, Career Development Office<br>
              University of Colorado - Anschutz Medical Campus<br>
              Denver, Colorado</p>
              <p>Tuesday, August 23, 2022<br>
              4:00 – 5:00 pm<br>
              Location: Virtual</p>
              <p><a class="button" href="https://www.surveymonkey.com/r/SRIAug2022">Register Now</a></p>
            </div>
            <div class="cell large-6 medium-6 small-12">
              <img src="https://opa.uthscsa.edu/sites/opa/files/2021_Headshot%20_1_.jpeg" alt="">

            </div>
          </div>

        </main>
        <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">

          <h2>Upcoming Events</h2>
          <div class="event">
            <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
              <div class="month">jan</div>
              <div class="day">10</div>
            </a>
            <div class="details">
              <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
              <div class="date">January 10, 2023</div>
            </div>
          </div>
          <div class="event">
            <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
              <div class="month">jan</div>
              <div class="day">11</div>
            </a>
            <div class="details">
              <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
              <div class="date">January 11, 2023</div>
            </div>
          </div>
          <div class="event">
            <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
              <div class="month">jan</div>
              <div class="day">20</div>
            </a>
            <div class="details">
              <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
              <div class="date">January 20, 2023</div>
            </div>
          </div>
          <div class="event">
            <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
              <div class="month">jan</div>
              <div class="day">22</div>
            </a>
            <div class="details">
              <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
              <div class="date">January 22, 2023</div>
            </div>
          </div>
          <p><a class="button ghost" href="http://uthscsa.staging.localist.com/search/events?event_types%5B%5D=41058213406737">View all events</a></p>

          <h2>Contact Us</h2>
          <p>For more information, contact the Office of Postdoctoral Affairs at 210-567-0397 or <a>PostdocEvents@uthscsa.edu</a></p>

          <a class="callout color dark-grey">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-video fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Previous SRI Sessions</h3>
          </a>
        </aside>
    </div>
</div>

{% include "@components/footer-prototypes/OPA-no-alamo.twig" %}