{% include "@components/header-prototypes/header-cheever.twig" %}
{% include "@components/navigation-prototypes/navbar-cheever.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}

<div class="grid-container">
    <h1>Program Details</h1>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-7 small-12">
            <p>Students in this program will produce a Capstone Project, which demonstrates a sustained work of academic
                research and sustainably fills a specific and substantial need in a selected community. The
                interdisciplinary nature of this Distinction will expose students to novel career options while enabling
                them to develop a strong record in both academics and community outreach that will be well regarded by
                residency selection committees. </p>

            <h2>Requirements</h2>
            <ol>
                <li>Students will pick one area of focus
                    from the four disciplines within the Cheever Center for Medical Humanities &amp; Ethics
                    (CMHE)&nbsp; – Arts &amp; Humanities, Community Engaged Learning (CEL), Global Health, and
                    Medical Ethics.</li>
                <li>In addition to the core requirements,
                    students will complete a Capstone Project based on their selected discipline.</li>
                <li>Students must have a project mentor who
                    is a faculty at UT Health SA or an external individual approved by the discipline director
                    and does work related to the selected area.</li>
                <li>180 hours must be dedicated to
                    activities fulfilling core requirements. All hours must be logged by the student on the
                    <a href="#">Core
                        Requirement Log Form</a>.These hours may be
                    filled in the following ways:
                    <ul>
                        <li>Volunteer Service – A minimum of
                            40 hours of volunteer service
                            <ul>
                                <li> 20 hours should
                                    contribute directly to the focus of the student’s specific discipline or
                                    project.</li>
                            </ul>
                        </li>
                        <li>Elective Coursework – A minimum
                            of three (3) elective courses offered through the CMHE must be completed.
                        </li>
                        <li>Other – Remaining hours may be
                            fulfilled through additional volunteer service or elective coursework (beyond the
                            minimum), or participation in other activities related to medical humanities, e.g..
                            guest lectures, community events, journal clubs, conference participation, global
                            health trips unrelated to capstone project, etc.</li>
                    </ul>
                </li>
                <li>Students must maintain <strong>a GPA of 3.5</strong> (High
                    Pass) or above and remain
                    in good academic standing throughout the duration of the program.<br>
                </li>
            </ol>

            <h3 class="color">Capstone Project Requirements</h3>
            <ol>
                <li>Proposal – After selecting a track and
                    finding a mentor, students will submit a written proposal with their application to Iris
                    Mast at <a href="mailto:masti@uthscsa.edu">masti@uthscsa.edu</a>.</li>
                <li>Four-week “Operations Month” – Time
                    dedicated solely to project, which can be used for travel, service, project preparation,
                    research, field assessments, etc.</li>
                <li>Formal Presentation – The chosen
                    Distinction discipline will determine the format for the student’s public presentation of
                    their work; Global Health – “Global Health in Action: Notes from the Field”&nbsp; or through
                    a “CEL Toolkit” if earning a distinction in Community Engaged Learning.&nbsp; The
                    presentation may be scheduled any time following the conclusion of the project, with date
                    approved by the Discipline Directors.</li>
                <li>Capstone Report – A final written report
                    will be submitted detailing the project outcomes. &nbsp;DEADLINE: The final Capstone Report
                    must be received by the Humanities Distinction Committee no later than March 1st prior to
                    graduation.<br>
                </li>
            </ol>
        </main>
        <aside class="cell large-4 medium-5 small-12">
            <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-file-signature fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Apply Now</h3>
            </a>
            <a class="callout color blue">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Frequently Asked Questions</h3>
            </a>
        </aside>
    </div>
</div>

{% include "@components/footer-prototypes/cheever-footer.twig" %}