{% include "@blocks/header/global-bar-quicklinks.twig" %}
{% include "@blocks/header/level-2.twig" %}

<section class="hero bleed img-fill full">
	<img src="https://www.uthscsa.edu/sites/default/files/2018/main_banner-1.png" alt="placeholder">
	<div class="grid-container">
		<div class="grid-x margin-x">
            <div class="cell large-6 large-offset-6 small-12">
                <div class="callout">
                    <h1>Where will your health care career take you?</h1>
                    <p>You've got the desire to help others and secure a rewarding career in the fast-growing field of health care. We've got innovating programs, dedicated faculty and unique clinical experiences to help you get there.</p>
                    <p><a href="#" class="button">Admissions</a></p>
                </div>
            </div>
        </div>
	</div>
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <section class="cell large-8 medium-8 small-12">
            <h2>Programs</h2>
            <p>We offer certifications, bachelor's, master's and doctoral allied health programs. In addition to
                classroom lectures, our programs offer clinical training opportunities in a variety of settings to
                ensure our students have exposure to a multitude of professional opportunities.</p>
            <p><a class="arrow">See all programs</a></p>
        </section>
        <aside class="cell large-4 medium-4 small-12">
            <div class="quickfact text-center">
                <p class="h2 sans-serif black close">40+</p>
                <p>average entering class size</p>
                <p class="h2 sans-serif black close">25</p>
                <p>years teaching allied health</p>
                <p class="h2 sans-serif black close">200</p>
                <p>student clinical locations</p>
            </div>
        </aside>
    </div>
</section>
<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12 align-self-middle">
                <h2>Your Future Awaits</h2>
                <p>School of Health Professions students take their outstanding educational and hands-on experiences and use them to do amazing things—to help people breathe better, move better, communicate better and live better.</p>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <div class="responsive-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zGasMaRm9po" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-4 small-12 flex-container">
            <a class="card color orange flex-child-auto">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Respiratory therapists: Key caregivers on COVID-10 team</h4>
                    <p>As San Antonio experiences a second surge of COVID-19, the city will be even better
                        prepared as more respiratory care graduates from the School of Health Professions
                        have entered the workforce.<p>
                </div>
            </a>
        </div>
        <div class="cell large-4 medium-4 small-12 flex-container">
            <a class="card color orange flex-child-auto">
                <img src="https://picsum.photos/534/300">
                <div class="card-section">
                    <h4>Laredo college graduates use LEAP to enter School of Health Professions programs
                    </h4>
                    <p>The initiative paves the way for students to successfully enter the health care
                        field.<p>
                </div>
            </a>
        </div>
        <div class="cell large-4 medium-4 small-12 flex-container">
            <div class="callout outline flex-child-auto">
                <p class="text-center"><i class="far fa-envelope-open fa-4x"></i></p>
                <p>Subscribe to recieve a monthly email newsletter with information on academic programs, events and
                    campus news from the School of Health Professions.</p>
                <form>
                    <label>Name
                        <input type="text">
                    </label>
                    <label>Email
                        <input type="text">
                    </label>
                </form>
                <div class="button-group">
                    <p><a href="#" class="button">Button CTA</a></p>
                    <p><a href="#" class="button ghost">Button CTA</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bleed color grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-6">
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text, and typically
                        distinguished visually using indentation and a different typeface or smaller size quotation.
                        Blockquotes have no margin/padding of their own and should be placed within another element like
                        a bleed.</p>
                    <cite>Obi-Wan Kenobi, Jedi Master</cite>
                </blockquote>
            </div>
            <div class="cell small-12 medium-3">
                <img src="http://placekitten.com/300/400" alt="kitty">
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}