{% include "@components/header-prototypes/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/son-smart/student-research.jpg">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 large-5">
        <div class="callout">
          <h1>Student Research Opportunities</h1>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SON.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Research</a></li>
    <li><a href="#">Office of Nursing Research & Scholarship (ONRS)</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Student Research Opportunities</li>
  </ul>
</nav>
<section class="bleed">
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Doctor of Philosophy Student Dissertations</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="cell large-6 medium-6 small-12 flex-container">
                    <a href="#" class="callout special flex-child-auto">
                        <h3>Doctor of Nursing Practice Quality Improvement Projects</h3>
                        <div class="circle">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-laptop-medical fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </a>
                </div></div>
<ul class="accordion grey" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">SUNRISE - Summer Undergraduate Nursing Research ImmerSion Experience</a>
        <div class="accordion-content" data-tab-content>
<p>For the nursing research community at UT Health San Antonio School of Nursing, we offer a diverse range of opportunities for undergraduate students who are eager to gain hands-on research experience, spanning from fundamental scientific research to applied healthcare delivery systems investigations. One such initiative is the Summer Undergraduate Nursing Research ImmerSion Experience (SUNRISE), tailored specifically for undergraduate students.</p>

<p>SUNRISE is a unique program designed to provide eligible students in their fifth and sixth years of the Traditional Bachelor of Science in Nursing (TBSN) program with an exceptional chance to participate in an 8-week paid summer research program. During this period, students will work closely with esteemed faculty members from UT Health San Antonio who will serve as their mentors. Admission to the SUNRISE program is competitive, and it is open exclusively to full-time undergraduate nursing students enrolled in the traditional track of the UT Health San Antonio BSN Program.</p>

<p>Participants in SUNRISE will benefit from one-on-one mentorship with faculty members who have well-established research expertise. We strongly encourage students to explore potential mentors, review their recent publications, and delve into their ongoing research projects. You can find detailed profiles of our faculty members by referring to the faculty directory.</p>

<p>Aside from conducting cutting edge research, students engaged in the SUNRISE program will be given the opportunity to represent the School of Nursing at UT Health San Antonio through various venues, including, campus visits, advocacy programs, and at conference presentations.</p>
        </div>
      </li></ul></main>

        <aside class="cell large-4 medium-4 small-12">
            <h4>Next Years Application cycle will be:</h4>
            <p>March 17th: Application deadline<br>
March 31st: Notice of acceptance<br>
May 30th – June 2nd: Orientation<br>
June 5th – July 26th: Research Experience</p>
<h4>Important Dates:</h4>
<p>March 15: Application deadline<br>
March 29: Notice of acceptance<br>
May 27-31: Orientation<br>
June 3 – July 26th: Research Experience</p>
        </aside>
    </div>
    </div></div>
</section>
<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-4 medium-4 small-12">
                <h2>Selection Criteria</h2>
                <ul>
                    <li>Selection Criteria;</li>
                    <li>Likelihood for success;</li>
                    <li>Status representative of the nursing school population;</li>
                    <li>Fifteen research slots are available.</li>
                </ul>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Curriculum</h2>
                <ul>
                    <li>Apprenticeship model;</li>
                    <li>Observe mentor's research program, learn data collection, lab techniques, attend PI's lab meetings;</li>
                    <li>Journal Club/Journaling Experiences;</li>
                    <li>Poster presentation at national conference.</li>
                </ul>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Mentoring</h2>
                <ul>
                    <li>Principal investigator, graduate students, and peers;</li>
                    <li>Guidance from the Director of SUNRISE, Office of Admissions and Student Success, Student Success Center;</li>
                    <li>Exit interview to improve the SUNRISE program.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell large-7 medium-7 small-12">
                <h2>Institutional Resources</h2>
                <div class="arrow">
                    <ul>
                        <li><a href="#">The Office of Postdoctoral Affairs</a>maintains a curated list of training grants, funding opportunities, open postdoctoral positions, and career development opportunities for early career investigators.</li>
                        <li><a href="#">PhD in Nursing Science</a>, for those interested in Learning about our PhD program.</li>
                        <li><a href="#">F-Troop</a> provides ands-on writing workshop that targets pre- and postdoctoral trainees who are preparing an application for a fellowship award.</li>
                        <li><a href="#">Max and Minnie Tomerlin Voelcker Fund Biomedical Research Academy</a> seeking the very best rising high school Sophomores (current Freshman in 2023-2024 school year) to partner with outstanding biomedical scientists from UT Health San Antonio to promote excellence in scholarship and biomedical research training for a 3-year period.</li>
                    </ul>
                </div>
            </div>
            <div class="cell large-5 medium-5 small-12">
                <img src="../../images/son-smart/uthealth_flag.jpg" alt="UTHSA Flags">
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-5 medium-5 small-12">
                <img src="../../images/son-smart/AAB-1.jpg" alt="AAB">
            </div>
            <div class="cell large-7 medium-7 small-12">
              <h2>Funding Resources</h2>
              <strong>State Programs</strong>
              <div class="arrow">
               <ul><li><a>Cancer Prevention & Research Institute of Texas</a></li></ul></div>
               <strong>Foundations</strong>
               <div class="arrow">
               <ul><li><a>Robert Wood Johnson Foundation</a></li>
               <li><a>Arnold Ventures</a></li>
               <li><a>The Commonwealth Fund</a></li>
               </ul></div>
               <strong>UT Health San Antonio</strong>
               <div class="arrow"><ul><li><a>UT Health San Antonio</a></li>
               <li><a>Limited Submissions</a></li></ul></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}