{% include "@components/header-prototypes/header-tcmhcc.twig" %}
<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
                <h1>YAM</h1>
                <p>Lateen sail measured fer yer chains Letter of Marque jury mast Jolly Roger loot rum hail-shot
                    pressgang dance the hempen jig. Sail ho yard execution dock Letter of Marque cutlass keel flogging
                    hardtack scuttle Blimey. Bilge rat yardarm Jack Tar fluke provost loaded to the gunwalls fire in the
                    hole crack Jennys tea cup Blimey overhaul. </p>

            </div>
            <div class="cell small-12 medium-5 large-5 align-self-middle">
                <img src="https://placedog.net/450/300" alt="adorable pup">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tcmhcc.twig" %}

<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-middle">
            <main class="cell medium-8 small-12">
                <h2 class="h3">Youth Aware of Mental Health</h2>
                <p>Red ensign man-of-war barkadeer topgallant hogshead draft overhaul doubloon draught dead men tell no
                    tales. Overhaul yard mizzen lanyard lass Blimey landlubber or just lubber dance the hempen jig
                    bilged on her anchor come about. Sail ho lad Privateer mizzen Buccaneer rum fore maroon coffer
                    lateen sail.
                </p>

                <p>Execution dock deadlights Arr line red ensign long boat galleon handsomely Sink me mutiny. Bilged on
                    her anchor blow the man down spike handsomely crack Jennys tea cup swab avast transom Jack Ketch
                    cog. Gunwalls Pieces of Eight fire ship chandler mizzenmast crack Jennys tea cup Admiral of the
                    Black stern loot lateen sail.</p>

                <p><a class="button">Our Team</a></p>

            </main>

            <aside class="cell small-12 medium-5 large-4">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-beige rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">65</p>
                <p>School Districts</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">294k</p>
                <p>Covered Lives</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-school fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">560</p>
                <p>Campuses</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-4 large-2">
                <img src="https://placedog.net/300/400" alt="doggy">
            </div>
            <div class="cell small-12 medium-6 large-8">
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text, and typically
                        distinguished visually using indentation and a different typeface or smaller size quotation.
                        Blockquotes have no margin/padding of their own and should be placed within another element like
                        a bleed.</p>
                    <cite>This dog, a good boy</cite>
                    <p><a href="#" class="arrow">I even have a link!</a></p>
                </blockquote>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}