{% include "@components/header-prototypes/header-tcmhcc.twig" %}
<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
                <h1>YAM</h1>
                <p class="subheader">Youth Aware of Mental Health</p>
                <p>YAM is an opportunity to provide a mental health curriculum in the school environment. YAM encourages
                    resiliency, curiosity, collaboration, and creates a space of non-judgment for students </p>

            </div>
            <div class="cell small-12 medium-5 large-5 align-self-middle">
                <img src="https://placedog.net/450/300" alt="adorable pup">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tcmhcc.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}


<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-middle">
            <main class="cell medium-8 small-12">
                <p><a href="www.y-a-m.org">Youth Aware of Mental Health</a> is a FREE, TEA approved, 5-session
                    research-based
                    program promoting increased knowledge and awareness of mental health in adolescents ages 13 through
                    17. Students build problem-solving skills and emotional intelligence through lectures, discussions,
                    and role plays.
                </p>

                <p>YAM focuses on six main themes:</p>
                <ol>
                    <li>What is Mental Health?</li>
                    <li>Self-Help Advice</li>
                    <li>Stress and Crisis</li>
                    <li>Depression and Suicidal Thoughts</li>
                    <li>Helping a Friend in Need</li>
                    <li>Who Can I Ask for Advice?</li>
                </ol>

                <p>When compared to other similar interventions, YAM is proven to be more effective in improving
                    adolescent mental health and is associated with significant reductions in suicide attempts and
                    severe suicidal ideation.</p>

            </main>

            <aside class="cell small-12 medium-5 large-4">
                <div class="callout outline">
                    <h2 class="h4 text-center">Contact Us</h2>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">email@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">###-###-####</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">Facebook Page</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i></span>
                                </span> <span class="">@twitter_handle</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-beige rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">22</p>
                <p>Partnered Districts</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-school fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">9</p>
                <p>Schools Served</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">1520</p>
                <p>Students Trained</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-6">
                <img src="../../images/tcmhcc/yam-teens.png" alt="A group of teens looking happy">
            </div>
            <div class="cell small-12 medium-6">
                <h2 class="h3">Why YAM</h2>
                <ul>
                    <li>YAM is an opportunity to provide a mental health curriculum in the school environment. Just as
                        we provide physical health curriculum during the school day, this is an opportunity to implement
                        an emotional fitness class.</li>
                    <li>YAM encourages resiliency, curiosity, collaboration, and creates a space of non-judgment for
                        students that is unlike other mental health education programs.</li>
                    <li>YAM takes a proactive, universal approach to mental health by giving all students the skills
                        they may need to manage a mental health crisis before it occurs.</li>
                </ul>

                <div class="button-group">
                    <p><a class="button arrow">About YAM</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <a class="callout color blue cell small-12 medium-4">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                </span>
                <h3>FAQs</h3>
            </a>
            <a class="callout color blue cell small-12 medium-4">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Resources</h3>
            </a>
            <a class="callout color blue cell small-12 medium-4">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Meet our Team</h3>
            </a>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}