{% include "@components/header-prototypes/header-VPR.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>Office of the Vice President for Research</h1>
                <p>UT Health San Antonio provides researchers with access to resources and facilities with advanced
                    technologies that support projects from beginning to end.</p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-VPR.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x margin-bottom text-center align-center">
            <div class="cell small-12 medium-9">
                <h2>Research and Discovery</h2>
                <p>The Office of the Vice President for Research provides access to resources and services to support
                    researchers throughout the conduct of research and discovery. Our aim is to foster a research
                    culture that drives innovation, collaboration and recognition of our researchers.</p>

                <p><a href="#" class="button ghost">Our Research Lifecycle</a></p>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 flex-container">
                <div class="callout nested flex-child-auto">
                    <h3 class="h5">Leading the Field</h3>
                    <p>Our researchers conduct basic research with the goal of taking their research through the
                        translational process and putting discoveries into practice. In many cases, research is
                        disseminated into clinical studies on diseases, disorders and conditions to improve the health
                        and wellness of a range of patient populations, including historically underrepresented Hispanic
                        minorities.</p>

                    <div class="arrow">
                        <ul>
                            <li><a>Find A Study</a></li>
                            <li><a>Our Researchers</a></li>
                            <li><a>Research Areas</a></li>
                            <li><a>Research Highlights</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cell small-12 medium-6 flex-container">
                <div class="callout nested flex-child-auto">
                    <h3 class="h5">Promoting Collaboration</h5>
                        <p>UT Health San Antonio promotes collaboration in research through interdisciplinary resources
                            and our institutes and centers. Learn more about our collaboration opportunities by
                            contacting the Office of the Vice President for Research at <a>vpr@uthscsa.edu</a>.</p>

                        <div class="arrow">
                            <ul>
                                <li><a>Collaborations</a></li>
                                <li><a>Clinical Trials</a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed light-beige rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-5x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                </span>
                <p class="h2">$205M</p>
                <p>Research Expenditures in 2021</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-5x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
                </span>
                <p class="h2">356</p>
                <p>Faculty with Extramural Grants in 2021</p>
            </div>
            <div class="cell small-12 medium-4">
                <span class="fa-stack fa-5x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-award fa-stack-1x fa-inverse"></i>
                </span>
                <p class="h2">$143.9M</p>
                <p>Organized Research Awards All Sponsors in 2021</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-6 large-6 small-order-2 large-order-1">
                <img src="../../images/adorable-corgi.jpg" alt="adorable corgi">
            </div>
            <div class="cell medium-6 large-6 small-order-1 large-order-2">
                <h2 class="h4">Our Leadership Team</h2>
                <p>The Office of the Vice President for Research provides resources and infrastructure for research
                    conducted across UT Health San Antonio, UT System and other research partners.</p>

                <p><a href="#" class="button">VPR Leadership</a></p>
            </div>
        </div>
    </div>
</section>



<section class="bleed beige ">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">News</h2>
                    <div class="lines">
                        <ul>
                            <li><a href="#">Management of dental trauma in a primary care setting</a></li>
                            <li><a href="#">Tooth-surface-specific effects of xylitol: Randomized trial results</a></li>
                            <li><a href="#">San Antonio Magazine: 100 Black Men of SA are changing lives, one mentorship
                                    at a time</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="#" class="button ghost">View All News</a></p>
                </div>
            </div>
            <div class="small-12 medium-6 light-beige callout cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">Events</h2>
                    <div class="lines">
                        <ul>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="#">
                                        <div class="datebox">
                                            <div class="month">dec</div>
                                            <div class="day">10</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="#">James P. Hollers Memorial Lectureship</a>
                                </div>
                            </li>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="#">
                                        <div class="datebox">
                                            <div class="month">dec</div>
                                            <div class="day">11</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="#">Networking and Job Fair</a>
                                </div>
                            </li>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="#">
                                        <div class="datebox">
                                            <div class="month">jan</div>
                                            <div class="day">15</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="#">Welcome to the Profession - DS1s</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="#" class="button ghost">View All Events</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% include "@blocks/footer/no-alamo.twig" %}