{% include "@components/header-prototypes/header-tcmhcc.twig" %}
{% include "@components/navigation-prototypes/navbar-tcmhcc-2.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-7 large-8 cell">

                <h1>Partnered School Districts</h1>
                <p class="margin-bottom">Handsomely holystone ahoy gunwalls man-of-war rope's end code of conduct crimp
                    gibbet quarterdeck. Rope's end yo-ho-ho American Main Gold Road topmast pirate hail-shot chantey to
                    go on account grog blossom. Keel hearties American Main Gold Road quarterdeck rope's end lee
                    doubloon jury mast reef. </p>

                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 medium-6">
                        <ul>
                            <li>ALAMO HEIGHTS ISD</li>
                            <li>AUSTWELL-TIVOLI ISD</li>
                            <li>BEEVILLE ISD</li>
                            <li>BEXAR COUNTY ACADEMY</li>
                            <li>BLOOMINGTON ISD</li>
                            <li>BROOKS ACADEMIES OF TEXAS</li>
                            <li>CENTER POINT ISD</li>
                            <li>CHARLOTTE ISD</li>
                            <li>CHEROKEE ISD</li>
                            <li>COMPASS ROSE PUBLIC SCHOOLS</li>
                            <li>COTULLA ISD</li>
                            <li>CUERO ISD</li>
                            <li>D'HANIS ISD</li>
                            <li>DIVIDE ISD</li>
                            <li>EAST CENTRAL ISD</li>
                            <li>EDGEWOOD ISD</li>
                            <li>FALLS CITY ISD</li>
                            <li>FLORESVILLE ISD</li>
                            <li>GEORGE WEST ISD</li>
                            <li>GOLIAD ISD</li>
                            <li>HARLANDALE ISD</li>
                            <li>HARMONY PUBLIC SCHOOLS - SOUTH TEXAS</li>
                            <li>HARPER ISD</li>
                            <li>HUNT ISD</li>
                            <li>INGRAM ISD</li>
                            <li>JUBILEE ACADEMIES</li>
                            <li>JUDSON ISD</li>
                            <li>KERRVILLE ISD</li>
                            <li>LA PRYOR ISD</li>
                            <li>LA VERNIA ISD</li>
                            <li>LEAKEY ISD</li>
                            <li>LYTLE ISD</li>
                            <li>MARION ISD</li>

                        </ul>
                    </div>

                    <div class="cell small-12 medium-6">
                        <ul>
                            <li>MENARD ISD</li>
                            <li>MEYERSVILLE ISD</li>
                            <li>NAVARRO ISD</li>
                            <li>NEW FRONTEIRS CHARTER SCHOOL</li>
                            <li>NIXON-SMILEY CISD</li>
                            <li>NORTH EAST ISD</li>
                            <li>NORTHSIDE ISD 2 schools only (Michael/Fisher)</li>
                            <li>NURSERY ISD</li>
                            <li>PAWNEE ISD</li>
                            <li>PLEASANTON ISD</li>
                            <li>POTEET ISD</li>
                            <li>POTH ISD</li>
                            <li>PROMESA ACADEMY CHARTER SCHOOL</li>
                            <li>REFUGIO ISD</li>
                            <li>ROCHELLE ISD</li>
                            <li>ROCKSPRINGS ISD</li>
                            <li>RUNGE ISD</li>
                            <li>SABINAL ISD</li>
                            <li>SAN ANTONIO ISD</li>
                            <li>SAN SABA ISD</li>
                            <li>SCHERTZ-CIBOLO-U CITY ISD</li>
                            <li>SEGUIN ISD</li>
                            <li>SOMERSET ISD</li>
                            <li>SONORA ISD</li>
                            <li>SOUTH SAN ANTONIO ISD</li>
                            <li>SOUTHSIDE ISD</li>
                            <li>SOUTHWEST ISD</li>
                            <li>STOCKDALE ISD</li>
                            <li>UVALDE CISD</li>
                            <li>VICTORIA ISD</li>
                            <li>WOODSBORO ISD</li>
                            <li>YOAKUM ISD</li>
                        </ul>
                    </div>

                </div>
            </main>

            <aside class="cell small-12 medium-5 large-4">


            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tcmhcc-footer.twig" %}