{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero full bleed img-fill">
    <img src="https://placedog.net/1500/750" alt="">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-6 large-6 cell callout">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Fruitcake chupa chups sweet pudding cookie bonbon. Pie donut jelly croissant carrot cake. Tart marzipan fruitcake tart danish carrot cake. Cake sugar plum soufflé cheesecake jelly beans danish candy canes cheesecake. </p>
                <p><a class="button">About us</a></p>

            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-6 medium-6 small-12">
            <h2>Our Research</h3>
            <p>Our researchers conduct basic research with the goal of taking their research through the translational process and putting discoveries into practice. In many cases, research is disseminated into clinical studies on diseases, disorders and conditions to improve the health and wellness of a range of patient populations, including historically underrepresented Hispanic minorities.</p>
            <p><a class="button">Research highlights</a></p>
        </div>
        <div class="cell large-6 medium-6 small-12">
            <a class="card beige cell small-12 medium-6">
                <div class="align-middle grid-x grid-margin-x">
                    <div class="cell small-5">
                        <img src="https://picsum.photos/534/300">
                    </div>
                    <div class="small-5 cell">
                        <h5>Institutes & Centers</h5>
                    </div>
                </div>
            </a>

            <a class="card beige cell small-12 medium-6">
                <div class="align-middle grid-x grid-margin-x">
                    <div class="cell small-5">
                        <img src="https://picsum.photos/534/300">
                    </div>
                    <div class="small-5 cell">
                        <h5>Areas of Excellence</h5>
                    </div>
                </div>
            </a>

            <a class="card beige cell small-12 medium-6">
                <div class="align-middle grid-x grid-margin-x">
                    <div class="cell small-5">
                        <img src="https://picsum.photos/534/300">
                    </div>
                    <div class="small-5 cell">
                        <h5>Our Schools</h5>
                    </div>
                </div>
            </a>

        </div>

    </div>
</section>


<section class="bleed color orange noise">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            
			<div class="cells large-4 medium-4 small-12">
				<p class="supersize">$360M</p>
				<p>in total sponsored program award and research activity (FY22)</p>
			</div>
            
			<div class="cells large-4 medium-4 small-12">
				<p class="supersize">Top 3%</p>
				<p>rank worldwide for all organizations that receive National Institutes of Health funding.</p>
			</div>
            <div class="cells large-4 medium-4 small-12">
				<p class="supersize">1700+</p>
				<p>ongoing research studies that involve humans, including 450 clinical trials. </p>
			</div>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-12 medium-12 small-12 text-center">
            <h2>Highlights</h2>
        </div>
        <div class="cell large-3 medium-6 small-12">
            <a href="https://news.uthscsa.edu/the-university-of-texas-health-science-center-at-san-antonio-among-top-ranking-academic-research-medical-centers-in-latest-blue-ridge-institute-report/">
                <img src="https://uthscsa.edu/sites/default/files/2024-03/uthealthsanantonioLSOM500.jpg" alt="">
            
                <h3 class="h5">University among top-ranking academic research medical centers</h3>
            </a>
            <p>The University of Texas Health Science Center at San Antonio received $131.5 million in National Institutes of Health funding in federal fiscal year 2023, according to the Blue Ridge Institute for Medical Research. The university ranked No. 72 out of the 2,886 public and private institutions that received NIH funding in federal fiscal year 2023, an increase in NIH funding of 31% over the previous fiscal year.</p>
            
        </div>
        <div class="cell large-3 medium-6 small-12">
            <a href="#">
                <img src="https://uthscsa.edu/sites/default/files/2024-03/CPRIT%20image.jpg" alt="">
                <h3 class="h5">CPRIT awards approximately $16.4 million to advance children’s cancer research and attract top researchers to South Texas</h3>
            </a>
            <p>The University of Texas Health Science Center at San Antonio (UT Health San Antonio) has secured approximately $16.4 million in funding from the Cancer Prevention and Research Institute of Texas (CPRIT) since last August, which will be utilized to help advance research into cancers that affect children and adolescents as well as bring three noted cancer researchers to the institution.</p>
            
        </div>
        <div class="cell large-3 medium-6 small-12">
            <a href="https://news.uthscsa.edu/pre-diabetes-gets-its-due-new-1-2-million-award-aimed-at-early-intervention-and-treatment-2/">
                <img src="https://uthscsa.edu/sites/default/files/2024-03/UT-Health-San-Antonio_Carolina-Solis-Herrera_2_low-res-002.jpg_resize-1920x1280-1-850x567.jpg" alt="">
            
                <h3 class="h5">Pre-diabetes gets its due: New $1.2 million award aimed at early intervention and treatment</h3>
            </a>
            <p>Carolina Solis-Herrera, MD, a physician-scientist, associate professor and chief of endocrinology at The University of Texas Health Science Center at San Antonio (UT Health San Antonio) has received a first-of-its-kind, $1.2 million award from Baptist Health Foundation of San Antonio to implement early intervention measures for the condition. </p>
            
        </div>
        <div class="cell large-3 medium-6 small-12">
            <a href="Thinning of brain region may signal dementia risk 5-10 years before symptoms">
                <img src="https://uthscsa.edu/sites/default/files/2024-03/iStock-514854534.jpg" alt="">
                <h3 class="h5">Thinning of brain region may signal dementia risk 5-10 years before symptoms</h3>
            </a>
            <p>The University of Texas Health Science Center at San Antonio researchers, working with colleagues from The University of California, Davis, and Boston University, conducted an MRI brain imaging study published in Alzheimer’s & Dementia: The Journal of the Alzheimer’s Association.</p>
            
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class="small-12 medium-6 callout white cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">News</h2>
                    <div class="lines">
                        <ul>
                            <li><a href="https://news.uthscsa.edu/luan-receives-100000-ut-system-rising-stars-award-to-research-pediatric-blood-cancers-among-hispanics/">Luan receives $100,000 UT System Rising STARs award to research pediatric blood cancers among Hispanics</a></li>
                            <li><a href="https://news.uthscsa.edu/hundreds-of-health-science-students-celebrated-for-their-achievements/">Hundreds of students celebrated for their achievements</a></li>
                            <li><a href="https://news.uthscsa.edu/a-long-term-ketogenic-diet-accumulates-aged-cells-in-normal-tissues-a-ut-health-san-antonio-led-study-shows-2/">A long-term ketogenic diet accumulates aged cells in normal tissues, a UT Health San Antonio-led study shows</a></li>
                            <li><a href="https://news.uthscsa.edu/the-university-of-texas-health-science-center-at-san-antonio-receives-1-5-million-to-advance-cancer-and-alzheimers-research/">UT Health Science Center San Antonio receives $1.5 million to advance cancer and Alzheimer’s research</a></li>
                            <li><a href="https://news.uthscsa.edu/ut-health-san-antonio-to-lead-11-million-nih-funded-study-of-a-first-ever-oral-chlamydia-vaccine-2/">UT Health San Antonio to lead $11 million, NIH-funded study of a first-ever oral chlamydia vaccine</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="https://news.uthscsa.edu/category/research/" class="button ghost">View All News</a></p>
                </div>
            </div>
            <div class="small-12 medium-6 callout white cell flex-container flex-dir-column">
                <div class="flex-child-auto">
                    <h2 class="text-center">Events</h2>
                    <!--<div class="lines">
                        <ul>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="https://events.uthscsa.edu/event/statewide-dental-opioid-summit">
                                        <div class="datebox">
                                            <div class="month">may</div>
                                            <div class="day">31</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="https://events.uthscsa.edu/event/statewide-dental-opioid-summit">Statewide Dental Opioid Summit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                            </li>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="https://events.uthscsa.edu/event/9th-annual-neonatal-abstinence-syndrome-symposium-8483">
                                        <div class="datebox">
                                            <div class="month">jun</div>
                                            <div class="day">2</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="https://events.uthscsa.edu/event/9th-annual-neonatal-abstinence-syndrome-symposium-8483">9th Annual Neonatal Abstinence Syndrome Symposium</a>
                                </div>
                            </li>
                            <li class="flex-container flex-dir-row align-middle">
                                <div class="flex-child-auto">
                                    <a href="https://events.uthscsa.edu/event/introduction-to-research-electronic-data-capture-redcap-5584">
                                        <div class="datebox">
                                            <div class="month">jun</div>
                                            <div class="day">5</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-child-auto">
                                    <a href="https://events.uthscsa.edu/event/introduction-to-research-electronic-data-capture-redcap-5584">Introduction to Research Electronic Data Capture - REDCap</a>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                    {% include "@blocks/feeds/events-vertical.twig" %}
                </div>
                <div class="flex-child-shrink">
                    <p class="text-center"><a href="https://events.uthscsa.edu/search/events?event_types%5B%5D=37944812569487" class="button ghost">View All Events</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed color dark-grey">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-3 medium-3 small-12 text-center">
            <i class="fas fa-heart fa-10x"></i>
        </div>
        <div class="cell large-9 medium-9 small-12">
            <h2>Help advance treatment as a healthy volunteer</h2>
            <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments. Take action today; volunteer and play a role in finding a cure. </p>
            <p><a class="button ghost">Learn more about clinical trials</a></p>
        </div> 
    </div>
  </div>
</section>



<section class="bleed white">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 medium-8 small-12">
                <h2>Featured Spotlight</h2>
                <p>Space to feature a researcher, lab, institute/center, etc... This can either be curated by editor OR can be autorotating from a pool of features.</p>
                <p>Icing cotton candy sugar plum sweet roll donut donut lollipop tiramisu. Pie danish cotton candy dessert tart brownie carrot cake bear claw cotton candy.</p>
                <p><a href="#" class="button ghost">Related Link</a></p>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <img src="https://placedog.net/410/250" alt="">
            </div>
        </div>
    </div>
</section>


{% include "@components/footer-prototypes/VPResearch-footer.twig" %}
