{% include "@components/quicklinks/quicklinks-students.twig" %}
<header class="title-bar" data-responsive-toggle="header">
    <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
    <button class="menu-icon" type="button" data-toggle="header">Menu</button>
</header>
<header class="off-canvas-content super-hero" id="header" data-off-canvas-content>
    <div class="group">
        <div class="logo">
            <a href="#"><img src="../../images/UTHSA_logo.svg" alt="UT Health San Antonio Student Services"></a>
        </div>
        <div class="right">
            <div class="circle-icons">
                <a href="#">
                    <span class="fa-stack outline">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hand-holding-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Financial Aid</span>
                </a>
                <a href="#">
                    <span class="fa-stack outline">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Transcripts</span>
                </a>
                <a href="#" data-toggle="offCanvasRight">
                    <span class="fa-stack outline">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Search/Quicklinks</span>
                </a>
            </div>
        </div>
    </div>
    <nav class="nav-bar" id="nav-bar-mobile">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Academic Programs</a></li>
                    <li><a href="#">Registrar</a></li>
                    <li><a href="#">Student Life</a></li>
                    <li><a href="#">Counseling</a></li>
                    <li><a href="#">Veterans</a></li>
                    <li><a href="#">Title IX</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>