{% include "@components/header-prototypes/header-facility-space.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Space Policies & Forms</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-facility-space.twig" %}

<section>
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <main class="cell small-12 medium-7 large-8">
                <p>All Health Science Center Space is owned by the President, who in turn, loans space to individual
                    Schools, Departments and Centers for appropriate assignment. The President can, at any time,
                    recapture underutilized space for reassignment in order to meet the changing goals of the
                    Institution.</p>

                <h2 class="h3 color">Requests for new space</h2>

                <p>All requests for new space must be made using the Space Request Form.
                    After receiving approval from the respective Department Chair, Dean and/or Vice President, completed
                    forms are to be submitted to the
                    Senior Director of Facility Space Planning and Real Estate. Requests will be reviewed by the
                    Executive Council on Space Management, for
                    recommendation to the President. See <a href="http://www.uthscsa.edu/hop2000/9.1.1.pdf"
                        target="resource">HOP Section 9.1.1 for details</a>.</p>

                <p>Research space utilization will be monitored in accordance with the Research Space Allocation Policy,
                    see <a href="http://www.uthscsa.edu/hop2000/7.8.1.pdf">Section 7.8.1 of the HOP</a>.</p>

                <div class="callout beige loose-list margin-top">
                    <h3 class="h4">Forms</h3>
                    <ul class="no-bullet">
                        <li><a class="file">Space Request Form</a></li>
                        <li><a class="file">Executive Council on Space Management</a></li>
                        <li><a class="file">Research Space Allocation Policy</a></li>
                    </ul>
                </div>
            </main>
            <aside class="cell small-12 medium-5 large-4">

                <a class="callout color grey flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file-signature fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Leasing Policies & Forms</h3>
                </a>

                <div class="callout outline">
                    <h3 class="h4">Contact Us</h3>

                    <p><strong>Leigh Ann Kensky</strong><br>
                        Senior Director of Facility Space Planning
                        And Real Estate<br>
                        <a>Kensky@uthscsa.edu</a><br>
                        210-567-7054</p>

                    <p><strong>Joseph Tolentino</strong><br>
                        Facilities Planning Analyst<br>
                        <a>tolentinoj@uthscsa.edu</a><br>
                        210-567-0525</p>

                </div>
            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/facility-space-footer.twig" %}