<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Plan & Design</a></li>
                <li><a href="#">Collect & Create</a></li>
                <li><a href="#">Analyze, Process & Store</a></li>
                <li><a href="#">Evaluate & Archive</a></li>
                <li><a href="#">Share & Publish</a></li>
            </ul>
        </div>
    </div>
</nav>