{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-3.twig" %}
<nav aria-label="You are here:" role="navigation">
	<ul class="breadcrumbs">
		<li><a href="#">Grand Rounds</a></li>
		<li>
			<span class="show-for-sr">Current: </span> Iran's Opiate Epidemic: A Lesson for the
			West?
		</li>
	</ul>
</nav>
<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<main class="cell small-12 medium-7 large-8">
				<div class="grid-x">
					<h1>
						Iran's Opiate Epidemic: A Lesson for the West?
					</h1>
				</div>
				<div class="grid-x margin-bottom">
					<div class="cell small-12 medium-6 large-6">
						<div>
							<ul class="no-bullet">
								<li class="black"> Date & Time</li>
								<li>March 2, 2021</li>
								<li>7:00 AM - 8:00 AM</li>
							</ul>
						</div>
					</div>
					<div class="cell small-12 medium-6 large-6">
						<div>
							<ul class="no-bullet">
								<li class="black"> Location</li>
								<li> DEM Lecture Hall</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="grid-x margin-bottom">
					<div class="cell medium-12 large-6">
						<p>
							<span class="black"> Speaker</span><br>

							Amir A. Afkhami, M.D., Ph.D., DFAPA<br>
							Associate Professor of Psychiatry<br>
							Director of Preclinical Education<br>

							George Washington University<br>
							Washington, DC<br>
							<a class="arrow">Profile</a></p>

					</div>
					<div class="cell medium-12 large-6">
						<div>
							<ul class="no-bullet">
								<li class="black"> Credits Offered</li>
								<li>AMA PRA Category 1 Credit - 1.00</li>
								<li>Certificate of Attendance - 1.00</li>
							</ul>
						</div>

						<div class="button-group">
							<a href="#" class="button">Register</a>
							<a href="#" class="button ghost">Add to Calendar</a>
						</div>
					</div>
				</div>

				<h2>Additional Information</h2>
				<p>
					Tea garden pu'erh black tea baihao yinzhen infuser rose hips nepal chamomile energy. Boba tea
					time yerba maté kombucha loose leaf baihao yinzhen nokcha keemun turmeric earl grey caffeine.
					Zen fermentation baihao yinzhen zen scented turmeric. Infuser camellia sinensis pu'erh gyokuro
					zen tea garden black mint nilgiri turmeric iced kukicha fermentation black london fog. Bamboo
					whisk teahouse genmai sencha focus loose leaf tea time caffeine london fog bamboo whisk infuser.
					Tea garden pu'erh black tea baihao yinzhen infuser rose hips nepal chamomile energy. Boba tea
					time yerba maté kombucha loose leaf baihao yinzhen nokcha keemun turmeric earl grey caffeine.
				</p>
			</main>
			<aside class="cell medium-5 large-4">
				<div class="text-center">
					<img src="https://placedog.net/326/485" alt="adorable pup">
					<p>Amir A. Afkhami, M.D., Ph.D., DFAPA</p>
				</div>
				<div class="callout contact outline">
					<h3>Contact Us</h3>
					<div>
						<ul class="no-bullet">
							<li>UT Health San Antonio</li>
							<li>7703 Floyd curl Drive, MC 7816</li>
							<li>San Antonio, TX 78229</li>
						</ul>

					</div>
					<div>
						<ul class="fa-ul stacked">
							<li>
								<a>
									<span class="fa-li">
										<span class="fa-stack">
											<i class="fas fa-circle fa-stack-2x"></i>
											<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
										</span>
									</span>
									<span class="">@uthscsa.edu </span>
								</a>
							</li>
							<li>
								<a>
									<span class="fa-li">
										<span class="fa-stack">
											<i class="fas fa-circle fa-stack-2x"></i>
											<i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
										</span>
									</span> <span class="">###-###-#### </span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</aside>
		</div>
	</div>
</section>
{% include "@blocks/footer/alamo.twig" %}