{% include "@blocks/header/global-bar-quicklinks.twig" %}
{% include "@blocks/header/level-2.twig" %}
<section class="hero bleed img-fill full">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout grey">
                <h1>A Holistic Health Approach</h1>
                <p>Wellness 360 offers primary and pediatric care and specialized care such as immunizations and
                    wellness care. We are located at UT Health San Antonio in the School of Nursing building. Same-day
                    appointments are often available.</p>
                <a href="#" class="button">Meet Our Team</a>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-10">
                <h2 class="text-center">Convenient Primary Care</h2>
                <p class="text-center">Wellness 360 provides primary care for adult and pediatric patients, as well as
                    other
                    specialized care such as behavioral health, nutrition counseling and occupational health for
                    employees,
                    students and local families.</p>
                <p class="text-center">Same-day appointments are often available.</p>
                <p class="text-center"><a href="#" class="button ghost">Our Services</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-8">
                <h3>Most Insurances Accepted</h3>
                <p>We accept most insurances, including Medicare. UT Select members pay $20 co-pay if we serve as your
                    designated primary care provider. We welcome all of our employees and their children for
                    easy-to-access services, and we provide free parking in Lot 5 on the Long Campus for added
                    convenience.</p>
            </div>
            <div class="sell small-12 medium-2">
                <i class="fas fa-file-medical-alt fa-10x"></i>
            </div>
        </div>
    </div>
</section>
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-6">
            <img src="http://placekitten.com/690/400" alt="map screenshot">
        </div>
        <div class="cell small-12 medium-6">
            <h3>Location and Hours</h3>
            <p>We are located in the School of Nursing on the Long Campus of UT Health San Antonio.</p>
            <p>Our Hours are 8-5 Monday through Friday. Walk-ins are welcome; appointments are preferred.</p>
        </div>
    </div>
</section>
<section class="bleed beige">
    {% include "@components/blockquotes/blockquote.twig" %}
</section>
{% include "@blocks/footer/no-alamo.twig" %}