{% include "@components/quicklinks/quicklinks-basic.twig" %}
<header class="title-bar" data-responsive-toggle="header">
    <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
    <button class="menu-icon" type="button" data-toggle="header">Menu</button>
</header>
<header class="off-canvas-content" id="header" data-off-canvas-content>
    <div class="group">
        <div class="logo pipe">
            <a href="#"><img src="../../images/Logo-LSOM.svg" alt="UT Health San Antonio Long School of Medicine"></a>

            <p>Lab Shell</p>
        </div>
    </div>
    <nav class="nav-bar" id="nav-bar-mobile">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Meet the Team</a></li>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>