{% include "@components/header v2/header-mission.twig" %}


<section class="hero gradient white left bleed img-fill">
	<img src="../../images/altc.jpg" alt="students in altc courtyard">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
            <div class="cell large-5 medium-5 small-12 callout white">
                    <h1 class="h2">Research at UT Health San Antonio</h1>
                    <p>At UT Health San Antonio we are investing in our priority research areas: aging, cancer, diabetes, immunology & infectious diseases, neurosciences and population health/outcomes research while promoting a culture that values research, collaboration and innovation.</p>
            </div>
        </div>
	</div>
</section>
{% include "@components/navigation/navbar-research.twig" %}

<main class="grid-container">
    <section class="grid-x grid-margin-x align-center text-center">
        <div class="cell medium-8 small-12">
            <h2 class="text-center">Research Administration</h2>
            <p>The Office of the Vice President for Research provides access to resources and services to support researchers throughout the conduct of research and discovery. Our aim is to foster a research culture that drives innovation, collaboration and recognition of our researchers</p>
            <a href="#" class="button">Mission & Vision</a>
        </div>
    </section>
</main>
<section class="bleed light-grey noise">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="small-12 medium-5 large-4 cell">
                <img src="https://www.uthscsa.edu/sites/default/files/images/academics_affliated_0.jpg">
            </div>
            <div class="small-12 medium-7 large-8 cell">
            <h2 class="h3">Affiliated Institutions</h2>
            <p>The UT Health Science Center San Antonio is part of a multi-university collaboration to offer a Ph.D. in translational science  — a field that melds basic and clinical research that can then be translated into practical patient care. We partner with the UT Health Science Center Houston School of Public Health to offer a dual-degree M.D. and master’s of public health for our medical school students.</p>
            <p><a class="arrow" href="http://iims.uthscsa.edu/ed_trans_sci_phd.html">Ph.D. in Translational Science</a></p>
            </div>
    </div>
</section>
<section class="bleed color grey">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell small-12 medium-7 large-6">
				<blockquote>
					<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within another element like a bleed.</p>
					<cite>Obi-Wan Kenobi, Jedi Master</cite>
				</blockquote>
			</div>
             <div class="cell small-12 medium-3 large-2">
				<img src="http://placekitten.com/300/400" alt="kitty">
			</div>
		</div>
	</div>
</section>

<section class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-x">
        <section class="cell large-7 small-12 align-self-middle">
            <h2>Happening now at UT Health San Antonio</h2>
            <p>Breakthroughs are happening everyday at UT Health San Antonio. Stay informed on the latest news and events. Marketing copy similar to Cancer Center.</p>
            <p><a class="arrow">Newsroom</a></p>
        </section>
        <aside class="cell large-5 small-12">
            {% include "@components/dates/long-event.twig" %}
            <br>
            {% include "@components/dates/long-event.twig" %}
            <br>
            <p><a class="arrow">All events</a></p>
        </aside>
    </div>
</section>

{% include "@blocks/footer/mission.twig" %}