{% include "@blocks/header/global-bar.twig" %}
<header class="title-bar" data-responsive-toggle="regular">
  <a href="#"><img src="../../images/whiteUTHSA_logo.svg"></a>
  <button class="menu-icon" type="button" data-toggle="regular">Menu</button>
</header>
<header id="regular">
  <div class="group">
      <div class="logo">
          <a href="#"><img src="../../images/UTHSA_logo.svg" alt="UT Health San Antonio"></a>
      </div>
    <div class="right">
      <form class="search">
        <input type="search" class="search-box" placeholder="Search">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>

    </div>
  </div>
</header>

<section class="bleed color orange">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-12">
				<h1>Magazines of UT Health San Antonio</h1>
			</div>
		</div>
	</div>
</section>

<main class="grid-container">
<section class="bleed">
    <section class="grid-x grid-margin-x align-spaced">
        <section class="cell small-12 medium-4 large-2 flex-container flex-dir-column">
          <section class="flex-child-shrink">
           <a href="#">
                <img src="https://magazines.uthscsa.edu/wp-content/uploads/2019/09/Cover-Winter2019-590X750.jpg">
                <h2 class="h4">UT Health San Antonio</h2>
            </a>
            </section>
            <section class="flex-child-grow">
            <p><strong>Mission</strong> is the flagship magazine of The University of Texas Health Science Center at San Antonio. Produced by the Office of Communications, it illuminates the vital and innovative advancements in education, research and healing at the university.</p></section>
            <section class="flex-child-shrink"><p><a href="#" class="button">See the issue</a></p></section>

      </section>


        <section class="cell small-12 medium-4 large-2 flex-container flex-dir-column">
          <section class="flex-child-shrink">
           <a href="#">
                <img src="https://magazines.uthscsa.edu/wp-content/uploads/2019/09/Cover-Winter2019-590X750.jpg">
                <h2 class="h4">IMPACT COVID</h2>
            </a>
             </section>
            <section class="flex-child-grow">
            <p><strong>IMPACT COVID</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></section>
          <section class="flex-child-shrink"><p><a href="#" class="button">See the issue</a></p></section>
         </section>


        <section class="cell small-12 medium-4 large-2 flex-container flex-dir-column">
          <section class="flex-child-shrink">
           <a href="#">
                <img src="https://magazines.uthscsa.edu/wp-content/uploads/2021/09/Tribute2021_cover_image.jpg">
                <h2 class="h4">School of Nursing</h2>
            </a></section>
            <section class="flex-child-grow">
            <p><strong>Tribute</strong> is the official magazine for the alumni and friends of the School of Nursing at The University of Texas Health Science Center at San Antonio. Read and share inspiring stories highlighting our alumni, faculty and students who are revolutionizing education, research, patient care and critical services in the communities they serve.</p></section>
          <section class="flex-child-shrink"><p><a href="#" class="button">See the issue</a></p></section>
        </section>

        <section class="cell small-12 medium-4 large-2 flex-container flex-dir-column">
          <section class="flex-child-shrink">
            <a href="#">
                <img src="https://magazines.uthscsa.edu/wp-content/uploads/2020/12/Salute2020_cover.jpg">
                <h2 class="h4">School of Dentistry</h2>
            </a></section>
            <section class="flex-child-grow">
            <p><strong>Salute</strong> is the official magazine for the alumni and friends of the School of Dentistry at The University of Texas Health Science Center at San Antonio. Read and share inspiring stories highlighting our dental alumni, faculty and students who are revolutionizing education, research, patient care and critical services in the communities they serve.</p></section>
          <section class="flex-child-grow">
            <p><a href="#" class="button">See the issue</a></p>
        </section>
        </section>

        <section class="cell small-12 medium-4 large-2 flex-container flex-dir-column">
          <section class="flex-child-shrink">
            <a href="#">
                <img src="https://magazines.uthscsa.edu/wp-content/uploads/2020/10/Future2020_mag_cover_791_1024.jpg">
                <h2 class="h4">Long School of Medicine</h2>
            </a></section>
          <section class="flex-child-grow">
            <p><strong>Future</strong> is the official magazine of the Joe R. & Teresa Lozano Long School of Medicine at The University of Texas Health Science Center at San Antonio. Read and share inspiring stories highlighting our medical alumni, faculty and students who are revolutionizing education, research, patient care and critical services in the communities they serve.</p></section>

          <p><a href="#" class="button">See the issue</a></p>
        </section>
        </section>

    </section>
  </section>
</main>

<footer>
{% include "@blocks/footer/mission.twig" %}
</footer>