{% include "@components/header-prototypes/header-nathan-shock.twig" %}
<section class="hero full bleed img-fill">
    <img src="../../images/nathan-shock/home-banner.jpeg" alt="adorable pup">
    <div class="grid-container godly">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-6 cell callout">
                <h1 class="h2">San Antonio Nathan Shock Center of Excellence in the Basic Biology of Aging</h1>

            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-nathan-shock.twig" %}
<main>
    <section class="bleed">
        <div class="grid-container roomy">
            <div class="grid-x grid-margin-x">

                <main class="small-12 medium-7 large-8 cell">
                    <h2>What We Do</h2>
                    <p class="bold">Fostering geroscience by delineating the biology of aging to identify novel means to
                        target this process to improve aging health.</p>

                    <p>Since 1995, the San Antonio Nathan Shock Center has been providing core services to meet the
                        current needs of the geroscience community. Directed by leaders and experts in aging research,
                        our cores offer service, expertise, and education in biology of aging and the development of
                        transformative approaches to better understand how to improve health and longevity.</p>

                    <p>We provide leadership in research strategies to advance aging biology. We accelerate
                        transformative research in aging and foster and promote career development of investigators in
                        aging biology. We serve as a resource and partner to all interested in understanding and
                        targeting aging.</p>

                    <p>This center is supported by the National Institute on Aging through award number P30 AG013319.
                    </p>

                </main>
                <aside class="small-12 medium-5 large-4 cell">
                    <a class="callout color orange">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-file-download fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Research Assistance</h3>
                        <p>How NSC can assist in your research efforts</p>
                    </a>
                    <a class="callout color blue">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>Masdoto-Barshop Conferencce</h3>
                        <p>Find more information and register for the 2024 Masoro-Barshop Conference on Aging</p>
                    </a>
                </aside>
            </div>
        </div>
    </section>
    <section class="bleed color dark-grey">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell text-center padding-bottom">
                    <h2>Publications</h2>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="https://picsum.photos/330/220">
                        <div class="card-section">
                            <p>Stand Up to Cancer: Alexander J. R. Bishop, DPhil to Lead One of Three Trans-Atlantic
                                Teams to Study Hard-to-Treat Childhood Cancers</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="https://picsum.photos/330/220">
                        <div class="card-section">
                            <p>Raushan Kurmasheva, Ph.D., Part of Dmitri Ivanov, Ph.D., CPRIT Grant Team “Identifying
                                and Optimizing Small Molecules for Drug Development”</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="https://picsum.photos/330/220">
                        <div class="card-section">
                            <p>Stand Up to Cancer: Alexander J. R. Bishop, DPhil to Lead One of Three Trans-Atlantic
                                Teams to Study Hard-to-Treat Childhood Cancers</p>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-3 cell flex-container">
                    <a class="card cell light-grey flex-child-auto">
                        <img src="https://picsum.photos/330/220">
                        <div class="card-section">
                            <p>Raushan Kurmasheva, Ph.D., Part of Dmitri Ivanov, Ph.D., CPRIT Grant Team “Identifying
                                and Optimizing Small Molecules for Drug Development”</p>
                        </div>
                    </a>
                </div>
                <div class="button-group align-center margin-top">
                    <p><a href="#" class="button">PubMed Research</a></p>
                    <p><a href="#" class="button ghost">Research ChatBot</a></p>
                </div>
            </div>
        </div>
    </section>
    {% include "@blocks/feeds/news-events.twig" %}
</main>
{% include "@blocks/footer/alamo.twig" %}