{% include "@components/header v2/header-OPA.twig" %}
{% include "@components/navigation/navbar-OPA.twig" %}
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="#">Postdoctoral Positions</a></li>
        <li>
            <span class="show-for-sr">Current: </span> Postdoctoral Research Fellow in OMICS/Cancer
        </li>
    </ul>
</nav>

<div class="grid-container">
    <h1>Postdoctoral Research Fellow in OMICS/Cancer</h1>
    <p class="subheader">Greehey Children's Cancer Research Institute</p>
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
          <p class="light">Posted Date: Thursday, August 4, 2022</p>
          <h2 class="color">Position Description</h2>
          <p>The Vaseva and Zheng labs at the Greehey Children’s Cancer Research Institute are seeking a postdoctoral fellow to lead an NCI-funded project. The project will combine omics (RNAseq, DNAseq, proteomics) and experimental approaches to define markers of response and mechanisms of resistance to targeted therapies in pediatric sarcomas. Ideal candidate will be independent, motivated and hard-working. He/she is expected to work closely with the PIs and demonstrate excellent communication and intrapersonal skills.</p>

          <h2 class="color">Position Requirements</h2>
          <p>Qualifications include significant training in bioinformatics, computational biology, or a related discipline; Cancer biology training and experience or willingness to learn and apply wet bench approaches will be preferred.</p>
          <p>Responsibilities include data analysis, algorithm design, reports, and manuscript preparation. The PIs are committed to trainees’ career development and will provide opportunities for the successful candidate to compete for fellowships, high-profile publications, and academic awards. </p>

          <h2 class="color">How to Apply</h2>
          <p>Interested candidates should email their cover letter describing past research experience/skills and future research interests/plans, curriculum vitae, and the contact information of three references to Dr. Angelina Vaseva (<a>vaseva@uthscsa.edu</a>).</p>

          <hr>
          <p><em>All postdoctoral appointments are designated as security sensitive positions. UT Health San Antonio is an Equal Employment Opportunity/Affirmative Action employer including protected veterans and persons with disabilities.</em></p>

        </main>
        <aside class="cell large-4 large-order-2 medium-5 medium-order-2 small-12 small-order-1">
          <div class="callout outline">
            <h2 class="color">Contact</h2>
            <p>Angelina Vaseva<br><a>vaseva@uthscsa.edu</a></p>
            <p class="close"><strong>Deadline to Apply</strong></p>
            <p>Thursday, December 1, 2022</p>
            <p class="close"><strong>Job Number</strong></p>
            <p>246</p>
          </div>
        </aside>
    </div>
</div>

{% include "@blocks/footer/OPA-alamo.twig" %}