{% include "@components/header-prototypes/header-ced.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-8 large-8 cell">
                <h1>Contact Us</h1>
                
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-ced.twig" %}

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <form>
				<label>Name
					<input type="text">
				</label>
				<label>Email
					<input type="text">
				</label>
				<label>Subject
					<input type="text">
				</label>
                <label>
                Message
                <textarea rows="5"></textarea>
                </label>
                <p><a class="button">Submit</a></p>
            </form>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <p>Physical address; email; phone number; any other contact information that needs to be included</p>
        </div>
        

    </div>
</section>





{% include "@components/footer-prototypes/ced-footer.twig" %}
