<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell callout small-12 medium-6 large-4 text-center">
            <div class="grid-y factoids">
                <div class="cell">
                    <h3>Quickfacts</h3>
                </div>
                <div class="cell">
                    <h4>###</h4>
                    <p>This is a quickfact. It is a fact that hits quick.</p>
                </div>
                <div class="cell">
                    <h4>###</h4>
                    <p>This is a quickfact. It is a fact that hits quick.</p>
                </div>
                <div class="cell">
                    <h4>###</h4>
                    <p>This is a quickfact. It is a fact that hits quick.</p>
                </div>
                <div class="cell">
                    <h4>###</h4>
                    <p>This is a quickfact. It is a fact that hits quick.</p>
                </div>
            </div>
        </div>
    </div>
</div>