{% include "@components/header-prototypes/header-bwtx.twig" %}

<section class=" hero  gradient left grey bleed img-fill">
    <img src="../../images/bwtx-clinical.png" alt="Be Well Texas Clinical Trials Logo">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout grey">
                <h1 class="margin-bottom">Clinical Trials</h1>
                <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.
                    Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account
                    lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet
                    transom heave to.</p>

                <p><a href="#" class="button">CTA</a></p>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-bwtx.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="small-12 medium-9 cell margin-bottom">
                <h2 class="text-center">Areas of Study</h2>
            </div>

            <div class="cell small-12 medium-4">
                <!-- <h2 class="h3"><a href="#">Cocaine Use Disorder</a></h2>
                <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable
                    strike colors.</p>-->

                <a class="card light-beige">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <h2 class="h3">Cocaine Use Disorder</h2>
                        <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable
                            strike colors.</p>
                    </div>
                </a>
            </div>
            <div class="cell small-12 medium-4">
                <!--<h2 class="h3"><a href="#">Cannibis Use Disorder</a></h2>
                <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable
                    strike colors.</p>-->

                <a class="card light-beige">
                    <img src="https://picsum.photos/534/300">
                    <div class="card-section">
                        <h2 class="h3">Cannibis Use Disorder</h2>
                        <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable
                            strike colors.</p>
                    </div>
                </a>
            </div>

        </div>

    </div>
</section>

<section class="bleed light-beige rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center">

            <div class="cell small-12 medium-3 large-3">
                <a href="#">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file-contract fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Understanding Clinical Studies</h4>
                </a>
            </div>
            <div class="cell small-12 medium-3 large-3">
                <a href="#">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>What It Means to Participate</h4>
                </a>
            </div>
            <div class="cell small-12 medium-3 large-3">
                <a href="#">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Questions to Ask</h4>
                </a>
            </div>
            <div class="cell small-12 medium-3 large-3">
                <a href="#">
                    <span class="fa-stack fa-5x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-envelope-open-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Being Contacted for Participation</h4>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-6">
                <h2 class="h3">Why volunteer?</h2>
                <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers
                    gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the
                    seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>

                <h2 class="h3">¿Por que voluntario?</h2>
                <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers
                    gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the
                    seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>

            </div>

            <div class="cell small-12 medium-6">
                <div class="responsive-embed margin-bottom">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XAjwsgyX32w"
                        title="Clinical Trials: A Study Coordinator on Recruitment and Pre-Screening" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <!--<div class="cell small-12 medium-5">
            <h2 class="h4 color">In the News</h2>
            <p><a href="https://news4sanantonio.com/news/local/addicted-texas-ut-health-san-antonio-testing-new-treatment-for-meth-addicts"
                    class="no-underline">Addicted
                    Texas: UT Health San Antonio testing new treatment for meth addicts</a></p>
            <div class="responsive-embed">
                <iframe class="margin-bottom"
                    src="http://sinclairstoryline.com/resources/embeds/jw8-embed.html?client=googima&file=https://content.uplynk.com/01c79332f23048a9af0842ae2d784428.m3u8&autostart=false"
                    width="640" height="360" frameborder="0" scrolling="auto" loading="lazy"></iframe>
            </div>
        </div>-->
        </div>
    </div>
</section>

<section class="bleed color grey noise">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-4 large-2">
                <img src="http://placekitten.com/300/400" alt="kitty">
            </div>
            <div class="cell small-12 medium-6 large-8">
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text, and typically
                        distinguished visually using indentation and a different typeface or smaller size quotation.
                        Blockquotes have no margin/padding of their own and should be placed within another element like
                        a bleed.</p>
                    <cite>Obi-Wan Kenobi, Jedi Master</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>




<section class="bleed">
    <div class="grid-container">
        <h2 class="text-center">Participant Stories</h2>
        <div class="grid-x grid-margin-x grid-padding-y small-up-1 large-up-3">
            <a class="card cell color">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Participant Story Heading</h4>
                    <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers
                        gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. </p>
                </div>
            </a>
            <a class="card cell color">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Participant Story Heading</h4>
                    <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers
                        gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. </p>
                </div>
            </a>
            <a class="card cell color">
                <img src="https://picsum.photos/400/250" alt="">
                <div class="card-section">
                    <h4>Participant Story Heading</h4>
                    <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers
                        gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. </p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell small-12 medium-9">
                <h2>For Researchers & Sponsors</h2>
            </div>
            <div class="cell small-12 medium-9">
                <p>Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab
                    barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>

                <div class="button-group align-center">
                    <p><a class="button">For Industry</a></p>
                    <p><a class="button ghost">For Industry</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-5">
                <p class="eyebrow">In the News</p>
                <h3 class="color">Addicted
                    Texas: UT Health San Antonio testing new treatment for meth addicts</h3>
                <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers
                    gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the
                    seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>

                <p><a class="button"
                        href="https://news4sanantonio.com/news/local/addicted-texas-ut-health-san-antonio-testing-new-treatment-for-meth-addicts">Read
                        Full Story</a></p>
            </div>

            <div class="cell small-12 medium-5">
                <div class="responsive-embed">
                    <iframe class="margin-bottom"
                        src="http://sinclairstoryline.com/resources/embeds/jw8-embed.html?client=googima&file=https://content.uplynk.com/01c79332f23048a9af0842ae2d784428.m3u8&autostart=false"
                        width="640" height="360" frameborder="0" scrolling="auto" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>



{% include "@blocks/footer/alamo.twig" %}