{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-3.twig" %}
<section class="hero bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-12 medium-7 cell">
                <h1>Resources</h1>
            </div>
        </div>
    </div>
</section>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2>Faculty</h2>
                <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about
                    log. Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver
                    Jack Tar clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
                <ul class="arrow">
                    <li><a href="#">Item one</a></li>
                    <li><a href="#">A second item</a></li>
                    <li><a href="#">Three's company</a></li>
                    <li><a href="#">Four's a crowd!</a></li>
                </ul>
                <h2>Students</h2>
                <p>Scourge of the seven seas pinnace long boat case shot tack cackle fruit yawl interloper come about
                    log. Carouser spirits Buccaneer clap of thunder quarterdeck wench holystone port warp matey. Driver
                    Jack Tar clap of thunder plunder Brethren of the Coast lass brigantine warp scuttle grapple.</p>
                <ul class="arrow">
                    <li><a href="#">Item one</a></li>
                    <li><a href="#">A second item</a></li>
                    <li><a href="#">Three's company</a></li>
                    <li><a href="#">Four's a crowd!</a></li>
                </ul>
            </main>
            <aside class="small-12 medium-4 cell" role="complementary" aria-labelledby="contact-us">
                <img src="http://placekitten.com/400/300" alt="KITTY" class="margin-bottom">
                <div class="callout outline cell">
                    <h3 id="contact-us">Contact</h3>
                        <p class="close"><strong>Smitty WerbenJagerManJensen</strong><br>
                        Head Office Guy</p>
                        <address>
                            210-867-5309<br>
                            <a href="mailto:smittyj@uthscsa.edu">smittyj@uthscsa.edu</a>
                            </address>
                </div>
            </aside>
        </div>
    </div>
</section>
{% include "@blocks/footer/alamo.twig" %}