<div class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-10 medium-8">
			<blockquote>
				<p>I am a basic quotation. You only need to enclose me in a blockquote container.</p>
				<p>As a text element, though, you should never exceed 10 columns for my width</p>
				<cite>Obi-Wan Kenobi, Jedi Master</cite>
			</blockquote>
		</div>
	</div>
</div>
