{% include "@components/header-prototypes/header-VPResearch.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                <h1>Research at Our Schools</h1>
                <div class="button-group">
                    <p><a class="button">Institutes & Centers</a></p>
                    <p><a class="button">Strategic Focus Areas</a></p>
                    <p><a class="button" href="https://directory.uthscsa.edu/">Faculty Directory</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-VPResearch.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Research at Our Schools
    </li>
  </ul>
</nav>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-6 small-12">
            <a href="https://uthscsa.edu/medicine/research"><img src="https://uthscsa.edu/sites/default/files/2022-02/academics-medicine.jpg"></a>
            <h2 class="h4"><a href="https://uthscsa.edu/medicine/research">Joe R. & Teresa Lozano Long School of Medicine</a></h2>
            <p></p>
        </div>
        <div class="cell large-4 medium-6 small-12">
            <a href="https://uthscsa.edu/dental/research"><img src="https://uthscsa.edu/sites/default/files/2022-02/academics_dental.jpg"></a>
            <h2 class="h4"><a href="https://uthscsa.edu/dental/research">School of Dentistry</a></h2>
            <p></p>
        </div>
        <div class="cell large-4 medium-6 small-12">
            <a href="https://uthscsa.edu/nursing/research"><img src="https://uthscsa.edu/sites/default/files/2022-02/academics_nursing.jpg"></a>
            <h2 class="h4"><a href="https://uthscsa.edu/nursing/research">School of Nursing</a></h2>
            <p></p>
        </div>
        
        <div class="cell large-4 medium-6 small-12">
            <a href="https://uthscsa.edu/health-professions/research"><img src="https://uthscsa.edu/sites/default/files/2022-02/school_of_professions.jpg"></a>
            <h2 class="h4"><a href="https://uthscsa.edu/health-professions/research">School of Health Professions</a></h2>
            <p></p>
        </div>
        <div class="cell large-4 medium-6 small-12">
            <a href="https://uthscsa.edu/biomedical-sciences/research"><img src="https://uthscsa.edu/sites/default/files/2022-02/academics_gradschool.jpg"></a>
            <h2 class="h4"><a href="https://uthscsa.edu/biomedical-sciences/research">Graduate School of Biomedical Sciences</a></h2>
            <p></p>
        </div>
        <div class="cell large-4 medium-6 small-12">
            <a href="https://uthscsa.edu/public-health/research-teams"><img src="../../images/sph.jpg"></a>
            <h2 class="h4"><a href="https://uthscsa.edu/public-health/research-teams">School of Public Health</a></h2>
            <p></p>
        </div>
    </div>


</section>

<section class="bleed color blue">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell large-3 medium-3 small-12 text-center">
            <i class="fas fa-heart fa-10x"></i>
        </div>
        <div class="cell large-9 medium-9 small-12">
            <!--<h2>Help advance treatment as a healthy volunteer</h2>
            <p>Clinical trial participation is an invaluable way to contribute to the pursuit of new treatments. Take action today; volunteer and play a role in finding a cure. </p>
            <p><a class="button ghost">Learn more about clinical trials</a></p>-->
            <h2>Be Part of Our Mission</h2>
            <p>At UT Health San Antonio, we are pioneering the future of healthcare. Join us as we redefine medicine through our groundbreaking research by participating in clinical trials or contributing through giving. Together we can translate today’s innovative discoveries into tomorrow’s life-saving treatments.</p>
            <div class="button-group">
                <p><a href="#" class="button">Learn more about clinical trials</a></p>
                <p><a href="https://makelivesbetter.uthscsa.edu/donate" class="button">Make a gift</a></p>
            </div>
        </div> 
    </div>
  </div>
</section>

{% include "@components/footer-prototypes/VPResearch-footer.twig" %}