{% include "@components/header-prototypes/header-UTP.twig" %}

<section class="bleed beige">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-8 small-12">
				<h1>Services</h1>
        <p>We offer dedicated and caring specialists with expertise in all branches of medicine to serve you.</p>
                {% include "@components/formElements/search-box.twig" %}
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}

<main class="grid-container">
	<div class="grid-x grid-margin-x grid-margin-y">
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Addiction Medicine
</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-pills "></i> See All Addiction Medicine</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">General Surgery</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-clinic-medical "></i> See All General Surgery</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Pediatric Services</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-child "></i> See All Pediatric Services</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Plastic Surgery</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-file-medical-alt "></i> See All Plastic Surgery</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Weight Loss Surgery</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-weight "></i> See All Weight Loss Surgery</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Orthopaedics</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-bone "></i> See All Orthopaedics</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Physical Therapy</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-running "></i> See All Physical Therapy</a>
        </div>
        <div class="small-12 medium-6 cell">
            <h2 class="ruled"><a href="#">Pain Management</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non vehicula massa. Donec nec ligula in purus aliquet feugiat sit amet eget nisi. </p>
            <a href="#"><i class="fas fa-smile-beam "></i> See All Pain Management</a>
        </div>
            <div class="small-12 cell">{% include "@components/navigation/pagination.twig" %}</div>
            </div>
</main>

{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}