{% include "@components/header-prototypes/header-gccri.twig" %}
<section class="hero bleed blur img-fill full">	
  <img src="../../images/gccri/GCCRI-Faculty-Photo-LO-800x533.jpg" alt="Faculty">
<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 large-7">
				<h1>Greehey CCRI Principal Investigators</h1>
				<p>The Greehey Children's Cancer Research Institute and the faculty have created specialized cancer and research centers that focus on advancing scientific knowledge relevant to childhood cancer and accelerating that knowledge into innovative cures for all ages.</p>
				<p><a href="#" class="button">View Our Publications</a></p>
			</div>
    <div class="cell medium-12 large-5">
    <img src="../../images/gccri/GCCRI-Faculty-Photo-LO-800x533.jpg" alt="Faculty">
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-gccri.twig" %}
<section class="bleed">
    <div class="grid-container">
    <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Aune.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Gregory J. Aune, MD, PhD</a></strong><br>
                                    <strong>Rank:</strong> Associate Professor<br>
<strong>Department:</strong> Pediatrics<br>
<strong>Division:</strong> Hematology-Oncology<br>
<strong>Office:</strong> 4.100.16, Tel: 210.562.9154<br>
<a>aune@uthscsa.edu</a><br>
GCCRI Dir of Communications & Community Engagement</p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Bishop.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Alexander J. R. Bishop, D.Phil</a></strong><br>
                                    <strong>Rank:</strong> Professor<br>
<strong>Department:</strong> Cell Systems & Anatomy<br>
<strong>Programmatic Member:</strong> Molecular Medicine<br>
<strong>Office:</strong> 3.100.14<br>
<strong>Tel:</strong> 210.562.9060<br>
<a>bishopa@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Chen.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Yidong Chen, PhD</a></strong><br>
                                    <strong>Rank:</strong> Professor<br>
<strong>Department:</strong> Population Health Sciences<br>
<strong>Division:</strong> Computational Biology & Bioinformatics, Director<br>
<strong>Office:</strong> 4.100.06<br>
<strong>Tel:</strong> 1.210.562.9163<br>
<a>Cheny8@uthscsa.edu</p></a>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Grimes.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Allison Grimes, M.D., MSCI</a></strong><br>
                                    <strong>Rank:</strong> Associate Professor/Clinical<br>
<strong>Department:</strong> Department of Pediatrics<br>
<strong>Division:</strong> Division of Pediatric Hematology-Oncology<br>
<strong>Office:</strong> 4.100.12<br>
<strong>Tel:</strong> 210-562-9215<br>
<a>grimesa@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Gupta.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Yogesh K. Gupta, M. Tech, PhD</a></strong><br>
                                    <strong>Rank:</strong> Associate Professor<br>
<strong>Department:</strong> Biochemistry & Structural Biology<br>
<strong>Office:</strong> 4.100.08<br>
<strong>Tel:</strong> 1.210.562.9064<br>
<a>guptay@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/houghton.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Peter Houghton, PhD</a></strong><br>
                                    <strong>Rank:</strong> Professor<br>
<strong>Department:</strong> Molecular Medicine<br>
<strong>Office:</strong> 2.110.12<br>
<strong>Tel:</strong> 210.562.9056<br>
<a>houghtonp@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Ignatius.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Myron Ignatius, PhD</a></strong><br>
<strong>Rank:</strong> Assistant Professor<br>
<strong>Department:</strong> Molecular Medicine<br>
<strong>Office:</strong> 3.100.12<br>
<strong>Tel:</strong> 210-562-9030<br>
<a>ignatius@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Kitagawa.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Katsumi Kitagawa, Pharm.D., PhD</a></strong><br>
<strong>Rank:</strong> Associate Professor<br>
<strong>Department:</strong> Molecular Medicine<br>
<strong>Office:</strong> 4.100.20<br>
<strong>Tel:</strong> 210.562.9062<br>
<a>kitagawak@uthscsa.edu</a></p>
                        </div>
                    </div>
                </section>
                <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Kurmasheva.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Raushan Kurmasheva, PhD</a></strong><br>
                                    <strong>Rank:</strong> Assistant Professor<br>
<strong>Department:</strong> Molecular Medicine<br>
<strong>Office:</strong> 4.100.18<br>
<strong>Tel:</strong> 210.562.9155<br>
<a>kurmasheva@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Lai.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Zhao Lai, PhD</a></strong><br>
                                    <strong>Rank:</strong> Associate Professor/Research<br>
<strong>Department:</strong> Molecular Medicine<br>
<strong>Office:</strong> 4.100.14<br>
<strong>Tel:</strong> 210-562-9246<br>
<a>laiz@uthscsa.edu</a></p>
                        </div>
                    </div>
                </section>
                <section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Libich.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>David S. Libich, PhD</a></strong><br>
<strong>Rank:</strong> Associate Professor<br>
<strong>Department:</strong> Biochemistry & Structural Biology<br>
<strong>Office:</strong> Greehey CCRI: 4.100.22 / RAB: 5.206.2<br>
<strong>Tel:</strong> 210-562-9151  |  210-450-8326<br>
<a>libich@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Malkova.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Anna Malkova, PhD</a></strong><br>
                                    <strong>Rank:</strong> Professor<br>
                                    <strong>Department:</strong> Biochemistry & Structural Biology<br>
                                    <strong>Office:</strong> 210-567-3742<br>
                                    <a>malkova@uthscsa.edu</a></p>
                        </div>
                    </div>
                </section>

<section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Penalva.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Luiz O.F. Penalva, PhD</a></strong><br>
<strong>Rank:</strong> Professor<br>
<strong>Department:</strong> Cell Systems & Anatomy<br>
<strong>Office:</strong> 3.100.10<br>
<strong>Tel:</strong> 210-562-9049<br>
<a>penalva@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Pertsemlidis.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Alexander Pertsemlidis, PhD</a></strong><br>
                                    <strong>Rank:</strong> Professor
<strong>Department:</strong> Pediatrics<br>
<strong>Office:</strong> 3.100.22<br>
<strong>Tel:</strong> 210-562-9062<br>
pertsemlidis@uthscsa.edu</a></p>
                        </div>
                    </div>
                </section>

<section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Rao.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Manjeet Rao, PhD</a></strong><br>
Deputy Director – Greehey CCRI<br>
Co-Leader, Experimental, and Dev Therapeutics,
Mays CC; Discipline Dir., Cancer Biology – Graduate Prgm<br>
<strong>Rank:</strong> Professor, <strong>Department:</strong> Cell Systems & Anatomy
<strong>Office:</strong> 4.100.10 <strong>Tel:</strong> 210-562-9119
<a>raom@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Shiio.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Yuzuru Shiio, MD, PhD</a></strong><br>
                                    <strong>Rank:</strong> Associate Professor<br>
<strong>Department:</strong> Biochemistry & Structural Biology<br>
<strong>Office:</strong> 3.100.08<br>
<strong>Tel:</strong> 210-562-9089<br>
<a>shiio@uthscsa.edu</a></p>
                        </div>
                    </div>
                </section>

<section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Sung.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Patrick Sung, DPhil</a></strong><br>
                                    Director, Greehey CCRI<br>
<strong>Rank:</strong> Professor<br>
<strong>Department:</strong> Biochemistry & Structural Biology<br>
<strong>Office:</strong> 2.220.12<br>
<strong>Tel:</strong> 210-450-8868<br>
<a>sungp@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Tomlinson.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Gail Tomlinson, MD, PhD</a></strong><br>
                                    <strong>Rank:</strong> Professor<br>
<strong>Department:</strong> Pediatrics<br>
<strong>Division:</strong> Chief of Hematology-Oncology<br>
<strong>Office:</strong> 4.100.20<br>
<strong>Tel:</strong> 210-562-9116<br>
<strong>Office:</strong> 210-567-7477<br>
<a>tomlinsong@uthscsa.edu</a></p>
                        </div>
                    </div>
                </section>

<section class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Wang.png">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Xiaojing Wang, PhD</a></strong><br>
<strong>Rank:</strong> Asst. Professor/Research/PHS<br>
<strong>Department:</strong> Population Health Sciences<br>
<strong>Office:</strong> 3.100.16<br>
<strong>Tel:</strong> 210-450-8438<br>
<a>WangX11@uthscsa.edu</a></p>
                        </div>
                    </div>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-4 medium-12 small-12">
                            <img src="../../images/gccri/Zheng.jpg">
                        </div>
                        <div class="cell large-8 medium-12 small-12">
                                    <p><strong><a>Siyuan Zheng, PhD</a></strong><br>
                                    <strong>Rank:</strong> Associate Professor<br>
<strong>Department:</strong> Population Health Sciences<br>
<strong>Office:</strong> 3.100.18<br>
<strong>Tel:</strong> 210-562-9028<br>
<a>zhengs3@uthscsa.edu</a></p>
                        </div>
                    </div>
                </section>

                </div>
                </div>
          </section>
{% include "@components/footer-prototypes/gccri-footer.twig" %}