{% include "@components/header-prototypes/header-barshop.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-8 medium-8 small-12">
				<h1>Centers & Cores</h1>
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-barshop.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell large-8 medium-8 small-12">
            <h2>Centers</h2>
            <p>The Barshop Institute hosts several federally-funded centers and programs.</h2>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2019/11/nathanshockmouse.png" alt="" class="img-margin">
                    <h2 class="h5"><a>San Antonio Nathan Shock Center</a></h2>
                    <p>The mission of the San Antonio Nathan Shock Center is to discover the molecular and cellular mechanisms that control the aging process in order to develop strategies to promote healthy aging.  The aging process plays an important role in the development of chronic disease and disability.</p>
                    <p><strong>Director:</strong> <a>Randy Strong, PhD</a></p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2019/11/MINI_PEPPER_FAVICON-300x300.png" alt="" style="height:128px;" class="img-margin">
                    <h2 class="h5"><a>San Antonio Claude D. Pepper Center</a></h2>
                    <p>As a recipient of the Claude D. Pepper Older Americans Independence Center (OAIC) grant from the National Institute of Aging (NIA), the Barshop Institute is furthering research efforts towards the clinical aspect. The Pepper Center designation enables the translation of research into practical applications in the lives of older Americans.</p>
                    <p><strong>Director:</strong> <a>Elena Volpi, MD, PhD, FGSA</a></p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2020/10/GRECC.png" alt="" class="img-margin">
                    <h2 class="h5"><a>San Antonio Geriatric Research, Education and Clinical Center (GRECC)</a></h2>
                    <p>Established in 1987, the San Antonio Geriatric Research, Education and Clinical Center (GRECC) serves elderly Veterans in central and south Texas. The mission of the San Antonio GRECC is to be a center of excellence for the advancement of research, education, and clinical care in geriatrics and gerontology.</p>
                    <p><strong>Director:</strong> <a>Chih-Ko Yeh, BDS, PhD</a></p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2023/10/MetabolicHealth.png" alt="" class="img-margin">
                    <h2 class="h5"><a>Molecular Transducers of Physical Activity Consortium Adult Clinical Center</a></h2>
                    <p>From basic science to clinical trial, research at the Center for Metabolic Health will focus on the cellular and molecular mechanisms involved in the etiology of metabolic and endocrine dysfunction in diabetes and obesity, liver and kidney disease, and cardiovascular disease with the primary aim of identifying novel therapies and biomarkers to reduce morbidity and mortality.</p>
                    <p><strong>Director:</strong> <a>Blake Rasmussen, PhD</a></p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2019/11/MoTrPAC.png" alt="" class="img-margin">
                    <h2 class="h5"><a>Molecular Transducers of Physical Activity Consortium Adult Clinical Center</a></h2>
                    <p>The University of Texas Health Science Center at San Antonio (UTHSCSA) and The University of Texas Medical Branch at Galveston (UTMB) have created the University of Texas Adult Clinical Center (UTACC) for the Molecular Transducers of Physical Activity Consortium (MoTrPAC).</p>
                    <p><strong>Director:</strong> <a>Blake Rasmussen, PhD</a></p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2024/08/cropped-CIDD-1.jpg" alt="" class="img-margin">
                    <h2 class="h5"><a>Center for Innovative Drug Discovery</a></h2>
                    <p>The Center for Innovative Drug Discovery (CIDD) is a joint venture between UT Health San Antonio and University of Texas at San Antonio (UTSA) and co-directed by Dr. Daohong Zhou and Dr. Stanton McHardy. It provides a diverse array of core facilities and expertise to facilitate the translation of basic scientific discoveries into pre-clinical drug candidates that can be further developed into therapeutics for human diseases.</p>
                    <p><strong>Co-Director:</strong> <a>Daohong Zhou, MD</a></p>
                    <p><strong>Co-Director:</strong> <a>Stanton F. McHardy, PhD</a></p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2019/11/MarmosetMotherBaby-150x150.jpg" alt="" class="img-margin">
                    <h2 class="h5"><a>Marmoset Aging Center</a></h2>
                    <p>The Marmoset Aging Center has established a specific pathogen-free, barrier-maintained colony of marmosets — a unique primate model for the study of aging and age-related disease. The Center is the only facility in the world that maintains marmosets under barrier conditions to promote excellent health and produce large numbers of aged animals for research.</p>
                    <p><strong>Co-Leader:</strong> <a>Adam B. Salmon, PhD</a></p>
                    <p><strong>Co-Leader:</strong> <a>Cory Ross, PhD</a></p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2021/11/hourglass-Cell-organelleS-Cropped-e1636485574359.jpg" alt="" class="img-margin">
                    <h2 class="h5"><a>San Antonio Aging Interventions Testing Program</a></h2>
                    <p>The Aging Interventions Testing Program (ITP) at San Antonio is funded by the Biology of Aging Program of the National Institute on Aging (NIA) to evaluate treatment strategies likely to prevent or delay adverse age-dependent changes in cells and tissues, and to diminish the burden of disease in old age.</p>
                    <p><strong>Director:</strong> <a>Randy Strong, PhD</a></p>
                    <p><strong>Co-Director:</strong> <a>James Nelson, PhD</a></p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2019/11/DSC0050-e1574100908966.jpg" alt="" class="img-margin">
                    <h2 class="h5"><a>Naked Mole-Rat Aging Center</a></h2>
                    <p>The Naked Mole-Rat Center seeks to gain a better understanding of the cellular and molecular mechanisms that the longest-lived rodent, the naked mole-rat (NMR) uses to thwart the aging process and maintain cancer-free good health well into their third decade of life.</p>
                    <p><strong>Leader:</strong> <a>Adam Salmon, PhD</a></p>
                </div>
            </div>
        </main>
        <aside class="cell large-4 medium-4 small-12">
            <h2>Cores</h2>
            <p>The Barshop Institute hosts several service cores through our Nathan Shock Center and Claude D. Pepper Center.</p>
            <a class="callout color orange flex-child-auto" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
                </span>
                <h3>San Antonio Nathan Shock Center Cores</h3>
                <p>Through our six research cores, we foster rigorous aging research and feature exceptional and tightly integrated resources in geroscience to pursue translational opportunities in improving aging health</p>
            </a>

            <a class="callout color blue flex-child-auto" href="#">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-stethoscope fa-stack-1x fa-inverse"></i>
                </span>
                <h3>San Antonio Claude D. Pepper OAIC Cores</h3>
                <p>The mission of the San Antonio OAIC is to establish a thriving interdisciplinary research program to promote healthy aging in people.</p>
            </a>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/barshop-footer.twig" %}