{% include "@components/header-prototypes/header-src.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 large-7 medium-7 cell">
            <h1>Our Clinics</h1>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-src.twig" %}
<div class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <section class="cell large-4 medium-4 small-12">
      <a>
        <img src="../../images/alpha-clinic.jpg" alt="">
        <p><strong>Alpha Home Clinic (Usatine Wellness Center)</strong></p>
      </a>
    </section>
    <section class="cell large-4 medium-4 small-12">
      <a>
        <img src="../../images/haven-clinic.jpg" alt="">
        <p><strong>Haven for Hope/ Restoration Center Clinic</strong></p>
      </a>
    </section>
    <section class="cell large-4 medium-4 small-12">
      <a>
        <img src="../../images/pride-clinic.jpg" alt="">
        <p><strong>Pride Community Clinic</strong></p>
      </a>
    </section>
    <section class="cell large-4 medium-4 small-12">
      <a>
        <img src="../../images/haven-clinic.jpg" alt="">
        <p><strong>Refugee Health Clinic</strong></p>
      </a>
    </section>
    <section class="cell large-4 medium-4 small-12">
      <a>
        <img src="../../images/samm.jpg" alt="">
        <p><strong>SAMM Clinic</strong></p>
      </a>
    </section>
    <section class="cell large-4 medium-4 small-12">
      <a>
        <img src="../../images/travis-clinic.jpg" alt="">
        <p><strong>Travis Park Dermatology Clinic</strong></p>
      </a>
    </section>
  
  </div>
</div>




{% include "@blocks/footer/src-no-alamo.twig" %}