{% include "@components/header-prototypes/header-LSOM.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/DME/dme-banner2.jpg" alt="dme staff">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-5 large-offset-7 small-12">
        <div class="callout">
          <h1>Department of Medical Education</h1>
          <p>Welcome to the Department of Medical Education. We look forward to collaborating with you!</p>
          <p><a href="#" class="button">Faculty Programs</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About Us</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Department of Medical Education</li>
  </ul>
</nav>
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell small-12 medium-8 large-8">
            <h2 class="h3">Our vision</h2>
                <p>Through building an LSOM community of talented innovators, scholars, and leaders in medical education, and a highly valued medical education culture of excellence, the LSOM DME will be recognized for continuous programmatic innovation, and faculty and learner enrichment through educational advancements and scholarly success.</p>
                <h2 class="h3">Our mission</h2>
                <p>The LSOM Department of Medical Education supports our departments and individual faculty members through enhancing education-related faculty development, program development and scholarship in order to achieve and sustain excellence in Medical Education.</p>
                <h2 class="h3">We offer</h2>
                <p><ul>
                <li>Tailored Faculty Development Programs</li>
                <li>Individual peer observation and mentoring of Teaching and Clinical Supervision</li>
                <li>Academy of Educational Scholars</li>
                <li>Opportunities for collaboration in educational scholarship</li>
                <li>Experience in Educational Program Development</li>   
                </ul>             
                </p>          
            </main>
            <aside class="cell small-12 medium-4 large-4">
            <div class="callout outline">
            <p class="eyebrow">Department & Divisions</p>
            <h5>Department of Medical Education</h5>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li>
    <a href="#">DME Home</a></li>
  <li><a href="#">ACGME/Texas Regional Hub</a>
  </li>
  <li>
    <a href="#">Faculty Programs</a>
  </li>
</ul></div>
<div class="callout contact">
            <h2 class="h5">Contact Us</h2>
            <address>
               UT Health San Antonio<br>
               Department for Medical Education<br>
               7703 Floyd curl Drive, MC ####<br>
               San Antonio, TX 78229<br>
            </address>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">DME@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
         </div>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
        <div class="cell small-12 medium-6 large-6">
  <img src="../../images/DME/dme-faculty.jpg" alt="DME faculty"></div>
<div class="cell small-12 medium-6 large-6">
<h2>Our Programs</h2>
                <p>The Department of Medical Education values collaboration and partnership. Our approach to effective program development has been to work collaboratively across Centers, Departments, and Offices within our academic community at the Lozano Long School of Medicine. It is our desire to help envision, support, and shape programs across the Medical School.</p>
                <p><a class="arrow">Learn more about our programs</a></p></div>
                </div></div>
                </section>
{% include "@components/footer-prototypes/LSOM-no-alamo.twig" %}