{% include "@components/header-prototypes/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/son-smart/ONRS-Banner1.jpg">
  <div class="grid-container extra-roomy">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 large-5">
        <div class="callout">
        <p class="eyebrow">Department & Divisions</p>
<h1="h2">Office of Nursing Research and Scholarship</h1>
        <p><a href="#" class="button">Nursing Research</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SON.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Office of Nursing Research and Scholarship</li>
  </ul>
</nav>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="cell medium-7 large-8">
        <h2>Office of Nursing Research and Scholarship</h2>
        <p>Welcome to the Office of Nursing Research and Scholarship (ONRS). ONRS advances the School of Nursing’s research mission and fosters scholarship by providing support services throughout the research lifecycle.</p>

<p>ONRS is located on the 2nd floor of the School of Nursing Building (Room 2.392). Please visit the <a>ONRS SharePoint</a> for services requests.</p>
<h3>School of Nursing Research Service Centers</h3> 
<div class="arrow">
<ul>
<li><a>SMART Center</a></li>
<li><a>Biobehavioral Lab</a></li>
</ul></div>
 <h3>Helpful Links</h3>
                <div class="arrow">
<ul>
<li><a>SON Research Website</a></li>
<li><a>Office of Sponsored Programs</a></li>
<li><a>Office of Vice President for Research</a></li>
<li><a>Office of the Institutional Review Board</a></li>
<li><a>Clinical Trials Office</a></li>
<li><a>Carol A. (Reineck) Huebner Leadership for Clinical Excellence Lecture Series</a></li>
</ul>
      </main>
      <aside class="cell small-12 medium-4 large-4">
         <div class="callout contact outline">
            <h2 class="h5">Contact Us</h2>
            <p><strong>Lixin (Lee) Song, PhD, RN, FAAN</strong><br>
            Vice Dean for Research</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">songl2@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
               <p><strong>Patty Rodriguez, Sr</strong><br>
            Manager of Research Operations</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">rodriguezm63@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <p><strong>Allen Reese</strong><br>
            Office Manager</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">reesea1@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <p><strong>Martrisha Trainum</strong><br>
            Senior Program Coordinator (Pre-Award)</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">trainum@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <p><strong>Kim Marie Renfro</strong><br>
            Technical Writer</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">renfrok1@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
            <p><strong>Zhen Xu</strong><br>
            Program Coordinator (Post-Award)</p>
            <ul class="fa-ul">
               <li>
                  <a>
                     <span class="fa-li">
                        <span class="fa-stack">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                     </span>
                     <span class="">xuz2@uthscsa.edu</span>
                  </a>
               </li>
            </ul>
      </div>
        </aside>
    </div>
  </div>
</section>
<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San
              Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in
            <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care
            including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website
            (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their
            content, or products and services associated with those sites. The content on this website is intended to be
            used for informational purposes only. Health information on this site is not meant to be used to diagnose or
            treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>