{% include "@blocks/header/global-bar.twig" %}
{% include "@blocks/header/level-2.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-4 small-12">
				<h1>Locations</h1>
	 
				<p>With more than 20 locations throughout San Antonio and South Texas, we make it easy to find a location that is most convenient for you.</p>
    			<input type="text">
			</div>
            <div class="cell large-8 small-12">
				<img src="../../images/locations-map.png" alt="placehodler">
			</div>
		</div>
	</div>
</section>
<main class="grid-container">
	<div class="grid-x">
		<div class="cell large-6 medium-6 small-12">
			<h2>South Texas Medical Center</h2>
			<div class="columns">
				<address>
					<a><strong>Lions Low Vision Center of Texas</strong></a><br>
					8403 Floyd Curl Dr<br>
					San Antonio, TX 78229<br>
					Phone: 210-567-8600
				</address>

				<address>
					<a><strong>Lions Low Vision Center of Texas</strong></a><br>
					8403 Floyd Curl Dr<br>
					San Antonio, TX 78229<br>
					Phone: 210-567-8600
				</address>

				<address>
					<a><strong>Lions Low Vision Center of Texas</strong></a><br>
					8403 Floyd Curl Dr<br>
					San Antonio, TX 78229<br>
					Phone: 210-567-8600
				</address>

				<address>
					<a><strong>Lions Low Vision Center of Texas</strong></a><br>
					8403 Floyd Curl Dr<br>
					San Antonio, TX 78229<br>
					Phone: 210-567-8600
				</address>

				<address>
					<a><strong>Lions Low Vision Center of Texas</strong></a><br>
					8403 Floyd Curl Dr<br>
					San Antonio, TX 78229<br>
					Phone: 210-567-8600
				</address>

				<address>
					<a><strong>One Oak Hills Place</strong></a><br>
					1901 Babcock Rd, Suite 301<br>
					San Antonio, TX 78229<br>
					Phone: 210-341-7722
				</address>

				<address>
					<a><strong>One Oak Hills Place</strong></a><br>
					1901 Babcock Rd, Suite 301<br>
					San Antonio, TX 78229<br>
					Phone: 210-341-7722
				</address>

				<address>
					<a><strong>One Oak Hills Place</strong></a><br>
					1901 Babcock Rd, Suite 301<br>
					San Antonio, TX 78229<br>
					Phone: 210-341-7722
				</address>

				<address>
					<a><strong>One Oak Hills Place</strong></a><br>
					1901 Babcock Rd, Suite 301<br>
					San Antonio, TX 78229<br>
					Phone: 210-341-7722
				</address>

				<address>
					<a><strong>One Oak Hills Place</strong></a><br>
					1901 Babcock Rd, Suite 301<br>
					San Antonio, TX 78229<br>
					Phone: 210-341-7722
				</address>
			</div>

			<h2>Westover Hills</h2>
			<div class="columns">
				<address>
					<a><strong>UT Health Westover Hills</strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>
			</div>

			<h2>South Texas</h2>
			<div class="columns">
				<address>
					<a><strong>Mercy Ministeries in Laredo</strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>
			</div>
		</div>

		<div class="cell large-6 medium-6 small-12">			
			<h2>Northwest San Antonio</h2>
			<div class="columns">
				<address>
					<a><strong>UT Health Hill Country</strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>
				<address>
					<a><strong>UT Health Hill Country</strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>
				<address>
					<a><strong>UT Health Hill Country</strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>
			</div>

			<h2>Downtown</h2>
			<div class="columns">
				<address>
					<a><strong>Robert B. Green Campus - Downtown</strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>
				<address>
					<a><strong>Texas Diabete Institute</strong></a><br>
					14530 NW Military Highway<br>
					San Antonio, TX 78231<br>
					Phone: 210-450-6620
				</address>
			</div>

			<h2>Stone Oak Area</h2>
			<div class="columns">
				<address>
					<a><strong>The Atrium at North Central Baptist Hospital </strong></a><br>
					25723 Old Fredericksburg Road<br>
					Boerne, TX 78015<br>
					Phone: 210-450-6800
				</address>
			</div>
		</div>
	</div>
</main>
{% include "@blocks/footer/alamo.twig" %}