{% include "@components/header-prototypes/header-VPR.twig" %}
{% include "@components/navigation-prototypes/navbar-VPR.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 small-12">
                <h1>Funding</h1>

            </div>
            <div class="cell small-12 medium-5">

            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">
                <div class="grid-x grid-margin-x flex-container">
                    <a href="http://research.uthscsa.edu/osp/" class="card cell small-12 medium-6 color orange flex-child-auto">
                        <img src="https://picsum.photos/534/300">
                        <div class="card-section">
                            <h4>Office of Sponsored Programs</h4>
                            <p>The Office of Sponsored Programs supports the research community with funding
                                opportunities and proposal review.</p>
                        </div>
                    </a>
                    <a href="#" class="card small-12 medium-6 color flex-child-auto">
                        <img src="https://picsum.photos/534/300">
                        <div class="card-section">
                            <h4>GrantSeekers</h4>
                            <p>The GrantSeekers 2.0 program is designed to give investigators the opportunity for an
                                internal and external review process prior to submission of their NIH, VA or other
                                proposals.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="cell small-12 medium-5 large-4 arrow loose-list">
                <h2 class="h3 color">Resources</h2>
                <ul>
                    <li>
                        <a href="https://uthealthsa.sharepoint.com/VPR/Pages/Limited-Submissions.aspx">Limited
                            Submissions (on Sharepoint)</a></li>
                    <li><a href="https://uthealthsa.sharepoint.com/VPR/Pages/Funding-Resources.aspx"> T32
                            Institutional Research Training Grant Support (on Sharepoint)</a></li>
                    <li><a href="https://iims.uthscsa.edu/f_grants.html">F-Troop workshop
                            (fellowship grants)</a></li>
                    <li><a href="https://www.uthscsa.edu/vpr/core-labs/grant-writers">Core Facility Shared
                            Resources NIH Grant Description </a></li>
                    <li><a href="https://grants.nih.gov/grants/natural_disasters/corona-virus.htm">NIH Response to
                            Natural Disasters & Other Emergencies</a></li>
                    <li><a href="/sites/default/files/2018/scientific_writing_services_002_1_1.pdf">Scientific
                            Writing and Proposal Development Services </a></li>
                    <li><a href="https://hscshare.uthscsa.edu/sites/opa/SitePages/Home.aspx">Training Grant
                            Repository (on Sharepoint)</a></li>
                    <li><a
                            href="https://uthealthsa.sharepoint.com/VPR/Pages/Database-Resources.aspx?csf=1&amp;web=1&amp;e=v1ehTm">Researcher
                            Database Resources (on Sharepoint)</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/VPR-footer.twig" %}
