{% include "@components/header-prototypes/header-main.twig" %}
{% include "@components/navigation-prototypes/navbar-main.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Regulatory Notices</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Notice of Non-Discrimination
    </li>
  </ul>
</nav>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-12 medium-12 small-12">
            <h1>Notice of Non-Discrimination</h1>
            <div>
                <a href="#" class="arrow">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-language fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Español</span>
                </a>
            </div>
            <br>
        </div>
        <main class="cell large-8 medium-8 small-12 small-order-2 large-order-1 medium-order-1">
          <p><strong>Discrimination is Against the Law</strong></p>
          <p>The University of Texas Health Science Center at San Antonio (also called UT Health San Antonio) complies with applicable Federal civil rights laws and does not discriminate on the basis of race, color, national origin, age, disability or sex. UT Health San Antonio does not exclude people or treat them differently because of race, color, national origin, age, disability or sex. </p>
          <p>UT Health San Antonio:</p>
          <ul>
            <li>Provides free aids and services to people with disabilities to communicate effectively with us, such as: 
                <ul>
                    <li>Qualified sign language interpreters</li>
                    <li>Written information in other formats (large print, audio, accessible electronic formats, other formats)</li>
                </ul>
            </li>
            <li>Provides <a href="https://uthscsa.edu/sites/default/files/2022-02/Language-Assistance.pdf">free language services</a> to people whose primary language is not English, such as: 
                <ul>
                    <li>Qualified interpreters</li>
                    <li>Information written in other languages</li>
                </ul>
            </li>
          </ul>

          <p>If you need these services, contact the clinic where you are to be treated and they will arrange the appropriate service(s) needed.</p>

          <p>If you believe that UT Health San Antonio has failed to provide these services or discriminated in another way on the basis of race, color, national origin, age, disability, or sex, you can file a grievance in person, by mail, fax, email, telephone or online with the Chief Compliance & Privacy Officer at: </p>
          <p>Institutional Compliance and Privacy Office<br>7703 Floyd Curl Dr., Mail Stop 7861<br>San Antonio, Texas 78229<br>210-567-2014 (Office) 877-507-7317 (Toll Free)<br>210-567-9285 (Fax)<br><a href="mailto:compliance@uthscsa.edu">compliance@uthscsa.edu</a>&nbsp;<br><a href="https://secure.ethicspoint.com/domain/media/en/gui/67623/index.html">Online Compliance Hotline</a></p>

          <p>You can also file a civil rights complaint with the U.S. Department of Health and Human Services, Office for Civil Rights, electronically through the Office for Civil Rights Complaint Portal, available at <a href="https://ocrportal.hhs.gov/ocr/portal/lobby.jsf">https://ocrportal.hhs.gov/ocr/portal/lobby.jsf</a> or by mail or phone at:</p>

          <p>U.S. Department of Health and Human Services<br>200 Independence Avenue, SW<br>Room 509F, HHH Building<br>Washington, D.C. 20201<br>1-800-368-1019, 800-537-7697 (TDD)<br>Complaint forms are available at <a href="http://hhs.gov/ocr/office/file/index.html">http://hhs.gov/ocr/office/file/index.html</a></p>

          <p>If you speak a language other than English, language assistance services are <a href="https://uthscsa.edu/sites/default/files/2022-02/Language-Assistance.pdf">available to you free of charge</a>.</p>

          <h2>Notice Concerning Complaints</h2>
          <p>Complaints about physicians or nurses as well as other licensees and registrants, including physician assistants, acupuncturists, and surgical assistants may be reported for investigation at the following addresses:</p>
          <p>Texas Medical Board<br>Attention: Investigations<br>333 Guadalupe, Tower 3, Suite 610<br>P.O. Box 2018, MC-263<br>Austin, Texas 78768-2018</p>

          <p>Assistance in filing a complaint is available by calling the following telephone number: <a>1-800-201-9353</a></p>
          <p>For more information <a href="http://www.tmb.state.tx.us/">please visit our Texas Medical Board website</a></p>

          <p>Texas Board of Nursing&nbsp;<br>Attention: Anthony Diggs, MSCJ, Director Enforcement Division&nbsp;<br>333 Guadalupe Street, Suite 3-460&nbsp;<br>Austin, Texas 78701-39</p>

          <p>Institutional Compliance and Privacy Office<br>7703 Floyd Curl Dr .. Mail Stop 7861<br>San Antonio, Texas 78229<br><a>210-567-2014</a> (Office) <a>877-507-7317</a> (Toll Free)<br><a>210-567-9285</a> (Fax)<br><a href="mailto:compliance@uthscsa.edu">compliance@uthscsa.edu</a><br><a href="https://secure.ethicspoint.com/domain/media/en/gui/67623/index.html">Online Compliance Hotline</a><br>&nbsp;</p>
        </main>

        <aside class="cell large-4 medium-4 small-12 small-order-1 large-order-2 medium-order-2">
           <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                <li><a class="is-active">Notice of Non-Discrimination</a></li>
                <li><a>Aviso de No Discriminación </a></li>
                <li><a>Notice of Privacy Practices</a></li>
                <li><a>Aviso de Prácticas de Privacidad</a></li>
                <li><a>Good Faith Patient Estimates</a></li>
                <li><a>Estimaciones De Buena Fe Del Paciente </a></li>
                <li><a>Your Rights & Protections Against Surprise Medical Bills</a></li>
                <li><a>Sus Derechos y Protecciones En Caso De Facturas Médicas Inesperadas </a></li>

                <li>
                    <a href="#">Patient's Statement of Rights and Responsibilities</a>
                    <ul class="nested vertical menu">
                        <li><a>UT Health San Antonio Patient’s Statement of Rights and Responsibilities</a></li>
                        <li><a>Kyle Seale Parkway Patient’s Statement of Rights and Responsibilities</a></li>
                        <li><a>Kyle Seale Parkway Declaración de Derechos y Responsabilidades del Paciente</a></li>
                    </ul>
                </li>
                <li><a>UT Health San Antonio Terms and Conditions for SMS</a></li>
            </ul>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/main-footer.twig" %}
