{% include "@components/header v2/header-SHP.twig" %}
<section class=" hero bleed img-fill">
    <img src="../../images/shp-programs.jpg" alt="SCIENCE">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout grey">
                <h1>Find your program</h1>
                <p>We offer students a focused path to careers in critical segments of the health care industry. Our
                    programs combine scholarly research with hands-on clinical experiences.</p>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation/navbar-SHP.twig" %}
<section class="bleed">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">
                <h2 class="ruled h3">Bachelor's</h2>
                <div class="loose-list indent-list margin-bottom-2">
                    <ul class="no-bullet">
                        <li><a>Bachelor of Science in Emergency Health Sciences</a></li>
                        <li><a>Bachelor of Science in Medical Laboratory Sciences</a></li>
                        <li><a>Bachelor of Science in Medical Sciences</a></li>
                        <li><a>Bachelor of Science in Respiratory Care</a></li>
                        <li><a>Bachelor of Science in Respiratory Care (Online)</a></li>
                    </ul>
                </div>

                <h2 class="ruled h3">Master's</h2>
                <div class="loose-list indent-list margin-bottom-2">
                    <ul class="no-bullet">
                        <li><a>Master of Physician Assistant Studies</a></li>
                        <li><a>Master of Science in Medical Laboratory Sciences</a></li>
                        <li><a>Master of Science in Respiratory Care</a></li>
                        <li><a>Master of Science in Respiratory Care (Online)</a></li>
                        <li><a>Master of Science in Speech Language Pathology</a></li>
                    </ul>
                </div>

                <h2 class="ruled h3">Certificate</h2>
                <div class="loose-list indent-list margin-bottom-2">
                    <ul class="no-bullet">
                        <li><a>Emergency Medical Technology Certification (EMT)</a></li>
                        <li><a>Graduate Certificate in Communication Sciences and Disorders</a></li>
                        <li><a>Paramedic Certification</a></li>
                    </ul>
                </div>

                <h2 class="ruled h3">PhD</h2>
                <div class="loose-list indent-list margin-bottom-2">
                    <ul class="no-bullet">
                        <li><a>Ph.D. in Health Sciences</a></li>
                    </ul>
                </div>

                <h2 class="ruled h3">Doctoral</h2>
                <div class="loose-list indent-list margin-bottom">
                    <ul class="no-bullet">
                        <li><a>Doctor of Occupational Therapy (OTD) </a></li>
                        <li><a>Doctor of Physical Therapy</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell small-12 medium-5 large-4">
                <a class="callout color blue">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Admissions</h3>
                </a>

                <a class="callout color grey">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-coins fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Tuition and Finacial Aid</h3>
                </a>
            </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}