{% include "@components/header-prototypes/header-ETU.twig" %}
<section class="hero bleed blur img-fill full">
    <img src="../../images/ut-health-science-center-with-sign.jpg" alt="uthscsa altc building">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Tobacco-Free/Eliminating Tobacco Use (ETU)</h1>
                <p>Tobacco-Free UT Health San Antonio wants to support you in your decision to quit smoking. Be sure to check out our information and resources available to faculty, staff, and students.</p>
    <p><a href="#" class="button">Contact Us</a></p>
            </div>
            <div class="cell large-5 small-12">
                <img src="../../images/ut-health-science-center-with-sign.jpg" alt="uthscsa altc building">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ETU.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Institute for Health Promotion Research</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Eliminating Tobacco Use (ETU)
    </li>
  </ul>
</nav>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">        
        <h2>Tobacco-Free Policy</h2>
<p>
The <a class="coward">tobacco-free policy</a>, located within the Handbook of Operating Procedures of UT Health San Antonio, became effective June 2000 and was revised in <a class="coward">November 2017.</a></p>

<p>It states: “One mission of the Health Science Center is to promote public health. For this reason, all campus buildings and grounds of the University are tobacco and smoke-free; to include but not limited to all forms of tobacco, including cigarettes, cigars, pipes, water pipes (hookah), bidis, kreteks, smokeless tobacco, snuff, chewing tobacco and any non-FDA approved nicotine delivery device. The use of any tobacco is not permitted outside buildings or anywhere inside buildings including private offices. No tobacco products will be sold on the campus either by the Health Science Center or outside vendors. By the nature of business of the Health Science Center, it is the responsibility of each individual employee to ensure that a healthy environment is provided by example and deed. Employee cooperation and support of this policy is essential to its success.</p>
<p><a class="arrow">Read more here.</a></p><br>

<h2>Anonymous Reporting Tool</h2>
<p>If you notice an area at UT Health San Antonio that is regularly used as a “smoke break” area by one person or a group of people, or if you notice a particular individual who is using tobacco on campus at any time, please use the anonymous reporting tool to let us know.</p>

<p>We will use this information to identify problematic areas on campus and come up with appropriate plans to deal with the violations of our tobacco-free policy.</p>

<p>Thank you for helping us keep UT Health San Antonio tobacco free.</p>

<p><a class="arrow">Click Here to Make an Anonymous Report</a></p><br>
        <div class="grid-x grid-margin-x grid-padding-y  align-center">
         <div class="cell small-12 medium-6 large-6 flex-container">
<a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-book-reader fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Resources</h3>
            </a>
        </div>
        <div class="cell small-12 medium-6 large-6 flex-container">
            <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-smoking-ban fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Prevention</h3>
            </a></div></div>

            </main>
            <aside class="small-12 medium-4 cell">
            <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
  <li><a href="#">ETU Home</a></li>
    <li><a href="#">Prevention</a></li>
  <li><a href="#">Cessation</a></li>
  <li><a href="#">Contact Us</a></li>
</ul>
<div class="margin-top text-center">
                <img src="../../images/smoking-bans.png"></div>
            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/ETU-footer.twig" %}