{% include "@components/header-prototypes/header-superhero-missionmag-v2.twig" %}

<section class=" hero gradient left white bleed img-fill">
<img src="../../images/Acting-sick-1500x874.jpg" alt="woman" class="middle">    
  <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout white">
                <h1 class="supersize">Mission Magazine</h1>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center padding-bottom">
                <h2>Latest Stories</h2>
            </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Alumni-Sharon-Gordon-534x300.jpg">
                <h4>Breaking barriers</h4>
                <p>UT Health San Antonio alumna Sharon M. Gordon, D.D.S. ’91, is the first woman dean of UConn's dental school.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Zombie-brain-scans-534x300.jpg">
                <h4>‘Zombie’ cells</h4>
                <p>A type of cellular stress known to be involved in cancer and aging has now been implicated, for the first time, in Alzheimer's disease.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Liver-cells-featured-534x300.jpg">
                <h4>Fighting alcoholic liver disease</h4>
                <p>Research findings offer hope for a pill to someday treat alcoholic fatty liver disease.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Alumni-Sharon-Gordon-534x300.jpg">
                <h4>Breaking barriers</h4>
                <p>UT Health San Antonio alumna Sharon M. Gordon, D.D.S. ’91, is the first woman dean of UConn's dental school.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Zombie-brain-scans-534x300.jpg">
                <h4>‘Zombie’ cells</h4>
                <p>A type of cellular stress known to be involved in cancer and aging has now been implicated, for the first time, in Alzheimer's disease.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Liver-cells-featured-534x300.jpg">
                <h4>Fighting alcoholic liver disease</h4>
                <p>Research findings offer hope for a pill to someday treat alcoholic fatty liver disease.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Alumni-Sharon-Gordon-534x300.jpg">
                <h4>Breaking barriers</h4>
                <p>UT Health San Antonio alumna Sharon M. Gordon, D.D.S. ’91, is the first woman dean of UConn's dental school.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Zombie-brain-scans-534x300.jpg">
                <h4>‘Zombie’ cells</h4>
                <p>A type of cellular stress known to be involved in cancer and aging has now been implicated, for the first time, in Alzheimer's disease.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        <div class="cell small-12 medium-4 card popout orange border">            <div class="card-section">
                <img src="../../images/Liver-cells-featured-534x300.jpg">
                <h4>Fighting alcoholic liver disease</h4>
                <p>Research findings offer hope for a pill to someday treat alcoholic fatty liver disease.</p>
                <p><a class="arrow">Read more</a></p>
            </div>
        </div>
        </div>
    </div>
</section>

{% include "@blocks/footer/mission.twig" %}