{% include "@components/header-prototypes/header-UTP.twig" %}
{% include "@components/navigation-prototypes/navbar-UTP.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}
<div class="grid-container">
    <h1>Surgery Galleries</h1>
    <div class="grid-x grid-margin-x">
			<main class="cell large-8 medium-7 small-12">
        <p id="start">
				<p>Sweet cotton candy chocolate bear claw powder powder. Wafer sweet caramels croissant jelly-o halvah cake sesame snaps. Liquorice gummi bears cookie chocolate bar gummies danish muffin caramels. Apple pie donut dessert jelly beans sesame snaps pie tootsie roll. Bonbon gummies donut fruitcake sesame snaps.</p>
        <div class="grid-x grid-margin-x">
          <div class="large-6 medium-6 small-12">
            <div class="lines">
              <ul>
                <li><a data-open="exampleModal1">Breast Reconstruction</a></li>
                <li><a>Facial Reconstruction</a></li>
                <li><a>Hand Reconstruction</a></li>
                <li><a>Lymphedema Surgery</a></li>
              </ul>
            </div>
          </div>
          <div class="large-6 medium-6 small-12">
            <div class="lines">
              <ul>
                <li><a>Surgery Name 1</a></li>
                <li><a>Surgery Name 2</a></li>
                <li><a>Surgery Name 3</a></li>
                <li><a>Surgery Name 4</a></li>
              </ul>
            </div>
          </div>
        </div>
				<!-- MODAL CONTENTS-->
				<div class="reveal" id="exampleModal1" aria-labelledby="exampleModalHeader1" data-reveal>
					<p id="exampleModalHeader1">This category contains nudity. Please click OK to confirm you are at least 18 years of age and are not offended by such material.</p>
					<div class="button-group">
            <p><a href="#" class="button">OK</a></p>
            <p><a href="#" class="button ghost">Cancel</a></p>
          </div>
					<button class="close-button" data-close aria-label="Close reveal" type="button">
						<span aria-hidden="true">&times;</span>
						</button>
				</div>
        <p id="stop">
			</main>
			<aside class="cell large-4 medium-5 small-12" data-sticky-container>
        <div class="sticky" data-sticky data-top-anchor="start:top" data-btm-anchor="stop:bottom">
				  <h2>Consultation</h2>
          <p>Please call 210-450-9950 to schedule a consultation, or <a>make an appointment</a>.</p>
        </div>
			</aside>
    </div>
</div>

{% include "@components/footer-prototypes/UTP-no-alamo.twig" %}