{% include "@components/header-prototypes/header-SOD.twig" %}
<section class="hero bleed img-fill full">
  <img src="../../images/global-center-banner.jpg" alt="people walking">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-5 large-offset-7 small-12">
        <div class="callout">
          <h1 class="h2">Center for Global and Community Oral Health</h1>
          <p>Making both a local and global impact by revolutionizing oral health care through interdisciplinary
            research and education, to address oral health disparities and foster sustainable solutions.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-SOD.twig" %}
<section>
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="#">Research Home</a></li>
      <li>
        <span class="show-for-sr">Current: </span>Center for Global and Community Oral Health
      </li>
    </ul>
  </nav>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center text-center">
      <div class="cell small-12 medium-9">
        <h2 class="h3">Our Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
          <div class="button-group align-center">
    <p><a href="#" class="button">Publications</a></p>
    <p><a href="#" class="button ghost">Give</a></p>
</div>
      </div>
    </div>
  </div>
  </section>
  <section class="bleed light-grey">
    <div class="grid-container">
      <div class="cell small-12 text-center margin-bottom">
        <h3 class="sans-serif h4">Research Center Initiatives</h3>
      </div>
      <div class="grid-x grid-margin-x align-center">
        <a class="card cell small-12 medium-4 large-4">
          <img src="../../images/stbhi.png">
          <div class="card-section">
            <h4 class="h5">South Texas Border Health Initiatives</h4>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4">
          <img src="../../images/dphew.png">
          <div class="card-section">
            <h4 class="h5">Dental Public Health Education and Workforce</h4>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4">
          <img src="../../images/fdpter.png">
          <div class="card-section">
            <h4 class="h5">Faculty Development Program: Training in educational research</h4>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4">
          <img src="../../images/hope.png">
          <div class="card-section">
            <h4 class="h5">Holistic Oral Health Program for Elders (HOPE)</h4>
          </div>
        </a>
        <a class="card cell small-12 medium-4 large-4">
          <img src="../../images/eaoh.png">
          <div class="card-section">
            <h4 class="h5">The East Africa Oral Health Initiative (EAOH)</h4>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="bleed">
    <div class="grid-container">
      <div class="cell small-12 medium-12 text-center margin-bottom">
        <h2>Clinics</h2>
      </div>
      <div class="grid-x grid-margin-x align-center">
        <a href="#" class="card postcard cell small-12 medium-4 large-4">
          <img src="../../images/laredo-clinic.png">
          <div class="card-section">
            <h2 class="h4">Laredo Dental Clinic</h2>
          </div>
        </a>
        <a href="#" class="card postcard cell small-12 medium-4 large-4">
          <img src="../../images/salinas-clinic.png">
          <div class="card-section">
            <h2 class="h4">Ricardo Salinas Pediatric Dental Clinic</h2>
          </div>
        </a>
      </div>
    </div>
  </section>
<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center text-center margin-bottom">
            <div class="cell small-12 medium-9">
                <h2>Researcher Spotlight</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-3 card portrait">
                <div class="card-section">
                    <img src="../../images/no-photo.jpg">
                    <div class="profile-info">
                        <a><h3 class="h5 close">FirstName LastName</h3></a>
                        <p>Position/Title</p>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-3 card portrait">
                <div class="card-section">
                    <img src="../../images/no-photo.jpg">
                    <div class="profile-info">
                        <a><h3 class="h5 close">FirstName LastName</h3></a>
                        <p>Position/Title</p>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-3 card portrait">
                <div class="card-section">
                    <img src="../../images/no-photo.jpg">
                    <div class="profile-info">
                        <a><h3 class="h5 close">FirstName LastName</h3></a>
                        <p>Position/Title</p>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-3 card portrait">
                <div class="card-section">
                    <img src="../../images/no-photo.jpg">
                    <div class="profile-info">
                        <a><h3 class="h5 close">FirstName LastName</h3></a>
                        <p>Position/Title</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed color orange noise">
      <div class="grid-container">
      <div class="cell small-12 medium-12 text-center margin-bottom">
                <h3>Center for Global and Community Oral Health Accomplishments</h4>
                </div>
    <div class="grid-x grid-margin-x align-center align-middle margin-top">
			<div class="cell small-12 medium-2 large-2">
				<img src="../../images/no-photo-300x400.jpg" alt="Photo not available">
			</div>
      <div class="cell small-12 medium-10 large-10">
              <h4>Title</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p><a class="arrow">Learn more</a></p>
        </div>
        <div class="cell small-12 text-center margin-top">
    <p><a href="#" class="button ghost">View all Accomplishments</a></p></div>
              </div>
        </div>
</section>

  <footer class="flatten">
    <div class="shield">
      <section class="grid-container">
        <div class="grid-x grid-margin-x align-center">
          <div class="cell large-12">
            <h2>UT Health San Antonio</h2>
          </div>
          <div class="cell large-3 medium-4 small-10">
            <div class="contact">
              <a href="#" class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
              </a>
              <a href="#">210-450-0000</a>
            </div>
            <div class="contact">
              <a href="#" class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
              </a>
              <address>
                7703 Floyd Curl Drive<br>
                San Antonio, TX 78226<br>
                <a href="#" class="arrow">Map and directions</a>
              </address>
            </div>
            <div class="contact">
              <a href="#" class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </a>
              <a href="#">email@uthscsa.edu</a>
            </div>
          </div>
          <div class="cell large-3 medium-4 small-10">
            <ul>
              <li><a href="#" class="arrow">About us</a></li>
              <li><a href="#" class="arrow">Contact us</a></li>
              <li><a href="#" class="arrow">Faculty directory</a></li>
              <li><a href="#" class="arrow">Job openings</a></li>
              <li><a href="#" class="arrow">Newsroom</a></li>
            </ul>
            <div class="social">
              <ul>
                <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="cell large-5 medium-4 small-10">
            <p class="large-text">We make lives better ®</p>
            <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San
                Antonio</a>, is a leading academic health center with a mission to make lives better through excellence
              in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical
              care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
          </div>
          <div class="cell large-1 medium-0 small-0"></div>
        </div>
      </section>
    </div>
    <section class="bleed">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell">
            <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website
              (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their
              content, or products and services associated with those sites. The content on this website is intended to
              be used for informational purposes only. Health information on this site is not meant to be used to
              diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
          </div>
        </div>
      </div>
    </section>
  </footer>