<nav class="nav-bar" id="nav-bar-full">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Find a Provider</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Conditions</a></li>
                <li><a href="#">Primary Care</a></li>
                <li><a href="#">Specialty Practices</a></li>
                <li><a href="#">Locations</a></li>
            </ul>
        </div>
    </div>
</nav>