{% include "@components/header-prototypes/header-class.twig" %}
{% include "@components/navigation-prototypes/navbar-class.twig" %}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li>
      <span class="show-for-sr">Current: </span>ALTC - Room 3.301
    </li>
  </ul>
</nav>

<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 large-8 medium-8">
            <h1>ALTC - Room 3.301</h1>
            <h3 class="color">Room Description</h3>
            <p>Classroom has 4 projectors with fixed furniture, in room computer, centeral teaching station, digital recording capabilities. All tables in the room have input locations where students can present from.</p>
            
        </main>

        <aside class="cell small-12 medium-5 large-4">
            <img src="../../images/2019 ALTC 09.JPG" class="margin-bottom">
            <div class="callout outline">
                <h3 class="color">Classroom Information</h3>
                <p><strong>Location:</strong> Long Campus</p>
                <p><strong>Building:</strong> Academic Learning and Teaching Center (ALTC)</p>
                <p><strong>Room Number:</strong> 3.301</p>
                <p><strong>Seating Capacity:</strong> 141</p>
                <p><strong>Room Technology:</strong><br>
In Room Computer: Yes<br>
Projector: 4<br>
Touch Screen Control: Yes<br>
TV: 4<br>
Wireless Projection: No</p>
            </div>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/class-footer.twig" %}