{% include "@components/header-prototypes/header-superhero-IA.twig" %}
{% include "@components/navigation-prototypes/navbar-IA.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Make a Gift</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Support UT Health San Antonio
    </li>
  </ul>
</nav>
  <section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 large-8 cell">
            <img src="../../images/Teach_Heal_Discover_760_banner.jpg" class="margin-bottom">
            <h1 class="h2 color">Make a Gift to UT Health San Antonio</h1>
                <h2 class="h6">We make lives better for South Texas and the world because of generous community support like yours.</h2>
                <p><h3 class="h4 color">Gift Info</h3>
                <p><strong>Gift Type</strong></p>
                <div class="button-group">
                <p><a href="#" class="button">One-time</a></p>
                <p><a href="#" class="button ghost">Recurring</a></p>
                <p><a href="#" class="button ghost">Pledge</a></p>
            </div>
            <p><strong>Gift Amount</strong></p>
                <div class="button-group">
                <p><a href="#" class="button">$50</a></p>
                <p><a href="#" class="button ghost">$100</a></p>
                <p><a href="#" class="button ghost">$250</a></p>
                <p><a href="#" class="button ghost">$500</a></p>
                <p><a href="#" class="button ghost">$1000</a></p>
                <p><a href="#" class="button ghost">Other</a></p>        
                </div>
<form>
<label>Designation
    <select>
      <option value="1">UT Health Excellence Fund</option>
      <option value="2">Hospital Cornerstone Fund</option>
      <option value="3">President's Council (min. $1,000)</option>
      <option value="4">School of Dentistry</option>
      <option value="5">Graduate School of Biomedical Sciences</option>
      <option value="6">School of Health Professions</option>
      <option value="7">School of Public Health</option>
      <option value="8">Biggs Institute - Director's Critical Needs Fund</option>
      <option value="9">Mays Cancer Center</option>
      <option value="10">Mays Cancer Center Cabinet (min. $1,500)</option>
      <option value="11">Greehey Children’s Cancer Research Institute</option>
      <option value="12">Center for Medical Humanities &amp; Ethics</option>
      <option value="13">Barshop Institute for Longevity &amp; Aging Studies</option>
      <option value="14">I would like my gift to support</option>
    </select>
  </label></form>
<p><a href="#" class="button">Continue</a></p>
</main>
        <aside class="small-12 medium-4 margin-bottom cell" role="complementary"
                <div class="grid-x">
                {% include "@components/navigation-prototypes/subnav-IA-donate.twig" %}
                    <div class="callout outline">
        <h3 class="h4 color">To mail in a check:</h3>
            <address>
               Office of Institutional Advancement<br>
               7703 Floyd Curl Drive MC 7835<br>
               San Antonio, TX 78229-3900<br>
            </address>
            <p>Please make all checks payable to UT Health San Antonio and include the area or designation you wish to support on the memo line.</p>
            </aside>
        </div>
    </div>
</section>

<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>