{% include "@components/header-prototypes/header-tchatt.twig" %}
<section class=" hero bleed img-fill gradient white left">
    <img src="https://placedog.net/1920/1080" alt="adorable pup">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left roomy">
            <div class="small-12 medium-5 cell callout white">
                <img src="../../images/tchatt/cpan-logo.png">
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-tchatt.twig" %}

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Enrolled Providers</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Enrolled Clinics</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Completed Consults</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Patients Served</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-7">
                <p>CPAN, or the Child Psychiatry Access Network is Texas pediatric clinicians' free and trusted mental
                    health resource. UT Health San Antonio serves as an access center providing child and adolescent
                    behavioral health consultation services and training opportunities for pediatric primary care
                    providers.</p>

                <p>Primary care providers may call the CPAN hotline at 1-(888)-901-2726 Select Option 3, then 2 to
                    consult with a psychologist or psychiatrist within 30 minutes of their call. </p>

                <p>Primary care providers and pediatricians alike may ask about mental health assessment, symptoms and
                    psychiatric medications and gain referrals for mental health providers in the community with their
                    patients and families. </p>

                <p><a class="button arrow">Enroll Now</a></p>
            </div>

            <div class="cell small-12 medium-5">
                <div class="responsive-embed">
                    <iframe width="409" height="256" src="https://www.youtube.com/embed/x7JZkBprJh8"
                        title="Project ECHO" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Education</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">CME</a></li>
                            <li><a href="#">ECHO</a></li>
                            <li><a href="#">Schedule</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Recordings</a></li>
                        </ul>
                    </li>
                    <li><a href="#">FAQ</a></li>
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">Additional Programs</a></li>
                            <li><a href="#">Video Library</a></li>
                            <li><a href="#">Educational Resources</a></li>
                            <li><a href="#">Helpful Websites</a></li>
                            <li><a href="#">Community Partners</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">Meet Our Team</a></li>
                            <li><a href="#">Psychiatrists</a></li>
                            <li><a href="#">BHS</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section class="bleed light-beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-12 large-8">
                <h2 class="text-center h3">How Does CPAN Work?</h2>
                <p class="margin-bottom">It's simple to enroll and easy to use. CPAN staff are available
                    Monday-Friday,
                    8am-5pm. No
                    call is too small. We are here to support you. </p>
                <div>
                    <ul class="no-bullet">
                        <li>
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-3 medium-2 large-2 ">
                                    <span class="fa-stack">
                                        <!-- The icon that will wrap the number -->
                                        <span class="fas fa-circle fa-stack-2x"></span>
                                        <!-- a strong element with the custom content, in this case a number -->
                                        <strong class="fa-stack-1x fa-inverse">
                                            1
                                        </strong>
                                    </span>
                                </div>
                                <div class="cell small-9 medium-10 large-10 ">
                                    <p>Call 888-901-2726 Press 3 for Valley and Central regions, then press 2
                                        for
                                        UT
                                        Health San Antonio</p>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <li>
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-3 medium-2 large-2 ">
                                    <span class="fa-stack">
                                        <!-- The icon that will wrap the number -->
                                        <span class="fas fa-circle fa-stack-2x"></span>
                                        <!-- a strong element with the custom content, in this case a number -->
                                        <strong class="fa-stack-1x fa-inverse">
                                            2
                                        </strong>
                                    </span>
                                </div>
                                <div class="cell small-9 medium-10 large-10 ">
                                    <p>Provide basic information to a behavioral health specialist</p>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <li>
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-3 medium-2 large-2 ">
                                    <span class="fa-stack">
                                        <!-- The icon that will wrap the number -->
                                        <span class="fas fa-circle fa-stack-2x"></span>
                                        <!-- a strong element with the custom content, in this case a number -->
                                        <strong class="fa-stack-1x fa-inverse">
                                            3
                                        </strong>
                                    </span>
                                </div>
                                <div class="cell small-9 medium-10 large-10 ">
                                    <p>A UT Health San Antonio Psychiatrist will call you back within 30
                                        minutes
                                    </p>
                                    <div class="check">
                                        <ul>
                                            <li>Consult with a board-certified child and adolescent psychiatrist
                                            </li>
                                            <li>Discuss diagnosis, treatment, medication options and more</li>
                                            <li>Get resources for behavioral health providers, based on patient
                                                location and
                                                insurance
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div class="cell callout outline blue medium-12 large-4">
                <h2 class="h4 text-center">Contact Us</h2>
                <ul class="fa-ul">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </span>
                            <span class="">email@uthscsa.edu</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">###-###-#### </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">Facebook Page</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i></span>
                            </span> <span class="">@twitter_handle</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<!--<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center margin-bottom">
            <div class="cell small-12 medium-9">
                <h2>Connect with Us</h2>
                <p>Pommy ipsum The Hounds of Baskerville flabbergasted pulled out the eating irons double dutch laughing
                    gear big light curry sauce, pillock wedding tackle balderdash sweets black cab bangers and mash
                    pulled
                    out the eating irons copped a bollocking.</p>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">

            <div class="cell small-12 medium-4">
                <ul class="fa-ul">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </span>
                            <span class="">email@uthscsa.edu</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">###-###-#### </span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="cell small-12 medium-4">
                <ul class="fa-ul">
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">Facebook Page</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="fa-li">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </span> <span class="">@twitter_handle</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</section>-->

{% include "@components/footer-prototypes/tchatt-footer.twig" %}