{% include "@components/header-prototypes/header-tchatt.twig" %}
<section class=" hero bleed img-fill gradient white left">
    <img src="https://placedog.net/1920/1080" alt="adorable pup">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-left roomy">
            <div class="small-12 medium-5 cell callout white">
                <img src="../../images/tchatt/cpan-logo.png">
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-tchatt.twig" %}

<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center factoids">
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Enrolled Providers</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hospital fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Enrolled Clinics</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Completed Consults</p>
            </div>
            <div class="cell small-12 medium-3">
                <span class="fa-stack fa-4x grey">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <p class="supersize">####</p>
                <p>Patients Served</p>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-7">
                <p>CPAN, or the Child Psychiatry Access Network is Texas pediatric clinicians' free and trusted mental
                    health resource. UT Health San Antonio serves as an access center providing child and adolescent
                    behavioral health consultation services and training opportunities for pediatric primary care
                    providers.</p>

                <p>Primary care providers may call the CPAN hotline at 1-(888)-901-2726 Select Option 3, then 2 to
                    consult with a psychologist or psychiatrist within 30 minutes of their call. </p>

                <p>Primary care providers and pediatricians alike may ask about mental health assessment, symptoms and
                    psychiatric medications and gain referrals for mental health providers in the community with their
                    patients and families. </p>

                <p><a class="button arrow">Enroll Now</a></p>
            </div>

            <div class="cell small-12 medium-5">
                <div class="responsive-embed">
                    <iframe width="409" height="256" src="https://www.youtube.com/embed/x7JZkBprJh8"
                        title="Project ECHO" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Education</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">CME</a></li>
                            <li><a href="#">ECHO</a></li>
                            <li><a href="#">Schedule</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Recordings</a></li>
                        </ul>
                    </li>
                    <li><a href="#">FAQ</a></li>
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">Additional Programs</a></li>
                            <li><a href="#">Video Library</a></li>
                            <li><a href="#">Educational Resources</a></li>
                            <li><a href="#">Helpful Websites</a></li>
                            <li><a href="#">Community Partners</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <ul class="nested vertical menu">
                            <li><a href="#">Meet Our Team</a></li>
                            <li><a href="#">Psychiatrists</a></li>
                            <li><a href="#">BHS</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section class="bleed color">
    <div class="grid-container">
        <div class="grid-x grid-margin-x text-center align-center margin-bottom">
            <div class="cell small-12 medium-9">
                <h2>How Does CPAN Work?</h2>
                <p class="h5 sans-serif">It's simple to enroll and easy to use. CPAN staff are available Monday-Friday,
                    8am-5pm. No
                    call is too small. We are here to support you. </p>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-2 text-center">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                </span>
                <p class="h5 sans-serif">Step 1</p>
            </div>
            <div class="cell small-12 medium-8">
                <p class="h5 sans-serif">Call 888-901-2726 Press 3 for Valley and Central regions, then press 2 for UT
                    Health San Antonio</p>
            </div>
        </div>

        <hr>

        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-2 text-center">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                </span>
                <p class="h5 sans-serif">Step 2</p>
            </div>
            <div class="cell small-12 medium-8">
                <p class="h5 sans-serif">Provide basic information to a behavioral health specialist</p>
            </div>
        </div>

        <hr>

        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell small-12 medium-2 text-center">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-reply fa-stack-1x fa-inverse"></i>
                </span>
                <p class="h5 sans-serif">Step 3</p>
            </div>
            <div class="cell small-12 medium-8">
                <p class="h5 sans-serif">A UT Health San Antonio Psychiatrist will call you back within 30 minutes</p>
                <div class="check">
                    <ul>
                        <li>Consult with a board-certified child and adolescent psychiatrist</li>
                        <li>Discuss diagnosis, treatment, medication options and more</li>
                        <li>Get resources for behavioral health providers, based on patient location and insurance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-5">
                <h2 class="h3">Who We Serve</h2>
                <a>
                    <img src="../../images/tchatt/coverage.jpg">
                    <p>Need larger image</p>
                    <h3 class="h4">Resources</h3>
                </a>
            </div>
            <div class="cell small-12 medium-5">
                <div class="callout contact outline">
                    <h2 class="h5">Contact Us</h2>
                    <ul class="fa-ul">
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="">email@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">###-###-#### </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">Facebook Page</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="fa-li">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span> <span class="">@twitter_handle</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>

{% include "@components/footer-prototypes/tchatt-footer.twig" %}