{% include "@components/header-prototypes/header-barshop.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-8 medium-8 small-12">
				<h1>Current Clinical Trials in Aging Research</h1>
                <p class="large">UT Health San Antonio and the San Antonio Geriatric Research, Education and Clinical Center (GRECC) at the Audie L. Murphy Memorial VA Hospital partner to initiate clinical research trials to further the medical knowledge of specific treatments and preventions of various age-related diseases. By participating in clinical trials, you can help make a difference in the care and treatment of future patients.</p>
                
			</div>
		</div>
	</div>
</section>
{% include "@components/navigation-prototypes/navbar-barshop.twig" %}
<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <h2>Studies Currently Recruiting</h2>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2020/01/MoTrPAC-Pic-1-e1580224547521-1024x700.png" alt="">
                    <h3><a>Exercise Science/MoTrPAC</a></h3>
                    <p>You know that exercise is good for your health, but have you ever wondered why? We’re looking for men and women who are 18 years of age and older to participate in our MoTrPAC research study.</p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2020/10/Preventable-450x300.jpg" alt="">
                    <h3><a>PREVENTABLE</a></h3>
                    <p>The purpose of this study is to learn if taking a statin could help older adults live well for longer by preventing dementia, disability or heart disease.</p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2022/11/map-450x300.png" alt="">
                    <h3><a>Metformin in Alzheimer’s dementia Prevention (MAP) Study</a></h3>
                    <p>Research study looking at whether metformin can help prevent memory decline for people with mild memory concerns.</p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2021/04/REACH.jpg" alt="">
                    <h3><a>Alzheimer’s Study (REACH Clinical Trial)</a></h3>
                    <p>This trial will evaluate the use of Rapamycin to slow progression of amnestic mild cognitive impairment and early-stage Alzheimer’s.</p>
                </div>
                <div class="cell large-6 medium-6 small-12 margin-bottom">
                    <img src="https://barshopinstitute.uthscsa.edu/wp-content/uploads/sites/67/2022/08/Group-of-multiracial-seniors-on-porch-swing-1536x1025.jpg" alt="">
                    <h3><a>Ursolic Acid Study</a></h3>
                    <p>Help us to understand whether a certain dietary supplement can help muscle health in humans.</p>
                </div>
            </div>
        </div>
        <div class="cell large-4 medium-4 small-12">
            <div class="callout outline">
                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="#">Contact information</a></li>
                    <li><a href="#">Become a study participant</a></li>
                    <li><a href="#">Our investigators</a></li>
                    <li><a href="#">Community outreach</a></li>
                    <li><a href="#">About clinical trials</a></li>
                    <li><a href="#">All UT Health clinical trials</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<section class="bleed beige">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 medium-8 small-12">
                <h2>Studies Closed to Enrollment</h2>
                <ul>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT02874989?term=wake+forest&amp;cond=ipf&amp;rank=1">Targeting Pro-Inflammatory Cells in Idiopathic Pulmonary Fibrosis: a Human Trial</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT02942888?term=texas&amp;cond=NAD&amp;rank=1">The Effects of Nicotinamide Adenine Dinucleotide (NAD) on Brain Function and Cognition</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT02124759?term=Musi&amp;cond=microbiome&amp;rank=2">Mechanism of Microbiome-induced Insulin Resistance in Humans (Aim1)</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT02127125?term=Musi&amp;cond=microbiome&amp;rank=1">Mechanism of Microbiome-induced Insulin Resistance in Humans (Aim2)</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT03119610?term=espinoza&amp;cond=oxytocin&amp;rank=1">The Physiological Effects of Intranasal Oxytocin on Sarcopenic Obesity (INOSO)</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT02874924?term=kellogg&amp;cond=Mtor&amp;rank=1">Effect of mTOR Inhibition and Other Metabolism Modulating Interventions on the Elderly</a></li>
                    <li>Healthy Weight Intervention</li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT02844478">Effect of Stress Busting Program on Caregivers’ Quality of Life, Immunology/Stress Biomarkers and Cellular Aging</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT02380573?cond=Methylene&amp;rank=6">Effects of Methylene Blue in Healthy Aging, Mild Cognitive Impairment and Alzheimer’s Disease (MB2)</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT02844621?term=reveles&amp;rank=1">Effect of Proton Pump Inhibitors on Gut Microbiota and Systemic Inflammation in Older Adults</a></li>
                    <li><a href="https://aspree.org/usa/participants/what-is-aspree-xt/">Aspirin in Reducing Events in the Elderly Extension</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT04049552?term=kellogg&amp;cond=effects+of+rapamycin+ointment&amp;draw=2&amp;rank=1">Effects of topical Rapamycin Ointment</a></li>
                    <li><a href="https://www.clinicaltrials.gov/ct2/show/NCT04440449?term=rozmin+jiwani&amp;cond=diabetes&amp;draw=2&amp;rank=1">Effect of Behavioral Lifestyle Intervention on Frailty in Older Adults with Diabetes: A Pilot Study (Behave Study)</a></li>
                    <li><a href="https://www.clinicaltrials.gov/ct2/show/NCT03452488?term=nicolas+musi&amp;draw=2&amp;rank=9">A Double-blind, Placebo Controlled, Randomized INTerventional Clinical Trial (SARA-INT Study)</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT03713801?term=Impact+of+Metformin+on+Immunity&amp;draw=2&amp;rank=1">Impact of Metformin on Immunity (Immune/Met Study)</a></li>
                    <li><a href="https://clinicaltrials.gov/ct2/show/NCT04200911">Cognition, Age and Rapamycin Effectiveness-Downregulation of the mTor Pathway (CARPE DIEM Study)</a></li>
                    <li><a href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/frailty-prevention/">Metformin for Preventing Frailty in High Risk Older Adults (Frailty Prevention)</a></li>
                    <li><a href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/art-ad/">Anti-Retroviral Therapy for Alzheimer’s Disease (ART-AD)</a></li>
                    <li><a href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/sglt2i/">Effect of SGLT2 inhibition on aging-related biomarkers in older obese adults with pre-diabetes (SGLT2i)</a></li>
                    <li><a href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/topical-rapa/">Topical RAPA</a></li>
                    <li><a href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/thrive/">Effects of Creatine Supplementation in Breast Cancer Survivors (THRIVE)</a></li>
                    <li><a href="https://barshopinstitute.uthscsa.edu/clinical-trials/currently-recruiting/glp1-and-aging/">GLP1 and Aging</a></li>
                </ul>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <h2>Coming Soon</h2>
                <p>Growth Hormone Replacement Therapy in Veterans with mild Traumatic Brain Injury (mTBI) and Adult Growth Hormone Deficiency (AGHD): The GRIT Study</p>
            </div>
        </div>
    </div>
</section>



{% include "@components/footer-prototypes/barshop-footer.twig" %}