{% include "@components/header-prototypes/header-opa.twig" %}
<section class="full hero bleed img-fill extra-roomy">
  <img src="../../images/briscoe-students.jpg" alt="">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-right">
        <div class="small-12 large-6 medium-6 cell callout">
            <h1>Office of Postdoctoral Affairs</h1>
            <p>Enhancing the university's training environment.</p>
            <div class="button-group">
              <p><a class="button" href="../../patterns/prototypes-OPA-postdoc-positions/prototypes-OPA-postdoc-positions.rendered.html">Open Postdoc Positions</a></p>
              <p><a class="button ghost" href="../../patterns/prototypes-OPA-opa-profiles/prototypes-OPA-opa-profiles.rendered.html">Postdoc Profiles</a></p>
            </div>
        </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-OPA.twig" %}
<div class="grid-container">
  <section class="grid-x grid-margin-x align-center-middle">
    <main class="cell large-8 medium-8 small-12">
      <p>The Office of Postdoctoral Affairs is an institutional resource to address the needs and enhance the training environment for postdoctoral research fellows and mentors.</p>
      <p>This office serves the postdoctoral research fellows who are essential members of the multidisciplinary investigative teams at the UT Health San Antonio. There is no question that the research knowledge and skills of newly-minted scientists contribute to the overall success of our research programs. However, the training of early career investigators must also ensure that they:</p>
      <div class="indent">
        <ul>
          <li>Obtain critical career skills</li>
          <li>Build an individual record of accomplishment</li>
          <li>Define and establish networks</li>
        </ul>
      </div>
      <p>The Office of Postdoctoral Affairs supports trainee professional career development to maintain the vitality of our postdoctoral research training environment.</p>
      <p>OPA operates as a unit within the Office of the Vice President for Research. OPA offices are located on the main campus. We provide resources to trainees and mentors from throughout UT Health San Antonio. Please explore the OPA and let us know of your needs.</p>
    </main>
    <aside class="cell large-4 medium-4 small-12">
      <a href="https://www.nationalpostdoc.org/"><img src="https://opa.uthscsa.edu/sites/opa/files/NPA%20Member%20icon%202022.png" style="width:200px" alt=""></a>
      <br>
      <br>
      <div class="event">
        <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
          <div class="month">jan</div>
          <div class="day">10</div>
        </a>
        <div class="details">
          <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_entering_mentoring_fall_2022_workshop">Event name here</a></div>
          <div class="date">January 10, 2023</div>
        </div>
      </div>
       <div class="event">
        <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
          <div class="month">jan</div>
          <div class="day">11</div>
        </a>
        <div class="details">
          <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
          <div class="date">January 11, 2023</div>
        </div>
      </div>
       <div class="event">
        <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
          <div class="month">jan</div>
          <div class="day">20</div>
        </a>
        <div class="details">
          <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
          <div class="date">January 20, 2023</div>
        </div>
      </div>
       <div class="event">
        <a class="date" href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">
          <div class="month">jan</div>
          <div class="day">22</div>
        </a>
        <div class="details">
          <div class="name"><a href="http://uthscsa.staging.localist.com/event/test_genome_editing_using_the_power_to_alter_evolution_responsibly">Event name here</a></div>
          <div class="date">January 22, 2023</div>
        </div>
      </div>
      <p><a class="button ghost" href="http://uthscsa.staging.localist.com/search/events?event_types%5B%5D=41058213406737">View all events</a></p>
    </aside>
  </section>
</div>

<section class="bleed color blue">
  <div class="grid-container img-bleed-left">
    <div class="grid-x grid-margin-x align-middle">
			<div class="cell medium-6 large-6 small-order-2 large-order-1">
				<img src="../../images/riverwalk.jpg" alt="Riverwalk">
			</div>
			<div class="cell medium-6 large-6 small-order-1 large-order-2">
				<h2>Why Us?</h2>
				<p>Cake sweet cheesecake carrot cake jujubes jelly beans marzipan oat cake. Jelly beans ice cream candy canes tootsie roll chocolate bar sugar plum macaroon ice cream. Danish toffee donut ice cream apple pie shortbread biscuit. </p>
				<div class="button-group">
          <p><a class="button" href="../../patterns/prototypes-OPA-prospectives/prototypes-OPA-prospectives.rendered.html">Information for Prospective Postdocs</a></p>
          <p><a class="button ghost" href="https://uthscsa.edu/university/about-san-antonio">About San Antonio</a></p>
        </div>
			</div>
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell large-8 medium-8 small-12">
      <h2>Postdoc Highlights</h2>
      <div class="grid-x grid-margin-x margin-bottom">
        <a class="cell card light-beige large-6 medium-6 small-12 flex-container">
          <img src="https://placekitten.com/420/420">
          <div class="flex-child-auto card-section">
            <h4>Nikki J. Claus, Ph.D.</h4>
          </div>
        </a>
        <a class="cell card light-beige large-6 medium-6 small-12 flex-container">
          <img src="https://placekitten.com/420/420">
          <div class="card-section flex-child-auto">
            <h4>Victor M. Jimenez, Ph.D.</h4>
          </div>
        </a>
      </div>
      <p class="text-center"><a class="button ghost">Postdocs in the news</a></p>
    </div>
  </div>
</section>

<section class="bleed color dark-grey">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle text-center">
      <div class="cell large-10 medium-10 small-12">
        <i class="fas fa-award fa-8x padding-bottom"></i>
        <div class="grid-x grid-margin-x">
          <div class="cell card large-6 medium-6 small-12 flex-container">
            <div class="card-section flex-child-auto">
              <img src="../../images/OPA-RatnaVadlamudi.JPG" alt="">
              <p class="h4">2022 Postdoctoral Research Mentor of the Year</p>
              <p class="h5 bold color">Ratna Vadlamudi, PhD<p>
              <p>Professor & Vice Chair for Research<br>
              Department of Obstetrics & Gynecology<br>
              Division of Reproductive Research</p>
            </div>
          </div>
          <div class="cell card large-6 medium-6 small-12 flex-container">
            <div class="card-section flex-child-auto">
              <img src="../../images/OPA-FranciscaAcosta.JPG" alt="">
              <p class="h4">2022 Postdoctoral Research Fellow of the Year</p>
              <p class="h5 bold color">Francisca M. Acosta, PhD</p>
              <p>Department of Biochemistry & Structural Biology<br>
              Mentor: Jean Jiang, PhD</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bleed light-beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y text-center">
      <div class="cell large-4 medium-4 small-12">
        <a href="https://uthscsa.edu/">
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-shield-alt fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">UT Health San Antonio</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
        <a href="https://uthscsa.edu/academics">
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-school fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Our Schools</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
         <a href="https://www.uthscsa.edu/vpr/collaborations/institutes-centers">
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-building fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Institutes & Centers</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
         <a href="https://www.uthscsa.edu/research/researchers">
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Research Faculty</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
         <a href="https://www.uthscsa.edu/research/areas">
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-disease fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Research Areas</p>
        </a>
      </div>
      <div class="cell large-4 medium-4 small-12">
         <a href="https://www.uthscsa.edu/vpr/core-labs">
          <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-microscope fa-stack-1x fa-inverse"></i>
          </span>
          <p class="large">Research Cores</p>
        </a>
      </div>
    </div>
  </div>
</section>
{% include "@components/footer-prototypes/OPA-no-alamo.twig" %}