{% include "@components/header v2/header-SON.twig" %}
<section class="hero bleed img-fill full">
  <img src="https://source.unsplash.com/1500x750/?nature,water" alt="nature">
  <div class="grid-container extra-roomy">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-8 large-5">
				<div class="callout">
          <h1 class="h2">The Student Experience</h1>
          <p>The Student Success Center has useful tools and services to help you through nursing school and beyond! Our collection of services are designed to meet all of your academic, professional, and extracurricular needs. From peer mentoring to academic coaching to career fairs and commencement, we have resources to support and guide you. Set up an appointment with our staff as needed via Starfish or use the links below to navigate to our modules.</p>
    <p><a class="button">Student Success Staff</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation/navbar-SON.twig" %}
<section class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
        <div class="small-10 cell text-center">
            <h2>Count on the Student Success Center to help you reach your goals</h2>
            <p>The Student Success Center provides students with a full spectrum of academic support beginning with first semester mentoring and continuing with academic preparation for their licensure exam after graduation. Most of the services are located in a centralized center in the School of Nursing.</p>
        </div>
    </div>
</section>
<main class="grid-container ">
	<div class="grid-x grid-margin-x">				
				<div class="cell small-12 medium-4 large-4 lines">
        <h4 class="text-center">Academic Support & Resources</h4>
						<ul>
							<li><a href="#">Academic Coaching</a></li>
							<li><a href="#">Workshops</a></li>
							<li><a href="#">Peer Assisted Learning Sessions</a></li>
              <li><a href="#">Tutoring</a></li>
							<li><a href="#">ADA Accommodations</a></li>
              <li><a href="#">SUNRISE</a></li>
				</div>
			<div class="cell small-12 medium-4 large-4 lines">
              <h4 class="text-center">Student Services</h4>
						<ul>
							<li><a href="#">Peer Mentoring</a></li>
							<li><a href="#">Scholarships</a></li>
							<li><a href="#">Student Leader Development</a></li>
              <li><a href="#">Student Organizations</a></li>
							<li><a href="#">Career Readiness</a></li>
              <li><a href="#">Office of Student Life</a></li>
              <li><a href="#">Take a Virtual Tour for Current Students</a></li>
						</ul>
					</div>
          	<div class="cell small-12 medium-4 large-4 lines">
            <h4 class="text-center">School of Nursing Events</h4>
						<ul>
							<li><a href="#">White Coat Ceremony </a></li>
							<li><a href="#">New Student Orientation</a></li>
							<li><a href="#">Student Leadership Retreat</a></li>
              <li><a href="#">Career Fair</a></li>
							<li><a href="#">Commencement</a></li>
						</ul>
				</div>
        				</div>
</main>

<section class="bleed dark-beige noise">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="small-12 medium-4 cell">
                <a>
                    <img src="https://picsum.photos/id/1015/450/340">
                    <h3>Outreach</h3>
                </a>
                <p>Two undergraduate nursing students had the opportunity to care for veterans when they participated in an appropriately named internship called the VA Learning Opportunities Residency (VALOR) Program.</p>
                <a class="arrow">More info about student outreach</a>
            </div>
            <div class="small-12 medium-4 cell">
                <a>
                    <img src="https://picsum.photos/id/1020/450/340">
                    <h3>Clinical</h3>
                </a>
                <p>Doctoral student and nurse educator is helping new mothers and infants by teaching nurses to recognize risk factors and provide culturally sensitive care.</p>
                <a class="arrow">More info about students in clinical</a>
            </div>
            <div class="small-12 medium-4 cell">
                <a>
                    <img src="https://picsum.photos/id/1035/450/340">
                    <h3>Research</h3>
                </a>
                <p>Leaders in the School of Nursing saw firsthand that underrepresented minority students, who are often first-generation college scholars, face hurdles unknown to other students.</p>
                <a class="arrow">More info about student research</a>
            </div>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-x">
        <section class="cell large-7 small-12 align-self-middle">
            <h2>Useful Links</h2>
            <div class="arrow">
	<ul>
		<li><a href="#">This is a list item in an arrow link list</a></li>
		<li><a href="#">Academic calendar</a> </li>
		<li><a href="#">Catalogs and handbooks</a></li>
		<li><a href="#">Commencement</a></li>
    <li><a href="#">Financial aid and scholarships</a></li>
		<li><a href="#">Parking</a></li>
		<li><a href="#">Public transportation</a></li>
	</ul>
</div>
        </section>
        <aside class="cell large-5 small-12">
            {% include "@components/dates/long-event.twig" %}
            <br>
            {% include "@components/dates/long-event.twig" %}
            <br>
            <p><a class="arrow">All events</a></p>
        </aside>
    </div>
</section>
<footer class="flatten">
  <div class="shield">
    <section class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
          <h2>UT Health San Antonio</h2>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">210-450-0000</a>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            </a>
            <address>
              7703 Floyd Curl Drive<br>
              San Antonio, TX 78226<br>
              <a href="#" class="arrow">Map and directions</a>
            </address>
          </div>
          <div class="contact">
            <a href="#" class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
            <a href="#">email@uthscsa.edu</a>
          </div>
        </div>
        <div class="cell large-3 medium-4 small-10">
          <ul>
            <li><a href="#" class="arrow">About us</a></li>
            <li><a href="#" class="arrow">Contact us</a></li>
            <li><a href="#" class="arrow">Faculty directory</a></li>
            <li><a href="#" class="arrow">Job opernings</a></li>
            <li><a href="#" class="arrow">Newsroom</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cell large-5 medium-4 small-10">
          <p class="large-text">We make lives better ®</p>
          <p>The University of Texas Health Science Center at San Antonio, also called <a href="#">UT Health San Antonio</a>, is a leading academic health center with a mission to make lives better through excellence in <a href="#">advanced academics</a>, <a href="#">life-saving research</a> and comprehensive clinical care including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer services</a>.</p>
        </div>
        <div class="cell large-1 medium-0 small-0"></div>
      </div>
    </section>
  </div>
  <section class="bleed">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <p><strong><a href="#">Web Privacy</a></strong> | Links from websites affiliated with UT Health's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
        </div>
      </div>
    </div>
  </section>
</footer>