{% include "@components/header-prototypes/header-cprit.twig" %}
<section class="full hero bleed img-fill extra-roomy">
    <img src="https://placedog.net/1500/750" alt="adorable pup">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1 class="margin-bottom">Texas Pediatric Cancer Drug Testing Core (TPCDTC)</h1>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-cprit.twig" %}
<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <p>The objective of the CPRIT (Cancer Prevention and Research Institute of Texas) supported TPCDTC is to provide reproducible high-quality in vivo data to guide pediatric clinical development of novel agents and combinations. This CPRIT Core facility has developed within the context of the Research to Accelerate Cures and Equity for Children Act (<a class="coward">RACE for Children Act)</a>. For preclinical testing, this will necessitate having sufficient models with the appropriate genetic alterations in the context of the appropriate childhood cancer types. The RACE Act requires the FDA to develop a list of molecular targets of known and new drugs/biologics. If agents are determined to be substantially relevant to the growth and progression of pediatric cancer, this may trigger the requirement for pediatric investigations. This expectation applies both to drugs/biologics being developed by Pharma and by academic centers. Our primary focus is to use the 170 patient-derived xenograft (PDX) models established and characterized under the previous CPRIT grant (RP160716) as well as additional models developed by this group.</p>
                <h3>Meet our team</h3>
                <p><strong>Raushan T. Kurmasheva, Ph.D.</strong> is Assistant Professor at the Greehey Children’s Cancer Research Institute (GCCRI), with an academic appointment in Molecular Medicine, will provide scientific coordination of the testing. Dr. Kurmasheva has over 12 years of experience using human tumor xenografts, in the Pediatric Preclinical Testing Program/Consortium (PPTP/C) and as MPI in the current Pediatric In Vivo Testing Program (PIVOT). To date, she has published 87 peer-reviewed papers and holds the position of the UT Health SA Designated Animal Research Officer (DARO) for the Greehey Children’s Cancer Research Institute (GCCRI). She is a member of the Pediatric Oncology Experimental Therapeutics Investigators’ Consortium (POETIC).</p>

<p><strong>Siyuan Zheng, Ph.D.</strong> CPRIT Scholar in Cancer Research, Assistant Professor, Department of Population Health Sciences. Dr. Zheng has broad experience in bioinformatics, cancer genomics,  and tool/pipeline development. During his postdoctoral training, he was extensively involved in TCGA and co-led the TCGA adrenocortical carcinoma project. He has published more than 70 research papers in peer reviewed journals since 2008. At GCCRI, his group developed the PCAT portal (PDXs for Childhood Cancer Therapeutics, http://pedtranscriptome.org/). At the core, his group will analyze the genomic datasets and use the information to assist in selection of molecularly characterized models.</p> 

<p><strong>Peter J. Houghton, Ph.D.</strong>, Professor, Molecular Medicine UTHSA, is an accomplished scientist who pioneered development of PDX models of childhood cancers. He has published over 380 peer reviewed articles on use of PDX models and developed several of the chemotherapeutic regimens currently used by COG for treatment of both solid and brain tumors. He led the Pediatric Preclinical Testing Program (PPTP) and this group was part of the Pediatric Preclinical Testing Consortium (PPTC) and current PIVOT program supported by the NCI. These programs have developed standard operating procedures for developing both solid tumor and leukemia PDX models.</p>                
            </main>
            <aside class="small-12 medium-4 cell">
        <div class="cell callout small-12 medium-6 large-4 text-center">
            <div class="grid-y factoids">
                <div class="cell">
                    <h3>Quickfacts</h3>
                </div>
                <div class="cell">
                    <h4>81</h4>
                    <p>new PDX models of solid tumors established as xenografts in NSG mice</p>
                </div>
                <div class="cell">
                    <h4>79</h4>
                    <p>new patient derived xenograft models of childhood leukemia</p>
                </div>
                <div class="cell">
                    <h4>150+</h4>
                    <p>sequenced germline, patient tumor and its respective PDX model</p>
                </div>
            </div>
        </div>
        <a class="callout color orange flex-child-auto">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Learn more about TPCDTC</h3>
            </a>
            </aside>
        </div>
    </div>
</section>

<section class="bleed light-grey">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 medium-6 large-6">
                <img src="https://picsum.photos/690/400">
            </div>
            <div class="cell small-12 medium-6 large-6">
             <h2>Helpful links</h2>
             <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="arrow">
                    <ul>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Publications</a></li>
                        <li><a href="#">Our Team</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@blocks/footer/no-alamo.twig" %}