{% include "@components/header-prototypes/header-police.twig" %}


<section class="hero bleed img-fill full">
    <img src="../../images/utpd-careers.jpg" alt="UT Health Campus with police cars">
    <div class="grid-container godly margin-top-2">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-5 small-12">
                <div class="callout">
                    <h1>Careers</h1>
                    <p>We seek candidates from all backgrounds who have a strong desire to make a difference while
                        serving the university community. We offer excellent training, competitive pay, great benefits
                        and advancement opportunities.</p>
                    <p><a href="https://wp.uthscsa.edu/careers/" class="button">Open Positions</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "@components/navigation-prototypes/navbar-police.twig" %}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="small-12 medium-8 cell">
                <h2 class="h3 ">Qualifications</h2>
                <p>Applicants must possess the following qualifications:</p>

                <ul>
                    <li>Must have reached their 21st birthday on the date of commissioning</li>
                    <li>Must be able to pass a physical agility test</li>
                    <li>Must have a high school diploma or have passed a General Education Development test</li>
                    <li>Must be able to meet hearing and visual requirements</li>
                    <li>Must pass a thorough background investigation and interview panel</li>
                    <li>Must meet the minimum standards for appointment as required by the Texas Occupations Code, The
                        Texas Administrative Code, and the Rules of the Texas Commission on Law Enforcement.</li>
                </ul>

                <h2 class="h3 ">Hiring process</h2>

                <p>The hiring process for UT Police consists of several phases, including, but not limited to, the
                    following steps:</p>

                <ul>
                    <li>Online application</li>
                    <li>Screening by UT Police committee to ensure minimum standards are met</li>
                    <li>Physical agility test</li>
                    <li>Oral interview board</li>
                    <li>Background investigation</li>
                    <li>Interview with chief of police</li>
                    <li>Medical evaluation</li>
                    <li>Psychiatric evaluation</li>
                    <li>Polygraph examination</li>

                </ul>

                <h2 class="h3 ">Lateral hires</h2>

                <p>UT Police accepts applications for individuals who have successfully completed a <a>Texas Commission
                        on Law Enforcement (TCOLE)</a> approved Basic Peace Office Course and successfully passed the
                    TCOLE licensing program. </p>

                <h2 class="h3 ">Salary information</h2>

                <p>Salaries for police officers at the University of Texas Health Science Center at San Antonio vary by
                    job description and certification level. Individuals hired by the department have the opportunity to
                    work toward higher classification and salary levels during the course of their employment.</p>

            </main>

            <aside class="cell small-12 medium-4">

                <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
                    <li><a href="https://www.uthscsa.edu/police/benefits">Benefits</a></li>
                    <li><a href="https://www.uthscsa.edu/police/uniforms-equipment">Uniforms & Equipment</a></li>
                    <li><a href="https://www.uthscsa.edu/police/career-paths">Career Paths</a></li>
                    <li><a href="https://www.uthscsa.edu/police/police-authority-jurisdiction">Authority &
                            Jursdiction</a></li>
                    <li><a href="https://www.uthscsa.edu/police/history">History</a></li>
                </ul>


                <div class="callout">

                    <p>To apply for open positions, visit the <a>Office of Human Resources</a>.</p>

                </div>

            </aside>
        </div>
    </div>
</section>

{% include "@blocks/footer/alamo.twig" %}