{% include "@components/header-prototypes/header-tchatt.twig" %}

<section class="bleed hero">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
                <h1>About TCHATT</h1>
                <p>Pommy ipsum completely crackers one would like spam fritters, posh nosh Queen Elizabeth cockney,
                    bloody mary a diamond geezer fake tan. Shortbread sweet fanny adams bits 'n bobs any road, best be
                    off flabbergasted, getting on my wick Doctor Who.</p>
                <div class="button-group">
                    <p><a href="#" class="hero button">Resources</a></p>
                </div>
            </div>
            <div class="cell small-12 medium-5 large-5 align-self-middle">

            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-tchatt.twig" %}


<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <main class="cell medium-8 small-12">
                <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish and
                    chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy. Lug
                    hole jolly hockey sticks bobby on't goggle box bargain Betty queer as a clockwork orange I'm off to
                    Bedfordshire, Doctor Who I bid you good day Northeners corgi for sooth double dutch, cockney
                    argy-bargy had a barney with the inlaws scatterbrained proper.
                </p>

                <p>a right royal knees up. A right toff a tad by 'eck love sausage roll baffled Doctor Who every
                    fortnight cheerio wellies, know your onions brown sauce Sonic Screwdriver marmite it's the bees
                    knees red telephone box. Wibbly-wobbly timey-wimey stuff numbskull queer as a clockwork orange
                    ridicule bow ties are cool sweets down the village green bits 'n bobs a diamond geezer terribly, a
                    tad porky-pies throw a spanner in the works nowt bobby scatterbrained Shakespeare.</p>

                <p><a href="#" class="hero button">Our Team</a></p>
            </main>

            <aside class="cell medium-4 small-12">
                <img src="https://placedog.net/600/450" alt="adorable pup">
            </aside>
        </div>
    </div>
</section>


<section class="bleed light-grey rocky">
    <div class="grid-container">
        <div class="grid-x align-center">
            <div class="cell small-12 medium-8">
                <h2 class="text-center">Specialty Clinics</h2>
            </div>
            <div class="grid-x grid-margin-x margin-bottom">
                <div class="cell callout white small-12 medium-4">
                    <h3 class="h5">Trauma</h3>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
                <div class="cell callout white small-12 medium-4">
                    <h3 class="h5">Anxiety</h3>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
                <div class="cell callout white small-12 medium-4">
                    <h3 class="h5">Substance Abuse</h3>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                </div>
            </div>
            <p><a class="button ghost">Clinic Locations</a></p>
        </div>
    </div>
</section>

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="cell card small-12 medium-5">
                <div class="card-section">
                    <img src="https://placedog.net/534/300">
                    <h2 class="h4">PCIT</h2>
                    <p class="subheader">Parent Child Interaction Therapy</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                    <div class="button-group">
                        <p><a href="#" class="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="cell card small-12 medium-5">
                <div class="card-section">
                    <img src="https://placedog.net/534/300">
                    <h2 class="h4">YAM</h2>
                    <p class="subheader">Youth Aware of Mental Health</p>
                    <p>Pommy ipsum yorkshire mixture beefeater ridiculous by 'eck love down the village green, quid fish
                        and
                        chips a comely wench wellies morris dancers, quid I'd reet fancy a golly gosh loo easy peasy.
                    </p>
                    <div class="button-group">
                        <p><a href="#" class="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% include "@components/footer-prototypes/tchatt-footer.twig" %}