{% include "@components/header-prototypes/header-ba.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 small-12">
                <h1>Office of the Bursar</h1>
                <p>The Office of the Bursar is located in room 301L of the Medical School. Office hours are Monday
                    through Friday, 8:30 a.m.-4:45 p.m. The office is closed for state holidays.</p>
            </div>
            <div class="cell small-12 medium-5">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-ba.twig" %}


<section class="grid-container">
    <div class="grid-x grid-margin-x">
        <main class="cell small-12 medium-8">
            <h2>Our Mission</h2>
            <p>The mission of the Office of the Bursar is to manage:
            </p>

            <ul class="margin-bottom">
                <li>Student accounting includes collection of student tuition and fees; student tuition and fee
                    installments program, management, billing and collection of student long and short-term accounts
                    receivable. </li>
                <li>Cashier functions include serving as the depository for institutional funds and administering the
                    institution's petty cash fund. </li>
                <li>Cash management functions include maintenance of adequate liquidity to fund short-term cash needs
                    and management and coordination of Health Science Center banking services. </li>
                <li>Investment functions include managing investable cash assets to optimize return and liquidity in
                    compliance with pertinent federal, state and University of Texas System investment policies.
                </li>
            </ul>

            <p><a class="button" heref="#">Bursar Staff</a></p>

        </main>
        <aside class="cell small-12 medium-4">
            <a class="callout color orange">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-pencil-ruler fa-stack-1x fa-inverse"></i>
                </span>
                <h3>For Students</h3>
            </a>
        </aside>
    </div>
</section>

{% include "@components/footer-prototypes/ba-footer.twig" %}