{% include "@components/header-prototypes/header-infosec.twig" %}
<section class="hero bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-7 medium-7 small-12">

                <h1>Digital certificates/signatures, email and password security</h1>
                <p>Personal digital certificates, email guidelines and password security measures protect information being sent to and from university system users.</p>
			</div>
      <div class="cell large-5 medium-5 small-12">
    </div>
		</div>
	</div>
</section>

{% include "@components/navigation-prototypes/navbar-infosec.twig" %}

<section class="grid-container">
  <div class="grid-x grid-margin-x">
      <main class="cell large-8 medium-8 small-12">
         <div class="grid-x sidecar grey margin-bottom">
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout outline flex-child-auto">
                  <h5>Secure email</h5>
                  <p>UT Health San Antonio's secure email product provides a solution for university members who must communicate securely with organizations, companies or individuals outside of the university. This solution meets state and federal requirements that prohibit transmitting sensitive information in an unprotected format.</p>
                  <p><a href="#" class="button">Find out more</a></p>
               </div>
            </div>
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout flex-child-auto">
                  <h5>Password reset and tips</h5>
                  <p>Most of the accounts created for you on UT Health Science Center systems will operate on a single password known as your UTHSCSA Domain Password.</p>
                  <div class="button-group">
                     <p><a href="#" class="button">Find out more</a></p>
                    <p><a href="#" class="button ghost">Self-service password reset</a></p>
                    </div>
               </div>
            </div>
            <div class="grid-x sidecar grey">
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout outline flex-child-auto">
                  <h5>Digital certificates and signatures</h5>
                  <p>Personal digital certificates allow the user to be identified as the sender of an email, as the final authority on a word processing document or spreadsheet, or as the signer of a PDF file.</p>
                  <p><a href="#" class="button">Request, download and install</a></p>
               </div>
            </div>
            <div class="cell medium-12 large-6 flex-container">
               <div class="callout flex-child-auto">
                  <h5>How-to use your digital certificate with:</h5>
                  <p><a class="arrow">your browser <i>(go here first!)</i></a></p>
                  <p><a class="arrow">Outlook 2010 email</a></p>
                  <p><a class="arrow">Outlook Web Access (OWA)</a></p>
                  <p><a class="arrow">Adobe Reader XI</a></p>
                  <p><a class="arrow">Microsoft Word 2010</a></p>
                  <p><a class="arrow">Microsoft Excel 2010</a></p>
                    </div>
               </div>
            </div>
            </div>
    </main>
    <aside class="cell large-4 medium-4 small-12">
     <div class="text-center margin-bottom">
     <h3 class="h5">Information Security Department</h3>
     <p>Contact Infosec directly at 210-567-0707 or <a href="#">infosec@uthscsa.edu</a></p></div>
                  
               <a class="callout color blue flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">Chat with Service Desk</h3>
            <p>210-567-7777</p>
        </a>
        <a class="callout color orange flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user-cog fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">Epic Support Desk</h3>
            <p>210-450-HELP or 210-450-4800</p>
        </a>
        <a class="callout color grey flex-child-auto">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="h5">IMS Self-Service</h3>
        </a>
        <div class="margin">
        <h3 class="h5">Helpful Resources</h3>
            <p><a class="arrow">IMS Self-Service information</a></p>
            <p><a class="arrow">Submit feedback - online form </a></p>
<p class="bold">Follow us on Twitter</p>
<div class="social">
   <ul>
      <li><a href="#">
            <span class="fa-stack fa-lg">
               <i class="fas fa-square fa-stack-2x"></i>
               <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
      </li>
   </ul>
   </div>
</div>
    </aside>
  </div>
</section>

{% include "@components/footer-prototypes/ADRC-footer.twig" %}