{% include "@components/header-prototypes/header-RDMS.twig" %}
{% include "@components/navigation-prototypes/navbar-RDMS.twig" %}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a>Analyze, Process & Store</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Virtal Machines
    </li>
  </ul>
</nav>
<section class="grid-container">
	
  <div class="grid-x grid-margin-x">
    <div class="cell large-10 medium-10 small-12">
      <h1>Virtual Machines</h1>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
		<main class="cell large-8 large-order-1 medium-8  medium-order-1 small-12 small-order-2">
			<h2>Heading</h2>
      <p>Bonbon tiramisu candy liquorice lemon drops icing pie. Gingerbread croissant oat cake tart dragée. Gummi bears marshmallow biscuit lollipop toffee lollipop tiramisu tiramisu halvah. Carrot cake cookie sweet pudding croissant. Toffee tart sesame snaps tiramisu cake croissant biscuit sweet roll. Sweet roll chocolate bar lollipop icing jelly-o cake sweet roll macaroon. Sweet icing chupa chups dragée jujubes tiramisu bonbon cupcake sweet. Pie carrot cake candy canes powder chocolate sweet. Sesame snaps tootsie roll fruitcake sugar plum wafer. Apple pie jelly beans donut powder bonbon toffee soufflé. Jujubes brownie lemon drops cotton candy macaroon wafer candy tiramisu topping. Lemon drops cotton candy candy canes pie tart pastry.</p>
      <h2>Heading</h2>
      <p>Carrot cake jelly ice cream caramels lollipop wafer powder sesame snaps icing. Icing chocolate toffee icing tootsie roll danish biscuit candy. Sesame snaps jelly sugar plum tart caramels. Croissant tiramisu sweet roll dragée toffee dessert shortbread sweet roll pie. Muffin chupa chups pudding bonbon candy canes.</p>
      <p><a href="#" class="arrow">Example link to webpage</a></p>
      <h3>Subheading</h3>
      <p>Sweet roll muffin cake lollipop ice cream sesame snaps bear claw. Jelly beans sweet brownie croissant sweet roll biscuit jujubes jelly-o. Chocolate bar pudding muffin dragée sugar plum soufflé oat cake cake chocolate cake. Chocolate cake ice cream sweet roll ice cream macaroon carrot cake tart. Fruitcake bonbon marzipan sugar plum bear claw jujubes topping. Topping lemon drops wafer bonbon gingerbread lollipop. Gummies sweet roll icing sesame snaps marshmallow powder cake cake. Brownie cupcake pastry sugar plum shortbread toffee carrot cake lemon drops sugar plum.</p>
		</main>
		<aside class="cell large-4 large-order-2 medium-4 medium-order-2 small-12 small-order-1">
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        
        <li><a>Backup & Archive</a></li>
        <li><a>Data Management & Sharing</a></li>
        <li><a>Data Movement/Tiering Tool</a></li>
        <li><a>Data Security Access & Permission Management Tool</a></li>
        <li><a>Data Storage Options</a></li>
        <li><a>Data Transfer & Sharing Tool</a></li>
        <li><a>Research Computing</a></li>
        <li><a>Systems & Compute Options</a></li>
        <li><a>TACC Systems</a></li>
        <li><a class="is-active">Virtual Machines</a></li>
  
      </ul>
		</aside>
	</div>
</section>
{% include "@blocks/footer/RDMS-footer.twig" %}