{% include "@components/header-prototypes/header-cheever.twig" %}

<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7 medium-7 small-12">
                <h1>Global Health</h1>
                <p>An area of study, research, and practice that seeks to achieve health equity for all people
                    worldwide. Our global health program provides a unique opportunity for our faculty and staff to
                    teach medical ethics and humanitarian values through structured and mentored experiential learning
                    opportunities in developing countries.</p>

                <p><a class="button">Assistant Director of Global Health</a></p>

            </div>
            <div class="cell large-5 medium-5 small-12">
                <div class="responsive-embed">
                    <iframe width="492" height="302" src="https://www.youtube.com/embed/XisSTh1jq4I"
                        title="Center for Medical Humanities | Global Health" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-cheever.twig" %}

<main class="grid-container roomy">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 small-12">
            <h2 class="h3">Our Global Health Program</h2>

            <p>The primary goal of our program is to provide valuable services that address the pre-identified needs of
                our partners and their beneficiaries, whether they be physicians, nurses or community members, while
                simultaneously serving as a bridge between the ethics and global health education students receive
                through the Charles E. Cheever Jr. Center for Medical Humanities and Ethics curriculum. All of the
                Center’s global health electives adhere to a Community Service Learning model, where we provide a
                structured educational experience that combines service with preparation and reflection. Through these
                structured experiences, our global health electives contribute to the development of empathy and
                humanitarian values in the next generation of health care providers.</p>

            <h2 class="h3">Our Mission</h2>

            <p>The primary goal of our program is to provide valuable services that address the pre-identified needs of
                our partners and their beneficiaries, whether they be physicians, nurses or community members, while
                simultaneously serving as a bridge between the ethics and global health education students receive
                through the Charles E. Cheever Jr. Center for Medical Humanities and Ethics curriculum. All of the
                Center’s global health electives adhere to a Community Service Learning model, where we provide a
                structured educational experience that combines service with preparation and reflection. Through these
                structured experiences, our global health electives contribute to the development of empathy and
                humanitarian values in the next generation of health care providers.</p>

            <div class="callout">
                <h3 class="h4">Contact Us</h3>
                <p><a>globalhealth@uthscsa.edu</a></p>
            </div>


        </div>
        <div class="cell large-4 medium-4 small-12">
            <div class="callout outline lines">
                <h3 class="h4">Quick Links</h3>
                <ul>
                    <li><a href="#">Program Directory</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>

            <div class="responsive-embed">
                <iframe width="403" height="252" src="https://www.youtube.com/embed/ug3D0B4gcjs"
                    title="Building Common-Unity One Club at a Time | Jason Rosenfeld | TEDxSanAntonio" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>

<section class="bleed color orange rocky">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-5 large-4 callout">
                <h2 class="h4">Global Health Electives</h2>

                <div class="arrow">
                    <ul>
                        <li><a href="">ELEC 5047: Foundations in Global Health</a></li>
                        <li><a href="">ELEC 5057: Leadership in Global Health</a></li>
                        <li><a href="">INTD 7003: International Medicine</a></li>
                        <li><a href="">INTD 4030: Caring for Marginalized Communities</a></li>
                        <li><a href="">MEDI 4151: Poverty, Health and Disease</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell medium-7 large-8 small-12">
                <blockquote>
                    <p>“We leave Uganda every year with more knowledge, compassion, empathy, gratitude, and an increased
                        desire to become the best physicians that we can be. Diseases like malaria, typhoid, and HIV are
                        no longer descriptions in a book for us, they are vivid images of lethargic children, brittle,
                        malnourished middle-aged men, and strong, stern-faced women. We will return to our medical
                        education inspired and with an increased fervency, knowing full-well the challenges that await
                        us on the other side. We are so grateful for the mentors that we have found along the way, both
                        in the US and in Uganda. They have led us down a path that turns the ‘business’ of medicine on
                        its head, favoring instead the art that medicine is intended to be.”</p>
                    <cite>Kisiboka Uganda Medical Student Team Member</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>


{% include "@components/footer-prototypes/cheever-footer.twig" %}