{% include "@components/header-prototypes/header-facility-space.twig" %}
<section class=" hero bleed img-fill">
    <img src="../../images/gsbs-admin.jpg" alt="adorable pup">
    <div class="grid-container godly">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout">
                <h1>Facility Space Planning and Real Estate</h1>

            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-facility-space.twig" %}

<section>
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center">
            <main class="cell small-12 medium-7 large-8">
                <h2>Welcome</h2>
                <p>The Office of Facility Space Planning and Real Estate is responsible for the management and oversight
                    of University Scheduling, Institutional space allocation and the space inventory, and reporting of
                    room information to the Texas Higher Education Coordinating Board. Additionally, the department
                    administers all Health Science Center leases. Institutionally owned and leased spaces total
                    approximately 3.5 million square feet. This office works to develop short and long term space
                    planning strategies to meet the goals and objectives of the Institution and to provide appropriate,
                    functional space for students, faculty and staff. </p>

                <p>We are ready to assist with all of your space needs.</p>
            </main>
            <aside class="cell small-12 medium-5 large-4">
                <a class="callout color orange flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>University Scheduling</h3>
                </a>

                <a class="callout color grey flex-child-auto">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file-signature fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Polcies & Forms</h3>
                </a>
            </aside>
        </div>
    </div>
</section>

{% include "@components/footer-prototypes/facility-space-footer.twig" %}