{% include "@components/header-prototypes/header-cheever.twig" %}
<section class="hero bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 small-12">
                <h1>About Us</h1>

                <p>The Charles E. Cheever Jr. Center for Medical Humanities and Ethics works to ensure that students are
                    knowledgeable about the principles of medical ethics related to their professional activities. They
                    are expected to be able to identify, analyze and resolve moral conflicts that arise in the care of a
                    patient. Our program helps heighten students' sensitivity to the patient's experience and preserve
                    their innate empathy.</p>

                <p><a href="#" class="button">Contact Us</a></p>
            </div>
            <div class="cell small-12 medium-5">
                <img src="../../images/altc.jpg" alt="Shot of ALTC">
            </div>
        </div>
    </div>
</section>
{% include "@components/navigation-prototypes/navbar-cheever.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}


<section class="">
    <div class="grid-container ">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-8">
                <h2 class="h3">Who We Are</h2>
                <p>The Charles E. Cheever Jr. for Medical Humanities and Ethics Center’s vision is to develop a unique
                    program that will make a significant difference in the quality of medical education in the United
                    States. The program emphasizes ethics and professionalism and encourages community service learning
                    in clinics around San Antonio, in the colonias of Laredo and Corpus Christi and in missions abroad,
                    where medical students experience medicine as it is practiced in resource-limited environments.</p>

                <h3 class="h4 color">Our Mission and Vision</h3>
                <p>The Charles E. Cheever Jr. Center for Medical Humanities and Ethics provides an innovative program
                    that makes a significant difference in the quality of medical education in the United States. The
                    program emphasizes ethics and professionalism education and encourages community service learning in
                    and around San Antonio, in South Texas, and in missions abroad, where students experience health
                    care as it is practiced in resource-limited environments.</p>

                <p>The Center works to ensure that students are both knowledgeable about the principles of health care
                    ethics related to their professional activities and also remain sensitive to the patient’s
                    experience. Through varied classroom and field activities, students learn to identify, analyze and
                    resolve moral conflicts that arise in the care of a patient while preserving the innate empathy that
                    initially attracted our students to the healing professions.</p>

                <p>By nurturing empathy and humanitarian values while learning practical skills, we fulfill the Center’s
                    vision: to prepare tomorrow’s healers to act with compassion and justice.</p>

                <p>We fulfill our mission to educate medical students and health professionals in ethics and
                    professionalism while nurturing empathy and humanitarian values by:</p>


                <div class="indent-list">
                    <ul>
                        <li>Preparing students to identify, analyze and resolve moral conflicts in patient care and
                            medical
                            research;</li>
                        <li>Deepening the attentiveness to patients that will persist throughout students’ careers
                            through
                            exposure to excellent clinical role modeling, arts and letters; and</li>
                        <li>Providing a distinguished interdisciplinary community service learning program that serves
                            as a
                            bridge between ethics education and the development of empathy and humanitarian values.</li>
                    </ul>
                </div>

                <p>The Charles E. Cheever Jr. Center for Medical Humanities and Ethics focuses on four key areas:
                    Medical Ethics and Professionalism, Literature and Art, Community Engaged Learning, and Global
                    Health</p>
            </div>
            <div class="cell small-12 medium-5 large-4">
                <a class="callout color orange">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-history fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Our History</h3>
                </a>
                <a class="callout color blue">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Advisory Councils</h3>
                </a>
                <a class="callout color grey">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-video fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Video Library</h3>
                </a>
                <blockquote class="fancy">
                    <p>The practice of medicine is an art, not a trade; a calling, not a business; a calling in which
                        your heart will be exercised equally with your head.</p>
                    <cite>Sir William Osler</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section class="bleed beige">
    <div class="grid-container roomy">
        <div class="grid-x grid-margin-x align-center-middle">

            <div class="cell medium-5 large-4 text-center">
                <span class="fa-stack fa-8x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hand-holding-medical fa-stack-1x fa-inverse"></i>
                </span>
            </div>

            <div class="cell medium-7 large-8">
                <h2>Donate to the Center</h2>

                <p>Matthew Dacso, MD, MSc has been appointed as new Director of the Charles E. Cheever, Jr. Center for
                    Medical Humanities and Ethics and Professor in the Department of Medicine with a start date of May
                    1, 2024. Dr. Dacso was selected after a national search led by Dr. Francisco Cigarroa.</p>
                <div class="button-group">
                    <p><a href="#" class="button">Donate</a></p>
                </div>
            </div>

        </div>
    </div>
</section>

{% include "@components/footer-prototypes/cheever-footer.twig" %}