{% include "@components/header-prototypes/header-LSOM.twig" %}
<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="hero card">
      <div class="grid-x align-middle">
        <div class="large-6 medium-6 small-12 cell">
          <div class="card-section">
            <h1>Bench to Bedside and Beyond</h1>
          </div>
        </div>
        <div class="cell large-6 medium-6 small-12">
          <img src="https://www.uthscsa.edu/sites/default/files/research/topics/images/drchiang.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/navigation-prototypes/navbar-LSOM.twig" %}
{% include "@components/navigation/breadcrumbs.twig" %}


<section class="grid-container">
  <div class="grid-x grid-margin-x">
    <main class="cell large-8 large-order-1 medium-7 medium-order-1 small-12 small-order-2">
      <p>UT Health San Antonio is the primary training site for health professionals serving the South Texas region. As a result of long-standing partnerships and productive relationships formed since its founding, UT Health San Antonio has grown to be a major education and research institution and is the chief catalyst for the leading sector of the San Antonio economy, the biosciences and health care industry. Designated as a Hispanic-Serving Institution by the US Department of Education, the Health Science Center is the largest comprehensive health sciences university in South Texas, and the only tier-one research institution in South Texas.</p>
      <p>Long School of Medicine faculty are international leaders in behavioral health, neuroscience, imaging research, cancer, diabetes, healthy development and aging, and many other fields. Their affiliation with UT Health San Antonio other provides access to institutional core facilities, 13 UT Health San Antonio centers and institutes, funding programs, six clinical care partners, and several partner institutions (including the Texas Biomedical Research Institute and the Southwest Research Institute).</p>
    </main>
  </div>
</section>

<section class="bleed color dark-grey">
  <div class="grid-container img-bleed-right">
    <div class="grid-x align-middle">
      <div class="cell large-6 medium-6 small-12">
        <div class="callout jump-right">
          <h2>Resources</h2>
          <div class="arrow loose-list">
            <ul>
              <li><a href="http://research.uthscsa.edu/CTO/">Clinical Trials Office</a></li>
              <li><a>UT Health San Antonio Vice President for Research</a></li>
              <li><a href="https://www.uthscsa.edu/vpr/core-labs">UT Health San Antonio Research Cores</a></li>
              <li><a href="http://research.uthscsa.edu/osp/index.shtml">Office for Sponsored Programs</a></li>
              <li><a href="https://scholars.uthscsa.edu/">Scholars at UT Health San Antonio</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cell large-6 medium-6 small-12">
        <img src="https://www.uthscsa.edu/sites/default/files/research/topics/featured-images/students.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="grid-container">
  <h2 class="text-center">Additional Research Highlights</h2>
  <div class="grid-x grid-margin-x">

    <a href="#" class="card cell small-12 medium-6 large-3 color grey">
      <img src="https://www.uthscsa.edu/sites/default/files/3a9_1bf_13070105_3735683833_4.jpeg" alt="">
      <div class="card-section">
        <h4>Mission in biomedical science</h4>
        <p>Cancer research at UT Health San Antonio, is getting a $23 million boost from the Cancer Prevention and Research Institute of Texas (CPRIT). Various laboratories of UT Health San Antonio will benefit from the new CPRIT support, while additional funds will expand drug development research and clinical trials.</p>
      </div>
    </a>
    <a href="#" class="card cell small-12 medium-6 large-3 color grey">
      <img src="https://www.uthscsa.edu/sites/default/files/cestero_retractor_white-coat-resize-1152x1536.jpeg" alt="">
      <div class="card-section">
        <h4>Clinical</h4>
        <p>Ramon Cestero, MD, MBA, FACS, FCCM, trauma surgeon and clinical professor in the Department of Surgery, invented a new design for an abdominal surgical retractor, helping to advance surgical procedures and improve patient outcomes.</p>
      </div>
    </a>
    <a href="#" class="card cell small-12 medium-6 large-3 color grey">
      <img src="https://www.uthscsa.edu/sites/default/files/olsen.jpeg" alt="">
      <div class="card-section">
        <h4>Translational</h4>
        <p>Shaun K. Olsen, Ph.D., has been awarded a $1 million UT System Faculty STARs award to conduct innovative research to better understand the molecular mechanisms of diseases and advance drug discovery efforts for treatment.</p>
      </div>
    </a>
    <a href="#" class="card cell small-12 medium-6 large-3 color grey">
      <img src="https://www.uthscsa.edu/sites/default/files/istock-168715138.jpeg" alt="">
      <div class="card-section">
        <h4>Community</h4>
        <p>San Antonio is the third city nationwide to be designated as a "Dementia Friendly City." UT Health San Antonio's Glenn Biggs Institute  for Alzheimer’s and Neurodegenerative Diseases works to stem the tide of Alzheimer’s and other dementias with the latest evidence-based care, research, and education.</p>
      </div>
    </a>
  </div>
</section>
{% include "@components/footer-prototypes/LSOM-alamo.twig" %}